﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.DeliveryControlViewModel

@{
    ViewBag.Title = "Controle de Entrega";
    ViewBag.ResponsiveLayout = true;
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/skin/deliveryControl-css")

@section Scripts {
    
}

<div class="delivery-control-page">    
    <!-- messages -->
    @if (TempData[TempDataNames.SuccessMessage] != null)
    {
        <div class="alert-success text-center">@TempData[TempDataNames.SuccessMessage]</div>
    }
    @if (TempData[TempDataNames.ErrorMessage] != null)
    {
        <div class="alert-error text-center">@TempData[TempDataNames.ErrorMessage]</div>
    }
    <!-- /messages-->
    <p class="title">Selecione uma opção.</p>
    <div class="menu-delivery-control">
        <!-- saída para entrega -->
        <div class="btn-container">
            <div class="btn-image">
                <a href="@Url.Action("Pending")">
                    <div>
                        <img src="~/Content/images/delivery-truck-speeding-128.png" alt="Saída para Entrega" />
                        Saída para Entrega
                    </div>
                </a>
            </div>
        </div>
        <!-- /saída para entrega -->
        <!-- pedido entregue -->
        <div class="btn-container">
            <div class="btn-image">
                <a href="@Url.Action("Completion")">
                    <div>
                        <img src="~/Content/images/check-square-128.png" alt="Pedido Entregue" />
                        Pedido Entregue
                    </div>
                </a>
            </div>
        </div>
        <!-- pedido entregue/-->
    </div>  
</div>
  