﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.DeliveryControlPendingViewModel

@{
    ViewBag.Title = "Controle de Pedido - Saída para Entrega";
    ViewBag.ResponsiveLayout = true;
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/skin/deliveryControl-css")

@section Scripts {
    <script type="text/javascript" src="~/Scripts/View/DeliveryControl/DeliveryControl-Pending.js"></script>

    <script>
        (function (view) {

            view.registerConfig({
                backUrl: '@HttpUtility.JavaScriptStringEncode(Url.Action("Index"))'
            });

        })(deliveryControl.view);
    </script>
}

<div class="delivery-control-page">

    @if (Model.Orders.Any())
    {
        <p class="title">Clique ou toque sobre os pedidos para selecioná-los para entrega.</p>
    }
    else
    {
        <p class="title text-muted">Não há novos pedidos para serem entregues.</p>
    }
    @using (Html.BeginForm("Pending", "DeliveryControl"))
    {
        for (int i = 0; i < Model.Orders.Count; i++)
        {
            <div class="card-column">
                <div class="card" data-order>
                    <div class="card-text">
                        <p><b>Pedido @Model.Orders[i].IdOrder</b></p>
                        <p><b>@Model.Orders[i].RestaurantName</b></p>
                        <p>@Model.Orders[i].DeliveryAddress</p>
                        <p>
                            <b>Total: @String.Format("{0:N}", Model.Orders[i].Total)</b>
                            &nbsp;
                            <span class="text-muted">(@Model.Orders[i].PaymentType)</span>
                        </p>
                    </div>
                    <div class="card-icons">
                        <img src="~/Content/images/check-circle-green-32.png" alt="Marcado" style="display:none;" data-icon-checked />
                        <img src="~/Content/images/check-circle-disabled-32.png" alt="Desmarcado" style="display:none;" data-icon-unchecked />
                    </div>
                    <!-- inputs -->
                    @Html.HiddenFor(m => m.Orders[i].IdOrder)
                    @Html.HiddenFor(m => m.Orders[i].Selected, new { @data_selected = "" })
                    <!-- /inputs -->
                </div>
            </div>
        }    
        <!-- footer -->
        <div class="button-container">
            @if (Model.Orders.Any())
            {
                <div class="button-column">
                    <button type="button" class="btn-secondary" data-cancel>Voltar</button>
                </div>
                <div class="button-column">
                    <button type="button" class="btn-primary" data-submit-form>Saída para Entrega</button>
                </div>
            }
            else
            {
                <div class="button-column expand">
                    <button type="button" class="btn-secondary" data-cancel>Voltar</button>
                </div>
            }
        </div>
        <!-- /footer -->
    }
    
    <!-- modal no order selected -->
    <div data-modal-select-order class="modal">
        <div class="modal-content">
            <span class="close" data-close>&times;</span>
            <div class="modal-title" style="text-align:center">Aviso</div>
            <div class="modal-text" style="text-align:center">Selecione pelo menos um pedido.</div>
            <div class="modal-footer" style="text-align:center">
                <button class="btn-secondary" data-close>Fechar</button>
            </div>
        </div>
    </div>
    <!-- /modal no order selected -->

</div>


