﻿@model IEnumerable<Yum.Delivery.Model.RestaurantDomain.RestaurantDeliveryTime>

<script type="text/javascript">
    var timeEntryImage = "";
    $(document).ready(function () {
        $(".hiddenLabel").hide();
        $(".timeentry-field").prop('disabled', true);
    });
</script>

<div>
    <div class="week-day-slider">
        <table style="margin-top: 10px">
            @{
                var dias = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
                var sliderCountIndex = 0;
            }
            @for (int index = 0; index < 7; index++)
            {

                <tbody id="abertura" data-weekday="@(index)">

                    @if (Model == null)
                    {
                        <tr>
                            <td width="140">
                                <input type="checkbox" style="margin-top: 3px" disabled="disabled" class="week-day" name="ListSalesPromotionAvaiableTime[@index].WeekDay" value="@index" />
                                <span class="dayLabel" style="float:left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
                            </td>
                            <td width="450" style="padding-bottom: 10px">
                                @{
                                    string idStart = "RestaurantOpenTimeList_StartTime_" + @sliderCountIndex;
                                    string idEnd = "RestaurantOpenTimeList_EndTime_" + @sliderCountIndex;
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                            </td>
                        </tr>
                        sliderCountIndex++;
                    }
                    else
                    {
                        var listaTime = Model.Where(m => m.DayOfWeek == index);

                        if (listaTime.Count() == 0)
                        {
                            <tr>
                                <td width="140">
                                    <input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndex].WeekDay" value="@index" />
                                    <span class="dayLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
                                </td>
                                <td width="450" style="padding-bottom: 10px">
                                    @{
                                        string idStart = "RestaurantOpenTimeList_StartTime_" + @sliderCountIndex;
                                        string idEnd = "RestaurantOpenTimeList_EndTime_" + @sliderCountIndex;
                                    }
                                    <div class="inline-timeentry inline-timeentry-start">
                                        <input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                        @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
                                    </div>
                                    <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                        <input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                        @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
                                    </div>
                                    <span class="clearFix">&nbsp;</span>
                                </td>
                            </tr>
                            sliderCountIndex++;
                        }
                        else
                        {
                            for (int j = 0; j < listaTime.Count(); j++)
                            {
                                <tr>
                                    <td width="140">
                                        @if (j == 0)
                                        {
                                            <input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndex].WeekDay" value="@index" @(listaTime.ElementAt(j).DayOfWeek.Equals((short)index) ? "checked" : "") />
                                            <span class="dayLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
                                        }
                                        else
                                        {
                                            <input disabled="disabled" style="margin-top: 3px; display: none;" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndex].WeekDay" value="@index" @(listaTime.ElementAt(j).DayOfWeek.Equals((short)index) ? "checked" : "") />
                                            <span class="hiddenLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
                                        }
                                    </td>
                                    <td width="450" style="padding-bottom: 10px">
                                        @{
                                            string idStart = "RestaurantOpenTimeList_StartTime_" + @sliderCountIndex;
                                            string idEnd = "RestaurantOpenTimeList_EndTime_" + @sliderCountIndex;
                                            string startTime = listaTime.ElementAt(j).StartTime.ToString("hh':'mm");
                                            string endTime = listaTime.ElementAt(j).EndTime.ToString("hh':'mm");
                                        }
                                        <div class="inline-timeentry inline-timeentry-start">
                                            <input class="timeentry-start timeentry-field" id="@idStart" value="@startTime" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                            @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].StartTime", startTime, new { @class = "minValue" })
                                        </div>
                                        <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                            <input class="timeentry-end timeentry-field" id="@idEnd" value="@endTime" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                            @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].EndTime", endTime, new { @class = "maxValue" })
                                        </div>
                                        <span class="clearFix">&nbsp;</span>
                                    </td>
                                </tr>
                                            sliderCountIndex++;
                            }
                        }
                    }
                </tbody>
            }
        </table>
    </div>
</div>
