﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MOIPAuthorizationEmailViewModel

<script type="text/javascript">
    
    $("#MOIPCredentialsForm").on("submit", function (e) {
        e.preventDefault();
        if (checkEmailFields()) {
            var email = {
                IdRestaurant: $("#IdRestaurant").val(),
                EmailTo: $("#MailTo").val()
            }
            
            $.ajax({
                url: $("#applicationPath").val() + '/Restaurant/SendMOIPAuthorizationEMail',
                type: 'POST',
                async: true,
                data: JSON.stringify(email),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    
                },
                complete: function () {
                    
                },
                error: function (result) {
                    showMessage(result);
                },
                success: function (result) {
                    showMessage(result);
                    $(modalWindow).remove();
                }
            });

        } else {
            showMessage("E-Mail inválido", "ATENÇÃO", "warning");
        }
    });

    $.validator.classRuleSettings.emailRequired = { emailRequired: true }
    jQuery.validator.unobtrusive.adapters.add("emailRequired", [], function (options) {
        options.rules["emailRequired"] = "#" + options.element.id;
        options.messages["emailRequired"] = "Preenchimento Obrigatório";
    });

    $.validator.addMethod("emailRequired", function (value, element, params) {
        return checkEmailFields();
    }, "Preenchimento Obrigatório");

    function checkEmailFields() {
        var IdRestaurant = $("#IdRestaurant").val();
        var MailTo = $("#MailTo").val();

        return IdRestaurant.trim() != "" && MailTo.trim() != "" && validateEmail(MailTo);
    }

    function validateEmail(email) {
        var re = /^[_a-z0-9-A-Z-]+(\.[_a-z0-9-A-Z-]+)*@@[a-z0-9-A-Z-]+(\.[a-z0-9-A-Z-]+)*(\.[a-z]{2,4})$/;
        return re.test(email);
    }
</script>

@Styles.Render("~/Content/skin/restaurantIndex-css")

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("id", "MOIPCredentialsForm");
}

@using (Html.BeginForm("SendMOIPAuthorizationEmail", "Restaurant", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li>
                @Html.HiddenFor(m => m.IdRestaurant)
            </li>
            <li>
                <label class="field-title">
                    E-Mail
                </label>

                @Html.TextBox("MailTo", "", new { @id = "MailTo", @class = "emailRequired" })

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="Enviar" />
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}