﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MOIPCredentialsViewModel

<script type="text/javascript">
    var timeEntryImage = "";
    $(document).ready(function () {
        //$("#IdRestaurant").addClass("moipDataRequired");
        //$("#BaseAddress").addClass("moipDataRequired");
        //$("#Token").addClass("moipDataRequired");
        //$("#OAuthToken").addClass("moipDataRequired");
    });

    $("#MOIPCredentialsForm").on("submit", function (e) {
        e.preventDefault();
        if (checkFields()) {
            var moipCredentials = {
                IdRestaurant: $("#IdRestaurant").val(),
                BaseAddress: $("#BaseAddress").val(),
                Token: $("#Token").val(),
                MOIPPublicKey: $("#MOIPPublicKey").val(),
                MOIPKey: $("#MOIPKey").val(),
                OAuthToken: $("#OAuthToken").val()
            }
            
            $.ajax({
                url: $("#applicationPath").val() + '/Restaurant/InsertOrUpdateMOIPCredentials',
                type: 'POST',
                async: true,
                data: JSON.stringify(moipCredentials),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    
                },
                complete: function () {
                    
                },
                error: function (result) {
                    showMessage(result);
                },
                success: function (result) {
                    showMessage(result);
                    $(modalWindow).remove();
                }
            });

        } else {
            showMessage("Deve ser preenchida a Chave Pública e o EndPoint", "ATENÇÃO", "warning");
        }
    });

    $.validator.classRuleSettings.moipDataRequired = { moipDataRequired: true }
    jQuery.validator.unobtrusive.adapters.add("moipDataRequired", [], function (options) {
        options.rules["moipDataRequired"] = "#" + options.element.id;
        options.messages["moipDataRequired"] = "Preenchimento Obrigatório";
    });

    $.validator.addMethod("moipDataRequired", function (value, element, params) {
        return checkFields();
    }, "Preenchimento Obrigatório");

    function checkFields() {
        var IdRestaurant = $("#IdRestaurant").val();
        var BaseAddress = $("#BaseAddress").val();
        var Token = $("#Token").val();
        var MOIPPublicKey = $("#MOIPPublicKey").val();
        var MOIPKey = $("#MOIPKey").val();
        var OAuthToken = $("#OAuthToken").val();

        return IdRestaurant.trim() != "" &&
            BaseAddress.trim() != "" &&
            MOIPPublicKey.trim() != "";
    }

    function sendEmail() {
        if (checkFields()) {
            var dialogTitle = "E-Mail Autorização MOIP";
            var modalWidth = 420;
            $.get($("#applicationPath").val() + '/Restaurant/MOIPEMail/' + @Model.IdRestaurant, function (result) {
                $('.table-long').before($('<div>').addClass('emailMOIP').html(result));
                var $dialogWindow = $('.emailMOIP');
                modalWindow = $dialogWindow;
                $dialogWindow.attr("title", dialogTitle);
                $dialogWindow.dialog({
                    width: modalWidth,
                    close: function () {
                        $(this).remove();
                    }
                });
            });
        }
        else {
            showMessage("Deve ser preenchida a Chave Pública e o EndPoint", "ATENÇÃO", "warning");
        }
    }

</script>

@Styles.Render("~/Content/skin/restaurantIndex-css")

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("id", "MOIPCredentialsForm");
}

@using (Html.BeginForm("InsertOrUpdateMOIPCredentials", "Restaurant", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdRestaurant)
                </label>

                @Html.DisplayFor(m => Model.RestaurantName)
                @Html.HiddenFor(m => m.IdRestaurant)
                @Html.ValidationMessageFor(model => model.IdRestaurant)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.BaseAddress)
                </label>

                @Html.EditorFor(m => m.BaseAddress)
                @Html.ValidationMessageFor(model => model.BaseAddress)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Token)
                </label>

                @Html.EditorFor(m => m.Token)
                @Html.ValidationMessageFor(model => model.Token)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MOIPPublicKey)
                </label>

                @Html.TextAreaFor(m => m.MOIPPublicKey, new { @style = "height: 100px", @class = "moipDataRequired" })
                @Html.ValidationMessageFor(model => model.MOIPPublicKey)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MOIPKey)
                </label>

                @Html.TextAreaFor(m => m.MOIPKey, new { @style = "height: 100px", @class = "moipDataRequired" })
                @Html.ValidationMessageFor(model => model.MOIPKey)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.AuthorizationDate)
                </label>
            
                @Html.DisplayFor(m => m.AuthorizationDate)
            
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.AuthorizationCode)
                </label>

                @Html.DisplayFor(m => m.AuthorizationCode)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.OAuthToken)
                </label>

                @Html.DisplayFor(m => m.OAuthToken)
                @Html.ValidationMessageFor(model => model.OAuthToken)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.OAuthMOIPAccountId)
                </label>

                @Html.DisplayFor(m => m.OAuthMOIPAccountId)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.OAuthRefreshToken)
                </label>

                @Html.DisplayFor(m => m.OAuthRefreshToken)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <input style="padding: 2px 10px 2px 10px" type="button" value="Enviar E-Mail" onclick="sendEmail()"/>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}