﻿@model IEnumerable<Yum.Delivery.Model.RestaurantDomain.RestaurantPaymentType>

@{
    var paymentTypeList = new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().PaymentTypes;
}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("id", "RestaurantPaymentTypeForm");

    var disabled = string.Empty;

    if (!(User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantOperational)))
    {
        disabled = "disabled";
    }

    var count = 0;
}

@using (Html.BeginForm("UpdateRestaurantPaymentType", "Restaurant", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    <fieldset>
        <h3 style="border-bottom:1px solid #d7d9d9; color: #333; font-weight: bold;">
            Loja @ViewBag.RestaurantName
            @*Pizza Hut - Beira Mar*@
        </h3>
        <div id="tabs-nohdr">
            <ul>
                <li><a href="#delivery">Delivery</a></li>
                <li><a href="#togo">Retirada</a></li>
            </ul>
            <div id="delivery">
                <p style="width: 4%;float:left;">&nbsp;</p>
                <p style="width:58%; color: #333; font-weight: bold;float:left">
                    Forma de Pagamento
                </p>
                <p style="width:30%; color: #333; font-weight: bold;float:left">
                    Código Integração
                </p>
                <ol style="width: 100%; display: inline-block; max-height:450px;overflow-y:scroll;">
                    @{
                        count = 0;
                    }
                    @foreach (var item in Model)
                    {
                        @Html.Hidden("model[" + count + "].IdRestaurant", item.IdRestaurant)
                        @Html.Hidden("model[" + count + "].IdRestaurantPaymentType", item.IdRestaurantPaymentType)
                        @Html.Hidden("model[" + count + "].IdPaymentType", item.IdPaymentType)
                        @Html.Hidden("model[" + count + "].Created", item.Created)
                        <li style="margin-bottom:1px;">
                            <span style="width:4%;display:inline-block">
                                <input type="checkbox" name="model[@count].Delivery" value="true" @(item.Delivery ? "checked" : "") @disabled />
                            </span>
                            <span style="width:58%;display:inline-block">
                                @paymentTypeList.Where(p => p.Key == item.IdPaymentType).FirstOrDefault().Value
                            </span>
                            <span style="width:30%;display:inline-block">
                                <input type="text" name="model[@count].IntegrationCode" value="@item.IntegrationCode" class="pt-integration-code" data-idrestaurantpaymenttype="@item.IdRestaurantPaymentType" style="width:90%;" @disabled />
                            </span>
                        </li>

                        count++;
                    }
                </ol>
            </div>
            <div id="togo">
                <p style="width: 4%;float:left;">&nbsp;</p>
                <p style="width:58%; color: #333; font-weight: bold;float:left">
                    Forma de Pagamento
                </p>
                <p style="width:30%; color: #333; font-weight: bold;float:left">
                    Código Integração
                </p>
                <ol style="width: 100%; display: inline-block; max-height:450px;overflow-y:scroll;">
                    @{
                        count = 0;
                    }
                    @foreach (var item in Model)
                    {
                        <li style="margin-bottom:1px;">
                            <span style="width:4%;display:inline-block">
                                <input type="checkbox" name="model[@count].ToGo" value="@(item.ToGo ? "true" : "false")" @(item.ToGo ? "checked" : "") @disabled />
                            </span>
                            <span style="width:58%;display:inline-block">
                                @paymentTypeList.Where(p => p.Key == item.IdPaymentType).FirstOrDefault().Value
                            </span>
                            <span style="width:30%;display:inline-block">
                                <input type="text" name="model[@count].IntegrationCode" value="@item.IntegrationCode" class="pt-integration-code" data-idrestaurantpaymenttype="@item.IdRestaurantPaymentType" style="width:90%;" @disabled />
                            </span>
                        </li>

                        count++;
                    }
                </ol>
            </div>

            @if (User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantOperational))
            {
                @Html.ValidationMessage("Pagamento", null, new { @class = "pagamentoValidate", @style = "display:none; margin-top:5px;" })
                <ol>
                    <li>
                        <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                        <span class="clearFix">&nbsp;</span>
                    </li>
                </ol>
            }

        </div>
    </fieldset>
                        }

<script type="text/javascript">

@if (ViewBag.AcceptToGo) {
    @:var acceptToGo = true;
} else {
    @:var acceptToGo = false;
}
    $('document').ready(function () {
        $("#tabs-nohdr").tabs();
        var index = $('#tabs-nohdr a[href="#delivery"]').parent().index();
        $("#tabs-nohdr").tabs("option", "active", index);
    });

    $('input[type="checkbox"]').change(function () {
        if ($(this).is(':checked')) {
            $(this).val('true');
        }
        else {
            $(this).val('false');
        }
    });

    $('.pt-integration-code').keyup(function (e, val) {
        var data = $(this).data('idrestaurantpaymenttype');
        var value = $(this).val();

        if (data != null && data != "") {
            $('input[data-idrestaurantpaymenttype="' + data + '"]').each(function () {
                $(this).val(value);
            });
        }
    });

    $("#RestaurantPaymentTypeForm").on("submit", function (e) {
        e.preventDefault();

        var countPGdelivery = 0;
        var countPGtogo = 0;

        $("#delivery").each(function (key, value) {
            $(value).find("input:checked").each(function (key1, value1) {
                countPGdelivery++;
            })
        })

        $("#togo").each(function (key, value) {
            $(value).find("input:checked").each(function (key1, value1) {
                countPGtogo++;
            })
        })

        if (countPGdelivery === 0 || (countPGtogo === 0 && acceptToGo)) {
            if (countPGdelivery === 0) {
                $(".pagamentoValidate").removeClass("field-validation-valid").addClass("field-validation-error").html("Forma de Pagamento para Delivery é obrigatorio, selecione uma forma").show();
            }

            if (countPGtogo === 0) {
                $(".pagamentoValidate").removeClass("field-validation-valid").addClass("field-validation-error").html("Forma de Pagamento para Retirada é obrigatorio, selecione uma forma").show();
            }

            return false;
        }

        var model = $(this).serialize();

        $.ajax({
            url: $("#applicationPath").val() + '/Restaurant/UpdateRestaurantPaymentType',
            type: 'POST',
            async: true,
            data: model,
            beforeSend: function () {

            },
            complete: function () {

            },
            error: function (result) {
                showMessage(result);
            },
            success: function (result) {
                showMessage(result);
                $(modalWindow).remove();
            }
        });
    });
</script>

<style>
    .ui-tabs .ui-tabs-panel {
        padding: 0px;
    }
</style>