﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RefreshIntegrationMenuCacheViewModel

@Styles.Render("~/Content/skin/restaurantIndex-css")

<script type="text/javascript">

    $("#RefreshIntegrationMenuCacheForm").on("submit", function (e) {
        e.preventDefault();

        var integrationMenuCacheViewModel = {
                IdRestaurant: $("#IdRestaurant").val(),
                RestaurantIntegrationCode: $("#RestaurantIntegrationCode").val(),
        }

        $.ajax({
            url: $("#applicationPath").val() + '/Restaurant/RefreshIntegrationMenuCacheEdit',
            type: 'POST',
            async: true,
            data: JSON.stringify(integrationMenuCacheViewModel),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () {

            },
            complete: function () {

            },
            error: function (result) {
                $(".successMessage").hide();
                $(".errorMessage").show();
            },
            success: function (result) {

                $("#LastUpdateDateLabel").html(result.viewModel.LastUpdateDate);
                $("#NextUpdateDateLabel").html(result.viewModel.NextUpdateDate);


                if (result.error === true)
                {
                    $(".successMessage").hide();
                    $(".errorMessage").text("Ocorreu um erro durante a atualização.");
                    $(".errorMessage").show();
                }
                else
                {
                    $(".errorMessage").hide();
                    $(".successMessage").text("Atualização efetuada com sucesso.");
                    $(".successMessage").show();
                }
            }
        });       
    });

</script>

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("id", "RefreshIntegrationMenuCacheForm");
}

<div class="successMessage" style="display:none;"></div>

<div class="errorMessage" style="display:none;"></div>

@using (Html.BeginForm("RefreshIntegrationMenuCacheEdit", "Restaurant", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.IdRestaurant)
    @Html.HiddenFor(m => m.RestaurantIntegrationCode)
    @Html.HiddenFor(m => m.LastUpdateDate)
    @Html.HiddenFor(m => m.NextUpdateDate)

    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.LastUpdateDate)
                </label>

                <label id="LastUpdateDateLabel">
                    @Model.LastUpdateDate
                </label>

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.NextUpdateDate)
                </label>

                <label id="NextUpdateDateLabel">
                    @Model.NextUpdateDate
                </label>

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="Atualizar Cache" />
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}