﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantSearchViewModel>

@{
    ViewBag.Title = "_SearchModal";
}

@Styles.Render("~/Content/datatableHead-css")
@Scripts.Render("~/Scripts/datatables-js")

<script type="text/javascript">
    var restaurantData = [];
    var states = [];
    var cities = [];
    var neighborhoods = [];
    var restaurants = [];
    
    var restaurantsDatatable = $('#RestaurantTable').DataTable({
        data: restaurants,
        columns: [
            {
                title: "", data: "Selected", width: "5%", render: function (data, type, row) {
                    if (data) {
                        return '<a href="javascript:void(0);" id="' + row.IdRestaurant + '" data-content="{&quot;IdRestaurant&quot;:&quot;' + row.IdRestaurant + '&quot;,&quot;Name&quot;:&quot;' + row.Name + '&quot;}" class="select-restaurant close-item" style="cursor: "></a>';
                    } else {
                        return '<a href="javascript:void(0);" id="' + row.IdRestaurant + '" data-content="{&quot;IdRestaurant&quot;:&quot;' + row.IdRestaurant + '&quot;,&quot;Name&quot;:&quot;' + row.Name + '&quot;}" class="select-restaurant add-item" style="cursor: "></a>';
                    }
            }},
            { title: "Código", data: "IdRestaurant", width: "5%" },
            { title: "Nome", data: "Name", width: "30%" },
            { title: "Estado", data: "StateCode", width: "10%" },
            { title: "Cidade", data: "City", width: "20%" },
            { title: "Bairro", data: "Neighborhood", width: "25%" },
            { title: "Inativo?", data: "Disabled", width: "5%" }
        ],
        "searching": false,
        "paging": true,
        "ordering": true,
        "info": false,
        "order": [],
        "pagingType": "numbers",
        "lengthChange": false,
        "displayLength": 20,
        "language": {
            "emptyTable": "Nenhum Resultado"
        },
        "headerCallback": function (thead, data, start, end, display) {
            $(thead).find('th').css({ "padding-left": "10px" });
            $(thead).find('th').css("color", "#666");
        }
    });

    @foreach(var item in Model)
    {
        string disabled = item.Disabled ? "Sim" : "Não";
    @:restaurantData.push({Selected: false, IdRestaurant: "@item.IdRestaurant",Name: "@Html.Raw(item.Name)",StateCode: "@item.StateCode",City: "@Html.Raw(item.City)",Neighborhood: "@Html.Raw(item.Neighborhood)",Disabled: "@Html.Raw(disabled)"});
    }

    @foreach(var item in Model.Select(r => r.StateCode).Distinct())
    {
    @:states.push({value: "@item", text: "@item"});
    }
    states.sort();

    @foreach(var item in Model.Select(r => new { StateCode = r.StateCode, City = r.City }).Distinct())
    {
    @:cities.push({ state: "@item.StateCode", value: "@Html.Raw(item.City)", text: "@Html.Raw(item.City)" });
    }

    @foreach(var item in Model.Select(r => new { City = r.City, Neighborhood = r.Neighborhood }).Distinct())
    {
    @:neighborhoods.push({ city: "@Html.Raw(item.City)", value: "@Html.Raw(item.Neighborhood)", text: "@Html.Raw(item.Neighborhood)" });
    }

    $(document).ready(function () {
        
        states.sort(function (itemA, itemB) {
            if (itemA.value < itemB.value) {
                return -1;
            }

            if (itemA.value > itemB.value) {
                return 1;
            }

            return 0;
        });

        $(states).each(function () {
            $('#StateCode').append($('<option>', {
                value: this.value,
                text: this.text
            }));
        });

        $('#StateCode').on("change", function (e) {
            e.preventDefault();

            $('#City').find("option").remove();
            $('#City').append($('<option>', {
                value: "",
                text: ""
            }));

            var citiesFilter = cities.filter(function (restaurant) {
                return restaurant.state == $('#StateCode').val()
            });

            citiesFilter.sort(function (itemA, itemB) {
                if (itemA.value < itemB.value) {
                    return -1;
                }

                if (itemA.value > itemB.value) {
                    return 1;
                }

                return 0;
            });

            $(citiesFilter).each(function () {
                $('#City').append($('<option>', {
                    value: this.value,
                    text: this.text
                }));
            });
            $('#City').trigger("change");
        });

        $('#City').on("change", function (e) {
            e.preventDefault();

            $('#Neighborhood').find("option").remove();
            $('#Neighborhood').append($('<option>', {
                value: "",
                text: ""
            }));

            var neighborhoodFilter = neighborhoods.filter(function (neighborhood) {
                return neighborhood.city == $('#City').val()
            });

            neighborhoodFilter.sort(function (itemA, itemB) {
                if (itemA.value < itemB.value) {
                    return -1;
                }

                if (itemA.value > itemB.value) {
                    return 1;
                }

                return 0;
            });

            $(neighborhoodFilter).each(function () {
                $('#Neighborhood').append($('<option>', {
                    value: this.value,
                    text: this.text
                }));
            });
        });

        $("#RestaurantFormSearchId").on("submit", function (e) {
            e.preventDefault();
            var filter = getFilter();

            restaurants = restaurantData;
            if (filter.IdRestaurant != null) {
                restaurants = restaurantData.filter(function (restaurant) {
                    return restaurant.IdRestaurant == filter.IdRestaurant;
                });
            }

            if (filter.StateCode != null) {
                restaurants = restaurants.filter(function (restaurant) {
                    return restaurant.StateCode == filter.StateCode;
                });
            }

            if (filter.City != null) {
                restaurants = restaurants.filter(function (restaurant) {
                    return restaurant.City == filter.City;
                });
            }

            if (filter.Neighborhood != null) {
                restaurants = restaurants.filter(function (restaurant) {
                    return restaurant.Neighborhood == filter.Neighborhood;
                });
            }

            if (filter.Status != null) {
                restaurants = restaurants.filter(function (restaurant) {
                    return restaurant.Disabled == filter.Status;
                });
            }

            if (filter.Name != null) {
                restaurants = restaurants.filter(function (restaurant) {
                    return restaurant.Name.toLowerCase().indexOf(filter.Name.toLowerCase()) > -1;
                });
            }
            
            restaurantsDatatable.clear().rows.add(restaurants).draw();
        });

        $('#RestaurantTable').on('click', '.select-restaurant', function (e) {
            e.preventDefault();
            if ($(this).is('.add-item')) {
                selectedItens.push({ id: this.id, data: $(this).data('content') });
            } else {
                var id;
                id = this.id;
                selectedItens = $.grep(selectedItens, function (item, index) {
                    return item.id == id;
                }, true);
            }
            $(this).toggleClass('add-item close-item');
        });

        $("#RestaurantTable").css("width", "965px");

    });

    function getFilter() {
        var idRestaurant = null;
        if ($("#IdRestaurant").val() != null && $("#IdRestaurant").val().trim() != "") {
            idRestaurant = $("#IdRestaurant").val();
        }

        var name = null;
        if ($("#Name").val() != null && $("#Name").val().trim() != "") {
            name = $("#Name").val();
        }

        var state = null;
        if ($("#StateCode").val() != null && $("#StateCode").val().trim() != "") {
            state = $("#StateCode").val();
        }

        var city = null;
        if ($("#City").val() != null && $("#City").val().trim() != "") {
            city = $("#City").val();
        }

        var neighborhood = null;
        if ($("#Neighborhood").val() != null && $("#Neighborhood").val().trim() != "") {
            neighborhood = $("#Neighborhood").val();
        }

        var status = null;
        if ($("#StatusEnabled").is(":checked")) {
            status = "Não";
        }
        if ($("#StatusDisabled").is(":checked")) {
            status = "Sim";
        }

        return {
            IdRestaurant: idRestaurant,
            Name: name,
            StateCode: state,
            City: city,
            Neighborhood: neighborhood,
            Status: status
        };
    }

</script>

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "RestaurantFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "Restaurant", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    <div id="linkModal"></div>
    <fieldset id="FilterModalRestaurant" class="filter">
        <h4 class="cursorPointer"><a href="#" class="open-link"></a>@Resources.ViewLabelNameStrings.Filter</h4>
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBox("IdRestaurant")
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBox("Name")
            </li>
            <li>
                <label class="field-title">
                    Estado:
                </label>
                <select id="StateCode">
                    <option value=""></option>
                </select>
            </li>
            <li>
                <label class="field-title">
                    Cidade:
                </label>
                <select id="City"></select>
            </li>
            <li>
                <label class="field-title">
                    Bairro:
                </label>
                <select id="Neighborhood"></select>
            </li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                <input id="StatusEnabled" type="radio" name="gender" value="0">Ativo
                <input id="StatusDisabled" type="radio" name="gender" value="1">Inativo
            </li>
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "RestaurantFormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}
<table id="RestaurantTable" class="table-long" role="grid" style="width: 965px;"></table>