﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel>
@{
    ViewBag.Title = "_SelectList";
}

<script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Dart/ShadowFilterEfect.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadCities();
        LoadNeighborhoods();
        $('#RestaurantFormSearchId').on('change', '#Filter_SelectedStateId', function (event) {
            LoadCities(event);
            $('#Filter_StateCode').val($(this).children('option:selected').text()).valid();
        });

        $('#RestaurantFormSearchId').on('change', '#Filter_SelectedCityId', function (event) {
            LoadNeighborhoods(event);
            $('#Filter_City').val($(this).children('option:selected').text()).valid();
        });

        $('#RestaurantFormSearchId').on('change', '#Filter_SelectedNeighborhoodId', function (event) {
            $('#Filter_Neighborhood').val($(this).children('option:selected').text()).valid();
        });

        $('.table-long').on('click', '.deliveryArea, .menu, .deliveryTime, .paymentType', function (event) {
            event.preventDefault();
            $.get($(this).attr('href'), function (result) {
                $('.table-long').before($('<div>').addClass('temp').html(result));
                $('.temp').dialog({
                    width: 550,
                    close: function () {
                        $(this).remove();
                    }
                });
            });
        });

        $("#FilterModalRestaurant h4.cursorPointer").click(function (e) {
            e.preventDefault();
            $('#FilterModalRestaurant ol').slideToggle('slow');
            var str = $("#FilterModalRestaurant h4 a").attr('class');
            $('#FilterModalRestaurant h4 a').toggleClass("close-link");
            $('#FilterModalRestaurant h4 a').toggleClass("open-link");
        });

    });

    function LoadCities(event, callback) {
        $('#Filter_City').val('');
        $('#Filter_SelectedCityId').empty();
        if (!$('#Filter_SelectedStateId').val()) {
            return;
        }
        $('#Filter_SelectedCityId').siblings('.loading').removeClass('hidden');
        $.get('@Url.Action("GetCities","Restaurant")', { idState: $('#Filter_SelectedStateId').val() }, function (result) {
            $('#Filter_SelectedCityId').append($('<option>').val('').text(''));
            $.each(result, function (key, value) {
                $('#Filter_SelectedCityId').append($('<option>').val(value.IdCity).text(value.Name));
            });
            $('#Filter_SelectedCityId').siblings('.loading').addClass('hidden');
            if (callback) {
                callback();
                LoadNeighborhoods();
            }
        });
    }

    function LoadNeighborhoods(event, callback) {
        $('#Filter_Neighborhood').val('');
        $('#Filter_SelectedNeighborhoodId').empty();
        if (!$('#Filter_SelectedCityId').val()) {
            return;
        }
        $('#Filter_SelectedNeighborhoodId').siblings('.loading').removeClass('hidden');
        $.get('@Url.Action("GetNeighborhoods","Restaurant")', { idCity: $('#Filter_SelectedCityId').val() }, function (result) {
            $('#Filter_SelectedNeighborhoodId').append($('<option>').val('').text(''));
            $.each(result, function (key, value) {
                $('#Filter_SelectedNeighborhoodId').append($('<option>').val(value.IdNeighborhood).text(value.Name));
            });
            $('#Filter_SelectedNeighborhoodId').siblings('.loading').addClass('hidden');
            if (callback) {
                callback();
            }
        });
    }

    $("#RestaurantFormSearchId").on("submit", function (e) {
        e.preventDefault();
        var form = $("#RestaurantFormSearchId").serializeArray();
        $.post($(this).attr('action'), form, function (result) {
            $('#divDetails').html(result);
            if (selectedItens.length) {
                $('#RestaurantTable tbody a').each(function (key, value) {
                    var id = value.id;
                    if ($.grep(selectedItens, function (item, index) { return item.id == id; }).length) {
                        $(value).toggleClass('add-item close-item');
                    }
                });
            }
        });
    });

    $("#paginacao span a").on("click", function (e) {
        e.preventDefault();
        var form = $("#RestaurantFormSearchId").serializeArray();
        $.post($(this).attr('href'), form, function (result) {
            $('#divDetails').html(result);
            if (selectedItens.length) {
                $('#RestaurantTable tbody a').each(function (key, value) {
                    var id = value.id;
                    if ($.grep(selectedItens, function (item, index) { return item.id == id; }).length) {
                        $(value).toggleClass('add-item close-item');
                    }
                });
            }
        });
    });

    $('#RestaurantTable').on('click', 'tbody a', function (e) {
        e.preventDefault();

        if ($(this).is('.add-item')) {
            selectedItens.push({ id: this.id, data: $(this).data('content') });
        } else {
            var id;
            id = this.id;
            selectedItens = $.grep(selectedItens, function (item, index) {
                return item.id == id;
            }, true);
        }
        $(this).toggleClass('add-item close-item');
    });

</script>

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "RestaurantFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "Restaurant", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    RestaurantFilter Filter = null;
    if (ViewBag.FilterRestaurant != null)
    {
        Filter = (RestaurantFilter)ViewBag.FilterRestaurant;
    }
    <div id="linkModal"></div>
    <fieldset id="FilterModalRestaurant" class="filter">
        <h4 class="cursorPointer"><a href="#" class="open-link"></a>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBoxFor(filter => Filter.IdRestaurantList[0])
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBoxFor(filter => Filter.Name)
            </li>
            <li>
                <label class="field-title">
                    Estado:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedStateId, new RestaurantFilter().States, "")
                @Html.HiddenFor(filter => Filter.StateCode)
            </li>
            <li>
                <label class="field-title">
                    Cidade:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedCityId, new List<SelectListItem>())
                @Html.HiddenFor(filter => Filter.City)
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
            </li>
            <li>
                <label class="field-title">
                    Bairro:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedNeighborhoodId, new List<SelectListItem>())
                @Html.HiddenFor(filter => Filter.Neighborhood)
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                @if (Filter.SelectedCityId != null)
                {
                    <script type="text/javascript">
                        $(document).ready(function () {
                            LoadCities(null, function () {
                                $('#Filter_SelectedCityId').val('@Filter.SelectedCityId');
                                @if (Filter.SelectedNeighborhoodId != null)
                                {
                                    @:LoadNeighborhoods(null, function () { $('#Filter_SelectedNeighborhoodId').val('@Filter.SelectedNeighborhoodId'); });
                                                                                                                                            }
                            });
                        });
                    </script>
                }
            </li>
            <li>
                @*<label class="field-title">
                            @Html.Label("Tecnologia Integração")
                        </label>
                        @Html.DropDownListFor(filter => Filter.IntegrationTechnologies, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().IntegrationTechnologies, "")
                        <span class="clearFix">&nbsp;</span>
                    </li>*@
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Status, "Ativo") Ativo
                @Html.RadioButtonFor(filter => Filter.Status, "Inativo") Inativo
            </li>
            <li>
                @{
    Html.RenderPartial("FilterButtonsUserControl", "RestaurantFormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}
<table id="RestaurantTable" class="table-long">
    <thead>
        <tr>
            <th>
            </th>
            <th>
                <a href="" rel="idrestaurant" class="orderByLink">
                    Código
                </a>
            </th>
            <th>
                <a href="" rel="name" class="orderByLink">
                    Nome
                </a>
            </th>
            <th>
                <a href="" rel="statecode" class="orderByLink">
                    Estado
                </a>
            </th>
            <th>
                <a href="" rel="city" class="orderByLink">
                    Cidade
                </a>
            </th>
            <th>
                <a href="" rel="neighborhood" class="orderByLink">
                    Bairro
                </a>
            </th>
            <th>
                <a href="" rel="disabled" class="orderByLink">
                    Inativo?
                </a>
            </th>
            <th></th>
            <th></th>
            @*<th></th>
                <th></th>*@
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="javascript:void(0);" id="@item.IdRestaurant" class="add-item" data-content='{ "IdRestaurant":"@item.IdRestaurant", "Name":"@item.Name" }'></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRestaurant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.StateCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Neighborhood)
                    </td>
                    <td>
                        @if (item.Disabled)
                        {
                            @String.Format("Sim")
                        }
                        else
                        {
                            @String.Format("Não")
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}