﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel

@{
    ViewBag.Title = "Criação";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/custom-combobox/custom-combobox.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/custom-combobox/custom-combobox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/View/Restaurant/restaurant.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/View/Restaurant/restaurant-create.js")"></script>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "RestaurantForm");
    htmlAttributes.Add("class", "middle-forms");
    htmlAttributes.Add("enctype", "multipart/form-data");

}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@using (Html.BeginForm("Create", "Restaurant", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    @Html.ValidationSummary(true)
    @Html.Hidden("actionUniqueRestaurant", @Url.Action("IsRestaurantUniqueName"))
    @Html.Hidden("actionGetCities", @Url.Action("GetCities"))
    @Html.Hidden("actionGetNeighborhoods", @Url.Action("GetNeighborhoods"))
    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdCompany)
                </label>
                @Html.DropDownListFor(model => model.IdCompany, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().Companies)
                @Html.ValidationMessageFor(model => model.IdCompany)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.UniqueName)
                </label>
                @Html.EditorFor(model => model.UniqueName)
                @Html.ValidationMessageFor(model => model.UniqueName)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.ZipCode)
                </label>
                @Html.EditorFor(model => model.Address.ZipCode)
                <a id="FindAddress" href="@Url.Action("GetAddressData")">Buscar</a>
                @Html.ValidationMessageFor(model => model.Address.ZipCode)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Address)
                </label>
                @Html.TextBoxFor(model => model.Address.Address, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.Address.Address)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Number)
                </label>
                @Html.TextBoxFor(model => model.Address.Number, new { @style = "width:50px" })
                @Html.ValidationMessageFor(model => model.Address.Number)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Complement)
                </label>
                @Html.EditorFor(model => model.Address.Complement)
                @Html.ValidationMessageFor(model => model.Address.Complement)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Neighborhood)
                </label>
                @Html.TextBoxFor(model => model.Address.Neighborhood, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.Address.Neighborhood)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.StateCode)
                </label>
                @Html.TextBoxFor(model => model.Address.StateCode, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.Address.StateCode)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                @Html.HiddenFor(model => model.Address.IdCity)
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.City)
                </label>
                @Html.TextBoxFor(model => model.Address.City, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.Address.City)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Reference)
                </label>
                @Html.TextAreaFor(model => model.Address.Reference)
                @Html.ValidationMessageFor(model => model.Address.Reference)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdIntegrationTechnology)
                </label>
                @Html.DropDownListFor(model => model.IdIntegrationTechnology, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().IntegrationTechnologies, "")
                @Html.ValidationMessageFor(model => model.IdIntegrationTechnology)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IntegrationFallbackReceptor)
                </label>
                @Html.CheckBoxFor(model => model.IntegrationFallbackReceptor)
                @Html.ValidationMessageFor(model => model.IntegrationFallbackReceptor)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IntegrationCode)
                </label>
                @Html.TextBoxFor(model => model.IntegrationCode, new { @style = "width:120px" })
                @Html.ValidationMessageFor(model => model.IntegrationCode)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PreparationTime)
                    <label>(hh:mm)</label>
                </label>
                @Html.TextBoxFor(model => model.PreparationTime, new { @style = "width:120px", @class = "tempo" })
                @Html.ValidationMessageFor(model => model.PreparationTime)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>
                @Html.EditorFor(model => model.Disabled)
                @Html.ValidationMessageFor(model => model.Disabled)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.AcceptCPFOnNote)
                </label>
                @Html.EditorFor(model => model.AcceptCPFOnNote)
                @Html.ValidationMessageFor(model => model.AcceptCPFOnNote)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.AcceptCNPJOnNote)
                </label>
                @Html.EditorFor(model => model.AcceptCNPJOnNote)
                @Html.ValidationMessageFor(model => model.AcceptCNPJOnNote)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.AcceptToGo)
                </label>
                @Html.EditorFor(model => model.AcceptToGo)
                @Html.ValidationMessageFor(model => model.AcceptToGo)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ToGoOnlinePayOnly)
                </label>
                @Html.EditorFor(model => model.ToGoOnlinePayOnly)
                @Html.ValidationMessageFor(model => model.ToGoOnlinePayOnly)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PhotoAddress)
                </label>
                <input type="file" name="ImageFile" accept="image/*" />
                @Html.ValidationMessageFor(model => model.ImageFile)<br />
                @Html.HiddenFor(model => model.PhotoAddress)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MinimumOrderValue)
                </label>
                @Html.TextBoxFor(model => model.MinimumOrderValue, "{0:N}", new { @class = "interval-value", @style = "width:80px" })
                @Html.ValidationMessageFor(model => model.MinimumOrderValue)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MaximumOrderChange)
                </label>
                @Html.TextBoxFor(model => model.MaximumOrderChange, "{0:N}", new { @class = "interval-value", @style = "width:80px" })
                @Html.ValidationMessageFor(model => model.MaximumOrderChange)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ExternalName)
                </label>
                @Html.TextBoxFor(model => model.ExternalName)
                @Html.ValidationMessageFor(model => model.ExternalName)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ExternalLink)
                </label>
                @Html.TextBoxFor(model => model.ExternalLink)
                @Html.ValidationMessageFor(model => model.ExternalLink)
                <span class="clearFix">&nbsp;</span>
            </li>
            @if (User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantOperational))
    {
        <li>
            <label class="field-title">
                @Html.LabelFor(model => model.IntegrationCallCenterCode)
            </label>
            @Html.TextBoxFor(model => model.IntegrationCallCenterCode, new { @style = "width:140px", @maxlength = "20" })
            @Html.ValidationMessageFor(model => model.IntegrationCallCenterCode)
            <span class="clearFix">&nbsp;</span>
        </li>
}
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.TimeZoneOffset)
                </label>
                @{
            if (User.IsInRole(UserPermission.RestaurantTimeZoneEdit))
            {
                @Html.DropDownListFor(model => model.TimeZoneOffset, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().TimezonesOffsets, "")
                @Html.ValidationMessageFor(model => model.TimeZoneOffset)
    }
    else
    {
        @Html.DropDownList("offsets", new List<SelectListItem>() {
new SelectListItem() {
Text = "(-03:00) Horário de Brasília", Value = "-180", Selected = true
}
}, "", new { @disabled = "disabled" })
        @Html.Hidden("TimeZoneOffset", "-180")
        @Html.ValidationMessageFor(model => model.TimeZoneOffset)
}
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.DeliveryCloseMessage)
                </label>
                @Html.TextAreaFor(model => model.DeliveryCloseMessage)
                @Html.ValidationMessageFor(model => model.DeliveryCloseMessage)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.RestaurantOpenTimeList)
                </label>
                <div class="week-day-slider">
                    <table id="RestaurantOpenTimeListTable">
                        @{
                    var dias = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
                    var sliderCountIndex = 0;
                        }
                        @for (int index = 0; index < 7; index++)
                {
                    <tbody id="abertura" data-weekday="@(index)" class="abertura-class">
                        <tr>
                            <td width="140">
                                <span>
                                    <input type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndex].WeekDay" value="@index" />
                                    <label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
                                </span>
                            </td>
                            <td width="350" style="padding-bottom: 5px">
                                @{
                            string idStart = "RestaurantOpenTimeList_StartTime_" + @sliderCountIndex;
                            string idEnd = "RestaurantOpenTimeList_EndTime_" + @sliderCountIndex;
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                                <a class="add-link add-abertura" href="javascript:void(0);" id="sliderAction"></a>
                            </td>
                        </tr>
                    </tbody>
            sliderCountIndex++;
        }
                    </table>

                    <input type="hidden" id="sliderCountIndex" value="@sliderCountIndex" />
                    @Html.ValidationMessage("Abertura", null, new { @class = "aberturaValidate", @style = "display:none; margin-left:160px; margin-top:5px;" })
                    @Html.ValidationMessageFor(model => model.RestaurantOpenTimeList)
                    <span class="clearFix">&nbsp;</span>
                </div>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ToGoCloseMessage)
                </label>
                @Html.TextAreaFor(model => model.ToGoCloseMessage)
                @Html.ValidationMessageFor(model => model.ToGoCloseMessage)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.RestaurantTogoTimeList)
                </label>
                <div class="week-day-slider">
                    <table id="RestaurantTogoTimeListTable">
                        @{
                    var diasTogo = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
                    var sliderCountIndexTogo = 0;
                        }
                        @for (int index = 0; index < 7; index++)
                {
                    <tbody id="aberturaTogo" data-weekday="@(index)" class="abertura-class">
                        <tr>
                            <td width="140">
                                <span>
                                    <input type="checkbox" class="week-day" name="RestaurantTogoTimeList[@sliderCountIndexTogo].WeekDay" value="@index" />
                                    <label class="dayLabel">@diasTogo.ElementAt(index).ToTitleString()</label>
                                </span>
                            </td>
                            <td width="350" style="padding-bottom: 5px">
                                @{
                            string idStart = "RestaurantTogoTimeList_StartTime_" + @sliderCountIndexTogo;
                            string idEnd = "RestaurantTogoTimeList_EndTime_" + @sliderCountIndexTogo;
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantTogoTimeList[" + sliderCountIndexTogo + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantTogoTimeList[" + sliderCountIndexTogo + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                                <a class="add-link add-abertura" href="javascript:void(0);" id="sliderAction"></a>
                            </td>
                        </tr>
                    </tbody>
            sliderCountIndexTogo++;
        }
                    </table>
                    <input type="hidden" id="sliderCountIndexTogo" value="@sliderCountIndexTogo" />
                    @Html.ValidationMessage("Abertura", null, new { @class = "aberturaValidateTogo", @style = "display:none; margin-left:160px; margin-top:5px;" })
                    @Html.ValidationMessageFor(model => model.RestaurantTogoTimeList)
                    <span class="clearFix">&nbsp;</span>
                </div>
            </li>

            <li>
                <label class="field-title">
                    @Html.Label("Taxa de Entrega")
                </label>
                <div class="">
                    <table>
                        <tbody>
                            <tr id="range1">
                                <td>
                                    <span class="field-title">
                                        @Html.Label("De:")
                                    </span>
                                </td>
                                <td>
                                    <input type="checkbox" name="RestaurantDeliveryFeeRangeList[0].Selected" class="taxaSelected" data_check="0" />

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[0].ValueFrom", "0", new { @readonly = "readonly", @disabled = "disabled", @style = "width:40px", @class = "numerico entrega" }) a

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[0].ToValue", "", new { @disabled = "disabled", @style = "width:40px", @class = "numerico taxa0 entrega" })

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[0].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px", @class = "entrega interval-value" })
                                    Cód Integra: @Html.TextBox("RestaurantDeliveryFeeRangeList[0].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })

                                </td>
                            </tr>
                            <tr id="range2">
                                <td>
                                    <span class="field-title">
                                        @Html.Label("De:")
                                    </span>
                                </td>
                                <td>
                                    <input type="checkbox" name="RestaurantDeliveryFeeRangeList[1].Selected" class="taxaSelected" data_check="1" />
                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[1].ValueFrom", "", new { @readonly = "readonly", @disabled = "disabled", @style = "width:40px", @class = "numerico entrega" }) a

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[1].ToValue", "", new { @disabled = "disabled", @style = "width:40px", @class = "numerico taxa1 entrega" })

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[1].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px", @class = "entrega interval-value" })
                                    Cód Integra: @Html.TextBox("RestaurantDeliveryFeeRangeList[1].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })
                                </td>
                            </tr>
                            <tr id="range3">
                                <td>
                                    <span class="field-title">
                                        @Html.Label("Apartir de:")
                                    </span>
                                </td>
                                <td>
                                    <input type="checkbox" name="RestaurantDeliveryFeeRangeList[2].Selected" class="taxaSelected" data_check="2" />
                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[2].ValueFrom", "", new { @readonly = "readonly", @disabled = "disabled", @style = "width:40px", @class = "numerico entrega" }) a

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[2].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px; margin-left:49px", @class = "entrega interval-value" })
                                    Cód Integra: @Html.TextBox("RestaurantDeliveryFeeRangeList[2].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                @Html.ValidationMessageFor(model => model.RestaurantDeliveryFeeRangeList)
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ApplyDeliberyFeeWeb)
                </label>
                @Html.CheckBoxFor(model => model.ApplyDeliberyFeeWeb, new { @checked = true })
                @Html.ValidationMessageFor(model => model.ApplyDeliberyFeeWeb)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ApplyDeliberyFeeApp)
                </label>
                @Html.CheckBoxFor(model => model.ApplyDeliberyFeeApp, new { @checked = true })
                @Html.ValidationMessageFor(model => model.ApplyDeliberyFeeApp)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ApplyDeliberyFeeCallCenter)
                </label>
                @Html.CheckBoxFor(model => model.ApplyDeliberyFeeCallCenter, new { @checked = true })
                @Html.ValidationMessageFor(model => model.ApplyDeliberyFeeCallCenter)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IncludeOrderDeliveryFee)
                </label>
                @Html.CheckBoxFor(model => model.IncludeOrderDeliveryFee, new { @checked = true })
                @Html.ValidationMessageFor(model => model.IncludeOrderDeliveryFee)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.SeparateDeliveryFeeMessage)
                </label>
                @Html.TextAreaFor(model => model.SeparateDeliveryFeeMessage)
                <br />
                <span style="color: red;" id="alertSeparateDeliveryFeeMessage">*Utilize a tag {taxa} para apresentar o valor da taxa de entrega</span>
                @Html.ValidationMessageFor(model => model.SeparateDeliveryFeeMessage)
                <span class="clearFix">&nbsp;</span>
            </li>
            @*<li>
            <label class="field-title">
                @Html.LabelFor(model => model.PaymentTypes)
            </label><br /><br />
            @{
                var paymentGroupList = new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().PaymentGroupTypes;

                    <div id="pagamento-delivery" class="restaurant-payment-type delivery">
                        <h5 class="payment-group-title">Delivery</h5>

                        @foreach (var paymentGroup in paymentGroupList)
                        {
                            <div class="payment-group-container">
                                <h5 class="payment-group-title restaurant-payment-type-item">@paymentGroup.Key</h5>

                                @foreach (var item in paymentGroup.Value)
                                {
                                    <div>
                                        <input type="checkbox" name="PaymentTypeDeliveryList" value="@item.IdPaymentType"
                                               @( Model != null && Model.PaymentTypeDeliveryList != null && Model.PaymentTypeDeliveryList.Contains(item.IdPaymentType) ? "checked" : "")
                                               @( !(User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantOperational)) ? "disabled" : null) />
                                        @item.Name
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div id="pagamento-togo" class="restaurant-payment-type togo">
                        <h5 class="payment-group-title">Retirada</h5>

                        @foreach (var paymentGroup in paymentGroupList)
                        {
                            <div class="payment-group-container">
                                <h5 class="payment-group-title restaurant-payment-type-item">@paymentGroup.Key</h5>

                                @foreach (var item in paymentGroup.Value)
                                {
                                    <div>
                                        <input type="checkbox" name="PaymentTypeToGoList" value="@item.IdPaymentType"
                                               @( Model != null && Model.PaymentTypeToGoList != null && Model.PaymentTypeToGoList.Contains(item.IdPaymentType) ? "checked" : "")
                                               @( !(User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantOperational)) ? "disabled" : null) />
                                        @item.Name
                                    </div>
                                }
                            </div>
                        }
                    </div>
            }

            @Html.ValidationMessage("Pagamento", null, new { @class = "pagamentoValidate", @style = "display:none; margin-top:5px;" })

            <span class="clearFix">&nbsp;</span>
        </li>*@
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.EmailList)
                    <a class="add-link add-email" href="javascript:void(0);"></a>
                </label>
                @if (Model != null && Model.EmailList != null && Model.EmailList.Count > 0)
        {
            var px = "0px";
            for (int j = 0; j < Model.EmailList.Count; j++)
            {
                <span>
                    @Html.TextBoxFor(m => m.EmailList[j].EmailVM, new { @style = "margin-left:" + px })
                    @Html.CheckBoxFor(m => m.EmailList[j].ReceiveReports, new { @class = "checkbox-update" })
                    @Html.LabelFor(m => m.EmailList[j].ReceiveReports, new { @class = "pure" })
                </span>
        px = "160px";
    }
}
else
{
        <span>
            @Html.TextBoxFor(m => m.EmailList[0].EmailVM)
            @Html.CheckBoxFor(m => m.EmailList[0].ReceiveReports, new { @class = "checkbox-update" })
            @Html.LabelFor(m => m.EmailList[0].ReceiveReports, new { @class = "pure" })
        </span>
}
                @Html.ValidationMessage("EmailList")
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PhoneList)
                    <a class="add-link add-phone" href="javascript:void(0);"></a>
                </label>
                @if (Model != null && Model.PhoneList != null && Model.PhoneList.Count > 0)
        {
            var px = "0px";
            for (var j = 0; j < Model.PhoneList.Count; j++)
            {
                <span>
                    @Html.TextBoxFor(model => model.PhoneList[j].AreaCodeVM, new { @maxlength = "3", @style = "width:30px; margin-left:" + px })
                    -
                    @Html.TextBoxFor(model => model.PhoneList[j].NumberVM, new { @maxlength = "15", @style = "width:120px;" })
                </span>
        px = "160px";
    }
}
else
{
        <span>
            @Html.TextBoxFor(model => model.PhoneList[0].AreaCodeVM, new { @maxlength = "3", @style = "width:30px;" })
            -
            @Html.TextBoxFor(model => model.PhoneList[0].NumberVM, new { @maxlength = "15", @style = "width:120px;" })
        </span>
}
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                @if (ViewBag.AjaxCall == null || ViewBag.AjaxCall == false)
        {
            <a class="button" href="@Url.Action("Index", "Restaurant", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
}
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>

    </fieldset>
                    }