﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{

    <script type="text/javascript">
        var timeEntryImage = "";
        $(document).ready(function () {
            $(".timeentry-field").prop('disabled', true);           
        });
    </script>
}

    <fieldset class="details">
        <div></div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.IdCompany)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Companies.FirstOrDefault(s => s.Key == model.IdCompany).Value)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Name)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Name)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.UniqueName)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.UniqueName)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Address.StateCode)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Address.StateCode)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Address.City)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Address.City)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Address.Neighborhood)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Address.Neighborhood)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Address.Address)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Address.Address)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Address.Number)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Address.Number)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Address.Complement)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Address.Complement)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Address.Reference)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Address.Reference)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.RegionName)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.RegionName)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Address.ZipCode)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Address.ZipCode)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.IdIntegrationTechnology)</span>
            <span class="display-field">
                @if (Model.IdIntegrationTechnology.HasValue)
            {
                @Html.DisplayFor(model => model.IntegrationTechnologies.FirstOrDefault(s => s.Key == model.IdIntegrationTechnology.Value).Value);
        }
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.IntegrationFallbackReceptor)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.IntegrationFallbackReceptor)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Disabled)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.AcceptCPFOnNote)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.AcceptCPFOnNote)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.AcceptCNPJOnNote)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.AcceptCNPJOnNote)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.AcceptToGo)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.AcceptToGo)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.ToGoOnlinePayOnly)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.ToGoOnlinePayOnly)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.PhotoAddress)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.PhotoAddress)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.MinimumOrderValue)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.MinimumOrderValue)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.IntegrationCallCenterCode)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.IntegrationCallCenterCode)
            </span>
        </div>
        <div>
            @{
            List<SelectListItem> offsets = new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().TimezonesOffsets;
            SelectListItem selectedOffset = offsets.Where(t => t.Value == Model.TimeZoneOffset.ToString()).FirstOrDefault();
            string displayValue = selectedOffset.Text;
            }
            <span class="display-label">@Html.LabelFor(model => model.TimeZoneOffset)</span>
            <span class="display-field">
                @Html.DisplayFor(m => displayValue)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.DeliveryCloseMessage)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.DeliveryCloseMessage)
            </span>
        </div>

        <div>
            <span class="display-label">@Html.LabelFor(model => model.RestaurantOpenTimeList)</span>
            <div class="week-day-slider">
                <table style="margin-top: 10px">
                    @{
                    var dias = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
                    var sliderCountIndex = 0;
                    }
                    @for (int index = 0; index < 7; index++)
                {

                    <tbody id="abertura" data-weekday="@(index)">

                        @if (Model.RestaurantOpenTimeList == null)
                    {
                        <tr>
                            <td width="140">
                                <input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndex].WeekDay" value="@index" />
                                <span class="dayLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
                            </td>
                            <td width="350" style="padding-bottom: 10px">
                                @{
                                string idStart = "RestaurantOpenTimeList_StartTime_" + @sliderCountIndex;
                                string idEnd = "RestaurantOpenTimeList_EndTime_" + @sliderCountIndex;
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                            </td>
                        </tr>
                    sliderCountIndex++;
                }
                else
                {
                    var listaTime = Model.RestaurantOpenTimeList.Where(m => m.WeekDay == index);

                    if (listaTime.Count() == 0)
                    {
                        <tr>
                            <td width="140">
                                <input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndex].WeekDay" value="@index" />
                                <span class="dayLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
                            </td>
                            <td width="350" style="padding-bottom: 10px">
                                @{
                                string idStart = "RestaurantOpenTimeList_StartTime_" + @sliderCountIndex;
                                string idEnd = "RestaurantOpenTimeList_EndTime_" + @sliderCountIndex;
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                            </td>
                        </tr>
                    sliderCountIndex++;
                }
                else
                {
                    for (int j = 0; j < listaTime.Count(); j++)
                    {
                        <tr>
                            <td width="140">
                                @if (j == 0)
                            {
                                <input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndex].WeekDay" value="@index" @(listaTime.ElementAt(j).DayOfWeek.Equals((short)index) ? "checked" : "") />
                                <span class="dayLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
                        }
                        else
                        {
                            <input disabled="disabled" style="margin-top: 3px; display: none;" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndex].WeekDay" value="@index" @(listaTime.ElementAt(j).DayOfWeek.Equals((short)index) ? "checked" : "") />
                            <span class="hiddenLabel" style="float: left; margin-bottom: 3px"></span>
                    }
                            </td>
                            <td width="350" style="padding-bottom: 10px">
                                @{
                                string idStart = "RestaurantOpenTimeList_StartTime_" + @sliderCountIndex;
                                string idEnd = "RestaurantOpenTimeList_EndTime_" + @sliderCountIndex;
                                string startTime = listaTime.ElementAt(j).StartTime.ToString("hh':'mm");
                                string endTime = listaTime.ElementAt(j).EndTime.ToString("hh':'mm");
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" value="@startTime" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].StartTime", startTime, new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" value="@endTime" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantOpenTimeList[" + sliderCountIndex + "].EndTime", endTime, new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                            </td>
                        </tr>
                    sliderCountIndex++;
                }
            }
        }
                    </tbody>
            }
                </table>
            </div>
        </div>

        <div>
            <span class="display-label">@Html.LabelFor(model => model.ToGoCloseMessage)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.ToGoCloseMessage)
            </span>
        </div>

        <div>
            <span class="display-label">@Html.LabelFor(model => model.RestaurantTogoTimeList)</span>
            <div class="week-day-slider">
                <table style="margin-top: 10px">
                    @{
                    var diasTogo = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
                    var sliderCountIndexTogo = 0;
                    }
                    @for (int index = 0; index < 7; index++)
                {

                    <tbody id="abertura" data-weekday="@(index)">

                        @if (Model.RestaurantTogoTimeList == null)
                    {
                        <tr>
                            <td width="140">
                                <input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="RestaurantTogoTimeList[@sliderCountIndexTogo].WeekDay" value="@index" />
                                <span class="dayLabel" style="float: left; margin-bottom: 3px">@diasTogo.ElementAt(index).ToTitleString()</span>
                            </td>
                            <td width="350" style="padding-bottom: 10px">
                                @{
                                string idStart = "RestaurantTogoTimeListt_StartTime_" + @sliderCountIndexTogo;
                                string idEnd = "RestaurantTogoTimeList_EndTime_" + @sliderCountIndexTogo;
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantTogoTimeList[" + sliderCountIndexTogo + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantTogoTimeList[" + sliderCountIndexTogo + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                            </td>
                        </tr>
                    sliderCountIndexTogo++;
                }
                else
                {
                    var listaTime = Model.RestaurantTogoTimeList.Where(m => m.WeekDay == index);

                    if (listaTime.Count() == 0)
                    {
                        <tr>
                            <td width="140">
                                <input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="RestaurantTogoTimeList[@sliderCountIndexTogo].WeekDay" value="@index" />
                                <span class="dayLabel" style="float: left; margin-bottom: 3px">@diasTogo.ElementAt(index).ToTitleString()</span>
                            </td>
                            <td width="350" style="padding-bottom: 10px">
                                @{
                                string idStart = "RestaurantTogoTimeList_StartTime_" + @sliderCountIndexTogo;
                                string idEnd = "RestaurantTogoTimeList_EndTime_" + @sliderCountIndexTogo;
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantTogoTimeList[" + sliderCountIndexTogo + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantTogoTimeList[" + sliderCountIndexTogo + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                            </td>
                        </tr>
                    sliderCountIndexTogo++;
                }
                else
                {
                    for (int j = 0; j < listaTime.Count(); j++)
                    {
                        <tr>
                            <td width="140">
                                @if (j == 0)
                            {
                                <input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndexTogo].WeekDay" value="@index" @(listaTime.ElementAt(j).DayOfWeek.Equals((short)index) ? "checked" : "") />
                                <span class="dayLabel" style="float: left; margin-bottom: 3px">@diasTogo.ElementAt(index).ToTitleString()</span>
                        }
                        else
                        {
                            <input disabled="disabled" style="margin-top: 3px; display: none;" type="checkbox" class="week-day" name="RestaurantOpenTimeList[@sliderCountIndexTogo].WeekDay" value="@index" @(listaTime.ElementAt(j).DayOfWeek.Equals((short)index) ? "checked" : "") />
                            <span class="hiddenLabel" style="float: left; margin-bottom: 3px"></span>
                    }
                            </td>
                            <td width="350" style="padding-bottom: 10px">
                                @{
                                string idStart = "RestaurantTogoTimeList_StartTime_" + @sliderCountIndexTogo;
                                string idEnd = "RestaurantTogoTimeList_EndTime_" + @sliderCountIndexTogo;
                                string startTime = listaTime.ElementAt(j).StartTime.ToString("hh':'mm");
                                string endTime = listaTime.ElementAt(j).EndTime.ToString("hh':'mm");
                                }
                                <div class="inline-timeentry inline-timeentry-start">
                                    <input class="timeentry-start timeentry-field" id="@idStart" value="@startTime" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantTogoTimeList[" + sliderCountIndexTogo + "].StartTime", startTime, new { @class = "minValue" })
                                </div>
                                <div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                    <input class="timeentry-end timeentry-field" id="@idEnd" value="@endTime" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
                                    @Html.Hidden("RestaurantTogoTimeList[" + sliderCountIndexTogo + "].EndTime", endTime, new { @class = "maxValue" })
                                </div>
                                <span class="clearFix">&nbsp;</span>
                            </td>
                        </tr>
                    sliderCountIndexTogo++;
                }
            }
        }
                    </tbody>
            }
                </table>
            </div>
        </div>

        <div>
            <span class="display-label">@Html.LabelFor(model => model.RestaurantDeliveryFeeRangeList)</span>
            <span class="display-field">
                <table>
                    <tbody>
                        @{
                        var y = 0;

                        foreach (var item in Model.RestaurantDeliveryFeeRangeList)
                        {

                            <tr>
                                <td>
                                    <span class="field-title">
                                        @Html.Label("De:")
                                    </span>
                                </td>
                                <td>
                                    @Html.CheckBox("RestaurantDeliveryFeeRangeList[" + y + "].Selected", item.Selected, new { @value = y, @disabled = "disabled", @data_check = "0" })

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[" + y + "].ValueFrom", item.ValueFrom.HasValue ? item.ValueFrom : 0, new { @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" }) a

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[" + y + "].ToValue", item.ToValue, new { @readonly = "readonly", @style = "width:40px", @class = "numerico taxa0 entrega" })

                                    @Html.TextBox("RestaurantDeliveryFeeRangeList[" + y + "].FeeValue", item.FeeValue, "{0:N}", new { @readonly = "readonly", @style = "width:60px", @class = "entrega interval-value" })
                                    Cód Integra: @Html.TextBox("RestaurantDeliveryFeeRangeList[" + y + "].IntegrationCode", item.IntegrationCode, "{0:N}", new { @readonly = "readonly", @style = "width:80px", @class = "entrega" })

                                </td>
                            </tr>
                        y++;
                    }
                        }
                    </tbody>
                </table>
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.ApplyDeliberyFeeWeb)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.ApplyDeliberyFeeWeb)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.ApplyDeliberyFeeApp)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.ApplyDeliberyFeeApp)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.ApplyDeliberyFeeCallCenter)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.ApplyDeliberyFeeCallCenter)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.IncludeOrderDeliveryFee)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.IncludeOrderDeliveryFee)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.SeparateDeliveryFeeMessage)</span>
            <span class="display-field">
                @if (!Model.IncludeOrderDeliveryFee)
            {
                @Html.DisplayFor(model => model.SeparateDeliveryFeeMessage)
        }
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.EmailList)</span>
            <span class="display-field">
                @if (Model != null && Model.EmailList != null && Model.EmailList.Count > 0)
            {
                for (int j = 0; j < Model.EmailList.Count; j++)
                {
                    <span style="display:inline-block;width:300px">
                        @Html.DisplayFor(model => model.EmailList[j].EmailVM)
                    </span>
                    <span style="display:inline-block">
                        @Html.DisplayFor(m => m.EmailList[j].ReceiveReports)
                        @Html.LabelFor(m => m.EmailList[j].ReceiveReports, new { @class = "pure" })
                    </span>
            }
        }
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.PhoneList)</span>
            <span class="display-field">
                @if (Model != null && Model.PhoneList != null && Model.PhoneList.Count > 0)
            {
                for (var j = 0; j < Model.PhoneList.Count; j++)
                {
                    <span>
                        @Html.DisplayFor(model => model.PhoneList[j].AreaCodeVM, new { @maxlength = "3" })
                        -
                        @Html.DisplayFor(model => model.PhoneList[j].NumberVM, new { @maxlength = "15" })
                    </span>
            }
        }
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Created)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Created)
            </span>
        </div>
        <div>
            <span class="display-label">@Html.LabelFor(model => model.Online)</span>
            <span class="display-field">
                @Html.DisplayFor(model => model.Online)
            </span>
        </div>
    </fieldset>
<p>
    @{
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
        ViewBag.Routes.Add("id", Model.IdRestaurant);
    }
    @if (Roles.IsUserInRole(UserPermission.RestaurantEdit))
    {
        <a class="button" href="@Url.Action("Edit", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
    }
    <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>