﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel>

@{
    ViewBag.Title = "Lista de Lojas";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var modalWindow = null;

        $(document).ready(function () {
            LoadCities();
            LoadNeighborhoods();
            $('#RestaurantFormSearchId').on('change', '#Filter_SelectedStateId', function (event) {
                LoadCities(event);
                $('#Filter_StateCode').val($(this).children('option:selected').text()).valid();
            });

            $('#RestaurantFormSearchId').on('change', '#Filter_SelectedCityId', function (event) {
                LoadNeighborhoods(event);
                $('#Filter_City').val($(this).children('option:selected').text()).valid();
            });

            $('#RestaurantFormSearchId').on('change', '#Filter_SelectedNeighborhoodId', function (event) {
                $('#Filter_Neighborhood').val($(this).children('option:selected').text()).valid();
            });

            $('.table-long').on('click', '.deliveryArea, .menu, .deliveryTime, .moipData, .refreshIntegrationMenuData', function (event) {
                event.preventDefault();
                LoadDialog(this);
            });

        });

        $('.paymentType').on('click', function (event) {
            event.preventDefault();
            LoadDialog(this);
        });

        function LoadCities(event, callback) {
            $('#Filter_City').val('');
            $('#Filter_SelectedCityId').empty();
            if (!$('#Filter_SelectedStateId').val()) {
                return;
            }
            $('#Filter_SelectedCityId').siblings('.loading').removeClass('hidden');
            $.get('@Url.Action("GetCities")', { idState: $('#Filter_SelectedStateId').val() }, function (result) {
                $('#Filter_SelectedCityId').append($('<option>').val('').text(''));
                $.each(result, function (key, value) {
                    $('#Filter_SelectedCityId').append($('<option>').val(value.IdCity).text(value.Name));
                });
                $('#Filter_SelectedCityId').siblings('.loading').addClass('hidden');
                if (callback) {
                    callback();
                    LoadNeighborhoods();
                }
            });
        }

        function LoadNeighborhoods(event, callback) {
            $('#Filter_Neighborhood').val('');
            $('#Filter_SelectedNeighborhoodId').empty();
            if (!$('#Filter_SelectedCityId').val()) {
                return;
            }
            $('#Filter_SelectedNeighborhoodId').siblings('.loading').removeClass('hidden');
            $.get('@Url.Action("GetNeighborhoods")', { idCity: $('#Filter_SelectedCityId').val() }, function (result) {
                $('#Filter_SelectedNeighborhoodId').append($('<option>').val('').text(''));
                $.each(result, function (key, value) {
                    $('#Filter_SelectedNeighborhoodId').append($('<option>').val(value.IdNeighborhood).text(value.Name));
                });
                $('#Filter_SelectedNeighborhoodId').siblings('.loading').addClass('hidden');
                if (callback) {
                    callback();
                }
            });
        }

        function LoadDialog(element) {
            var dialogTitle = $(element).attr('title');
            var modalWidth = dialogTitle && dialogTitle.indexOf("MOIP") > -1 ? 650 : 550;

            $.get($(element).attr('href'), function (result) {
                $('.table-long').before($('<div>').addClass('temp').html(result));
                var $dialogWindow = $('.temp');
                modalWindow = $dialogWindow;
                $dialogWindow.attr("title", dialogTitle);
                $dialogWindow.dialog({
                    width: modalWidth,
                    close: function () {
                        $(this).remove();
                    }
                });
            });
        }
    </script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@if (TempData["IdRestaurant"] != null && TempData["RestaurantName"] != null)
{
    <div class="successMessage">
        O restaurante @TempData["RestaurantName"] foi criado com sucesso, clique
        <a href="@Url.Action("PaymentType", new { id = TempData["IdRestaurant"] })" class="paymentType" title="Formas de Pagamento">aqui</a>
        para escolher as formas de pagamento.
    </div>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.RestaurantCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", "Restaurant", ViewBag.Routes)" title="Formas de Pagamento">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "RestaurantFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "Restaurant", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    RestaurantFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (RestaurantFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBox("Filter.IdRestaurantList[0]")
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBoxFor(filter => Filter.Name)
            </li>
            <li>
                <label class="field-title">
                    Estado:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedStateId, Filter.States, "")
                @Html.HiddenFor(filter => Filter.StateCode)
            </li>
            <li>
                <label class="field-title">
                    Cidade:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedCityId, new List<SelectListItem>())
                @Html.HiddenFor(filter => Filter.City)
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
            </li>
            <li>
                <label class="field-title">
                    Bairro:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedNeighborhoodId, new List<SelectListItem>())
                @Html.HiddenFor(filter => Filter.Neighborhood)
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                @section FilterScripts {
                    @if (Filter.SelectedCityId != null)
                    {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                LoadCities(null, function () {
                                    $('#Filter_SelectedCityId').val('@Filter.SelectedCityId');
                                    @if (Filter.SelectedNeighborhoodId != null)
                                    {
                                        @:LoadNeighborhoods(null, function () { $('#Filter_SelectedNeighborhoodId').val('@Filter.SelectedNeighborhoodId'); });
                                                                                                                                                                                                                                                                                                }
                                });
                            });
                        </script>
                    }
                }
            </li>
            <li>
                @*<label class="field-title">
                            @Html.Label("Tecnologia Integração")
                        </label>
                        @Html.DropDownListFor(filter => Filter.IntegrationTechnologies, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().IntegrationTechnologies, "")
                        <span class="clearFix">&nbsp;</span>
                    </li>*@
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Status, "Ativo") Ativo
                @Html.RadioButtonFor(filter => Filter.Status, "Inativo") Inativo
            </li>
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "RestaurantFormSearchId");
                }
            </li>
        </ol>

    </fieldset>
                    }

<table class="table-long">
    <thead>
        <tr>
            <th>
                <a href="" rel="idrestaurant" class="orderByLink">
                    Código
                </a>
            </th>
            <th>
                <a href="" rel="name" class="orderByLink">
                    Nome
                </a>
            </th>
            <th>
                <a href="" rel="statecode" class="orderByLink">
                    Estado
                </a>
            </th>
            <th>
                <a href="" rel="city" class="orderByLink">
                    Cidade
                </a>
            </th>
            <th>
                <a href="" rel="neighborhood" class="orderByLink">
                    Bairro
                </a>
            </th>
            <th>
                <a href="" rel="disabled" class="orderByLink">
                    Inativo?
                </a>
            </th>
            <th>
                <a href="" rel="idintegrationtechnology" class="orderByLink">
                    Tecnologia Integração
                </a>
            </th>
            <th>
                <a href="" rel="online" class="orderByLink">
                    Status Integração
                </a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    @{
                        if (ViewBag.Routes.ContainsKey("id"))
                        {
                            ViewBag.Routes.Remove("id");
                        }
                        if (ViewBag.Routes.ContainsKey("integrationCode"))
                        {
                            ViewBag.Routes.Remove("integrationCode");
                        }
                        ViewBag.Routes.Add("id", item.IdRestaurant);
                        ViewBag.Routes.Add("integrationCode", item.IntegrationCode);
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRestaurant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.StateCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address.Neighborhood)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IntegrationTechnologies.Where(m => m.Key == item.IdIntegrationTechnology).FirstOrDefault().Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Online)
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RestaurantList)
    || Roles.IsUserInRole(UserPermission.RestaurantCreate)
    || Roles.IsUserInRole(UserPermission.RestaurantEdit) ||
    Roles.IsUserInRole(UserPermission.RestaurantConfig) ||
    Roles.IsUserInRole(UserPermission.RestaurantOperational) ||
    Roles.IsUserInRole(UserPermission.RestaurantTimeZoneEdit))
                        {
                            <a href="@Url.Action("Details",  ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RestaurantEdit) ||
    Roles.IsUserInRole(UserPermission.RestaurantConfig) ||
    Roles.IsUserInRole(UserPermission.RestaurantOperational) ||
    Roles.IsUserInRole(UserPermission.RestaurantTimeZoneEdit))
                        {
                            <a href="@Url.Action("Edit",  ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                        }
                    </td>
                    @*<td class="table-comand">
                            @if (Roles.IsUserInRole(UserPermission.RestaurantList))
                            {
                                <a href="@Url.Action("Edit",  ViewBag.Routes)" title="Área de Atendimento" class="table-map-link deliveryArea"></a>
                            }
                        </td>
                        <td class="table-comand">
                            @if (Roles.IsUserInRole(UserPermission.RestaurantList))
                            {
                                <a href="@Url.Action("Edit",  ViewBag.Routes)" title="Cardápio" class="table-menu-link menu"></a>
                            }
                        </td>*@
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RestaurantList)
    || Roles.IsUserInRole(UserPermission.RestaurantCreate)
    || Roles.IsUserInRole(UserPermission.RestaurantEdit) ||
    Roles.IsUserInRole(UserPermission.RestaurantConfig) ||
    Roles.IsUserInRole(UserPermission.RestaurantOperational) ||
    Roles.IsUserInRole(UserPermission.RestaurantTimeZoneEdit))
                        {
                            <a href="@Url.Action("DeliveryTime", ViewBag.Routes)" title="Horário de Atendimento Delivery" class="table-delivery-link deliveryTime"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RestaurantList)
    || Roles.IsUserInRole(UserPermission.RestaurantCreate)
    || Roles.IsUserInRole(UserPermission.RestaurantEdit) ||
    Roles.IsUserInRole(UserPermission.RestaurantConfig) ||
    Roles.IsUserInRole(UserPermission.RestaurantOperational) ||
    Roles.IsUserInRole(UserPermission.RestaurantTimeZoneEdit))
                        {
                            <a href="@Url.Action("TogoTime", ViewBag.Routes)" title="Horário de Atendimento Retirada" class="table-clock-link deliveryTime"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RestaurantList)
    || Roles.IsUserInRole(UserPermission.RestaurantCreate)
    || Roles.IsUserInRole(UserPermission.RestaurantEdit) ||
    Roles.IsUserInRole(UserPermission.RestaurantConfig) ||
    Roles.IsUserInRole(UserPermission.RestaurantOperational) ||
    Roles.IsUserInRole(UserPermission.RestaurantTimeZoneEdit))
                        {
                            <a href="@Url.Action("PaymentType", ViewBag.Routes)" title="Formas de Pagamento" class="table-payment-link paymentType"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RestaurantMOIPEdit))
                        {
                            <a href="@Url.Action("MOIP", ViewBag.Routes)" title="Credenciais MOIP" class="table-moip-link moipData"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RestaurantRefreshIntegrationMenuCacheEdit) && item.IdIntegrationTechnology != 2)
                        {
                            <a href="@Url.Action("RefreshIntegrationMenuCache", ViewBag.Routes)" title="Cache Menu Integração" class="table-refresh-integration-menu-link refreshIntegrationMenuData"></a>
                        }
                    </td>
                </tr>
                            }
                        }
    </tbody>
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}

