﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.ReportCustomerOrderViewModel

@{
    ViewBag.Title = "Relatório de Pedidos por Cliente";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}


@section Scripts {
    <script>
        var selectedItens = new Array();
        var selectedSupplier;

        var selectedRestaurants = [];

        function downloadFile(type) {
            var inactDays = $("#InactiveDays").val();

            var inactiveDays = inactDays.toString().trim() == "" || isNaN(inactDays) ? null : parseInt(inactDays);

            var restaurants = []
            for (i = 0; i < selectedRestaurants.length; i++) {
                restaurants.push({ IdRestaurant: parseInt(selectedRestaurants[i], 10) });
            }

            var filter = {
                ListRestaurant: restaurants,
                InactiveDays: inactiveDays,
                ExportType: type,
                OrderBy: $("#OrderBy").val()
            };

            $.ajax({
                url: $("#applicationPath").val() + '/Report/CustomerOrderDownload',
                type: 'POST',
                data: JSON.stringify(filter),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $("#loadingOverlayReport").show();
                },
                complete: function () {
                    $("#loadingOverlayReport").hide();
                },
                success: function (result) {
                    if ("ErrorMessage" in result) {
                        showMessage(result.ErrorMessage, "", "info");
                    } else {
                        window.location = $("#applicationPath").val() + '/Report/Download?filename=' + result.FileName;
                    }


                }
            });
        }

        $(document).ready(function () {

            $("#loadingOverlayReport").hide();

            $("#btnPDF").click(function (e) {
                e.preventDefault();
                downloadFile(0);
            });

            $("#btnXLS").click(function (e) {
                e.preventDefault();
                downloadFile(1);
            });



            $('.RestaurantSearch').on('click', '.table-delete-link', function (e) {
                var $div = $(this).closest('div');

                var restaurantId = $div.attr('id');
                var removeIndex = parseInt(selectedRestaurants.indexOf(restaurantId));
                selectedRestaurants.splice(removeIndex, 1);

                var rowIndex = $('.RestaurantSearch div').index($div);
                $div.remove();
                $.each($('.RestaurantSearch div').slice(rowIndex), function (key, value) {
                    $.each($(value).find('input'), function (key2, value2) {
                        var i = (rowIndex + key);
                        switch (key2) {
                            case 0:
                                $(value2).attr('name', 'Filter.ListSupplier[' + i + '].IdSupplier');
                                break;
                            case 1:
                                $(value2).attr('name', 'Filter.ListSupplier[' + i + '].CorporateName');
                                break;
                        }
                    });
                });
            });

            $('.search-link').click(function (e) {
                e.preventDefault();
                var $clickedButton = $(this);
                $.get($(this).attr('href'), function (result) {
                    $('#divDetails').html(result);
                    $('#divDetails').dialog({
                        width: 1000,
                        height: 600,
                        title: "Selecionar Lojas",
                        beforeClose: function (event, ui) {
                            if (selectedItens.length) {
                                $.each(selectedItens, function (key, value) {
                                    if (!$('.RestaurantSearch input[name*="Id"][value="' + value.id + '"]:hidden').length) {
                                        selectedRestaurants.push(value.data.IdRestaurant);
                                        AddObjectToTable(value.data);
                                    }
                                });
                            }
                            selectedItens = new Array();
                        }
                    })
                });
            });
        });

        function AddObjectToTable(jsonObj) {
            if (!jsonObj) {
                return false;
            }

            var i = $('.RestaurantSearch div').length;
            var $hiddenId = $('<input type="hidden" name="ListRestaurant[' + i + '].IdRestaurant">').val(jsonObj.IdRestaurant);
            var $txtCorporateName = $('<input type="text" name="ListRestaurant[' + i + '].Name">').val(jsonObj.Name).prop('readonly', true);
            var $spanRemoveButton = $('<span class="row-details">').append($('<a href="javascript:void(0);" class="table-delete-link">'));
            var $div = $('<div id="' + jsonObj.IdRestaurant + '" style="padding-left:160px">').append($hiddenId).append($txtCorporateName).append($spanRemoveButton);

            $('.RestaurantSearch').append($div);
        }
    </script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "FormCustomerOrderId");
    htmlAttributes.Add("class", "middle-forms");
    //htmlAttributes.Add("onsubmit", "$('#loadingOverlayReport').show();");
}

<div id="loadingOverlayReport" class="loadingOverlayReport">
    <img src="~/Content/images/loading.gif" width="70" height="70" />
</div>

@using (Html.BeginForm("CustomerOrder", "Report", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ExportType)
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        <ol>
            <li class="RestaurantSearch">
                <label class="field-title">
                    @Html.LabelFor(model => model.ListRestaurant)
                </label>
                <a href="@Url.Action("Index", "Restaurant")" class="search-link"></a>
                @if (Model.ListRestaurant != null && Model.ListRestaurant.Any())
                {
                    for (var i = 0; i < Model.ListRestaurant.Count; i++)
                    {
                        <div>
                            @Html.HiddenFor(model => Model.ListRestaurant[i].IdRestaurant)
                            @Html.TextBoxFor(model => Model.ListRestaurant[i].Name, new { @readonly = true })
                            <span class="row-details">
                                <a href="javascript:void(0);" class="table-delete-link"></a>
                            </span>
                        </div>
                    }
                }
                @Html.ValidationMessageFor(model => model.ListRestaurant)
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.InactiveDays)
                </label>
                @Html.TextBoxFor(model => model.InactiveDays, new { @style = "width: 50px" })
                @Html.ValidationMessageFor(model => model.InactiveDays)
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.OrderBy)
                </label>
                @Html.EnumDropDownListFor(model => model.OrderBy)
                @Html.ValidationMessageFor(model => model.OrderBy)
            </li>
            <li>
                <input id="btnPDF" type="submit" value="Gerar PDF" />
                <input id="btnXLS" type="submit" value="Gerar Excel" />
            </li>
        </ol>
    </fieldset>
    <div id="divDetails" class="box"></div>

}