﻿@{
    ViewBag.Title = "Pedidos por Área Atendimento";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@{
    List<SelectListItem> RestaurantList = ViewBag.RestaurantList as List<SelectListItem>;
    List<SelectListItem> AreasList = ViewBag.Areas as List<SelectListItem>;
    Dictionary<String, String> Associations = ViewBag.Associations as Dictionary<String, String>;
}



@Styles.Render("~/Content/datatableHead-css")
@section Scripts {

    @Scripts.Render("~/Scripts/datatables-js")

    <script type="text/javascript">

    var restaurantsAreas = [];
    var restaurantsAreasIds = [];
    var userRestaurants = [];
    var userRestaurantsIds = [];
    var associations = {};

    var ordersByArea = [];
    var dishesByArea = [];
    var paymentsByArea = [];

    var filter = {};

    var ordersLoaded = false;
    var dishLoaded = false;
    var paymentsLoaded = false;

    var dishQuantityTotal = 0;
    var dishAmountTotal = 0;

    Number.prototype.formatMoney = function (places, symbol, thousand, decimal) {
        places = !isNaN(places = Math.abs(places)) ? places : 2;
        symbol = symbol !== undefined ? symbol : "$";
        thousand = thousand || ",";
        decimal = decimal || ".";
        var number = this,
            negative = number < 0 ? "-" : "",
            i = parseInt(number = Math.abs(+number || 0).toFixed(places), 10) + "",
            j = (j = i.length) > 3 ? j % 3 : 0;
        return symbol + negative + (j ? i.substr(0, j) + thousand : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + thousand) + (places ? decimal + Math.abs(number - i).toFixed(places).slice(2) : "");
    };

    $("#loadingOrderByArea").hide();
    $("#loadingPaymentByArea").hide();
    $("#loadingDishByArea").hide();

    @foreach (var restaurant in RestaurantList)
    {
        @:userRestaurants.push({ text: "@Html.Raw(restaurant.Text)", value: "@restaurant.Value" });
                                    @:userRestaurantsIds.push(parseInt("@restaurant.Value", 10));
                                }
    @foreach (var area in AreasList)
    {
        @:restaurantsAreas.push({ text: "@Html.Raw(area.Text)", value: "@area.Value" });
                                    @:restaurantsAreasIds.push(parseInt("@area.Value", 10));
                                }
    @foreach (var keypair in Associations)
    {
        @:associations["@Html.Raw(keypair.Key)"] = "@keypair.Value";
                            }

        var restaurentElements = [1];
        var areasElements = [];

        function reloadRestautantAreas() {

            var curId = parseInt($("#lastAreaId").val());
            var curRestaurantId = parseInt($("#lastId").val());

            var selectedRestaurants = [];
            for (i = 1; i <= curRestaurantId; i++) {
                var idRestaurant = parseInt($('#selectedRestaurant_' + i + " option:selected").val());
                if (!isNaN(idRestaurant)) {
                    selectedRestaurants.push(idRestaurant);
                }
            }

            var notSelectedRestaurants = $(userRestaurantsIds).not(selectedRestaurants).get();

            for (i = 1; i <= curRestaurantId; i++) {
                var idRestaurant = parseInt($('#selectedRestaurant_' + i + " option:selected").val());
                var descRestaurant = $('#selectedRestaurant_' + i + " option:selected").text();
                if (!isNaN(idRestaurant)) {

                    $('#selectedRestaurant_' + i).find('option').remove().end()
                        .append($('<option/>', { value: "-1", text: "Selecione..." }))
                        .append($('<option/>', { value: idRestaurant.toString(), text: descRestaurant }));

                    for (j = 0; j < notSelectedRestaurants.length; j++) {
                        for (k = 0; k < userRestaurants.length; k++) {
                            if (userRestaurants[k].value == notSelectedRestaurants[j].toString()) {
                                $('#selectedRestaurant_' + i).append($('<option/>', { value: userRestaurants[k].value, text: userRestaurants[k].text }));
                                break;
                            }
                        }
                    }
                    $('#selectedRestaurant_' + i).val(idRestaurant.toString());

                }
            }

            var selectedAreas = [];

            for (i = 0; i < areasElements.length; i++) {
                var idArea = parseInt($('#selectedArea_' + areasElements[i] + " option:selected").val());
                if (!isNaN(idArea)) {
                    selectedAreas.push(idArea);
                }
            }

            var notSelectedAreas = $(restaurantsAreasIds).not(selectedAreas).get();
            var indexToRemove = [];

            for (i = 0; i < areasElements.length; i++) {
                var idArea = parseInt($('#selectedArea_' + areasElements[i] + " option:selected").val());
                var nameArea = $('#selectedArea_' + areasElements[i] + " option:selected").text();
                if (!isNaN(idArea)) {

                    var hasPreviousItem = false;

                    if (idArea == -1) {
                        hasPreviousItem = true;
                    } else {
                        var restaurantIdInt = parseInt(associations[idArea.toString()], 10);
                        hasPreviousItem = selectedRestaurants.indexOf(restaurantIdInt) > -1;
                    }

                    if (hasPreviousItem) {

                        $('#selectedArea_' + areasElements[i]).find('option').remove().end().append($('<option/>', { value: "-1", text: "Todas" }));
                        if (idArea != -1) {
                            $('#selectedArea_' + areasElements[i]).append($('<option/>', { value: idArea.toString(), text: nameArea }));
                        }

                        for (k = 0; k < notSelectedAreas.length; k++) {

                            for (j = 0; j < restaurantsAreas.length; j++) {

                                if (notSelectedAreas[k] == parseInt(restaurantsAreas[j].value)) {

                                    var restaurantIdInt = parseInt(associations[notSelectedAreas[k]], 10);

                                    if (selectedRestaurants.indexOf(restaurantIdInt) > -1) {
                                        $('#selectedArea_' + areasElements[i]).append($('<option/>', { value: restaurantsAreas[j].value, text: restaurantsAreas[j].text }));
                                        break;
                                    }

                                }

                            }

                        }

                        $('#selectedArea_' + areasElements[i]).val(idArea.toString());

                    } else {
                        indexToRemove.push(areasElements[i]);
                    }

                }
            }

            for (i = 0; i < indexToRemove.length; i++) {
                $('#areaitem_' + indexToRemove[i]).remove();
                var index = areasElements.indexOf(indexToRemove[i]);
                areasElements.splice(index, 1);
            }
        };

        function reloadAreas() {

            var selectedRestaurants = [];

            for (i = 0; i < restaurentElements.length; i++) {
                var idRestaurant = parseInt($('#selectedRestaurant_' + restaurentElements[i] + " option:selected").val());
                if (!isNaN(idRestaurant)) {
                    selectedRestaurants.push(idRestaurant);
                }
            }

            var selectedAreas = [];

            for (i = 0; i < areasElements.length; i++) {
                var idArea = parseInt($('#selectedArea_' + areasElements[i] + " option:selected").val());
                if (!isNaN(idArea)) {
                    selectedAreas.push(idArea);
                }
            }

            var notSelectedAreas = $(restaurantsAreasIds).not(selectedAreas).get();

            for (k = 0; k < areasElements.length; k++) {
                var idArea = parseInt($('#selectedArea_' + areasElements[k] + " option:selected").val());
                var nameArea = $('#selectedArea_' + areasElements[k] + " option:selected").text();

                $('#selectedArea_' + areasElements[k]).find('option').remove().end().append($('<option/>', { value: "-1", text: "Todas" }));
                if (idArea != -1) {
                    $('#selectedArea_' + areasElements[k]).append($('<option/>', { value: idArea.toString(), text: nameArea }));
                }

                for (i = 0; i < restaurantsAreas.length; i++) {

                    var areaIdInt = parseInt(restaurantsAreas[i].value, 10);
                    var areaNameNotSelected = restaurantsAreas[i].text;
                    var restaurantIdInt = parseInt(associations[restaurantsAreas[i].value], 10);

                    if (notSelectedAreas.indexOf(areaIdInt) > -1 && selectedRestaurants.indexOf(restaurantIdInt) > -1) {
                        $('#selectedArea_' + areasElements[k]).append($('<option/>', { value: areaIdInt.toString(), text: areaNameNotSelected }));
                    }

                }

                $('#selectedArea_' + areasElements[k]).val(idArea.toString());
            }

        };

        $("#linkLojas").click(function (e) {

            var curId = parseInt($("#lastId").val());

            var selectedRestaurants = [];
            for (i = 1; i <= curId; i++) {
                var idRestaurant = parseInt($('#selectedRestaurant_' + i + " option:selected").val());
                if (!isNaN(idRestaurant)) {
                    selectedRestaurants.push(idRestaurant);
                }
            }

            var restaurantSelect = $('<select/>', { id: 'selectedRestaurant_' + (curId + 1), name: 'selectedRestaurant_' + (curId + 1), class: "selected-restautants", onchange: "reloadRestautantAreas()" });
            $('<option/>', { value: "-1", text: "Selecione..." }).appendTo(restaurantSelect);
            for (i = 0; i < userRestaurants.length; i++) {
                if (!~selectedRestaurants.indexOf(parseInt(userRestaurants[i].value))) {
                    restaurantSelect.append($('<option/>', { value: userRestaurants[i].value, text: userRestaurants[i].text }));
                }
            }

            $("#lastId").val(curId + 1);

            var itemRestaurant = $('<li/>', { id: 'restaurant_' + (curId + 1) });
            restaurantSelect.appendTo(itemRestaurant);
            $('<span class="field-validation-valid" data-valmsg-for="selectedRestaurants_' + (curId + 1) + '" data-valmsg-replace="true"></span>').appendTo(itemRestaurant);
            $('<a/>', { href: "#", id: 'linkLojas_' + (curId + 1), title: 'Excluir', style: 'margin-left: 3px', onclick: 'event.preventDefault(); removeRestaurant(' + (curId + 1) + ')' })
                .addClass("table-delete-link").appendTo(itemRestaurant);
            $('<span class="clearFix">&nbsp;</span>').appendTo(itemRestaurant);

            itemRestaurant.insertAfter('#restaurant_' + restaurentElements[restaurentElements.length - 1]);

            restaurentElements.push(curId + 1);
        });

        function removeRestaurant(id) {

            for (i = areasElements.length - 1; i >= 0; i--) {
                var idArea = parseInt($('#selectedArea_' + areasElements[i] + " option:selected").val());
                var idRestaurant = parseInt($('#selectedRestaurant_' + id + " option:selected").val());

                if (!isNaN(idRestaurant) && !isNaN(idArea) && idRestaurant == parseInt(associations[idArea.toString()], 10)) {
                    $("#areaitem_" + areasElements[i]).remove();
                    var index = areasElements.indexOf(idArea);
                    areasElements.splice(index, 1);
                }
            }

            $("#restaurant_" + id).remove();
            var removeIndex = parseInt(restaurentElements.indexOf(id));
            restaurentElements.splice(removeIndex, 1);

            reloadAreas();
        }

        function removeAreaItem(idArea) {
            $("#areaitem_" + idArea).remove();
            var index = areasElements.indexOf(idArea);
            areasElements.splice(index, 1);

            reloadAreas();
        }

        $("#linkAreas").click(function (e) {
            var curId = parseInt($("#lastAreaId").val());
            var curRestaurantId = parseInt($("#lastId").val());

            var selectedRestaurants = [];
            for (i = 1; i <= curRestaurantId; i++) {
                var idRestaurant = parseInt($('#selectedRestaurant_' + i + " option:selected").val());
                if (!isNaN(idRestaurant)) {
                    selectedRestaurants.push(idRestaurant);
                }
            }

            var selectedAreas = [];
            for (i = 1; i <= curId; i++) {
                var idArea = parseInt($('#selectedArea_' + i + " option:selected").val());
                if (!isNaN(idArea)) {
                    selectedAreas.push(idArea);
                }
            }

            var areaSelect = $('<select/>', { id: 'selectedArea_' + (curId + 1), name: 'selectedArea_' + (curId + 1), class: "selected-areas", onchange: "reloadAreas()" });
            $('<option/>', { value: "-1", text: "Todas" }).appendTo(areaSelect);

            for (i = 0; i < restaurantsAreas.length; i++) {
                if (!~selectedAreas.indexOf(parseInt(restaurantsAreas[i].value)) && selectedRestaurants.indexOf(parseInt(associations[restaurantsAreas[i].value], 10)) > -1) {
                    areaSelect.append($('<option/>', { value: restaurantsAreas[i].value, text: restaurantsAreas[i].text }));
                }
            }

            $("#lastAreaId").val(curId + 1);

            var itemArea = $('<li/>', { id: 'areaitem_' + (curId + 1) });
            areaSelect.appendTo(itemArea);
            $('<span class="field-validation-valid" data-valmsg-for="selectedAreas_' + (curId + 1) + '" data-valmsg-replace="true"></span>').appendTo(itemArea);
            $('<a/>', { href: "#", id: 'linkAreas_' + (curId + 1), title: 'Excluir', style: 'margin-left: 3px', onclick: 'event.preventDefault(); removeAreaItem(' + (curId + 1) + ')' })
                .addClass("table-delete-link").appendTo(itemArea);
            $('<span class="clearFix">&nbsp;</span>').appendTo(itemArea);

            if (areasElements.length > 0) {
                itemArea.insertAfter('#areaitem_' + areasElements[areasElements.length - 1]);
            } else {
                itemArea.insertAfter('#linkAreasItem');
            }

            areasElements.push(curId + 1);

        });

        $("#FormExportOrdersByArea").on("submit", function (e) {
            e.preventDefault();
        });

        function createFilter() {
            var IdRestaurantList = [];
            for (i = 0; i < restaurentElements.length; i++) {
                var idRestaurant = parseInt($('#selectedRestaurant_' + restaurentElements[i] + " option:selected").val());
                if (!isNaN(idRestaurant) && idRestaurant > 0) {
                    IdRestaurantList.push(idRestaurant);
                } else if (idRestaurant == -1) {
                    IdRestaurantList = userRestaurantsIds;
                    break;
                }
            }

            var IdPolygonList = [];
            for (i = 0; i < areasElements.length; i++) {
                var idArea = parseInt($('#selectedArea_' + areasElements[i] + " option:selected").val());
                if (!isNaN(idArea) && idArea > 0) {
                    IdPolygonList.push(idArea);
                } else if (idArea == -1) {
                    IdPolygonList = [];
                    for (k = 0; k < restaurantsAreasIds.length; k++) {
                        var restaurantId = parseInt(associations[restaurantsAreasIds[k].toString()]);
                        if (IdRestaurantList.indexOf(restaurantId) > -1) {
                            IdPolygonList.push(restaurantsAreasIds[k]);
                        }
                    }
                    break;
                }
            }

            if (IdRestaurantList.length < 1) {
                IdRestaurantList = userRestaurantsIds;
            }

            var startParts = $("#From").val().split("/");
            var CreatedStart = new Date(parseInt(startParts[2], 10),
                              parseInt(startParts[1], 10) - 1,
                              parseInt(startParts[0], 10)
                              , 0, 0, 0, 0);

            var endParts = $("#To").val().split("/");
            var CreatedEnd = new Date(parseInt(endParts[2], 10),
                              parseInt(endParts[1], 10) - 1,
                              parseInt(endParts[0], 10)
                              , 23, 59, 59, 999);

            filter = {
                CreatedStart: CreatedStart,
                CreatedEnd: CreatedEnd,
                IdRestaurantList: IdRestaurantList,
                IdPolygonList: IdPolygonList,
                GroupByArea: $("#Filter_GroupByArea").is(":checked"),
                NumberOfDishes: parseInt($("#numberOfDishes option:selected").val())
            }
        }

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "money-pre": function (a) {
                var x = String(a).replace(".", "").replace(",", ".").replace(/(?!^-)[^0-9.]/g, "");
                return parseFloat(x);
            },

            "money-asc": function (a, b) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },

            "money-desc": function (a, b) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        });

        $("#exportAreaReport").on("click", function (e) {
            createFilter();
            downloadFile('ExportAreaReport');
        });

        var orderByAreaDatatable = $('#orderByArea').DataTable({
            "processing": true,
            "deferLoading": 0,
            data: orderByArea,
            columns: [
                { title: "Loja", data: "Restaurant", width: "25%" },
                { title: "Area de Atendimento", data: "Area", width: "25%" },
                { title: "Qtde. Pedidos", data: "Quantity", width: "10%" },
                {
                    title: "Total Pedidos", data: "Amount", type: "money", width: "15%", render: function (data, type, row) {
                        return data.formatMoney(2, "R$ ", ".", ",");
                    }
                },
                {
                    title: "%", data: "Percentage", width: "10%", render: function (data, type, row) {
                        return data.toFixed(2).toString().replace(".", ",") + " %";
                    }
                },
                {
                    title: "Ticket Médio", data: "Average", type: "money", width: "15%", render: function (data, type, row) {
                        return data.formatMoney(2, "R$ ", ".", ",");
                    }
                }
            ],
            "searching": false,
            "paging": false,
            "ordering": true,
            "info": false,
            "order": [],
            "language": {
                "emptyTable": "Nenhum Resultado"
            },
            "headerCallback": function (thead, data, start, end, display) {
                $(thead).find('th').css({ "padding-left": "10px" });
                $(thead).find('th').first().css({ "padding-left": "20px" });
                $(thead).find('th').css("color", "#666");
            },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api();

                var quantityTotal = api.column(2).data().reduce(function (a, b) {
                    return a + b;
                }, 0);

                var amountTotal = api.column(3).data().reduce(function (a, b) {
                    return a + b;
                }, 0);

                var percentTotal = api.column(4).data().reduce(function (a, b) {
                    return a + b;
                }, 0);

                if (!$('#orderByArea tfoot').length) {
                    $('#orderByArea').append("<tfoot></tfoot>");
                } else {
                    $('#orderByArea tfoot td').remove();
                }

                $("<td/>").append("<input id='exportOrderByArea' type='button' value='Exportar' style='padding: 3px 15px 3px 15px; margin-top: 5px' onClick='downloadFile(\"ExportOrderByArea\")' />").appendTo($('#orderByArea tfoot'));
                if ($("#Filter_GroupByArea").is(":checked")) {
                    $('#orderByArea tfoot').append($("<td/>"));
                }
                $('#orderByArea tfoot').append("<td style='padding-left:10px; font-weight:700'>" + quantityTotal + "</td>");
                $('#orderByArea tfoot').append("<td style='padding-left:10px; font-weight:700'>" + amountTotal.formatMoney(2, "R$ ", ".", ",") + "</td>");
                $('#orderByArea tfoot').append("<td style='padding-left:10px; font-weight:700'>" + percentTotal.toFixed(2).toString().replace(".", ",") + " %</td>");
                $('#orderByArea tfoot').append("<td style='padding-left:10px; font-weight:700'></td>");
            }
        });

        var paymentByAreaDatatable = $('#paymentByArea').DataTable({
            data: paymentByArea,
            columns: [
                { title: "Loja", data: "Restaurant", width: "20%" },
                { title: "Area de Atendimento", data: "Area", width: "20%" },
                { title: "Tipo Pagto.", data: "Payment", width: "20%" },
                { title: "Qtde. Pedidos", data: "Quantity", width: "15%" },
                {
                    title: "Total Pedidos", data: "Amount", type: "money", width: "15%", render: function (data, type, row) {
                        return data.formatMoney(2, "R$ ", ".", ",");
                    }
                },
                {
                    title: "%", data: "Percentage", width: "10%", render: function (data, type, row) {
                        return data.toFixed(2).toString().replace(".", ",") + " %";
                    }
                }
            ],
            "searching": false,
            "paging": false,
            "ordering": true,
            "info": false,
            "order": [],
            "language": {
                "emptyTable": "Nenhum Resultado"
            },
            "headerCallback": function (thead, data, start, end, display) {
                $(thead).find('th').css({ "padding-left": "10px" });
                $(thead).find('th').first().css({ "padding-left": "20px" });
                $(thead).find('th').css("color", "#666");
            },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api();

                var quantityTotal = api.column(3).data().reduce(function (a, b) {
                    return a + b;
                }, 0);

                var amountTotal = api.column(4).data().reduce(function (a, b) {
                    return a + b;
                }, 0);

                var percentTotal = api.column(5).data().reduce(function (a, b) {
                    return a + b;
                }, 0);

                if (!$('#paymentByArea tfoot').length) {
                    $('#paymentByArea').append("<tfoot></tfoot>");
                } else {
                    $('#paymentByArea tfoot td').remove();
                }

                $("<td/>").append("<input id='exportPaymentByArea' type='button' value='Exportar' style='padding: 3px 15px 3px 15px; margin-top: 5px' onClick='downloadFile(\"ExportPaymentByArea\")' />").appendTo($('#paymentByArea tfoot'));
                if ($("#Filter_GroupByArea").is(":checked")) {
                    $('#paymentByArea tfoot').append("<td style='padding-left:10px; font-weight:700'></td>");
                }
                $('#paymentByArea tfoot').append("<td style='padding-left:10px; font-weight:700'></td>");
                $('#paymentByArea tfoot').append("<td style='padding-left:10px; font-weight:700'>" + quantityTotal + "</td>");
                $('#paymentByArea tfoot').append("<td style='padding-left:10px; font-weight:700'>" + amountTotal.formatMoney(2, "R$ ", ".", ",") + "</td>");
                $('#paymentByArea tfoot').append("<td style='padding-left:10px; font-weight:700'>" + percentTotal.toFixed(2).toString().replace(".", ",") + " %</td>");
            }
        });

        var dishByAreaDatatable = $('#dishByArea').DataTable({
            data: dishByArea,
            columns: [
                { title: "Loja", data: "Restaurant", width: "20%" },
                { title: "Area de Atendimento", data: "Area", width: "20%" },
                { title: "Prato", data: "Dish", width: "30%" },
                { title: "Qtde. Pedidos", data: "Quantity", width: "15%" },
                {
                    title: "Ticket Médio", data: "Amount", type: "money", width: "15%", render: function (data, type, row) {
                        return data.formatMoney(2, "R$ ", ".", ",");
                    }
                }
            ],
            "searching": false,
            "paging": false,
            "ordering": true,
            "info": false,
            "order": [],
            "language": {
                "emptyTable": "Nenhum Resultado"
            },
            "headerCallback": function (thead, data, start, end, display) {
                $(thead).find('th').css({ "padding-left": "10px" });
                $(thead).find('th').first().css({ "padding-left": "20px" });
                $(thead).find('th').css("color", "#666");
            },
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api();

                var quantityTotal = api.column(3).data().reduce(function (a, b) {
                    return a + b;
                }, 0);

                var amountTotal = api.column(4).data().reduce(function (a, b) {
                    return a + b;
                }, 0);

                if (!$('#dishByArea tfoot').length) {
                    $('#dishByArea').append("<tfoot></tfoot>");
                } else {
                    $('#dishByArea tfoot td').remove();
                }

                $("<td/>").append("<input id='exportDishByArea' type='button' value='Exportar' style='padding: 3px 15px 3px 15px; margin-top: 5px' onClick='downloadFile(\"ExportDishByArea\")' />").appendTo($('#dishByArea tfoot'));
                if ($("#Filter_GroupByArea").is(":checked")) {
                    $('#dishByArea tfoot').append($("<td/>"));
                }
                $('#dishByArea tfoot').append($("<td/>"));
                $('#dishByArea tfoot').append("<td style='padding-left:10px; font-weight:700'></td>");// + quantityTotal + "</td>");
                $('#dishByArea tfoot').append("<td style='padding-left:10px; font-weight:700'></td>");// + amountTotal.formatMoney(2, "R$ ", ".", ",") + "</td>");
            }
        });

        $("#searchButton").on("click", function () {

            if ($("#From").val().toString().trim().length < 1) {
                showMessage("Deve ser informada uma data de início");
                return;
            }

            if ($("#To").val().toString().trim().length < 1) {
                showMessage("Deve ser informada uma data de término");
                return;
            }

            var startParts = $("#From").val().split("/");
            var CreatedStart = new Date(parseInt(startParts[2], 10),
                              parseInt(startParts[1], 10) - 1,
                              parseInt(startParts[0], 10)
                              , 0, 0, 0, 0);

            var endParts = $("#To").val().split("/");
            var CreatedEnd = new Date(parseInt(endParts[2], 10),
                              parseInt(endParts[1], 10) - 1,
                              parseInt(endParts[0], 10)
                              , 0, 0, 0, 0);

            var days = Math.round((CreatedEnd - CreatedStart) / (1000 * 60 * 60 * 24));

            if (days > 30) {
                showMessage("O período deve ser de no máximo 30 dias");
            } else {

                createFilter();

                $.ajax({
                    url: $("#applicationPath").val() + '/Report/OrderByArea',
                    type: 'POST',
                    async: true,
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        var colspan = $("#Filter_GroupByArea").is(":checked") ? 6 : 5;
                        $('#orderByArea tbody').children().remove();
                        $('#orderByArea tbody').append('<tr id="loadingOrderByArea" class="loadingReportByArea"><td colspan="' + colspan + '"><img src="@Url.Content("~/Content/Images/loading.gif")" width="70" height="70" /></td></tr>');
                    },
                    complete: function () {
                        $('#loadingOrderByArea').remove();
                    },
                    success: function (result) {
                        if (result.length > 0) {
                            orderByArea = result
                        } else {
                            orderByArea = [];
                        }

                        var column = orderByAreaDatatable.column(1);
                        column.visible($("#Filter_GroupByArea").is(":checked"));
                        orderByAreaDatatable.clear().rows.add(orderByArea).draw();
                    }
                });

                $.ajax({
                    url: $("#applicationPath").val() + '/Report/DishByArea',
                    type: 'POST',
                    async: true,
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        var colspan = $("#Filter_GroupByArea").is(":checked") ? 5 : 4;
                        $('#dishByArea tbody').children().remove();
                        $('#dishByArea tbody').append('<tr id="loadingDishByArea" class="loadingReportByArea"><td colspan="' + colspan + '"><img src="@Url.Content("~/Content/Images/loading.gif")" width="70" height="70" /></td></tr>');
                    },
                    complete: function () {
                        $('#loadingDishByArea').remove();
                    },
                    success: function (result) {

                        if (result.length > 0) {
                            dishByArea = result
                        } else {
                            dishByArea = [];
                        }

                        var column = dishByAreaDatatable.column(1);
                        column.visible($("#Filter_GroupByArea").is(":checked"));
                        dishByAreaDatatable.clear().rows.add(dishByArea).draw();
                    }

                });

                $.ajax({
                    url: $("#applicationPath").val() + '/Report/PaymentByArea',
                    type: 'POST',
                    async: true,
                    data: JSON.stringify(filter),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    beforeSend: function () {
                        var colspan = $("#Filter_GroupByArea").is(":checked") ? 6 : 5;
                        $('#paymentByArea tbody').children().remove();
                        $('#paymentByArea tbody').append('<tr id="loadingPaymentByArea" class="loadingReportByArea"><td colspan="' + colspan + '"><img src="@Url.Content("~/Content/Images/loading.gif")" width="70" height="70" /></td></tr>');
                    },
                    complete: function () {
                        $('#loadingPaymentByArea').remove();
                    },
                    success: function (result) {
                        if (result.length > 0) {
                            paymentByArea = result
                        } else {
                            paymentByArea = [];
                        }

                        var column = paymentByAreaDatatable.column(1);
                        column.visible($("#Filter_GroupByArea").is(":checked"));
                        paymentByAreaDatatable.clear().rows.add(paymentByArea).draw();
                    }
                });
            }
        });

        function downloadFile(from) {
            $.ajax({
                url: $("#applicationPath").val() + '/Report/' + from,
                type: 'POST',
                async: true,
                data: JSON.stringify(filter),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $('#loadingDownload').show();
                },
                complete: function () {
                    $('#loadingDownload').hide();
                },
                success: function (result) {
                    var response = result;
                    window.location = $("#applicationPath").val() + '/Report/Download?filename=' + response.FileName;
                }
            });
        }
    </script>
}


@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "FormExportOrdersByArea");
    htmlAttributes.Add("class", "middle-forms");
}

<div id="divDetails" class="box"></div>

@using (Html.BeginForm("ExportOrdersByArea", "Report", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    Yum.Delivery.Model.FilterDomain.AreaReportFilter Filter = new AreaReportFilter();
    if (ViewBag.FilterExportOrder != null)
    {
        Filter = (Yum.Delivery.Model.FilterDomain.AreaReportFilter)ViewBag.FilterExportOrder;
    }

    @Html.ValidationSummary(true)
    <fieldset id="reportFilters" class="filter">
        <h4 class="cursorPointer"><a href="#" class="open-link"></a> @Resources.ViewLabelNameStrings.Filter</h4>
        @Html.Hidden("lastId", 1, new { @id = "lastId", @class = "NoClear" })
        @Html.Hidden("lastAreaId", 0, new { @id = "lastAreaId", @class = "NoClear" })
        <ol>

            <li>
                <label class="field-title">Período:</label>
                @Html.TextBoxFor(s => Filter.CreatedStart, new { id = "From", @class = "date", @style = "width:70px" })
                a
                @Html.TextBoxFor(s => Filter.CreatedEnd, new { id = "To", @class = "date", @style = "width:70px" })
                @Html.ValidationMessageFor(s => Filter.CreatedStart)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li style="background-color:white;">
                <label class="field-title">Agrupar Área de Atendimento?</label>
                @Html.EditorFor(s => Filter.GroupByArea)
                @Html.ValidationMessageFor(s => Filter.GroupByArea)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">Quantidade de Pratos por Restaurante:</label>
                @Html.DropDownList("numberOfDishes", new List<SelectListItem>() {
                                                                new SelectListItem() { Text = "5", Value = "5" },
                                                                new SelectListItem() { Text = "10", Value = "10" },
                                                                new SelectListItem() { Text = "15", Value = "15" }},
                new { @id = "numberOfDishes" })
                @Html.ValidationMessageFor(s => Filter.NumberOfDishes)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li class="frm-separation" style="margin-top:10px">
                <h3>Lojas <a href="#Adicionais" class="add-link" id="linkLojas" title="Adicionar">&nbsp;</a></h3>
                <hr />
            </li>

            <li id="restaurant_1">
                @Html.DropDownList("selectedRestaurant_1", RestaurantList, @Resources.ViewLabelNameStrings.Select, new { @class = "selected-restautants", @onChange = "reloadRestautantAreas()" })
                @Html.ValidationMessage("selectedRestaurants_1")
                <span class="clearFix">&nbsp;</span>
            </li>

            <li id="linkAreasItem" class="frm-separation" style="margin-top:10px">
                <h3>Áreas <a href="#Adicionais" class="add-link" id="linkAreas" title="Adicionar">&nbsp;</a></h3>
                <hr />
            </li>

            <li>
                <input id="searchButton" type="submit" value="@Resources.ViewLabelNameStrings.Search" />
                <input id="exportAreaReport" type="submit" value="Exportar Todos" />
            </li>

        </ol>

    </fieldset>

    <div id="orderByAreaContainer" class="report-table">
        <table id="orderByArea" class="table-long" style="margin-top: 30px; margin-bottom: 15px; border-bottom:0px;"></table>
    </div>

    <div id="paymentByAreaContainer" class="report-table">
        <table id="paymentByArea" class="table-long" style="margin-top: 30px; margin-bottom: 15px; border-bottom:0px;"></table>
    </div>

    <div id="dishByAreaContainer" class="report-table">
        <table id="dishByArea" class="table-long" style="margin-top: 30px; margin-bottom: 15px; border-bottom:0px;"></table>
    </div>

    <div id="loadingDownload">
        <img src="~/Content/images/loading.gif" width="70" height="70" />
    </div>
}