﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.ProductCodeViewModel

<fieldset class="details">
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdProductCode)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IdProductCode)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Description)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Description)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Disabled)
        </span>
    </div>
</fieldset>