﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.ProductCodeViewModel

@{
    ViewBag.Title = "Apagar";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Html.RenderPartial("_Details", Model);
}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
}
@using (Html.BeginForm("Delete", "ProductCode", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    <fieldset class="details">
        <ol>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Delete" />
                <a class="button" href="@Url.Action("Index", "ProductCode", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
            </li>
        </ol>
    </fieldset>
}
