﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.ProductCodeViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @*Insira todos os códigos javascript aqui*@
}

@{Html.RenderPartial("_Details", Model);}

<p>
    @{
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
        ViewBag.Routes.Add("id", Model.IdProductCode);
    }

    @if (Roles.IsUserInRole(UserPermission.ProductCodeEdit))
    {
        <a class="button" href="@Url.Action("Edit", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
    }
    <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>