﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.ProductCodeViewModel

@{
    ViewBag.Title = "Edição";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#IdProductCode").prop('disabled', true);
        });
    </script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "RestaurantForm");
    htmlAttributes.Add("class", "middle-forms");
    htmlAttributes.Add("enctype", "multipart/form-data");

}

@using (Html.BeginForm("Edit", "ProductCode", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    Código
                </label>
                @Html.EditorFor(model => model.IdProductCode)
                @Html.ValidationMessageFor(model => model.IdProductCode)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ShowInCombo)
                </label>
                @Html.EditorFor(model => model.ShowInCombo)
                @Html.ValidationMessageFor(model => model.ShowInCombo)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>
                @Html.EditorFor(model => model.Disabled)
                @Html.ValidationMessageFor(model => model.Disabled)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                @if (ViewBag.AjaxCall == null || ViewBag.AjaxCall == false)
                {
                    <a class="button" href="@Url.Action("Index", "ProductCode", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                }
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>

    </fieldset>
}