﻿@model List<Yum.Delivery.BackOffice.Areas.BackOffice.Models.ProductCodeViewModel>

@{
    ViewBag.Title = "Lista de Códigos de Produtos";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.ProductCodeCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", "ProductCode", ViewBag.Routes)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "ProductCodeFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "ProductCode", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    ProductCodeFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (ProductCodeFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.search, new { @id = "search", @class = "NoClear", Value = "true" })
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBoxFor(filter => Filter.IdProductCode)
            </li>
            <li>
                <label class="field-title">
                    Descrição:
                </label>
                @Html.TextBoxFor(filter => Filter.Description)
            </li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Status, "Ativo") Ativo
                @Html.RadioButtonFor(filter => Filter.Status, "Inativo") Inativo
            </li>
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "ProductCodeFormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}

<table class="table-long">
    <thead>
        <tr>
            <th>
                <a href="" rel="idProductCodename" class="orderByLink">
                    Código
                </a>
            </th>
            <th>
                <a href="" rel="description" class="orderByLink">
                    Descrição
                </a>
            </th>
            <th>
                <a href="" rel="disabled" class="orderByLink">
                    Adicionar no Combo?
                </a>
            </th>
            <th>
                <a href="" rel="disabled" class="orderByLink">
                    Inativo?
                </a>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var productCode in Model)
            {
                if (ViewBag.Routes.ContainsKey("id"))
                {
                    ViewBag.Routes.Remove("id");
                }
                ViewBag.Routes.Add("id", productCode.IdProductCode);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => productCode.IdProductCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => productCode.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => productCode.ShowInCombo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => productCode.Disabled)
                    </td>
                    <td>
                    <td class="table-comand">
                        <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.ProductCodeEdit))
                        {
                            <a href="@Url.Action("Edit", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.ProductCodeDelete))
                        {
                            <a href="@Url.Action("Delete", ViewBag.Routes)" title="Excluir" class="table-delete-link"></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}