﻿@using Yum.Delivery.Model.MenuDomain;

@model Yum.Delivery.Model.ApiDomain.Response.OrderDomain.GetOrderDetailsResponse

<div class="row order-confirmation">
    <div class="large-8 medium-8 small-12 columns">
        <div class="panel">

            @switch (Model.OrderStatusFinal)
            {
                case Yum.Delivery.Model.OrderDomain.OrderStatusFinalEnum.PROCESSING:
                    {
                        <div class="small-4 large-4 columns showForMobileOnly" style="min-height:110px;">
                            <img src="~/Images/loading.gif" style="width: 110px;" />
                        </div>
                        <div class="small-4 large-4 columns hideForMobileOnly" style="min-height:130px;">
                            <img src="~/Images/loading.gif" style="width: 110px;" />
                        </div>

                        <h2>Processando pedido...</h2>
                        <br />
                        <h4> O número do seu pedido é: <span id="extraInfoIdOrder"> @Model.OrderDetails.OrderKey </span></h4>

                        break;
                    }
                case Yum.Delivery.Model.OrderDomain.OrderStatusFinalEnum.CONFIRMED:
                    {
                        <div class="small-4 large-4 columns showForMobileOnly" style="min-height:110px;">
                            <img src="@Url.Content("~/Images/ok.png")" style="width: 110px;" />
                        </div>
                        <div class="small-4 large-4 columns hideForMobileOnly" style="min-height:130px;">
                            <img src="@Url.Content("~/Images/ok.png")" style="width: 110px;" />
                        </div>

                        <h2>Obrigado pela compra.</h2>
                        <br />
                        <h4>O número do seu pedido é: @Model.OrderDetails.OrderKey</h4>

                        break;
                    }
                case Yum.Delivery.Model.OrderDomain.OrderStatusFinalEnum.CANCELLED:
                    {
                        <div class="small-4 large-4 columns showForMobileOnly" style="min-height:110px;">
                            <img src="@Url.Content("~/Images/error.png")" style="width: 110px;" />
                        </div>
                        <div class="small-4 large-4 columns hideForMobileOnly" style="min-height:130px;">
                            <img src="@Url.Content("~/Images/error.png")" style="width: 110px;" />
                        </div>

                        <h2>Pedido não confirmado.</h2>
                        <h4>O número do seu pedido é: @Model.OrderDetails.OrderKey</h4>

                        if (!Model.ErrorMessage.NullOrEmpty())
                        {
                            <p class="confirmation-mail showForMobileOnly"> @Model.ErrorMessage </p>
                            <p class="hideForMobileOnly"> @Model.ErrorMessage </p>
                        }

                        break;
                    }
            }

            <hr />
            <h6>Informações do pedido</h6>
            <div class="row">
                <div class="small-6 large-4 columns">
                    @if (Model.OrderDetails.ToGo)
                    {
                        <p>Data para retirada:</p>
                    }
                    else
                    {
                        <p>Data para entrega:</p>
                    }
                </div>
                <div class="small-6 large-8 columns">
                    <p>@Model.OrderDetails.ExpectedReadyTime.ToString("dd/MM/yyyy HH:mm")</p>
                </div>
            </div>
            <div class="row">
                <div class="small-6 large-4 columns">
                    <p>Número para contato:</p>
                </div>
                <div class="small-6 large-8 columns">
                    @if (Model.OrderDetails.RestaurantPhoneInfo != null)
                    {
                        foreach (var phone in Model.OrderDetails.RestaurantPhoneInfo)
                        {
                            if (phone.AreaCode != "00")
                            {
                                <p>@String.Format("({0}) {1}", phone.AreaCode, phone.Number)</p>
                            }
                            else
                            {
                                <p>@phone.Number</p>
                            }

                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="small-6 large-4 columns">
                    @if (Model.OrderDetails.ToGo)
                    {
                        <p>Retirar pedido em:</p>
                    }
                    else
                    {
                        <p>Entrega do pedido em:</p>
                    }
                </div>
                <div class="small-6 large-8 columns">
                    @{
                        String[] completeAddress;
                    }

                    @if (Model.OrderDetails.ToGo && Model.OrderDetails.RestaurantData != null && Model.OrderDetails.RestaurantData.Address != null)
                    {
                        completeAddress = new String[]
                            {
                                Model.OrderDetails.RestaurantData.Address.Address,
                                Model.OrderDetails.RestaurantData.Address.Number,
                                Model.OrderDetails.RestaurantData.Address.Neighborhood,
                                Model.OrderDetails.RestaurantData.Address.City,
                                Model.OrderDetails.RestaurantData.Address.StateCode
                            };
                        <p>
                            @String.Join(", ", completeAddress)
                        </p>
                    }
                    else if (Model.OrderDetails.DeliveryAddress != null)
                    {
                        List<String> completeAddressDelivery = new List<String>();
                        completeAddressDelivery.Add(Model.OrderDetails.DeliveryAddress.Address);
                        completeAddressDelivery.Add(Model.OrderDetails.DeliveryAddress.Number);
                        completeAddressDelivery.Add(Model.OrderDetails.DeliveryAddress.Neighborhood);
                        completeAddressDelivery.Add(Model.OrderDetails.DeliveryAddress.City);
                        completeAddressDelivery.Add(Model.OrderDetails.DeliveryAddress.StateCode);
                        <p>
                            @String.Join(", ", completeAddressDelivery)
                            @if (!Model.OrderDetails.DeliveryAddress.Complement.NullOrEmpty())
                            {
                                <br />
                                @Html.Raw(string.Format("Complemento: {0}", Model.OrderDetails.DeliveryAddress.Complement));
                            }
                            @if (!Model.OrderDetails.DeliveryAddress.Reference.NullOrEmpty())
                            {
                                <br />
                                @Html.Raw(string.Format("Referência: {0}", Model.OrderDetails.DeliveryAddress.Reference));
                            }
                        </p>
                    }
                    else if (Model.OrderDetails.CartDeliveryAddress != null)
                    {
                        List<String> completeAddressDelivery = new List<String>();
                        completeAddressDelivery.Add(Model.OrderDetails.CartDeliveryAddress.Address);
                        completeAddressDelivery.Add(Model.OrderDetails.CartDeliveryAddress.Number);
                        completeAddressDelivery.Add(Model.OrderDetails.CartDeliveryAddress.Neighborhood);
                        completeAddressDelivery.Add(Model.OrderDetails.CartDeliveryAddress.City);
                        completeAddressDelivery.Add(Model.OrderDetails.CartDeliveryAddress.StateCode);
                        <p>
                            @String.Join(", ", completeAddressDelivery)
                            @if (!Model.OrderDetails.CartDeliveryAddress.Complement.NullOrEmpty())
                            {
                                <br />
                                @Html.Raw(string.Format("Complemento: {0}", Model.OrderDetails.CartDeliveryAddress.Complement));
                            }
                            @if (!Model.OrderDetails.CartDeliveryAddress.Reference.NullOrEmpty())
                            {
                                <br />
                                @Html.Raw(string.Format("Referência: {0}", Model.OrderDetails.CartDeliveryAddress.Reference));
                            }
                        </p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="small-6 large-4 columns">
                    <p>&nbsp;</p>
                </div>
                <div class="small-6 large-8 columns" style="margin-top: 10px;">
                    @if (!Model.OrderDetails.PaymentTypeList.NullOrEmpty())
                    {

                        if (ViewBag.NotIncludeOrderDeliveryFee)
                        {
                            foreach (var payment in Model.OrderDetails.PaymentTypeList)
                            {
                                <h6>Total @Model.OrderDetails.Total.ToString("C")</h6>
                                <h6>Valor do Pedido @ViewBag.OrderTotalWithoutDeliveryFee.ToString("C") (@payment.Name)</h6>
                                <h6>@ViewBag.MessageDelivery</h6>
                            }
                        }
                        else
                        {
                            foreach (var payment in Model.OrderDetails.PaymentTypeList)
                            {
                                <h6>Total @Model.OrderDetails.Total.ToString("C") (@payment.Name)</h6>
                            }
                        }
                    }
                </div>
            </div>
            <hr />
            <h6>Dados de Contato</h6>
            <div class="row">
                <div class="small-6 large-4 columns">
                    <p>Nome:</p>
                </div>
                <div class="small-6 large-8 columns">
                    <p>@Model.OrderDetails.CustomerName</p>
                </div>
                <div class="small-6 large-4 columns">
                    <p>Endereço de e-mail:</p>
                </div>
                <div class="small-6 large-8 columns">
                    <p>@Model.OrderDetails.CustomerEmail</p>
                </div>
                <div class="small-6 large-4 columns">
                    <p>Telefone:</p>
                </div>
                <div class="small-6 large-8 columns">
                    <p>@Model.OrderDetails.CustomerPhoneNumber</p>
                </div>
            </div>
        </div>
    </div>
    <div class="large-4 tabletUp-4 columns sideMessage">
        <div class="panel">
            <h5>Meu Pedido</h5>
            <hr />
            @if (!Model.OrderDetails.OrderMenuDishList.NullOrEmpty())
            {
                foreach (var menuDish in Model.OrderDetails.OrderMenuDishList)
                {
                    <div class="row">
                        <div class="small-7 large-7 columns item">
                            <p class="item">@Html.Raw(string.Format("{0}x {1}", menuDish.Quantity, menuDish.Name))</p>
                            <ul>
                                @if (menuDish.OptionalList != null)
                                {
                                    foreach (var menudDishOptional in menuDish.OptionalList)
                                    {
                                        foreach (var menuDishOptionalItem in menudDishOptional.ItemList)
                                        {
                                            if (menuDishOptionalItem.IdMenuAttributeType == 22) //Incluir Extra
                                            {
                                                <li>Incluir: @menuDishOptionalItem.Name</li>
                                            }
                                            else if (menuDishOptionalItem.IdMenuAttributeType == 174) //Retirar Extra
                                            {
                                                <li>Retirar: @menuDishOptionalItem.Name</li>
                                            }
                                            else
                                            {
                                                <li>@menuDishOptionalItem.Name</li>
                                            }
                                        }
                                    }
                                }

                                @if (menuDish.FractionList != null)
                                {
                                    foreach (var fraction in menuDish.FractionList)
                                    {
                                        foreach (var menuDishOptional in fraction.OptionalList)
                                        {
                                            string itensInclude = string.Join(", ", menuDishOptional.ItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasAdd).Select(item => item.Name));
                                            string itensExclude = string.Join(", ", menuDishOptional.ItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasRemove).Select(item => item.Name));

                                            if (!itensInclude.NullOrEmpty())
                                            {
                                                <li>Incluir (1/2 @fraction.Name): @itensInclude</li>
                                            }

                                            if (!itensExclude.NullOrEmpty())
                                            {
                                                <li>Retirar (1/2 @fraction.Name): @itensExclude</li>
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                        <div class="small-5 large-5 columns">
                            <p class="text-right">R$ @String.Format("{0:0.00}", menuDish.TotalValue)</p>
                        </div>
                    </div>
                }
            }
            <hr />
            <p style="font-size:0.8em;"><span class="left">TAXA</span><span class="right">R$ @String.Format("{0:0.00}", Model.OrderDetails.DeliveryFee)</span></p>
            <br>
            <p style="font-size:0.8em;clear:both;"><span class="left" style="margin-top:4px;">TOTAL</span><span class="right" style="font-size:1.3em;font-weight: bold;">R$ @String.Format("{0:0.00}", Model.OrderDetails.Total)</span></p>
            <br>
        </div>
    </div>
</div>
