﻿@using Yum.Delivery.Model.CartDomain
@using Yum.Delivery.Model.MenuDomain
@model Yum.Delivery.Model.ApiDomain.Response.CartDomain.GetCartDataResponse

@section DataLayer{

<script type="text/javascript">
    window.dataLayer = window.dataLayer || []
    dataLayer.push(@Html.Raw(Json.Encode(ViewBag.DataLayer)));
</script>

}

@{
    var isCallCenterServer = DartDigital.Core.Configuration.AppConfiguration.Settings.EnvironmentSettings.GetSettingValueAsBoolean("isCallCenterServer");

    var actionLink = ((HeaderFooterViewModel)ViewBag.HeaderFooter) != null && ((HeaderFooterViewModel)ViewBag.HeaderFooter).GetHomeDataResponse != null && ((HeaderFooterViewModel)ViewBag.HeaderFooter).GetHomeDataResponse.RestaurantUniqueName.NullOrEmpty() ? "store-selector/index.html#startYourOrder" : Url.Action("Index", "Home");
    string dataReveal = string.Empty;

    bool hasSellingOut = (Model != null && Model.CartData != null && !Model.CartData.CartMenuDishList.NullOrEmpty() && !Model.CartData.CartMenuSellingOutDishList.NullOrEmpty());
    bool hasPromotion = (Model != null && Model.CartData != null && !Model.CartData.CartMenuDishList.NullOrEmpty() && !Model.CartData.CartMenuSalesPromotionGroupedList.NullOrEmpty());

    string cartDivClass = hasSellingOut || hasPromotion ? "large-9 medium-12 small-12 columns" : "large-12 medium-12 small-12 columns";

    var commaSeparatedNames = string.Empty;

    if (Model != null && Model.CartData != null && Model.CartData.CartMenuDishList != null)
    {
        var names = Model.CartData.CartMenuDishList.Select(cmd => cmd.Name).ToArray();
        commaSeparatedNames = string.Join(",", names);
    }

    string addressLine1 = string.Empty;
    string addressLine2 = string.Empty;
    string complement = string.Empty;
    string reference = string.Empty;

    if (Model.CartData != null)
    {
        if (Model.CartData.DeliveryAddress != null)
        {
            List<string> addressArray1 = new List<string>()
            {
                Model.CartData.DeliveryAddress.Address,
                Model.CartData.DeliveryAddress.Number
            };

            string[] addressArray2 = new string[]
            {
                Model.CartData.DeliveryAddress.Neighborhood,
                Model.CartData.DeliveryAddress.City,
                Model.CartData.DeliveryAddress.StateCode
            };

            addressLine1 = string.Join(", ", addressArray1);
            addressLine2 = string.Join(", ", addressArray2);

            if (!Model.CartData.DeliveryAddress.Complement.NullOrEmpty())
            {
                complement = string.Format("Complemento: {0}", Model.CartData.DeliveryAddress.Complement);
            }

            if (!Model.CartData.DeliveryAddress.Reference.NullOrEmpty())
            {
                reference = string.Format("Referência: {0}", Model.CartData.DeliveryAddress.Reference);
            }
        }
        else
        {
            string[] addressArray1 = new string[]
            {
                Model.CartData.RestaurantAddress.Address,
                Model.CartData.RestaurantAddress.Number
            };

            string[] addressArray2 = new string[]
            {
                Model.CartData.RestaurantAddress.Neighborhood,
                Model.CartData.RestaurantAddress.City,
                Model.CartData.RestaurantAddress.StateCode
            };

            addressLine1 = string.Join(", ", addressArray1);
            addressLine2 = string.Join(", ", addressArray2);
        }
    }
}

<!-- Carrinho
Essa tag deve ser colocada no carrinho
O pId deve ser a lista de produtos separado por vC-rgula (ex: 1001,3002,4005)

ATENÇÃO: O "for" abaixo serve como guia para implementação da tag, caso ele não seja necessário e você possua uma macro com os IDs dos produtos que estão no carrinho separado por vC-rgula, pode remover esse loop e utilizar sua macro, do contrário, fique atento aos parametros que você está passando, o ID deve ser o mesmo informado na página do produto
-->
@if (!isCallCenterServer)
{ 
	<script type="text/javascript">
		var pixelSRCType = (("https:" == document.location.protocol) ? "https://" : "http://");
		var cId = '9c24af63-c1e3-4c48-b38a-9fc71fa70e80';
		var tName = 'basket'; var revenue = '', orderId = ''; var p1 = '', p2 = '', p3 = '';

		var pId = '@commaSeparatedNames';

		document.write("<iframe src='" + pixelSRCType + "adserver.adnexio.com/Tracking/EventHandler?cId=" + cId + "&tName=" + tName + "&pId=" + pId + "&revenue=" + revenue + "&orderId=" + orderId + "&p1=" + p1 + "&p2=" + p2 + "&p3=" + p3 + "' allowtransparency='true' framespacing='0' frameborder='no' scrolling='no' width='0' height='0'></iframe>");
	</script>
}

<div class="row basket">
	@if (Model.CartData != null && !Model.CartData.CartMenuDishList.NullOrEmpty())
	{
		<div class="small-12 columns topTitle">
			<h3 class="text-left">Meu Pedido</h3>
		</div>
		<div class="@cartDivClass" id="cartDiv">            
			<div class="panel">
				<div id="divCartDishInfo">
					@foreach (var menuDish in Model.CartData.CartMenuDishList)
					{
						<div class="row">
							<div class="large-2 medium-2 small-3 columns">
								@if (!menuDish.FractionItemList.NullOrEmpty())
								{
									<img src="@Url.Content("~/Images/pizza-meio-a-meio.png")" alt="" class="left hide-for-smallest" width="100%" />
								}
								else
								{
									if (menuDish.ImageAddress == null)
									{
										menuDish.ImageAddress = "~/Images/PH_logo_telhado.png";
									}
									<img src="@Url.Content(menuDish.ImageAddress)" alt="" class="left hide-for-smallest" width="100%" />
								}
							</div>
							<div class="large-6 medium-6 small-9 columns disheInfoRow" style="margin:0;">
								<p>
									<strong>@menuDish.Name</strong>
									<span>
										@{var optionalBuilder = new List<string>();}
										@if (!menuDish.MenuDishOptionalList.NullOrEmpty())
										{
											foreach (var optional in menuDish.MenuDishOptionalList)
											{
                                                if (!optional.MenuDishOptionalItemList.NullOrEmpty())
												{
                                                    if (optional.IdMenuAttributeType == 15)
                                                    {
                                                        var includeList = optional.MenuDishOptionalItemList.Where(item => item.IdMenuAttributeType == 22).Select(item => item.Name).ToList();
                                                        var excludeList = optional.MenuDishOptionalItemList.Where(item => item.IdMenuAttributeType == 174).Select(item => item.Name).ToList();

                                                        if (!includeList.NullOrEmpty())
                                                        {
                                                            var optionalInclude = String.Format("Incluir: {0}", String.Join(", ", includeList));
                                                            optionalBuilder.Add(optionalInclude);    
                                                        }

                                                        if (!excludeList.NullOrEmpty())
                                                        {
                                                            var optionalExclude = String.Format("Retirar: {0}", String.Join(", ", excludeList));
                                                            optionalBuilder.Add(optionalExclude);    
                                                        }
                                                    }
                                                    else
                                                    {
                                                        var optionalItemBuilder = new List<string>();

                                                        foreach (var optionalItem in optional.MenuDishOptionalItemList)
                                                        {
                                                            optionalItemBuilder.Add(optionalItem.Name);
                                                        }

                                                        var optionalInfo = String.Format("{0}: {1}", optional.Name, String.Join(", ", optionalItemBuilder));

                                                        optionalBuilder.Add(optionalInfo);    
                                                    }													
												}
											}
										}

										@if (!menuDish.FractionItemList.NullOrEmpty())
                                        {
                                            foreach (var fractionItem in menuDish.FractionItemList)
                                            {
                                                if (!fractionItem.MenuDishOptionalList.NullOrEmpty())
                                                {
                                                    foreach (var optional in fractionItem.MenuDishOptionalList.Where(f => f.IdMenuAttributeType == MenuAttributeTypeEnum.PizzaExtras.GetHashCode()))
                                                    {
                                                        if (!optional.MenuDishOptionalItemList.NullOrEmpty())
                                                        {
                                                            if (optional.IdMenuAttributeType == 15)
                                                            {
                                                                var includeList = optional.MenuDishOptionalItemList.Where(item => item.IdMenuAttributeType == 22).Select(item => item.Name).ToList();
                                                                var excludeList = optional.MenuDishOptionalItemList.Where(item => item.IdMenuAttributeType == 174).Select(item => item.Name).ToList();

                                                                if (!includeList.NullOrEmpty())
                                                                {
                                                                    var optionalInclude = String.Format("Incluir (1/2 {0}): {1}", fractionItem.Name, String.Join(", ", includeList));
                                                                    optionalBuilder.Add(optionalInclude);
                                                                }

                                                                if (!excludeList.NullOrEmpty())
                                                                {
                                                                    var optionalExclude = String.Format("Retirar (1/2 {0}): {1}", fractionItem.Name, String.Join(", ", excludeList));
                                                                    optionalBuilder.Add(optionalExclude);
                                                                }
                                                            }
                                                            else
                                                            {
                                                                var optionalItemBuilder = new List<string>();

                                                                foreach (var optionalItem in optional.MenuDishOptionalItemList)
                                                                {
                                                                    optionalItemBuilder.Add(optionalItem.Name);
                                                                }

                                                                var optionalInfo = String.Format("{0}: {1}", optional.Name, String.Join(", ", optionalItemBuilder));

                                                                optionalBuilder.Add(optionalInfo);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

										@if (!optionalBuilder.NullOrEmpty())
										{
											@String.Join(" - ", optionalBuilder)
										}
									</span>
								</p>
								<br />
							</div>

							<div class="large-2 medium-2 small-5 columns">
								<div class="quantity-set">
									@if (!menuDish.IsGift)
									{
										<a class="numeral minus">
											<i class="fi-minus"></i>
										</a>
									}
									<input type="text" readonly value="@decimal.ToInt32(menuDish.Quantity)" />
									@if (!menuDish.IsGift)
									{
										<a class="numeral plus">
											<i class="fi-plus"></i>
										</a>
									}
								</div>
								<span class="delete-link" data-id="@menuDish.IdCartMenuDish">
									<a href="#" class="">Remover</a>
								</span>
								<br />
								<br />
							</div>
							<div class="large-2 medium-2 small-4 columns price">
								<h5>R$ <span data-default-price="@menuDish.UnitValue">@String.Format("{0:0.00}", menuDish.TotalValue)</span></h5>
							</div>
							<br />
							<hr class="fancy-separator" />
						</div>
					}
				</div>
				<div class="row">
					<div class="columns small-12 medium-6">
						<a href="@Url.Action("DefaultMenu", "Menu", new { restaurantUniqueName = Model.CartData.RestaurantUniqueName })" class="button redButton" @dataReveal style="margin-bottom: 0;" id="continueBuyingBtn">colocar mais itens</a>
						<div class="show-for-medium-down" style="padding:10px; display:block;"></div>
					</div>
					<div class="columns small-12 medium-6">
						@if (Model.CartData != null)
						{
							if (Model.CartData.IsGiftCodeRedeemEnable)
							{

								<a href="#" class="button greyButton" id="btnAddGiftCode">RESGATE PESQUISA SATISFAÇÃO</a>

							}
						}
					</div>
				</div>
			</div>
			
			<div class="panel checkoutInfo hide-for-small hide-for-medium">
				<div class="row">
					<div class="large-6 medium-6 small-12 columns">
						<div class="large-12 columns">
							<h4 class="title" style="line-height:30px;">
								@if (Model.CartData.DeliveryAddress != null)
								{
									<span class="backgroundBGTitle">Entregar em</span><br/>
									@Html.Raw(addressLine1)
									<br />
									@Html.Raw(addressLine2)

                                    if (!complement.NullOrEmpty())
                                    {
                                        <br />
                                        @complement
                                    }
                                    if (!reference.NullOrEmpty())
                                    {
                                        <br />
                                        @reference
                                    }
                                }
                                else
                                {
									<span class="backgroundBGTitle">Pedido para retirada</span><br />
									@Html.Raw(addressLine1)
									<br />
									@Html.Raw(addressLine2)
                                }
							</h4>                           
						</div>
					</div>
					<div class="large-6 medium-6 columns fullWidthButtons rightSide" style="margin-bottom:0px;">
						<div class="large-12 columns">
							<br />
							<p>
								<span class="left">SUBTOTAL</span>
								<span class="right">R$ <span id="subTotal">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.Subtotal) : String.Format("{0:0.00}", 0))</span></span>
							</p>
							<br />
							<p>
								<span class="left">TAXA ENTREGA</span>
								<span class="right">R$ <span id="deliveryFee">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.DeliveryFee) : String.Format("{0:0.00}", 0))</span></span>
							</p>
							<br />
							<br />
							<p>
								<span class="left total">TOTAL</span>
								<span class="right total">R$ <span id="total">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.Total) : String.Format("{0:0.00}", 0))</span></span>
							</p>
							<br />
							<br />
							@if (Model.CartData.IsMoipOneClickEnabled)
							{
								<a class="button redButton checkout checkoutButton">Compra 1 clique</a>
								<br />
							}
							<a class="button plainButton checkout checkoutButton">Finalize seu Pedido</a>              
						</div>
					</div>
				</div>
			</div>
		</div>
		if (!Model.CartData.CartMenuSellingOutDishList.NullOrEmpty() || !Model.CartData.CartMenuSalesPromotionGroupedList.NullOrEmpty())
		{
			<div id="divSellingOut">
				<div class="large-3 medium-12 small-12 columns panel sideBox">
					<h6>Adicionar acompanhamentos?</h6>
					@if (!Model.CartData.CartMenuSalesPromotionGroupedList.NullOrEmpty())
					{
						for (int i = 0; i < Model.CartData.CartMenuSalesPromotionGroupedList.Count; i++)
						{

							using (Html.BeginForm("AddCartMenuDish", "Cart", FormMethod.Post, new { @class = "menuDishForm" }))
							{
								<input type="hidden" name="requestModel.IsSellingOut" value="true" />
								<input type="hidden" name="requestModel.CartMenuDish.IdSalesPromotion" value="@Model.CartData.CartMenuSalesPromotionGroupedList[i].IdSalesPromotion" />

								<div class="sellingOutDetails">
									<div class="row">
										<div class="large-3 tabletUp-4 mobileWide-3 columns">
											@if (Model.CartData.CartMenuSalesPromotionGroupedList[i].ImageAddress != null)
											{
												<img src="@Url.Content(Model.CartData.CartMenuSalesPromotionGroupedList[i].ImageAddress)" alt="">
											}
											else
											{
												<img src="@Url.Content("~/Images/PH_logo_telhado.png")" alt="" />
											}
										</div>
										<div class="large-9 tabletUp-8 mobileWide-9 small-12 columns" style="margin: 0;">
											<h6 class="sideName right">@Model.CartData.CartMenuSalesPromotionGroupedList[i].Name</h6>
											<h5 class="right">R$ <span class="uniquePrice">@String.Format("{0:0.00}", Model.CartData.CartMenuSalesPromotionGroupedList[i].UnitValue)</span></h5>
										</div>
									</div>
									<div class="row fullWidthButtons">
										<div class="small-7 large-7 columns" style="float: right;">
											<a href="#" class="plainButton small addSellingOutButton" data-id="@Model.CartData.CartMenuSalesPromotionGroupedList[i].IdSalesPromotion">Adicionar</a>
											@Html.Hidden("requestModel.CartMenuDish.IdMenuDish", Model.CartData.CartMenuSalesPromotionGroupedList[i].IdMenuDish)
										</div>
									</div>
									@if (i < Model.CartData.CartMenuSalesPromotionGroupedList.Count - 1 || Model.CartData.CartMenuSellingOutDishList.Count > 0)
									{
										<hr style="margin: 10px 0; float:none;" />
									}
								</div>
							}
						}
					}
					@if (!Model.CartData.CartMenuSellingOutDishList.NullOrEmpty())
					{
						for (int i = 0; i < Model.CartData.CartMenuSellingOutDishList.Count; i++)
						{
							using (Html.BeginForm("AddCartMenuDish", "Cart", FormMethod.Post, new { @class = "menuDishForm" }))
							{
								<input type="hidden" name="requestModel.IsSellingOut" value="true" />

								<div class="sellingOutDetails">
									<div class="row">
										<div class="large-3 tabletUp-4 mobileWide-3 columns">
											@if (Model.CartData.CartMenuSellingOutDishList[i].ImageAddress != null)
											{
												<img src="@Url.Content(Model.CartData.CartMenuSellingOutDishList[i].ImageAddress)" alt="">
											}
											else
											{
												<img src="@Url.Content("~/Images/PH_logo_telhado.png")" alt="" />
											}
										</div>
										<div class="large-9 tabletUp-8 mobileWide-9 small-12 columns" style="margin:0;">
											<h6 class="sideName right">@Model.CartData.CartMenuSellingOutDishList[i].Name</h6>
											<h5 class="right">R$ <span class="uniquePrice">@String.Format("{0:0.00}", Model.CartData.CartMenuSellingOutDishList[i].UnitValue)</span></h5>
										</div>
									</div>
									<div class="row fullWidthButtons">
										<div class="small-7 large-7 columns" style="float: right;">
											<a href="#" class="plainButton small addSellingOutButton" data-id="@Model.CartData.CartMenuSellingOutDishList[i].IdSellingOutGroup">Adicionar</a>
											@Html.Hidden("requestModel.CartMenuDish.IdMenuDish", Model.CartData.CartMenuSellingOutDishList[i].IdMenuDish)
										</div>
									</div>
									@if (i < Model.CartData.CartMenuSellingOutDishList.Count - 1)
									{
										<hr style="margin: 10px 0; float:none;" />
									}
								</div>
							}
						}
					}
				</div>
			</div>
		}
		else
		{
			<div id="divSellingOut"></div>
		}
	}
	else
	{
		<div class="panel checkoutInfo hide-for-small hide-for-medium">
			<div class="row">
				<div class="large-6 medium-6 small-12 columns">
					<div class="large-12 columns">
						<h4 class="title" style="line-height:30px;">
							@if (Model.CartData != null)
							{ 
								if (Model.CartData.DeliveryAddress != null)
								{
									<span class="backgroundBGTitle">Entregar em</span><br />
									@Html.Raw(addressLine1)
									<br />
									@Html.Raw(addressLine2)

                                    if (!complement.NullOrEmpty())
                                    {
                                        <br />
                                        @complement
                                    }
                                    if (!reference.NullOrEmpty())
                                    {
                                        <br />
                                        @reference
                                    }
                                }
                                else
                                {
									<span class="backgroundBGTitle">Pedido para retirada</span><br />
									@Html.Raw(addressLine1)
									<br />
									@Html.Raw(addressLine2)
                                }
                            }
						</h4>
					</div>
				</div>
				<div class="large-6 medium-6 columns fullWidthButtons rightSide" style="margin-bottom:0px;">
					<div class="large-12 columns">
						<br />
						<p>
							<span class="left">SUBTOTAL</span>
							<span class="right">R$ <span id="subTotal">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.Subtotal) : String.Format("{0:0.00}", 0))</span></span>
						</p>
						<br />
						<p>
							<span class="left">TAXA ENTREGA</span>
							<span class="right">R$ <span id="deliveryFee">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.DeliveryFee) : String.Format("{0:0.00}", 0))</span></span>
						</p>
						<br />
						<br />
						<p>
							<span class="left total">TOTAL</span>
							<span class="right total">R$ <span id="total">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.Total) : String.Format("{0:0.00}", 0))</span></span>
						</p>
						<br />
						<br />
						@if (Model.CartData != null && Model.CartData.IsMoipOneClickEnabled)
						{
							<a class="button redButton checkout checkoutButton">Compra 1 clique</a>
								<br />
						}
						<a class="button plainButton checkout checkoutButton">Finalize seu Pedido</a>
					</div>
				</div>
			</div>
		</div>
	}
	<div class="small-12 columns">
		<div class="panel checkoutInfo hide-for-large-up">
			<div class="row">
				<div class="large-12 columns">
					<h4 class="title" style="line-height:30px; padding-bottom:15px;">
						@if (Model.CartData != null)
						{
							if (Model.CartData.DeliveryAddress != null)
							{
								<span class="backgroundBGTitle">Entregar em</span><br />
								@Html.Raw(addressLine1)
								<br />
								@Html.Raw(addressLine2)

                                if (!complement.NullOrEmpty())
                                {
                                    <br />
                                    @complement
                                }
                                if (!reference.NullOrEmpty())
                                {
                                    <br />
                                    @reference
                                }
                            }
                            else
                            {
								<span class="backgroundBGTitle">Pedido para retirada</span><br />
								@Html.Raw(addressLine1)
								<br />
								@Html.Raw(addressLine2)
                            }
                        }
					</h4>
					<hr class="fancy-separator" style="margin:.5rem 0 .9rem 0;" />
				</div>
				<div class="large-6 medium-12 columns fullWidthButtons rightSide hide-for-large-up" style="margin-bottom:0px; border:none;">                    
					<div class="large-12 columns">
						<br />
						<p>
							<span class="left">SUBTOTAL</span>
							<span class="right">R$ <span id="subTotal">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.Subtotal) : String.Format("{0:0.00}", 0))</span></span>
						</p>
						<br />
						<p>
							<span class="left">TAXA ENTREGA</span>
							<span class="right">R$ <span id="deliveryFee">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.DeliveryFee) : String.Format("{0:0.00}", 0))</span></span>
						</p>
						<br />
						<br />
						<p>
							<span class="left total">TOTAL</span>
							<span class="right total">R$ <span id="total">@(Model.CartData != null ? String.Format("{0:0.00}", Model.CartData.Total) : String.Format("{0:0.00}", 0))</span></span>
						</p>
						<br />
						<br />
						@if (Model.CartData != null && Model.CartData.IsMoipOneClickEnabled)
						{
							<a class="button redButton checkout checkoutButton">Compra 1 clique</a>
							<br />
						}
						<a class="button plainButton checkout checkoutButton">Finalize seu Pedido</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	@if (Model.CartData != null)
	{
		if (Model.CartData.IsGiftCodeRedeemEnable)
		{
			<div id="giftModal" class="reveal-modal medium giftModal exactCenter">
				<a class="close-modal show-for-medium-up" style="z-index:1;">×</a>
				<div class="row show-for-small-only" style="height:5px; position:relative;">
					<div class="small-12 large-12 columns text-right">
						<a class="close-modal" style="z-index:1; top:-25px; right:20px;">×</a>
					</div>
				</div>
				<div class="row">
					<div class="small-12 large-12 columns">
						<h3 class="text-center" style="color:#000000">Resgate Presente Pesquisa Satisfação</h3>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						@using (Html.BeginForm("AddCouponCode", "Cart", FormMethod.Post, new { @class = "salesCouponCodeForm" }))
						{
							<div class="small-12 medium-6 medium-offset-3 columns">
								<h6 class="title" style="color:#000000">Cupom Fiscal</h6>
							</div>
							<div class="small-12 medium-6 medium-offset-3 columns">
								@Html.TextBox("request.GiftCode", Model.CartData.GiftCode, new { @placeholder = "Número", @maxlength = "20", @class = "numerico" })
								@Html.ValidationMessageFor(model => model.CartData.GiftCode)
							</div>
							<div class="small-12 medium-6 medium-offset-3 columns" style="float:left">
								<a class="yellowButton text-center addGiftCouponCode">RESGATAR</a>
							</div>
						}
					</div>
				</div>
			</div>
		}
	}
</div>

@section Scripts{
	<script type="text/javascript">
	function calculateTotal(cartInfo) {
		$('#cartTotal, #subTotal').text(cartInfo.SubTotal.toFixed(2).replace('.', ','));
		$('#cartCounter').text($('.price span').length);
		$('#miniCartCounter').text($('.price span').length);
		$('#discount').text(cartInfo.Discount.toFixed(2).replace('.', ','));
		$('#deliveryFee').text(cartInfo.DeliveryFee.toFixed(2).replace('.', ','));
		$('#total').text((cartInfo.SubTotal + cartInfo.DeliveryFee - cartInfo.Discount).toFixed(2).replace('.', ','));
	}

	function deleteCartMenuDish(idCartMenuDish) {
		$("body").css("cursor", "progress");

		$.post('@Url.Action("DeleteCartMenuDish", "Cart")', { idCartMenuDish: idCartMenuDish }, function (result) {
			if (result.Success) {
				$('#divCartDishInfo').find('.delete-link[data-id="' + idCartMenuDish + '"]').closest('.row').remove();

				var idOtherCartMenuDishDeleted = result.IdOtherCartMenuDishDeleted;

				if (idOtherCartMenuDishDeleted != null && idOtherCartMenuDishDeleted != undefined) {
					$('#divCartDishInfo').find('.delete-link[data-id="' + idOtherCartMenuDishDeleted + '"]').closest('.row').remove();
				}

				calculateTotal(result);

				var $cloned = $("#wideDeletedFromCartTooltip").clone();

				$("#wideDeletedFromCartTooltip").after($cloned);

				var currentScrollPos = $(window).scrollTop();

				if (currentScrollPos > 0) {
					currentScrollPos -= 40;
				}

				$cloned.css({ 'top': currentScrollPos + 'px' });

				$(window).scroll(function () {
					var scrollTop = $(window).scrollTop();
					$cloned.css({ 'top': scrollTop + 'px' });
				});

				if ($(window).width() <= 380) {
					$cloned.css({ 'left': 10 + 'px' });
				}

				$cloned.show();
				$cloned.fadeIn(500).delay(4500).fadeOut(1500, function () { $cloned.remove(); });

				var $clonedMobile = $("#wideDeletedFromCartTooltipMobile").clone();

				$("#wideDeletedFromCartTooltipMobile").after($clonedMobile);

				$clonedMobile.show();
				$clonedMobile.fadeIn(500).delay(4500).fadeOut(1500, function () { $clonedMobile.remove(); });

				if (result.SubTotal == 0) {
					$("#divSellingOut").addClass("hide");
					$('.topTitle').addClass('hide');
					var $cloned1 = $('.checkoutInfo:first').clone();
					$cloned1.removeClass('checkoutInfo');
					$('.checkoutInfo:first').parent().addClass('hide');
					$('.checkoutInfo:first').parent().after($cloned1);
				} else {
					refreshSellingOutDishesSalesPromotion(result.CartMenuSellingOutDishList, result.CartMenuSalesPromotionGroupedList);
				}
			} else {
				showMessage(result.ErrorMessage);
			}
		});
	}

	function hideGiftModal(event) {
		event.preventDefault();
		$('.giftModal').css('display', 'none').css('visibility', 'hidden');
		$(".alertbg").hide();
	}

	$(document).ready(function () {
		if ('@ViewBag.CartMessage' != null && '@ViewBag.CartMessage' != '')
		{
			showMessage('@ViewBag.CartMessage');
		}

		$('#cartDiv').on("click", "#btnAddGiftCode", function (event) {
			event.preventDefault();
			hideGiftModal(event);
			var dif = event.clientX;

			if (dif != undefined) {
				$('.giftModal').css('display', 'block').css('visibility', 'visible');
			}

			$('.alertbg').show();
		});

		$('#giftModal').on("click", ".close-modal", function (event) {
			event.preventDefault();
			hideGiftModal(event);
		});

		$('.numerico').mask('00000000000000000000', { reverse: true });

		$('#divCartDishInfo').on("click", ".quantity-set .numeral", function (event) {
			event.preventDefault();
			var quantity = parseInt($(event.currentTarget).parent().find('input').val());

			if ($(event.target).is('.fi-minus') || $(event.target).is('.minus')) {
				quantity--;
			} else if ($(event.target).is('.fi-plus') || $(event.target).is('.plus')) {
				quantity++;
			}

			if (quantity == 0) {
				return;
			}

			$("body").css("cursor", "progress");

			$.post('@Url.Action("EditCartMenuDishQuantity", "Cart")', { idCartMenuDish: $(this).closest('.row').find('.delete-link').data('id'), newQuantity: quantity }, function (result) {
				if (result.Success) {

					$(event.currentTarget).parent().find('input').val(quantity);
					var $priceSpan = $(event.currentTarget).closest('.row').find('.price span');

					$priceSpan.text(result.TotalDishEdited.toFixed(2).replace('.', ','));

					calculateTotal(result);
					refreshSellingOutDishesSalesPromotion(result.CartMenuSellingOutDishList, result.CartMenuSalesPromotionGroupedList);

					if (result.CartMenuDishList != null) {
						refreshCartMenuDishList(result.CartMenuDishList);
					}

					$('#cartCounter').text($('.price span').length);
					$('#miniCartCounter').text($('.price span').length);
				} else {
					showMessage(result.ErrorMessage);
				}
			});
		});

		$('#confirmConfirmationModal').on("click", function (event) {
			deleteCartMenuDish($(this).attr('data-id'));

			hideConfirmationMessage(event)
		});

		$('#divCartDishInfo').on("click", ".delete-link", function (event) {
			event.preventDefault();

			var cartMenuDishInSalesPromotionDouble;
			var idSalesPromotionDoubleOtherDish;

			$("body").css("cursor", "progress");

			$.ajax({
				type: "GET",
				url: '@Url.Action("CheckCartMenuDishInSalesPromotionDouble", "Cart")',
				data: { idCartMenuDish: $(this).data('id') },
				async: false,
				success: function (result) {
					cartMenuDishInSalesPromotionDouble = result.CartMenuDishInSalesPromotionDouble;
					idSalesPromotionDoubleOtherDish = result.IdSalesPromotionDoubleOtherDish
				}
			});

			var index = $(this).closest('.row').index();

			if (cartMenuDishInSalesPromotionDouble) {
				showConfirmationMessageToDeleteDish('Prato utilizado em promoção. Deseja realmente excluir?', $(this).data('id'));
			} else {
				deleteCartMenuDish($(this).data('id'));
			}
		});

		$('.checkout').on('click', function (event) {
			if (!$("#divCartDishInfo").length || !$("#divCartDishInfo").find(".row").length) {
				showMessage("Carrinho vazio, comece seu pedido novamente")
			} else {
				$.ajax({
					type: "GET",
					url: '@Url.Action("ValidateCartSalesPromotion", "Cart")',
						async: false,
						success: function (result) {
							if (!result.Success) {
								event.preventDefault();

								showMessage(result.ErrorMessage);
							}
						}
					});
				}
			});

			$(".checkoutButton").on("click", function (e) {
				e.preventDefault();

				checkCartWithItens($(this));
			});

			$('#continueBuyingBtn').on('click', function (e) {
				putLoadingGif($(this));
			});

			$('#giftModal').on('click', '.addGiftCouponCode', function (event) {
				event.preventDefault();
				var $form = $(this).closest('form');
				var $dform = $form.clone();
				var $thisProductImage;
				var thisProductName;
				var $thisProductOptions = "";
				var thisProductValueText = "0";

				var $addGiftCouponCodeBtn = $(this);

				putLoadingGif($addGiftCouponCodeBtn);

				$.post($dform.attr('action'), $dform.serialize(), function (result) {
					try {
						if (result.Success) {
							for (var i = 0; i < result.CartData.CartData.CartMenuDishList.length; i++) {
								var item = result.CartData.CartData.CartMenuDishList[i];
								if (item.IsGift) {
									$thisProductImage = item.ImageAddress;
									thisProductName = item.Name;
								}
							}
							refreshCartDishes(result);
							hideGiftModal(event);
							refreshSellingOutDishesSalesPromotion(result.CartData.CartData.CartMenuSellingOutDishList, result.CartData.CartData.CartMenuSalesPromotionGroupedList);
							calculateTotal(result);
							$("#CartData_GiftCode").val($("#request_GiftCode").val());
							showMessage("Brinde adicionado com sucesso!");
						} else {
							showMessage(result.ErrorMessage);
						}
					} finally {
						$addGiftCouponCodeBtn.empty();
						$addGiftCouponCodeBtn.text("RESGATAR");
					}
				});
			});
		});

		function checkCartWithItens($checkoutBtn) {
			if (!$("#divCartDishInfo").length || !$("#divCartDishInfo").find(".row").length) {
				showMessage("Carrinho vazio, comece seu pedido novamente")
			} else {
				putLoadingGif($checkoutBtn)

				window.location.href = "@Url.Action("CheckoutRegisterUser", "Cart")";
		}
	}
	</script>
}
