﻿@using Yum.Delivery.Model.MenuDomain;

@model Yum.Delivery.Model.ApiDomain.Response.OrderDomain.GetIntegratedOrderInfoResponse

@section DataLayer{

    <script type="text/javascript">
    window.dataLayer = window.dataLayer || []
    dataLayer.push(@Html.Raw(Json.Encode(ViewBag.DataLayer)));
    </script>

}

@{
    var isCallCenterServer = DartDigital.Core.Configuration.AppConfiguration.Settings.EnvironmentSettings.GetSettingValueAsBoolean("isCallCenterServer");

    long orderId = 0;
    string revenue = "0";
    var pId = string.Empty;

    if (Model != null)
    {
        orderId = Model.OrderKey;
        revenue = Model.Total.ToString("0.##").Replace(',', '.');

        if (!Model.OrderMenuDishList.NullOrEmpty())
        {
            var names = Model.OrderMenuDishList.Select(omd => omd.Name).ToArray();
            pId = string.Join(",", names);
        }
    }

    bool orderSuccess = ViewBag.OrderSuccess != null && (bool)ViewBag.OrderSuccess;
    bool showFavoriteButton = ViewBag.ShowFavoriteButton != null && (bool)ViewBag.ShowFavoriteButton & orderSuccess;
}

@if (!isCallCenterServer)
{
    <!-- Conversão - Pedido Concluído
    Essa tag deve ser colocada na conversão, seguindo a mesma sequência do carrinho,
    Devemos preencher as variáveis "revenue" e "orderId"
    -->
    <script type="text/javascript">
        var pixelSRCType = (("https:" == document.location.protocol) ? "https://" : "http://");
        var cId = '9c24af63-c1e3-4c48-b38a-9fc71fa70e80';
        var tName = 'conversion'; var p1 = '', p2 = '', p3 = '';

        var pId='@pId';

        var revenue = '@revenue'; //Valor total do pedido
        var orderId = '@orderId'; //ID do pedido

        document.write("<iframe src='" + pixelSRCType + "adserver.adnexio.com/Tracking/EventHandler?cId="+cId+"&tName="+tName+"&pId="+pId+"&revenue="+revenue+"&orderId="+orderId+"&p1="+p1+"&p2="+p2+"&p3="+p3+"' allowtransparency='true' framespacing='0' frameborder='no' scrolling='no' width='0' height='0'></iframe>");
    </script>

    if (Model != null && orderSuccess && !isCallCenterServer)
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function ()
                { (i[r].q = i[r].q || []).push(arguments) }
                , i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-58846608-1', 'auto');
            ga('send', 'pageview');
        </script>

        <script>
            ga('require', 'ecommerce');

            @{ var restaurantName = Model.RestaurantData != null ? Model.RestaurantData.Name : string.Empty;  }

            var total = '@Model.Total'.replace(',','.');
            var shipping = '@Model.DeliveryFee'.replace(',','.');

            ga('ecommerce:addTransaction', {
                'id': '@Model.OrderKey',                                    // Transaction ID. Required.
                'affiliation': '@Html.Raw(restaurantName)',                 // Affiliation or store name.
                'revenue': total,                                           // Grand Total.
                'shipping': shipping,                                       // Shipping.
                'currency': 'BRL'
            });

            @if (!Model.OrderMenuDishList.NullOrEmpty())
            {
                @:var unitValue;

                foreach (var item in Model.OrderMenuDishList)
                {
                    <text>
            unitValue = '@item.TotalUnitValue'.replace(',','.');

            ga('ecommerce:addItem', {
                'id': '@Model.OrderKey',                             // Transaction ID. Required.
                'name': '@Html.Raw(item.Name)',                      // Product name. Required.
                'price': unitValue,                                  // Unit price.
                'quantity': '@item.Quantity'                         // Quantity.
            });
            </text>
                }
            }

            ga('ecommerce:send');
        </script>
        }
    }

<div class="row order-confirmation">
    <div class="large-8 medium-8 small-12 columns">
        <div class="panel">
            <div class="small-4 large-4 columns">
                @if (orderSuccess)
                {
                    <img src="@Url.Content("~/Images/ok.png")" style="width: 110px;" />
                }
                else
                {
                    <img src="@Url.Content("~/Images/error.png")" style="width: 110px;" />
                }
            </div>

            @if (showFavoriteButton)
            {
                if (ViewBag.FavoriteOrderAdded != null && (bool)ViewBag.FavoriteOrderAdded)
                {
                    <a href="#"><img src="@Url.Content("~/Images/star-selected.png")" title="Pedido Favoritado" id="favorite_order" style="float: right; margin-left: 10px;" width="40" /></a>
                }
                else
                {
                    <a href="#"><img src="@Url.Content("~/Images/star-deselected.png")" title="Favoritar Pedido" id="favorite_order" style="float: right; margin-left: 10px;" width="40" /></a>
                }
            }

            @if (orderSuccess)
            {
                <h2>Obrigado pela compra.</h2>
                <h4>O número do seu pedido é: @Model.OrderKey</h4>
                <p class="confirmation-mail showForMobileOnly">Te enviaremos um e-mail de confirmação.</p>
                <p class="hideForMobileOnly">Te enviaremos um e-mail de confirmação.</p>
            }
            else
            {
                <h2>Pedido não confirmado.</h2>
                <h4>O número do seu pedido é: @Model.OrderKey</h4>

                if (!string.IsNullOrEmpty(ViewBag.OrderErrorMessage))
                {
                    <p class="confirmation-mail showForMobileOnly"> @ViewBag.OrderErrorMessage </p>
                    <p class="hideForMobileOnly"> @ViewBag.OrderErrorMessage </p>
                }
            }
            <br />
            <hr />
            <h6>Informações do pedido</h6>
            @if (Model.IsCallCenter)
            {
                <div class="row">
                    <div class="small-6 large-4 columns">
                        <p>Cliente:</p>
                    </div>
                    <div class="small-6 large-8 columns">
                        <p>@Model.CustomerName</p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-4 columns">
                        <p>E-Mail:</p>
                    </div>
                    <div class="small-6 large-8 columns">
                        <p>@Model.CustomerEmail</p>
                    </div>
                </div>
                <div class="row">
                    <div class="small-6 large-4 columns">
                        <p>Telefone do Cliente:</p>
                    </div>
                    <div class="small-6 large-8 columns">
                        <p>@Model.CustomerPhoneNumber</p>
                    </div>
                </div>
            }
            @if (orderSuccess)
            {
                <div class="row">
                    <div class="small-6 large-4 columns">
                        @if (Model.ToGo)
                        {
                            <p>Data para retirada:</p>
                        }
                        else
                        {
                            <p>Data para entrega:</p>
                        }
                    </div>
                    <div class="small-6 large-8 columns">
                        <p>@Model.ExpectedReadyTime.ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                </div>
            }
            else if (ViewBag.SendOrderError != null)
            {
                <h6>@ViewBag.SendOrderError</h6>
            }
            <div class="row">
                <div class="small-6 large-4 columns">
                    <p>Número de contato do restaurante:</p>
                </div>
                <div class="small-6 large-8 columns">
                    @foreach (var phone in Model.RestaurantPhoneInfo)
                    {
                        if (phone.AreaCode != "00")
                        {
                            <p>@String.Format("({0}) {1}", phone.AreaCode, phone.Number)</p>
                        }
                        else
                        {
                            <p>@phone.Number</p>
                        }
                    }
                </div>
            </div>
            @if (orderSuccess)
            {
                <div class="row">
                    <div class="small-6 large-4 columns">
                        @if (Model.ToGo)
                        {
                            <p>Retirar pedido em:</p>
                        }
                        else
                        {
                            <p>Entrega do pedido em:</p>
                        }
                    </div>
                    <div class="small-6 large-8 columns">
                        @{ String[] completeAddress; }

                        @if (Model.ToGo)
                        {
                            completeAddress = new String[]
                        {
                            Model.RestaurantData.Address.Address,
                            Model.RestaurantData.Address.Number,
                            Model.RestaurantData.Address.Neighborhood,
                            Model.RestaurantData.Address.City,
                            Model.RestaurantData.Address.StateCode
                        };
                            <p>
                                @String.Join(", ", completeAddress)
                            </p>
                        }
                        else
                        {
                            List<String> completeAddressDelivery = new List<String>();
                            completeAddressDelivery.Add(Model.DeliveryAddress.Address);
                            completeAddressDelivery.Add(Model.DeliveryAddress.Number);
                            completeAddressDelivery.Add(Model.DeliveryAddress.Neighborhood);
                            completeAddressDelivery.Add(Model.DeliveryAddress.City);
                            completeAddressDelivery.Add(Model.DeliveryAddress.StateCode);

                            <p>
                                @String.Join(", ", completeAddressDelivery)
                                @if (!Model.DeliveryAddress.Complement.NullOrEmpty())
                                {
                                    <br />
                                    @Html.Raw(string.Format("Complemento: {0}", Model.DeliveryAddress.Complement));
                                }
                                @if (!Model.DeliveryAddress.Reference.NullOrEmpty())
                                {
                                    <br />
                                    @Html.Raw(string.Format("Referência: {0}", Model.DeliveryAddress.Reference));
                                }
                            </p>
                        }
                    </div>

                </div>
                <div class="row">
                    <div class="small-6 large-4 columns">
                        <p>&nbsp;</p>
                    </div>
                    <div class="small-6 large-8 columns" style="margin-top: 10px;">
                        @if (ViewBag.NotIncludeOrderDeliveryFee)
                        {
                            foreach (var payment in Model.PaymentTypeList)
                            {
                                <h6>Total @Model.Total.ToString("C")</h6>
                                <h6>Valor do pedido @ViewBag.OrderTotalWithoutDeliveryFee.ToString("C") (@payment.Name)</h6>
                                <h6>@ViewBag.MessageDelivery</h6>
                            }
                        }
                        else
                        {
                            foreach (var payment in Model.PaymentTypeList)
                            {
                                <h6>Total @Model.Total.ToString("C") (@payment.Name)</h6>
                            }
                        }
                    </div>
                </div>
                            }
            @if (Model.IsOrderWithoutRegistration)
            {
                <hr />
                <h6>Dados de Contato</h6>
                <div class="row">
                    <div class="small-6 large-4 columns">
                        <p>Nome:</p>
                    </div>
                    <div class="small-6 large-8 columns">
                        <p>@Model.CustomerName</p>
                    </div>
                    <div class="small-6 large-4 columns">
                        <p>Endereço de e-mail:</p>
                    </div>
                    <div class="small-6 large-8 columns">
                        <p>@Model.CustomerEmail</p>
                    </div>
                    <div class="small-6 large-4 columns">
                        <p>Telefone:</p>
                    </div>
                    <div class="small-6 large-8 columns">
                        <p>@Model.CustomerPhoneNumber</p>
                    </div>
                </div>
                if (orderSuccess)
                {
                    using (Html.BeginForm("RegisterOnOrderDetails", "Customer", FormMethod.Post, new { @id = "registerForm" }))
                    {

                        Yum.Delivery.FrontEnd.Models.CustomerRegistrationOnOrderDetailsViewModel model = null;
                        <div id="registrationPanel">
                            @Html.HiddenFor(s => model.OrderKey, new { @Value = Model.OrderKey })
                            <hr />
                            <h6>Crie sua conta</h6>
                            <div class="row">
                                <div class="small-12 large-6 columns">
                                    <label>Senha*</label>
                                    @Html.PasswordFor(s => model.Password, new { @placeholder = "Senha" })
                                    @Html.ValidationMessageFor(s => model.Password)
                                </div>
                                <div class="small-12 large-6 columns">
                                    <label>Confirme sua senha*</label>
                                    @Html.PasswordFor(s => model.PasswordConfirmation, new { @placeholder = "Confirme sua senha" })
                                    @Html.ValidationMessageFor(s => model.PasswordConfirmation)
                                </div>
                            </div>
                            <div class="row">
                                <div class="columns large-8 medium-8 registrationAccept">
                                    <input type="checkbox" id="IsActive" class="styledCheckbox" name="IsActive" required>
                                    <label for="IsActive" style="margin: 0px; margin-bottom:15px;">
                                        Eu concordo com os
                                        <a target="_blank" href="@Url.Action("Termos", "Home")">Termos de Uso</a>
                                        e entendo que minhas informações serão usadas conforme descrito na página de
                                        <a target="_blank" href="@Url.Action("Termos", "Home")">Política de Privacidade</a> da Pizza Hut
                                    </label>
                                    <span class="field-validation-valid" data-valmsg-for="IsActive" id="allowTermsCheck"></span>
                                </div>
                                <div class="columns large-4 medium-4 text-right registrationAccept">
                                    <input type="button" value="Criar Conta" class="button redButton registerCustomer" style="width:100%;" id="createAccountBtn" data-default-value="Criar Conta">
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="large-4 tabletUp-4 columns sideMessage">
        <div class="panel">
            <h5>Meu Pedido</h5>
            <hr />
            @foreach (var menuDish in Model.OrderMenuDishList)
            {
                <div class="row dishRow">
                    <div class="small-7 large-7 columns item">
                        <p class="item">@Html.Raw(string.Format("{0}x {1}", menuDish.Quantity, menuDish.Name))</p>
                        <ul>
                            @if (menuDish.OptionalList != null)
                            {
                                foreach (var menudDishOptional in menuDish.OptionalList)
                                {
                                    foreach (var menuDishOptionalItem in menudDishOptional.ItemList)
                                    {
                                        if (menuDishOptionalItem.IdMenuAttributeType == 22) //Incluir Extra
                                        {
                                            <li>Incluir: @menuDishOptionalItem.Name</li>
                                        }
                                        else if (menuDishOptionalItem.IdMenuAttributeType == 174) //Retirar Extra
                                        {
                                            <li>Retirar: @menuDishOptionalItem.Name</li>
                                        }
                                        else
                                        {
                                            <li>@menuDishOptionalItem.Name</li>
                                        }
                                    }
                                }
                            }

                            @if (menuDish.FractionList != null)
                            {
                                foreach (var fraction in menuDish.FractionList)
                                {
                                    foreach (var menuDishOptional in fraction.OptionalList)
                                    {
                                        string itensInclude = string.Join(", ", menuDishOptional.ItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasAdd).Select(item => item.Name));
                                        string itensExclude = string.Join(", ", menuDishOptional.ItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasRemove).Select(item => item.Name));

                                        if (!itensInclude.NullOrEmpty())
                                        {
                                            <li>Incluir (1/2 @fraction.Name): @itensInclude</li>
                                        }

                                        if (!itensExclude.NullOrEmpty())
                                        {
                                            <li>Retirar (1/2 @fraction.Name): @itensExclude</li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="small-5 large-5 columns">
                        <p class="text-right">R$ @String.Format("{0:0.00}", menuDish.TotalValue)</p>
                    </div>
                </div>
            }
            <hr />
            <p><span class="left">TAXA</span><span class="right">R$ @String.Format("{0:0.00}", Model.DeliveryFee)</span></p>
            <br />
            <p style="clear:both;"><span class="left" style="margin-top:4px;">TOTAL</span><span class="right" style="font-size:1.3em;font-weight: bold;">R$ @String.Format("{0:0.00}", Model.Total)</span></p>
            <br />
        </div>
    </div>
</div>
@{
    if (!isCallCenterServer)
    {
        <!-- Google Code for Vendas Conversion Page -->
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 859502243;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "0XUECN2UgXIQo-3rmQM";
            var google_conversion_value = @Model.Total.ToString().Replace(',', '.');
            var google_conversion_currency = "BRL";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/859502243/?value=@Model.Total&amp;currency_code=BRL&amp;label=j9cECMCylm8Qo-3rmQM&amp;guid=ON&amp;script=0" />
            </div>
        </noscript>
    }
}

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#favorite_order').on({
                'click': function(){
                    if($(this).attr('src') === '@Url.Content("~/Images/star-deselected.png")') {
                        $.post('@Url.Action("AddFavoriteOrder", "Cart")',
                        { idOrder: '@Model.OrderKey', sessionId: '@Model.SessionId' },
                        function (favorited) {
                            if (favorited) {
                                $('#favorite_order').attr('src', '@Url.Content("~/Images/star-selected.png")');
                                $('#favorite_order').attr('title', 'Pedido Favoritado');
                            }
                        });
                    }
                }
            });

            $.post('@Url.Action("CleanConfirmationStatusSession", "Cart")', function (result) { });

            $('#PasswordConfirmation').rules('add', { equalTo: '#Password', messages: { equalTo: 'O valor deve ser igual ao do campo Senha' } });

            $('#IsActive').change(function (event) {
                event.preventDefault();

                $('#IsActive').removeClass("input-validation-error").addClass("input-validation-valid");
                $("#allowTermsCheck").removeClass("field-validation-error").removeClass("inlineErrorBox").addClass("field-validation-valid").text("");

            });

            $('#registerForm').on('click', '.registerCustomer', function (event){
                event.preventDefault();

                if ($('#createAccountBtn').hasClass("btnLoading"))
                    return;

                var $form = $(this).closest('form');

                if (!$('#IsActive').is(':checked'))
                {
                    $("#allowTermsCheck").removeClass("field-validation-valid").addClass("field-validation-error").html("É necessário concordar com os termos de uso e política de privacidade.").show();
                }

                if ($form.valid()) {

                    putBtnLoadingGif($('#createAccountBtn'));

                    $.post($form.attr('action'), $form.serialize(), function (result) {

                        removeBtnLoadingGif($('#createAccountBtn'));

                        if (result.Success) {
                            $('#registrationPanel').hide();
                            $('#Password').val('');
                            $('#PasswordConfirmation').val('');
                            showMessage("Cadastro efetuado com sucesso.");
                        } else {
                            showMessage(result.ErrorMessage);
                        }
                    });
                }
            });
        });
    </script>
}