@import 'sass_libs/mixins.scss';
@import 'sass_libs/variables.scss';
@import 'sass_libs/fonts.scss';

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.glyphicon-adjust:before {
    content: "\e063";
}

.glyphicon-ok-sign:before {
    content: "\e084";
}

.glyphicon-ok-sign {
    color: green !important;
}

.glyphicon-ok-circle:before {
    content: "\e089";
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    -moz-font-feature-settings: "pnum";
    background: url(../images/background.jpg) no-repeat #252523;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px;
}

.home-bg {
    background: url(../images/pizza-home-bg.jpg) no-repeat #252523;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

%checkboxFlags_label {
    width: 84%;
    line-height: 15px;
    color: #000;
    font-size: 14px;
    float: left;
    margin-left: 5px;
}

%primaryButton_common {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    font-size: 1.125rem;
    font-weight: bold;
    color: #000;
    display: block;
    padding: 10px 7px 6px 7px;
    margin: 0 0 15px 0;
    line-height: 2rem;
    box-sizing: border-box;
    text-transform: uppercase;
    background-color: #ffd800;
    border-radius: 10px;

    &:hover {
        color: #111 !important;
        background-color: darken(#ffd800, 5%);
    }
}

%largerButton_common {
    cursor: pointer;
    font-size: 1.125rem;
    color: #000;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    border: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 14px 7px 10px 7px;
    box-sizing: border-box;
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    background-color: #ffd800;
    border-radius: 10px;

    &:hover {
        color: #111 !important;
        background-color: darken(#ffd800, 5%);
    }
}

%banner_navButton {
    position: absolute;
    top: 25%;
    width: 6%;
    height: 1px;
    padding: 2% 0 7%;
}

a {
    color: #fed75f;

    &:hover {
        color: #fed75f;
    }

    &.largerButton {
        @extend %largerButton_common;
    }
}

p {
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

h1 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff;
}

h2 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff;
}

h3 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff;

    span {
        font-size: 14px;
    }
}

h4 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff;
}

h5 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff;
}

h6 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.25rem;
}

label {
    cursor: default;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

#globalNavWide {
    padding-left: 0;
    padding-right: 0;

    .large-12 {
        padding-left: 0;
        padding-right: 0;
    }

    a {
        width: 100%;
        padding-right: 0;
        padding-bottom: 1rem;
        font-size: 1.125rem;
        line-height: 1.125rem;
        text-transform: uppercase;
        font-weight: bold;
        font-family: UnitedSans, Tahoma, Arial, Helvetica, sans-serif;
        border-left: 1px solid rgba(255, 255, 255, 0.5);
    }

    li {
        padding: 0;

        &.selected {
            a {
                background: #fff;
                color: #000;
            }
        }

        &:first-child a {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-left: none;
        }

        &:last-child a {
            background: #ffd800;
            color: #000;
            border-radius: 0;
            border-left: none;
            font-size: 1.3rem;
            line-height: 1.3rem;
            height: 50px;
        }
    }

    .medium-10, .medium-2 {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }



    #startYourOrderNav {
        position: relative;

        .followBg {
            position: absolute;
            width: 50%;
            height: 100%;
            background: #ffd800;
            left: -2px;
        }

        a {
            font-size: 1.3rem;
            border-left: none;
            border-radius: 10px;
            line-height: 1.3rem;
            height: 50px;
            width: 100%;
            text-align: center;
            padding-right: 0;
            padding-left: 0;
            margin-bottom: 0;
        }
    }
}

.panel {
    background: rgba(0, 0, 0, 0.7);
    border: none;

    p {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        color: #fff;
    }

    h1 {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        color: #fff;
    }

    h2 {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        color: #fff;
    }

    h3 {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        color: #fff;
    }

    h4 {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        color: #fff;
    }

    h5 {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        color: #fff;
    }

    h6 {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        color: #fff;
    }

    button.aBitLessSecondary h5 {
        color: #fff;
    }

    .button.aBitLessSecondary h5 {
        color: #fff;
    }
}

label {
    font-weight: bold;
    padding-bottom: 5px;
}

.bottom-margin {
    margin-bottom: 15px !important;
}

select {
    background: url(../images/select-arrow.png) no-repeat;
    background-repeat: no-repeat;
    background-position: 95% center;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.marginTop5px {
    margin-top: 5px;
}

.marginTop10px {
    margin-top: 10px;
}

.sideMessage {
    .panel {
        background: rgba(0,0,0,0.7);
        color: #fff;
        padding: 1rem;
        border: none;

        h5 {
            color: #fff;
            font-size: 18px;
            padding-bottom: 0;
        }

        h4 {
            color: #fff;
            font-size: 18px;
            padding-bottom: 0;
            font-size: 17px;
        }

        p {
            font-size: 15px;
            margin-bottom: 0 !important;
        }

        * {
            color: #fff;
        }

        hr {
            margin: 0.5rem 0;
            display: block;
            border: none;
            color: white;
            height: 1px;
            background: black;
            background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#666), to(rgba(0,0,0,0)));
        }

        .item {
            margin-bottom: 10px;

            &.last {
                margin-bottom: 0;
            }

            ul {
                margin: 5px 0 0 5px;

                li {
                    font-size: 11px;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
            }
        }

        .dishRow {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .sideboxBGTitle {
        font-size: 12px;
        color: #000;
        background: #fed350;
        padding: 3px;
        margin-bottom: 5px;
        display: inline-block;
    }

    ul li {
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }
}

.startOrderMobile {
    margin-top: 35px;

    a {
        padding-right: 0;
        border-radius: 5px;
    }
}

.backgroundBGTitle {
    font-size: 22px;
    color: #000;
    background: #fed350;
    padding: 5px 10px;
    margin-bottom: 0px;
    display: inline-block;
    line-height: 12px;
}

.inlineErrorBox {
    background: $primary_color;
    border-radius: 5px;
    position: relative;
    color: #fff !important;
    font-size: 13px;
    padding: 10px;
    margin: -5px 0 16px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-weight: bold;

    &:before {
        border-color: transparent transparent $primary_color;
        border-image: none;
        border-style: inset inset solid;
        border-width: 6px;
        content: "";
        display: block;
        height: 0;
        left: 10px;
        position: absolute;
        top: -12px;
        width: 0;
        z-index: 2;
    }

    &:after {
        border-color: transparent transparent $primary_color;
        border-image: none;
        border-style: inset inset solid;
        border-width: 7px;
        content: "";
        display: block;
        height: 0;
        left: 9px;
        position: absolute;
        top: -14px;
        width: 0;
        z-index: 3;
    }
}

.mainModal {
    min-height: auto;

    p {
        color: #000;
    }

    h1 {
        color: #000;
        font-weight: bold;
        margin-bottom: 30px;
    }

    h2 {
        color: #000;
    }

    h3 {
        color: #000;
    }

    h4 {
        color: #000;
    }

    h5 {
        color: #000;
        margin-bottom: 15px;
    }

    h6 {
        color: #000;
    }

    span {
        color: #000;
    }

    strong {
        color: #000;
    }

    #FindAddress {
        color: #bf0712;
        margin-top: 10px;
        display: inline-block;
    }

    hr {
        border-color: #dcdcdc;
        margin-left: -30px;
        margin-right: -30px;

        &.or {
            border: 1px solid #000;
            margin-top: 17px;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .login-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    .passwdBox {
        input[type=checkbox] {
            float: left;
            margin-top: 3px;
        }

        .pickAStoreTarget {
            width: 100%;
        }

        .small-6 a {
            color: #ea0b19;
        }
    }

    #futureOrder {
        margin-top: 15px;
    }

    .lessMargin {
        margin-left: -45px;
        margin-right: -45px;
    }

    .numeral {
        background: #000;
        width: 40px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        margin-top: 0px;
        font-size: 16px;
    }

    #getLocationForm {
        h6 {
            padding-bottom: 15px;
        }
    }

    #restaurantAddressResults {
        padding-left: 0;
        padding-right: 0;
    }

    .foundAddress {
        padding: 15px 0px 15px 15px;
        cursor: pointer;
        margin-bottom: 15px;

        &:hover {
            background: #ea0b19;

            span {
                color: #fff;
            }

            strong {
                color: #fff;
            }

            .numeral {
                background: #fff;
                color: #000;
            }
        }

        .yellowButton {
            margin-top: 15px;
            margin-bottom: 0;
            text-align: center;
        }
    }

    #mapHolder {
        margin-bottom: 30px;
        height: 300px;

        @include media-query(extra-small) {
            height: 150px;
        }
    }

    #determineDeliveryOrCarryout img {
        margin: -5px 10px 0 0;
    }

    .orSeparator strong {
        font-size: 22px;
    }

    #loadingNextAction img {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .inlineErrorBox span {
        color: #fff;
    }

    .registerContainer {
        padding-top: 15px;
    }
}

.loginPage {
    hr {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }

    .registerContainer {
        padding-left: 0;
        padding-right: 0;
    }

    .large-6.tabletUp-6.columns .custom label {
        font-size: 0.8rem;
    }

    form {
        margin-bottom: 0px;
    }

    .orLogin {
        line-height: 40px;
        padding-top: 0px;
        margin-top: -1px;

        @include media-query(extra-small) {
            padding-top: 8px;
            margin-top: 0;
        }
    }
}

.registrationAccept {
    padding-bottom: 15px;
    padding-top: 15px;

    input[type=checkbox] {
        float: left;
        margin-top: 0;
    }

    label {
        @extend %checkboxFlags_label;

        a {
            color: #fed75f;
        }
    }
}

.registrationTopText {
    @include media-query(extra-small) {
        display: inline-block;
        margin-top: 25px;
    }
}

.registrationPage {
    @include media-query(extra-small) {
        .accordion dd.accordion-navigation > a {
            font-size: 18px;

            em {
                margin-top: 2px;
            }
        }
    }

    .accordion {
        .content {
            &.active {
                background-color: rgba(0,0,0,0.7);
            }
        }
    }

    label {
        color: #fff;
    }
}

.checkboxFlags {
    padding-bottom: 15px;
    padding-top: 15px;

    input[type=checkbox] {
        float: left;
        margin-top: 0;
    }

    label {
        @extend %checkboxFlags_label;

        a {
            color: #bf0712;
        }
    }
}

.productCard {
    background-color: transparent !important;
    border: none;
    padding-bottom: 3.5rem;

    h4, p {
        color: #fff;
    }

    .column, .columns {
        padding-left: .5375rem;
        padding-right: .5375rem;
    }

    .price {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #fff;
        text-align: center;
        padding-top: 20px;

        @include media-query(extra-small) {
            margin-bottom: 15px;
            font-size: 23px;
        }
    }

    p {
        font-size: 16px;
        line-height: 16px;
    }

    .customizeLink {
        font-size: 11px;
        padding-top: 8px;
    }

    .button {
        margin-bottom: 0;
    }

    .productOptions .largerButton {
        font-size: 1.2rem;

        &:hover {
            color: #111 !important;
        }
    }

    .productOptions .largerButton.btn-disabled, .productOptions .largerButton.disabled {
        opacity: 0.7;
        cursor: default;

        &:hover {
            opacity: 0.7 !important;
            cursor: default;
            background-color: #ffd800;
        }
    }

    .pizza-half-btn, .extras-btn {
        text-align: center;
        margin-bottom: 1rem;

        &.selected .glyphicon {
            color: #fff;
        }

        &.btn-disabled, &.disabled {
            opacity: 0.7;
            cursor: default;

            &:hover {
                opacity: 0.7 !important;
                cursor: default;
                color: #fff !important;
                background-color: #827c7b;
            }
        }
    }

    .has-tip {
        border: none;
        font-weight: normal;
        height: 50px;

        &:hover {
            color: #fff;
        }
    }
}

#checkoutBreadcrumb {
    margin-bottom: 10px;
    background-color: #222222;
    padding-top: 0;
    padding-bottom: 0;

    @include media-query(extra-small) {
        margin-top: 5px;
    }
}

.checkout {
    background: rgba(0,0,0,0.7);
    margin-bottom: 25px;

    #splitPaymentRadios {
        .payment-item {
            padding: 10px 0 0 0;
        }

        .styledRadioButton {
            margin-bottom: 0;

            &:before {
                margin: -5px 0 0 -5px;
            }

            &.checked:before {
                margin: -5px 0 0 -5px;
            }
        }

        label {
            vertical-align: top;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }

    h3 {
        color: #fff;
    }

    h4 {
        color: #fff;

        &.paymentTitle {
            padding: 0;
            margin: 0;
        }
    }

    h5 {
        color: #fff;
    }

    label {
        color: #fff;
    }

    hr {
        display: block;
        border: none;
        color: white;
        height: 1px;
        background: black;
        background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#666), to(rgba(0,0,0,0)));
    }

    .orderButton {
        font-size: 19px;
        font-weight: bolder;
    }

    #splitPaymentRadios {
        .styledRadioButton {
            margin-left: 10px;
        }
    }

    .splitPaymentPanel hr {
        margin-left: 0;
        margin-right: 0;
    }

    .accordion {
        .content {
            background-color: transparent;
        }

        dd.accordion-navigation > a {
            padding: 10px 0 5px 15px;

            &:hover {
                background: #222;
            }
        }

        .img-card {
            margin-right: 5px;
        }

        #money {
            input[type=text] {
                margin-bottom: 0 !important;
            }
        }
    }

    #PaymentPanel_Online {
        margin-top: 20px;

        .card-data {
        }
    }

    #saveCardInformation {
        display: inline;
    }

    .address-title {
        margin-top: 25px;
    }
}

.basket {
    .topTitle {
        @include media-query(extra-small) {
            display: inline-block;
            margin-top: 25px;
            padding-left: 20px;
        }
    }

    .panel {
        .disheInfoRow {
            p {
                font-size: 14px;
                display: block;

                strong {
                    font-size: 20px;
                    width: 100%;
                    display: inline-block;
                }
            }
        }

        hr {
            float: left;
            width: 100%;
            margin: 1.7rem 0;
        }

        .total {
            font-size: 21px;
            line-height: 22px;
            font-weight: bold;

            &:first-of-type {
                font-weight: normal;
                padding-top: 3px;
            }
        }

        .rightSide {
            border-left: 1px solid #dcdcdc;

            @include media-query(640px) {
                border-left: none;
            }
        }

        .backgroundBGTitle {
            @include media-query(extra-small) {
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 5px;
            }
        }

        background-color: rgba(0,0,0,0.4);
        color: #fff;
        border: none;

        p, h5, h6 {
            color: #fff;
        }

        .button {
            margin-bottom: 0;
        }

        .backgroundBGTitle {
            margin-bottom: 10px;
        }
    }

    .sideBox {
        background: rgba(0,0,0,0.7);
        border: none;

        h6 {
            color: #fff;
            font-size: 15px;
            margin-bottom: 15px;

            &.sideName {
                font-size: 13px;
                line-height: 15px;
                width: 100%;
                text-align: right;
            }
        }

        h5 {
            color: #fff;
        }

        p {
            color: #fff;
        }

        div {
            color: #fff;
        }

        span {
            color: #fff;
        }

        .fullWidthButtons {
            padding-top: 15px;

            .plainButton {
                padding: 7px 0 5px 0px;
            }
        }

        hr {
            margin: 1.325rem 0 !important;
            border: none;
            color: white;
            height: 1px;
            background: black;
            background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#666), to(rgba(0,0,0,0)));
        }
    }

    .quantity-set {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;

        input[type=text] {
            display: inline;
            width: 29px;
            text-align: center;
            padding: 0;
            background: transparent;
            border: none;
            color: #fff;
            font-size: 18px;
        }

        .numeral {
            width: 20px;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
        }

        a:hover {
            color: #fff;
        }
    }

    .delete-link {
        width: 100%;
        font-size: 14px;
        display: block;
        text-align: center;

        a {
            color: #fed75f;
        }
    }

    .price {
        padding: 0;

        h5 {
            padding: 0;
            font-size: 23px;
            text-align: center;
        }
    }

    .checkoutInfo h5 {
        font-size: 20px;
    }

    .checkoutInfo.hide-for-large-up {
        @include media-query(extra-small) {
            margin-bottom: 5px;
        }
    }
}

.yellowButton {
    @extend %primaryButton_common;

    &:hover {
        color: #111;
    }
}

input.yellowButton {
    border: none;
    cursor: pointer;
    width: 100%;
}

.primaryAddButton {
    @extend %primaryButton_common;

    &:hover {
        color: #111;
    }
}

.plainButton {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    background-repeat: repeat-x;
    background-color: rgba(0,0,0,0.00);
    background-position: 100% 50%;
    font-weight: bold;
    color: #000;
    display: block;
    padding: 10px 7px 6px 7px;
    margin: 0 0 15px 0;
    line-height: 2rem;
    box-sizing: border-box;
    font-size: 1.125rem;
    text-transform: uppercase;
    background-color: #ffd800;
    border-radius: 10px;
    text-align: center;

    &:hover {
        color: #444;
        background-color: darken(#ffd800, 5%);
    }
}

.redButton {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    background-repeat: repeat-x;
    background-color: rgba(0,0,0,0.00);
    background-position: 100% 50%;
    font-weight: bold;
    color: #fff;
    display: block;
    border-radius: 5px;
    padding: 10px 7px 6px 7px;
    margin: 0 0 15px 0;
    line-height: 2rem;
    box-sizing: border-box;
    font-size: 1.125rem;
    text-transform: uppercase;
    background-color: #ed0000;
    border-radius: 10px;

    &:hover {
        color: #eee;
        background-color: darken(#ed0000, 5%);
    }
}

.greyButton {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    background-repeat: repeat-x;
    background-color: rgba(0,0,0,0.00);
    background-position: 100% 50%;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 10px 7px 6px 7px;
    margin: 0 0 15px 0;
    line-height: 2rem;
    box-sizing: border-box;
    font-size: 1.125rem;
    text-transform: uppercase;
    background-color: #827c7b;
    border-radius: 10px;

    &:hover {
        color: #eee;
        background-color: darken(#827c7b, 5%);
    }
}

.redButton.small {
    font-size: 1rem;
    line-height: 1.68rem;
}

#storeLocatorLink {
    background: #222222;
    color: #ffffff;
    border-bottom: 1px solid #b0b0b0;
    border-bottom: 1px solid #000;

    &:last-of-type {
        border-bottom: none;
    }
}

.docs {
    margin: 3% 0;
    font-size: 1.2em;

    h3 {
        font-size: 1.2em;
        font-weight: bold;
        margin: .5em 0;
    }

    p {
        margin: 0 0 1em;
    }
}

.a11y-only {
    position: absolute;
    left: -999em;
}

.table-wrapper {
    position: relative;
    margin: 5em 0;
}

.table-menu-wrapper {
    position: absolute;
    top: 0;
    right: 0;
}

.table-menu {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1.2em;
    width: 12em;
    right: 0;
    left: auto;
    z-index: 9999;

    li {
        padding: .1em 0;
        margin: 0;
        clear: both;

        label {
            font-size: 12px;
        }

        input {
            float: left;
            margin: 7px 0 0;
        }
    }

    ul {
        list-style: none;
    }
}

.table-menu-hidden {
    left: -999em;
    right: auto;
}

.table-menu-btn {
    text-decoration: none;
    color: #333;
    font-size: 0.8em;
    background: #eee url(../images/icon-menu.png) no-repeat 5px center;
    padding: .3em 10px .3em 20px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    font-size: 1.2em;
}

th {
    padding: .5em 1em;
    background-color: #fff;
    text-align: left;

    &:first-child {
        text-align: left;
    }
}

td {
    padding: .5em 1em;
    background-color: #fff;
    text-align: left;
    border-bottom: 1px solid #e6e6e6;

    &:first-child {
        text-align: left;
    }
}

tbody {
    th {
        border-bottom: 1px solid #e6e6e6;
    }

    tr:last-child th {
        border: 0;
    }
}

.co-name {
    display: block;
    font-size: .9em;
    opacity: .4;
}

.enhanced {
    th {
        display: none;

        &.essential {
            display: table-cell;
        }
    }

    td {
        display: none;

        &.essential {
            display: table-cell;
        }
    }
}

@media screen and(min-width: 500px) {
    .enhanced {
        th.secondary {
            display: table-cell;
        }

        td.secondary {
            display: table-cell;
        }
    }

    .legacy-ie .enhanced {
        th.secondary {
            display: inline;
        }

        td.secondary {
            display: inline;
        }
    }
}

@media screen and(min-width: 900px) {
    .enhanced {
        th {
            display: table-cell;
        }

        td {
            display: table-cell;
        }
    }

    .legacy-ie .enhanced {
        th {
            display: inline;
        }

        td {
            display: inline;
        }
    }
}

#nutritionalTable {
    font-size: 0.7em;

    td {
        font-size: 11px;
        padding: 3px;
    }

    th {
        font-size: 11px;
        padding: 3px;
    }
}

#viewport {
    .inner-wrap {
    }

    .nestedDropDown {
        .f-dropdown {
            font-size: 12px;

            h5 {
                font-size: 13px;
                font-weight: bold;
                margin-bottom: 3px;
            }

            li {
                font-size: 12px;
            }
        }

        a {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
            margin-top: 3%;
        }

        ul {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
    }

    .productOptions .button {
        font-size: 13px;
        padding: 10px;
        padding-right: 20px;

        &:before {
            right: 10px;
        }
    }

    .dealsEntry a {
        color: #fff;
    }
}

.hideForMobileOnly {
    display: none;
}

.showForMobileOnly {
    display: block;
}

.showFortabletNarrowOnly {
    display: none;
}

.showFortabletWideOnly {
    display: none;
}

.hideFortabletNarrowOnly {
    display: block;
}

.hideForSmallestOnly {
    display: none;
}

.headerBg {
    background: rgba(0,0,0,0.7);
    width: 100%;
    display: block;
}

#header {
    padding-top: 15px;
    padding-bottom: 11px;
    margin-bottom: 25px;

    .button {
        padding: 10px 15px 9px 15px;
        font-size: 0.8125rem;
        text-transform: uppercase;

        &.secondary {
            background: #333;
            color: #fff;

            @include media-query(extra-small) {
                background: $primary-color;
            }
        }
    }

    #logo {
        margin-top: -5px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #cartIcon {
        font-size: 18px;
        padding: 0 12px;
        line-height: 30px;
        width: 100%;
    }

    button.secondary {
        background: #333;
        color: #fff;
    }

    @include media-query(extra-small) {
        padding-top: 12px;
        background-color: rgba(0,0,0,0.7);
    }

    .header-profile {
        .profile-column {
            padding-top: 3px;

            .profile-menu {
                i {
                    font-size: 25px;
                    border: 2px solid #bf0712;
                    padding: 2px 8px;
                    border-radius: 50%;
                    color: #bf0712;
                }
            }
        }

        .profile {
            margin-top: -2px;
            padding-left: 10px;
            margin-bottom: -5px;

            p {
                font-size: 13px;
            }

            a {
                text-transform: uppercase;
                color: #898989;
                font-size: 11px;
                font-weight: bolder;
                margin-right: 15px;

                &:hover {
                    text-decoration: underline;
                }
            }

            p, a {
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
            }
        }

        .callCenterImg {
            width: 37px;
            height: 37px;
            display: inline-block;
            float: right;
            margin-top: -5px;
        }
    }

    .shopping-cart {
        font-size: 33px;
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;

        .fi-shopping-cart {
            position: relative;

            #cartCounter {
                font-size: 10px;
                /*font-family:UnitedSansMed,Tahoma,Arial,Helvetica,sans-serif;*/
                font-style: normal;
                width: 18px;
                height: 18px;
                line-height: 18px;
                color: #fff;
                border-radius: 50%;
                text-align: center;
                position: absolute;
                right: -8px;
                top: -8px;
                background: rgb(237, 28, 36);
            }
        }

        span {
            font-size: 32px;
        }

        a {
            color: #898989;
        }
    }

    .institutional {
        .button {
            margin-bottom: 0;
            border-radius: 10px;
            margin-top: 3px;
        }
    }
}

.fullWidthButtons {
    .button {
        width: 100%;
    }

    .quantityDropdown {
        width: 100%;
    }
}

.orbit-slide-number {
    display: none;
}

.orbit-timer {
    display: none;
}

.orbit-container {
    margin-bottom: 20px;

    .orbit-prev, .orbit-next {
        top: 50%;
        margin-top: -50px;
    }

    .orbit-bullets {
    }
}

#globalNav {
    a {
        padding: 1em 0;
        width: 100%;
    }
}

button {
    &.aBitLessSecondary {
        background-color: rgba(0, 0, 0, 0.50);
        border-color: #b9b9b9;

        &:hover {
            background-color: rgba(0, 0, 0, 1.00);
            border-color: #b9b9b9;
        }
    }

    &.tertiary {
        background-color: #a6a6a6;
        border-color: #b9b9b9;

        &:hover {
            background-color: #777;
            border-color: #b9b9b9;
        }
    }
}

.button {
    font-family: UnitedSans, Tahoma, Arial, Helvetica, sans-serif;
    text-transform: uppercase;

    &.aBitLessSecondary {
        background-color: rgba(0, 0, 0, 0.50);
        border-color: #b9b9b9;

        &:hover {
            background-color: rgba(0, 0, 0, 1.00);
            border-color: #b9b9b9;
        }
    }

    &.tertiary {
        background-color: #a6a6a6;
        border-color: #b9b9b9;

        &:hover {
            background-color: #777;
            border-color: #b9b9b9;
        }
    }
}

.left-off-canvas-menu {
    padding-top: 16px;

    .button {
        width: 100%;
        margin-bottom: 13px;
    }

    h6 {
        color: #fff;
        padding-left: 20px;
    }

    ul {
        margin-bottom: 0;

        li a {
            color: #fff;
        }
    }

    .accordion-navigation, .accordion-default {
        border-bottom: 1px solid #000;
    }

    .sub-nav li {
        font-size: 13px;
    }

    .accordion .content.active {
        background: #000;
    }

    .accordion dd > a, .accordion dd.active > a {
        background: #fff;
        color: #000;

        &:before {
            content: "";
            width: 15px;
            height: 10px;
            background: url(../images/select-arrow.png) no-repeat;
            background-repeat: no-repeat;
            border: none;
        }
    }
}

.right-off-canvas-menu {
    padding-top: 16px;

    p {
        color: #fff;
        font-size: 12px;
    }

    .button {
        width: 100%;
        padding: 8px 0;
        margin-bottom: 13px;
    }

    h6 {
        color: #fff;
        margin-top: 12px;
    }

    #offCanvasCartTotals {
        margin-top: 20px;
    }
}

#languageMod {
    padding-top: 12px;
}

#cartProductList {
    background: transparent;
    margin-bottom: 0;

    ul {
        width: 100%;
        margin-left: 0;
        padding-top: 0;
        margin-bottom: 0;
    }

    li {
        color: #000;
        width: 100%;
        margin-bottom: 0;
        padding: 6px 0;
        background: #808080;
        position: relative;
        overflow: hidden;
        margin-left: 0;
        border: 1px solid #000;

        &.justAdded .buttonWrapper a {
            color: #333;
        }

        .editItem {
            border-left: 1px solid #000;
            line-height: 41px;
            height: 41px;
        }

        .deleteItem {
            border-left: 1px solid #000;
            font-size: 23px;
        }

        .deleteItem, .editItem {
            background: $primary-color;
            text-align: center;

            a {
                color: #fff;
            }
        }
    }

    brBreaker {
        display: none;
    }
}

@media only all and(min-width: 400px) {
    #cartProductList {
        li {
            line-height: 40px;
            padding-top: 0;
            padding-bottom: 0;

            .buttonWrapper span {
                background: #fff;

                a {
                    color: #008cba;
                }
            }
        }

        .buttonWrapper {
            width: 102px;
            position: absolute;
            right: 0;
            top: 0;
            height: 40px;
            z-index: 1;
            z-index: 2;

            span {
                float: right;
                width: 50px;
                padding: 0;
                margin-left: 1px;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
        }
    }

    .deletePriceIcon {
        display: inline;
    }

    .deletePriceText {
        display: none;
    }

    .hideForSmallestOnly {
        display: block;
    }

    .mobileWide-2 {
        width: 16.66%;
    }

    .mobileWide-4 {
        width: 33.33%;
    }

    .mobileWide-10 {
        width: 83.33%;
    }

    .mobileWide-8 {
        width: 66.66%;
    }

    .mobileWide-5 {
        width: 41.66%;
    }

    .mobileWide-3 {
        width: 25%;
    }

    .mobileWide-6 {
        width: 50%;
    }

    .showForMobileWideOnly {
        display: block;
    }

    .nameWrapper {
        z-index: 1;
    }

    #viewport .inner-wrap {
        padding-top: 0;
    }
}

@media only all and(max-width: 399px) {
    #cartProductList {
        .nameWrapperPrice {
            display: block;
            float: left;
        }

        brBreaker {
            display: block;
        }

        .buttonWrapper {
            float: right;
        }

        li .buttonWrapper a {
            color: #fff;
            transition: background 2.5s 1.5s, color 2.5s 1.5s;
        }
    }

    .deletePriceIcon {
        display: none;
    }

    .deletePriceText {
        display: inline;
    }
}

.nameWrapper {
    position: relative;
    z-index: 2;
    padding: 0 0 0 12px;
}

.carouselPanel {
    position: absolute;
    top: 5%;
    left: 5%;

    h2 {
        color: #fff;
    }

    h3 {
        color: #fff;
    }
}

.showForMobileWideOnly {
    display: none;
}

@media only all and(max-width: 499px) {
    .right-off-canvas-menu {
        width: 80%;
    }

    .left-off-canvas-menu {
        width: 80%;
    }

    .no-csstransforms {
        .left-off-canvas-menu {
            left: -80%;
        }

        .right-off-canvas-menu {
            right: -80%;
        }

        .move-left > .inner-wrap {
            right: 80%;
        }

        .move-right > .inner-wrap {
            left: 80%;
        }
    }

    .move-left > .inner-wrap {
        transform: translate3d(-80%, 0, 0);
    }

    .move-right > .inner-wrap {
        transform: translate3d(80%, 0, 0);
    }
}

@media only all and(min-width: 500px) {
    .right-off-canvas-menu {
        width: 380px;
    }

    .left-off-canvas-menu {
        width: 380px;
    }

    .no-csstransforms {
        .left-off-canvas-menu {
            left: -380px;
        }

        .right-off-canvas-menu {
            right: -380px;
        }

        .move-left > .inner-wrap {
            right: 380px;
        }

        .move-right > .inner-wrap {
            left: 380px;
        }
    }

    .move-left > .inner-wrap {
        transform: translate3d(-380px, 0, 0);
    }

    .move-right > .inner-wrap {
        transform: translate3d(380px, 0, 0);
    }
}

@media only all and(min-width: 750px) {
    #viewport {
        .inner-wrap {
            padding-top: 0;
        }

        .tabletUp-not-centered {
            float: left;
        }
    }

    .showForMobileOnly {
        display: none;
    }

    .hideForMobileOnly {
        display: block;
    }

    #footer {
        padding-top: 10px;

        .panel {
            padding: 6px 8px;
        }

        .side-nav li {
            font-size: 12px;

            a {
                color: #fff;
            }
        }
    }

    .tabletUp-1 {
        width: 6.25%;
    }

    .tabletUp-2 {
        width: 16.66%;
    }

    .tabletUp-4 {
        width: 33%;
    }

    .tabletUp-3 {
        width: 25%;
    }

    .tabletUp-5 {
        width: 41.66%;
    }

    .tabletUp-6 {
        width: 50%;
    }

    .tabletUp-7 {
        width: 58.33%;
    }

    .tabletUp-8 {
        width: 66%;
    }

    .tabletUp-9 {
        width: 75%;
    }

    .tabletNarrowOnly-6 {
        width: 50%;
        float: none;
    }

    .tabletNarrowOnly-7 {
        width: 58.33%;
        float: none;
    }

    .tabletNarrowOnly-12 {
        width: 100%;
        float: none;
    }

    .showFortabletNarrowOnly {
        display: block;
    }

    .hideFortabletNarrowOnly {
        display: none;
    }

    #welcomePanel {
        position: absolute;
        top: -6px;
        right: 0;
        width: 300px;
        z-index: 2;

        p {
            font-size: 13px;
        }

        .button {
            padding: 6px 8px;
        }
    }

    .tablet-6 {
        width: 50%;
    }

    .tablet-3 {
        width: 25%;
    }

    .tablet-4 {
        width: 33.33%;
    }

    .tablet-12 {
        width: 100%;
    }

    .tablet-8 {
        width: 66.66%;
    }

    .tablet-5 {
        width: 41.66%;
    }

    .tablet-7 {
        width: 58.33%;
    }

    #pizzaButtonSet {
        .button {
            max-width: 360px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }

        .pizzaButtonSetLeft .button {
            margin-right: 0;
        }

        .pizzaButtonSetRight .button {
            margin-left: 0;
        }
    }

    #tooltipMessage {
        position: relative;

        .nub {
            display: block;
            left: 50%;
            position: absolute;
            width: 0;
            height: 0;
            border: solid 8px;
            border-color: transparent transparent #d8d8d8 transparent;
            top: -16px;
        }
    }

    #previousOrderCarousels {
        margin-bottom: 20px;

        .orbit-bullets-container {
            display: none;
        }

        .orbit-container {
            margin-bottom: 0;
        }

        .panel {
            margin-bottom: 0;
        }

        ul {
            font-size: 12px;
        }

        .button {
            padding: 8px 12px;
            margin-left: 20px;
        }
    }

    #showOnlyForStartYourOrder {
        display: block;
    }

    #hideOnlyForStartYourOrder {
        display: none;
    }

    .nestedDropDown {
        position: absolute;
        top: 3.5em;
        left: 2em !important;
    }

    .column.tabletUp-centered {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    .columns.tabletUp-centered {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }

    #cheeseSticksText h2 {
        margin-top: 12%;
    }

    #header .sub-nav li {
        margin-bottom: 0;
    }
}

@media only all and(min-width: 750px) and(max-width: 979px) {
    .justTablet-6 {
        width: 50%;
    }

    .justTablet-3 {
        width: 25%;
    }

    .justTablet-4 {
        width: 33.33%;
    }

    .justTablet-12 {
        width: 100%;
    }

    .orbit-container .orbit-bullets {
        display: block;
    }
}

@media only all and(min-width: 980px) {
    .showFortabletNarrowOnly {
        display: none;
    }

    .showFortabletWideOnly {
        display: block;
    }

    .tabletWideOnly-12 {
        width: 100%;
        float: none;
    }

    .tabletWideOnly-6 {
        width: 50%;
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .tabletWideOnly-3 {
        width: 25%;
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .tabletWideOnly-8 {
        width: 66.66%;
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .tabletWideOnly-9 {
        width: 75%;
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .tabletWideOnly-4 {
        width: 33.33%;
        float: left;
        margin-left: 0;
        margin-right: 0;
    }

    .orbit-container .orbit-bullets {
        display: block;
    }

    .constrainWidthOfLargeButtons .button {
        max-width: none;
    }

    .list_carousel li {
        width: 23%;
        margin: 0 1% 12px;
    }
}

.reveal-modal {
    #header {
        display: none;
    }

    #footer {
        display: none;
    }

    #globalNavWide {
        display: none;
    }

    #backToOrderSummary {
        display: none;
    }

    #accountSideBar {
        display: none;
    }

    #accountMainPanel {
        width: 100%;

        .panel {
            border: 0;
            padding: 0;
        }
    }

    #editFoodPanel {
        width: 100%;
    }
}

.numeral {
    background: #000;
    color: #fff;
    text-align: center;
    width: 24px;
    height: 24px;
    display: inline-block;
    line-height: 24px;
    border-radius: 24px;

    &.inactive {
        background: #cecece;
    }
}

.icon-numeral {
    background: #008cba;
    color: #fff;
    text-align: center;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 32px;
    border-radius: 32px;
    margin-left: 12px;
    margin-right: 12px;
}

#pickAStore {
    font-size: 13px;

    h5 {
    }

    .button {
        font-size: 13px;
        padding: 8px 16px;
    }
}

#pickAAddress {
    font-size: 13px;

    h5 {
    }
}

.relativeWrapper {
    position: relative;
}

.linneyCustomOptions {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    border: 1px solid #d8d8d8;
    width: 300px;

    li {
        margin: 0;
        padding: 6px;
        cursor: pointer;

        &:hover {
            background: #fff;
        }

        h6 {
            font-size: 13px;
            margin-bottom: 0;
        }

        p {
            font-size: 12px;
            margin: 0;
        }
    }
}

@media only all and(min-width: 749px) {
    .linneyCustomRight {
        left: auto;
        right: 0;
    }
}

#orderHistoryAccordion {
    border: 1px solid #b9b9b9;
    margin-bottom: 20px;

    dd {
        a {
            border-bottom: 1px solid #b9b9b9;
        }

        &:last-child a {
            border: 0;
        }
    }
}

#cheeseSticks {
    background: url(../images/cheese-sticks.jpg) no-repeat 0 0;
    width: 100%;
    background-size: 100% 100%;
    padding: 20px 0 0;
    margin-bottom: 20px;
}

#cheeseSticksText {
    h2 {
        color: #fff;
    }

    h4 {
        color: #fff;
    }

    p {
        color: #fff;
    }
}

.large-right {
    float: right;
}

.signUpLegal {
    font-size: 10px;
    line-height: 11px;
}

.quantityDropdown {
    height: auto;
    padding-top: 6px;
    padding-bottom: 6px;
    width: auto;
    min-width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#upSellWrapper {
    background: #eee;
    margin-top: 20px;
    padding: 12px;
    margin-top: 18px;

    h6 {
        margin-top: 0;
        color: #333;
        font-size: 13px;
    }

    p {
        color: #333;
        font-size: 12px;
        margin-bottom: 3px;
    }
}

.dealFlow {
    list-style: none;

    li {
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
    }
}

#wideDeletedFromCartTooltip, #wideAddedToCartTooltip {
    position: absolute;
    top: 0;
    right: -160px;
    width: 380px;
    z-index: 2;
    margin-top: 22px;

    @include media-query(extra-small) {
        right: -60px;
    }

    .tooltip {
        left: 0;
        background: #ddb910;
        color: #000;

        .nub {
            left: 150px;
            right: auto;
            border-color: transparent transparent #ddb910;
        }
    }

    h3 {
        color: #000;
        font-size: 13px;
        text-transform: uppercase;
    }

    h4 {
        color: #000;
        font-size: 12px;
    }

    p {
        font-size: 10px;
        color: #000;
    }
}

#wideDeletedFromCartTooltipMobile, #wideAddedToCartTooltipMobile {
    position: fixed;
    top: 0;
    right: -40px;
    width: 380px;
    z-index: 2;
    margin-top: 50px;
    margin-right: 10px;

    @include media-query(extra-small) {
        right: -60px;
    }

    .tooltip {
        left: 0;
        background: #ddb910;
        color: #000;

        .nub {
            left: auto;
            right: 25px;
            border-color: transparent transparent #ddb910;
        }
    }

    h3 {
        color: #000;
        font-size: 13px;
        text-transform: uppercase;
    }

    h4 {
        color: #000;
        font-size: 12px;
    }

    p {
        font-size: 10px;
        color: #000;
    }
}


#miniCartCounter {
    font-size: 10px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    position: absolute;
    left: 12px;
    top: -8px;
}

#dockedHeader {
    padding: 8px 0;
    background: #000;
    box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.25);

    .logo-mobile {
        max-height: 30px;
    }

    .button {
        margin-bottom: 0;
    }

    #cartIcon {
        max-width: 45px;
    }
}

@media screen and(min-width: 1160px) {
    dialog.medium {
        width: 650px;
        margin-left: -325px;
    }

    .reveal-modal.medium {
        width: 650px;
        margin-left: -325px;
    }
}

.dealsEntry {
    background-color: #008cba;
}

#locationOnceSelected {
    display: none;
}

#showOnlyForStartYourOrder {
    display: none;
}

#geoLocationMessage {
    display: none;

    a {
        color: #ea0b19;
        display: block;
        padding-bottom: 10px;
    }
}

.stackableButtonGroup {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;

    li {
        display: inline-block;

        a {
            display: inline-block;
        }
    }
}

@media screen and(min-width: 690px) {
    .stackableButtonGroup li a {
        padding: 14px 16px;
        font-size: 16px;
    }
}

@media screen and(max-width: 490px) {
    .stackableButtonGroup {
        margin-left: 5%;
        margin-right: 5%;

        li {
            margin-right: 1%;
            width: 49%;

            a {
                width: 100%;
                margin: 0 0 2px 0;
                padding-left: 0;
                padding-right: 0;
            }

            &.lastTwo {
                width: 32.3%;
            }
        }
    }
}

.homeTile {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 78.18% 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    margin: 0 0 14px 0;
}

.tileOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 3%;

    h4 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 2px;
    }

    p {
        color: #fff;
        margin-bottom: 2px;
    }

    .button {
        padding: 12px;
        margin-bottom: 0;
        width: 100%;
    }
}

.hotFlash {
    width: 87px;
    height: 92px;
    background: url(../images/hot-deal.png) no-repeat 50% 50%;
    position: absolute;
    top: 0;
    right: 4%;
}

@media screen and(min-width: 399px) {
    .large-6 .large-12 .homeTile {
        padding: 0 0 53% 0;
    }

    .mobileWide-6 .tileOverlay h4 {
        font-size: 15px;
    }
}

@media screen and(min-width: 530px) {
    .large-6 .homeTile {
        padding: 0 0 53% 0;
    }
}

@media screen and(min-width: 660px) {
    .large-6 .large-12 .homeTile {
        padding: 0 0 42% 0;
    }
}

@media screen and(min-width: 749px) {
    .large-6 {
        .homeTile {
            padding: 0 0 78.18% 0;
        }

        .large-12 .homeTile {
            padding: 0 0 39% 0;
        }
    }
}

@media screen and(min-width: 979px) {
    #tileGrid .large-6 {
        .button {
            width: 50%;
            float: right;
            position: relative;
            top: -16px;
        }

        p {
            width: 50%;
            float: left;
        }

        h4 {
            width: 50%;
            float: left;
            width: 100%;
            float: none;
            position: relative;
            top: 0;
        }

        .large-6 {
            .button {
                width: 100%;
                float: none;
                position: relative;
                top: 0;
            }

            p {
                width: 100%;
                float: none;
                position: relative;
                top: 0;
            }
        }
    }

    .tileOverlay h4 {
        font-size: 15px;
    }

    .large-6 .large-12 .homeTile {
        padding: 0 0 39% 0;
    }

    .large-4 .widerCarouselTile {
        padding: 0 0 126%;
    }
}

#tileTandCs {
    display: none;
}

#stackedCarousel {
    width: 100%;
    overflow: hidden;

    li {
        width: 270px;
        display: block;
        float: left;
        margin: 0 4px 0 0;
    }
}

#innerCarousel {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 2740px;
    display: block;
    position: relative;
}

.carouselTile {
    position: relative;
    overflow: hidden;
    height: 0;
    padding: 0 0 90% 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0;
}

.carouselTileOverlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 3%;

    p {
        color: #fff;
    }

    h4 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 2px;
    }

    .button {
        padding: 12px;
        margin-bottom: 0;
        width: 100%;
    }
}

#stackedCarouselWidth {
    background: #eee;
    padding: 50px 0 30px;
    margin-bottom: 20px;

    .orbit-bullets-container {
        display: none;
    }

    .tabletNarrowOnly-6 {
        float: left;
    }
}

.widerCarouselTile {
    position: relative;
    overflow: hidden;
    height: 0;
    padding: 0 0 60% 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0;
}

#gotACoupon {
    font-size: 12px;
    text-align: right;
    margin-bottom: 10px;
    margin-top: -10px;

    a {
        &:link {
            color: #868686;
            text-decoration: underline;
        }

        &:visited {
            color: #868686;
            text-decoration: underline;
        }
    }
}

#couponEntry {
    input {
        font-size: 13px;
        margin-bottom: 0;
    }

    .button {
        font-size: 12px;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 0;
    }

    .tooltip {
        width: 290px;
        max-width: none;
        right: 0;
        left: auto;
        margin-top: -3px;
        background: #000;

        .nub {
            border-color: transparent transparent #000;
            left: auto;
            right: 10px;
        }
    }
}

#couponEntryTooltip {
    display: none;
    position: relative;
    z-index: 10;
}

@media only all and (max-width: 749px) {
    .presentationText {
        padding-top: 5px;

        @include media-query(extra-small) {
            margin-top: 25px;
        }
    }

    .showForMobileOnly.fullWidthButtons .button {
        font-size: 22px;
        font-weight: bold;
    }

    #carouselTooltip {
        left: 0;
        position: relative;
        margin-left: 0.9375em;
        margin-right: 0.9375em;
    }

    .margin-top {
        margin-top: 15px;
    }

    .checkout {
        margin-top: 15px;
    }

    #hutLovers .columns.small-centered {
        float: none;
    }
}

.heartIcon {
    position: absolute;
    display: block;
    right: 3px;
    top: -10px;
    font-size: 1.3em;
    background: #fff;
    width: 28px;
    height: 28px;
    border: 1px solid #008cba;
    border-radius: 200px;
    text-align: center;
    line-height: 28px;
}

.wholeSplit {
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 32px;
    overflow: hidden;

    span {
        width: 7px;
        height: 16px;
        display: inline-block;

        &.leftOn {
            background: #000;
            border-top-left-radius: 32px;
            border-bottom-left-radius: 32px;
        }

        &.rightOn {
            background: #000;
            border-top-right-radius: 32px;
            border-bottom-right-radius: 32px;
        }
    }
}

.removeIcon {
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid #008cba;
    background: #008cba;
    color: #fff;
    line-height: 16px;
    border-radius: 32px;
    overflow: hidden;
    text-align: center;
}

#toppingsTable {
    width: 100%;
}

#pizzaBuilderWrapper {
    #carouselTabButtonGroup {
        position: relative;
        top: 2px;

        .active {
            background: #fff;
            color: #2284a1;
            border-bottom: 0;
        }
    }

    .carouselTabs {
        border: 1px solid #2284a1;
        margin-bottom: 20px;
    }

    .list_carousel {
        margin-top: 0;

        li {
            padding-top: 2px;
        }
    }

    .button-group .button {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
        border: 1px solid #008cba;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.list_carousel {
    margin: 30px 0 0;
    padding: 0;
    width: 100%;
    position: relative;

    li {
        position: relative;
        text-align: center;
        width: 18%;
        padding: 0;
        margin: 0 1% 12px;
        display: block;
        float: left;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
    }
}

.removeLink {
    font-size: 0.7em;
    position: absolute !important;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    i {
        color: #000;
    }

    p {
        font-size: 12px;
        background: rgba(0, 0, 0, 0.6);
        padding: 2px;
    }
}

@media only screen and(min-width: 320px) {
    #carouselTooltip {
        text-align: center;
        padding: 16px 0 10px;
        margin-left: -0.1em !important;
        margin-top: 0 !important;

        .touchAddToPizza {
            clear: both;
            display: inline-block;
            padding: 6px;
        }
    }
}

#carouselTooltip {
    .nub {
    }

    label {
        color: #fff;
    }
}

#favouritesCarousel {
    padding: 0 30px;

    &.list_carousel li {
        margin: 0 0 12px 0;
    }
}

.prev {
    @extend %banner_navButton;
    left: 1%;
}

.next {
    @extend %banner_navButton;
    right: 1%;
}

.nestedDropDown {
    display: none;
    position: relative;
    top: -10px;
    padding: 0;
    width: 100%;
    left: 0 !important;
    max-width: none !important;
}

#bigPizza {
    background: url(../images/big-pizza.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 0;
    padding: 0 0 100% 0;
}

.caroufredsel_wrapper {
    cursor: default !important;
}

#gridToolTip {
    width: 300px !important;

    label {
        color: #fff;
    }

    .nub {
        left: 50%;
    }
}

.gridToolTip {
    width: 300px !important;
    display: none;
    position: absolute;
    z-index: 999;
    font-weight: bold;
    font-size: 0.9375em;
    line-height: 1.3;
    padding: 0.5em;
    max-width: 85%;
    left: 50%;
    width: 100%;
    color: white;
    background: black;
    border-radius: 3px;
    text-align: center;

    label {
        color: #fff;
    }

    .nub {
        left: 50%;
    }

    &.opened {
        color: #2ba6cb !important;
        border-bottom: dotted 1px #196177 !important;
    }

    > .nub {
        padding: 6px 0;
        display: block;
        left: 50%;
        position: absolute;
        width: 0;
        height: 0;
        border: solid 5px;
        border-color: transparent transparent black transparent;
        top: -10px;
    }
}

.avatar {
    float: left;
    padding: 0 10px 0 0;
    width: 20px;
    height: 10px;
}

.BookTableHiddenAvailable {
    padding: 20px 0 0;
}

.bookingForm {
    padding: 20px 0 0;
}

hr {
    border: solid rgba(255, 255, 255, 0.35);
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 1.1875rem;
    height: 0;
}

.forgotLinkPlaceholder {
    margin-top: -3px;
}

.forgotLink {
    font-size: 13.5px;
}

.basketTop {
    margin-top: 5px;

    a {
        color: #868686;
    }
}

.lblContainer label {
    margin-top: 7px;
}

input[type=radio].styledRadioButton {
    margin-right: 5px;

    &:before {
        content: url(../images/modalCheckBox.png);
        width: 24px;
        height: 24px;
        display: inline-block;
        margin: -7px 0 0 -5px;
        cursor: pointer;
    }

    &.checked:before {
        content: url(../images/modalCheckBox-checked.png);
        width: 24px;
        height: 24px;
        display: inline-block;
        margin: -7px 0 0 -5px;
        cursor: pointer;
    }
}

input[type=checkbox].styledCheckbox {
    margin-right: 5px;
    margin-bottom: 0px;

    &:before {
        content: url(../images/checkbox-bg.png);
        width: 18px;
        height: 19px;
        display: inline-block;
        margin: -2px 0 0 -2px;
        cursor: pointer;
    }

    &.checked:before {
        content: url(../images/checkbox-bg-checked.png);
        width: 18px;
        height: 19px;
        display: inline-block;
        margin: -2px 0 0 -2px;
        cursor: pointer;
    }

    & + label {
        vertical-align: top;
        margin-left: 0;
    }
}

input.largerButton, button.largerButton {
    @extend %largerButton_common;
}

.accordion dd {
    > a {
        background: #222222;
        color: #ffffff;
        border-bottom: 1px solid #b0b0b0;

        em {
            font-style: normal !important;
            background: #fff;
            padding: 0;
            width: 22px;
            text-align: center;
            color: #222;
            border-radius: 50%;
            font-size: 14px;
            float: left;
            margin: 7px 10px 0 0;
        }

        &:hover {
            background: #333333;

            @include media-query(extra-small) {
                background: #fff;
            }
        }
    }

    &:last-of-type > a {
        border-bottom: none;
    }

    &.accordion-navigation > a {
        font-size: 26px;
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;

        span {
            color: #fed350;
        }
    }

    &.active > a {
        background: #222222;
    }
}

thead th {
    white-space: nowrap;
    border-bottom: 1px solid #ccc;
    color: #888;
}

tr:last-child td {
    border: 0;
}

.legacy-ie .enhanced {
    th.essential {
        display: inline;
    }

    td.essential {
        display: inline;
    }
}

#welcomePanel .button {
    font-size: 12px;
    margin-bottom: 0;
}

.constrainWidthOfLargeButtons .button {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.imageSpacing img {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.mobileNav li {
    width: 100%;
    display: block;

    a {
        width: 100%;
        display: block;
    }
}

#cartProductDynamicList li {
    display: inline-block;
    background: #fff;
    transition: background 2.5s 1.5s, color 2.5s 1.5s;

    &.justAdded {
        background: #ffd441;
        color: #333;
    }
}

.cartSummary p {
    margin-bottom: 0;
}

li.blakeShelton .carouselPanel {
    top: auto;
    bottom: 5%;
}

.productOptions .relativeWrapper {
    margin-bottom: 10px;
}

.tabs dd {
    > a {
        background: #333;
        color: #fff;

        &:hover {
            background: #000;
        }
    }

    &.active a {
        background: #f2f2f2;
        color: #333;
    }
}

#faqs .accordion {
    border: 1px solid #b9b9b9;
    margin-bottom: 20px;

    dd {
        a {
            border-bottom: 1px solid #b9b9b9;
        }

        &:last-child a {
            border: 0;
        }
    }
}

.columns.allCentred {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.expandToFitImages img {
    width: 100%;
    height: auto;
}

.showLocationNow #locationOnceSelected {
    display: inline;
}

.large-4 .widerCarouselTile {
    padding: 0 0 126% 0;
    padding: 0 0 60% 0;
}

.large-8 .widerCarouselTile {
    padding: 0 0 60% 0;

    h4 {
        width: 50%;
        float: left;
        clear: left;
    }

    p {
        width: 50%;
        float: left;
        clear: left;
    }

    .button {
        width: 50%;
        float: right;
    }
}

.sub-nav {
    padding-top: 10px;
    margin-bottom: 0;

    .welcome-message {
        margin-top: 5px;
        font-size: 18px;

        a {
            padding: 0 5px;
        }
    }
}

.sub-nav li a.button {
    color: #fff;
    margin-bottom: 6px;
}

.touch .list_carousel li {
    position: relative;
}

#getLocationForm h5 {
    color: #ffffff;
}

.hut-list li {
    list-style-type: none;
}

.newletterBox {

    input[type=text] {
        margin-top: 3px;
        margin-bottom: 10px;
    }

    .button {
        margin-bottom: 0;
    }
}

.order-confirmation {
    @include media-query(extra-small) {
        padding-top: 20px;
    }

    h4 {
        font-weight: bold;
    }

    p {
        font-size: 16px;
        margin-bottom: 0.8rem !important;
    }

    hr {
        margin-top: 0px;
        display: block;
        border: none;
        color: white;
        height: 1px;
        background: black;
        background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#666), to(rgba(0,0,0,0)));
    }

    .confirmation-mail {
        text-align: center !important;
    }
}

.loginPage,
.registrationPage,
.basket,
.order-confirmation,
.cartePage {
    margin-top: 20px;

    & > div {
        @include media-query(extra-small) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.alertModal {
    min-height: auto;

    h4, h3, h2, h1, p {
        color: #000;
    }

    .button {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

.extras-btn {
    font-size: 1rem;
    line-height: 1.30rem !important;
}

.extrasModal {
    min-height: auto;
    top: 20px;

    .extras-subtitle {
        color: #000000;
        font-weight: bold;
        float: left;
        padding: 0px 0px 0 50px;

        &:last-of-type {
            padding-top: 15px;
        }
    }

    h4, h3, h2, h1, p {
        color: #000;
    }

    h4 {
        font-size: 36px;
        padding-bottom: 0px;
    }

    .extraList {
        max-height: 80px;
        overflow: auto;

        .extra:last-of-type {
            float: none !important;
            padding-top: 5px;
        }
    }

    .yellowButton {
        margin-top: 15px;
        margin-bottom: 0;
    }

    .extra .columns {
        padding-bottom: 10px !important;
    }
    /*.columns:last-of-type{
        padding-bottom:0px !important;
    }*/
    input[type=checkbox].styledCheckbox {
        &:before {
            margin: -4px 0 0 -2px;
        }

        & + label {
            font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
            font-size: 16px;
            margin-right: 0px;
            margin-top: -5px;
        }
    }

    label {
        font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
        font-size: 16px;
        display: inline-block;
        margin-left: 0.5rem;
        padding-bottom: 0;
    }
}

.panel label {
    color: #fff !important;
}

.reorderPage {
    margin-top: 20px;

    h1 {
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }

    h3, .products {
        color: #fff !important;
    }

    .panel {
        padding-top: 20px;
    }

    .reorderBox {
        border-right: 1px solid #d3d3d3;

        @include media-query(640px) {
            padding-bottom: 1rem;
            padding-top: 1rem;
            border-right: none;
            border-bottom: 1px solid #d3d3d3;

            &:last-of-type {
                border-bottom: none;
            }
        }

        &:last-of-type {
            border-right: none;
        }

        h3 {
            padding-bottom: 0.5rem;

            img {
                cursor: pointer;
                float: right;
            }
        }

        .products {
            margin-right: -5px;
            height: 160px;
            overflow: auto;
            font-size: 1.4rem;
            line-height: 1.6rem;
            font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
            margin-bottom: 1rem;

            .product {
                float: left;
                white-space: normal;
                padding-bottom: 0.5rem;
            }
        }

        .price {
            padding-bottom: 1rem;
            float: right;
            font-size: 1.2rem;
        }

        .largerButton {
            margin-bottom: 0 !important;
            text-transform: uppercase;
            font-size: 1.4rem;
            border-radius: 10px;
        }
    }

    .reorderButton {
        margin-top: 15px;
        width: 100%;
        color: #fff !important;
        text-transform: uppercase;
        font-size: 1.6rem;
        padding-bottom: 10px;
        padding-right: 0;
        border-radius: 5px;
    }
}

#bannerModal {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;

    .close-reveal-modal {
        position: absolute;
        top: -0.2rem;
        color: #fff;
        font-size: 1.5rem;
        text-transform: uppercase;

        img {
            float: right;
            margin-top: -5px;
            margin-left: 7px;
        }
    }
}

.close-modal {
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: 0.5rem;
    right: 0.6875rem;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #aaaaaa;
    }
}

@media only screen and (max-width: 40em) {
    #bannerModal {
        min-height: 0 !important;
    }
}

.messageModal {
    z-index: 999;
    visibility: visible;
    border: 0;
    position: absolute;
    top: 25%;
}

.close-reveal-messageModal {
    font-size: 2.5rem;
    line-height: 1;
    position: absolute;
    top: 0.5rem;
    right: 0.6875rem;
    color: #aaaaaa;
    font-weight: bold;
    cursor: pointer;
}

.button-messageModal {
    margin: 10px 0 0 0;
}

.exactCenter {
    position: fixed;
    top: 50%;
    margin-top: -100px;
}

.sacPhone {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    text-align: right;
    padding-right: 3px;
    font-size: 14px;
}

.startOrderMobile .sacPhone {
    padding: 10px 0;
    text-align: center;
}

.alertbg {
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    background: rgba(0, 0, 0, 0.45);
    z-index: 99;
    display: none;
    top: 0;
    left: 0;
}

.button.small {
    font-size: 1.2rem;
    padding-bottom: 0.8rem;
    border-radius: 10px;
}

.noBottomMargin {
    margin-bottom: 0 !important;
}

.btn-disabled {
    opacity: 0.7;
    cursor: default !important;
}

.selected-front-menu {
    background-color: #FFFFFF !important;
    color: #000000 !important;
}

.fancy-separator {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#666), to(rgba(0,0,0,0)));
}

.infoPage {
    h3 {
        padding-bottom: 15px;
    }

    #panelEditAddress {
        .button {
            border-radius: 10px !important;
            margin-bottom: 0;
        }

        #delete {
            margin-left: 10px;
        }

        .addressRow {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 25px;
            margin-bottom: 25px;
            background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#666), to(rgba(0,0,0,0)));
            background-size: 100% 1px;
            background-repeat: no-repeat;
            background-position: bottom center;


            label {
                margin-bottom: 0;
                padding-bottom: 0;
                cursor: default;
            }
        }
    }
}

#newHome {
    display: flex;
    align-items: center;
    padding-bottom: 25px;

    .resizePanelBox {
        padding: 25px 0;
    }

    .panel {
        margin-bottom: 0;
    }

    .radius {
        border-radius: 10px;
    }

    .cepSearch {
        h3 {
            font-size: 1.99rem;
        }

        .button {
            font-size: 1.2rem;
        }

        p {
            font-family: Helvetica, Arial, sans-serif;
            margin-bottom: 3px;
        }

        input[type=text].cep {
            font-family: Helvetica, Arial, sans-serif;
            width: 110%;
            padding-right: 25px;
            height: 46px;
            font-size: 24px;
            padding-top: 10px;
            margin-bottom: 0px;
        }

        .postfix.button {
            line-height: 48px;
            height: 46px;
            margin-bottom: 0px;

            &.findAddressDisabled {
                background: #eb5b5b !important;
                color: #e2e2e2;
            }
        }
    }

    .home-image {
        padding-bottom: 25px;
    }

    .completeAddress {
        #submitFindRestaurantAddressForm, #backToAddressSearchDiv {
            margin-bottom: 0;
        }

        .backContainer {
            padding-right: 0px;
        }

        .back {
            padding-top: 20px;
        }
    }

    .deliveryCarryout {
        #delivery, #carryout {
            cursor: pointer;

            label {
                cursor: pointer;
            }

            .icon {
                width: 136px;
                height: 136px;
                zoom: .7;
                display: inline-block;
                background: url(../images/delivery-carryoutsprites.png) no-repeat;

                input {
                    position: absolute;
                    visibility: hidden;
                }
            }
        }

        p {
            font-size: 26px;
            margin-bottom: 0;
            margin-top: 10px;
            color: grey;
        }

        #delivery {
            .icon {
                background-position: -136px 0px;
            }

            &.active .icon {
                background-position: -0px 0px;
            }

            &.active p {
                color: #fff;
            }
        }

        #carryout {
            .icon {
                background-position: -408px 0px;
            }

            &.active .icon {
                background-position: -272px 0px;
            }

            &.active p {
                color: #fff;
            }
        }
    }

    .savedAddresses, .carryoutAddresses {
        h6 {
            font-size: 15px;
            margin-bottom: 15px;
        }

        .addressItem {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            cursor: default;

            label {
                padding: 0 5px;
                margin-bottom: 5px;
                color: #fff;
                font-size: 20px;
                font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
            }

            p {
                padding: 0 5px;
                margin-bottom: 0;
            }

            .button {
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }

        .newAddress {
            padding: 0 20px;
            color: #fed75f;
            text-decoration: underline !important;
        }
    }

    .carryoutAddresses {
        .addressItem, .addressItem label {
            cursor: pointer !important;
        }
    }

    .carryoutAddresses {
        .map {
            padding-bottom: 25px;

            #mapholder {
                width: 100%;
                height: 300px;
            }
        }

        .addressItem {
            cursor: default;
        }

        .button {
            margin-top: 15px;
        }
    }

    @media only screen and (max-width: 600px) {
        &.small-collapse > .column, &.small-collapse > .columns {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

#footer {
    background: rgba(0,0,0,0.7);
    padding-top: 10px;

    #footerSeparator {
        padding-bottom: 70px;
    }

    h6 {
        margin-bottom: 0;
        color: #c1c1c1;
    }

    .panel {
        margin-bottom: 8px;
    }

    hr {
        margin: 1.25rem 0;
        display: block;
        border: none;
        color: white;
        height: 1px;
        background: black;
        background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 666, from(#666), to(rgba(0,0,0,0)));
    }

    p.legal {
        line-height: 1em;
    }

    .side-nav {
        padding-top: 5px;
    }
}

.socialFooter {
    padding: 0;
    margin-bottom: 15px;

    li {
        padding-bottom: 0px;
        height: 32px;
    }

    .social-facebook {
        width: 32px;
        height: 32px;
        background: url(../images/fb.png) no-repeat;
        display: inline-block;
        background-size: 32px 32px;
        padding-bottom: 0px;
    }

    .social-instagram {
        width: 32px;
        height: 32px;
        background: url(../images/insta.png) no-repeat;
        display: inline-block;
        background-size: 32px 32px;
        padding-bottom: 0px;
    }

    .social-youtube {
        width: 32px;
        height: 32px;
        background: url(../images/yt.png) no-repeat;
        display: inline-block;
        background-size: 32px 32px;
        padding-bottom: 0px;
    }

    .socialButtonFooter {
        width: 100%;
        display: inline-block;
        background: rgba(0,0,0,0.55);
        padding: 15px 0;
        border-radius: 5px;
        margin: 3px 0;
        font-size: 1.2rem;

        @include media-query(extra-small) {
            background: transparent;
        }

        @include media-query(small) {
            background: transparent;
        }

        a {
            color: #fff;

            small {
                display: inline-block;
                margin: 10px 0 0 5px;
            }
        }
    }
}

.savedAddresses {
    input[type=text].cep {
        font-family: Helvetica, Arial, sans-serif;
        width: 110%;
        padding-right: 25px;
        height: 46px;
        font-size: 24px;
        padding-top: 10px;
        margin-bottom: 0px;
    }

    .postfix.button {
        line-height: 48px;
        height: 46px;
        margin-bottom: 0px;

        &.findAddressDisabled {
            background: #eb5b5b !important;
            color: #e2e2e2;
        }
    }
}

button:focus, input {
    outline: 0 !important;
}

#CheckoutPaymentForm {
    h3 {
        padding-top: 10px;
    }
}

.chooseCustomer {
    padding-left: 15px !important;

    p {
        font-size: 1rem;
    }

    .clientName {
        font-size: 20px;
        font-weight: bold;
    }
}

.menu-name-mobile {
    font-family: UnitedSansMed,Tahoma,Arial,Helvetica,sans-serif;
    font-size: 30px;
    text-align: center;
}

.btnLoading {
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,255,255,0.8);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.9);
}

.checkout .accordion dd.accordion-navigation > a > h4 > img.icon-accordion {
    padding: 4px;
    float: right;
    transform: rotate(270deg);
}

.checkout .accordion dd.accordion-navigation.active > a > h4 > img.icon-accordion {
    transform: rotate(0deg);
}

.accordion-default > a {
    font-size: 26px !important;
    font-family: UnitedSansMed,Tahoma,Arial,Helvetica,sans-serif !important;
}

.list-order {
    text-align: center !important;
    color: white !important;
    background-color: black;
}

.yellowButton-small {
    background-color: #ffd800;
    color: #000;
    margin: 0px;
}

.accordion-extras-link {
    background-color: white !important;
    padding: .7rem .5rem !important;
    color: black !important;
    background: url(../images/select-arrow.png) no-repeat !important;
    background-position: 95% center !important;
    font: 400 13.3333px Arial !important;
    cursor: default !important;
}

.accordion-extras-option {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    background-color: white;
}

.accordion-extras-option:hover {
    background-color: #f3f3f3;
    border-color: #999;
}

.address-description {
    padding: 0px;
    margin: 20px 0px 20px 0px;
}

.body-not-found {  
    height: 15.4em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
}

