﻿/* Devices sizes */
/* Colors */
@font-face {
  font-family: 'UnitedSans';
  -webkit-font-smoothing: antialiased;
  src: url("fonts/UnitedSansSemiCond-Bold.eot");
  src: url("fonts/UnitedSansSemiCond-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/UnitedSansSemiCond-Bold.woff") format("woff"), url("fonts/UnitedSansSemiCond-Bold.ttf") format("truetype"), url("fonts/UnitedSansSemiCond-Bold.svg#UnitedSans") format("svg");
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'UnitedSansSemiCond-Light';
  -webkit-font-smoothing: antialiased;
  src: url("fonts/UnitedSansSemiCond-Light.eot?#iefix") format("embedded-opentype"), url("fonts/UnitedSansSemiCond-Light.otf") format("opentype"), url("fonts/UnitedSansSemiCond-Light.woff") format("woff"), url("fonts/UnitedSansSemiCond-Light.ttf") format("truetype"), url("fonts/UnitedSansSemiCond-Light.svg#UnitedSansSemiCond-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'UnitedSansMed';
  -webkit-font-smoothing: antialiased;
  src: url("fonts/UnitedSansSmCdMd.eot");
  src: url("fonts/UnitedSansSmCdMd.eot#iefix") format("embedded-opentype"), url("fonts/UnitedSansSemiCond-Medium.otf") format("opentype"), url("fonts/UnitedSansSmCdMd.woff") format("woff"), url("fonts/UnitedSansSmCdMd.svg#UnitedSansMed") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/glyphicons-halflings-regular.eot");
  src: url("fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("fonts/glyphicons-halflings-regular.woff") format("woff"), url("fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"); }

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.glyphicon-adjust:before {
  content: "\e063"; }

.glyphicon-ok-sign:before {
  content: "\e084"; }

.glyphicon-ok-sign {
  color: green !important; }

.glyphicon-ok-circle:before {
  content: "\e089"; }

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
  -moz-font-feature-settings: "pnum";
  background: url(../images/background.jpg) no-repeat #252523;
  background-size: cover;
  background-attachment: fixed;
  font-size: 16px; }

.home-bg {
  background: url(../images/pizza-home-bg.jpg) no-repeat #252523;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.registrationAccept label, .checkboxFlags label {
  width: 84%;
  line-height: 15px;
  color: #000;
  font-size: 14px;
  float: left;
  margin-left: 5px; }

.yellowButton, .primaryAddButton {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-position: 100% 50%;
  font-size: 1.125rem;
  font-weight: bold;
  color: #000;
  display: block;
  padding: 10px 7px 6px 7px;
  margin: 0 0 15px 0;
  line-height: 2rem;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: #ffd800;
  border-radius: 10px; }
  .yellowButton:hover, .primaryAddButton:hover {
    color: #111 !important;
    background-color: #e6c200; }

a.largerButton, input.largerButton, button.largerButton {
  cursor: pointer;
  font-size: 1.125rem;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  border: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 14px 7px 10px 7px;
  box-sizing: border-box;
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  background-color: #ffd800;
  border-radius: 10px; }
  a.largerButton:hover, input.largerButton:hover, button.largerButton:hover {
    color: #111 !important;
    background-color: #e6c200; }

.prev, .next {
  position: absolute;
  top: 25%;
  width: 6%;
  height: 1px;
  padding: 2% 0 7%; }

a {
  color: #fed75f; }
  a:hover {
    color: #fed75f; }

p {
  font-family: Helvetica, Arial, sans-serif;
  color: #fff; }

h1 {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  color: #fff; }

h2 {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  color: #fff; }

h3 {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  color: #fff; }
  h3 span {
    font-size: 14px; }

h4 {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  color: #fff; }

h5 {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  color: #fff; }

h6 {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  color: #fff;
  font-size: 1.25rem; }

label {
  cursor: default; }

input {
  border-radius: 0;
  -webkit-appearance: none; }

#globalNavWide {
  padding-left: 0;
  padding-right: 0; }
  #globalNavWide .large-12 {
    padding-left: 0;
    padding-right: 0; }
  #globalNavWide a {
    width: 100%;
    padding-right: 0;
    padding-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.125rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: UnitedSans, Tahoma, Arial, Helvetica, sans-serif;
    border-left: 1px solid rgba(255, 255, 255, 0.5); }
  #globalNavWide li {
    padding: 0; }
    #globalNavWide li.selected a {
      background: #fff;
      color: #000; }
    #globalNavWide li:first-child a {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left: none; }
    #globalNavWide li:last-child a {
      background: #ffd800;
      color: #000;
      border-radius: 0;
      border-left: none;
      font-size: 1.3rem;
      line-height: 1.3rem;
      height: 50px; }
  #globalNavWide .medium-10, #globalNavWide .medium-2 {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  #globalNavWide #startYourOrderNav {
    position: relative; }
    #globalNavWide #startYourOrderNav .followBg {
      position: absolute;
      width: 50%;
      height: 100%;
      background: #ffd800;
      left: -2px; }
    #globalNavWide #startYourOrderNav a {
      font-size: 1.3rem;
      border-left: none;
      border-radius: 10px;
      line-height: 1.3rem;
      height: 50px;
      width: 100%;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 0; }

.panel {
  background: rgba(0, 0, 0, 0.7);
  border: none; }
  .panel p {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff; }
  .panel h1 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff; }
  .panel h2 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff; }
  .panel h3 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff; }
  .panel h4 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff; }
  .panel h5 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff; }
  .panel h6 {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    color: #fff; }
  .panel button.aBitLessSecondary h5 {
    color: #fff; }
  .panel .button.aBitLessSecondary h5 {
    color: #fff; }

label {
  font-weight: bold;
  padding-bottom: 5px; }

.bottom-margin {
  margin-bottom: 15px !important; }

select {
  background: url(../images/select-arrow.png) no-repeat;
  background-repeat: no-repeat;
  background-position: 95% center;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #fff; }

.marginTop5px {
  margin-top: 5px; }

.marginTop10px {
  margin-top: 10px; }

.sideMessage .panel {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1rem;
  border: none; }
  .sideMessage .panel h5 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 0; }
  .sideMessage .panel h4 {
    color: #fff;
    font-size: 18px;
    padding-bottom: 0;
    font-size: 17px; }
  .sideMessage .panel p {
    font-size: 15px;
    margin-bottom: 0 !important; }
  .sideMessage .panel * {
    color: #fff; }
  .sideMessage .panel hr {
    margin: 0.5rem 0;
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#666), to(transparent)); }
  .sideMessage .panel .item {
    margin-bottom: 10px; }
    .sideMessage .panel .item.last {
      margin-bottom: 0; }
    .sideMessage .panel .item ul {
      margin: 5px 0 0 5px; }
      .sideMessage .panel .item ul li {
        font-size: 11px;
        margin: 0;
        padding: 0;
        list-style: none; }
  .sideMessage .panel .dishRow {
    padding-top: 5px;
    padding-bottom: 5px; }

.sideMessage .sideboxBGTitle {
  font-size: 12px;
  color: #000;
  background: #fed350;
  padding: 3px;
  margin-bottom: 5px;
  display: inline-block; }

.sideMessage ul li {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem; }

.startOrderMobile {
  margin-top: 35px; }
  .startOrderMobile a {
    padding-right: 0;
    border-radius: 5px; }

.backgroundBGTitle {
  font-size: 22px;
  color: #000;
  background: #fed350;
  padding: 5px 10px;
  margin-bottom: 0px;
  display: inline-block;
  line-height: 12px; }

.inlineErrorBox {
  background: #ca0000;
  border-radius: 5px;
  position: relative;
  color: #fff !important;
  font-size: 13px;
  padding: 10px;
  margin: -5px 0 16px;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  font-weight: bold; }
  .inlineErrorBox:before {
    border-color: transparent transparent #ca0000;
    border-image: none;
    border-style: inset inset solid;
    border-width: 6px;
    content: "";
    display: block;
    height: 0;
    left: 10px;
    position: absolute;
    top: -12px;
    width: 0;
    z-index: 2; }
  .inlineErrorBox:after {
    border-color: transparent transparent #ca0000;
    border-image: none;
    border-style: inset inset solid;
    border-width: 7px;
    content: "";
    display: block;
    height: 0;
    left: 9px;
    position: absolute;
    top: -14px;
    width: 0;
    z-index: 3; }

.mainModal {
  min-height: auto; }
  .mainModal p {
    color: #000; }
  .mainModal h1 {
    color: #000;
    font-weight: bold;
    margin-bottom: 30px; }
  .mainModal h2 {
    color: #000; }
  .mainModal h3 {
    color: #000; }
  .mainModal h4 {
    color: #000; }
  .mainModal h5 {
    color: #000;
    margin-bottom: 15px; }
  .mainModal h6 {
    color: #000; }
  .mainModal span {
    color: #000; }
  .mainModal strong {
    color: #000; }
  .mainModal #FindAddress {
    color: #bf0712;
    margin-top: 10px;
    display: inline-block; }
  .mainModal hr {
    border-color: #dcdcdc;
    margin-left: -30px;
    margin-right: -30px; }
    .mainModal hr.or {
      border: 1px solid #000;
      margin-top: 17px;
      margin-left: 0;
      margin-right: 0; }
  .mainModal .login-text {
    margin-left: 10px;
    margin-right: 10px; }
  .mainModal .passwdBox input[type=checkbox] {
    float: left;
    margin-top: 3px; }
  .mainModal .passwdBox .pickAStoreTarget {
    width: 100%; }
  .mainModal .passwdBox .small-6 a {
    color: #ea0b19; }
  .mainModal #futureOrder {
    margin-top: 15px; }
  .mainModal .lessMargin {
    margin-left: -45px;
    margin-right: -45px; }
  .mainModal .numeral {
    background: #000;
    width: 40px;
    height: 40px;
    color: #fff;
    line-height: 40px;
    margin-top: 0px;
    font-size: 16px; }
  .mainModal #getLocationForm h6 {
    padding-bottom: 15px; }
  .mainModal #restaurantAddressResults {
    padding-left: 0;
    padding-right: 0; }
  .mainModal .foundAddress {
    padding: 15px 0px 15px 15px;
    cursor: pointer;
    margin-bottom: 15px; }
    .mainModal .foundAddress:hover {
      background: #ea0b19; }
      .mainModal .foundAddress:hover span {
        color: #fff; }
      .mainModal .foundAddress:hover strong {
        color: #fff; }
      .mainModal .foundAddress:hover .numeral {
        background: #fff;
        color: #000; }
    .mainModal .foundAddress .yellowButton {
      margin-top: 15px;
      margin-bottom: 0;
      text-align: center; }
  .mainModal #mapHolder {
    margin-bottom: 30px;
    height: 300px; }
    @media (max-width: 767px) {
      .mainModal #mapHolder {
        height: 150px; } }
  .mainModal #determineDeliveryOrCarryout img {
    margin: -5px 10px 0 0; }
  .mainModal .orSeparator strong {
    font-size: 22px; }
  .mainModal #loadingNextAction img {
    margin-top: 15px;
    margin-bottom: 15px; }
  .mainModal .inlineErrorBox span {
    color: #fff; }
  .mainModal .registerContainer {
    padding-top: 15px; }

.loginPage hr {
  margin-left: -1.25rem;
  margin-right: -1.25rem; }

.loginPage .registerContainer {
  padding-left: 0;
  padding-right: 0; }

.loginPage .large-6.tabletUp-6.columns .custom label {
  font-size: 0.8rem; }

.loginPage form {
  margin-bottom: 0px; }

.loginPage .orLogin {
  line-height: 40px;
  padding-top: 0px;
  margin-top: -1px; }
  @media (max-width: 767px) {
    .loginPage .orLogin {
      padding-top: 8px;
      margin-top: 0; } }

.registrationAccept {
  padding-bottom: 15px;
  padding-top: 15px; }
  .registrationAccept input[type=checkbox] {
    float: left;
    margin-top: 0; }
  .registrationAccept label a {
    color: #fed75f; }

@media (max-width: 767px) {
  .registrationTopText {
    display: inline-block;
    margin-top: 25px; } }

@media (max-width: 767px) {
  .registrationPage .accordion dd.accordion-navigation > a {
    font-size: 18px; }
    .registrationPage .accordion dd.accordion-navigation > a em {
      margin-top: 2px; } }

.registrationPage .accordion .content.active {
  background-color: rgba(0, 0, 0, 0.7); }

.registrationPage label {
  color: #fff; }

.checkboxFlags {
  padding-bottom: 15px;
  padding-top: 15px; }
  .checkboxFlags input[type=checkbox] {
    float: left;
    margin-top: 0; }
  .checkboxFlags label a {
    color: #bf0712; }

.productCard {
  background-color: transparent !important;
  border: none;
  padding-bottom: 3.5rem; }
  .productCard h4, .productCard p {
    color: #fff; }
  .productCard .column, .productCard .columns {
    padding-left: .5375rem;
    padding-right: .5375rem; }
  .productCard .price {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    padding-top: 20px; }
    @media (max-width: 767px) {
      .productCard .price {
        margin-bottom: 15px;
        font-size: 23px; } }
  .productCard p {
    font-size: 16px;
    line-height: 16px; }
  .productCard .customizeLink {
    font-size: 11px;
    padding-top: 8px; }
  .productCard .button {
    margin-bottom: 0; }
  .productCard .productOptions .largerButton {
    font-size: 1.2rem; }
    .productCard .productOptions .largerButton:hover {
      color: #111 !important; }
  .productCard .productOptions .largerButton.btn-disabled, .productCard .productOptions .largerButton.disabled {
    opacity: 0.7;
    cursor: default; }
    .productCard .productOptions .largerButton.btn-disabled:hover, .productCard .productOptions .largerButton.disabled:hover {
      opacity: 0.7 !important;
      cursor: default;
      background-color: #ffd800; }
  .productCard .pizza-half-btn, .productCard .extras-btn {
    text-align: center;
    margin-bottom: 1rem; }
    .productCard .pizza-half-btn.selected .glyphicon, .productCard .extras-btn.selected .glyphicon {
      color: #fff; }
    .productCard .pizza-half-btn.btn-disabled, .productCard .pizza-half-btn.disabled, .productCard .extras-btn.btn-disabled, .productCard .extras-btn.disabled {
      opacity: 0.7;
      cursor: default; }
      .productCard .pizza-half-btn.btn-disabled:hover, .productCard .pizza-half-btn.disabled:hover, .productCard .extras-btn.btn-disabled:hover, .productCard .extras-btn.disabled:hover {
        opacity: 0.7 !important;
        cursor: default;
        color: #fff !important;
        background-color: #827c7b; }
  .productCard .has-tip {
    border: none;
    font-weight: normal;
    height: 50px; }
    .productCard .has-tip:hover {
      color: #fff; }

#checkoutBreadcrumb {
  margin-bottom: 10px;
  background-color: #222222;
  padding-top: 0;
  padding-bottom: 0; }
  @media (max-width: 767px) {
    #checkoutBreadcrumb {
      margin-top: 5px; } }

.checkout {
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 25px; }
  .checkout #splitPaymentRadios .payment-item {
    padding: 10px 0 0 0; }
  .checkout #splitPaymentRadios .styledRadioButton {
    margin-bottom: 0; }
    .checkout #splitPaymentRadios .styledRadioButton:before {
      margin: -5px 0 0 -5px; }
    .checkout #splitPaymentRadios .styledRadioButton.checked:before {
      margin: -5px 0 0 -5px; }
  .checkout #splitPaymentRadios label {
    vertical-align: top;
    padding-bottom: 0;
    margin-bottom: 0; }
  .checkout h3 {
    color: #fff; }
  .checkout h4 {
    color: #fff; }
    .checkout h4.paymentTitle {
      padding: 0;
      margin: 0; }
  .checkout h5 {
    color: #fff; }
  .checkout label {
    color: #fff; }
  .checkout hr {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#666), to(transparent)); }
  .checkout .orderButton {
    font-size: 19px;
    font-weight: bolder; }
  .checkout #splitPaymentRadios .styledRadioButton {
    margin-left: 10px; }
  .checkout .splitPaymentPanel hr {
    margin-left: 0;
    margin-right: 0; }
  .checkout .accordion .content {
    background-color: transparent; }
  .checkout .accordion dd.accordion-navigation > a {
    padding: 10px 0 5px 15px; }
    .checkout .accordion dd.accordion-navigation > a:hover {
      background: #222; }
  .checkout .accordion .img-card {
    margin-right: 5px; }
  .checkout .accordion #money input[type=text] {
    margin-bottom: 0 !important; }
  .checkout #PaymentPanel_Online {
    margin-top: 20px; }
  .checkout #saveCardInformation {
    display: inline; }
  .checkout .address-title {
    margin-top: 25px; }

@media (max-width: 767px) {
  .basket .topTitle {
    display: inline-block;
    margin-top: 25px;
    padding-left: 20px; } }

.basket .panel {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: none; }
  .basket .panel .disheInfoRow p {
    font-size: 14px;
    display: block; }
    .basket .panel .disheInfoRow p strong {
      font-size: 20px;
      width: 100%;
      display: inline-block; }
  .basket .panel hr {
    float: left;
    width: 100%;
    margin: 1.7rem 0; }
  .basket .panel .total {
    font-size: 21px;
    line-height: 22px;
    font-weight: bold; }
    .basket .panel .total:first-of-type {
      font-weight: normal;
      padding-top: 3px; }
  .basket .panel .rightSide {
    border-left: 1px solid #dcdcdc; }
    @media (max-width: 640px) {
      .basket .panel .rightSide {
        border-left: none; } }
  @media (max-width: 767px) {
    .basket .panel .backgroundBGTitle {
      font-size: 14px;
      line-height: 14px;
      margin-bottom: 5px; } }
  .basket .panel p, .basket .panel h5, .basket .panel h6 {
    color: #fff; }
  .basket .panel .button {
    margin-bottom: 0; }
  .basket .panel .backgroundBGTitle {
    margin-bottom: 10px; }

.basket .sideBox {
  background: rgba(0, 0, 0, 0.7);
  border: none; }
  .basket .sideBox h6 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 15px; }
    .basket .sideBox h6.sideName {
      font-size: 13px;
      line-height: 15px;
      width: 100%;
      text-align: right; }
  .basket .sideBox h5 {
    color: #fff; }
  .basket .sideBox p {
    color: #fff; }
  .basket .sideBox div {
    color: #fff; }
  .basket .sideBox span {
    color: #fff; }
  .basket .sideBox .fullWidthButtons {
    padding-top: 15px; }
    .basket .sideBox .fullWidthButtons .plainButton {
      padding: 7px 0 5px 0px; }
  .basket .sideBox hr {
    margin: 1.325rem 0 !important;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from(#666), to(transparent)); }

.basket .quantity-set {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center; }
  .basket .quantity-set input[type=text] {
    display: inline;
    width: 29px;
    text-align: center;
    padding: 0;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px; }
  .basket .quantity-set .numeral {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px; }
  .basket .quantity-set a:hover {
    color: #fff; }

.basket .delete-link {
  width: 100%;
  font-size: 14px;
  display: block;
  text-align: center; }
  .basket .delete-link a {
    color: #fed75f; }

.basket .price {
  padding: 0; }
  .basket .price h5 {
    padding: 0;
    font-size: 23px;
    text-align: center; }

.basket .checkoutInfo h5 {
  font-size: 20px; }

@media (max-width: 767px) {
  .basket .checkoutInfo.hide-for-large-up {
    margin-bottom: 5px; } }

.yellowButton:hover {
  color: #111; }

input.yellowButton {
  border: none;
  cursor: pointer;
  width: 100%; }

.primaryAddButton:hover {
  color: #111; }

.plainButton {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  background-repeat: repeat-x;
  background-color: transparent;
  background-position: 100% 50%;
  font-weight: bold;
  color: #000;
  display: block;
  padding: 10px 7px 6px 7px;
  margin: 0 0 15px 0;
  line-height: 2rem;
  box-sizing: border-box;
  font-size: 1.125rem;
  text-transform: uppercase;
  background-color: #ffd800;
  border-radius: 10px;
  text-align: center; }
  .plainButton:hover {
    color: #444;
    background-color: #e6c200; }

.redButton {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  background-repeat: repeat-x;
  background-color: transparent;
  background-position: 100% 50%;
  font-weight: bold;
  color: #fff;
  display: block;
  border-radius: 5px;
  padding: 10px 7px 6px 7px;
  margin: 0 0 15px 0;
  line-height: 2rem;
  box-sizing: border-box;
  font-size: 1.125rem;
  text-transform: uppercase;
  background-color: #ed0000;
  border-radius: 10px; }
  .redButton:hover {
    color: #eee;
    background-color: #d40000; }

.greyButton {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  background-repeat: repeat-x;
  background-color: transparent;
  background-position: 100% 50%;
  font-weight: bold;
  color: #fff;
  display: block;
  padding: 10px 7px 6px 7px;
  margin: 0 0 15px 0;
  line-height: 2rem;
  box-sizing: border-box;
  font-size: 1.125rem;
  text-transform: uppercase;
  background-color: #827c7b;
  border-radius: 10px; }
  .greyButton:hover {
    color: #eee;
    background-color: #75706f; }

.redButton.small {
  font-size: 1rem;
  line-height: 1.68rem; }

#storeLocatorLink {
  background: #222222;
  color: #ffffff;
  border-bottom: 1px solid #b0b0b0;
  border-bottom: 1px solid #000; }
  #storeLocatorLink:last-of-type {
    border-bottom: none; }

.docs {
  margin: 3% 0;
  font-size: 1.2em; }
  .docs h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin: .5em 0; }
  .docs p {
    margin: 0 0 1em; }

.a11y-only {
  position: absolute;
  left: -999em; }

.table-wrapper {
  position: relative;
  margin: 5em 0; }

.table-menu-wrapper {
  position: absolute;
  top: 0;
  right: 0; }

.table-menu {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 1.2em;
  width: 12em;
  right: 0;
  left: auto;
  z-index: 9999; }
  .table-menu li {
    padding: .1em 0;
    margin: 0;
    clear: both; }
    .table-menu li label {
      font-size: 12px; }
    .table-menu li input {
      float: left;
      margin: 7px 0 0; }
  .table-menu ul {
    list-style: none; }

.table-menu-hidden {
  left: -999em;
  right: auto; }

.table-menu-btn {
  text-decoration: none;
  color: #333;
  font-size: 0.8em;
  background: #eee url(../images/icon-menu.png) no-repeat 5px center;
  padding: .3em 10px .3em 20px;
  border: 1px solid #ccc; }

table {
  width: 100%;
  font-size: 1.2em; }

th {
  padding: .5em 1em;
  background-color: #fff;
  text-align: left; }
  th:first-child {
    text-align: left; }

td {
  padding: .5em 1em;
  background-color: #fff;
  text-align: left;
  border-bottom: 1px solid #e6e6e6; }
  td:first-child {
    text-align: left; }

tbody th {
  border-bottom: 1px solid #e6e6e6; }

tbody tr:last-child th {
  border: 0; }

.co-name {
  display: block;
  font-size: .9em;
  opacity: .4; }

.enhanced th {
  display: none; }
  .enhanced th.essential {
    display: table-cell; }

.enhanced td {
  display: none; }
  .enhanced td.essential {
    display: table-cell; }

@media screen and (min-width: 500px) {
  .enhanced th.secondary {
    display: table-cell; }
  .enhanced td.secondary {
    display: table-cell; }
  .legacy-ie .enhanced th.secondary {
    display: inline; }
  .legacy-ie .enhanced td.secondary {
    display: inline; } }

@media screen and (min-width: 900px) {
  .enhanced th {
    display: table-cell; }
  .enhanced td {
    display: table-cell; }
  .legacy-ie .enhanced th {
    display: inline; }
  .legacy-ie .enhanced td {
    display: inline; } }

#nutritionalTable {
  font-size: 0.7em; }
  #nutritionalTable td {
    font-size: 11px;
    padding: 3px; }
  #nutritionalTable th {
    font-size: 11px;
    padding: 3px; }

#viewport .nestedDropDown .f-dropdown {
  font-size: 12px; }
  #viewport .nestedDropDown .f-dropdown h5 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 3px; }
  #viewport .nestedDropDown .f-dropdown li {
    font-size: 12px; }

#viewport .nestedDropDown a {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  margin-top: 3%; }

#viewport .nestedDropDown ul {
  margin-left: 5%;
  margin-right: 5%;
  width: 90%; }

#viewport .productOptions .button {
  font-size: 13px;
  padding: 10px;
  padding-right: 20px; }
  #viewport .productOptions .button:before {
    right: 10px; }

#viewport .dealsEntry a {
  color: #fff; }

.hideForMobileOnly {
  display: none; }

.showForMobileOnly {
  display: block; }

.showFortabletNarrowOnly {
  display: none; }

.showFortabletWideOnly {
  display: none; }

.hideFortabletNarrowOnly {
  display: block; }

.hideForSmallestOnly {
  display: none; }

.headerBg {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  display: block; }

#header {
  padding-top: 15px;
  padding-bottom: 11px;
  margin-bottom: 25px; }
  #header .button {
    padding: 10px 15px 9px 15px;
    font-size: 0.8125rem;
    text-transform: uppercase; }
    #header .button.secondary {
      background: #333;
      color: #fff; }
      @media (max-width: 767px) {
        #header .button.secondary {
          background: #ca0000; } }
  #header #logo {
    margin-top: -5px; }
  #header img {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  #header #cartIcon {
    font-size: 18px;
    padding: 0 12px;
    line-height: 30px;
    width: 100%; }
  #header button.secondary {
    background: #333;
    color: #fff; }
  @media (max-width: 767px) {
    #header {
      padding-top: 12px;
      background-color: rgba(0, 0, 0, 0.7); } }
  #header .header-profile .profile-column {
    padding-top: 3px; }
    #header .header-profile .profile-column .profile-menu i {
      font-size: 25px;
      border: 2px solid #bf0712;
      padding: 2px 8px;
      border-radius: 50%;
      color: #bf0712; }
  #header .header-profile .profile {
    margin-top: -2px;
    padding-left: 10px;
    margin-bottom: -5px; }
    #header .header-profile .profile p {
      font-size: 13px; }
    #header .header-profile .profile a {
      text-transform: uppercase;
      color: #898989;
      font-size: 11px;
      font-weight: bolder;
      margin-right: 15px; }
      #header .header-profile .profile a:hover {
        text-decoration: underline; }
    #header .header-profile .profile p, #header .header-profile .profile a {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important; }
  #header .header-profile .callCenterImg {
    width: 37px;
    height: 37px;
    display: inline-block;
    float: right;
    margin-top: -5px; }
  #header .shopping-cart {
    font-size: 33px;
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif; }
    #header .shopping-cart .fi-shopping-cart {
      position: relative; }
      #header .shopping-cart .fi-shopping-cart #cartCounter {
        font-size: 10px;
        /*font-family:UnitedSansMed,Tahoma,Arial,Helvetica,sans-serif;*/
        font-style: normal;
        width: 18px;
        height: 18px;
        line-height: 18px;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        position: absolute;
        right: -8px;
        top: -8px;
        background: #ed1c24; }
    #header .shopping-cart span {
      font-size: 32px; }
    #header .shopping-cart a {
      color: #898989; }
  #header .institutional .button {
    margin-bottom: 0;
    border-radius: 10px;
    margin-top: 3px; }

.fullWidthButtons .button {
  width: 100%; }

.fullWidthButtons .quantityDropdown {
  width: 100%; }

.orbit-slide-number {
  display: none; }

.orbit-timer {
  display: none; }

.orbit-container {
  margin-bottom: 20px; }
  .orbit-container .orbit-prev, .orbit-container .orbit-next {
    top: 50%;
    margin-top: -50px; }

#globalNav a {
  padding: 1em 0;
  width: 100%; }

button.aBitLessSecondary {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #b9b9b9; }
  button.aBitLessSecondary:hover {
    background-color: black;
    border-color: #b9b9b9; }

button.tertiary {
  background-color: #a6a6a6;
  border-color: #b9b9b9; }
  button.tertiary:hover {
    background-color: #777;
    border-color: #b9b9b9; }

.button {
  font-family: UnitedSans, Tahoma, Arial, Helvetica, sans-serif;
  text-transform: uppercase; }
  .button.aBitLessSecondary {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #b9b9b9; }
    .button.aBitLessSecondary:hover {
      background-color: black;
      border-color: #b9b9b9; }
  .button.tertiary {
    background-color: #a6a6a6;
    border-color: #b9b9b9; }
    .button.tertiary:hover {
      background-color: #777;
      border-color: #b9b9b9; }

.left-off-canvas-menu {
  padding-top: 16px; }
  .left-off-canvas-menu .button {
    width: 100%;
    margin-bottom: 13px; }
  .left-off-canvas-menu h6 {
    color: #fff;
    padding-left: 20px; }
  .left-off-canvas-menu ul {
    margin-bottom: 0; }
    .left-off-canvas-menu ul li a {
      color: #fff; }
  .left-off-canvas-menu .accordion-navigation, .left-off-canvas-menu .accordion-default {
    border-bottom: 1px solid #000; }
  .left-off-canvas-menu .sub-nav li {
    font-size: 13px; }
  .left-off-canvas-menu .accordion .content.active {
    background: #000; }
  .left-off-canvas-menu .accordion dd > a, .left-off-canvas-menu .accordion dd.active > a {
    background: #fff;
    color: #000; }
    .left-off-canvas-menu .accordion dd > a:before, .left-off-canvas-menu .accordion dd.active > a:before {
      content: "";
      width: 15px;
      height: 10px;
      background: url(../images/select-arrow.png) no-repeat;
      background-repeat: no-repeat;
      border: none; }

.right-off-canvas-menu {
  padding-top: 16px; }
  .right-off-canvas-menu p {
    color: #fff;
    font-size: 12px; }
  .right-off-canvas-menu .button {
    width: 100%;
    padding: 8px 0;
    margin-bottom: 13px; }
  .right-off-canvas-menu h6 {
    color: #fff;
    margin-top: 12px; }
  .right-off-canvas-menu #offCanvasCartTotals {
    margin-top: 20px; }

#languageMod {
  padding-top: 12px; }

#cartProductList {
  background: transparent;
  margin-bottom: 0; }
  #cartProductList ul {
    width: 100%;
    margin-left: 0;
    padding-top: 0;
    margin-bottom: 0; }
  #cartProductList li {
    color: #000;
    width: 100%;
    margin-bottom: 0;
    padding: 6px 0;
    background: #808080;
    position: relative;
    overflow: hidden;
    margin-left: 0;
    border: 1px solid #000; }
    #cartProductList li.justAdded .buttonWrapper a {
      color: #333; }
    #cartProductList li .editItem {
      border-left: 1px solid #000;
      line-height: 41px;
      height: 41px; }
    #cartProductList li .deleteItem {
      border-left: 1px solid #000;
      font-size: 23px; }
    #cartProductList li .deleteItem, #cartProductList li .editItem {
      background: #ca0000;
      text-align: center; }
      #cartProductList li .deleteItem a, #cartProductList li .editItem a {
        color: #fff; }
  #cartProductList brBreaker {
    display: none; }

@media only all and (min-width: 400px) {
  #cartProductList li {
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0; }
    #cartProductList li .buttonWrapper span {
      background: #fff; }
      #cartProductList li .buttonWrapper span a {
        color: #008cba; }
  #cartProductList .buttonWrapper {
    width: 102px;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    z-index: 1;
    z-index: 2; }
    #cartProductList .buttonWrapper span {
      float: right;
      width: 50px;
      padding: 0;
      margin-left: 1px;
      height: 40px;
      line-height: 40px;
      text-align: center; }
  .deletePriceIcon {
    display: inline; }
  .deletePriceText {
    display: none; }
  .hideForSmallestOnly {
    display: block; }
  .mobileWide-2 {
    width: 16.66%; }
  .mobileWide-4 {
    width: 33.33%; }
  .mobileWide-10 {
    width: 83.33%; }
  .mobileWide-8 {
    width: 66.66%; }
  .mobileWide-5 {
    width: 41.66%; }
  .mobileWide-3 {
    width: 25%; }
  .mobileWide-6 {
    width: 50%; }
  .showForMobileWideOnly {
    display: block; }
  .nameWrapper {
    z-index: 1; }
  #viewport .inner-wrap {
    padding-top: 0; } }

@media only all and (max-width: 399px) {
  #cartProductList .nameWrapperPrice {
    display: block;
    float: left; }
  #cartProductList brBreaker {
    display: block; }
  #cartProductList .buttonWrapper {
    float: right; }
  #cartProductList li .buttonWrapper a {
    color: #fff;
    transition: background 2.5s 1.5s, color 2.5s 1.5s; }
  .deletePriceIcon {
    display: none; }
  .deletePriceText {
    display: inline; } }

.nameWrapper {
  position: relative;
  z-index: 2;
  padding: 0 0 0 12px; }

.carouselPanel {
  position: absolute;
  top: 5%;
  left: 5%; }
  .carouselPanel h2 {
    color: #fff; }
  .carouselPanel h3 {
    color: #fff; }

.showForMobileWideOnly {
  display: none; }

@media only all and (max-width: 499px) {
  .right-off-canvas-menu {
    width: 80%; }
  .left-off-canvas-menu {
    width: 80%; }
  .no-csstransforms .left-off-canvas-menu {
    left: -80%; }
  .no-csstransforms .right-off-canvas-menu {
    right: -80%; }
  .no-csstransforms .move-left > .inner-wrap {
    right: 80%; }
  .no-csstransforms .move-right > .inner-wrap {
    left: 80%; }
  .move-left > .inner-wrap {
    transform: translate3d(-80%, 0, 0); }
  .move-right > .inner-wrap {
    transform: translate3d(80%, 0, 0); } }

@media only all and (min-width: 500px) {
  .right-off-canvas-menu {
    width: 380px; }
  .left-off-canvas-menu {
    width: 380px; }
  .no-csstransforms .left-off-canvas-menu {
    left: -380px; }
  .no-csstransforms .right-off-canvas-menu {
    right: -380px; }
  .no-csstransforms .move-left > .inner-wrap {
    right: 380px; }
  .no-csstransforms .move-right > .inner-wrap {
    left: 380px; }
  .move-left > .inner-wrap {
    transform: translate3d(-380px, 0, 0); }
  .move-right > .inner-wrap {
    transform: translate3d(380px, 0, 0); } }

@media only all and (min-width: 750px) {
  #viewport .inner-wrap {
    padding-top: 0; }
  #viewport .tabletUp-not-centered {
    float: left; }
  .showForMobileOnly {
    display: none; }
  .hideForMobileOnly {
    display: block; }
  #footer {
    padding-top: 10px; }
    #footer .panel {
      padding: 6px 8px; }
    #footer .side-nav li {
      font-size: 12px; }
      #footer .side-nav li a {
        color: #fff; }
  .tabletUp-1 {
    width: 6.25%; }
  .tabletUp-2 {
    width: 16.66%; }
  .tabletUp-4 {
    width: 33%; }
  .tabletUp-3 {
    width: 25%; }
  .tabletUp-5 {
    width: 41.66%; }
  .tabletUp-6 {
    width: 50%; }
  .tabletUp-7 {
    width: 58.33%; }
  .tabletUp-8 {
    width: 66%; }
  .tabletUp-9 {
    width: 75%; }
  .tabletNarrowOnly-6 {
    width: 50%;
    float: none; }
  .tabletNarrowOnly-7 {
    width: 58.33%;
    float: none; }
  .tabletNarrowOnly-12 {
    width: 100%;
    float: none; }
  .showFortabletNarrowOnly {
    display: block; }
  .hideFortabletNarrowOnly {
    display: none; }
  #welcomePanel {
    position: absolute;
    top: -6px;
    right: 0;
    width: 300px;
    z-index: 2; }
    #welcomePanel p {
      font-size: 13px; }
    #welcomePanel .button {
      padding: 6px 8px; }
  .tablet-6 {
    width: 50%; }
  .tablet-3 {
    width: 25%; }
  .tablet-4 {
    width: 33.33%; }
  .tablet-12 {
    width: 100%; }
  .tablet-8 {
    width: 66.66%; }
  .tablet-5 {
    width: 41.66%; }
  .tablet-7 {
    width: 58.33%; }
  #pizzaButtonSet .button {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  #pizzaButtonSet .pizzaButtonSetLeft .button {
    margin-right: 0; }
  #pizzaButtonSet .pizzaButtonSetRight .button {
    margin-left: 0; }
  #tooltipMessage {
    position: relative; }
    #tooltipMessage .nub {
      display: block;
      left: 50%;
      position: absolute;
      width: 0;
      height: 0;
      border: solid 8px;
      border-color: transparent transparent #d8d8d8 transparent;
      top: -16px; }
  #previousOrderCarousels {
    margin-bottom: 20px; }
    #previousOrderCarousels .orbit-bullets-container {
      display: none; }
    #previousOrderCarousels .orbit-container {
      margin-bottom: 0; }
    #previousOrderCarousels .panel {
      margin-bottom: 0; }
    #previousOrderCarousels ul {
      font-size: 12px; }
    #previousOrderCarousels .button {
      padding: 8px 12px;
      margin-left: 20px; }
  #showOnlyForStartYourOrder {
    display: block; }
  #hideOnlyForStartYourOrder {
    display: none; }
  .nestedDropDown {
    position: absolute;
    top: 3.5em;
    left: 2em !important; }
  .column.tabletUp-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  .columns.tabletUp-centered {
    float: none;
    margin-left: auto;
    margin-right: auto; }
  #cheeseSticksText h2 {
    margin-top: 12%; }
  #header .sub-nav li {
    margin-bottom: 0; } }

@media only all and (min-width: 750px) and (max-width: 979px) {
  .justTablet-6 {
    width: 50%; }
  .justTablet-3 {
    width: 25%; }
  .justTablet-4 {
    width: 33.33%; }
  .justTablet-12 {
    width: 100%; }
  .orbit-container .orbit-bullets {
    display: block; } }

@media only all and (min-width: 980px) {
  .showFortabletNarrowOnly {
    display: none; }
  .showFortabletWideOnly {
    display: block; }
  .tabletWideOnly-12 {
    width: 100%;
    float: none; }
  .tabletWideOnly-6 {
    width: 50%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .tabletWideOnly-3 {
    width: 25%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .tabletWideOnly-8 {
    width: 66.66%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .tabletWideOnly-9 {
    width: 75%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .tabletWideOnly-4 {
    width: 33.33%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .orbit-container .orbit-bullets {
    display: block; }
  .constrainWidthOfLargeButtons .button {
    max-width: none; }
  .list_carousel li {
    width: 23%;
    margin: 0 1% 12px; } }

.reveal-modal #header {
  display: none; }

.reveal-modal #footer {
  display: none; }

.reveal-modal #globalNavWide {
  display: none; }

.reveal-modal #backToOrderSummary {
  display: none; }

.reveal-modal #accountSideBar {
  display: none; }

.reveal-modal #accountMainPanel {
  width: 100%; }
  .reveal-modal #accountMainPanel .panel {
    border: 0;
    padding: 0; }

.reveal-modal #editFoodPanel {
  width: 100%; }

.numeral {
  background: #000;
  color: #fff;
  text-align: center;
  width: 24px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
  border-radius: 24px; }
  .numeral.inactive {
    background: #cecece; }

.icon-numeral {
  background: #008cba;
  color: #fff;
  text-align: center;
  width: 32px;
  height: 32px;
  display: inline-block;
  line-height: 32px;
  border-radius: 32px;
  margin-left: 12px;
  margin-right: 12px; }

#pickAStore {
  font-size: 13px; }
  #pickAStore .button {
    font-size: 13px;
    padding: 8px 16px; }

#pickAAddress {
  font-size: 13px; }

.relativeWrapper {
  position: relative; }

.linneyCustomOptions {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  border: 1px solid #d8d8d8;
  width: 300px; }
  .linneyCustomOptions li {
    margin: 0;
    padding: 6px;
    cursor: pointer; }
    .linneyCustomOptions li:hover {
      background: #fff; }
    .linneyCustomOptions li h6 {
      font-size: 13px;
      margin-bottom: 0; }
    .linneyCustomOptions li p {
      font-size: 12px;
      margin: 0; }

@media only all and (min-width: 749px) {
  .linneyCustomRight {
    left: auto;
    right: 0; } }

#orderHistoryAccordion {
  border: 1px solid #b9b9b9;
  margin-bottom: 20px; }
  #orderHistoryAccordion dd a {
    border-bottom: 1px solid #b9b9b9; }
  #orderHistoryAccordion dd:last-child a {
    border: 0; }

#cheeseSticks {
  background: url(../images/cheese-sticks.jpg) no-repeat 0 0;
  width: 100%;
  background-size: 100% 100%;
  padding: 20px 0 0;
  margin-bottom: 20px; }

#cheeseSticksText h2 {
  color: #fff; }

#cheeseSticksText h4 {
  color: #fff; }

#cheeseSticksText p {
  color: #fff; }

.large-right {
  float: right; }

.signUpLegal {
  font-size: 10px;
  line-height: 11px; }

.quantityDropdown {
  height: auto;
  padding-top: 6px;
  padding-bottom: 6px;
  width: auto;
  min-width: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

#upSellWrapper {
  background: #eee;
  margin-top: 20px;
  padding: 12px;
  margin-top: 18px; }
  #upSellWrapper h6 {
    margin-top: 0;
    color: #333;
    font-size: 13px; }
  #upSellWrapper p {
    color: #333;
    font-size: 12px;
    margin-bottom: 3px; }

.dealFlow {
  list-style: none; }
  .dealFlow li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px; }

#wideDeletedFromCartTooltip, #wideAddedToCartTooltip {
  position: absolute;
  top: 0;
  right: -160px;
  width: 380px;
  z-index: 2;
  margin-top: 22px; }
  @media (max-width: 767px) {
    #wideDeletedFromCartTooltip, #wideAddedToCartTooltip {
      right: -60px; } }
  #wideDeletedFromCartTooltip .tooltip, #wideAddedToCartTooltip .tooltip {
    left: 0;
    background: #ddb910;
    color: #000; }
    #wideDeletedFromCartTooltip .tooltip .nub, #wideAddedToCartTooltip .tooltip .nub {
      left: 150px;
      right: auto;
      border-color: transparent transparent #ddb910; }
  #wideDeletedFromCartTooltip h3, #wideAddedToCartTooltip h3 {
    color: #000;
    font-size: 13px;
    text-transform: uppercase; }
  #wideDeletedFromCartTooltip h4, #wideAddedToCartTooltip h4 {
    color: #000;
    font-size: 12px; }
  #wideDeletedFromCartTooltip p, #wideAddedToCartTooltip p {
    font-size: 10px;
    color: #000; }

#wideDeletedFromCartTooltipMobile, #wideAddedToCartTooltipMobile {
  position: fixed;
  top: 0;
  right: -40px;
  width: 380px;
  z-index: 2;
  margin-top: 50px;
  margin-right: 10px; }
  @media (max-width: 767px) {
    #wideDeletedFromCartTooltipMobile, #wideAddedToCartTooltipMobile {
      right: -60px; } }
  #wideDeletedFromCartTooltipMobile .tooltip, #wideAddedToCartTooltipMobile .tooltip {
    left: 0;
    background: #ddb910;
    color: #000; }
    #wideDeletedFromCartTooltipMobile .tooltip .nub, #wideAddedToCartTooltipMobile .tooltip .nub {
      left: auto;
      right: 25px;
      border-color: transparent transparent #ddb910; }
  #wideDeletedFromCartTooltipMobile h3, #wideAddedToCartTooltipMobile h3 {
    color: #000;
    font-size: 13px;
    text-transform: uppercase; }
  #wideDeletedFromCartTooltipMobile h4, #wideAddedToCartTooltipMobile h4 {
    color: #000;
    font-size: 12px; }
  #wideDeletedFromCartTooltipMobile p, #wideAddedToCartTooltipMobile p {
    font-size: 10px;
    color: #000; }

#miniCartCounter {
  font-size: 10px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  position: absolute;
  left: 12px;
  top: -8px; }

#dockedHeader {
  padding: 8px 0;
  background: #000;
  box-shadow: 0 3px 5px 0 rgba(50, 50, 50, 0.25); }
  #dockedHeader .logo-mobile {
    max-height: 30px; }
  #dockedHeader .button {
    margin-bottom: 0; }
  #dockedHeader #cartIcon {
    max-width: 45px; }

@media screen and (min-width: 1160px) {
  dialog.medium {
    width: 650px;
    margin-left: -325px; }
  .reveal-modal.medium {
    width: 650px;
    margin-left: -325px; } }

.dealsEntry {
  background-color: #008cba; }

#locationOnceSelected {
  display: none; }

#showOnlyForStartYourOrder {
  display: none; }

#geoLocationMessage {
  display: none; }
  #geoLocationMessage a {
    color: #ea0b19;
    display: block;
    padding-bottom: 10px; }

.stackableButtonGroup {
  margin: 0 0 20px 0;
  padding: 0;
  text-align: center; }
  .stackableButtonGroup li {
    display: inline-block; }
    .stackableButtonGroup li a {
      display: inline-block; }

@media screen and (min-width: 690px) {
  .stackableButtonGroup li a {
    padding: 14px 16px;
    font-size: 16px; } }

@media screen and (max-width: 490px) {
  .stackableButtonGroup {
    margin-left: 5%;
    margin-right: 5%; }
    .stackableButtonGroup li {
      margin-right: 1%;
      width: 49%; }
      .stackableButtonGroup li a {
        width: 100%;
        margin: 0 0 2px 0;
        padding-left: 0;
        padding-right: 0; }
      .stackableButtonGroup li.lastTwo {
        width: 32.3%; } }

.homeTile {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 78.18% 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  margin: 0 0 14px 0; }

.tileOverlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 3%; }
  .tileOverlay h4 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2px; }
  .tileOverlay p {
    color: #fff;
    margin-bottom: 2px; }
  .tileOverlay .button {
    padding: 12px;
    margin-bottom: 0;
    width: 100%; }

.hotFlash {
  width: 87px;
  height: 92px;
  background: url(../images/hot-deal.png) no-repeat 50% 50%;
  position: absolute;
  top: 0;
  right: 4%; }

@media screen and (min-width: 399px) {
  .large-6 .large-12 .homeTile {
    padding: 0 0 53% 0; }
  .mobileWide-6 .tileOverlay h4 {
    font-size: 15px; } }

@media screen and (min-width: 530px) {
  .large-6 .homeTile {
    padding: 0 0 53% 0; } }

@media screen and (min-width: 660px) {
  .large-6 .large-12 .homeTile {
    padding: 0 0 42% 0; } }

@media screen and (min-width: 749px) {
  .large-6 .homeTile {
    padding: 0 0 78.18% 0; }
  .large-6 .large-12 .homeTile {
    padding: 0 0 39% 0; } }

@media screen and (min-width: 979px) {
  #tileGrid .large-6 .button {
    width: 50%;
    float: right;
    position: relative;
    top: -16px; }
  #tileGrid .large-6 p {
    width: 50%;
    float: left; }
  #tileGrid .large-6 h4 {
    width: 50%;
    float: left;
    width: 100%;
    float: none;
    position: relative;
    top: 0; }
  #tileGrid .large-6 .large-6 .button {
    width: 100%;
    float: none;
    position: relative;
    top: 0; }
  #tileGrid .large-6 .large-6 p {
    width: 100%;
    float: none;
    position: relative;
    top: 0; }
  .tileOverlay h4 {
    font-size: 15px; }
  .large-6 .large-12 .homeTile {
    padding: 0 0 39% 0; }
  .large-4 .widerCarouselTile {
    padding: 0 0 126%; } }

#tileTandCs {
  display: none; }

#stackedCarousel {
  width: 100%;
  overflow: hidden; }
  #stackedCarousel li {
    width: 270px;
    display: block;
    float: left;
    margin: 0 4px 0 0; }

#innerCarousel {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 2740px;
  display: block;
  position: relative; }

.carouselTile {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0 0 90% 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0; }

.carouselTileOverlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 3%; }
  .carouselTileOverlay p {
    color: #fff; }
  .carouselTileOverlay h4 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 2px; }
  .carouselTileOverlay .button {
    padding: 12px;
    margin-bottom: 0;
    width: 100%; }

#stackedCarouselWidth {
  background: #eee;
  padding: 50px 0 30px;
  margin-bottom: 20px; }
  #stackedCarouselWidth .orbit-bullets-container {
    display: none; }
  #stackedCarouselWidth .tabletNarrowOnly-6 {
    float: left; }

.widerCarouselTile {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0 0 60% 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  margin: 0; }

#gotACoupon {
  font-size: 12px;
  text-align: right;
  margin-bottom: 10px;
  margin-top: -10px; }
  #gotACoupon a:link {
    color: #868686;
    text-decoration: underline; }
  #gotACoupon a:visited {
    color: #868686;
    text-decoration: underline; }

#couponEntry input {
  font-size: 13px;
  margin-bottom: 0; }

#couponEntry .button {
  font-size: 12px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0; }

#couponEntry .tooltip {
  width: 290px;
  max-width: none;
  right: 0;
  left: auto;
  margin-top: -3px;
  background: #000; }
  #couponEntry .tooltip .nub {
    border-color: transparent transparent #000;
    left: auto;
    right: 10px; }

#couponEntryTooltip {
  display: none;
  position: relative;
  z-index: 10; }

@media only all and (max-width: 749px) {
  .presentationText {
    padding-top: 5px; } }
  @media only all and (max-width: 749px) and (max-width: 767px) {
    .presentationText {
      margin-top: 25px; } }

@media only all and (max-width: 749px) {
  .showForMobileOnly.fullWidthButtons .button {
    font-size: 22px;
    font-weight: bold; }
  #carouselTooltip {
    left: 0;
    position: relative;
    margin-left: 0.9375em;
    margin-right: 0.9375em; }
  .margin-top {
    margin-top: 15px; }
  .checkout {
    margin-top: 15px; }
  #hutLovers .columns.small-centered {
    float: none; } }

.heartIcon {
  position: absolute;
  display: block;
  right: 3px;
  top: -10px;
  font-size: 1.3em;
  background: #fff;
  width: 28px;
  height: 28px;
  border: 1px solid #008cba;
  border-radius: 200px;
  text-align: center;
  line-height: 28px; }

.wholeSplit {
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  background: #fff;
  border-radius: 32px;
  overflow: hidden; }
  .wholeSplit span {
    width: 7px;
    height: 16px;
    display: inline-block; }
    .wholeSplit span.leftOn {
      background: #000;
      border-top-left-radius: 32px;
      border-bottom-left-radius: 32px; }
    .wholeSplit span.rightOn {
      background: #000;
      border-top-right-radius: 32px;
      border-bottom-right-radius: 32px; }

.removeIcon {
  width: 16px;
  height: 16px;
  display: block;
  border: 1px solid #008cba;
  background: #008cba;
  color: #fff;
  line-height: 16px;
  border-radius: 32px;
  overflow: hidden;
  text-align: center; }

#toppingsTable {
  width: 100%; }

#pizzaBuilderWrapper #carouselTabButtonGroup {
  position: relative;
  top: 2px; }
  #pizzaBuilderWrapper #carouselTabButtonGroup .active {
    background: #fff;
    color: #2284a1;
    border-bottom: 0; }

#pizzaBuilderWrapper .carouselTabs {
  border: 1px solid #2284a1;
  margin-bottom: 20px; }

#pizzaBuilderWrapper .list_carousel {
  margin-top: 0; }
  #pizzaBuilderWrapper .list_carousel li {
    padding-top: 2px; }

#pizzaBuilderWrapper .button-group .button {
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid #008cba;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.list_carousel {
  margin: 30px 0 0;
  padding: 0;
  width: 100%;
  position: relative; }
  .list_carousel li {
    position: relative;
    text-align: center;
    width: 18%;
    padding: 0;
    margin: 0 1% 12px;
    display: block;
    float: left; }
  .list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block; }

.removeLink {
  font-size: 0.7em;
  position: absolute !important;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .removeLink i {
    color: #000; }
  .removeLink p {
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6);
    padding: 2px; }

@media only screen and (min-width: 320px) {
  #carouselTooltip {
    text-align: center;
    padding: 16px 0 10px;
    margin-left: -0.1em !important;
    margin-top: 0 !important; }
    #carouselTooltip .touchAddToPizza {
      clear: both;
      display: inline-block;
      padding: 6px; } }

#carouselTooltip label {
  color: #fff; }

#favouritesCarousel {
  padding: 0 30px; }
  #favouritesCarousel.list_carousel li {
    margin: 0 0 12px 0; }

.prev {
  left: 1%; }

.next {
  right: 1%; }

.nestedDropDown {
  display: none;
  position: relative;
  top: -10px;
  padding: 0;
  width: 100%;
  left: 0 !important;
  max-width: none !important; }

#bigPizza {
  background: url(../images/big-pizza.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 0;
  padding: 0 0 100% 0; }

.caroufredsel_wrapper {
  cursor: default !important; }

#gridToolTip {
  width: 300px !important; }
  #gridToolTip label {
    color: #fff; }
  #gridToolTip .nub {
    left: 50%; }

.gridToolTip {
  width: 300px !important;
  display: none;
  position: absolute;
  z-index: 999;
  font-weight: bold;
  font-size: 0.9375em;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 85%;
  left: 50%;
  width: 100%;
  color: white;
  background: black;
  border-radius: 3px;
  text-align: center; }
  .gridToolTip label {
    color: #fff; }
  .gridToolTip .nub {
    left: 50%; }
  .gridToolTip.opened {
    color: #2ba6cb !important;
    border-bottom: dotted 1px #196177 !important; }
  .gridToolTip > .nub {
    padding: 6px 0;
    display: block;
    left: 50%;
    position: absolute;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent black transparent;
    top: -10px; }

.avatar {
  float: left;
  padding: 0 10px 0 0;
  width: 20px;
  height: 10px; }

.BookTableHiddenAvailable {
  padding: 20px 0 0; }

.bookingForm {
  padding: 20px 0 0; }

hr {
  border: solid rgba(255, 255, 255, 0.35);
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 1.1875rem;
  height: 0; }

.forgotLinkPlaceholder {
  margin-top: -3px; }

.forgotLink {
  font-size: 13.5px; }

.basketTop {
  margin-top: 5px; }
  .basketTop a {
    color: #868686; }

.lblContainer label {
  margin-top: 7px; }

input[type=radio].styledRadioButton {
  margin-right: 5px; }
  input[type=radio].styledRadioButton:before {
    content: url(../images/modalCheckBox.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: -7px 0 0 -5px;
    cursor: pointer; }
  input[type=radio].styledRadioButton.checked:before {
    content: url(../images/modalCheckBox-checked.png);
    width: 24px;
    height: 24px;
    display: inline-block;
    margin: -7px 0 0 -5px;
    cursor: pointer; }

input[type=checkbox].styledCheckbox {
  margin-right: 5px;
  margin-bottom: 0px; }
  input[type=checkbox].styledCheckbox:before {
    content: url(../images/checkbox-bg.png);
    width: 18px;
    height: 19px;
    display: inline-block;
    margin: -2px 0 0 -2px;
    cursor: pointer; }
  input[type=checkbox].styledCheckbox.checked:before {
    content: url(../images/checkbox-bg-checked.png);
    width: 18px;
    height: 19px;
    display: inline-block;
    margin: -2px 0 0 -2px;
    cursor: pointer; }
  input[type=checkbox].styledCheckbox + label {
    vertical-align: top;
    margin-left: 0; }

.accordion dd > a {
  background: #222222;
  color: #ffffff;
  border-bottom: 1px solid #b0b0b0; }
  .accordion dd > a em {
    font-style: normal !important;
    background: #fff;
    padding: 0;
    width: 22px;
    text-align: center;
    color: #222;
    border-radius: 50%;
    font-size: 14px;
    float: left;
    margin: 7px 10px 0 0; }
  .accordion dd > a:hover {
    background: #333333; }
    @media (max-width: 767px) {
      .accordion dd > a:hover {
        background: #fff; } }

.accordion dd:last-of-type > a {
  border-bottom: none; }

.accordion dd.accordion-navigation > a {
  font-size: 26px;
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif; }
  .accordion dd.accordion-navigation > a span {
    color: #fed350; }

.accordion dd.active > a {
  background: #222222; }

thead th {
  white-space: nowrap;
  border-bottom: 1px solid #ccc;
  color: #888; }

tr:last-child td {
  border: 0; }

.legacy-ie .enhanced th.essential {
  display: inline; }

.legacy-ie .enhanced td.essential {
  display: inline; }

#welcomePanel .button {
  font-size: 12px;
  margin-bottom: 0; }

.constrainWidthOfLargeButtons .button {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.imageSpacing img {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.mobileNav li {
  width: 100%;
  display: block; }
  .mobileNav li a {
    width: 100%;
    display: block; }

#cartProductDynamicList li {
  display: inline-block;
  background: #fff;
  transition: background 2.5s 1.5s, color 2.5s 1.5s; }
  #cartProductDynamicList li.justAdded {
    background: #ffd441;
    color: #333; }

.cartSummary p {
  margin-bottom: 0; }

li.blakeShelton .carouselPanel {
  top: auto;
  bottom: 5%; }

.productOptions .relativeWrapper {
  margin-bottom: 10px; }

.tabs dd > a {
  background: #333;
  color: #fff; }
  .tabs dd > a:hover {
    background: #000; }

.tabs dd.active a {
  background: #f2f2f2;
  color: #333; }

#faqs .accordion {
  border: 1px solid #b9b9b9;
  margin-bottom: 20px; }
  #faqs .accordion dd a {
    border-bottom: 1px solid #b9b9b9; }
  #faqs .accordion dd:last-child a {
    border: 0; }

.columns.allCentred {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.expandToFitImages img {
  width: 100%;
  height: auto; }

.showLocationNow #locationOnceSelected {
  display: inline; }

.large-4 .widerCarouselTile {
  padding: 0 0 126% 0;
  padding: 0 0 60% 0; }

.large-8 .widerCarouselTile {
  padding: 0 0 60% 0; }
  .large-8 .widerCarouselTile h4 {
    width: 50%;
    float: left;
    clear: left; }
  .large-8 .widerCarouselTile p {
    width: 50%;
    float: left;
    clear: left; }
  .large-8 .widerCarouselTile .button {
    width: 50%;
    float: right; }

.sub-nav {
  padding-top: 10px;
  margin-bottom: 0; }
  .sub-nav .welcome-message {
    margin-top: 5px;
    font-size: 18px; }
    .sub-nav .welcome-message a {
      padding: 0 5px; }

.sub-nav li a.button {
  color: #fff;
  margin-bottom: 6px; }

.touch .list_carousel li {
  position: relative; }

#getLocationForm h5 {
  color: #ffffff; }

.hut-list li {
  list-style-type: none; }

.newletterBox input[type=text] {
  margin-top: 3px;
  margin-bottom: 10px; }

.newletterBox .button {
  margin-bottom: 0; }

@media (max-width: 767px) {
  .order-confirmation {
    padding-top: 20px; } }

.order-confirmation h4 {
  font-weight: bold; }

.order-confirmation p {
  font-size: 16px;
  margin-bottom: 0.8rem !important; }

.order-confirmation hr {
  margin-top: 0px;
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#666), to(transparent)); }

.order-confirmation .confirmation-mail {
  text-align: center !important; }

.loginPage,
.registrationPage,
.basket,
.order-confirmation,
.cartePage {
  margin-top: 20px; }
  @media (max-width: 767px) {
    .loginPage > div,
    .registrationPage > div,
    .basket > div,
    .order-confirmation > div,
    .cartePage > div {
      padding-left: 0;
      padding-right: 0; } }

.alertModal {
  min-height: auto; }
  .alertModal h4, .alertModal h3, .alertModal h2, .alertModal h1, .alertModal p {
    color: #000; }
  .alertModal .button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }

.extras-btn {
  font-size: 1rem;
  line-height: 1.30rem !important; }

.extrasModal {
  min-height: auto;
  top: 20px;
  /*.columns:last-of-type{
        padding-bottom:0px !important;
    }*/ }
  .extrasModal .extras-subtitle {
    color: #000000;
    font-weight: bold;
    float: left;
    padding: 0px 0px 0 50px; }
    .extrasModal .extras-subtitle:last-of-type {
      padding-top: 15px; }
  .extrasModal h4, .extrasModal h3, .extrasModal h2, .extrasModal h1, .extrasModal p {
    color: #000; }
  .extrasModal h4 {
    font-size: 36px;
    padding-bottom: 0px; }
  .extrasModal .extraList {
    max-height: 80px;
    overflow: auto; }
    .extrasModal .extraList .extra:last-of-type {
      float: none !important;
      padding-top: 5px; }
  .extrasModal .yellowButton {
    margin-top: 15px;
    margin-bottom: 0; }
  .extrasModal .extra .columns {
    padding-bottom: 10px !important; }
  .extrasModal input[type=checkbox].styledCheckbox:before {
    margin: -4px 0 0 -2px; }
  .extrasModal input[type=checkbox].styledCheckbox + label {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-right: 0px;
    margin-top: -5px; }
  .extrasModal label {
    font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: inline-block;
    margin-left: 0.5rem;
    padding-bottom: 0; }

.panel label {
  color: #fff !important; }

.reorderPage {
  margin-top: 20px; }
  .reorderPage h1 {
    padding-top: 1rem;
    padding-bottom: 1.5rem; }
  .reorderPage h3, .reorderPage .products {
    color: #fff !important; }
  .reorderPage .panel {
    padding-top: 20px; }
  .reorderPage .reorderBox {
    border-right: 1px solid #d3d3d3; }
    @media (max-width: 640px) {
      .reorderPage .reorderBox {
        padding-bottom: 1rem;
        padding-top: 1rem;
        border-right: none;
        border-bottom: 1px solid #d3d3d3; }
        .reorderPage .reorderBox:last-of-type {
          border-bottom: none; } }
    .reorderPage .reorderBox:last-of-type {
      border-right: none; }
    .reorderPage .reorderBox h3 {
      padding-bottom: 0.5rem; }
      .reorderPage .reorderBox h3 img {
        cursor: pointer;
        float: right; }
    .reorderPage .reorderBox .products {
      margin-right: -5px;
      height: 160px;
      overflow: auto;
      font-size: 1.4rem;
      line-height: 1.6rem;
      font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
      margin-bottom: 1rem; }
      .reorderPage .reorderBox .products .product {
        float: left;
        white-space: normal;
        padding-bottom: 0.5rem; }
    .reorderPage .reorderBox .price {
      padding-bottom: 1rem;
      float: right;
      font-size: 1.2rem; }
    .reorderPage .reorderBox .largerButton {
      margin-bottom: 0 !important;
      text-transform: uppercase;
      font-size: 1.4rem;
      border-radius: 10px; }
  .reorderPage .reorderButton {
    margin-top: 15px;
    width: 100%;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 1.6rem;
    padding-bottom: 10px;
    padding-right: 0;
    border-radius: 5px; }

#bannerModal {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif; }
  #bannerModal .close-reveal-modal {
    position: absolute;
    top: -0.2rem;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase; }
    #bannerModal .close-reveal-modal img {
      float: right;
      margin-top: -5px;
      margin-left: 7px; }

.close-modal {
  font-size: 2.5rem;
  line-height: 1;
  position: absolute;
  top: 0.5rem;
  right: 0.6875rem;
  color: #aaaaaa;
  font-weight: bold;
  cursor: pointer; }
  .close-modal:hover {
    color: #aaaaaa; }

@media only screen and (max-width: 40em) {
  #bannerModal {
    min-height: 0 !important; } }

.messageModal {
  z-index: 999;
  visibility: visible;
  border: 0;
  position: absolute;
  top: 25%; }

.close-reveal-messageModal {
  font-size: 2.5rem;
  line-height: 1;
  position: absolute;
  top: 0.5rem;
  right: 0.6875rem;
  color: #aaaaaa;
  font-weight: bold;
  cursor: pointer; }

.button-messageModal {
  margin: 10px 0 0 0; }

.exactCenter {
  position: fixed;
  top: 50%;
  margin-top: -100px; }

.sacPhone {
  font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif;
  text-align: right;
  padding-right: 3px;
  font-size: 14px; }

.startOrderMobile .sacPhone {
  padding: 10px 0;
  text-align: center; }

.alertbg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.45);
  z-index: 99;
  display: none;
  top: 0;
  left: 0; }

.button.small {
  font-size: 1.2rem;
  padding-bottom: 0.8rem;
  border-radius: 10px; }

.noBottomMargin {
  margin-bottom: 0 !important; }

.btn-disabled {
  opacity: 0.7;
  cursor: default !important; }

.selected-front-menu {
  background-color: #FFFFFF !important;
  color: #000000 !important; }

.fancy-separator {
  display: block;
  border: none;
  color: white;
  height: 1px;
  background: black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#666), to(transparent)); }

.infoPage h3 {
  padding-bottom: 15px; }

.infoPage #panelEditAddress .button {
  border-radius: 10px !important;
  margin-bottom: 0; }

.infoPage #panelEditAddress #delete {
  margin-left: 10px; }

.infoPage #panelEditAddress .addressRow {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
  margin-bottom: 25px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#666), to(transparent));
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: bottom center; }
  .infoPage #panelEditAddress .addressRow label {
    margin-bottom: 0;
    padding-bottom: 0;
    cursor: default; }

#newHome {
  display: flex;
  align-items: center;
  padding-bottom: 25px; }
  #newHome .resizePanelBox {
    padding: 25px 0; }
  #newHome .panel {
    margin-bottom: 0; }
  #newHome .radius {
    border-radius: 10px; }
  #newHome .cepSearch h3 {
    font-size: 1.99rem; }
  #newHome .cepSearch .button {
    font-size: 1.2rem; }
  #newHome .cepSearch p {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 3px; }
  #newHome .cepSearch input[type=text].cep {
    font-family: Helvetica, Arial, sans-serif;
    width: 110%;
    padding-right: 25px;
    height: 46px;
    font-size: 24px;
    padding-top: 10px;
    margin-bottom: 0px; }
  #newHome .cepSearch .postfix.button {
    line-height: 48px;
    height: 46px;
    margin-bottom: 0px; }
    #newHome .cepSearch .postfix.button.findAddressDisabled {
      background: #eb5b5b !important;
      color: #e2e2e2; }
  #newHome .home-image {
    padding-bottom: 25px; }
  #newHome .completeAddress #submitFindRestaurantAddressForm, #newHome .completeAddress #backToAddressSearchDiv {
    margin-bottom: 0; }
  #newHome .completeAddress .backContainer {
    padding-right: 0px; }
  #newHome .completeAddress .back {
    padding-top: 20px; }
  #newHome .deliveryCarryout #delivery, #newHome .deliveryCarryout #carryout {
    cursor: pointer; }
    #newHome .deliveryCarryout #delivery label, #newHome .deliveryCarryout #carryout label {
      cursor: pointer; }
    #newHome .deliveryCarryout #delivery .icon, #newHome .deliveryCarryout #carryout .icon {
      width: 136px;
      height: 136px;
      zoom: .7;
      display: inline-block;
      background: url(../images/delivery-carryoutsprites.png) no-repeat; }
      #newHome .deliveryCarryout #delivery .icon input, #newHome .deliveryCarryout #carryout .icon input {
        position: absolute;
        visibility: hidden; }
  #newHome .deliveryCarryout p {
    font-size: 26px;
    margin-bottom: 0;
    margin-top: 10px;
    color: grey; }
  #newHome .deliveryCarryout #delivery .icon {
    background-position: -136px 0px; }
  #newHome .deliveryCarryout #delivery.active .icon {
    background-position: -0px 0px; }
  #newHome .deliveryCarryout #delivery.active p {
    color: #fff; }
  #newHome .deliveryCarryout #carryout .icon {
    background-position: -408px 0px; }
  #newHome .deliveryCarryout #carryout.active .icon {
    background-position: -272px 0px; }
  #newHome .deliveryCarryout #carryout.active p {
    color: #fff; }
  #newHome .savedAddresses h6, #newHome .carryoutAddresses h6 {
    font-size: 15px;
    margin-bottom: 15px; }
  #newHome .savedAddresses .addressItem, #newHome .carryoutAddresses .addressItem {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    cursor: default; }
    #newHome .savedAddresses .addressItem label, #newHome .carryoutAddresses .addressItem label {
      padding: 0 5px;
      margin-bottom: 5px;
      color: #fff;
      font-size: 20px;
      font-family: UnitedSansMed, Tahoma, Arial, Helvetica, sans-serif; }
    #newHome .savedAddresses .addressItem p, #newHome .carryoutAddresses .addressItem p {
      padding: 0 5px;
      margin-bottom: 0; }
    #newHome .savedAddresses .addressItem .button, #newHome .carryoutAddresses .addressItem .button {
      margin-bottom: 0;
      text-transform: uppercase; }
  #newHome .savedAddresses .newAddress, #newHome .carryoutAddresses .newAddress {
    padding: 0 20px;
    color: #fed75f;
    text-decoration: underline !important; }
  #newHome .carryoutAddresses .addressItem, #newHome .carryoutAddresses .addressItem label {
    cursor: pointer !important; }
  #newHome .carryoutAddresses .map {
    padding-bottom: 25px; }
    #newHome .carryoutAddresses .map #mapholder {
      width: 100%;
      height: 300px; }
  #newHome .carryoutAddresses .addressItem {
    cursor: default; }
  #newHome .carryoutAddresses .button {
    margin-top: 15px; }
  @media only screen and (max-width: 600px) {
    #newHome.small-collapse > .column, #newHome.small-collapse > .columns {
      padding-left: 0 !important;
      padding-right: 0 !important; } }

#footer {
  background: rgba(0, 0, 0, 0.7);
  padding-top: 10px; }
  #footer #footerSeparator {
    padding-bottom: 70px; }
  #footer h6 {
    margin-bottom: 0;
    color: #c1c1c1; }
  #footer .panel {
    margin-bottom: 8px; }
  #footer hr {
    margin: 1.25rem 0;
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 666, from(#666), to(transparent)); }
  #footer p.legal {
    line-height: 1em; }
  #footer .side-nav {
    padding-top: 5px; }

.socialFooter {
  padding: 0;
  margin-bottom: 15px; }
  .socialFooter li {
    padding-bottom: 0px;
    height: 32px; }
  .socialFooter .social-facebook {
    width: 32px;
    height: 32px;
    background: url(../images/fb.png) no-repeat;
    display: inline-block;
    background-size: 32px 32px;
    padding-bottom: 0px; }
  .socialFooter .social-instagram {
    width: 32px;
    height: 32px;
    background: url(../images/insta.png) no-repeat;
    display: inline-block;
    background-size: 32px 32px;
    padding-bottom: 0px; }
  .socialFooter .social-youtube {
    width: 32px;
    height: 32px;
    background: url(../images/yt.png) no-repeat;
    display: inline-block;
    background-size: 32px 32px;
    padding-bottom: 0px; }
  .socialFooter .socialButtonFooter {
    width: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.55);
    padding: 15px 0;
    border-radius: 5px;
    margin: 3px 0;
    font-size: 1.2rem; }
    @media (max-width: 767px) {
      .socialFooter .socialButtonFooter {
        background: transparent; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .socialFooter .socialButtonFooter {
        background: transparent; } }
    .socialFooter .socialButtonFooter a {
      color: #fff; }
      .socialFooter .socialButtonFooter a small {
        display: inline-block;
        margin: 10px 0 0 5px; }

.savedAddresses input[type=text].cep {
  font-family: Helvetica, Arial, sans-serif;
  width: 110%;
  padding-right: 25px;
  height: 46px;
  font-size: 24px;
  padding-top: 10px;
  margin-bottom: 0px; }

.savedAddresses .postfix.button {
  line-height: 48px;
  height: 46px;
  margin-bottom: 0px; }
  .savedAddresses .postfix.button.findAddressDisabled {
    background: #eb5b5b !important;
    color: #e2e2e2; }

button:focus, input {
  outline: 0 !important; }

#CheckoutPaymentForm h3 {
  padding-top: 10px; }

.chooseCustomer {
  padding-left: 15px !important; }
  .chooseCustomer p {
    font-size: 1rem; }
  .chooseCustomer .clientName {
    font-size: 20px;
    font-weight: bold; }

.menu-name-mobile {
  font-family: UnitedSansMed,Tahoma,Arial,Helvetica,sans-serif;
  font-size: 30px;
  text-align: center; }

.btnLoading {
  background-image: url(../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }

/* Let's get this party started */
::-webkit-scrollbar {
  width: 12px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.8); }

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.9); }

.checkout .accordion dd.accordion-navigation > a > h4 > img.icon-accordion {
  padding: 4px;
  float: right;
  transform: rotate(270deg); }

.checkout .accordion dd.accordion-navigation.active > a > h4 > img.icon-accordion {
  transform: rotate(0deg); }

.accordion-default > a {
  font-size: 26px !important;
  font-family: UnitedSansMed,Tahoma,Arial,Helvetica,sans-serif !important; }

.list-order {
  text-align: center !important;
  color: white !important;
  background-color: black; }

.yellowButton-small {
  background-color: #ffd800;
  color: #000;
  margin: 0px; }

.accordion-extras-link {
  background-color: white !important;
  padding: .7rem .5rem !important;
  color: black !important;
  background: url(../images/select-arrow.png) no-repeat !important;
  background-position: 95% center !important;
  font: 400 13.3333px Arial !important;
  cursor: default !important; }

.accordion-extras-option {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: white; }

.accordion-extras-option:hover {
  background-color: #f3f3f3;
  border-color: #999; }

.address-description {
  padding: 0px;
  margin: 20px 0px 20px 0px; }

.body-not-found {
  height: 15.4em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center; }

