﻿.custom-combobox {
    position: relative;
    display: inline-block;
    width: 355px;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.custom-combobox-optional {
    position: relative;
    display: inline-block;
    width: 310px;
}

.ui-autocomplete {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 9999;
}
