﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.BOLogSystemViewModel

@{
    ViewBag.Title = "Detalhes do Log";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @*Insira todos os códigos javascript aqui*@
}

<fieldset class="details">
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdBOLogSystem)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IdBOLogSystem)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.UserName)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.ActionType)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ActionType)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IP)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IP)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.ExecutionDate)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ExecutionDate)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdEntity)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IdEntity)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.EntityAlias)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.EntityAlias)
        </span>
    </div>

    <div class="details-separation">
        <br />
        <h2 class="details-title">@Model.EntityAlias</h2>
        <hr />
    </div>

    <table width="100%;">
        <tr>
            <th width="30%;"><b>CAMPO</b></th>
            <th width="35%;"><b>VALOR ANTIGO</b></th>
            <th width="35%;"><b>VALOR NOVO</b></th>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        @{ int i = 0; }

        @if (Model.NewEntityDictionary != null)
        {
            foreach (var newEntity in Model.NewEntityDictionary)
            {
                string bgColor = "";
                if (i == 0 || i % 2 == 0)
                {
                    bgColor = "background: #f5f4eb;";
                }

                <tr style="@bgColor">
                    <td>@newEntity.Key</td>
                    <td>
                        @if (Model.OldEntityDictionary.ContainsKey(newEntity.Key))
                        {
                            @Model.OldEntityDictionary[newEntity.Key]
                        }
                    </td>
                    <td>@Model.NewEntityDictionary[newEntity.Key]</td>
                </tr>
                i++;
            }
        }

    </table>

</fieldset>
</br>
<p>
    @{
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
        ViewBag.Routes.Add("id", Model.IdBOLogSystem);
    }

    <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>
