﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.BOLogSystemViewModel>
@using SmartFramework.Areas.EnumsAndConsts

@{
    ViewBag.Title = "Logs do Sistema";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @*Insira todos os códigos javascript aqui*@
    @Scripts.Render("~/Scripts/Dart-js")

    <script>

        $(document).ready(function () {
        
            $("#Filter_EntityAlias").keyup(function () {
                
                if($(this).val() != null && $(this).val() != "")
                {
                    $("#Filter_IdEntity").prop('disabled', false);
                }
                else
                {
                    $("#Filter_IdEntity").val("");
                    $("#Filter_IdEntity").prop('disabled', true);
                }

            });

        });

    </script>



}

@using (Html.BeginForm("Index", "BOLogSystem", FormMethod.Get, new { id = "BOLogSystemSearchFormId", @class = "middle-forms" }))
{
    BOLogSystemFilter Filter = new BOLogSystemFilter();
    if (ViewBag.Filter != null)
{    
        Filter = (BOLogSystemFilter)ViewBag.Filter;
    }
    <fieldset class="filter">

        <h4 class="cursorPointer"><a href="#" class="open-link"></a> @Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(filter => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(filter => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Código Log:
                </label>
                @Html.TextBoxFor(filter => Filter.IdBOLogSystem)
            </li>
            <li>
                <label class="field-title">
                    Nome Entidade:
                </label>
                @Html.TextBoxFor(filter => Filter.EntityAlias)
            </li>
            <li>
                <label class="field-title">
                    Código Entidade:
                </label>
                @if(!Filter.EntityAlias.NullOrEmpty())
                {
                    @Html.TextBoxFor(filter => Filter.IdEntity)
                }
                else
                {
                    @Html.TextBoxFor(filter => Filter.IdEntity, new { @disabled = "disabled" } )
                }
            </li>
            <li>
                <label class="field-title">
                    Nome Usuário:
                </label>
                @Html.TextBoxFor(filter => Filter.UserName)
            </li>
            <li>
                <label class="field-title">Criação: </label>
                @Html.TextBoxFor(filter => Filter.CreatedStart, new { @class = "datetime" })
                a
                @Html.TextBoxFor(filter => Filter.CreatedEnd, new { @class = "datetime" })
            </li>
            <li>
                <label class="field-title">
                    Ação:
                </label>
                @Html.DropDownListFor(filter => Filter.ActionType, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.BOLogSystemViewModel().ActionTypeDic, new { @class = "NoClear" })
            </li>
            <li>
                @{ 
                    Html.RenderPartial("FilterButtonsUserControl", "BOLogSystemSearchFormId");
                }
            </li>
        </ol>
    </fieldset>
}

@section titleContent
{
    @if (ViewBag.Routes.ContainsKey("id"))
    {
        ViewBag.Routes.Remove("id");
    }
    @if (ViewBag.Routes.ContainsKey("orderDate"))
    {
        ViewBag.Routes.Remove("orderDate");
    }
}

<div id="divDetails"></div>
<table class="table-long">
    <tr>
        <th width="90px">
            <a href="" rel="_id" class="orderByLink">
                Cód. Log
            </a>
        </th>
        <th width="120px">
            <a href="" rel="IdEntity" class="orderByLink">
                Cód. Entidade
            </a>
        </th>
        <th>
            <a href="" rel="EntityAlias" class="orderByLink">
                Nome Entidade
            </a>
        </th>
        <th>
            <a href="" rel="UserId" class="orderByLink">
                Nome Usuário
            </a>
        </th>
        <th>
            <a href="" rel="ActionType" class="orderByLink">
                Ação
            </a>
        </th>
        <th width="92px">
            <a href="" rel="ExecutionDate" class="orderByLink">
                Data Alteração
            </a>
        </th>
    </tr>

    @if (Model != null)
    {

        foreach (var item in Model)
    {
    
        <tr>
            @{
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
                    ViewBag.Routes.Add("id", item.IdBOLogSystem);
            }
            <td>
                    @Html.DisplayFor(modelItem => item.IdBOLogSystem)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IdEntity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.EntityAlias)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ActionType)
            </td>
            <td>
                    @item.ExecutionDate.ToString("dd/MM/yyyy HH:mm")
            </td>
            <td class="table-comand">
                <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
            </td>
        </tr>
    }
    }
</table>
<br />

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}
