﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MainBannerViewModel

@{
    ViewBag.Title = "Criação";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript" src="~/Scripts/View/MenuGroup/MenuGroup.js"></script>
    <script type="text/javascript" src="~/Scripts/View/AsideMainBanner/AsideMainBanner.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="file"]').each(function (key, value) {
                $(value).rules('add', { required: true, messages: { required: "É obrigatório escolher uma imagem" } })
            });

            $('.IdMenuGroup').each(function (key, value) {
                $(value).rules('add', { required: true, messages: { required: "É obrigatório selecionar loja e menu" } })
            });
            
        });
    </script>
}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("id", "BannerForm");
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("enctype", "multipart/form-data");
}

@using (Html.BeginForm("Create", "MainBanner", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.FullImageAddress)
                </label>
                <input type="file" name="FullImage" accept="image/*" />
                @Html.ValidationMessageFor(model => model.FullImage)<br />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.LightImageAddress)
                </label>
                <input type="file" name="LightImage" accept="image/*" />
                @Html.ValidationMessageFor(model => model.LightImage)<br />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Title)
                </label>
                @Html.TextBoxFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Order)
                </label>
                @Html.EditorFor(model => model.Order)
                @Html.ValidationMessageFor(model => model.Order)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>
                @Html.EditorFor(model => model.Disabled)
                @Html.ValidationMessageFor(model => model.Disabled)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    Lojas/Menus Relacionadas
                </label>
                <table id="LojaMenu">
                    @{var i = 0;}
                    <tbody>
                        <tr>
                            <th>LOJA</th>
                            <th>MENU</th>
                        </tr>
                        @if (Model != null && Model.MenuGroupList != null)
                        {
                            foreach (var item in Model.MenuGroupList)
                            {

                                <tr>
                                    <td>
                                        @{var selectedLoja = item.IdRestaurant;}
                                        @Html.DropDownList("MenuGroupList[" + i + "].IdRestaurant", ViewBag.SelectRestaurantList as IEnumerable<SelectListItem>, "", new
                           {
                               @class = "Restaurant_IdRestaurant",
                               @style = "width:200px",
                               @data_selected = selectedLoja,
                               @disabled = "disabled"
                           })
                                        @Html.ValidationMessage("MenuGroupList[" + i + "].IdRestaurant")

                                        <span class="clearFix">&nbsp;</span>
                                    </td>
                                    <td>
                                        @{var selectedMenu = item.IdMenuGroup;}
                                        @Html.DropDownList("MenuGroupList[" + i + "].IdMenuGroup", new List<SelectListItem>(), new
                           {
                               @class = "IdMenuGroup",
                               @style = "width:200px",
                               @data_selected = selectedMenu,
                               @disabled = "disabled"
                           })
                                        @Html.ValidationMessage("MenuGroupList[" + i + "].IdMenuGroup")
                                        <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                                        <span class="clearFix">&nbsp;</span>
                                    </td>
                                    <td class="table-comand" style="margin-right:10px">
                                        <a style="display:none ; margin-left:5px" class="add-link add-ljmn" href="#"></a>
                                        <a class="rem-ljmn table-delete-link" style="margin-left:5px ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <input type="hidden" name="MenuGroupList[@i].IdRestaurant" value="@item.IdRestaurant">
                                        <input type="hidden" name="MenuGroupList[@i].IdMenuGroup" value="@item.IdMenuGroup">
                                        <input type="hidden" name="MenuGroupList[@i].IdMainBanner_MenuGroup" data-type="main" value="@item.IdMainBanner_MenuGroup">
                                    </td>
                                </tr>
                                        i++;
                            }
                        }
                        <tr>
                            <td>
                                @Html.DropDownList("MenuGroupList[" + i + "].IdRestaurant", ViewBag.SelectRestaurantList as IEnumerable<SelectListItem>, "", new
                           {
                               @class = "Restaurant_IdRestaurant",
                               @style = "width:200px"
                           })
                                @Html.ValidationMessage("MenuGroupList[" + i + "].IdRestaurant")

                                <span class="clearFix">&nbsp;</span>
                            </td>
                            <td>
                                @Html.DropDownList("MenuGroupList[" + i + "].IdMenuGroup", new List<SelectListItem>(), new
                           {
                               @class = "IdMenuGroup",
                               @style = "width:200px"
                           })
                                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                                <span class="clearFix">&nbsp;</span>
                            </td>
                            <td class="table-comand" style="margin-right:10px">
                                <a style="margin-left:5px" class="add-link add-ljmn" href="#"></a>
                                <a class="rem-ljmn table-delete-link" style="margin-left:5px ;display:none ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                @Html.ValidationMessage("MenuGroupList[" + i + "].IdMenuGroup")
                            </td>
                        </tr>
                    </tbody>
                </table>
                @Html.ValidationMessage("Relacionados", null, new { @class = "LojaMenuValidate", @style = "display:none; margin-left:160px; margin-top:5px;" })
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}
