﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MainBannerViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @*Insira todos os códigos javascript aqui*@
}

<fieldset class="details">
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.FullImageAddress)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.FullImageAddress)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.LightImageAddress)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.LightImageAddress)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Title)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Title)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Order)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Order)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Disabled)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Created)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Created)
        </span>
    </div>
</fieldset>
<p>
    @{
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
        ViewBag.Routes.Add("id", Model.IdMainBanner);
    }
    @if (Roles.IsUserInRole(UserPermission.MainBannerEdit))
    {
        <a class="button" href="@Url.Action("Edit", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
    }
    <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>