﻿@model  DartDataTemplate.Erro

@{
    ViewBag.Title = "Detalhes do Erro";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {}
<fieldset class="details">
    <h2 class="details-title">Informações sobre o Erro</h2>
    <hr />
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Mensagem)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Mensagem)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.StackTrace)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.StackTrace)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Source)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Source)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.aspnet_Users.UserName)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.aspnet_Users.UserName)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IP)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IP)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Criacao)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Criacao)
        </span>
    </div>
@*
    Caso necessário, coloque aqui o código HTML para mostrar as múltiplas entidades filhas.
*@
</fieldset>
<p>
	@{
		ViewBag.Routes.Add("id", Model.IdError);
	}
    
    <a class="button" href="@Url.Action("Index", "Errors", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>


