﻿@{
    ViewBag.Title = "Erro 500";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {}
<h2>Algo está errado, caso visualize essa mensagem novamente entre em contato com o administrador do sistema</h2>
<br />
<p style="font-weight: bold;">@Session["Error"]</p>
<br />
<p>@if (Session["ErrorReturnUrl"] != null)
   {
       <a class="button" href="@Session["ErrorReturnUrl"]">Voltar</a>
   }
<a class="button" href="@Url.Action("Index", "BOHome")">Página inicial</a></p>
