﻿@model IEnumerable<DartDataTemplate.Erro>
@using SmartFramework.Areas.EnumsAndConsts
@{
    ViewBag.Title = "Lista de Erro";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {}
@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@using (Html.BeginForm("Index", "Errors", FormMethod.Post, new { id = "FormSearchId", @class = "middle-forms" }))
{
    <fieldset class="filter">
        <h4 class="cursorPointer"><a href="#" class="open-link"></a>@Resources.ViewLabelNameStrings.Filter</h4>
        <ol>
            <li><label class="field-title">Usuário: </label>@Html.TextBox("userName" + SystemValues.FilterName)</li>
            <li><label class="field-title">Source: </label>@Html.TextBox("source" + SystemValues.FilterName)</li>
            <li><label class="field-title">StackTrace: </label>@Html.TextBox("stackTrace" + SystemValues.FilterName)</li>
            <li><label class="field-title">Data de Criação: </label>@Html.TextBox("criacao" + SystemValues.FilterName, "", new { @class="date" })</li>
            <li>
                @{ 
                    Html.RenderPartial("FilterButtonsUserControl", "FormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}

<table class="table-long">
    <tr>
        <th>
            Mensagem
        </th>
        <th>
            Source
        </th>
        <th>
            UserName
        </th>
        <th>
            Criacao
        </th>
  		<th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

	@{
		if(ViewBag.Routes.ContainsKey("id"))
		{
			ViewBag.Routes.Remove("id");
		}
		ViewBag.Routes.Add("id", item.IdError);
	}
    <td>
        @Html.TruncateText(item.Mensagem, 50)
    </td>
    <td>
        @Html.TruncateText(item.Source, 100)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.aspnet_Users.UserName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Criacao)
    </td>
	<td class="table-comand">
        <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
    </td>
    </tr>
}

</table>

 @{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
 }

