﻿@using Yum.Delivery.Model.MenuDomain;

@model CheckoutPaymentViewModel

@section DataLayer{
    <script type="text/javascript">
    window.dataLayer = window.dataLayer || []
    dataLayer.push(@Html.Raw(Json.Encode(ViewBag.DataLayer)));
    </script>
}


@{
    bool isCallCenterServer = DartDigital.Core.Configuration.AppConfiguration.Settings.EnvironmentSettings.GetSettingValueAsBoolean("isCallCenterServer");
    var CartDataResponse = ((HeaderFooterViewModel)ViewBag.HeaderFooter).GetCartDataResponse;
    var CartDataAddress = ((HeaderFooterViewModel)ViewBag.HeaderFooter).GetCartDataResponse;

    var sessionCustomer = (Yum.Delivery.Model.CustomerDomain.CustomerInfo)Session["CustomerInfo"];
    bool IsMoipOneClickCheckout = ViewBag.IsMoipOneClickCheckout != null && ViewBag.IsMoipOneClickCheckout == true;
    string creditCardBrand = ViewBag.CreditCardBrand;
    string creditCardLastFour = ViewBag.CreditCardLastFour;

    string cardInfo = string.Format("Cartão {0} final {1}", creditCardBrand, creditCardLastFour);
    bool includeOrderDeliveryFee = ViewBag.IncludeOrderDeliveryFee != null && (bool)ViewBag.IncludeOrderDeliveryFee;
}

<div class="row">
    <div class="small-12 mobileWide-12 tabletUp-8 large-8 columns">
        @using (Html.BeginForm("CheckoutPayment", "Cart", FormMethod.Post, new { @id = "CheckoutPaymentForm" }))
        {
            if ((ViewBag.IsCallCenterUser != null && ViewBag.IsCallCenterUser == true) || isCallCenterServer || CartDataResponse.CartData.DeliveryAddress == null)
            {
                var cartComplement = "";
                if (CartDataAddress != null && CartDataAddress.CartData != null && CartDataAddress.CartData.DeliveryAddress != null && CartDataAddress.CartData.DeliveryAddress.Complement != null)
                {
                    cartComplement = CartDataAddress.CartData.DeliveryAddress.Complement;
                }

                var cartReference = "";
                if (CartDataAddress != null && CartDataAddress.CartData != null && CartDataAddress.CartData.DeliveryAddress != null && CartDataAddress.CartData.DeliveryAddress.Reference != null)
                {
                    cartReference = CartDataAddress.CartData.DeliveryAddress.Reference;
                }

                @Html.HiddenFor(model => model.Complement, new { @Value = cartComplement, @maxlength = "20" })
                @Html.HiddenFor(model => model.Reference, new { @Value = cartReference, @maxlength = "23" })
            }
            else
            {
                string fullAddress = @String.Format("{0}, {1}, {2}, {3} - {4}, {5}-{6}",
                    CartDataResponse.CartData.DeliveryAddress.Address,
                    CartDataResponse.CartData.DeliveryAddress.Number,
                    CartDataResponse.CartData.DeliveryAddress.Neighborhood,
                    CartDataResponse.CartData.DeliveryAddress.City,
                    CartDataResponse.CartData.DeliveryAddress.StateCode,
                    CartDataResponse.CartData.DeliveryAddress.ZipCode.Substring(0, 5),
                    CartDataResponse.CartData.DeliveryAddress.ZipCode.Substring(5)
                );
                <div class="small-12 mobileWide-12 tabletUp-12 large-12 columns checkout">
                    <h3>Informações de Entrega</h3>
                    <div class="content" data-section-content>
                        <h4 style="margin: 0px 0px 15px 15px;">@fullAddress</h4>
                        <div id="complement" class="large-8 mobileWide-12 columns" style="margin-bottom:10px;">
                            <h4 class="">Complemento</h4>
                            @Html.TextBoxFor(model => model.Complement, new { @Value = CartDataAddress.CartData.DeliveryAddress.Complement, @maxlength = "20" })
                        </div>
                        <div class="large-4 columns">&nbsp;</div>

                        <div id="reference" class="large-8 mobileWide-12 columns" style="margin-bottom:10px;">
                            <h4 class="">Referência</h4>
                            @Html.TextBoxFor(model => model.Reference, new { @Value = CartDataAddress.CartData.DeliveryAddress.Reference, @maxlength = "23" })
                        </div>
                        <div class="large-4 columns">&nbsp;</div>
                    </div>
                </div>
            }
            @Html.HiddenFor(model => model.IsMoipOneClickCheckout, new { @id = "IsOneClick" })

            <div class="small-12 mobileWide-12 tabletUp-12 large-12 columns checkout">
                <h3>Informações de Pagamento</h3>
                <div class="content" data-section-content>
                    <div class="row" id="checkout2Process">
                        <div class="large-12 small-12 medium-12 columns" style="margin-bottom:0px !important;">
                            <div class="custom" id="splitPaymentRadios">
                                @{
                                    List<Yum.Delivery.Model.RestaurantDomain.PaymentTypeInfo> paymentTypeList = (List<Yum.Delivery.Model.RestaurantDomain.PaymentTypeInfo>)ViewBag.PaymentList;
                                    List<Yum.Delivery.Model.RestaurantDomain.PaymentGroup> paymentGroupList = (List<Yum.Delivery.Model.RestaurantDomain.PaymentGroup>)ViewBag.PaymentGroupList;

                                    Yum.Delivery.Model.RestaurantDomain.PaymentTypeInfo paymentOnline = paymentTypeList.Where(p => p.Online).FirstOrDefault();
                                }
                                @if (paymentGroupList.NullOrEmpty() || paymentGroupList.NullOrEmpty())
                                {
                                    <div>
                                        <h5 class="paymentTitle">Nenhuma forma de pagamento disponível</h5>
                                    </div>
                                }
                                else
                                {
                                    <dl class="accordion" data-accordion>

                                        @if (ViewBag.HasMOIPCustomer != null && ViewBag.HasMOIPCustomer && sessionCustomer != null && !sessionCustomer.CallCenterUser)
                                        {
                                            <dd class="accordion-navigation active">
                                                <a href="#oneClick">
                                                    <h4 class="paymentTitle">Compra 1 Clique <img class="icon-accordion" src="~/Images/arrow down.png" /> </h4>
                                                </a>
                                                <div id="oneClick" class="content active">
                                                    <div class="payment-item" data-attr="PaymentPanel_OneClick" data-data-info="@Json.Encode(new { OneClick = true })">
                                                        @Html.RadioButtonFor(model => model.PaymentList[0].IdPaymentType, paymentOnline.IdPaymentType, new { @id = "PaymentType_0", @class = "styledRadioButton", @style = "padding-top: 3px;" })
                                                        <label for="PaymentType_0">
                                                            @cardInfo
                                                        </label>
                                                        <div class="clearfix"></div>
                                                        <div class="contentPaymentTypeOneClick"></div>
                                                    </div>
                                                </div>
                                            </dd>
                                        }

                                        @foreach (var item in paymentGroupList)
                                        {
                                            <dd class="accordion-navigation">
                                                <a href="#IdPaymentGroup_@item.IdPaymentGroup" i>
                                                    <h4 class="paymentTitle">@item.Name <img class="icon-accordion" src="~/Images/arrow down.png" /> </h4>
                                                </a>
                                                <div id="IdPaymentGroup_@item.IdPaymentGroup" class="content">
                                                    @foreach (var item2 in paymentTypeList.Where(p => p.IdPaymentGroup == item.IdPaymentGroup))
                                                    {
                                                        <div class="payment-item" data-attr="PaymentPanel_@(!item2.MayHaveChange && !item2.Online ? "" : !item2.Online ? "Offline" : "Online")" data-data-info="@Json.Encode(new {MayHaveChange = item2.MayHaveChange, Online = item2.Online})">
                                                            @Html.RadioButtonFor(model => model.PaymentList[0].IdPaymentType, item2.IdPaymentType, new { @id = "PaymentType_" + item2.IdPaymentType, @class = "styledRadioButton" + (Model != null && Model.PaymentList[0].IdPaymentType == item2.IdPaymentType ? " checked" : ""), @style = "padding-top: 3px;" })
                                                            <label for="PaymentType_@item2.IdPaymentType">
                                                                @item2.Name
                                                                @if (item2.Online)
                                                                {
                                                                    <img src="@Url.Content("~/Images/logo-moip-3.png")" width="60" style="margin-top:-5px;" />
                                                                }
                                                            </label>
                                                            <div class="clearfix"></div>
                                                            <div class="contentPaymentType"></div>
                                                        </div>
                                                    }
                                                </div>
                                            </dd>
                                        }
                                    </dl>
                                }
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        @if (!paymentGroupList.NullOrEmpty() && !paymentGroupList.NullOrEmpty())
                        {
                            <div id="PaymentPanel_OneClick" class="splitPaymentPanel hide">
                                <div class="large-8 mobileWide-8 columns" style="margin-bottom: 0px !important;">
                                    <label>Código de Segurança</label>
                                    @Html.TextBoxFor(model => model.PaymentList[0].CardData.CVC, new { @placeholder = "Localizado no verso do cartão", @id = "securityCodeOneClick" })
                                    @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CVC)
                                </div>
                            </div>

                            <div id="PaymentPanel_Online" class="splitPaymentPanel hide">
                                @Html.HiddenFor(model => model.PaymentList[0].CardData.HashCode, new { @id = "hashCode" })
                                <div class="large-8 mobileWide-8 columns" style="margin-bottom: 0px !important;">
                                    <label>Nome no cartão *</label>
                                    @Html.TextBoxFor(model => model.PaymentList[0].CardData.CustomerFullName, new { @placeholder = "Da forma como aparece no cartão", @required = "required", @class = "cardname" })
                                    @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerFullName)
                                    <label>Data nascimento *</label>
                                    @Html.TextBoxFor(model => model.PaymentList[0].CardData.CustomerBirthDate, new { @placeholder = "__/__/____", @required = "required", @class = "birthdate validBirthdate" })
                                    @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerBirthDate)
                                    <label>CPF *</label>
                                    @Html.TextBoxFor(model => model.DocumentNumber, new { @placeholder = "CPF do dono do cartão", @required = "required", @class = "cpf" })
                                    @Html.ValidationMessageFor(model => model.DocumentNumber)
                                    <label>Número do cartão *</label>
                                    @Html.TextBoxFor(model => model.PaymentList[0].CardData.Number, new { @id = "cardNumber", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.Number)
                                    <label>Código de segurança *</label>
                                    @Html.TextBoxFor(model => model.PaymentList[0].CardData.CVC, new { @placeholder = "Localizado no verso do cartão", @id = "securityCode" })
                                    @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CVC)
                                    <label for="customDropdown">Expira em</label>
                                    <div class="row">
                                        <div class="large-4 tabletUp-4 mobileWide-8 columns left" style="margin-bottom:0px !important;">
                                            @{
                                                var validityMonth = new Dictionary<string, string>();
                                                validityMonth.Add("01", "01");
                                                validityMonth.Add("02", "02");
                                                validityMonth.Add("03", "03");
                                                validityMonth.Add("04", "04");
                                                validityMonth.Add("05", "05");
                                                validityMonth.Add("06", "06");
                                                validityMonth.Add("07", "07");
                                                validityMonth.Add("08", "08");
                                                validityMonth.Add("09", "09");
                                                validityMonth.Add("10", "10");
                                                validityMonth.Add("11", "11");
                                                validityMonth.Add("12", "12");
                                            }
                                            @Html.DropDownListFor(model => model.PaymentList[0].CardData.ExpirationMonth, validityMonth, "Mês", new { @id = "customDropdown", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.ExpirationMonth)
                                        </div>
                                        <div class="large-4 tabletUp-4 mobileWide-8 columns left" style="margin-bottom:0px !important;">
                                            @{
                                                var validityYear = new Dictionary<string, string>();
                                                for (var year = DateTime.Now.ToSessionTime().Year; year < DateTime.Now.ToSessionTime().Year + 10; year++)
                                                {
                                                    validityYear.Add(year.ToString().Substring(2, 2), year.ToString());
                                                }
                                            }
                                            @Html.DropDownListFor(model => model.PaymentList[0].CardData.ExpirationYear, validityYear, "Ano", new { @id = "Select2", @required = "required" })
                                            @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.ExpirationYear)
                                        </div>
                                    </div>

                                    @if (sessionCustomer != null && !sessionCustomer.CallCenterUser && ViewBag.OneClickEnabled)
                                    {
                                        var labelText = (ViewBag.HasMOIPCustomer != null && ViewBag.HasMOIPCustomer) ? "Substituir dados do cartão cadastrado para próximos pedidos" : "Salvar dados do cartão para próximos pedidos";

                                        <label>
                                            @Html.CheckBoxFor(model => model.PaymentList[0].CardData.SaveCardInformation, new { @class = "styledCheckbox", @id = "saveCardInformation" })
                                            @labelText
                                        </label>
                                    }
                                    <h4 class="address-title">Endereço de cobrança</h4>
                                    @if (((HeaderFooterViewModel)ViewBag.HeaderFooter).GetCartDataResponse.CartData.DeliveryAddress != null)
                                    {
                                        <input type="checkbox" name="useDeliveryAddress" class="useDeliveryAddressHandler styledCheckbox" value="true" />
                                        <label for="useDeliveryAddress" class="useDeliveryAddressHandler">Mesmo endereço de entrega</label>
                                    }
                                    <div id="deliveryAddressForm">
                                        <div class="custom large-6 mobileWide-6" style="display:inline-block;">
                                            <label>CEP *</label>
                                            @Html.TextBoxFor(model => model.PaymentList[0].CardData.CustomerAddressZipCode, new { @placeholder = "CEP", @required = "required", @maxlength = "8", @class = "numeric" })
                                            @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerAddressZipCode)
                                        </div>
                                        <div class="custom large-2 mobileWide-2" style="display:inline-block;">
                                            <a id="FindAddress" href="@Url.Action("GetAddressByZipCode", "Customer")">
                                                Buscar
                                            </a>
                                        </div>
                                        <div class="large-8 columns" style="padding:0; display:inline-block">
                                            <label>Endereço *</label>
                                            @Html.TextBoxFor(model => model.PaymentList[0].CardData.CustomerAddressName, new { @placeholder = "Rua", @readonly = true, @required = "required" })
                                            @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerAddressName)
                                        </div>
                                        <div class="large-3 large-offset-1 columns" style="padding:0;display:inline-block">
                                            <label>&nbsp;</label>
                                            @Html.TextBoxFor(model => model.PaymentList[0].CardData.CustomerAddressNumber, new { @placeholder = "Número", @required = "required", @class = "numeric" })
                                            @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerAddressNumber)
                                        </div>
                                        @Html.TextBoxFor(model => model.PaymentList[0].CardData.CustomerAddressCity, new { @placeholder = "Cidade", @readonly = true, @required = "required" })
                                        @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerAddressCity)
                                        @Html.TextBoxFor(model => model.PaymentList[0].CardData.CustomerAddressNeighborhood, new { @placeholder = "Bairro", @readonly = true, @required = "required" })
                                        @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerAddressNeighborhood)
                                        @Html.TextBoxFor(model => model.PaymentList[0].CardData.CustomerAddressStateCode, new { @placeholder = "Estado", @readonly = true, @required = "required" })
                                        @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerAddressStateCode)
                                        <label>Complemento</label>
                                        @Html.TextAreaFor(model => model.PaymentList[0].CardData.CustomerAddressComplement, new { @style = "height:7em; resize:none;" })
                                        @Html.ValidationMessageFor(model => model.PaymentList[0].CardData.CustomerAddressComplement)
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div id="PaymentPanel_Offline" class="splitPaymentPanel hide">
                                <div class="large-8 mobileWide-12 columns" style="margin-bottom: 0px !important;">
                                    <label>Troco para: *</label>
                                    @Html.TextBoxFor(model => model.PaymentList[0].PaidValue)
                                    @Html.ValidationMessageFor(model => model.PaymentList[0].PaidValue)
                                </div>
                            </div>

                            if (ViewBag.AcceptCPFOnNote == true && ViewBag.AcceptCNPJOnNote == true)
                            {
                                <div id="Receipt_Document" class="large-8 mobileWide-12 columns" style="margin-bottom:10px;">
                                    <input type="checkbox" id="showReceiptDocument" name="showReceiptDocument" class="useDeliveryAddressHandler styledCheckbox" value="true" />
                                    <label for="showReceiptDocument" class="useDeliveryAddressHandler">CPF/CNPJ na Nota</label>
                                    @Html.TextBoxFor(model => model.ReceiptDocumentVM, new { @class = "cpforcnpj documentRequired" })
                                    @Html.ValidationMessageFor(model => model.ReceiptDocumentVM)
                                </div>
                                <hr />
                            }
                            else if (ViewBag.AcceptCPFOnNote == true && ViewBag.AcceptCNPJOnNote == false)
                            {
                                <div id="Receipt_Document" class="large-8 mobileWide-12 columns" style="margin-bottom:10px;">
                                    <input type="checkbox" id="showReceiptDocument" name="showReceiptDocument" class="useDeliveryAddressHandler styledCheckbox" value="true" />
                                    <label for="showReceiptDocument" class="useDeliveryAddressHandler">CPF na Nota</label>
                                    @Html.TextBoxFor(model => model.ReceiptDocumentVM, new { @class = "cpf documentRequired" })
                                    @Html.ValidationMessageFor(model => model.ReceiptDocumentVM)
                                </div>
                                <hr />
                            }
                            else if (ViewBag.AcceptCPFOnNote == false && ViewBag.AcceptCNPJOnNote == true)
                            {
                                <div id="Receipt_Document" class="large-8 mobileWide-12 columns" style="margin-bottom:10px;">
                                    <input type="checkbox" id="showReceiptDocument" name="showReceiptDocument" class="useDeliveryAddressHandler styledCheckbox" value="true" />
                                    <label for="showReceiptDocument" class="useDeliveryAddressHandler">CNPJ na Nota</label>
                                    @Html.TextBoxFor(model => model.ReceiptDocumentVM, new { @class = "cnpj documentRequired" })
                                    @Html.ValidationMessageFor(model => model.ReceiptDocumentVM)
                                </div>
                                <hr />
                            }

                            <div class="large-8 mobileWide-12 columns" style="margin-bottom:0px !important;">
                                <h4 class="">Observações do Pedido</h4>
                                @Html.TextAreaFor(model => model.Observation, new { @style = "height:7em; resize:none;" })
                                @Html.ValidationMessageFor(model => model.Observation)
                            </div>
                            <div class="large-5 columns" style="margin-bottom:20px;">
                                <input type="submit" class="largerButton text-center orderButton" value="ENVIE SEU PEDIDO" />
                            </div>
                                                }
                    </div>
                </div>
            </div>
                                                }
    </div>
    <div class="large-4 tabletUp-4 columns sideMessage">
        <div class="panel">
            <h5>Meu Pedido</h5>
            <hr />
            @{}
            @foreach (var menuDish in CartDataResponse.CartData.CartMenuDishList)
            {
                <div class="row dishRow">
                    <div class="small-7 large-7 columns item">
                        <p class="item">@Html.Raw(string.Format("{0}x {1}", menuDish.Quantity, menuDish.Name))</p>
                        <ul>
                            @if (menuDish.MenuDishOptionalList != null)
                            {
                                foreach (var menudDishOptional in menuDish.MenuDishOptionalList)
                                {
                                    foreach (var menuDishOptionalItem in menudDishOptional.MenuDishOptionalItemList)
                                    {
                                        if (menuDishOptionalItem.IdMenuAttributeType == 22) //Incluir Extra
                                        {
                                            <li>Incluir: @menuDishOptionalItem.Name</li>
                                        }
                                        else if (menuDishOptionalItem.IdMenuAttributeType == 174) //Retirar Extra
                                        {
                                            <li>Retirar: @menuDishOptionalItem.Name</li>
                                        }
                                        else
                                        {
                                            <li>@menuDishOptionalItem.Name</li>
                                        }
                                    }
                                }
                            }

                            @if (menuDish.FractionItemList != null)
                            {
                                foreach (var fraction in menuDish.FractionItemList)
                                {
                                    foreach (var menuDishOptional in fraction.MenuDishOptionalList)
                                    {
                                        string itensInclude = string.Join(", ", menuDishOptional.MenuDishOptionalItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasAdd).Select(item => item.Name));
                                        string itensExclude = string.Join(", ", menuDishOptional.MenuDishOptionalItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasRemove).Select(item => item.Name));

                                        if (!itensInclude.NullOrEmpty())
                                        {
                                            <li>Incluir (1/2 @fraction.Name): @itensInclude</li>
                                        }

                                        if (!itensExclude.NullOrEmpty())
                                        {
                                            <li>Retirar (1/2 @fraction.Name): @itensExclude</li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>
                    <div class="small-5 large-5 columns">
                        <p class="text-right">R$ @String.Format("{0:0.00}", menuDish.TotalValue)</p>
                    </div>
                </div>
            }
            <hr />
            <p><span class="left">TAXA</span><span class="right">R$ @String.Format("{0:0.00}", CartDataResponse.CartData.DeliveryFee)</span></p>
            <br>
            <p style="clear:both;">
                <span class="left" style="margin-top:4px;">TOTAL</span>
                <span class="right" style="font-size:1.3em;font-weight: bold;">R$ @String.Format("{0:0.00}", CartDataResponse.CartData.Total)</span>
            </p>
            <br>
        </div>
        <div class="panel">
            @if (CartDataResponse.CartData.DeliveryAddress != null)
            {
                <span class="sideboxBGTitle">Entregar em</span>

                List<String> completeAddressDelivery = new List<String>();
                completeAddressDelivery.Add(CartDataResponse.CartData.DeliveryAddress.Address);
                completeAddressDelivery.Add(CartDataResponse.CartData.DeliveryAddress.Number);
                if (!CartDataResponse.CartData.DeliveryAddress.Complement.NullOrEmpty())
                {
                    completeAddressDelivery.Add(CartDataResponse.CartData.DeliveryAddress.Complement);
                }
                completeAddressDelivery.Add(CartDataResponse.CartData.DeliveryAddress.Neighborhood);
                completeAddressDelivery.Add(CartDataResponse.CartData.DeliveryAddress.City);
                completeAddressDelivery.Add(CartDataResponse.CartData.DeliveryAddress.StateCode);
                <h6 class="title" style="line-height:22px;">@String.Join(", ", completeAddressDelivery)</h6>

                List<string> complReference = new List<string>();
                if (!CartDataResponse.CartData.DeliveryAddress.Reference.ISNullOrEmptyWithTrim())
                {
                    complReference.Add(CartDataResponse.CartData.DeliveryAddress.Reference);
                }
                <h6 class="title" style="line-height:22px;">@String.Join(", ", complReference)</h6>
            }
            else if (CartDataResponse.CartData.DeliveryAddress == null)
            {
                <span class="sideboxBGTitle">Pedido para retirada</span><br />
                String[] completeAddress = new String[]
                                {
                                    CartDataResponse.CartData.RestaurantAddress.Address,
                                    CartDataResponse.CartData.RestaurantAddress.Number,
                                    CartDataResponse.CartData.RestaurantAddress.Neighborhood,
                                    CartDataResponse.CartData.RestaurantAddress.City,
                                    CartDataResponse.CartData.RestaurantAddress.StateCode
                                };

                @String.Join(", ", completeAddress)

                List<string> complReference = new List<string>();
                if (!CartDataResponse.CartData.RestaurantAddress.Complement.ISNullOrEmptyWithTrim())
                {
                    complReference.Add(CartDataResponse.CartData.RestaurantAddress.Complement);
                }

                if (!CartDataResponse.CartData.RestaurantAddress.Reference.ISNullOrEmptyWithTrim())
                {
                    complReference.Add(CartDataResponse.CartData.RestaurantAddress.Reference);
                }

                @String.Join(", ", complReference)
            }
            </div>
        </div>
    </div>
<textarea id="public_key" style="display:none;">
    @ViewBag.MOIPPublicKey
</textarea>
@section Scripts{
    <script type="text/javascript" src="//assets.moip.com.br/v2/moip.min.js"></script>
    <script>
        $.validator.messages.required = 'Obrigatório';
        $.validator.messages.cpf = 'CPF inválido';
        $.validator.messages.cnpj = 'CNPJ inválido';

        var messageCPFCNPJ = "";
        @if (ViewBag.AcceptCPFOnNote == true && ViewBag.AcceptCNPJOnNote == true) {
        @:messageCPFCNPJ = "Insira um CPF/CNPJ válido";
        }
        else if (ViewBag.AcceptCPFOnNote == true && ViewBag.AcceptCNPJOnNote == false) {
        @:messageCPFCNPJ = "Insira um CPF válido";
        }
        else if (ViewBag.AcceptCPFOnNote == false && ViewBag.AcceptCNPJOnNote == true) {
        @:messageCPFCNPJ = "Insira um CNPJ válido";
        }

        $(document).ready(function () {

            $('#PaymentList_0__PaidValue').val('@CartDataResponse.CartData.Total');

            @if ((Model == null || Model.IsMoipOneClickCheckout) && ViewBag.HasMOIPCustomer != null && ViewBag.HasMOIPCustomer)
            {
            <text>
            $('#splitPaymentRadios').find('input').removeClass('checked');
            $('input[name="PaymentList[0].IdPaymentType"]:first').addClass('checked');
            $('input[name="PaymentList[0].IdPaymentType"]:first').prop("checked", true);
            $('#PaymentPanel_OneClick').appendTo($('.contentPaymentTypeOneClick'));
            $('#PaymentPanel_OneClick').show();
            $('#PaymentPanel_OneClick').css('overflow', 'hidden');
            $('#securityCodeOneClick').attr('required', true);
            </text>
            }
            else if (Model != null)
            {
            <text>
            $('#splitPaymentRadios input').closest('dd').removeClass('active');
            $('#splitPaymentRadios input').closest('div.content').removeClass('active');
            $('#splitPaymentRadios input.checked').closest('dd').addClass('active');
            $('#splitPaymentRadios input.checked').closest('div.content').addClass('active');
            </text>
            }

            $('#PaymentList_0__CardData_CustomerFullName').rules('add', {
                cardname: true,
                messages: {
                    cardname: 'Nome do dono do cartão inválido'
                }
            });

            @if (Model != null)
			{
            <text>
            if ($('#splitPaymentRadios input.checked').parent().data('data-info').Online) {
                $('#PaymentPanel_Online').appendTo($(this).closest('.payment-item'));
            } else if ($('#splitPaymentRadios input.checked').parent().data('data-info').MayHaveChange) {
                $('#PaymentPanel_Offline').appendTo($(this).closest('.payment-item'));
            }
            </text>
            }

            $('.birthdate').mask('00/00/0000');

            $('#splitPaymentRadios').find('input').click(function (e) {
                var paymentInfo = $(this).parent().data('data-info');

                if ((!paymentInfo.Online && !paymentInfo.MayHaveChange) || paymentInfo.Online) {
                    $('#PaymentList_0__PaidValue').prop('readonly', true).val('@CartDataResponse.CartData.Total');
                } else if (!paymentInfo.Online && paymentInfo.MayHaveChange) {
                    $('#PaymentList_0__PaidValue').prop('readonly', false).val('');
                }

                $('#splitPaymentRadios').find('input').removeClass('checked');
                $(this).addClass('checked');
            });

            $('#FindAddress').click(function (event) {
                event.preventDefault();
                getAddress();
            });

            $('#PaymentList_0__CardData_CustomerAddressZipCode').blur(function (event) {
                event.preventDefault();
                getAddress();
            });

            $("#CheckoutPaymentForm").submit(function (event) {

                if (submitCheckoutPaymentForm(this, event))
                {
                    $('.orderButton').prop('disabled', true);
                    putBtnLoadingGif($(this));
                }
            });

            $("#Observation").keypress(function (event) {
                if (event.which == '13') {
                    return false;
                }
            });

            showReceiptDocument();
            $("#showReceiptDocument").on("change", function () {
                showReceiptDocument();
            });

            $("#ReceiptDocumentVM").rules("remove", "cpf");
            $("#ReceiptDocumentVM").rules("remove", "cnpj");
            $("#ReceiptDocumentVM").rules("remove", "cpforcnpj");

            @if (ViewBag.AcceptCPFOnNote == true && ViewBag.AcceptCNPJOnNote == true) {
            @:$("#ReceiptDocumentVM").rules("add", "cpforcnpj");
            }
            else if (ViewBag.AcceptCPFOnNote == true && ViewBag.AcceptCNPJOnNote == false) {
            @:$("#ReceiptDocumentVM").rules("add", "cpf");
            }
            else if (ViewBag.AcceptCPFOnNote == false && ViewBag.AcceptCNPJOnNote == true) {
            @:$("#ReceiptDocumentVM").rules("add", "cnpj");
            }
        });

        function showReceiptDocument() {
            $("#ReceiptDocumentVM").val("");
            if ($("#showReceiptDocument").is(":checked")) {
                $("#ReceiptDocumentVM").attr("disabled", false);
                $("#Receipt_Document .inlineErrorBox").show();
            } else {
                $("#ReceiptDocumentVM").attr("disabled", true);
                $("#Receipt_Document .inlineErrorBox").hide();
            }
        }

        $.validator.classRuleSettings.documentRequired = { documentRequired: true }
        jQuery.validator.unobtrusive.adapters.add("documentRequired", [], function (options) {
            options.rules["documentRequired"] = "#" + options.element.id;
            options.messages["documentRequired"] = "Documento requerido";
        });

        $.validator.addMethod("documentRequired", function (value, element, params) {
            return !$("#showReceiptDocument").is(":checked") || ($("#showReceiptDocument").is(":checked") && value != null && value != "");
        }, messageCPFCNPJ);

        $.validator.classRuleSettings.validBirthdate = { validBirthdate: true }
        jQuery.validator.unobtrusive.adapters.add("validBirthdate", [], function (options) {
            options.rules["validBirthdate"] = "#" + options.element.id;
            options.messages["validBirthdate"] = "Data de nascimento inválida";
        });

        $.validator.addMethod("validBirthdate", function (value, element, params) {
            var dateParts = value.split("/");

            if (dateParts.length != 3) {
                return false;
            }

            var dateValue = new Date(parseInt(dateParts[2], 10),
                              parseInt(dateParts[1], 10) - 1,
                              parseInt(dateParts[0], 10)
                              , 0, 0, 0, 0);

            if (Object.prototype.toString.call(dateValue) === "[object Date]") {
                if (isNaN(dateValue.getTime())) {
                    return false;
                } else {
                    var m = parseInt(dateParts[1], 10);
                    var d = parseInt(dateParts[0], 10);
                    var y = parseInt(dateParts[2], 10);
                    var actualDate = new Date();

                    if (dateValue <= actualDate &&
                        dateValue.getFullYear() == y &&
                        dateValue.getMonth() + 1 == m &&
                        dateValue.getDate() == d) {
                        return true;
                    } else {
                        return false;
                    }
                }
            } else {
                return false;
            }
        }, "Data de nascimento inválida");


        function getAddress() {

            if (!$('#PaymentList_0__CardData_CustomerAddressZipCode').val().trim()) {
                return;
            }

            $.get($('#FindAddress').attr('href'), { zipCode: $('#PaymentList_0__CardData_CustomerAddressZipCode').val().trim() }, function (result) {
                if (result) {

                    $('#PaymentList_0__CardData_CustomerAddressCity').val(result.address.City).valid();

                    if (result.address.Address) {
                        $('#PaymentList_0__CardData_CustomerAddressName').prop('readonly', true);
                    } else {
                        $('#PaymentList_0__CardData_CustomerAddressName').prop('readonly', false);
                    }

                    $('#PaymentList_0__CardData_CustomerAddressName').val(result.address.Address).valid();

                    if (result.address.Neighborhood) {
                        $('#PaymentList_0__CardData_CustomerAddressNeighborhood').prop('readonly', true);
                    } else {
                        $('#PaymentList_0__CardData_CustomerAddressNeighborhood').prop('readonly', false);
                    }

                    $('#PaymentList_0__CardData_CustomerAddressNeighborhood').val(result.address.Neighborhood).valid();
                    $('#PaymentList_0__CardData_CustomerAddressStateCode').val(result.address.StateCode).valid();
                }
            });
        }

        function submitCheckoutPaymentForm(form, event)
        {
            if ($('#splitPaymentRadios').find('.checked').size() <= 0) {
                showMessage('Não é possivel concluir seu pedido sem uma forma de pagamento válida.');
                event.preventDefault();
                return false;
            }

            if (!$(form).valid()) {
                event.preventDefault();
                $(".orderButton").prop('disabled', false);
                $(".orderButton").removeClass('btnLoading');
                $('.orderButton').val('ENVIE SEU PEDIDO');
                return false;
            }

            $('#IsOneClick')[0].value = $('#PaymentType_0').length > 0 ? $('#PaymentType_0')[0].checked : false;

            if ($('#PaymentPanel_Online').is(':visible')) {
                var cc = new Moip.CreditCard({
                    number: $("#cardNumber").val(),
                    cvc: $("#securityCode").val(),
                    expMonth: $("#customDropdown").val(),
                    expYear: $("#Select2").val(),
                    pubKey: $("#public_key").val()
                });

                if (cc.isValid()) {
                    $("#hashCode").val(cc.hash());
                } else {
                    event.preventDefault();
                    $("#hashCode").val('');
                    showMessage('Cartão de crédito inválido. Verificar os parâmetros: Número, Código de segurança, Mês e Ano de expiração');
                }
            }

            var showModalIncludeOrderDeliveryFee = ControlMessageSeparateDeliveryFee();

            if (showModalIncludeOrderDeliveryFee) {
                event.preventDefault();
                showConfirmationMessageToIncludeOrderDeliveryFee('@ViewBag.MessageDelivery', $(this).data('id'));
                return false;
            }
        }

        var showMessageSeparateDeliveryFee = false; //variavel que indica se o modal de taxa de entrega separada precisará ser exibido

        function ControlMessageSeparateDeliveryFee()
        {
            var showModalIncludeOrderDeliveryFee = '@includeOrderDeliveryFee' == 'True' && showMessageSeparateDeliveryFee == false;

            if (showModalIncludeOrderDeliveryFee == true)
                showMessageSeparateDeliveryFee = true;

            return showModalIncludeOrderDeliveryFee;
        }

        $('#confirmYesModal').on("click", function (event) {
            $("#CheckoutPaymentForm").submit();
            hideYesNoMessage(event)
        });

        $('#confirmNoModal, #closeYesNoModal').on("click", function (event) {
            showMessageSeparateDeliveryFee = false;
            hideYesNoMessage(event)
        });
    </script>
}