﻿@using Yum.Delivery.Model.MenuDomain;

@model Yum.Delivery.Model.ApiDomain.Response.OrderDomain.GetIntegratedOrderInfoResponse

@section DataLayer{

    <script type="text/javascript">
    window.dataLayer = window.dataLayer || []
    dataLayer.push(@Html.Raw(Json.Encode(ViewBag.DataLayer)));
    </script>

}

<div class="row order-confirmation">
    <div class="large-8 medium-8 small-12 columns">
        <div class="panel">
            <div class="small-4 large-4 columns showForMobileOnly" style="min-height:110px;">
                <img src="~/Images/loading.gif" style="width: 110px;" />
            </div>
            <div class="small-4 large-4 columns hideForMobileOnly" style="min-height:130px;">
                <img src="~/Images/loading.gif" style="width: 110px;" />
            </div>

            <h2>Processando pedido...</h2>

            <div id="extraInfoOrder" style="display:none">
                <h4> O número do seu pedido é: <span id="extraInfoIdOrder"> 0 </span></h4>

                @if (ViewBag.EnabledMailProcessingOrder != null && ViewBag.EnabledMailProcessingOrder == true)
                {
                    <p class="confirmation-mail showForMobileOnly">Te enviaremos um e-mail de confirmação.</p>
                    <p class="hideForMobileOnly">Te enviaremos um e-mail de confirmação.</p>
                }
            </div>

            <hr />
            <h6>Informações do pedido</h6>
            <div class="row">
                <div class="small-6 large-4 columns">
                    @if (Model.ToGo)
                    {
                        <p>Data para retirada:</p>
                    }
                    else
                    {
                        <p>Data para entrega:</p>
                    }
                </div>
                <div class="small-6 large-8 columns">
                    <p>@Model.ExpectedReadyTime.ToString("dd/MM/yyyy HH:mm")</p>
                </div>
            </div>
            <div class="row">
                <div class="small-6 large-4 columns">
                    <p>Número para contato:</p>
                </div>
                <div class="small-6 large-8 columns">
                    @if (Model.RestaurantPhoneInfo != null)
                    {
                        foreach (var phone in Model.RestaurantPhoneInfo)
                        {
                            if (phone.AreaCode != "00")
                            {
                                <p>@String.Format("({0}) {1}", phone.AreaCode, phone.Number)</p>
                            }
                            else
                            {
                                <p>@phone.Number</p>
                            }

                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="small-6 large-4 columns">
                    @if (Model.ToGo)
                    {
                        <p>Retirar pedido em:</p>
                    }
                    else
                    {
                        <p>Entrega do pedido em:</p>
                    }
                </div>
                <div class="small-6 large-8 columns">
                    @{
                        string[] completeAddress;
                    }

                    @if (Model.ToGo && Model.RestaurantData != null && Model.RestaurantData.Address != null)
                    {
                        completeAddress = new String[]
                            {
                                Model.RestaurantData.Address.Address,
                                Model.RestaurantData.Address.Number,
                                Model.RestaurantData.Address.Neighborhood,
                                Model.RestaurantData.Address.City,
                                Model.RestaurantData.Address.StateCode
                            };
                        <p>
                            @String.Join(", ", completeAddress)
                        </p>
                    }
                    else if (Model.CartDeliveryAddress != null)
                    {
                        List<String> completeAddressDelivery = new List<String>();
                        completeAddressDelivery.Add(Model.CartDeliveryAddress.Address);
                        completeAddressDelivery.Add(Model.CartDeliveryAddress.Number);
                        completeAddressDelivery.Add(Model.CartDeliveryAddress.Neighborhood);
                        completeAddressDelivery.Add(Model.CartDeliveryAddress.City);
                        completeAddressDelivery.Add(Model.CartDeliveryAddress.StateCode);
                        <p>
                            @String.Join(", ", completeAddressDelivery)
                            @if (!Model.CartDeliveryAddress.Complement.NullOrEmpty())
                            {
                                <br />
                                @Html.Raw(string.Format("Complemento: {0}", Model.CartDeliveryAddress.Complement));
                            }
                            @if (!Model.CartDeliveryAddress.Reference.NullOrEmpty())
                            {
                                <br />
                                @Html.Raw(string.Format("Referência: {0}", Model.CartDeliveryAddress.Reference));
                            }
                        </p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="small-6 large-4 columns">
                    <p>&nbsp;</p>
                </div>
                <div class="small-6 large-8 columns" style="margin-top: 10px;">
                    @if (!Model.PaymentTypeList.NullOrEmpty())
                    {
                        if (ViewBag.NotIncludeOrderDeliveryFee)
                        {
                            foreach (var payment in Model.PaymentTypeList)
                            {
                                <h6>Total @Model.Total.ToString("C")</h6>
                                <h6>Valor do Pedido @ViewBag.OrderTotalWithoutDeliveryFee.ToString("C") (@payment.Name)</h6>
                                <h6>@ViewBag.MessageDelivery</h6>
                            }
                        }
                        else
                        {
                            foreach (var payment in Model.PaymentTypeList)
                            {
                                <h6>Total @Model.Total.ToString("C") (@payment.Name)</h6>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="large-4 tabletUp-4 columns sideMessage">
        <div class="panel">
            <h5>Meu Pedido</h5>
            <hr />
            @if (!Model.OrderMenuDishList.NullOrEmpty())
            {
                foreach (var menuDish in Model.OrderMenuDishList)
                {
                    <div class="row">
                        <div class="small-7 large-7 columns item">
                            <p class="item">@Html.Raw(string.Format("{0}x {1}", menuDish.Quantity, menuDish.Name))</p>
                            <ul>
                                @if (menuDish.OptionalList != null)
                                {
                                    foreach (var menudDishOptional in menuDish.OptionalList)
                                    {
                                        foreach (var menuDishOptionalItem in menudDishOptional.ItemList)
                                        {
                                            if (menuDishOptionalItem.IdMenuAttributeType == 22) //Incluir Extra
                                            {
                                                <li>Incluir: @menuDishOptionalItem.Name</li>
                                            }
                                            else if (menuDishOptionalItem.IdMenuAttributeType == 174) //Retirar Extra
                                            {
                                                <li>Retirar: @menuDishOptionalItem.Name</li>
                                            }
                                            else
                                            {
                                                <li>@menuDishOptionalItem.Name</li>
                                            }
                                        }
                                    }
                                }

                                @if (menuDish.FractionList != null)
                                {
                                    foreach (var fraction in menuDish.FractionList)
                                    {
                                        foreach (var menuDishOptional in fraction.OptionalList)
                                        {
                                            string itensInclude = string.Join(", ", menuDishOptional.ItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasAdd).Select(item => item.Name));
                                            string itensExclude = string.Join(", ", menuDishOptional.ItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasRemove).Select(item => item.Name));

                                            if (!itensInclude.NullOrEmpty())
                                            {
                                                <li>Incluir (1/2 @fraction.Name): @itensInclude</li>
                                            }

                                            if (!itensExclude.NullOrEmpty())
                                            {
                                                <li>Retirar (1/2 @fraction.Name): @itensExclude</li>
                                            }
                                        }
                                    }
                                }
                            </ul>
                        </div>
                        <div class="small-5 large-5 columns">
                            <p class="text-right">R$ @String.Format("{0:0.00}", menuDish.TotalValue)</p>
                        </div>
                    </div>
                }
            }
            <hr />
            <p style="font-size:0.8em;"><span class="left">TAXA</span><span class="right">R$ @String.Format("{0:0.00}", Model.DeliveryFee)</span></p>
            <br>
            <p style="font-size:0.8em;clear:both;"><span class="left" style="margin-top:4px;">TOTAL</span><span class="right" style="font-size:1.3em;font-weight: bold;">R$ @String.Format("{0:0.00}", Model.Total)</span></p>
            <br>
        </div>
    </div>
</div>

@using (Html.BeginForm("OrderDetails", "Cart", FormMethod.Post, new { @id = "OrderDetailsForm" }))
{
    <input type="hidden" name="orderKey" id="orderKey" />
    <input type="hidden" name="sessionId" id="sessionId" />
    <input type="hidden" name="errorMessage" id="errorMessage" />
}

@section Scripts{
    <script>
        $(document).ready(function () {
            if ('@ViewBag.SendOrder' != null && '@ViewBag.SendOrder' != '') {
                $.post('@Url.Action("SendOrder", "Cart")', function (result) {

                    if (result.OrderKey > 0) {
                        enabledExtraInfoOrder(result.OrderKey);

                        if (result.ErrorMessage == null) {
                            checkConfirmationStatus(result.OrderKey, result.SessionId);
                        } else {
                            $('#orderKey').val(result.OrderKey);
                            $('#sessionId').val(result.SessionId);
                            $('#errorMessage').val(result.ErrorMessage);
                            $('#OrderDetailsForm').submit();
                        }
                    }
                    else {
                        window.location = '@Url.Action("CheckoutPayment", "Cart")';
                    }
                });
            } else {
                enabledExtraInfoOrder('@Model.OrderKey');
                checkConfirmationStatus('@Model.OrderKey', '@Model.SessionId');
            }

            function checkConfirmationStatus(oderKey, sessionId) {
                var interval = setInterval(function () {
                    $.post('@Url.Action("ConfirmationStatus", "Cart")',
                        { OrderKey: oderKey, SessionId: sessionId },
                        function (result) {
                            if (result.StatusFinal) {
                                $('#orderKey').val(result.OrderKey);
                                $('#sessionId').val(result.SessionId);
                                $('#OrderDetailsForm').submit();
                                clearInterval(interval);
                            }
                        });
                }, 3000);
            }

            function enabledExtraInfoOrder(idOrder) {
                $('#extraInfoOrder').show();
                $('#extraInfoIdOrder').html(idOrder);
            }
        });
    </script>
}