﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.AnalyticalReportOrderDeliveryTimeViewModel

@{
    ViewBag.Title = "Relatório de Tempo de Produção e Entrega - Analítico";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        var selectedItens = new Array();
        var selectedSupplier;

        var selectedRestaurants = [];

        function downloadFile(type) {

            var restaurants = []
            for (i = 0; i < selectedRestaurants.length; i++) {
                restaurants.push({ IdRestaurant: parseInt(selectedRestaurants[i], 10) });
            }

            var startParts = $("#Date").val().split("/");
            var date = new Date(parseInt(startParts[2], 10),
                parseInt(startParts[1], 10) - 1,
                parseInt(startParts[0], 10)
                , 0, 0, 0, 0);

            var filter = {                
                Token: '@HttpUtility.JavaScriptStringEncode(Model.Token)'
            };

            $.ajax({
                url: $("#applicationPath").val() + '/ReportExternal/AnalyticalOrderDeliveryTimeDownload',
                type: 'POST',
                data: JSON.stringify(filter),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                beforeSend: function () {
                    $("#loadingOverlayReport").show();
                },
                complete: function () {
                    $("#loadingOverlayReport").hide();
                },
                success: function (result) {
                    if (result.Success) {
                        window.location = $("#applicationPath").val() + '/ReportExternal/AnonymousDownload?token=' + result.DownloadToken;
                    } else {
                        showMessage(result.Message, "", "info");
                    }
                },
                error: function (result) {
                    showMessage("Houve um erro inesperado durante o processamento do relatório.");
                }
            });
        }

        $(document).ready(function () {
        	$("#btnPDF").click(function (e) {
        		e.preventDefault();
        		downloadFile(0);
        	});

            $('.RestaurantSearch').on('click', '.table-delete-link', function (e) {
                var $div = $(this).closest('div');

                var restaurantId = $div.attr('id');
                var removeIndex = parseInt(selectedRestaurants.indexOf(restaurantId));
                selectedRestaurants.splice(removeIndex, 1);

                var rowIndex = $('.RestaurantSearch div').index($div);
                $div.remove();
                $.each($('.RestaurantSearch div').slice(rowIndex), function (key, value) {
                    $.each($(value).find('input'), function (key2, value2) {
                        var i = (rowIndex + key);
                        switch (key2) {
                            case 0:
                                $(value2).attr('name', 'Filter.ListSupplier[' + i + '].IdSupplier');
                                break;
                            case 1:
                                $(value2).attr('name', 'Filter.ListSupplier[' + i + '].CorporateName');
                                break;
                        }
                    });
                });
            });

            $('.search-link').click(function (e) {
                e.preventDefault();
                var $clickedButton = $(this);
                $.get($(this).attr('href'), function (result) {
                    $('#divDetails').html(result);
                    $('#divDetails').dialog({
                        width: 1000,
                        height: 600,
                        title: "Selecionar Lojas",
                        beforeClose: function (event, ui) {
                            if (selectedItens.length) {
                                $.each(selectedItens, function (key, value) {
                                    if (!$('.RestaurantSearch input[name*="Id"][value="' + value.id + '"]:hidden').length) {
                                        selectedRestaurants.push(value.data.IdRestaurant);
                                        AddObjectToTable(value.data);
                                    }
                                });
                            }
                            selectedItens = new Array();
                        }
                    })
                });
            });
        });

        function AddObjectToTable(jsonObj) {
            if (!jsonObj) {
                return false;
            }

            var i = $('.RestaurantSearch div').length;
            var $hiddenId = $('<input type="hidden" name="ListRestaurant[' + i + '].IdRestaurant">').val(jsonObj.IdRestaurant);
            var $txtCorporateName = $('<input type="text" name="ListRestaurant[' + i + '].Name">').val(jsonObj.Name).prop('readonly', true);
            var $spanRemoveButton = $('<span class="row-details">').append($('<a href="javascript:void(0);" class="table-delete-link">'));
            var $div = $('<div id="' + jsonObj.IdRestaurant + '" style="padding-left:160px">').append($hiddenId).append($txtCorporateName).append($spanRemoveButton);

            $('.RestaurantSearch').append($div);
        }
    </script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@if (String.IsNullOrEmpty(Model.ErrorMessage))
{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "FormAnalyticalOrderDeliveryTime");
    htmlAttributes.Add("class", "middle-forms");

    <div id="divDetails" class="box"></div>

    using (Html.BeginForm("AnalyticalOrderDeliveryTime", "ReportExternal", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Token)
        <fieldset class="filter">
            <h4>@Resources.ViewLabelNameStrings.Filter</h4>
            <ol>
                <li class="RestaurantSearch">
                    <label class="field-title">Loja: </label>
                    @Html.TextBoxFor(m => m.Restaurant, new { @disabled = "disabled" })
                </li>
                <li>
                    <label class="field-title">Data: </label>
                    @Html.TextBoxFor(model => model.Date, new { @disabled = "disabled", @class = "date" })                    
                </li>
                <li>
                    <input id="btnPDF" type="button" value="Gerar PDF" />
                </li>
            </ol>
        </fieldset>
    }
}
else
{
    <strong>@Model.ErrorMessage</strong>
}

