﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.CityViewModel

@{
    ViewBag.Title = "Edição";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
        width: 355px;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
    }

    .custom-combobox-optional {
        position: relative;
        display: inline-block;
        width: 310px;
    }

    .ui-autocomplete {
        max-height: 150px;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 9999;
    }
</style>

@section Scripts {
    <script type="text/javascript" src="~/Scripts/View/Address/Address.js"></script>
    <script>
        $(document).ready(function () {
            loadRegion();
        });
    </script>
}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("id", "MenuDishForm");
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("enctype", "multipart/form-data");
}

@using (Html.BeginForm("Edit", "City", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdState)
                </label>
                @Html.DropDownListFor(model => model.IdState, Model.States)
                @Html.ValidationMessageFor(model => model.IdState)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ZipCode)
                </label>
                @Html.EditorFor(model => model.ZipCode)
                @Html.ValidationMessageFor(model => model.ZipCode)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.UniqueZipCode)
                </label>
                @Html.EditorFor(model => model.UniqueZipCode)
                @Html.ValidationMessageFor(model => model.UniqueZipCode)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li id="productsCode">
                <label class="field-title">
                    Região
                </label>
                @{ var px = "0px";}
                <div class="ui-widget" style="margin-left:@px; margin-top:5px;">
                    @Html.DropDownList("IdRegion", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RegionViewModel().GetAllRegions, new { @data_selected = Model.IdRegion, @class = "ComboboxRegion" })
                    <input type="hidden" name="Model.IdRegion" value="@Model.IdRegion">
                    <span class="clearFix">&nbsp;</span>
                </div>
            </li>

            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}
