﻿@model List<Yum.Delivery.BackOffice.Areas.BackOffice.Models.CityViewModel>

@{
    ViewBag.Title = "Cidades";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "CityFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "City", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    CityFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (CityFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Estado:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedStateId, Filter.States, "")
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBoxFor(filter => Filter.Name)
            </li>
            <li>
                <label class="field-title">
                    Região:
                </label>
                @Html.DropDownListFor(filter => Filter.IdRegion, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RegionViewModel().GetAllRegions, "")
            </li>
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "CityFormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}

<table class="table-long">
    <thead>
        <tr>
            <th>
                <a href="" rel="state.name" class="orderByLink">
                    Estado
                </a>
            </th>
            <th>
                <a href="" rel="name" class="orderByLink">
                    Nome
                </a>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var city in Model)
            {
                if (ViewBag.Routes.ContainsKey("id"))
                {
                    ViewBag.Routes.Remove("id");
                }
                ViewBag.Routes.Add("id", city.IdCity);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => city.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => city.Name)
                    </td>
                    <td>
                    <td class="table-comand">
                        <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.CityEdit))
                        {
                            <a href="@Url.Action("Edit", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.CityDelete))
                        {
                            <a href="@Url.Action("Delete", ViewBag.Routes)" title="Excluir" class="table-delete-link"></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}