﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.ImportKMLViewModel

@{
    ViewBag.Title = "Importação KML";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}


@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", "middle-forms");
}

<div id="divDetails" class="box"></div>

@using (Html.BeginForm("ImportKMLFile", "ImportKML", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{

    @Html.ValidationSummary(true)
    <fieldset class="filter">
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdRestaurant)
                </label>
                @Html.DropDownListFor(model => model.IdRestaurant, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.ImportKMLViewModel().Restaurants, "", new { @style = "width:555px" })
                @Html.ValidationMessageFor(model => model.IdRestaurant)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PolygonArea)
                </label>
                @Html.TextBoxFor(model => model.PolygonArea, new { @style = "width:550px" })
            </li>
            
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Coordinates)
                </label>
                @Html.TextAreaFor(model => model.Coordinates, new { @style = "width:550px; height:200px" })
            </li>

            <li>
                <input id="btnImport" type="submit" value="Importar" />
            </li>

        </ol>

    </fieldset>
}