﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.ChangePasswordModel

@{
    ViewBag.Title = "Mudar senha";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {}
@using (Html.BeginForm("ChangePassword", "BOAccountBase", FormMethod.Post, new { @class = "middle-forms" })){
    @Html.ValidationSummary(true)
        <fieldset>
            
            <ol>
                <li class="frm-separation"><h3>Informações da Conta</h3><hr /></li>
                <li>
                    <label class="field-title">
                        @Html.LabelFor(m => m.OldPassword)
                    </label> 
                    <label>
                        @Html.PasswordFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </label>
                    <span class="clearFix">&nbsp;</span>
                </li>

                <li>
                    <label class="field-title">
                        @Html.LabelFor(m => m.NewPassword)
                    </label> 
                    <label>
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </label>
                    <span class="clearFix">&nbsp;</span>
                </li>

                <li>
                    <label class="field-title">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </label> 
                    <label>
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </label>
                    <span class="clearFix">&nbsp;</span>
                </li>

                <li>
                    <input type="submit" value="Mudar Senha" />
                    <a href="@Url.Action("Index", "BOHome")" class = "button">@Resources.ViewLabelNameStrings.Cancel</a>
                    <span class="clearFix">&nbsp;</span>
                </li>
            </ol>        
    </fieldset>
}
