﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.LogOnModel

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BackOffice</title>
    <style type="text/css">
        html, body {height: 100%; }
        div#distance { margin-bottom: -10em; width: 1px;height: 50%; float: left;}
        div#container {	position: relative;   text-align: left; height: 150px;	width: 350px; margin: 0 auto; padding-top: 55px; clear: left;}
        
        body {background: url(@Url.Content("~/content/skin/images/bg-login.jpg")) repeat-x center; margin: 0; padding: 0; font-family: Helvetica, Arial, Tahoma, serif; font-size: 9pt;}
        h1 {font-size:250%; text-transform:uppercase; letter-spacing:-1px; font-weight:bold; width:450px; margin: -15px 0 35px -5px; padding: 0;}
        h1 a {color:#fff; text-decoration:none;}
        h1 a:hover {color:#ccc;}
        
        fieldset, form {margin: 0; padding: 0; border: 0; outline: 0;}
        fieldset legend {display: none;}
        
        ol {margin: 0; padding: 0; list-style: none;}
        ol li {float: left; margin-right: 15px;}
        label {display: block;}
        label.field-title {width:75px; color:#fff; font-weight: bold; float: left; padding-top: 3px;}
        label.field-error {width:75px; color:#f55; font-weight: bold; float: left;}
        label.txt-field {width: 186px; height: 21px; background: #fff; float: left; margin-right: 10px; padding:3px 0;}
        label.txt-field input {border: none; outline: none; background: none; padding: 2px 0 0 8px;}
        label.remember {color:#ccc; float:left; width: 200px; margin-top: 20px; margin-left:75px; margin-right: 215px;}
        div.align-right {float: left; width: 186px; margin-left: 75px; margin-top: 10px;}
        #forgot-password {float: left; margin-top: 5px; color:#fff;}
        #login-button {float: right;}

        ul {margin: 0; padding: 0; list-style: none;}
        .validation-summary-errors{color:#f55; font-weight: bold; margin-bottom: 20px;}
    </style>
    
    <!--[if IE 6]>
    <style type="text/css">
    label.remember {width: 200px; margin-left:40px;}
    label.txt-field {margin-right: 5px}
    </style>
    <![endif]-->

</head>

<body>
<div id="distance"></div>
	<div id="container">
		<div id="top"><h1><img src="~/Content/pizza-hut.png" width="280" alt="Pizza Hut" /></h1></div>
		<div id="form-container">
			@using (Html.BeginForm())
            {
			<fieldset>
                @Html.ValidationSummary(true)
				<legend>Login</legend>
				<ol>
					<li style="margin-bottom: 10px;">
                        <label class="field-title">@Html.LabelFor(model => model.UserName)</label>
                        <label class="txt-field">@Html.TextBoxFor(model => model.UserName)</label>
                        <script type="text/javascript">
                            document.getElementById("UserName").focus();
                        </script>
                        <label class="field-error">@Html.ValidationMessageFor(model => model.UserName)</label>
                    </li>
					<li>
                        <label class="field-title">@Html.LabelFor(model => model.Password) </label>
                        <label class="txt-field">@Html.PasswordFor(model => model.Password)</label>
                        <label class="field-error">@Html.ValidationMessageFor(model => model.Password)</label>
                    </li>
					<li>
                        <div class="align-right">
                            @Html.ActionLink("Esqueci a senha", "RecoverPassword", "BOAccountBase", new { id = "forgot-password" })
                            <input type="image" id="login-button" name="submit" src="@Url.Content("~/content/skin/images/bt-login.gif")" />
                        </div>
                    </li>
				</ol>
			</fieldset>
			<span class="clearFix">&nbsp;</span>
            }
		</div>
	</div>
</body>
</html>