﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RecoverPasswordViewModel

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>BackOffice</title>
    <style type="text/css">
        html, body {height: 100%; }
        div#distance { margin-bottom: -10em; width: 1px;height: 50%; float: left;}
        div#container {	position: relative;   text-align: left; height: 150px;	width: 500px; margin: 0 auto; padding-top: 75px; clear: left;}

        body {background: url(@Url.Content("~/content/skin/images/bg-login.jpg")) repeat-x center; margin: 0; padding: 0; font-family: Helvetica, Arial, Tahoma, serif; font-size: 9pt;}
        h1 {font-size:250%; text-transform:uppercase; letter-spacing:-1px; font-weight:bold; width:450px; margin: -15px 0 35px -5px; padding: 0;}
        h1 a {color:#fff; text-decoration:none;}
        h1 a:hover {color:#ccc;}
        h2{color:#fff;}

        fieldset, form {margin: 0; padding: 0; border: 0; outline: 0;}
        fieldset legend {display: none;}

        div.form-description { padding-bottom: 10px; color: #d9d9d9; }
        div.form-description, div.form-success-message, div.form-error-message { font-size: 1.1em; }
        div.form-field { margin-bottom: 15px; }
        div.form-field > label { margin-bottom: 5px; display: block; color: #f2f2f2; font-weight: bold;}
        div.form-field > input[type="text"],
        div.form-field > input[type="password"] { width: 100%; box-sizing: border-box; }
        div.form-footer { text-align: right; padding-top: 10px; }
        div.form-success-message { color: #d9d9d9; }
        div.form-error-message { color: #ffb3b3; }
        div.form-success-message a, div.form-error-message a { color: #fff; }

        ol {margin: 0; padding: 0; list-style: none;}
        ol li {float: left; margin-right: 15px;}
        label {display: block;}
        label.field-title {width:75px; color:#fff; font-weight: bold; float: left; padding-top: 3px;}
        label.field-error {width:75px; color:#f55; font-weight: bold; float: left;}
        label.txt-field {width: 186px; height: 21px; background: #fff; float: left; margin-right: 10px; padding:3px 0;}
        label.txt-field input {border: none; outline: none; background: none; padding: 2px 0 0 8px;}
        label.remember {color:#ccc; float:left; width: 200px; margin-top: 20px; margin-left:75px; margin-right: 215px;}
        div.align-right {float: left; width: 186px; margin-left: 75px; margin-top: 10px;}
        #forgot-password {float: left; margin-top: 5px; color:#fff;}
        #login-button {float: right;}

        span.field-validation-error { margin-top: 5px; display: block; color: #ffb3b3; }
        ul {margin: 0; padding: 0; list-style: none;}
        .validation-summary-errors{color:#ffb3b3; font-weight: bold; margin-bottom: 20px;}

        input#Email { width: 395px; margin-right: 5px; box-sizing: border-box; height: 30px; }
        #submit-form{ height: 30px; width: 95px; }

        hr { height: 1px; color: #999999; background-color: #999999; border: none; }
        button { background:#a7b0b7; border:none; color:#fff; font-family:Verdana; font-weight:bold; font-size:12px; cursor:pointer; }
    </style>

    <!--[if IE 6]>
    <style type="text/css">
    label.remember {width: 200px; margin-left:40px;}
    label.txt-field {margin-right: 5px}
    </style>
    <![endif]-->

</head>

<body>
    <div id="distance"></div>
    <div id="container">
        <div id="top"><h1><img src="~/Content/pizza-hut.png" width="280" alt="Pizza Hut" /></h1></div>
        <div id="form-container">

            <h2>Recuperar a Senha</h2>
            <hr />

            @if (Model == null || Model.SuccessMessage == null)
            {
                <div class="form-description">
                    <p>Informe abaixo o e-mail cadastrado no sistema.</p>
                    <p>Será enviado para o e-mail informado um link para redefinir a senha.</p>
                </div>
                using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <div class="form-field">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email)
                        <!--
                        -->
                        <button id="submit-form" type="submit">Enviar</button>
                        @Html.ValidationMessageFor(model => model.Email)
                    </div>
                }
            }
            else if (Model.SuccessMessage != null)
            {
                <div class="form-success-message">
                    <p>@Model.SuccessMessage</p>
                    <p>@Html.ActionLink("Clique aqui", "LogOn", "BOAccountBase") para voltar a tela de login.</p>
                </div>
            }
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-1.10.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

</body>

</html>