﻿@model Yum.Delivery.FrontEnd.Models.HeaderFooterViewModel

<div class="headerBg">
    <div class="row" id="header">
        <div class="showForMobileOnly fixed" id="dockedHeader">
            <div class="small-3 medium-2 columns"> <a class="left-off-canvas-toggle button radius secondary" href="#" style="font-size:22px;padding: 2px 16px;">&#x2261;</a> </div>
            <div class="small-6 medium-8 columns"> <a href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/Images/pizza-hut.png")" alt="Pizza Hut" class="logo-mobile"></a> </div>
            @{ var tx = Model != null && Model.GetCartDataResponse != null && Model.GetCartDataResponse.CartData != null ? Model.GetCartDataResponse.CartData.CartMenuDishList.Count : 0;
                var display = tx == 0 ? "none" : "block";
            }
            <div class="small-3 medium-2 columns" style="position: relative;">
                @if (ViewBag.IsHome == null || (bool)ViewBag.IsHome == false)
                {
                    <a class="button radius secondary right" id="cartIcon" href="@Url.Action("Index", "Cart")"> <span class="relativeWrapper"> <span id="miniCartCounter" class="numeral" style="display:@display;">@tx</span> <i class="fi-shopping-cart"></i> </span> </a>

                    <div id="wideDeletedFromCartTooltipMobile" style="display:none;">
                        <div class="tooltip" style="display:block;">
                            <h3>Item removido do carrinho</h3>
                            <span class="nub"></span>
                        </div>
                    </div>
                    <div id="wideAddedToCartTooltipMobile" style="display:none;">
                        <div class="tooltip" style="display:block;">
                            <h3>Adicionado ao pedido</h3>
                            <div class="row">
                                <div class="small-3 large-3 columns">
                                    <div id="addedProductImage">

                                    </div>
                                </div>
                                <div class="small-5 columns large-5">
                                    <h4 id="addedProductName"></h4>
                                    <p id="addedProductOptions" style="margin-bottom:0;">

                                    </p>
                                </div>
                                <div class="small-4 large-4 columns">
                                    <label id="addedProductValue">

                                    </label>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <p class="text-right" style="margin-bottom:0;">
                                        <a id="addedCartButton" href="@Url.Action("Index", "Cart")" class="button radius" style="margin-bottom:0;">
                                            Carrinho
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <span class="nub"></span>
                        </div>
                    </div>
                }
            </div>
        </div>
        @{	var sessionCustomer = (Yum.Delivery.Model.CustomerDomain.CustomerInfo)Session["CustomerInfo"]; }
        @if (sessionCustomer != null && sessionCustomer.CallCenterUser)
        {
            <input type="hidden" id="userIsCallCenter" name="userIsCallCenter" value="userIsCallCenter" />
        }
        else
        {
            <input type="hidden" id="userIsCallCenter" name="userIsCallCenter" value="" />
        }
        <div class="hideForMobileOnly">
            <div class="columns medium-4">
                <div class="row header-profile collapse">
                    @if (sessionCustomer != null)
                    {
                        <div class="large-2 medium-3 columns profile-column text-right">
                            @if (!sessionCustomer.CallCenterUser)
                            {
                                <div class="profile-menu">
                                    <i class="fi-torso"></i>
                                </div>
                            }
                            else if (Model == null || Model.GetHomeDataResponse == null || !Model.GetHomeDataResponse.IdRestaurant.HasValue)
                            {
                                <div class="profile-menu">
                                    <i class="fi-torso"></i>
                                </div>
                            }
                            else
                            {
                                <div class="callCenterImg">
                                    @if (Model.GetHomeDataResponse.ToGo)
                                    {
                                        <img src="~/Images/call-center-togo-img.png" title="Retirada" alt="Retirada" style="display: initial" />
                                    }
                                    else
                                    {
                                        <img src="~/Images/call-center-delivery-img.png" title="Delivery" alt="Delivery" style="display: initial" />
                                    }
                                </div>
                            }
                        </div>
                        <div class="large-10 medium-9 columns profile">
                            @if (sessionCustomer.CallCenterUser && (Model != null && Model.GetHomeDataResponse != null && Model.GetHomeDataResponse.IdRestaurant.HasValue && !Model.GetHomeDataResponse.IsDefaultRestaurant))
                            {
                                <p>@Model.GetHomeDataResponse.RestaurantName</p>
                            }
                            else
                            {
                                <p>Olá, @sessionCustomer.Name</p>

                            }
                            @if (!sessionCustomer.CallCenterUser)
                            {
                                <a href="@Url.Action("Info", "Customer")">Alterar</a>
                                <a href="@Url.Action("ListOrder", "Customer")">Pedidos</a>
                            }
                            <a href="@Url.Action("LogOff", "Customer")">Sair</a>
                        </div>
                    }
                    else
                    {
                        <div class="large-10 medium-9 columns profile">
                            <p style="margin-top:10px;"><a href="@Url.Action("Register", "Customer")">Crie sua conta</a><a href="@Url.Action("LogIn", "Customer")">Entrar</a></p>
                        </div>
                    }
                </div>
            </div>
            <div class="columns medium-4">
                <a href="@Url.Action("Index", "Home")"> <img src="@Url.Content("~/Images/pizza-hut-logo-min.png")" alt="" width="180" id="logo" /> </a>
            </div>
            <div class="columns medium-4">
                <div class="row">
                    <div class="medium-12 columns shopping-cart text-right">
                        @if (ViewBag.IsHome == null || (bool)ViewBag.IsHome == false)
                        {
                            <a href="@Url.Action("Index", "Cart")">
                                <i class="fi-shopping-cart"><span id="cartCounter">@tx</span></i>
                                @if (Model != null && Model.GetCartDataResponse != null && Model.GetCartDataResponse.CartData != null)
                                {
                                    <span>R$ <span id="cartTotal">@String.Format("{0:0.00}", Model.GetCartDataResponse.CartData.Subtotal)</span></span>
                                }
                                else
                                {
                                    <span>R$ <span id="cartTotal">0,00</span></span>
                                }
                            </a>
                        }
                    </div>
                </div>
                <div class="relativeWrapper">
                    <div id="wideDeletedFromCartTooltip" style="display:none;">
                        <div class="tooltip" style="display:block;">
                            <h3>Item removido do carrinho</h3>
                            <span class="nub"></span>
                        </div>
                    </div>
                </div>
                <div class="relativeWrapper">
                    <div id="wideAddedToCartTooltip" style="display:none;">
                        <div class="tooltip" style="display:block;">
                            <h3>Adicionado ao pedido</h3>
                            <div class="row">
                                <div class="small-3 large-3 columns">
                                    <div id="addedProductImage">

                                    </div>
                                </div>
                                <div class="small-5 columns large-5">
                                    <h4 id="addedProductName"></h4>
                                    <p id="addedProductOptions" style="margin-bottom:0;">

                                    </p>
                                </div>
                                <div class="small-4 large-4 columns">
                                    <label id="addedProductValue">

                                    </label>
                                    <br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 large-12 columns">
                                    <p class="text-right" style="margin-bottom:0;">
                                        <a id="addedCartButton" href="@Url.Action("Index", "Cart")" class="button radius" style="margin-bottom:0;">
                                            Carrinho
                                        </a>
                                    </p>
                                </div>
                            </div>
                            <span class="nub"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="showForMobileOnly">
    @{
        long selectedMenuIdMobile = ViewBag.SelectedMenuId == null ? 0 : ViewBag.SelectedMenuId;
        string mobileMenuName = "";

        if (Model != null && Model.GetHomeDataResponse != null && !Model.GetHomeDataResponse.MenuGroupInfoList.NullOrEmpty())
        {
            foreach (var item in Model.GetHomeDataResponse.MenuGroupInfoList)
            {
                if (item.IdMenuGroup == selectedMenuIdMobile && ((!ViewBag.SelectedMenuIsPromo && !item.IsPromo) || (ViewBag.SelectedMenuIsPromo && item.IsPromo)))
                {
                    mobileMenuName = item.Name;
                }
            }
        }
    }
    <p class="menu-name-mobile">@mobileMenuName</p>
    <aside class="left-off-canvas-menu">
        <div class="row">
            <div class="small-12 columns">
                @if (sessionCustomer != null && !sessionCustomer.CallCenterUser)
                {
                    <p>Olá, @sessionCustomer.Name</p>
                }
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                @if (sessionCustomer != null)
                {
                    if (!sessionCustomer.CallCenterUser)
                    {
                        <a href="@Url.Action("Info", "Customer")" style="width:auto;padding-left:10px;padding-right:10px;" class=" button small radius">Minha conta</a>
                    }
                    <a href="@Url.Action("LogOff", "Customer")" style="width:auto;padding-left:10px;padding-right:10px;" class="button small radius">Sair</a>
                }
                else
                {
                    <a href="@Url.Action("Register", "Customer")" style="width:auto;padding-left:10px;padding-right:10px;" class=" button small radius">Crie sua conta</a>
                    <a href="@Url.Action("LogIn", "Customer")" style="width:auto;padding-left:10px;padding-right:10px;" class="button small radius">Entrar</a>
                }
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <dl class="accordion" data-accordion>
                    @{
                        if (ViewBag.IsHome == null || (bool)ViewBag.IsHome == false)
                        {
                            var actionLink = Url.Action("Index", "Menu");
                            <dd class="accordion-navigation">
                                <a href="#panel1">Menu</a>
                                <div id="panel1" class="content active">
                                    <ul class="mobileNav sub-nav">
                                        @{
                                            if (Model != null && Model.GetHomeDataResponse != null && !Model.GetHomeDataResponse.MenuGroupInfoList.NullOrEmpty())
                                            {
                                                for (int i = 0; i < Model.GetHomeDataResponse.MenuGroupInfoList.Count(); i++)
                                                {
                                                    var item = Model.GetHomeDataResponse.MenuGroupInfoList[i];

                                                    string fullLink = actionLink + "?idMenuGroup=" + item.IdMenuGroup + "&menuPosition=" + item.Order;

                                                    <li>
                                                        @Html.Hidden("hdnIdMenuGroup", item.IdMenuGroup, new { @class = "menuGroup" })
                                                        <a href="@fullLink" class="menuLink">
                                                            @item.Name
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                            </dd>
                                            }
                    }

                    @if (sessionCustomer != null)
                    {
                        if (!sessionCustomer.CallCenterUser)
                        {
                            <dd class="accordion-default" onclick="window.location='@Url.Action("ListOrder", "Customer")'">
                                <a href="#">Pedidos</a>
                            </dd>
                        }
                    }

                    <dd class="accordion-navigation">
                        <a href="#panel4">Institucional</a>
                        <div id="panel4" class="content">
                            <ul class="mobileNav sub-nav">
                                <li>
                                    <a href="http://institucional.pizzahut.com.br/" target="_blank">
                                        Institucional
                                    </a>
                                </li>
                                <li>
                                    <a href="http://institucional.pizzahut.com.br/franquia-porque-nos" target="_blank">
                                        Franquias
                                    </a>
                                </li>
                                <li>
                                    <a href="http://pizzahutpesquisa.com" target="_blank">
                                        Pesquisa de Satisfação do Cliente
                                    </a>
                                </li>
                                <li>
                                    <a href="http://institucional.pizzahut.com.br/PIZZA-HUT" target="_blank">
                                        PIZZA HUT
                                    </a>
                                </li>
                                <li>
                                    <a href="http://institucional.pizzahut.com.br/yum-brands" target="_blank">
                                        YUM! Brands
                                    </a>
                                </li>
                                <li>
                                    <a href="http://institucional.pizzahut.com.br/curiosidades" target="_blank">
                                        Curiosidades
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </dd>
                    <dd class="accordion-navigation">
                        <a href="#panel3">Consumidor</a>
                        <div id="panel3" class="content">
                            <ul class="mobileNav sub-nav">
                                <li>
                                    <a href="https://institucional.pizzahut.com.br/contato" target="_blank">
                                        Fale Conosco
                                    </a>
                                </li>
                                <li>
                                    <a href="http://institucional.pizzahut.com.br/restaurantes" target="_blank">
                                        Restaurantes
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Termos","Home")" target="_blank">
                                        Termos de uso
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </aside>
</div>

<div class="row hideForMobileOnly" id="globalNavWide">
    <div class="large-12 columns">
        @{
            var menuClass = "4";

            if (Model != null && Model.GetHomeDataResponse != null && !Model.GetHomeDataResponse.MenuGroupInfoList.NullOrEmpty())
            {
                menuClass = "" + (Model.GetHomeDataResponse.MenuGroupInfoList.Count);
            }
        }

        @if (ViewBag.IsHome == null || (bool)ViewBag.IsHome == false)
        {
            <div class="medium-10 columns">
                <ul class="radius large-collapse small-block-grid-@menuClass">
                    @if (Model != null && Model.GetHomeDataResponse != null && !Model.GetHomeDataResponse.MenuGroupInfoList.NullOrEmpty())
                    {
                        var actionLink = Url.Action("Index", "Menu");

                        long selectedMenuId = ViewBag.SelectedMenuId == null ? 0 : ViewBag.SelectedMenuId;
                        foreach (var item in Model.GetHomeDataResponse.MenuGroupInfoList)
                        {
                            string backgroundColor = "";
                            if (item.IdMenuGroup == selectedMenuId && ((!ViewBag.SelectedMenuIsPromo && !item.IsPromo) || (ViewBag.SelectedMenuIsPromo && item.IsPromo)))
                            {
                                backgroundColor = "selected-front-menu";
                            }

                            string fullLink = actionLink + "?idMenuGroup=" + item.IdMenuGroup + "&menuPosition=" + item.Order;

                            <li>
                                @Html.Hidden("hdnIdMenuGroup", item.IdMenuGroup, new { @class = "menuGroup" })
                                <a href="@fullLink" class="button aBitLessSecondary menuLink @backgroundColor">
                                    @item.Name
                                    @Html.Hidden("hdnIsPromo", item.IsPromo, new { @class = "isPromo" })
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="medium-2 columns">
                <div id="startYourOrderNav">
                    @{
                        if (Model != null)
                        {
                            var lastMenu = Model.GetHomeDataResponse != null && !Model.GetHomeDataResponse.MenuGroupInfoList.NullOrEmpty() ? Model.GetHomeDataResponse.MenuGroupInfoList.LastOrDefault() : null;
                            long menuSelectedId = ViewBag.SelectedMenuId == null ? 0 : ViewBag.SelectedMenuId;
                            if (lastMenu != null && lastMenu.IdMenuGroup == menuSelectedId && ((!ViewBag.SelectedMenuIsPromo && !lastMenu.IsPromo) || (ViewBag.SelectedMenuIsPromo && lastMenu.IsPromo)))
                            {
                                <div class="followBg selected-front-menu"></div>
                            }
                            else
                            {
                                <div class="followBg"></div>
                            }
                        }
                    }

                    @if ((Session["CustomerInfo"] != null && !((Yum.Delivery.Model.CustomerDomain.CustomerInfo)Session["CustomerInfo"]).CallCenterUser &&
            (ViewBag.CustomerHasFavoriteOrLastOrders != null && (bool)ViewBag.CustomerHasFavoriteOrLastOrders)) ||
            (ViewBag.OrderSuccess != null && (bool)ViewBag.OrderSuccess && Session["CustomerInfo"] != null && !((Yum.Delivery.Model.CustomerDomain.CustomerInfo)Session["CustomerInfo"]).CallCenterUser))
                    {
                        var hasSessionRestaurant = (Model != null && Model.GetHomeDataResponse != null && !Model.GetHomeDataResponse.RestaurantUniqueName.NullOrEmpty() && Model.GetHomeDataResponse.IdRestaurant != null);

                        var link = hasSessionRestaurant ? Url.Action("Reorder", "Menu") : Url.Action("Index", "Home");

                        <a href="@link" class="button" id="btnNewOrderOrReorder">Refazer Pedido</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Home")" class="button" id="btnNewOrderOrReorder">Novo Pedido</a>
                    }
                </div>
            </div>
                        }
    </div>
</div>
