﻿<!doctype html>
<html ng-app="deliveryOnline" class="no-js" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
    @if (ViewBag.PageDescriptionSeo != null)
    {
        <meta name="description" content="@ViewBag.PageDescriptionSeo">
    }
    else
    {
        <meta name="description" content="@Resources.ResourceSeoMetaTags.Default_Description">
    }

    @{
        var isDevEnvironment = DartDigital.Core.Configuration.AppConfiguration.Settings.EnvironmentSettings.GetSettingValueAsBoolean("isDevEnvironment");
        var isCallCenterServer = DartDigital.Core.Configuration.AppConfiguration.Settings.EnvironmentSettings.GetSettingValueAsBoolean("isCallCenterServer");
        var addPingdomAnalyzer = DartDigital.Core.Configuration.AppConfiguration.Settings.GeneralSettings.GetSettingValueAsBoolean("addPingdomAnalyzer");
        var enableGoogleTagManager = DartDigital.Core.Configuration.AppConfiguration.Settings.GeneralSettings.GetSettingValueAsBoolean("EnableGoogleTagManager");

        if (addPingdomAnalyzer == null)
        {
            addPingdomAnalyzer = false;
        }

        if (addPingdomAnalyzer)
        {
            if (isCallCenterServer)
            {
				<script>
					var _prum = [['id', '58d2ed09e15f53877b93907d'],
					['mark', 'firstbyte', (new Date()).getTime()]];
					(function () {
						var s = document.getElementsByTagName('script')[0]
							, p = document.createElement('script');
						p.async = 'async';
						p.src = '//rum-static.pingdom.net/prum.min.js';
						s.parentNode.insertBefore(p, s);
					})();
				</script>
			}
			else
			{
				<script>
					var _prum = [['id', '58cf1214e530ca39a4d0aed9'],
					['mark', 'firstbyte', (new Date()).getTime()]];
					(function () {
						var s = document.getElementsByTagName('script')[0]
							, p = document.createElement('script');
						p.async = 'async';
						p.src = '//rum-static.pingdom.net/prum.min.js';
						s.parentNode.insertBefore(p, s);
					})();
				</script>
			}
		}
    }

    @if (isCallCenterServer)
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function ()
                { (i[r].q = i[r].q || []).push(arguments) }
                , i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-83690381-4', 'auto');
            ga('send', 'pageview');
        </script>
    }

    @RenderSection("DataLayer", false)

    @if (enableGoogleTagManager)
    {
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push(
                { 'gtm.start': new Date().getTime(), event: 'gtm.js' }
                ); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-WFT9XX2');
        </script>
        <!-- End Google Tag Manager -->
    }

    @if (ViewBag.PageTitleSeo != null)
    {
        <title>@ViewBag.PageTitleSeo</title>
    }
    else
    {
        <title>@Resources.ResourceSeoMetaTags.Default_Title</title>
    }

    <link rel="icon" type="image/ico" href="~/Images/favicon.ico" />
    @Styles.Render("~/Content/pizzahut-css")
    @Styles.Render("~/Content/themes/base/ContentBase-css")
    @Scripts.Render("~/Scripts/modernizr-js")

    @if (!isCallCenterServer)
	{
		<!-- Facebook Pixel Code -->
		<script>
			!function (f, b, e, v, n, t, s) {
				if (f.fbq) return; n = f.fbq = function ()
				{ n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) };
				if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
				n.queue = []; t = b.createElement(e); t.async = !0;
				t.src = v; s = b.getElementsByTagName(e)[0];
				s.parentNode.insertBefore(t, s)
			}(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '1830012200596641');
			fbq('track', 'PageView');
		</script>
		<noscript>
			<img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1830012200596641&ev=PageView&noscript=1" />
		</noscript>
		<!-- End Facebook Pixel Code -->
	}
</head>

@{ var homeClass = ViewBag.IsHome != null && (bool)ViewBag.IsHome ? "home-bg" : string.Empty; }

<body class="@homeClass">

    <form style="display: none" action="/the/url" method="POST" id="form">
        <input type="hidden" id="var1" name="var1" value="" />
    </form>

    @{
        if (enableGoogleTagManager && !isCallCenterServer)
        {
        <!-- Google Tag Manager (noscript) -->
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFT9XX2" height="0" width="0" style="display:none; visibility:hidden"></iframe>
            </noscript>
        <!-- End Google Tag Manager (noscript) -->
        }

        if ((ViewBag.HideAdvantageTag == null || ViewBag.HideAdvantageTag == false) && !isCallCenterServer)
        {
            @* Todas as Páginas (Exceto Página do Produto, Carrinho e Conversão) *@
            <script>
                var pixelSRCType = (("https:" == document.location.protocol) ? "https://" : "http://");
                var cId = '9c24af63-c1e3-4c48-b38a-9fc71fa70e80';
                var tName = 'visit'; var pId = '@ViewBag.SessionId', revenue = '0', orderId = '0'; var p1 = '', p2 = '', p3 = '';
                document.write("<iframe src='" + pixelSRCType + "adserver.adnexio.com/Tracking/EventHandler?cId=" + cId + "&tName=" + tName + "&pId=" + pId + "&revenue=" + revenue + "&orderId=" + orderId + "&p1=" + p1 + "&p2=" + p2 + "&p3=" + p3 + "' allowtransparency='true' framespacing='0' frameborder='no' scrolling='no' width='0' height='0' style='display:none;visibility:hidden'></iframe>");
            </script>}
    }
    <input type="hidden" id="applicationPath" name="applicationPath" value="@SmartFramework.Helpers.HttpContextHelper.GetApplicationPath(true)" />
    <div id="overlay" class="reveal-modal medium large mainModal static" data-reveal>
        <div class="row">
            <div class="small-12 large-12 columns large-centered">
                @Html.Raw(ViewBag.BlockSiteMessage)
            </div>
        </div>
    </div>
    <div id="viewport" class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            @Html.Partial("_Header", (HeaderFooterViewModel)ViewBag.HeaderFooter)
            @RenderBody()
            @Html.Partial("_Footer", (HeaderFooterViewModel)ViewBag.HeaderFooter)
        </div>
    </div>
    <div id="pingdom"></div>
    @if (isDevEnvironment)
    {
        @* Usados para debug.*@
        @Scripts.Render("~/Scripts/jquery-1.8.2.js")
        @Scripts.Render("~/Scripts/foundation.js")
    }
    else
    {
        @Scripts.Render("~/Scripts/default-js")
    }

    <script>
        $(document).foundation();
    </script>

    @if (isDevEnvironment)
    {
        @* Usados para debug.*@
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
        @Scripts.Render("~/Scripts/jquery.validate.js")
        @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
        @Scripts.Render("~/Scripts/pizzahut.js")
        @Scripts.Render("~/Scripts/jquery.mask.js")
        @Scripts.Render("~/Scripts/globalize.js")
        @Scripts.Render("~/Scripts/globalize.culture.pt-BR.js")
    }
    else
    {
        @Scripts.Render("~/Scripts/pizzahut-js")
    }

    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCnRFpFwLM6yplkcDC8i7yyXnumlxrQ2F8&sensor=false"></script>
    <script>
        Globalize.culture = Globalize.cultures['pt-BR'];

        $.validator.methods.range = function (value, element, param) {
            var globalizedValue = value.replace(",", ".");
            return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
        }

        $.validator.methods.number = function (value, element) {
            if (value == "" || Globalize.parseFloat(value, null, Globalize.culture)) {
                return true;
            }

            if (parseFloat(value).toString() != "NaN") {
                return true;
            }

            return false;
        }

        $.validator.methods.date = function (value, element) {
            if (value == "" || parseDateByFormat(value) != null) {
                return true;
            }

            return false;
        }

        function updateNewHomeHeight(scrollToTop) {
            var newHome = $('#newHome');
            var windowHeight = $(window).innerHeight();

            if (newHome != null) {
                var headerHeigth = $('.headerBg').height();
                var newHomeHeight = newHome.height();
                var hutLoversHeigth = $('#hutLovers').height();
                var footerPaddingTop = parseInt($('#footer').css('padding-top'));
                var headerMargingBottom = parseInt($('#header').css('margin-bottom'));
                var savedAddressesHeigth = $('.resizePanelBox:visible').height();
                var boxPadding = 100;
                var menuBarHeigth = $('#startYourOrderNav').height();

                if (menuBarHeigth == null || menuBarHeigth == undefined) {
                    menuBarHeigth = 0;
                }

                if ((savedAddressesHeigth + headerHeigth + hutLoversHeigth + footerPaddingTop + boxPadding + menuBarHeigth) < windowHeight) {
                    newHome.height(windowHeight - headerHeigth - hutLoversHeigth - footerPaddingTop - headerMargingBottom - menuBarHeigth);
                }
                else {
                    newHome.height('auto');
                }

                if (scrollToTop == null || scrollToTop) {
                    $(window).scrollTop(0);
                }
            }
        }

        function resetUseLocationBtn() {
            $('#useLocation').empty();
            $('#useLocation').text("USAR MINHA LOCALIZAÇÃO");
        }

        function putLoadingGif($element) {
            var $loadingGif = $('<img src="' + '@Url.Content("~/Images/ajax-loader.gif")' + '">');
            $element.html($loadingGif);
        }

        function removeLoadingGif($element) {
            $element.html($element.data("default-value"));
        }

        function putBtnLoadingGif($element) {
            $element.addClass("btnLoading");
            $element.val("");
        }

        function removeBtnLoadingGif($element) {
            $element.removeClass("btnLoading");
            $element.val($element.data("default-value"));
        }

        $(document).ready(function () {
            $(document).ajaxComplete(function (event, xhr, settings) {
                var scollToTop = settings.url.toLowerCase().indexOf("Menu?IdMenuGroup") == -1;
                updateNewHomeHeight(!scollToTop);
                $("body").css("cursor", "default");
            });

            $('.numeric').mask('00000000', { reverse: true });

            @if (ViewBag.BlockSiteMessage != null) {
            <text>
            $('#overlay').foundation('reveal', 'open');
            $('#overlay').data('revealInit').close_on_background_click = false;
            $('#overlay').data('revealInit').close_on_esc = false;
            </text>
            }

            $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
                if (jqxhr.responseText.indexOf("SessionExpiredException") >= 0) {
                    showAjaxErrorMessage("Sua sessão expirou! Por favor comece novamente.");
                }
                else
                {
                    window.location = '@Url.Action("Index", "Home")';
                }
            });

            $('#submitNewsletterForm').click(function (event) {
                event.preventDefault();

                if ($('#NewsletterForm').valid()) {
                    $.post($('#NewsletterForm').attr('action'), $('#NewsletterForm').serialize(), function (result) {
                        $('#Newsletter_Name').val('');
                        $('#Newsletter_Email').val('');

                        if (!result) {
                            showMessage('Parabéns, você foi cadastrado com sucesso!');
                        } else {
                            showMessage(result);
                        }
                    });
                }
            });

            $(".styledCheckbox").on("click", function () {
                $(this).toggleClass("checked");
            });

            $('.radioClickImage').click(function (event) {
                $(this).next().click();
            });

            @if (TempData.ContainsKey(SystemValues.ErrorData))
			{
                @:showMessage(@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(TempData[SystemValues.ErrorData].ToString().Trim())));
            }

            $('#useLocation').click(function (event) {
                event.preventDefault();
                putLoadingGif($(this));
                var latitude, longitude;

                try {
                    getLocation(function getPosition(position) {
                        latitude = position.coords.latitude.toString().replace('.', ',');
                        longitude = position.coords.longitude.toString().replace('.', ',');

                        window.location = '@Url.Action("LocationAddresses", "Home")' + '?latitude=' + latitude + '&longitude=' + longitude;
                    });
                } catch (err) {
                    resetUseLocationBtn();
                }
            });

            $('#modelRequest_ZipCode').blur(function (event) {
                event.preventDefault();
                fillAddressByZipCode($('#modelRequest_ZipCode').val());
            });

            $('#modelRequest_ZipCode').keypress(function (e) {
                var key = e.which;

                if (key == 13) {
                    event.preventDefault();
                    fillAddressByZipCode($('#modelRequest_ZipCode').val());
                }
            });

            $('#header').on('click', '#addedCartButton', function (event) {
                $("body").css("cursor", "progress");
            });
        });

        function zipCodeKeyUp(e, zipCode, $findAddressBtn) {
            if (zipCode == '' || zipCode.length != 8) {
                $findAddressBtn.addClass('findAddressDisabled');
            } else {
                $findAddressBtn.removeClass('findAddressDisabled');
                var key = e.which;

                if (key == 13) {
                    $findAddressBtn.click();
                }
            }
        }

        function searchForZipCode(zipCode) {
            if (zipCode != '' && zipCode != null && zipCode.length == 8) {
                var address = getAddressByZipCode(zipCode);
                return address;
            }

            return null;
        }

        function parseDateByFormat(value) {
            if (value == null || value.length < 6) {
                return null;
            }

            var culture = Globalize.culture;
            var format;

            if (value.length > 10) {
                format = culture.calendar.patterns.d + " " + culture.calendar.patterns.T;
            } else {
                format = culture.calendar.patterns.d;
            }

            return Globalize.parseDate(value, format, culture);
        }

        function getLocation(getPositionCallBack) {
            if (!getPositionCallBack) {
                return;
            }

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(getPositionCallBack, showError);
            } else {
                console.log("Geolocation is not supported by this browser.");
            }
        }

        function showError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:
                    console.log("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    console.log("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    console.log("The request to get user location timed out.");
                    break;
                case error.UNKNOWN_ERROR:
                    console.log("An unknown error occurred.");
                    break;
            }
        }

        function clearCustomer() {
            $.ajax({
                url: "@Url.Action("ClearCustomer", "Customer")",
                type: 'GET',
                success: function (result) { },
                async: false
            });
        }

        function createCompleteAddressForm(formInfo) {
            var $form = $('<form action="' + '@Url.Action("CompleteAddress", "Home")' + '" method="post" style="display:none">' +
                    '<input type="text" name="Neighborhood" value="' + formInfo.neighborhoodInfo + '" />' +
                    '<input type="text" name="ZipCode" value="' + formInfo.zipCodeInfo + '" />' +
                    '<input type="text" name="Address" value="' + formInfo.addressInfo + '" />' +
                    '<input type="text" name="City" value="' + formInfo.cityInfo + '" />' +
                    '<input type="text" name="StateCode" value="' + formInfo.stateInfo + '" />' +
                    '<input type="text" name="CoordinateData.Latitude" value="' + formInfo.latitudeInfo + '" />' +
                    '<input type="text" name="CoordinateData.Longitude" value="' + formInfo.longitudeInfo + '" />' +
                    '<input type="text" name="GenericAddress" value="' + formInfo.genericAddress + '" />' +
                    '</form>');

            return $form;
        }

        var redirectCepNotAttended = false;
        var addressNotAttendedMessage = "Nenhum restaurante que atende a sua localização foi encontrado para pedidos online.";
        var lastZipCodeSearchNotAttended = null;

        function checkAddressAttended(zipCode) {
            var isAttended = true;

            if (zipCode == lastZipCodeSearchNotAttended) {
                event.preventDefault();
                showMessage(addressNotAttendedMessage);
                isAttended = false;
            }

            $.ajax({
                url: "@Url.Action("IsAddressAttended", "Customer")",
                data: { zipCode: zipCode },
                type: 'GET',
                success: function (result) {
                    if (!result) {
                        event.preventDefault();
                        lastZipCodeSearchNotAttended = zipCode;
                        showMessage(addressNotAttendedMessage);
                        isAttended = false;
                    }
                },
                async: false
            });

            return isAttended;
        }

        function postZipCodeSearch(zipCode, mustClearCustomer) {
            var address = searchForZipCode(zipCode);

            if (address) {
                var userIsCallCenter = $('#userIsCallCenter').val();

                if (userIsCallCenter == 'userIsCallCenter' && mustClearCustomer) {
                    clearCustomer();
                }

                if (redirectCepNotAttended && !address.IsAttended) {
                    showMessage(addressNotAttendedMessage);
                    return;
                }

                var formInfo = {
                    neighborhoodInfo: address.Neighborhood,
                    zipCodeInfo: address.ZipCode,
                    addressInfo: address.Address,
                    cityInfo: address.City,
                    stateInfo: address.StateCode,
                    latitudeInfo: address.Latitude,
                    longitudeInfo: address.Longitude,
                    genericAddress: address.Address == null || address.Address.trim() == ""
                };

                var $form = createCompleteAddressForm(formInfo);
                $('body').append($form);
                $form.submit();
            } else {
                showMessage("O CEP informado não foi encontrado.");
            }
        }

        function getAddressByZipCode(zipCode) {
            if (zipCode == null || zipCode == '') {
                return;
            }
            else if (!zipCode.trim()) {
                return;
            }

            var address = null;

            $.ajax({
                url: "@Url.Action("GetAddressByZipCode", "Customer")",
                data: { zipCode: zipCode },
                type: 'GET',
                success: function (result) {
                    if (result) {
                        address = result.address;
                        redirectCepNotAttended = result.redirectCepNotAttended;
                    }
                    else {
                        showMessage('CEP não encontrado.');
                    }
                },
                async: false
            });

            return address;
        }

        function goBack() {
            window.history.back();
        }

        function fillAddressByZipCode(zipCode) {
            if (zipCode == '' || zipCode == null) {
                return;
            }
            else if (!zipCode.trim()) {
                return;
            }

            var zipCodeFound;

            $.ajax({
                url: "@Url.Action("GetAddressByZipCode", "Customer")",
                data: { zipCode: zipCode.trim() },
                type: 'GET',
                success: function (result) {
                    if (result) {
                        $('#modelRequest_City').val(result.address.City);
                        if (result.address.Address) {
                            $('#modelRequest_Address').prop('readonly', true);
                        } else {
                            $('#modelRequest_Address').prop('readonly', false);
                        }

                        $('#modelRequest_Address').val(result.address.Address);

                        if (result.address.Neighborhood) {
                            $('#modelRequest_Neighborhood').prop('readonly', true);
                        } else {
                            $('#modelRequest_Neighborhood').prop('readonly', false);
                        }

                        $('#modelRequest_Neighborhood').val(result.address.Neighborhood);
                        $('#modelRequest_StateCode').val(result.address.StateCode);
                        $('#modelRequest_CoordinateData_Latitude').val('');
                        $('#modelRequest_CoordinateData_Longitude').val('');
                        $('#modelRequest_IsSpecialAddress').val(result.address.IsSpecialAddress);
                        zipCodeFound = true;
                    }
                    else {
                        showMessage('CEP não encontrado.');
                        $('#modelRequest_City').val('');
                        $('#modelRequest_Address').val('');
                        $('#modelRequest_Neighborhood').val('');
                        $('#modelRequest_StateCode').val('');
                        $('#modelRequest_IsSpecialAddress').val();
                        zipCodeFound = false;
                    }
                },
                async: false
            });

            return zipCodeFound;
        }

    </script>
    @RenderSection("Scripts", required: false)
    <!--<script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@ViewBag.FacebookAppID',
                cookie: true,
                xfbml: true,
                version: 'v2.3'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.async = true; js.src = "//connect.facebook.net/pt_BR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'))
    </script>-->

</body>
</html>