﻿
@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel

@{
    var selectedLoja = "";
    if (Model != null && Model.Restaurant != null && Model.Restaurant.IdRestaurant != 0)
    {
        selectedLoja = Model.Restaurant.IdRestaurant.ToString();
    }

    var disabledFields = Model != null ? "disabled" : " ";
}



<li>
    <label class="field-title">
        @Html.LabelFor(model => model.IdRestaurant)
    </label>
    @if (ViewBag.BlockEdition)
    {
        @Html.DropDownListFor(model => model.IdRestaurant, Model.Restaurants, "", new { @style = "width:320px", disabled = "disabled" })
        @Html.HiddenFor(model => model.IdRestaurant)
    }
    else
    {
        @Html.DropDownListFor(model => model.IdRestaurant, Model.Restaurants, "", new { @style = "width:320px" })
    }
    @Html.ValidationMessageFor(model => model.IdRestaurant)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.IdMenuAttributeTypeDish)
    </label>
    @if (ViewBag.BlockEdition)
    {
        @Html.DropDownListFor(model => model.IdMenuAttributeTypeDish, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDoubleViewModel().MenuAttributeTypeDishes, "", new { @style = "width:320px", disabled = "disabled" })
        @Html.HiddenFor(model => model.IdMenuAttributeTypeDish)
    }
    else
    {
        @Html.DropDownListFor(model => model.IdMenuAttributeTypeDish, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDoubleViewModel().MenuAttributeTypeDishes, "", new { @style = "width:320px" })
    }
    @Html.ValidationMessageFor(model => model.IdMenuAttributeTypeDish)
    <span class="clearFix">&nbsp;</span>
</li>

<li class="OptionalItens">
    <label class="field-title">
        @Html.LabelFor(model => model.ListSalesPromotionOptional)
    </label>
    @if (ViewBag.BlockEdition)
    {
        <a id="addLink" href="javascript:void(0);" class="add-link" style="margin-bottom: 10px; pointer-events:none;"></a>
    }
    else
    {
        <a id="addLink" href="javascript:void(0);" class="add-link" style="margin-bottom: 10px;"></a>
    }
    @if (Model.SalesPromotionOptional != null && Model.SalesPromotionOptional.Count > 0)
    {
        int i = 0;

        foreach (var item in Model.SalesPromotionOptional)
        {
            @Html.Raw("<div style='padding-left:160px; padding-top:10px'>");

            if (ViewBag.BlockEdition)
            {
                @Html.DropDownList("ListSalesPromotionOptional[" + i + "].IdMenuAttributeTypeOptional", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel().GetMenuAttributeTypeItens(Model.IdMenuAttributeTypeDish, item.IdMenuAttributeTypeOptional), new { @style = "width:200px", @class = "OptionalAttr", disabled = "disabled" });
                @Html.HiddenFor(model => model.ListSalesPromotionOptional[i].IdMenuAttributeTypeOptional)
                @Html.Raw("&nbsp");
                @Html.DropDownList("ListSalesPromotionOptional[" + i + "].IdMenuAttributeTypeOptionalItem", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel().GetMenuAttributeTypeItens(item.IdMenuAttributeTypeOptional, item.IdMenuAttributeTypeOptionalItem), new { @style = "width:200px", disabled = "disabled" });
                @Html.HiddenFor(model => model.ListSalesPromotionOptional[i].IdMenuAttributeTypeOptionalItem)
            }
            else
            {
                @Html.DropDownList("ListSalesPromotionOptional[" + i + "].IdMenuAttributeTypeOptional", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel().GetMenuAttributeTypeItens(Model.IdMenuAttributeTypeDish, item.IdMenuAttributeTypeOptional), new { @style = "width:200px", @class = "OptionalAttr" });
                @Html.Raw("&nbsp");
                @Html.DropDownList("ListSalesPromotionOptional[" + i + "].IdMenuAttributeTypeOptionalItem", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel().GetMenuAttributeTypeItens(item.IdMenuAttributeTypeOptional, item.IdMenuAttributeTypeOptionalItem), new { @style = "width:200px" });
            }
            @Html.Raw("<span class='row-details' style='padding-left:10px'>");
            if (!ViewBag.BlockEdition)
            {
               @Html.Raw("<a href='javascript:void(0);' class='table-delete-link'> </a>");
            }
            @Html.Raw("</span>");
            @Html.Raw("</div>");

            i++;
        }
    }
    <span id="ValidationOptionalItens" class="field-validation-valid" data-valmsg-replace="true"></span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.NecessaryQuantity)
    </label>
    @Html.TextBoxFor(model => model.NecessaryQuantity, new { @class = "minvalue numerico", @style = "width:100px" })
    @Html.ValidationMessageFor(model => model.NecessaryQuantity)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.Order)
    </label>
    @Html.TextBoxFor(model => model.Order, new { @class = "numerico", @style = "width:100px" })
    @Html.ValidationMessageFor(model => model.Order)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.IdMenuGroup)
    </label>
    @if (ViewBag.BlockEdition)
    {
        @Html.DropDownListFor(model => model.IdMenuGroup, Model.GetMenuGroups(Model.IdRestaurant, Model.IdMenuGroup), new { @style = "width:320px", disabled = "disabled" })
        @Html.HiddenFor(model => model.IdMenuGroup)
    }
    else
    {
        @Html.DropDownListFor(model => model.IdMenuGroup, Model.GetMenuGroups(Model.IdRestaurant, Model.IdMenuGroup), new { @style = "width:320px" })
    }
    @Html.ValidationMessageFor(model => model.IdMenuGroup)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.IdSaleMenuDish)
    </label>
    @if (ViewBag.BlockEdition)
    {
        @Html.DropDownListFor(model => model.IdSaleMenuDish, Model.GetMenuDishes(Model.IdMenuGroup, Model.IdSaleMenuDish), new { @style = "width:320px", disabled = "disabled" })
        @Html.HiddenFor(model => model.IdSaleMenuDish)
    }
    else
    {
        @Html.DropDownListFor(model => model.IdSaleMenuDish, Model.GetMenuDishes(Model.IdMenuGroup, Model.IdSaleMenuDish), new { @style = "width:320px" })
    }
    @Html.ValidationMessageFor(model => model.IdSaleMenuDish)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.Maximum)
    </label>
    @Html.TextBoxFor(model => model.Maximum, new { @class = "numerico", @style = "width:100px" })
    @Html.ValidationMessageFor(model => model.Maximum)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.AutoAddToCart)
    </label>

    @Html.EditorFor(model => model.AutoAddToCart)
    @Html.ValidationMessageFor(model => model.AutoAddToCart)

    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.ShowInSellingOut)
    </label>

    @Html.EditorFor(model => model.ShowInSellingOut)
    @Html.ValidationMessageFor(model => model.ShowInSellingOut)

    <span class="clearFix">&nbsp;</span>
</li>


