﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel

<div>
    <span class="display-label">@Html.LabelFor(model => model.StartDate)</span>
    @if (Model.StartDate.HasValue)
    {
        <span class="display-field">
            Inicial:
            @Html.DisplayFor(model => model.StartDate, new { @class = "date", @style = "width:150px" })
        </span>
    }
    @if (Model.EndDate.HasValue)
    {
        <span class="display-field">
            Final:
            @Html.DisplayFor(model => model.EndDate, new { @class = "date", @style = "width:150px" })
        </span>
    }
</div>

<div>
    <span class="display-label">@Html.LabelFor(model => model.ListSalesPromotionAvaiableTime)</span>
    <div class="week-day-slider">
        <table>
                @{
                var dias = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
                var sliderCountIndex = 0;
                }
                @for (int index = 0; index < 7; index++)
                {
                <tbody id="abertura" data-weekday="@(index)">

                    @if (Model.ListSalesPromotionAvaiableTime == null)
                    {
                        <tr>
                            <td width="140">
                                <span>
                                    <input type="checkbox" disabled="disabled" class="week-day" name="ListSalesPromotionAvaiableTime[@index].WeekDay" value="@index" />
                                    <label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
                                </span>
                            </td>
                            <td width="350">
                                @Html.Hidden("ListSalesPromotionAvaiableTime[" + index + "].StartTime", "", new { @class = "minValue" })
                                <label style="float: left; margin-right: 5px" class="minValue left-time-detail">00:00</label>
                                <div style="float: left;margin: 5px 10px 0px 10px;" class="slider-range"></div>
                                <label style="float: left; margin-left: 5px" class="maxValue right-time-detail">23:59</label>
                                @Html.Hidden("ListSalesPromotionAvaiableTime[" + index + "].EndTime", "", new { @class = "maxValue" })
                            </td>
                        </tr>
                        sliderCountIndex++;
                    }
                    else
                    {

                        var listaTime = Model.ListSalesPromotionAvaiableTime.Where(m => m.WeekDay == index);

                        if (listaTime.Count() == 0)
                        {
                            <tr>
                                <td width="140">
                                    <span>
                                        <input type="checkbox" disabled="disabled" class="week-day" name="ListSalesPromotionAvaiableTime[@index].WeekDay" value="@index" />
                                        <label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
                                    </span>
                                </td>
                                <td width="350">
                                    @Html.Hidden("ListSalesPromotionAvaiableTime[" + index + "].StartTime", "", new { @class = "minValue" })
                                    <label style="float: left; margin-right: 5px" class="minValue left-time-detail">00:00</label>
                                    <div style="float: left;margin: 5px 10px 0px 10px;" class="slider-range"></div>
                                    <label style="float: left; margin-left: 5px" class="maxValue right-time-detail">23:59</label>
                                    @Html.Hidden("ListSalesPromotionAvaiableTime[" + index + "].EndTime", "", new { @class = "maxValue" })
                                </td>
                            </tr>
                            sliderCountIndex++;
                        }
                        else
                        {
                            for (int j = 0; j < listaTime.Count(); j++)
                            {
                                <tr>
                                    <td width="140">
                                        <span>
                                            @if (j == 0)
                                            {
                                                <input type="checkbox" disabled="disabled" class="week-day" name="ListSalesPromotionAvaiableTime[@j].WeekDay" value="@index" @(listaTime.ElementAt(j).WeekDay.HasValue ? "checked" : "") />
                                                <label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="week-day" disabled="disabled" style="display:none;" name="ListSalesPromotionAvaiableTime[@j].WeekDay" value="@index" @(listaTime.ElementAt(j).WeekDay.HasValue ? "checked" : "") />
                                                <label class="dayLabel" style="display:none;">@dias.ElementAt(index).ToTitleString()</label>
                                            }

                                        </span>
                                    </td>
                                    <td width="350">
                                        @Html.Hidden("ListSalesPromotionAvaiableTime[" + j + "].StartTime", listaTime.ElementAt(j).StartTime.ToString("hh':'mm"), new { @class = "minValue" })
                                        <label style="float: left; margin-right: 5px" class="minValue left-time-detail">@listaTime.ElementAt(j).StartTime.ToString("hh':'mm")</label>
                                        <div style="float: left;margin: 5px 10px 0px 10px;" class="slider-range"></div>
                                        <label style="float: left; margin-left: 5px" class="maxValue right-time-detail">@listaTime.ElementAt(j).EndTime.ToString("hh':'mm")</label>
                                        @Html.Hidden("ListSalesPromotionAvaiableTime[" + j + "].EndTime", listaTime.ElementAt(j).EndTime.ToString("hh':'mm"), new { @class = "maxValue" })
                                    </td>
                                </tr>
                                sliderCountIndex++;
                            }
                        }

                    }
                </tbody>
                }

        </table>
    </div>
</div>



