﻿
@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.StartDate)
    </label>
    @Html.TextBoxFor(model => model.StartDate, new { @class = "rangedate date", @style = "width:150px" })
    a
    @Html.TextBoxFor(model => model.EndDate, new { @class = "rangedate date", @style = "width:150px" })
    <span id="rangedate-validation" class="field-validation-error" data-valmsg-for="StartDate" data-valmsg-replace="true">Período de datas inválido</span>
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.ListSalesPromotionAvaiableTime)
    </label>
    <div class="week-day-slider">
    <table>
        @{
          var dias = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
          var sliderCountIndex = 0;
        }
        @for (int index = 0; index < 7; index++)
        {
        <tbody id="abertura" data-weekday="@(index)" class="abertura-class">

            @if (Model.ListSalesPromotionAvaiableTime == null)
            {
                <tr class="promotion-time-row">
                    <td width="140" class="weekday-promotion">
                        <span>
                            <input type="checkbox" class="weekdayselection week-day" name="ListSalesPromotionAvaiableTime[@sliderCountIndex].WeekDay" value="@index" />
                            <label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
                        </span>
                    </td>
                    <td width="350" class="timelist-promotion">
                        @Html.Hidden("ListSalesPromotionAvaiableTime[" + sliderCountIndex + "].StartTime", "", new { @class = "minValue" })
                        <label class="minValue">00:00</label>
                        <label class="maxValue">23:59</label>
                        @Html.Hidden("ListSalesPromotionAvaiableTime[" + sliderCountIndex + "].EndTime", "", new { @class = "maxValue" })
                        <div class="slider-range"></div>
                        <a class="add-link add-abertura" href="javascript:void(0);" id="sliderAction"></a>
                    </td>
                </tr>
                sliderCountIndex++;
            }
            else
            {

                var listaTime = Model.ListSalesPromotionAvaiableTime.Where(m => m.WeekDay == index);

                if (listaTime.Count() == 0)
                {
                    <tr class="promotion-time-row">
                        <td width="140" class="weekday-promotion">
                            <span>
                                <input type="checkbox" class="weekdayselection week-day" name="ListSalesPromotionAvaiableTime[@sliderCountIndex].WeekDay" value="@index" />
                                <label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
                            </span>
                        </td>
                        <td width="350" class="timelist-promotion">
                            @Html.Hidden("ListSalesPromotionAvaiableTime[" + sliderCountIndex + "].StartTime", "", new { @class = "minValue" })
                            <label class="minValue">00:00</label>
                            <label class="maxValue">23:59</label>
                            @Html.Hidden("ListSalesPromotionAvaiableTime[" + sliderCountIndex + "].EndTime", "", new { @class = "maxValue" })
                            <div class="slider-range"></div>
                            <a class="add-link add-abertura" href="javascript:void(0);" id="sliderAction"></a>
                        </td>
                    </tr>
                    sliderCountIndex++;
                }
                else
                {
                    for (int j = 0; j < listaTime.Count(); j++)
                    {
                        <tr class="promotion-time-row">
                            <td width="140" class="weekday-promotion">
                                <span>
                                    @if (j == 0)
                                    {
                                        <input type="checkbox" class="weekdayselection week-day" name="ListSalesPromotionAvaiableTime[@sliderCountIndex].WeekDay" value="@index" @(listaTime.ElementAt(j).WeekDay.HasValue ? "checked" : "") />
                                        <label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
                                    }
                                    else
                                    {
                                        <input type="checkbox" class="weekdayselection week-day" style="display:none;" name="ListSalesPromotionAvaiableTime[@sliderCountIndex].WeekDay" value="@index" @(listaTime.ElementAt(j).WeekDay.HasValue ? "checked" : "") />
                                        <label class="dayLabel" style="display:none;"></label>
                                    }

                                </span>
                            </td>
                            <td width="350" class="timelist-promotion">
                                @Html.Hidden("ListSalesPromotionAvaiableTime[" + sliderCountIndex + "].StartTime", listaTime.ElementAt(j).StartTime.ToString("hh':'mm"), new { @class = "minValue" })
                                <label class="minValue">@listaTime.ElementAt(j).StartTime.ToString("hh':'mm")</label>
                                <label class="maxValue">@listaTime.ElementAt(j).EndTime.ToString("hh':'mm")</label>
                                @Html.Hidden("ListSalesPromotionAvaiableTime[" + sliderCountIndex + "].EndTime", listaTime.ElementAt(j).EndTime.ToString("hh':'mm"), new { @class = "maxValue" })
                                <div class="slider-range"></div>
                                @if (j == 0)
                                {
                                    <a class="add-link add-abertura" href="javascript:void(0);" id="sliderAction"></a>
                                }
                                else
                                {
                                    <a class="table-delete-link remove-abertura" href="javascript:void(0);" id="sliderAction"></a>
                                }
                            </td>
                        </tr>
                                sliderCountIndex++;
                    }
                }

            }
        </tbody>
        }
        </table>
        <input type="hidden" id="sliderCountIndex" value="@sliderCountIndex" />
        @Html.ValidationMessage("Abertura", null, new { @class = "aberturaValidate", @style = "display:none; margin-left:160px; margin-top:5px;" })
        @Html.ValidationMessageFor(model => model.ListSalesPromotionAvaiableTime)
        <span class="clearFix">&nbsp;</span>
    </div>
</li>

