﻿
@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel

<div>
    <span class="display-label">@Html.LabelFor(model => model.Description)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Description)
    </span>
</div>

<div>
    <span class="display-label">@Html.LabelFor(model => model.IdRestaurant)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Restaurant.Name)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div>
    <span class="display-label">@Html.LabelFor(model => model.IdMenuAttributeTypeDish)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.MenuAttributeType.Name)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div class="OptionalItens">
    <span class="display-label">
        @Html.LabelFor(model => model.ListSalesPromotionOptional)
    </span>
    <span class="display-field">
        @foreach (var item in Model.SalesPromotionOptional)
        {
            <div style="padding-bottom:10px;">
                @string.Format("{0}: {1}", item.MenuAttributeTypeOptional.Name, item.MenuAttributeTypeItem.Name)
            </div>
        }
    </span>
</div>

<div>
    <span class="display-label">
        @Html.LabelFor(model => model.NecessaryQuantity)
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.NecessaryQuantity)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div>
    <span class="display-label">
        @Html.LabelFor(model => model.Order)
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Order)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div>
    <span class="display-label">
        @Html.LabelFor(model => model.IdMenuGroup)
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.MenuGroupNameWithDescription)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div>
    <span class="display-label">
        @Html.LabelFor(model => model.IdSaleMenuDish)
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.MenuDish.Name)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div>
    <span class="display-label">
        @Html.LabelFor(model => model.Maximum)
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Maximum)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div>
    <span class="display-label">
        @Html.LabelFor(model => model.AutoAddToCart)
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.AutoAddToCart)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div>
    <span class="display-label">
        @Html.LabelFor(model => model.ShowInSellingOut)
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.ShowInSellingOut)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>

<div>
    <span class="display-label">
        @Html.LabelFor(model => model.Created)
    </span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Created)
    </span>
    <span class="clearFix">&nbsp;</span>
</div>




