﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionViewModel

@{
    ViewBag.Title = "Editar - Desconto no acompanhamento";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionCheckoutTop-js")
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionDiscountType-js")
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionAvailableTime-js")
    <script type="text/javascript">

        $(document).ready(function () {
            if ($('#AutoAddToCart').is(':checked')) {
                $("#Maximum").prop("readonly", true);
                $("#IdDiscountType").prop("disabled", true);
                $("#TextDiscountValue").prop("readonly", true);
            } else {
                $("#Maximum").removeAttr('readonly');
                $("#IdDiscountType").removeAttr('disabled');
                $("#TextDiscountValue").removeAttr('readonly');
            }

            $("#rangedate-validation").hide();
            $("#weekday-validation").hide();
        });

        $('#AutoAddToCart').change(function (event) {
            var $this = $(this);
            if ($this.is(':checked')) {

                $("#Maximum").val(1);
                $("#Maximum").prop("readonly", true);

                $("#IdDiscountType[value='1']").prop("checked", true);
                $("#IdDiscountType").prop("disabled", true);

                $("#TextDiscountValue").val("100,00");
                $("#TextDiscountValue").prop("readonly", true);
            } else {
                $("#Maximum").removeAttr('readonly');
                $("#Maximum").val("");

                $("#IdDiscountType").removeAttr('disabled');

                $("#TextDiscountValue").removeAttr('readonly');
                $("#TextDiscountValue").val("");
            }
        });

        $.validator.addMethod("minvalue", function (value, element, params) {
            return ValidateQuantity(value);
        });

        $.validator.classRuleSettings.minvalue = { minvalue: true }
        jQuery.validator.unobtrusive.adapters.add("minvalue", [], function (options) {
            options.rules["minvalue"] = "#" + options.element.id;
            options.messages["minvalue"] = options.message;
        });

        function ValidateQuantity(value) {
            if (parseInt(value, 10) < 1) {
                return false;
            }

            return true;
        }

    </script>

}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "SalesPromotionForm");
    htmlAttributes.Add("class", "middle-forms");
    htmlAttributes.Add("enctype", "multipart/form-data");

}

@using (Html.BeginForm("Edit", "SalesPromotion", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    <input type="hidden" id="ActionGetMenuGroups" data-actiongetmenugroups="@Url.Action("GetMenuGroups", "SalesPromotion")" />
    <input type="hidden" id="ActionGetMenuDishes" data-actiongetmenudishes="@Url.Action("GetMenuDishes", "SalesPromotion")" />
    <input type="hidden" id="ActionGetMenuAttributeTypeDish" data-actiongetmenuattributetypedish="@Url.Action("GetMenuAttributeTypeDish", "SalesPromotion")" />
    <input type="hidden" id="ActionMenuAttributeTypeItens" data-menuattributetypeitens="@Url.Action("MenuAttributeTypeItens", "SalesPromotion")" />
    <input type="hidden" id="CreateMode" value="edit" />

    @Html.ValidationSummary(true)
    <fieldset>
        <ol>

            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>

                @Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)

                <span class="clearFix">&nbsp;</span>
            </li>

            @{
                Html.RenderPartial("_PromotionTop", Model);
                Html.RenderPartial("_PromotionDiscountType", Model);
                Html.RenderPartial("_PromotionAvaiableTime", Model);
            }

            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>

                @Html.EditorFor(model => model.Disabled)
                @Html.ValidationMessageFor(model => model.Disabled)

                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />

                <a style="margin-top:3px" class="button" href="@Url.Action("Index", "SalesPromotionGeneric", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>

                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>

    </fieldset>
}