﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.OrderViewModel>
@using SmartFramework.Areas.EnumsAndConsts

@section titleContent
{
    @if (ViewBag.Routes.ContainsKey("id"))
    {
        ViewBag.Routes.Remove("id");
    }

}
<script>
    $("#OrderSearchFormModal").submit(function (e) {
        e.preventDefault();

        $.get($(this).attr("action"), $(this).serialize(), function (result) {
            $(".temp").html(result);
        });
    })

    $(".table-details-link").on("click", function (e) {
        e.preventDefault();

        $.get($(this).attr('href'), function (result) {
            $('#divDetails').html(result);
            $('#divDetails').dialog({
                title: "Detalhes",
                width: 583,
                height: 600,
                close: function () {
                    $("#divDetails").empty();
                }
            });
        });
    });

</script>

@using (Html.BeginForm("Index", "Order", FormMethod.Get, new { id = "OrderSearchFormModal", @class = "middle-forms" }))
{
    OrderFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (OrderFilter)ViewBag.Filter;

    }
    @Html.HiddenFor(filter => Filter.IdCustomer, new { @class = "NoClear" })

}
<div id="divDetails"></div>
<table class="table-long">
    <tr>
        <th>
            <a href="" rel="Key" class="orderByLink">
                Código
            </a>
        </th>
        <th>
            <a href="" rel="IdRestaurant" class="orderByLink">
                Loja
            </a>
        </th>
        <th>
            <a href="" rel="Created" class="orderByLink">
                Criação
            </a>
        </th>
        <th>
            <a href="" rel="ToGo" class="orderByLink">
                Retirada?
            </a>
        </th>
        <th>
            <a href="" rel="DeliveryFee" class="orderByLink">
                Taxa de Entrega
            </a>
        </th>
        <th>
            <a href="" rel="Discount" class="orderByLink">
                Desconto
            </a>
        </th>
        <th>
            <a href="" rel="Total" class="orderByLink">
                Total
            </a>
        </th>
        <th>
            <a href="" rel="FinalDate" class="orderByLink">
                Confirmação Envio
            </a>
        </th>
        <th>
            <a href="" rel="FinalDate" class="orderByLink">
                Status
            </a>
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <tr>
                @{
            if (ViewBag.Routes.ContainsKey("id"))
            {
                ViewBag.Routes.Remove("id");
            }
            ViewBag.Routes.Add("id", item.IdOrder);
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToGo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryFee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinalDate)
                </td>
                <td>
                    @item.OrderStatus.Name.ToUpper()
                </td>
                <td class="table-comand">
                    <a href="@Url.Action("Details", "OrderTracking" , ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                </td>
            </tr>
        }
    }
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}

