﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionGenericViewModel

@{
    ViewBag.Title = "Lista de Promoções";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";

    SalesPromotionGenericFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (SalesPromotionGenericFilter)ViewBag.Filter;


        if (User.IsInRole(UserPermission.MenuDishSalesPromotionList))
        {
            Filter.SalesPromotionType = SalesPromotionEnumerator.PROMO_GIFT;
        }
        else
        {
            if (User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountList))
            {
                Filter.SalesPromotionType = SalesPromotionEnumerator.PROMO_DAY;
            }
            else
            {
                if (User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleList))
                {
                    Filter.SalesPromotionType = SalesPromotionEnumerator.PROMO_DOUBLE;
                }
            }
        }

    }
}
@section Scripts {
    @*Insira todos os códigos javascript aqui*@
    <script type="text/javascript">
        $(function () {
            $("#tabs-nohdr").tabs({
                activate: function (event, ui) {
                    var promoName = ui.newTab.attr('li', "innerHTML")[0].getElementsByTagName("a")[0].href.split("#")[1].toUpperCase();
                    var oldValue = $("#salesPromotionTypeByFilter").val();
                    $("#salesPromotionTypeByFilter").val(promoName);

                    var selectedRestaurant = $("#Filter_IdRestaurant option:selected").text();
                    var promoDescription = $("#Filter_Description").val();

                    var enabledSelected = $('input[id=Filter_Disabled]:checked', '#SalesPromotionGenericFormSearchId').val();

                    if (promoName != oldValue && (selectedRestaurant != "" || promoDescription != "" || enabledSelected)) {
                        $("#SalesPromotionGenericFormSearchId").submit();
                    }
                }
            });
        });
    </script>
    <script>
        $('document').ready(function () {
            var selectedTab = "#" + $("#salesPromotionTypeByFilter").val().toLowerCase();
            var index = $('#tabs-nohdr a[href="' + selectedTab + '"]').parent().index();
            $("#tabs-nohdr").tabs("option", "active", index);


            $('.add-opt').click(function (event) {
                event.preventDefault();

                $.get($("#applicationPath").val() + $(this).attr('href'), function (result) {
                    $('#divLink').html(result);
                    $('#divLink').dialog({
                        title: "Tipo de Promoção",
                        width: 600,
                        height: 420,
                        close: function () {
                            $("#divLink").empty();
                        }
                    });
                });
            });
        });
    </script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDoubleCreate))
    {
        <a class="add-link add-opt" id="add-title" href="/SalesPromotionGeneric/Create">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "SalesPromotionGenericFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "SalesPromotionGeneric", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    if (ViewBag.Filter != null)
    {
        Filter = (SalesPromotionGenericFilter)ViewBag.Filter;
    }
    <div id="divLink"></div>
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.SalesPromotionType, new { @id = "salesPromotionTypeByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(filter => Filter.IdRestaurant)
                </label>
                @Html.DropDownListFor(model => Filter.IdRestaurant, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionGenericViewModel().Restaurants, "", new { @style = "width:320px" })
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(filter => Filter.Description)
                </label>
                @Html.TextBoxFor(filter => Filter.Description)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Disabled, "false") Ativo
                @Html.RadioButtonFor(filter => Filter.Disabled, "true") Inativo
            </li>
            <li>
                @{
    Html.RenderPartial("FilterButtonsUserControl", "SalesPromotionGenericFormSearchId");
                }
            </li>
        </ol>

    </fieldset>

}

<div id="tabs-nohdr">

    <ul>
        @if (User.IsInRole(UserPermission.MenuDishSalesPromotionList))
        {
            <li><a href="#promo_gift">Desconto no Acompanhamento</a></li>
        }
        @if (User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountList))
        {
            <li><a href="#promo_day">Desconto do Dia</a></li>
        }
        @if (User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleList))
        {
            <li><a href="#promo_double">Desconto por Tipo de Prato</a></li>
        }
    </ul>
    @if (User.IsInRole(UserPermission.MenuDishSalesPromotionList))
    {
        <div id="promo_gift">
            <table class="table-long">
                <thead>
                    <tr>

                        <th>
                            <a href="" rel="idrestaurant" class="orderByLink">
                                Código
                            </a>
                        </th>
                        <th>
                            <a href="" rel="name" class="orderByLink">
                                Loja
                            </a>
                        </th>
                        <th>
                            <a href="" rel="statecode" class="orderByLink">
                                Descrição
                            </a>
                        </th>
                        <th>
                            <a href="" rel="city" class="orderByLink">
                                Tipo Desconto
                            </a>
                        </th>
                        <th>
                            <a href="" rel="neighborhood" class="orderByLink">
                                Valor
                            </a>
                        </th>
                        <th>
                            <a href="" rel="neighborhood" class="orderByLink">
                                Inativo?
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>

                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.SalesPromotions)
                        {
                            <tr>
                                @{
                                    if (ViewBag.Routes.ContainsKey("id"))
                                    {
                                        ViewBag.Routes.Remove("id");
                                    }
                                    ViewBag.Routes.Add("id", item.IdSalesPromotion);
                                }
                                <td>@Html.DisplayFor(modelItem => item.IdSalesPromotion)</td>


                                <td>@Html.DisplayFor(modelItem => item.Restaurant.Name)</td>

                                <td>@Html.DisplayFor(modelItem => item.Description)</td>

                                @{
                                    var discountType = Enum.GetName(typeof(Yum.Delivery.Model.SalesPromotionGenericDomain.SalesPromotionDiscountTypeEnum), item.IdDiscountType);
                                    var enumName = discountType.Equals("Percentage") ? "Porcentagem de Desconto" : "Valor Final";
                                    var discountVal = discountType.Equals("Percentage") ?
                                        String.Format("{0:0.00}", (item.DiscountValue * 100)) + "%" :
                                        "R$" + String.Format("{0:0.00}", item.DiscountValue);
                                }
                                <td>@enumName</td>

                                <td>@discountVal</td>

                                <td>@Html.DisplayFor(modelItem => item.Disabled)</td>

                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionList))
                                    {
                                        <a href="@Url.Action("Details", "SalesPromotion", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                                    }
                                </td>
                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionEdit))
                                    {
                                        <a href="@Url.Action("Edit", "SalesPromotion", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                                    }
                                </td>
                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDelete))
                                    {
                                        <a href="@Url.Action("Delete", "SalesPromotion", ViewBag.Routes)" title="Remover" class="table-delete-link"></a>
                                    }
                                </td>


                            </tr>

                        }
                    }
                </tbody>
            </table>
            @{
        Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
            }
        </div>
    }
    @if (User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountList))
    {
        <div id="promo_day">
            <table class="table-long">
                <thead>
                    <tr>

                        <th>
                            <a href="" rel="idrestaurant" class="orderByLink">
                                Código
                            </a>
                        </th>
                        <th>
                            <a href="" rel="name" class="orderByLink">
                                Loja
                            </a>
                        </th>
                        <th>
                            <a href="" rel="statecode" class="orderByLink">
                                Descrição
                            </a>
                        </th>
                        <th>
                            <a href="" rel="city" class="orderByLink">
                                Tipo Desconto
                            </a>
                        </th>
                        <th>
                            <a href="" rel="neighborhood" class="orderByLink">
                                Valor
                            </a>
                        </th>
                        <th>
                            <a href="" rel="neighborhood" class="orderByLink">
                                Inativo?
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>

                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.SalesPromotionsDiscount)
                        {
                            <tr>
                                @{
                            if (ViewBag.Routes.ContainsKey("id"))
                            {
                                ViewBag.Routes.Remove("id");
                            }
                            ViewBag.Routes.Add("id", item.IdSalesPromotionDiscount);
                                }
                                <td>@Html.DisplayFor(modelItem => item.IdSalesPromotionDiscount)</td>


                                <td>@Html.DisplayFor(modelItem => item.Restaurant.Name)</td>

                                <td>@Html.DisplayFor(modelItem => item.Description)</td>

                                @{
                            var discountType = Enum.GetName(typeof(Yum.Delivery.Model.SalesPromotionGenericDomain.SalesPromotionDiscountTypeEnum), item.IdDiscountType);
                            var enumName = discountType.Equals("Percentage") ? "Porcentagem de Desconto" : "Valor Final";
                            var discountVal = discountType.Equals("Percentage") ?
                                String.Format("{0:0.00}", (item.DiscountValue * 100)) + "%" :
                                "R$" + String.Format("{0:0.00}", item.DiscountValue);
                                }
                                <td>@enumName</td>

                                <td>@discountVal</td>

                                <td>@Html.DisplayFor(modelItem => item.Disabled)</td>

                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDiscountList))
                                    {
                                        <a href="@Url.Action("Details", "SalesPromotionDiscount", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                                    }
                                </td>
                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDiscountEdit))
                                    {
                                        <a href="@Url.Action("Edit", "SalesPromotionDiscount", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                                    }
                                </td>
                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDiscountDelete))
                                    {
                                        <a href="@Url.Action("Delete", "SalesPromotionDiscount", ViewBag.Routes)" title="Remover" class="table-delete-link"></a>
                                    }
                                </td>


                            </tr>

                        }
                    }
                </tbody>
            </table>
            @{
        Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
            }
        </div>
    }
    @if (User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleList))
    {
        <div id="promo_double">
            <table class="table-long">
                <thead>
                    <tr>

                        <th>
                            <a href="" rel="idrestaurant" class="orderByLink">
                                Código
                            </a>
                        </th>
                        <th>
                            <a href="" rel="name" class="orderByLink">
                                Loja
                            </a>
                        </th>
                        <th>
                            <a href="" rel="statecode" class="orderByLink">
                                Descrição
                            </a>
                        </th>
                        <th>
                            <a href="" rel="city" class="orderByLink">
                                Tipo Desconto
                            </a>
                        </th>
                        <th>
                            <a href="" rel="neighborhood" class="orderByLink">
                                Valor
                            </a>
                        </th>
                        <th>
                            <a href="" rel="neighborhood" class="orderByLink">
                                Inativo?
                            </a>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>

                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model.SalesPromotionsDouble)
                        {
                            <tr>
                                @{
                            if (ViewBag.Routes.ContainsKey("id"))
                            {
                                ViewBag.Routes.Remove("id");
                            }
                            ViewBag.Routes.Add("id", item.IdSalesPromotionDouble);
                                }
                                <td>@Html.DisplayFor(modelItem => item.IdSalesPromotionDouble)</td>


                                <td>@Html.DisplayFor(modelItem => item.Restaurant.Name)</td>

                                <td>@Html.DisplayFor(modelItem => item.Description)</td>

                                @{
                            var discountType = Enum.GetName(typeof(Yum.Delivery.Model.SalesPromotionGenericDomain.SalesPromotionDiscountTypeEnum), item.IdDiscountType);
                            var enumName = discountType.Equals("Percentage") ? "Porcentagem de Desconto" : "Valor Final";
                            var discountVal = discountType.Equals("Percentage") ?
                                String.Format("{0:0.00}", (item.DiscountValue * 100)) + "%" :
                                "R$" + String.Format("{0:0.00}", item.DiscountValue);
                                }
                                <td>@enumName</td>

                                <td>@discountVal</td>

                                <td>@Html.DisplayFor(modelItem => item.Disabled)</td>

                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDoubleList))
                                    {
                                        <a href="@Url.Action("Details", "SalesPromotionDouble",  ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                                    }
                                </td>
                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDoubleEdit))
                                    {
                                        <a href="@Url.Action("Edit", "SalesPromotionDouble", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                                    }
                                </td>
                                <td class="table-comand">
                                    @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDoubleDelete))
                                    {
                                        <a href="@Url.Action("Delete", "SalesPromotionDouble",  ViewBag.Routes)" title="Remover" class="table-delete-link"></a>
                                    }
                                </td>


                            </tr>

                        }
                    }
                </tbody>
            </table>
            @{
        Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
            }
        </div>
    }
</div>
