﻿<script>
    $(document).ready(function () {
        $("input:radio").on("click", function () {
            var radioValue = this.value;
            $('.buttonPromotion').attr("href", radioValue);
        });

        $('.buttonPromotion').on("click", function (e) {
            e.preventDefault();
            var checked = $('input[name=PromotionType]:checked');

            if(checked.length == 0){
                $("#buttonPromotionError").show();

                setTimeout(function () {
                    $("#buttonPromotionError").hide();
                }, 3000)
            }
            else {
                location.href = $('.buttonPromotion').attr("href");
            }
        });
    });
</script>
<fieldset>
    <ol>
        <li>
            <span class="display-field" style="width: 100%; padding: 0 0 0 10px; ">
                Escolha o tipo de promoção que deseja cadastrar e clique no botão "Continuar":
            </span>
        </li>
        @if (User.IsInRole(UserPermission.MenuDishSalesPromotionList))
        {
            <li>
                <span class="display-field" style="font-weight:bolder;">
                    <label>@Html.RadioButton("PromotionType", @Url.Action("Create", "SalesPromotion"))Desconto no Acompanhamento</label>
                </span>
                <span class="display-field" style="width: 100%; padding: 0 0 0 10px; ">
                    Este tipo de promoção permite conceder um brinde ou um desconto na compra de um segundo produto, condicionado à compra de outro produto.
                </span>
            </li>
        }
        @if (User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountList))
        {
            <li>
                <span class="display-field" style="font-weight: bolder;">
                    <label>@Html.RadioButton("PromotionType", @Url.Action("Create", "SalesPromotionDiscount"))Desconto do Dia</label>
                </span>
                <span class="display-field" style="width: 100%; padding: 0 0 0 10px; ">
                    Este tipo de promoção permite aplicar um desconto ao valor original dos pratos diretamente no menu. Com este tipo, podem ser configuradas promoções como Pizza Grande Pepperoni com 50% de desconto ou Pizza Grande Pepperoni por R$ 25,00.
                </span>
            </li>
        }
        @if (User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleList))
        {
            <li>
                <span class="display-field" style="font-weight:bolder;">
                    <label>@Html.RadioButton("PromotionType", @Url.Action("Create", "SalesPromotionDouble"))Desconto por Tipo de Prato</label>
                </span>
                <span class="display-field" style="width: 100%; padding: 0 0 0 10px; ">
                    Este tipo de promoção permite conceder desconto ao comprar determinados pratos, por exemplo: Ao comprar duas Pizzas Grande Pan, ambas saem com 50% de desconto ou a segunda sai por R$ 15,00.
                </span>
            </li>
        }
    </ol>
</fieldset>
<div style="padding-top: 20px;">
    <a id="buttonPromotion" class="buttonPromotion" href="" style="text-decoration:none;padding-bottom: 3px">Continuar</a>
    <span id="buttonPromotionError" class="field-validation-error" data-valmsg-for="buttonPromotion" data-valmsg-replace="true" style="display:none">
        <span for="buttonPromotion" class="">
            Favor selecionar ao menos um tipo de promoção.
        </span>
    </span>
</div>