﻿@using SmartFramework.Areas.EnumsAndConsts

@{
    ViewBag.Title = "Autorização MOIP";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/skin/moipAuthorization-css")

<div class="authorization-message">@ViewBag.ResultMessageAuthorization</div>
<div class="authorization-message"><span class="message-title">Código Autorização: </span>@ViewBag.AuthorizationCode</div>
<div class="authorization-message"><span class="message-title">Data da Autorização: </span>@ViewBag.AuthorizationDate</div>
<div class="authorization-message">@ViewBag.ResultMessageOAuth</div>
@if (ViewBag.ShowOAuthInfo)
{
    <div class="authorization-message"><span class="message-title">Token OAuth de Autorização: </span>@ViewBag.OAuthToken</div>
    <div class="authorization-message"><span class="message-title">Data da Geração: </span>@ViewBag.OAuthDate</div>
    <div class="authorization-message"><span class="message-title">Data de Expiralçao do Token: </span>@ViewBag.OAuthExpirationDate</div>
}
