﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.KMLDetailsViewModel
<fieldset class="details">
    <h2 class="details-title">Informações da Área de Entrega</h2>
    <div></div>
    <hr />
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdPolygonArea)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IdPolygonArea)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.RestaurantName)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.RestaurantName)
        </span>
    </div>
    @if (Model.IdKMLFile.HasValue)
    {
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
        ViewBag.Routes.Add("id", Model.IdKMLFile);
        <div>
            <span class="display-label">@Html.LabelFor(model => model.KMLFileName)</span>
            <span class="display-field">
                <a class="button" href="@Url.Action("Download", "KML", ViewBag.Routes as RouteValueDictionary)">@Model.KMLFileName</a>
            </span>
        </div>
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
        ViewBag.Routes.Add("id", Model.IdPolygonArea);
    }
    <div>
        <span class="display-label">@Html.LabelFor(model => model.PolygonName)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.PolygonName)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.RestaurantDeliveryFeeByPolygonAreaList)</span>
        <span class="display-field">
            <table>
                <tbody>
                    @{
                        var y = 0;

                        foreach (var item in Model.RestaurantDeliveryFeeByPolygonAreaList)
                        {

                            <tr>
                                <td>
                                    <span class="field-title">
                                        @Html.Label("De:")
                                    </span>
                                </td>
                                <td>
                                    @Html.CheckBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].Selected", item.Selected, new { @value = y, @disabled = "disabled", @data_check = "0" })

                                    @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ValueFrom", item.ValueFrom.HasValue ? item.ValueFrom : 0, new { @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" }) a

                                    @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ToValue", item.ToValue, new { @readonly = "readonly", @style = "width:40px", @class = "numerico taxa0 entrega" })

                                    @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", item.FeeValue, "{0:N}", new { @readonly = "readonly", @style = "width:60px", @class = "entrega interval-value" })
                                    Cód Integra: @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].IntegrationCode", item.IntegrationCode, "{0:N}", new { @readonly = "readonly", @style = "width:80px", @class = "entrega" })

                                </td>
                            </tr>
                            y++;
                        }
                    }
                </tbody>
            </table>
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.ApplyDeliberyFeeWeb)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ApplyDeliberyFeeWeb)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.ApplyDeliberyFeeApp)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ApplyDeliberyFeeApp)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.ApplyDeliberyFeeCallCenter)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ApplyDeliberyFeeCallCenter)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IncludeOrderDeliveryFee)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IncludeOrderDeliveryFee)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.SeparateDeliveryFeeMessage)</span>
        <span class="display-field">
            @if (!Model.IncludeOrderDeliveryFee)
            {
                @Html.DisplayFor(model => model.SeparateDeliveryFeeMessage)
            }            
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.EstimatedTime)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.EstimatedTime)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Disabled)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Coordinates)</span>
        <span class="display-field">
            @Html.TextAreaFor(model => model.Coordinates, new { @disabled = "disabeld", @cols = 80, @rows = 10 })
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Created)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Created)
        </span>
    </div>
</fieldset>