﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.KMLDetailsViewModel

@{
    ViewBag.Title = "Detalhes da Área de Entrega";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_Details", Model);}

<p>
   @if (Roles.IsUserInRole(UserPermission.KMLEdit))
    {
       <a class="button" href="@Url.Action("Edit", "KML", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a> 
    }
    <a class="button" href="@Url.Action("Index", "KML", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>


