﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.KMLEditViewModel

@{
    ViewBag.Title = "Edição da Área de Entrega";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/View/KML/kml-edit.js")"></script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "KMLEditForm");
    htmlAttributes.Add("class", "middle-forms");
}
@using (Html.BeginForm("Edit", "KML", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <h3>Edição da Área de Entrega</h3>
        <hr />
        @Html.HiddenFor(model => model.IdPolygonArea)
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdPolygonArea)
                </label>
                @Html.DisplayFor(model => model.IdPolygonArea)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.RestaurantName)
                </label>
                @Html.DisplayFor(model => model.RestaurantName)
                <span class="clearFix">&nbsp;</span>
            </li>
            @if (Model.IdKMLFile.HasValue)
            {
                <li>
                    <label class="field-title">
                        @Html.LabelFor(model => model.KMLFileName)
                    </label>
                    @Html.DisplayFor(model => model.KMLFileName)
                    <span class="clearFix">&nbsp;</span>
                </li>
            }
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PolygonName)
                </label>
                @Html.DisplayFor(model => model.PolygonName)
                <span class="clearFix">&nbsp;</span>
            </li>
            @{var x = 1;
                var y = 0;
                var s = 0;
            }
            <li>
                <label class="field-title">
                    @Html.Label("Taxa de Entrega")
                </label>
                @if (User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantConfig))
                {
                    <div class="">
                        <table>
                            <tbody>
                                @if (Model.RestaurantDeliveryFeeByPolygonAreaList == null)
                                {
                                    Model.RestaurantDeliveryFeeByPolygonAreaList = new List<Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantDeliveryFeeByPolygonAreaViewModel>();
                                }

                                @foreach (var feeRange in Model.RestaurantDeliveryFeeByPolygonAreaList)
                                {

                                    <tr id="@("range"+x)">
                                        <td>
                                            <span class="field-title">
                                                @if (y != 2)
                                                {
                                                    @Html.Label("De:")<br />
                                                }
                                                else
                                                {
                                                    @Html.Label("Apartir de:")<br />
                                                }
                                            </span>
                                        </td>

                                        <td>
                                            @if (feeRange.Selected)
                                            {
                                                <input type="checkbox" name="RestaurantDeliveryFeeByPolygonAreaList[@y].Selected" class="taxaSelected" data_check="@y" checked />
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="RestaurantDeliveryFeeByPolygonAreaList[@y].Selected" class="taxaSelected" data_check="@y" checked />
                                            }


                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ValueFrom", feeRange.ValueFrom.HasValue ? feeRange.ValueFrom : 0, new { @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" })

                                            @if (y != 2)
                                            {
                                                <text>a</text> @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ToValue", feeRange.ToValue, new { @style = "width:40px", @class = "numerico entrega taxa" + s })

                                                @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", feeRange.FeeValue, "{0:N}", new { @style = "width:60px", @class = "entrega interval-value" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", feeRange.FeeValue, "{0:N}", new { @style = "width:60px; margin-left:60px", @class = "entrega interval-value" })
                                            }
                                            Cód Integra:@Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].IntegrationCode", feeRange.IntegrationCode, "{0:N}", new { @style = "width:80px", @class = "entrega" })
                                        </td>
                                    </tr>
                                    x++;
                                    y++;
                                    s = 1;
                                }

                                @if (Model.RestaurantDeliveryFeeByPolygonAreaList.Count == 1)
                                {

                                    <tr id="@("range"+x)">
                                        <td>
                                            <span class="field-title">
                                                @Html.Label("De:")<br />
                                            </span>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="RestaurantDeliveryFeeRangeList[@y].Selected" class="taxaSelected" data_check="@y" />

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ValueFrom", "", new { @disabled = "disabled", @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" }) a

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ToValue", "", new { @disabled = "disabled", @style = "width:40px", @class = "numerico taxa1 entrega" })

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px", @class = "entrega interval-value" })
                                            Cód Integra: @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })
                                        </td>
                                    </tr>


                                    x++;
                                    y++;

                                    <tr id="@("range"+x)">
                                        <td>
                                            <span class="field-title">
                                                @Html.Label("Apartir de:")<br />
                                            </span>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="RestaurantDeliveryFeeRangeList[@y].Selected" class="taxaSelected" data_check="@y" />

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ValueFrom", "", new { @disabled = "disabled", @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" })
                                            a
                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px; margin-left:49px", @class = "entrega interval-value" })
                                            Cód Integra: @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })
                                        </td>
                                    </tr>

                                    x++;
                                    y++;
                                }
                                else if (Model.RestaurantDeliveryFeeByPolygonAreaList.Count == 2)
                                {
                                    <tr id="@("range"+x)">
                                        <td>
                                            <span class="field-title">
                                                @Html.Label("Apartir de:")<br />
                                            </span>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="RestaurantDeliveryFeeByPolygonAreaList[@y].Selected" class="taxaSelected" data_check="@y" />

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ValueFrom", "", new { @disabled = "disabled", @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" })


                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px; margin-left:59px", @class = "entrega interval-value" })
                                            Cód Integra: @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })
                                        </td>
                                    </tr>

                                    x++;
                                    y++;
                                }
                                else if (Model.RestaurantDeliveryFeeByPolygonAreaList.Count == 0)
                                {
                                    <tr id="@("range"+x)">
                                        <td>
                                            <span class="field-title">
                                                @Html.Label("De:")<br />
                                            </span>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="RestaurantDeliveryFeeRangeList[@y].Selected" class="taxaSelected" data_check="@y" />

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ValueFrom", "0", new { @disabled = "disabled", @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" })
                                            a
                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ToValue", "", new { @disabled = "disabled", @style = "width:40px", @class = "numerico taxa0 entrega" })

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px", @class = "entrega interval-value" })
                                            Cód Integra: @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })
                                        </td>
                                    </tr>


                                    x++;
                                    y++;


                                    <tr id="@("range"+x)">
                                        <td>
                                            <span class="field-title">
                                                @Html.Label("De:")<br />
                                            </span>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="RestaurantDeliveryFeeRangeList[@y].Selected" class="taxaSelected" data_check="@y" />

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ValueFrom", "", new { @disabled = "disabled", @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" })
                                            a
                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ToValue", "", new { @disabled = "disabled", @style = "width:40px", @class = "numerico taxa1 entrega" })

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px", @class = "entrega interval-value" })
                                            Cód Integra:  @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })
                                        </td>

                                    </tr>


                                    x++;
                                    y++;

                                    <tr id="@("range"+x)">
                                        <td>
                                            <span class="field-title">
                                                @Html.Label("Apartir de:")<br />
                                            </span>
                                        </td>
                                        <td>
                                            <input type="checkbox" name="RestaurantDeliveryFeeRangeList[@y].Selected" class="taxaSelected" data_check="@y" />

                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].ValueFrom", "", new { @disabled = "disabled", @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" }) a


                                            @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].FeeValue", "", "{0:N}", new { @disabled = "disabled", @style = "width:60px; margin-left:49px", @class = "entrega interval-value" })
                                            Cód Integra: @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + y + "].IntegrationCode", "", "{0:N}", new { @disabled = "disabled", @style = "width:80px", @class = "entrega" })
                                        </td>
                                    </tr>

                                    x++;
                                    y++;
                                }
                            </tbody>
                        </table>
                    </div>
                    @Html.ValidationMessageFor(model => model.RestaurantDeliveryFeeByPolygonAreaList)
                }
                else
                {
                    <div>
                        <table>
                            <tbody>
                                @{
                                    var z = 0;

                                    foreach (var item in Model.RestaurantDeliveryFeeByPolygonAreaList)
                                    {

                                        <tr>
                                            <td>
                                                <span class="field-title">
                                                    @Html.Label("De:")
                                                </span>
                                            </td>
                                            <td>
                                                @Html.CheckBox("RestaurantDeliveryFeeByPolygonAreaList[" + z + "].Selected", item.Selected, new { @value = z, @disabled = "disabled", @data_check = "0" })

                                                @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + z + "].ValueFrom", item.ValueFrom.HasValue ? item.ValueFrom : 0, new { @readonly = "readonly", @style = "width:40px", @class = "numerico entrega" }) a

                                                @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + z + "].ToValue", item.ToValue, new { @readonly = "readonly", @style = "width:40px", @class = "numerico taxa0 entrega" })

                                                @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + z + "].FeeValue", item.FeeValue, "{0:N}", new { @readonly = "readonly", @style = "width:60px", @class = "entrega interval-value" })
                                                Cód Integra: @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + z + "].IntegrationCode", item.IntegrationCode, "{0:N}", new { @readonly = "readonly", @style = "width:80px", @class = "entrega" })

                                            </td>
                                        </tr>
                                        z++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                                    }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ApplyDeliberyFeeWeb)
                </label>
                @if (User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantConfig))
                {
                    @Html.EditorFor(model => model.ApplyDeliberyFeeWeb)
                    @Html.ValidationMessageFor(model => model.ApplyDeliberyFeeWeb)
                }
                else
                {
                    @Html.DisplayFor(model => model.ApplyDeliberyFeeWeb)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ApplyDeliberyFeeApp)
                </label>
                @if (User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantConfig))
                {
                    @Html.EditorFor(model => model.ApplyDeliberyFeeApp)
                    @Html.ValidationMessageFor(model => model.ApplyDeliberyFeeApp)
                }
                else
                {
                    @Html.DisplayFor(model => model.ApplyDeliberyFeeApp)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ApplyDeliberyFeeCallCenter)
                </label>
                @if (User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantConfig))
                {
                    @Html.EditorFor(model => model.ApplyDeliberyFeeCallCenter)
                    @Html.ValidationMessageFor(model => model.ApplyDeliberyFeeCallCenter)
                }
                else
                {
                    @Html.DisplayFor(model => model.ApplyDeliberyFeeCallCenter)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IncludeOrderDeliveryFee)
                </label>
                @if (User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantConfig))
                {
                    @Html.EditorFor(model => model.IncludeOrderDeliveryFee)
                    @Html.ValidationMessageFor(model => model.IncludeOrderDeliveryFee)
                }
                else
                {
                    @Html.DisplayFor(model => model.IncludeOrderDeliveryFee)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.SeparateDeliveryFeeMessage)
                </label>
                @if (User.IsInRole(UserPermission.RestaurantEdit) || User.IsInRole(UserPermission.RestaurantConfig))
                {
                    @Html.TextAreaFor(model => model.SeparateDeliveryFeeMessage)
                    <br />
                    <span style="color: red;" id="alertSeparateDeliveryFeeMessage">*Utilize a tag {taxa} para apresentar o valor da taxa de entrega</span>
                    @Html.ValidationMessageFor(model => model.SeparateDeliveryFeeMessage)
                }
                else
                {
                    @Html.DisplayFor(model => model.SeparateDeliveryFeeMessage)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.EstimatedTime)
                    <label>(hh:mm)</label>
                </label>
                @Html.TextBoxFor(model => model.EstimatedTime, new { @style = "width:120px", @class = "tempo" })
                @Html.ValidationMessageFor(model => model.EstimatedTime)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>
                @Html.CheckBoxFor(model => model.Disabled)
                @Html.ValidationMessageFor(model => model.Disabled)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Coordinates)
                </label>
                @Html.TextAreaFor(model => model.Coordinates, new { @disabled = "disabeld", @cols = 80, @rows = 10 })
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Created)
                </label>
                @Html.DisplayFor(model => model.Created)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", "KML", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}
