﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.KMLImportViewModel

@{
    ViewBag.Title = "Importar Dados KML";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("id", "KMLImport");
    htmlDicitionary.Add("class", "middle-forms");
}

@using (Html.BeginForm("Import", "KML", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => Model.IdRestaurant)
    @Html.HiddenFor(model => Model.IdKMLFile)
    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => Model.RestaurantName)
                </label>
                @Html.DisplayFor(model => Model.RestaurantName)<br />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => Model.FileName)
                </label>
                @Html.DisplayFor(model => Model.FileName)<br />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => Model.ImportStatus)
                </label>
                @Html.EnumDropDownListFor(model => Model.ImportStatus)<br />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    Áreas de Entrega
                </label>
                <table id="PlacemarksTable"class="table-long">
                    <thead>
                        <tr>
                            <th>Importar?</th>
                            <th>Área de Entrega</th>
                            <th>Tempo de Entrega (hh:mm)</th>
                            <th>Taxa de Entrega</th>
                            <th>Código Integração:</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            for (int index = 0; index < Model.Placemarks.Count(); index++)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" name="PlacemarksToImport" id="PlacemarksToImport_@Model.Placemarks[index].IdKMLFilePlacemark" value="@Model.Placemarks[index].IdKMLFilePlacemark" checked="checked" />
                                        <span class="clearFix">&nbsp;</span>
                                    </td>
                                    <td>
                                        <label for="PlacemarksToImport_@Model.Placemarks[index].IdKMLFilePlacemark">
                                            @Html.DisplayFor(model => model.Placemarks[index].Name)
                                        </label>
                                        <span class="clearFix">&nbsp;</span>
                                    </td>
                                    <td>
                                        @Html.TextBox("AllPlacemarks[" + index + "].EstimatedTime", Model.Placemarks[index].EstimatedTime, new { @style = "width:120px", @class = "tempo" })
                                        @Html.ValidationMessageFor(model => model.Placemarks[index].EstimatedTime)
                                        @Html.Hidden("AllPlacemarks[" + index + "].IdKMLFilePlacemark", Model.Placemarks[index].IdKMLFilePlacemark)
                                        @Html.Hidden("AllPlacemarks[" + index + "].Name", Model.Placemarks[index].Name)
                                        <span class="clearFix">&nbsp;</span>
                                    </td>
                                    <td>
                                        @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + index + "].FeeValue", "", "{0:N}", new { @style = "width:60px", @class = "entrega interval-value" })
                                        @Html.ValidationMessageFor(model => model.RestaurantDeliveryFeeByPolygonAreaList)
                                    </td>
                                    <td>
                                        @Html.TextBox("RestaurantDeliveryFeeByPolygonAreaList[" + index + "].IntegrationCode", "", "{0:N}", new {@style = "width:80px", @class = "entrega" })
                                        @Html.ValidationMessageFor(model => model.RestaurantDeliveryFeeByPolygonAreaList)
                                    </td>
                                </tr>        
                            }
                        }
                    </tbody>
                </table><br />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}
