﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.KMLImportListViewModel>

@{
    ViewBag.Title = "Lista de Áreas de Entrega";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.KMLCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Upload", "KML")">&nbsp;Enviar Arquivo KML</a>
    }
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "KMLFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "KML", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    PolygonAreaRestaurantFilter Filter = null;
    if (ViewBag.Filters != null)
    {
        Filter = (PolygonAreaRestaurantFilter)ViewBag.Filters;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Loja
                </label>
                @Html.DropDownList("Filter.IdRestaurant", (List<SelectListItem>)ViewBag.Restaurants, "")
            </li>
            <li>
                <label class="field-title">
                    Nome da Área de Entrega:
                </label>
                @Html.TextBoxFor(filter => Filter.Name)
            </li>
            <li>
                <label class="field-title">
                    Status
                </label>
                @Html.RadioButtonFor(filter => Filter.Status, "Ativo") Ativo
                @Html.RadioButtonFor(filter => Filter.Status, "Inativo") Inativo
            </li>
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "KMLFormSearchId");
                }
            </li>
        </ol>

    </fieldset>
}

<table class="table-long">
    <thead>
        <tr>
            <th>
                <a href="" rel="IdRestaurant_PolygonArea" class="orderByLink">
                    Código
                </a>
            </th>
            <th>
                <a href="" rel="RestaurantInfo.Name" class="orderByLink">
                    Loja
                </a>
            </th>
            <th>
                <a href="" rel="PolygonAreaInfo.Name" class="orderByLink">
                    Nome da Área de Entrega
                </a>
            </th>
            <th>
                <a href="" rel="EstimatedTime" class="orderByLink">
                    Tempo de Entrega
                </a>
            </th>
            <th>
                <a href="" rel="Disabled" class="orderByLink">
                    Inativo?
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    @{
                if (ViewBag.Routes.ContainsKey("id"))
                {
                    ViewBag.Routes.Remove("id");
                }
                ViewBag.Routes.Add("id", item.IdPolygonArea);
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPolygonArea)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RestaurantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlaceMarkName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Disabled)
                    </td>
                    <td class="table-comand">
                        <a href="@Url.Action("Details",  ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.KMLEdit))
                        {
                            <a href="@Url.Action("Edit",  ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}

