﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.KMLUploadViewModel

@{
	ViewBag.Title = "Enviar Arquivo KML";
	Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}


@if (TempData[TempDataNames.SuccessMessage] != null)
{
	<div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
	<div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
	Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
	htmlAttributes.Add("class", "middle-forms");
	htmlAttributes.Add("enctype", "multipart/form-data");
}

<div id="divDetails" class="box"></div>

@using (Html.BeginForm("Upload", "KML", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
	@Html.ValidationSummary(true)
	<fieldset>
		<ol>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.IdRestaurant)
				</label>
				@Html.DropDownListFor(model => model.IdRestaurant, (List<SelectListItem>)ViewBag.Restaurants, "")
				@Html.ValidationMessageFor(model => model.IdRestaurant)
				<span class="clearFix">&nbsp;</span>
			</li>

			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.KMLFile)
				</label>
				@Html.TextBoxFor(m => m.KMLFile, new { type = "file" })
				@Html.ValidationMessageFor(model => model.KMLFile)
			</li>
			<li>
				<input type="submit" value="Enviar KML" />
				<a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
				<span class="clearFix">&nbsp;</span>
			</li>
		</ol>

	</fieldset>
}