﻿@model FindCustomerViewModel

@using (Html.BeginForm("FindCustomer", "Customer", FormMethod.Post, new { @id = "FindCustomerForm" }))
{
	<div id="findCustomerDiv">
		<h3 class="text-center">Encontre o Cliente</h3>
		<div class="row">
			<div class="small-12 large-12 columns medium-12">
				<div class="row">
					<div class="small-12 columns large-12">
						<label style="color:white">
							@Html.LabelFor(model => model.PhoneNumber, new { @style = "color:white" })
						</label>
						@Html.TextBoxFor(model => model.PhoneNumber, new { @placeholder = "(xx) xxxx-xxxx", @class = "phone" })
						@Html.ValidationMessageFor(model => model.PhoneNumber)
					</div>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-12 columns medium-12">
				<div class="row">
					<div class="small-12 columns large-12">
						<label style="color:white">
							@Html.LabelFor(model => model.Email, new { @style = "color:white" })
						</label>
						@Html.TextBoxFor(model => model.Email)
						@Html.ValidationMessageFor(model => model.Email)
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 large-12 columns medium-12">
				<div class="row">
					<div class="small-12 columns large-12">
						<label style="color:white">
							@Html.LabelFor(model => model.DocumentNumber, new { @style = "color:white" })
						</label>
						@Html.TextBoxFor(model => model.DocumentNumber, new { @class = "cpf" })
						@Html.ValidationMessageFor(model => model.DocumentNumber)
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns medium-6 medium-offset-6 large-5 large-offset-7 text-right">
				<a href="#" class="button redButton" id="findCustomerBtn" style="margin-bottom:0;">BUSCAR CLIENTE</a>
			</div>
		</div>
	</div>
}
