﻿<div class="row" id="zipCodeSearchDiv">
    <div class="large-12 columns">
        <p>ou informe o CEP</p>

        <div class="row collapse">
            <div class="small-7 columns">
                <input type="text" placeholder="CEP" id="zipCode" class="numeric cep" value="@ViewBag.ZipCode">
            </div>
            <div class="small-5 columns">
                <a href="@Url.Action("GetAddressByZipCode", "Customer")" class="button radius postfix findAddressDisabled" id="FindAddress">BUSCAR</a>
            </div>
        </div>
    </div>
</div>
