﻿@model GetHomeDataResponseViewModel

@{
    var actionLink = Model != null && Model.RestaurantUniqueName.NullOrEmpty() ? "store-selector/index.html#startYourOrder" : Url.Action("Index", "Menu");
    var sessionCustomer = (Yum.Delivery.Model.CustomerDomain.CustomerInfo)Session["CustomerInfo"];
    var isCallCenterServer = DartDigital.Core.Configuration.AppConfiguration.Settings.EnvironmentSettings.GetSettingValueAsBoolean("isCallCenterServer");

    string paddingTop = "";
    if (!isCallCenterServer) {
        paddingTop = "padding-top: 0px;";
    }
}

<div class="row" id="newHome">
    <div class="small-12 large-6 medium-6 small-centered columns resizePanelBox" id="addressSearchDiv" style="@paddingTop">
        <div class="cepSearch panel">
            @if (sessionCustomer == null || !sessionCustomer.CallCenterUser)
            {
                <h3 class="text-center"> Onde você quer a sua pizza? </h3>

                <a class="button radius small expand fullWidthButtons" id="useLocation"> USAR MINHA LOCALIZAÇÃO</a>
            }
            else
            {
                Html.RenderPartial("_FindCustomer", new FindCustomerViewModel());
            }

            @Html.Partial("_ZipCodeSearch")

            @if (sessionCustomer != null && !sessionCustomer.CallCenterUser)
            {
                <div class="row">&nbsp;</div>
                
                <p> ou escolha um de seus endereços </p>

                <a class="button radius small expand fullWidthButtons" href='@Url.Action("GetCurrentCustomerAddressList", "Customer")' id="myAddressListBtn"> MEUS ENDEREÇOS </a>
            }
            else
            {
            <div class="row">&nbsp;</div>
            }
            
            @if (!isCallCenterServer && ((sessionCustomer != null && !sessionCustomer.CallCenterUser) || sessionCustomer == null))
            {
                <hr />
                <a href="https://institucional.pizzahut.com.br/restaurantes.asp" target="_blank" class="button radius small expand fullWidthButtons" id="restaurant-list">VEJA NOSSAS LOJAS!</a>
            }
        </div>
    </div>
</div>

@section Scripts{
<script>   
    $(document).ready(function () {
        updateNewHomeHeight();

		$(window).resize(function () {
			updateNewHomeHeight();
		});

		var SPMaskBehavior = function (val) {
			return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
		},
        spOptions = {
        	clearIfNotMatch: true,
        	onKeyPress: function (val, e, field, options) {
        		field.mask(SPMaskBehavior.apply({}, arguments), options);
        	}
        };

		$('.phone').mask(SPMaskBehavior, spOptions);
		$('.cpf').mask('000.000.000-00', { reverse: true });

		if ($('#zipCode').val().length == 8) {
			$('#FindAddress').removeClass('findAddressDisabled');
		}

		$('#zipCode').focus();

		$('#FindAddress').on('click', function (event) {
			event.preventDefault();

			var zipCode = $('#zipCode').val();

			postZipCodeSearch(zipCode, true);
		});

		$('#myAddressListBtn').bind('click', function (event) {
					$("#loadingToGoOrDelivery").hide();
					$("#startedToGoOrDelivery").val('');
			putLoadingGif($(this));
		});

		
		$('#addressSearchDiv').on('click', '#findCustomerBtn', function (event) {
			putLoadingGif($(this));

			try {
				var phoneNumber = $('#PhoneNumber').val();
				var email = $('#Email').val();
				var documentNumber = $('#DocumentNumber').val();

				if (phoneNumber == '' && email == '' && documentNumber == '') {
				    event.preventDefault();

				    resetFindCustomerBtn();

					showMessage('É obrigatório o preenchimento de um parâmetro para busca.');
				}
				else if ($('#Email').hasClass('input-validation-error') || $('#DocumentNumber').hasClass('input-validation-error')) {
				    event.preventDefault();

					resetFindCustomerBtn();
				}
				else {
				    var $findCustomerForm = $('#FindCustomerForm');
				    $findCustomerForm.submit();
				}
			} catch (err) {
				resetFindCustomerBtn();
			}
		});

		$('#zipCode').keyup(function (e) {
			var $findAddressBtn = $('#addressSearchDiv #FindAddress');
			var zipCode = $(this).val();

			zipCodeKeyUp(e, zipCode, $findAddressBtn);
		});

		$('#findCustomerDiv').on('keyup', '#PhoneNumber', function (event) {
			event.preventDefault();
			customerSearchKeyUp(event.which);
		});

		$('#findCustomerDiv').on('keyup', '#Email', function (event) {
			event.preventDefault();
			customerSearchKeyUp(event.which);
		});

		$('#findCustomerDiv').on('keyup', '#DocumentNumber', function (event) {
			event.preventDefault();
			customerSearchKeyUp(event.which);
		});
	});

	function customerSearchKeyUp(key) {
		var $findCustomerBtn = $('#findCustomerDiv #findCustomerBtn');

		if (key == 13) {
			$findCustomerBtn.click();
		}
	}
	
    function resetOrderNowBtn() {
        $('#customerOrderNowIndexBtn').empty();
        $('#customerOrderNowIndexBtn').text("PEÇA JÁ");
    }

    function resetMyAddressListBtn() {
        $('#myAddressListBtn').empty();
        $('#myAddressListBtn').text("MEUS ENDEREÇOS");
    }
 
    function resetFindCustomerBtn() {
        $('#findCustomerBtn').empty();
        $('#findCustomerBtn').text("BUSCAR CLIENTE");
    }
</script>
}