﻿@model List<Yum.Delivery.FrontEnd.Models.AddressDataViewModel>

<div class="row" id="newHome">
    <div id="customerAddressResults" class="small-12 large-7 medium-10 small-centered columns resizePanelBox" style="">
        <div class="carryoutAddresses panel">
            <h3 class="text-center">Confirme seu endereço</h3>

            <span id="latitudeInfo" style="display:none;">@ViewBag.Latitude</span>
            <span id="longitudeInfo" style="display:none">@ViewBag.Longitude</span>

            @foreach (var address in Model)
            { 
                <div class="row addressItem collapse">
                    <div class="small-12 column">
                        <div class="row collapse">
                            <div class="small-12 column buttonContainer">
                                <label>@address.CompleteAddress</label>
                                <p><span class="neighborhoodInfo">@address.Neighborhood</span></p>
                                <p><span class="zipCodeInfo">@address.ZipCode</span></p>
                                <span class="addressInfo" style="display:none">@address.Address</span>
                                <span class="cityInfo" style="display:none">@address.City</span>
                                <span class="stateInfo" style="display:none">@address.StateCode</span>
                                <input type="hidden" class="cepIsAttended" value="@address.IsAttended.ToString()" />
                            </div>
                        </div>
                        <div class="row collapse">
                            <div class="small-12 column buttonContainer">
                                <a href="#" class="button redButton selectAddressBtn">Selecionar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="fancy-separator">
            }
            
            <div class="row">
                <div class="small-4 columns text-left backContainer">
                    <a href='#' id="backToAddressSearchDiv" class="button greyButton">VOLTAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            updateNewHomeHeight(true);

            $('#backToAddressSearchDiv').click(function (event) {
                putLoadingGif($(this));

                goBack();
            });

            $('#customerAddressResults').on('click', '.selectAddressBtn', function (event) {

                var $addressItem = $(this).closest('.addressItem');
                
                var isAttended = $addressItem.find('.cepIsAttended').val();

                if ('@ViewBag.RedirectCepNotAttended' == 'True' && isAttended != 'True') {
                    showMessage("Nenhum restaurante que atende a sua localização foi encontrado para pedidos online.");
                    return;
                }

                putLoadingGif($(this));

                var neighborhoodInfo = ($addressItem.find('.neighborhoodInfo').text() == '' || $addressItem.find('.neighborhoodInfo').text() == null) ? 'null' : $addressItem.find('.neighborhoodInfo').text();
                var zipCodeInfo = $addressItem.find('.zipCodeInfo').text();
                var addressInfo = ($addressItem.find('.addressInfo').text() == '' || $addressItem.find('.addressInfo').text() == null) ? 'null' : $addressItem.find('.addressInfo').text();
                var cityInfo = $addressItem.find('.cityInfo').text();
                var stateInfo = $addressItem.find('.stateInfo').text();
                var latitudeInfo = $('#latitudeInfo').text();
                var longitudeInfo = $('#longitudeInfo').text();

                var formInfo = {
                    neighborhoodInfo: neighborhoodInfo,
                    zipCodeInfo: zipCodeInfo,
                    addressInfo: addressInfo,
                    cityInfo: cityInfo,
                    stateInfo: stateInfo,
                    latitudeInfo: latitudeInfo,
                    longitudeInfo: longitudeInfo
                };

                var $form = createCompleteAddressForm(formInfo);

                $('body').append($form);
                $form.submit();
            });
        });
</script>   
}