﻿
.submit-button {
    color: #fff;
    background: url(images/bg-buttons-submit.gif) repeat-x;
    border-radius: 5px;
    padding: 0 15px 0 15px;
    height: 21px;
    font-weight: bold;
    border: 1px solid #dedede;
    margin: 20px;
}

.submit-button:hover {
    color: #333;
    cursor: pointer;
}
