﻿.delivery-control-page p.title {
    text-align: center;
    font-size: 20px;
    margin-top: 14px;
    margin-bottom: 14px;
}

.delivery-control-page .text-muted {
    color: #aaa;
}

.delivery-control-page .text-center {
    text-align: center;
}

/* ALERTS */

.alert-success {
    background-color: #dff0d8;
    font-size: 1rem;
    padding: 14px;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 3px;
}

.alert-error {
    background-color: #f2dede;
    font-size: 1rem;
    padding: 14px;
    color: #a94442;
    border: 1px solid #ebccd1;
    border-radius: 3px;
}

/* FIM ALERTS */

/* CARD */
.delivery-control-page .card-column {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.delivery-control-page .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin: 10px;
    /*padding: 10px;*/
    position: relative;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #fff; /* borda necessária para manter a altura correta */
}


.delivery-control-page .card:not(.card-selected):not(.disabled):hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(248, 248, 248);
}

.delivery-control-page .card.card-selected {
    border: 1px solid #27ae60;
    background-color: #F6FDF9;
    box-shadow: none;
}

.delivery-control-page .card p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.delivery-control-page .card > .card-text {
    height: 132px;
    padding: 10px;
}

.delivery-control-page .card .card-icons {
    position: absolute;
    width: 32px;
    right: 10px;
    top: 10px;
}

.delivery-control-page .card.card-cancel {
    
}

.ui-widget-overlay {
    opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
    filter: Alpha(Opacity=50) !important;
    background-color: rgb(50, 50, 50) !important; /* This will make it darker */
}

.delivery-control-page .card.card-cancel .card-footer {
    height: 32px;
}

.delivery-control-page .card.card-cancel.disabled {
    color: #ccc;
    cursor: initial;
}

/* FIM CARD */

/* BUTTONS */

.delivery-control-page .button-container {
    text-align: center;
    clear: both;
    padding-top: 20px;
    overflow: auto;
}

.button-container .button-column {
    float: left;
    width: 50%;
    box-sizing: border-box;
    padding: 0px 10px;
}

.button-container .button-column.expand {
    width: 100%;
}

.delivery-control-page button {
    background-color: #f66055;
    border: none;
    outline: none;
    padding: 16px 10px;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 3px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;   
}

.delivery-control-page button:hover {
    background-color: #f43325
}

.delivery-control-page .btn-secondary {
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
}

.delivery-control-page .btn-secondary:hover {
    background-color: #eee;
}

/* BUTTONS - CARD-CANCEL*/
.delivery-control-page .card-cancel .btn-cancel {
    color: #000;
    padding: 0px;
    border: none;
    height: 32px;
    width: 33.333333%;
    font-size: 0.8rem;
    float: right;
    background-color: #fafafa;
    cursor: pointer;
    min-width: 160px;
}

.delivery-control-page .card-cancel .btn-cancel:hover {
    background-color: #e6e6e6;
}

.delivery-control-page .card-cancel .btn-cancel .icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.delivery-control-page .card-cancel span {
    vertical-align: middle;
}

.delivery-control-page .card-cancel [data-status-message] {
    line-height: 32px;
    color: #888;
    display: none;
}
/* FIM BUTTONS - CARD-CANCEL*/

/* FIM BUTTONS */

/* INDEX */
.delivery-control-page .menu-delivery-control {
    overflow: auto;
}

.delivery-control-page .btn-container {
    width: 50%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}

.delivery-control-page .btn-image {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.delivery-control-page .btn-image:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: rgb(248, 248, 248);
}

.delivery-control-page .btn-image > a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
    width: 100%;
}

.delivery-control-page .btn-image > a > div {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.delivery-control-page .btn-image > a > div > img {
    width: 128px;
    height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* MODAL */

.delivery-control-page .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.delivery-control-page .modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

/* The Close Button */
.delivery-control-page .modal .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.delivery-control-page .modal .close:hover,
.delivery-control-page .modal .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.delivery-control-page .modal .modal-title {
    font-size: 1.5rem;    
}

.delivery-control-page .modal .modal-text {
    font-size: 1rem;
    margin: 20px 0px;
}

.delivery-control-page .modal-footer button {
    padding: 10px 5px;
    width: 30%;
}

/* FIM MODAL */