﻿/*LOADING OVERLAY*/
#loadingOverlay {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.1);
    z-index: 2999;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#loadingOverlay img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    /*opacity:0.35;*/
}