﻿.authorization-result-success, .authorization-result-error {
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    font-size: 20px;
}

.authorization-result-success {
    color: #72a101;
}

.authorization-result-error {
    color: #a10101;
}

.authorization-message {
    text-align: center;
    padding: 0px 100px 0px 100px;
    vertical-align: middle;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 10px;
}

.message-title {
    font-weight: bold;
}
