﻿.left-time-detail {
    float: left !important; 
    margin-right: 5px !important,
}

.right-time-detail {
    float: left !important; 
    margin-left: 5px !important,
}

.time-slider-detail {
    float: left !important;
    margin: 5px 10px 0px 10px !important;
}