﻿
.loadingReportByArea img {
    margin: 0px auto;
    display: block;
}

th.sorting_asc:after {
    content: ' ▲';
}

th.sorting_desc:after {
    content: ' ▼';
}

th.sorting_asc, th.sorting_desc, th.sorting {
    border-bottom-color: #666 !important;
}

.report-table tfoot td{
    border-top-color: #666 !important;
}

.report-table .dataTables_empty {
    height: 71px;
}

#loadingDownload {
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.1);
    z-index: 2999;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#loadingDownload img {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -23px;
    /*opacity:0.35;*/
}