body {font:9pt Helvetica, Arial, Tahoma, sans-serif;	background: url(images/bg-body.gif)	repeat-x #e8e8dd;}
body, html {height:100%}

span.clearFix {width:100%; height:0px; visibility:hidden; clear:both; display:block; margin:0; padding:0; font-size:0px;}
.hidden {display:none;}

fieldset.details > div{float: left; width: 100%;}
fieldset.details > div:nth-child(even){ background: #F5F4EB;}
fieldset.details  div.details-separation{background: transparent;}
fieldset.details  h2.details-title{color:#666; font-size:115%; margin-bottom:10px; }
fieldset.details h3 {font-size:110%;}
fieldset.details div.list-item { margin-bottom:5px; padding-bottom: 5px; }
fieldset.details div.list-item:nth-child(even){ background: #F5F4EB !important;}
div.list-item span.description { width: 100%; font-weight: bold; }
div.list-item table { width:100%; margin-left:5px !important; }
div.list-item table th { font-weight:bold; }
div.list-item span, div.list-item p { margin-left:5px !important; }
.display-label{ margin: 0; font-weight: bold; width: 30%; height: auto; display:inline-block; padding: 10px 0 10px 0; float: left;}
.display-field{ margin: 10px 0 0 0; float: left; width: 69%; }

div.inner-nav {clear:both; margin:10px 0;}
div.inner-nav a , a.button {display:inline-block; background:url(images/bg-buttons-submit.gif)repeat-x; border-radius: 5px; text-decoration:none; padding: 0 15px 0 15px; height: 21px; font-weight: bold; color:#fff; font-size:9pt; cursor: pointer;}

div#paginacao { margin: 10px 10px 0 0; font-size: 11px; width: 100%; height: 25px; color: white; }
div#paginacao span{float: right; }
div#paginacao span a { display:inline-block; text-decoration:none; color:#fff; padding: 4px 9px; background: #ed0000; margin: 0 3px; border-radius: 5px; }
div#paginacao span a:hover {font-weight: bold; background: #a90000;}
div#paginacao span a.selected {font-weight: bold; background: #a90000;}
div.inner-nav a:hover, a.button:hover {color:#333;}

a.button { padding: 3px 15px 0px 15px; height: 17px; }
a.searchButton, input.searchButton {background:url(images/ajax-loader.gif) !important; padding: 0 5px 0 10px !important; height: 18px !important; cursor:wait !important;}
a.add-item {background:url(../add.png) left no-repeat; min-width:15px; min-height:15px; padding-left:15px; text-decoration: none; color: #fff;}
a.close-item {background:url(../close2.png) left no-repeat; min-width:15px; min-height:15px; padding-left:15px; text-decoration: none; color: #fff;}
a.add-link {background:url(images/icon-add.gif) no-repeat; min-width:15px; min-height:15px; padding-left:15px; text-decoration: none; color: #fff;}
a.up-link {background:url(images/up.png) right no-repeat;  min-width:15px; min-height:15px; padding-right:15px; }
a.down-link {background:url(images/down.png) right no-repeat;  min-width:15px; min-height:15px; padding-right:15px; }
a.open-link {background:url(images/icon-open.png) no-repeat; min-width:18px; min-height:18px; padding-left:18px; padding-top:3px; padding-bottom:2px; text-decoration: none; margin-right: 5px;}
a.close-link {background:url(images/icon-close.png) no-repeat; min-width:18px; min-height:18px; padding-left:18px; padding-top:3px; padding-bottom:2px; text-decoration: none; margin-right: 5px;}
a.clean-link {background:url(images/icon-clean.gif) no-repeat; min-width:15px; min-height:15px; padding-left:15px; text-decoration: none; color: #fff;}
a.search-link {background:url(images/icon-search.gif) no-repeat; min-width:15px; min-height:15px; padding-left:15px; text-decoration: none; color: #fff;}
a#add-title { position: absolute; right: 30px; }

.align-left {float:left;}
.align-right {float:right;}

.yellow {color:#e8e4a2;}
.light-blue {color:#a6b7c0;}
.blue {color:#508db8 !important;}
.light-grey {color:#d7d7d7}
.white {color:#fff;}

div#container {width:980px; position:relative; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -81px;}
div#container.container-responsive { width: auto; max-width: 980px; }
.push {height:133px;}

div#header {padding-top:10px;}
div#header h1 {font-size:250%; text-transform:uppercase; letter-spacing:-1px; font-weight:bold; float:left; width:200px; height:39px;}
	div#header h1 a {color:#fff; text-decoration:none;}
	div#header h1 a:hover {color:#ccc;}
	
	p#userbox {float:right; color:#ffffff; background:url(images/icon-greet-user.gif) no-repeat 0px 5px; padding:5px 0px 0px 18px; margin:0;}
	p#userbox a {color:#ffd441; text-decoration:none; font-weight:bold;}
	p#userbox a:hover {color:#fff;}
	p#userbox small {display:block; margin-top:5px; color:#ffffff; font-size:0.9em;}
	
	div#top {margin-bottom:8px;}
	
	ul#menu {width:1000px; float:left;}
	ul#menu li {float:left; height:40px; position:relative}
ul#menu li a {color:#ffffff; text-decoration:none; padding:5px 9px 0px 9px; height:20px; display:inline-block; text-align:center; text-transform:uppercase; font-weight:bold; position:relative;}
	ul#menu li a:hover, ul#menu li:hover a  {color:#508db8; background:#fff; background:url(images/bg-topnav-mask.gif) no-repeat top right;}
	ul#menu li a.top-level {position:relative; padding-right:25px;}
	ul#menu li a.top-level span {background:url(images/bg-toplevel.gif) no-repeat 0px 2px; width:11px; height:8px; display:block; position:absolute; right:10px; top:7px;}
	ul#menu li a.top-level:hover span, .blue span {background-image:url(images/bg-toplevel-hover.png) !important;}
ul#menu li ul {position:absolute; top:24px; min-width:200px !important; left:0px; z-index:999; background:#fff; visibility:hidden; display:none; padding-bottom:10px; border:2px solid #ccc; border-left:none; border-top:none; border-right-width:1px; padding-top:5px; -moz-border-radius-bottomleft:5px;	-moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; -webkit-border-bottom-left-radius:5px;}
		ul#menu li ul li {color:#ed0000; float:none; height:auto; border-bottom:1px dotted #d6d8d9;}
		ul#menu li ul li:hover {background:url(images/bg-submenu-hover.gif) no-repeat;}
ul#menu li ul li a {padding:6px 3px 6px 20px; display:block !important; background:url(images/link-arrow-regular.gif) no-repeat 10px 10px !important; color:#5c6467 !important; text-decoration:none; text-align:left; text-transform:capitalize; height:auto; background-color:none !important; font-weight:normal;}
		ul#menu li ul li a:hover {color:#fff !important; background-image:url(images/submenuhover.gif) !important;}
		ul#menu li.selected a {background:#6c7275; color:#fff;}
		ul#menu li ul li .submenu{left:200px; top:-5px}
	
	div#header form {float:right; width:246px; margin-top:9px;}
	div#header form fieldset legend {display:none;}
	div#header form fieldset label#searchbox {display:block; background:url(images/bg-search.gif) no-repeat; height:21px; width:246px;}
	div#header form fieldset label#searchbox input {background:none; border:none; outline:none; padding:4px 0 0 23px; color:#666; font-size:0.9em;}

div#content {padding-top:25px;}
	div#content-top {border-bottom:1px solid #bcbcb7; padding-bottom:8px; margin: 25px 0 15px 0;}
		div#content-top h2 {font-size:200%; font-weight:bold; color:#373d40; margin-left:12px; float:left;}
div#content-top a#topLink {float:right; background:url(images/icon-blue-arrow.gif) no-repeat; display:inline-block; padding-left:23px; text-decoration:none; font-weight:bold; color:#508db8; height:16px; margin-top:10px; margin-right:12px;}
		div#content-top a#topLink:hover {color:#333;}
		
	div.box {margin-bottom:15px; width:100%;}
	div.box-container {background-color:#fff; padding:10px;}
	div.box-container h5 {color:#333; padding-left:20px; border-bottom:1px solid #d7d9d9; font-weight:bold; padding-bottom:7px; margin-bottom:1px; padding-top: 1px;}
	div.box-container h5 span {font-weight:normal; font-size:0.9em;}
	div.box h4 {background:#a90000; text-transform:uppercase; font-weight:bold; padding:4px 0 4px 10px;}	
	
	div#left-col, div#mid-col {float:left; margin-right:12px;}
	div#mid-col {width:985px; margin-top:0px;}
    div#mid-col.responsive { width: 100%; max-width: 985px; }
	div#right-col {margin-right:0px; float:right;}
	div#left-col, div#right-col {width:223px;}
	div.full-col {width:740px !important; margin-right:0px !important;}
	
	ul.list-links, div#to-do-list ul {width:223px; margin-left:-10px; margin-top:-5px;}
	ul.list-links li {border-bottom:1px dotted #d6d8d9;}
	ul.list-links li a {padding:8px 3px 6px 20px; display:block; background:url(images/link-arrow-regular.gif) no-repeat 10px 10px #fff; color:#5c6467; text-decoration:none;}
	ul.list-links li a:hover, ul.list-links li.selected a:hover {background:url(images/link-arrow-hover.gif) no-repeat 10px 10px #fafae9; color:#000;}
		ul.list-links li ul {background:#fcfbf2 !important; padding-left:10px; padding-top:10px; width:213px; font-size:0.9em;}
		ul.list-links li ul li {border-bottom:none;}
		ul.list-links li ul li a {background:none; padding:5px 3px 5px 20px !important;}
		ul.list-links li ul li a:hover {background-color:#fcfbf2; background-position:8px 10px}
		ul.list-links li a.ui-state-active {font-weight:bold;}
	
	div#sys-messages-container h5 {background:url(images/icon-messages.gif) no-repeat;}
	div#quick-send-message-container h5 {background:url(images/icon-quick-send-message.gif) no-repeat;}
	div#sys-messages-container ul {margin-bottom:20px;}
	div#sys-messages-container ul li {font-size:0.8em; padding:8px; position:relative;}
	div#sys-messages-container ul li a.sysmessage-delete {position:absolute; right:8px; top:7px;}
	div#sys-messages-container ul li a:hover {text-decoration:none;}
	div#sys-messages-container ul li.even-messages {background:#f3f6f7;}
	div#sys-messages-container ul li.even-messages a {color:#314d5b;}
	div#sys-messages-container ul li.odd-messages {background:#ebf0f3;}
	div#sys-messages-container ul li.odd-messages a {color:#1f2f35;}
	div#quick-send-message-container form {background:#f2f2f2; padding:8px; font-size:0.9em; color:#333; margin-bottom:5px;}
	div#quick-send-message-container form fieldset p {margin-bottom:6px !important;}
	div#quick-send-message-container form p:first-child {margin-top:0px;}
	div#quick-send-message-container form p label {font-weight:bold; display:block; margin-bottom:5px;}
div#quick-send-message-container form input#message-title, div#quick-send-message-container form textarea {padding:5px; font-size:0.9em; border:1px solid #ccc; width:175px; font-family:Helvetica, Arial, sans-serif}
	
	ul.tab-menu {border-bottom:2px solid #3a4043; height:27px;}
	ul.tab-menu li {float:left; margin-right:5px;}
	ul.tab-menu li.tabs-selected a {background:#3a4043; color:#c4a93d; font-weight:bold;}
	ul.tab-menu li a {display:inline-block; background:#737d81; color:#ccc; font-weight:normal; padding:6px 10px; text-transform:uppercase; text-decoration:none;}
	.tabs-hide {display:none;}
	
	div#to-do-list ul {margin-top:-10px;}
	div#to-do-list ul li {border-bottom:1px solid #eeeddb; padding:8px 10px;}
	div#to-do-list ul li.even {background:#f5f4eb;}
	div#to-do-list ul li.odd {background:#fbfbf7;}
	div#to-do-list ul li a {font-weight:bold; color:#ae9a62;}
	div#to-do-list ul li a:hover {color:#666; text-decoration:none;}
	div#to-do-list ul li small {display:block; padding:5px 0 0 24px; font-size:0.9em; color:#999;}
	
	form.middle-forms {padding:5px; color:#3a4043}
	form.middle-forms p {margin:10px 0;}
	form.middle-forms h3 {color:#1d8895; font-weight:bold; font-size:150%;}
	form.middle-forms fieldset h3, form.middle-forms fieldset ol li h3 {font-size:110%;}
	form.middle-forms fieldset ol li {padding:5px 0 5px 15px;}
	
	form.middle-forms fieldset.filter ol li {background:#f3f3f3;}
	form.middle-forms fieldset.filter ol li:last-child {background:#f3f3f3;}
	form.middle-forms fieldset.filter ol li input[type="text"]{ width: 213px; }
	form.middle-forms fieldset.filter{ border: 1px solid #DFDFDF; border-radius: 5px;}
	form.middle-forms fieldset.filter h4 {background:#a90000; color: #fff; text-transform: uppercase; min-height: 25px; font-weight: bold; }
	
	.ui-dialog-content form.middle-forms fieldset.filter h4 { padding: 4px 0 0 10px; border-radius: 5px }
	
	form.middle-forms fieldset ol li:nth-child(even) {background:#f3f3f3;}
	form.middle-forms fieldset ol li:last-child {background:transparent;}
	form.middle-forms fieldset ol li.frm-separation {background: transparent;}
	
form.middle-forms fieldset ol li input { padding:2px; border:1px solid #dedede; }
	form.middle-forms fieldset ol li input[type="radio"], form.middle-forms fieldset ol li input[type="checkbox"] {border:none; background:none;}
	form.middle-forms fieldset ol li input[type="text"], form.middle-forms fieldset ol li textarea, form.middle-forms fieldset ol li input[type="password"] { width: 350px }
	form.middle-forms fieldset ol li input[type="submit"]{ color:#fff; background:url(images/bg-buttons-submit.gif) repeat-x; border-radius: 5px; padding: 0 15px 0 15px; height: 21px; font-weight: bold;}
	form.middle-forms fieldset ol li input[type="submit"]:hover{ color:#333; cursor: pointer; }
	form.middle-forms fieldset ol li input[type="file"]{ background: transparent; border: none; }
	
form.middle-forms fieldset ol li input[type="button"]{ color:#fff; background:url(images/bg-buttons-submit.gif) repeat-x; border-radius: 5px; padding: 0 15px 0 15px; height: 21px; font-weight: bold;}
form.middle-forms fieldset ol li input[type="button"]:hover{ color:#333; cursor: pointer; }
	
    input[type="button"]{ color:#fff; background:url(images/bg-buttons-submit.gif) repeat-x; border-radius: 5px; padding: 0 15px 0 15px; height: 21px; font-weight: bold; border: 1px solid #dedede;}
	input[type="button"]:hover{ color:#333; cursor: pointer; }

	form.middle-forms fieldset ol li label:not(.pure) {float:left; margin-right:10px; display:block;}
	form.middle-forms fieldset ol li label.field-title {font-weight:bold; width:150px; padding-top:3px;}
	
	div.successMessage, span.field-validation-error, div.errorMessage {display:inline-block; padding-left:20px;  margin-left:10px; height:16px;}
	div.successMessage {color:#72a101; background:url(images/icon-confirm.gif) no-repeat;}
	span.field-validation-error, div.errorMessage {color:#a10101; background:url(images/icon-error.gif) no-repeat;}
	
	a.heading-link {color:#cae6ed; text-transform:capitalize; font-size:0.9em; font-weight:normal; display:inline-block; padding-left:15px; text-decoration:none;}
	a.heading-link:hover {color:#fff;}

    table.table-details {width:100%; margin:-5px 0 0 -5px; border-collapse:collapse;	}
    table.table-details td {border-top:1px solid #dfdfdf; font-size:0.9em; padding: 3px 2px 3px 2px; margin:0;  vertical-align: middle;}
	table.table-details th {font-size:0.9em;	padding:10px 0; margin:0; font-weight:bold;}
    table.table-details td:first-child {text-align:left; padding:0 0 0 10px;}
	table.table-details th:first-child {text-align:left; padding:0 0 0 10px;}

	table.table-short {width:590px; margin:-5px 0 0 -5px; border-collapse:collapse;	}
	table.table-long {width:100%; margin-left:-10px}
	table.table-short td, table.table-long td {border-top:1px solid #dfdfdf; font-size:0.9em; padding: 3px 2px 3px 2px; margin:0; color:#666; vertical-align: middle;}
	table.table-short th, table.table-long th {font-size:0.9em;	padding:10px 0; margin:0; color:#666; font-weight:bold;}
	table.table-details tr, table.table-short tr, table.table-long tr {min-height: 26px;}
	table.table-short th a, table.table-long th a, .orderByLink {text-decoration: none; color:#666;}
	table.table-details th, table.table-short th, table.table-short tfoot td, table.table-long thead td, table.table-long tfoot td {border:none;}
    table.table-short td:first-child, table.table-long td:first-child {text-align:left; padding:0 0 0 20px;}
    table.table-short th:first-child, table.table-long th:first-child {text-align:left; padding:0 0 0 20px;}
	table.table-details tfoot table.table-short tfoot, table.table-long tfoot {border-top:1px solid #ccc;}
	table.table-long tr:nth-child(even) {background:url(images/bg_tableRow.gif) repeat-x 0px 0px;}
	
	td.col-chk {width:40px;}
	td.col-first {font-weight:bold; width:200px;}
	td.col-second a {color:#508db8; font-weight:bold;}
	td.col-second a:hover {text-decoration:none; color:#333;}
	td.row-nav {width:110px;}
    a.table-refresh-integration-menu-link, a.table-moip-link, a.table-edit-link, a.table-delete-link, a.table-dish-clone-link, a.table-payment-link, a.table-clock-link, a.table-delivery-link, a.table-details-link, a.table-exporttxt-link, a.table-menu-link, a.table-map-link, a.table-select-link, a.table-lock-link, a.table-unlock-link, a.table-address-link, a.table-order-link {color:#666; text-decoration:none; display:inline-block; padding-left:16px; height:16px; text-align:right;}
    a.table-refresh-integration-menu-link:hover, a.table-moip-link:hover, a.table-edit-link:hover, a.table-delete-link:hover, a.table-dish-clone-link:hover, a.table-clock-link:hover, a.table-delivery-link:hover, a.table-payment-link:hover, a.table-menu-link:hover, a.table-map-link:hover, a.table-details-link:hover, a.table-exporttxt-link:hover, a.table-lock-link:hover, a.table-unlock-link:hover, a.table-address-link:hover, a.table-order-link:hover {color:#000;}
	a.table-delete-link {margin-right:0 !important; background:url(images/icon-delete.gif) no-repeat;}
    a.table-dish-clone-link {margin-right:0 !important; background:url(images/icon-dish-clone.png) no-repeat;}
	a.table-details-link {margin-right:0 !important; background:url(images/icon-details.gif) no-repeat;}
    a.table-exporttxt-link {margin-right:0 !important; background:url(images/icon-txt.gif) no-repeat;}
	a.table-select-link {margin-right:0 !important; background:url(images/icon-select.gif) no-repeat;}
	a.table-edit-link {margin-right:0 !important; background:url(images/icon-edit.gif) no-repeat;}
    a.table-lock-link {margin-right:0 !important; background:url(images/icon-lock.gif) no-repeat;}
    a.table-unlock-link {margin-right:0 !important; background:url(images/icon-unlock.gif) no-repeat;}
    a.table-address-link {margin-right:0 !important; background:url(images/icon-home.gif) no-repeat;}
    a.table-order-link {margin-right:0 !important; background:url(images/icon-cart.gif) no-repeat;}
    a.table-map-link {margin-right:0 !important; background:url(images/icon-map.gif) no-repeat;}
    a.table-menu-link {margin-right:0 !important; background:url(images/icon-menu.gif) no-repeat;}
    a.table-payment-link {margin-right:0 !important; background:url(images/icon-payment.gif) no-repeat;}
    a.table-clock-link {margin-right:0 !important; background:url(images/icon-paper-bag.png) no-repeat;}
    a.table-delivery-link {margin-right:0 !important; background:url(images/icon-delivery.png) no-repeat;}
    a.table-moip-link {margin-right:0 !important; background:url(images/icon-moip.png) no-repeat;}
    a.table-refresh-integration-menu-link {margin-right:0 !important; background:url(images/icon-refresh-integration-menu.png) no-repeat;}
	table.table-long td.table-comand, table.table-short td.table-comand{ width: 15px; text-align: right; padding-right: 12px; }
	
	div#date-container {background-color:#f3f6f7; margin:-10px -10px 15px -10px; padding:10px; }
	div#date-container img {float:left; margin-right:10px;}
	div#date-container span.hour, div#date-container span.date {display:block; float:left;}
	div#date-container span.hour {font-size:220%; font-weight:bold; color:#d8a416; padding-top:2px;margin-right:10px;}
	div#date-container span.date {color:#666; font-size:0.8em; padding-top:4px;}
	div#calendar-container {width:100%;}
	div#calendar-container h5 {background-image:url(images/icon-calendar.gif); background-repeat:no-repeat; display:block;}
div#calendar-container div.ui-datepicker-header {background:#a1b1b3; padding:10px; text-align:center; position:relative; color:#fff; font-weight:bold; margin-bottom:1px;}
	span.ui-icon {position:absolute; top:10px; cursor:pointer;}
	.ui-icon-circle-triangle-e {right:10px;}
	.ui-icon-circle-triangle-w {left:10px;}
	a.ui-state-highlight {background:#fff;color:#ac0000; font-weight:bold;}
	a.ui-datepicker-next-hover span, a.ui-datepicker-prev-hover span {color:#000 !important;}

	table.ui-datepicker-calendar {width:203px; padding:5px; background:#f2f2f2; font-size:0.9em;}
table.ui-datepicker-calendar th,table.ui-datepicker-calendar td {text-align:center; font-weight:bold; padding:2px;}
table.ui-datepicker-calendar a {text-decoration:none; display:block; text-align:center; color:#666; padding:3px; border:1px solid #f2f2f2;}
	table.ui-datepicker-calendar a:hover {border:1px solid #ccc;}
	table.ui-datepicker-calendar a.ui-state-active {color:#ac0000 !important; border:1px solid #ccc; background:#fff;}
	td.ui-datepicker-week-end a {color:#999;}
    .ui-datepicker {z-index:3!important;}
	
	ul#quick-visual-links {width:100%;}
	ul#quick-visual-links li {float:left;}
ul#quick-visual-links li a {width:62px; text-align:center; margin:0 3px 5px 0; font-size:0.9em; border:1px solid #ccc; display:block; padding:5px 0; text-decoration:none; color:#444; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
	ul#quick-visual-links li img {margin-bottom:3px;}
	ul#quick-visual-links li a:hover {color:#000; border-color:#999; background:#f3f6f7}
	
	div#footer-wrap {background:url(images/bg-footer.gif) repeat-x; height:81px; position:relative;}
	div#footer {width:960px; margin:0 auto; padding:10px 10px 0 10px;}
	
	div#footer-top {color:#ffffff;}
	div#footer-top h4 {color:#fff; text-transform:uppercase; margin:5px 0; font-size:120%; font-weight:bold;}
	div#footer-top a {color:#ffd441; font-weight:bold; font-size:0.9em; text-decoration:none;}
	div#footer-top a:hover {color:#fff;}
	div#footer-top h2 {font-size:160%; text-transform:uppercase; padding-top:10px; padding-right:10px; font-weight:bold;}
	div#footer-top h2 a {color:#ffd441;}
	div#footer-top h2 a:hover {color:#fff;}
	
	div#footer-bottom {margin-top:13px;}
	div#footer-bottom p {color:#ffffff; font-size:0.9em; display:inline-block; margin-top:3px;}
	div#footer-bottom p a {color:#ffd441; text-decoration:none;}

.menuContainer{position:relative;}
.menuContainer:hover .hoverMenu{display:block;}
.menuContainer .hoverMenu{position:absolute; background:#e3e3e3; width:150px; top:-20px; left:-150px; display:none; font-size:12px;}
.menuContainer .hoverMenu .menuTitle{font-weight:bold; padding:3px 0; text-align:center; width:150px; background:#535353; color:#eee;}
.menuContainer .hoverMenu li{}
.menuContainer .hoverMenu li a{width:145px; color:#333; float:left; padding:3px 0 3px 5px;}
.menuContainer .hoverMenu li a:hover{ background:#939393;}

.cropBtn{margin:15px 0 20px -36px; left:50%; position:relative;}

.week-day-slider input[type=checkbox] {float:left; margin:0px 5px 0 0}
.week-day-slider .slider-range{width:250px; margin:6px auto 0 auto;}
.week-day-slider .dayLabel{font-weight:bold;}
.week-day-slider .maxValue {float: right; margin:0}
.week-day-slider tr .minValue, .week-day-slider tr .maxValue{padding-top:5px;}
.week-day-slider tr{height:30px;}
.week-day-slider-larger{width: 450px !important}

textarea {font-family:Arial;}
.ui-dialog-titlebar {background:#ed0000 !important;}
    .ui-dialog-titlebar .ui-dialog-titlebar-close {background:#a90000 !important; border:1px solid #980000 !important;}

.shortcutButtonHome{padding:5px 0; width:138px; border:1px solid #ccc; display:inline-block; text-decoration:none; text-align:center; margin:10px 49px;}
.shortcutButtonHome img{float:left; margin:0 5px;}
.shortcutButtonHome span {color:#000; font-size:16px; font-weight:bold; float:left; margin-top:10px; width:100%; text-align:center;}
    
.inline-timeentry{display:inline-block; vertical-align: top; margin-top: 0px; float: left; }
.inline-timeentry input{margin-right: 5px; vertical-align: top;}

h5.payment-group-title{padding: 1px !important; font-size: 14px; font-weight:bold; margin-bottom: 5px !important; margin-right: 15px;}
.payment-group-container{display:inline-block; margin: 10px; margin-left: 0px; vertical-align: top;}

.restaurant-payment-type {width: 50%; display: inline-block;}
.restaurant-payment-type.delivery {float: left;}
.restaurant-payment-type.togo {float: right;}
.restaurant-payment-type-item {border-bottom: 0px !important;}

#tabs-nohdr { 
    padding: 0px; 
    background: none; 
    border-width: 0px; 
} 
#tabs-nohdr .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    border-width: 0px 0px 1px 0px; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs-nohdr .ui-tabs-panel {
    background: #FFFFFF;
    border-width: 0px 1px 1px 1px; 
}

#tabs-nohdr .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
   color: #FFFFFF;
   font-weight: bolder;
   background-color : #720000;
}

#tabs-nohdr li > a {
    color:#FFFFFF ;
    background-color : #980000;
}

.buttonPromotion {
        background: url(images/bg-buttons-submit.gif) repeat-x;
        border-radius: 5px;
        padding: 0 15px 0 15px;
        height: 21px;
        font-weight: bold;
        border: 1px solid #dedede;
        color: #FFF;
        cursor: pointer;
    }

.ui-autocomplete-input {
    background: #FFFFFF !important;
    color: #222222 !important;
}

/*.custom-combobox a.ui-button {
    background: #A90000 !important;
}*/

.custom-combobox a.ui-button:hover {
    border-color: #CCCCCC !important;
}

/*ul.ui-autocomplete li a:hover {
    background: #A90000 !important;
    border-color: #A90000 !important;
}*/

.custom-combobox .ui-button-icon-only, .custom-combobox-optional .ui-button-icon-only {
    width: 20px !important;
}