body {
  height: 100%;
  font-family: Interstate, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.section-body {
  height: 100%;
  background-image: url('../img/bg-body.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 900px;
}
.bg-branco {
  position: absolute;
  left: 50%;
/*  top: 50%;
*/  
  top: 450px;
  display: block;
  width: 726px;
  height: 750px;
  margin-top: -375px;
  margin-left: -363px;
  border-radius: 3px;
  background-color: white;
  text-align: center;
}
.div-aba {
  height: 40px;
  margin-top: -5px;
  padding-left: 23px;
  background-image: url('../img/aba.png');
  background-position: 23px 0px;
  background-repeat: no-repeat;
  text-align: left;
}
.txt-aba {
  display: inline-block;
  width: 124px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: Interstate, sans-serif;
  color: white;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.div-logo {
  margin-top: 5px;
  text-align: center;
}
.txt-localizacao {
  display: inline-block;
  margin-right: 13px;
  margin-left: 13px;
  font-family: Interstate, sans-serif;
  font-size: 35px;
  line-height: 35px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
.div-linha {
  display: inline-block;
  width: 36px;
  height: 1px;
  margin-bottom: 11px;
  background-color: black;
}
.div-localiza {
  margin-top: 27px;
}
.div-form {
  height: 83px;
  margin-top: 27px;
}
.form-wrapper {
  display: inline-block;
  width: 430px;
 /* padding-left: 25px;*/
  background-color: #ed1c24;
}
.field-txt {
  width: 380px;
  height: 44px;
  margin-top: 20px;
  float: left;
  border-bottom: 2px solid #cacaca;
  border-radius: 3px;
  font-family: Interstate, sans-serif;
  color: #8f8f8f;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.campo-cep {
    width: 430px;
    height: 83px;
    float: left;
    padding: 0 0 0 25px;
    border-bottom: 1px solid #ffffff;
}
.campo-num {
	width: 290px;
    height: 83px;
    float: left;
	padding: 0 0 0 25px;
}

.bt-submit {
  width: 128px;
  height: 83px;
  float: left;
  background-color: transparent;
  background-image: url('../img/sombra-busca.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  font-family: Interstate, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.txt-nao-sabe {
    font-family: Interstate, sans-serif;
    font-size: 16px;
    width: 250px;
    margin: 105px auto 0 auto;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
.txt-nao-sabe.outros {
	width:430px;
    margin-top: 20px;
    font-size: 14px !important;
}
.txt-nao-sabe.outros a{
	cursor: pointer;
	color: #000;
	text-decoration: underline;
}
.div-regioes {
  width: 242px;
  height: 231px;
  padding-top: 27px;
  float: left;
}
.div-regioes.div-sombra-regiao {
  background-image: url('../img/sombra-vert.png');
  background-position: 0px 0px;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.select-regiao {
	width: 430px;
	height: 70px;
	margin: 17px auto;
	padding: 15px 25px;
	background: #ed1c24;
}

.select-regiao .menu {
	width: 380px;
	padding: 10px;
	margin: 0 auto;
	text-align: left;
	list-style: none;
	border-radius: 5px;
	border-bottom: 2px solid #cacaca;
	background: #FFFFFF url(../img/bg-select-landing.jpg) no-repeat top right;
	background-size:contain;
}

.select-regiao .menu .active {
	background: none !important;
}


.select-regiao .menu a {
	color: #8f8f8f;
	display: block;
	width: 100%;
	text-decoration: none;
}

.select-regiao .menu li ul {
    width: 380px;
	color: #FFFFFF;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ed1c24;
    margin: 12px 0 0 -10px;
}

.select-regiao .menu li ul li {
	padding: 12px;
	border-bottom: 1px dotted #FFFFFF;
}

.select-regiao .menu li ul li a {
	color: #FFFFFF;
	text-transform: uppercase;
}



/*.select-regiao select {
    float: left;
	width: 385px;
    height: 44px;
	display: block;
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 8px 12px;
    border-radius: 3px;
    margin-bottom: 10px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-bottom: 2px solid #cacaca;
    font-family: Interstate, sans-serif;
	
}*/




.div-regioes-geral {
  margin-top: 17px;
}
.item-regiao {
  padding-top: 7px;
  padding-bottom: 6px;
  color: #898989;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  position: relative;
}

.item-regiao:hover {
  background-image: url('../img/hover-regiao.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  color: white;
}

.item-regiao:hover ul{
	display: block;
}

.item-regiao ul {
	top: 2px;
    left: 225px;
    width: 213px;
    height: 75px;
    display: none;
    color: #FFFFFF;
    list-style: none;
    line-height: 30px;
    text-align: center;
    position: absolute;
    z-index: 99999999999;
    padding: 5px 10px 0 0;
    background-color: #ed1c24;
}



@font-face {
  font-family: 'Interstate';
  src: url('../fonts/Interstate-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Interstate';
  src: url('../fonts/Interstate-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}