﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SellingOutGroupViewModel
<fieldset class="details">
    <h2 class="details-title">Informações sobre o Acompanhamento de Checkout</h2>
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <hr />
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdRestaurant)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.RestaurantInfo.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdMenuGroup)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuGroupInfo.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdMenuDish)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuDishInfo.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Order)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Order)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Created)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Created)
        </span>
    </div>
    @*
        Caso necessário, coloque aqui o código HTML para mostrar as múltiplas entidades filhas.
    *@
</fieldset>