﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SellingOutGroupViewModel

@{
    ViewBag.Title = "Apagar Acompanhamento de Checkout";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @*Insira todos os códigos javascript aqui*@
}

@{Html.RenderPartial("_Details", Model);}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
}
@using (Html.BeginForm("Delete", "SellingOutGroup", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary)) {
    <fieldset class="details">
    <ol>
        <li>
            <input type="submit" value="@Resources.ViewLabelNameStrings.Delete" />
            <a class="button" href="@Url.Action("Index", "SellingOutGroup", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
        </li>
    </ol>  
    </fieldset>
}
