﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SellingOutGroupViewModel

@{
    ViewBag.Title = "Detalhes do SellingOutGroup";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @*Insira todos os códigos javascript aqui*@
}

@{Html.RenderPartial("_Details", Model);}

<p>
   
    <a class="button" href="@Url.Action("Edit", "SellingOutGroup", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
    <a class="button" href="@Url.Action("Index", "SellingOutGroup", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>


