﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.SellingOutGroupViewModel>
@using SmartFramework.Areas.EnumsAndConsts

@{
    ViewBag.Title = "Lista de  Acompanhamento de Checkout";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @*Insira todos os códigos javascript aqui*@
	<script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/View/MenuGroup/MenuGroup.js"></script>
	

}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@using (Html.BeginForm("Index", "SellingOutGroup", FormMethod.Get, new { id = "SellingOutGroupSearchForm", @class = "middle-forms" }))
{
    SellingOutFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (SellingOutFilter)ViewBag.Filter;
    }
    @section FilterScripts {
    @if (Filter.IdRestaurant != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                LoadMenu(null, function () {
                    $('#IdMenuGroup').val('@Filter.IdMenuGroup');

                });
            });
        </script>
    }
    }
   <fieldset class="filter">
       <h4>@Resources.ViewLabelNameStrings.Filter</h4>
       @Html.HiddenFor(filter => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
       @Html.HiddenFor(filter => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBoxFor(filter => Filter.IdSellingOutGroup)
            </li>
            <li>
                <label class="field-title">
                    Loja:
                </label>

                @Html.DropDownListFor(filter => Filter.IdRestaurant, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.SellingOutGroupViewModel().GetRestaurantsByUser(), "", new { @id = "Restaurant_IdRestaurant" })
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    Menu:
                </label>
                @Html.DropDownListFor(filter => Filter.IdMenuGroup, new List<SelectListItem>(), new { @id = "IdMenuGroup" })
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />

                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                @{ 
                    Html.RenderPartial("FilterButtonsUserControl", "SellingOutGroupSearchForm");
                }
            </li>
        </ol>
    </fieldset>
}

@section titleContent
{
    @if(ViewBag.Routes.ContainsKey("id"))
    {
    	ViewBag.Routes.Remove("id");
    }

    @if (Roles.IsUserInRole(UserPermission.SellingOutGroupCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", ViewBag.Routes as RouteValueDictionary)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

<table class="table-long">
    <tr>
        <th>
            <a href="" rel="IdSellingOutGroup" class="orderByLink">
                Código
            </a>
        </th>
        <th>
            <a href="" rel="IdRestaurant" class="orderByLink">
                Loja
            </a>
        </th>
        <th>
            <a href="" rel="IdMenuGroup" class="orderByLink">
                Menu
            </a>
        </th>
        <th>
            <a href="" rel="IdMenuDish" class="orderByLink">
                Prato
            </a>
        </th>
        <th>
            <a href="" rel="Order" class="orderByLink">
                Ordem
            </a>
        </th>
        <th>
            <a href="" rel="IdMenuDish" class="orderByLink">
                Inativo?
            </a>
        </th>
  		<th></th>
		<th></th>
		<th></th>
    </tr>

@if(Model != null)
{ 
    foreach (var item in Model) {
   
    <tr>
	@{
		if(ViewBag.Routes.ContainsKey("id"))
		{
			ViewBag.Routes.Remove("id");
		}
		ViewBag.Routes.Add("id", item.IdSellingOutGroup);
	}
    <td>
        @Html.DisplayFor(modelItem => item.IdSellingOutGroup)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.RestaurantInfo.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MenuGroupInfo.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MenuDishInfo.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Order)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MenuDishInfo.Disabled)
    </td>
    <td class="table-comand">
        <a href="@Url.Action("Edit",  ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
    </td>
	<td class="table-comand">
        <a href="@Url.Action("Delete", ViewBag.Routes)" title="Excluir" class="table-delete-link"></a>
    </td>
	<td class="table-comand">
        <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
    </td>
    </tr>
}
}
</table>

 @{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
 }

