﻿@model Yum.Delivery.Models.MenuCloningModel

@{
    ViewBag.Title = "Clonagem de Cardápio";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}


@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", "middle-forms");
}

<div id="divDetails" class="box"></div>

@using (Html.BeginForm("Clone", "MenuCloning", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{

    @Html.ValidationSummary(true)
    <fieldset class="filter">
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.FromRestaurantMenu)
                </label>
                @Html.TextBoxFor(m => m.FromRestaurantMenu, new { @class = "numerico", @maxlength = "6" })
                @Html.ValidationMessageFor(m => m.FromRestaurantMenu)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.ToRestaurantMenu)
                </label>
                @Html.TextBoxFor(m => m.ToRestaurantMenu, new { @class = "numerico", @maxlength = "6" })
                @Html.ValidationMessageFor(m => m.ToRestaurantMenu)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.ClonePromotional)
                </label>
                <label>
                    @Html.Label("Sim", true)
                    @Html.RadioButtonFor(m => m.ClonePromotional, true)
                </label>

                <label>
                    @Html.Label("Não", false)
                    @Html.RadioButtonFor(m => m.ClonePromotional, false, new { @checked = "checked" })
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.DisablePizzaExtras)
                </label>
                <label>
                    @Html.Label("Sim", true)
                    @Html.RadioButtonFor(m => m.DisablePizzaExtras, true)
                </label>

                <label>
                    @Html.Label("Não", false)
                    @Html.RadioButtonFor(m => m.DisablePizzaExtras, false, new { @checked = "checked" })
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <input id="btnCloneMenu" type="submit" value="Clonar Cardápio" />
            </li>

        </ol>

    </fieldset>
}