﻿@model Yum.Delivery.Model.MenuDomain.MenuDishOptional
@{
    ViewBag.Title = "Criação";

}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "MenuDishOptionalForm");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Create", "MenuDishOptional", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
                @Html.HiddenFor(model => model.IdMenuDish, new { @id = "IdMenuDishOp" , @readonly="readonly"})
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>

                @Html.TextBoxFor(model => model.Name, new { @id = "NameOp" })
                @Html.ValidationMessageFor(model => model.Name)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>

                @Html.TextAreaFor(model => model.Description, new { @id = "DescriptionOp" })
                @Html.ValidationMessageFor(model => model.Description)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Value)
                </label>

                @Html.TextBoxFor(model => model.Value, new { @class="interval-value", @id="ValueOp" })
                @Html.ValidationMessageFor(model => model.Value)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Order)
                </label>

                @Html.TextBoxFor(model => model.Order, new { @class = "numeric", @id="OrderOp" })
                @Html.ValidationMessageFor(model => model.Order)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MinimumOptionalItems)
                </label>

                @Html.EditorFor(model => model.MinimumOptionalItems)
                @Html.ValidationMessageFor(model => model.MinimumOptionalItems)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MaximumOptionalItems)
                </label>

                @Html.EditorFor(model => model.MaximumOptionalItems)
                @Html.ValidationMessageFor(model => model.MaximumOptionalItems)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PerOptionalItemMinimum)
                </label>

                @Html.EditorFor(model => model.PerOptionalItemMinimum)
                @Html.ValidationMessageFor(model => model.PerOptionalItemMinimum)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PerOptionalItemMaximum)
                </label>

                @Html.EditorFor(model => model.PerOptionalItemMaximum)
                @Html.ValidationMessageFor(model => model.PerOptionalItemMaximum)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IntegrationCode)
                </label>

                @Html.EditorFor(model => model.IntegrationCode)
                @Html.ValidationMessageFor(model => model.IntegrationCode)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdMenuAttributeType)
                </label>
                @Html.DropDownListFor(model => model.IdMenuAttributeType, new List<SelectListItem>(), new { @id = "IdMenuAttributeTypeOp" })
                @Html.ValidationMessageFor(model => model.IdMenuAttributeType)
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />

                <span class="clearFix">&nbsp;</span>
            </li>
			<li id="optionalProductsCode">
				<label class="field-title">
					@Html.LabelFor(model => model.MenuDishOptionalProductCodeList)
				</label>
@{ var productOptionalCodeCount = 0;
   var px = "0px";}
@if (Model != null && Model.MenuDishOptionalProductCodeList != null && Model.MenuDishOptionalProductCodeList.Count > 0)
{
	foreach (var menuDishOptionalProductCode in Model.MenuDishOptionalProductCodeList)
	{
				<div style="margin-left:@px; margin-top:5px;">
					@Html.DropDownList("MenuDishOptionalProductCodeList[" + @productOptionalCodeCount + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalProductCode", @data_selected = menuDishOptionalProductCode.IdProductCode })
					<a class="table-delete-link rem-opc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
					<input type="hidden" name="MenuDishOptionalProductCodeList[@productOptionalCodeCount].IdMenuDishOptionalProductCode" value="@menuDishOptionalProductCode.IdMenuDishOptionalProductCode">
					<input type="hidden" name="MenuDishOptionalProductCodeList[@productOptionalCodeCount].IdMenuDishOptional" value="@menuDishOptionalProductCode.IdMenuDishOptional">
					<span class="clearFix">&nbsp;</span>
				</div>
				px = "160px";
				productOptionalCodeCount++;
	}
}
				<div style="margin-left:@px; margin-top:5px;">
					@Html.DropDownList("MenuDishOptionalProductCodeList["+ @productOptionalCodeCount +"].IdProductCode", new List<SelectListItem>(), new { @data_selected = "", @class = "IdMenuDishOptionalProductCode" })
					<a style="margin-left:5px;" title="Adicionar produto" class="add-link add-opc" href="#"></a>
					<a class="table-delete-link rem-opc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
					<input type="hidden" name="MenuDishOptionalProductCodeList[@productOptionalCodeCount].IdMenuDishOptional">
					<span class="clearFix">&nbsp;</span>
				</div>
			</li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.HideByRestriction)
                </label>

                @Html.EditorFor(model => model.HideByRestriction)
                @Html.ValidationMessageFor(model => model.HideByRestriction)

                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <br /><br />
        @{var i = 0;
        px = "0px";}
        <h3>
            @Html.LabelFor(model => model.MenuDishOptionalItemList)
            <a class="add-link add-optionalItem" title="Adicionar Novo Item Opcional" href="javascript:void(0);"></a>
        </h3>
        <hr style="color: #618895; background-color: #618895; height: 3px; border:0;" />
        <div class="optionalItem">
            @if (Model != null && Model.MenuDishOptionalItemList != null && Model.MenuDishOptionalItemList.Count > 0)
            {                
                foreach (var item in Model.MenuDishOptionalItemList)
                {
                    var y = 0;
                    <ol class="rowItem">
                        <li>
                            <label class="field-title">
                                Nome*
                            </label>
                            @Html.Hidden("MenuDishOptionalItemList[" + i + "].IdMenuDishOptionalItem", item.IdMenuDishOptionalItem)
                            @Html.TextBox("MenuDishOptionalItemList[" + i + "].Name", item.Name, new { @style = "width:310px" })
                            @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Name")
                            <a class="rem-optionalItem table-delete-link" title="Excluir Item Opcional" style="margin-left:5px ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Descrição
                            </label>
                            @Html.TextArea("MenuDishOptionalItemList[" + i + "].Description", item.Description)
                            @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Description")
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Ordem*
                            </label>
                            @Html.TextBox("MenuDishOptionalItemList[" + i + "].Order", item.Order, new { @class = "numeric" })
                            @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Order")
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Valor*
                            </label>
                            @Html.TextBox("MenuDishOptionalItemList[" + i + "].Value", item.Value, "{0:N}", new { @class = "interval-value" })
                            @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Value")
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Cod. de Integração:
                            </label>
                            @Html.TextBox("MenuDishOptionalItemList[" + i + "].IntegrationCode", item.IntegrationCode)
                            @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].IntegrationCode")
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Tipo*
                            </label>
                            @{var select1 = Model.MenuDishOptionalItemList[i].IdMenuAttributeType.ToString();}
                            @Html.DropDownList("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType", new List<SelectListItem>(), new { @class = "IdMenuAttributeTypeOpI", @data_selected = select1 })
                            @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType")
                            <span class="clearFix">&nbsp;</span>
                        </li>
						<li id="optionalItemProductsCode">
							<label class="field-title">
								Produtos
							</label>
							@{
							  px = "0px";
							  y = 0;
							}
							@if (item.MenuDishOptionalItemProductCodeList != null)
							{
								foreach (var menuDishOptionalItemProductCode in item.MenuDishOptionalItemProductCodeList)
								{
									<div style="margin-top:5px; margin-left:@px">
										@Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemProductCodeList[" + y + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemProductCode", @data_selected = menuDishOptionalItemProductCode.IdProductCode })
										<a class="table-delete-link rem-oipc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
										<input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemProductCodeList[@y].IdMenuDishOptionalItemProductCode" value="@menuDishOptionalItemProductCode.IdMenuDishOptionalItemProductCode">
										<input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemProductCodeList[@y].IdMenuDishOptionalItem" value="@menuDishOptionalItemProductCode.IdMenuDishOptionalItem">
									</div>
									px = "160px";
									y++;
								}
							}
							<div style="margin-top:5px; margin-left:@px">
								@Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemProductCodeList[" + y + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemProductCode", @data_selected = "" })
								<a style="margin-left:5px;" title="Adicionar produto" class="add-link add-oipc" href="#"></a>
								<a class="table-delete-link rem-oipc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
								<input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemProductCodeList[@y].IdMenuDishOptionalItem">
							</div>
						</li>
                        <li class="lirestriction">
                            <label class="field-title">
                                Restrição
                            </label>
                            @if (item.MenuDishOptionalItemRestrictionList != null)
                            {
                                foreach (var item2 in item.MenuDishOptionalItemRestrictionList)
                                {

                                    <div style="margin-left:@px">
                                        @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemRestrictionList[" + y + "].IdMenuDishOptionalItemOfRestriction", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemOfRestriction", @data_selected = item2.IdMenuDishOptionalItemOfRestriction, @data_idmenudishoptionalitem = item.IdMenuDishOptionalItem, @disabled = "disabled" })
                                        <a style="margin-left:5px; display:none ;" title="Adicionar Restrição ao Item Opcional" class="add-link add-ljmn" href="#"></a>
                                        <a class="rem-ljmn table-delete-link" title="Remover Restrição ao Item Opcional" style="margin-left:5px ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        <input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemRestrictionList[@y].IdMenuDishOptionalItemOfRestriction" value="@item2.IdMenuDishOptionalItemOfRestriction">
                                    </div>
                                    px = "160px";
                                    y++;
                                }
                            }
                            <div style="margin-left:@px">
                                @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemRestrictionList[" + y + "].IdMenuDishOptionalItemOfRestriction", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemOfRestriction", @data_selected = "", @data_idmenudishoptionalitem = item.IdMenuDishOptionalItem })
                                <a style="margin-left:5px" title="Adicionar Restrição ao Item Opcional" class="add-link add-ljmn" href="#"></a>
                                <a class="rem-ljmn table-delete-link" title="Remover Restrição ao Item Opcional" style="margin-left:5px ;display:none ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            </div>
                        </li>
                        <br />
                        <hr style="color: #618895; background-color: #618895; height: 3px; border:0;" />
                    </ol>
					
					i++;
				}


			}
			else
			{
                <ol class="rowItem">
                    <li>
                        <label class="field-title">
                            Nome*
                        </label>
                        @Html.Hidden("MenuDishOptionalItemList[" + i + "].IdMenuDishOptionalItem")
                        @Html.TextBox("MenuDishOptionalItemList[" + i + "].Name", "", new { @style = "width:310px" })
                        @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Name")
                        <a class="rem-optionalItem table-delete-link" title="Excluir Item Opcional" style="margin-left:5px ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <span class="clearFix">&nbsp;</span>
                    </li>
                    <li>
                        <label class="field-title">
                            Descrição
                        </label>
                        @Html.TextArea("MenuDishOptionalItemList[" + i + "].Description")
                        @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Description")
                        <span class="clearFix">&nbsp;</span>
                    </li>
                    <li>
                        <label class="field-title">
                            Ordem*
                        </label>
                        @Html.TextBox("MenuDishOptionalItemList[" + i + "].Order", "", new { @class = "numeric" })
                        @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Order")
                        <span class="clearFix">&nbsp;</span>
                    </li>
                    <li>
                        <label class="field-title">
                            Valor*
                        </label>
                        @Html.TextBox("MenuDishOptionalItemList[" + i + "].Value", "", "{0:N}", new { @class = "interval-value" })
                        @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Value")
                        <span class="clearFix">&nbsp;</span>
                    </li>
                    <li>
                        <label class="field-title">
                            Cod. de Integração:
                        </label>
                        @Html.TextBox("MenuDishOptionalItemList[" + i + "].IntegrationCode", "")
                        @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].IntegrationCode")
                        <span class="clearFix">&nbsp;</span>
                    </li>
                    <li>
                        <label class="field-title">
                            Tipo*
                        </label>
                        @Html.DropDownList("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType", new List<SelectListItem>(), new { @class = "IdMenuAttributeTypeOpI", @data_selected = "" })
                        @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType")
                        <span class="clearFix">&nbsp;</span>
                    </li>
					<li id="optionalItemProductsCode">
						<label class="field-title">
							Produtos
						</label>
						<div style="margin-top:5px;">
							@Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemProductCodeList[0].IdProductCode", new List<SelectListItem>(), new { @data_selected = "", @class = "IdMenuDishOptionalItemProductCode" })
							<a style="margin-left:5px;" title="Adicionar produto" class="add-link add-oipc" href="#"></a>
							<a class="table-delete-link rem-oipc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
							<span class="clearFix">&nbsp;</span>
						</div>
					</li>
                    <li class="lirestriction">
                        <label class="field-title">
                            Restrição
                        </label>
                        <div>
                            @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemRestrictionList[" + 0 + "].IdMenuDishOptionalItemOfRestriction", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemOfRestriction", @data_selected = "" })
                            <a style="margin-left:5px" title="Adicionar Restrição ao Item Opcional" class="add-link add-ljmn" href="#"></a>
                            <a class="rem-ljmn table-delete-link" title="Remover Restrição ao Item Opcional" style="margin-left:5px ;display:none ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </div>
                    </li>
                    <br />
                    <hr style="color: #618895; background-color: #618895; height: 3px; border:0;" />
                </ol>
				
			}
        </div>
        <ol>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" /><br />
                <span class="clearFix">&nbsp;</span> <div class="errorMessage1" style="display: none"></div>
            </li>
        </ol>
        @Html.HiddenFor(model => model.UniqueId, new { value = Model != null ? Model.UniqueId : null})
    </fieldset>
}

<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/View/MenuDish/MenuDishOptional.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        
        MaskApply();
        LoadRestriction();
        loadOptionalProductCode();
        loadOptionalItemProductCode();

        $('#MenuDishOptionalForm').validate();
        $('#MenuDishOptionalForm').submit(function (e) {
            e.preventDefault();

            var $li = $(".lirestriction");
            $li.each(function (key, value) {

                var arr = new Array();

                $(value).find("div").each(function (key3, value3) {


                    $(value3).find("select").each(function (key1, value1) {

                        arr.push($(value1).val())

                    });

                });

                var count = 0;
                $(value).find("div").each(function (key3, value3) {

                    $(value3).find("select").each(function (key1, value1) {

                        var numRep = arr.filter(function (item) { return item === $(value1).val(); }).length
                        if (numRep > 1) {

                            if (count > 0) {
                                $(value1).prop('selectedIndex', 0);
                            }
                            count++;
                        }


                    });

                });

            });

            if ($(this).valid()) {
                $.post($(this).attr("action"), $(this).serialize(), function (result) {

                    if (result.valido) {

                        var trOptional = $(".tbOpcional").find("tr").first().clone();

                        var i = +$(".tbOpcional").find("tbody").get(0).childElementCount;
                        i = i - 2;

                        trOptional.find("input").each(function (key, value) {

                            if (key == 0) {
                                $(value).val(result.id);
                                $(value).attr('id', 'MenuDishOptionalList_' + i + '__IdMenuDishOptional')
                                        .attr('name', 'MenuDishOptionalList[' + i + '].IdMenuDishOptional');
                            } else if (key == 1) {
                                $(value).val($("#NameOp").val());
                                $(value).attr('id', 'MenuDishOptionalList_' + i + '__Name')
                                        .attr('name', 'MenuDishOptionalList[' + i + '].Name');
                            } else if (key == 2) {
                                $(value).val($("#DescriptionOp").val());
                                $(value).attr('id', 'MenuDishOptionalList_' + i + '__Description')
                                        .attr('name', 'MenuDishOptionalList[' + i + '].Description');

                            } else if (key == 3) {
                                $(value).val($("#ValueOp").val());
                                $(value).attr('id', 'MenuDishOptionalList_' + i + '__Value')
                                        .attr('name', 'MenuDishOptionalList[' + i + '].Value');

                            } else if (key == 4) {
                                $(value).val($("#OrderOp").val());
                                $(value).attr('id', 'MenuDishOptionalList_' + i + '__Order')
                                        .attr('name', 'MenuDishOptionalList[' + i + '].Order');

                            }
                        });

                        trOptional.find("td").find("a").each(function (key, value) {
                            var href = $(value).attr("href");

                            $(value).attr("href", href + result.id)

                        });

                        $("#divLink").dialog('close')
                        showMessage("Adicionado novo Opcional", "ATENÇÃO", "warning")
                        $(".tbOpcional").append(trOptional.show());



                    } else {
                        console.log("aqui edit");
                        if (result.errorMessage != null && !result.errorMessage == "") {
                            $(".errorMessage1").html(result.errorMessage)
                            showMessage(result.errorMessage, "ATENÇÃO", "warning")
                        } else {
                            $(".errorMessage1").html("Houve falhas ao adicionar, Verifique os campos e tente novamente")
                            showMessage("Houve falhas ao adicionar, Verifique os campos e tente novamente", "ATENÇÃO", "warning")
                        }
                        
                        $(".errorMessage1").show();
                    }

                })
            }
        });

    });

</script>