﻿@model Yum.Delivery.Model.MenuDomain.MenuDishOptional

@{
    ViewBag.Title = "Apagar";
    var i = 0;
}
@section Scripts {
    @*Insira todos os códigos javascript aqui*@
}

<fieldset class= "details">
    @Html.ValidationSummary(true)
    <h3>@Resources.ViewLabelNameStrings.SureToDelete</h3>
    <hr />

    <div>
        <span class="display-label">@Html.LabelFor(model => model.Name)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Description)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Description)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Value)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Value)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Order)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Order)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IntegrationCode)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IntegrationCode)
        </span>
    </div>
    <br />
    <p>Previa da lista de itens opcionais</p>
    <hr />

        @if (Model.MenuDishOptionalItemList != null && Model.MenuDishOptionalItemList.Count > 0)
        {


            
                <div>
                    <span class="display-label">@Html.LabelFor(model => model.MenuDishOptionalItemList[i].Name)</span>
                    <span class="display-field">
                        @Html.DisplayFor(model => model.MenuDishOptionalItemList[i].Name)
                    </span>
                </div>

    <div>
        <span class="display-label">@Html.LabelFor(model => model.MenuDishOptionalItemList[i].Description)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuDishOptionalItemList[i].Description)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.MenuDishOptionalItemList[i].Order)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuDishOptionalItemList[i].Order)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.MenuDishOptionalItemList[i].Value)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuDishOptionalItemList[i].Value)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.MenuDishOptionalItemList[i].IntegrationCode)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuDishOptionalItemList[i].IntegrationCode)
        </span>
    </div>

              
            
        }

    @Html.HiddenFor(model => model.UniqueId, new { value = Model != null ? Model.UniqueId : null})
</fieldset>
