﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishOptionalViewModel
@{
    ViewBag.Title = "Edição";

}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "MenuDishOptionalForm");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Edit", "MenuDishOptional", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{

    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            @Html.HiddenFor(model => model.IdMenuDishOptional)
            @Html.HiddenFor(model => model.IdMenuDish, new { @id = "IdMenuDishOp", @readonly = "readonly" })
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.TextBoxFor(model => model.Name, new { @id = "NameOp" })
                    @Html.ValidationMessageFor(model => model.Name)
                }
                else
                {
                    @Html.TextBoxFor(model => model.NameReadOnly, new { @id = "NameOp", @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Name)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.TextAreaFor(model => model.Description, new { @id = "DescriptionOp" })
                    @Html.ValidationMessageFor(model => model.Description)
                }
                else
                {
                    @Html.TextAreaFor(model => model.DescriptionReadOnly, new { @id = "DescriptionOp", @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Description)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Value)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit) || User.IsInRole(UserPermission.MenuDishValueEdit))
                {
                    @Html.TextBoxFor(model => model.Value, "{0:N}", new { @class = "interval-value", @id = "ValueOp" })
                    @Html.ValidationMessageFor(model => model.Value)
                }
                else
                {
                    @Html.TextBoxFor(model => model.ValueReadOnly, "{0:N}", new { @id = "ValueOp", @class = "interval-value", @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Value)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Order)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.TextBoxFor(model => model.Order, new { @class = "numeric", @id = "OrderOp" })
                    @Html.ValidationMessageFor(model => model.Order)
                }
                else
                {
                    @Html.TextBoxFor(model => model.OrderReadOnly, new { @id = "OrderOp", @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Order)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MinimumOptionalItems)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.MinimumOptionalItems)
                    @Html.ValidationMessageFor(model => model.MinimumOptionalItems)
                }
                else
                {
                    @Html.TextBoxFor(model => model.MinimumOptionalItemsReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.MinimumOptionalItems)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MaximumOptionalItems)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.MaximumOptionalItems)
                    @Html.ValidationMessageFor(model => model.MaximumOptionalItems)
                }
                else
                {
                    @Html.TextBoxFor(model => model.MaximumOptionalItemsReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.MaximumOptionalItems)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PerOptionalItemMinimum)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.PerOptionalItemMinimum)
                    @Html.ValidationMessageFor(model => model.PerOptionalItemMinimum)
                }
                else
                {
                    @Html.TextBoxFor(model => model.PerOptionalItemMinimumReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.PerOptionalItemMinimum)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PerOptionalItemMaximum)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.PerOptionalItemMaximum)
                    @Html.ValidationMessageFor(model => model.PerOptionalItemMaximum)
                }
                else
                {
                    @Html.TextBoxFor(model => model.PerOptionalItemMaximumReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.PerOptionalItemMaximum)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IntegrationCode)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.IntegrationCode)
                    @Html.ValidationMessageFor(model => model.IntegrationCode)
                }
                else
                {
                    @Html.TextBoxFor(model => model.IntegrationCodeReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.IntegrationCode)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdMenuAttributeType)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.DropDownListFor(model => model.IdMenuAttributeType, new List<SelectListItem>(), new { @id = "IdMenuAttributeTypeOp", @data_selected = Model.IdMenuAttributeType })
                    @Html.ValidationMessageFor(model => model.IdMenuAttributeType)
                }
                else
                {
                    @Html.DropDownListFor(model => model.IdMenuAttributeTypeReadOnly, new List<SelectListItem>(), new { @id = "IdMenuAttributeTypeOp", @data_selected = Model.IdMenuAttributeTypeReadOnly, @disabled = "disabled" })
                    @Html.HiddenFor(model => model.IdMenuAttributeType)
                }
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li id="optionalProductsCode">
                <label class="field-title">
                    @Html.LabelFor(model => model.MenuDishOptionalProductCodeList)
                </label>
                @{ var productOptionalCodeCount = 0;
                    var px = "0px";}
                @if (Model != null && Model.MenuDishOptionalProductCodeList != null && Model.MenuDishOptionalProductCodeList.Count > 0)
                {
                    foreach (var menuDishOptionalProductCode in Model.MenuDishOptionalProductCodeList)
                    {
                        <div style="margin-left:@px; margin-top:5px;">
                            @if (User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                @Html.DropDownList("MenuDishOptionalProductCodeList[" + @productOptionalCodeCount + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalProductCode", @data_selected = menuDishOptionalProductCode.IdProductCode })
                                <a class="table-delete-link rem-opc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            }
                            else
                            {
                                @Html.DropDownList("MenuDishOptionalProductCodeList[" + @productOptionalCodeCount + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalProductCode", @data_selected = menuDishOptionalProductCode.IdProductCode, @data_disabled = "true" })
                                <input type="hidden" name="MenuDishOptionalProductCodeList[@productOptionalCodeCount].IdProductCode" value="@menuDishOptionalProductCode.IdProductCode" />
                            }

                            <input type="hidden" name="MenuDishOptionalProductCodeList[@productOptionalCodeCount].IdMenuDishOptionalProductCode" value="@menuDishOptionalProductCode.IdMenuDishOptionalProductCode">
                            <input type="hidden" name="MenuDishOptionalProductCodeList[@productOptionalCodeCount].IdMenuDishOptional" value="@menuDishOptionalProductCode.IdMenuDishOptional">
                            <span class="clearFix">&nbsp;</span>
                        </div>px = "160px";
                        productOptionalCodeCount++;
                    }
                }
                <div style="margin-left:@px; margin-top:5px;">
                    @if (User.IsInRole(UserPermission.MenuDishEdit))
                    {
                        @Html.DropDownList("MenuDishOptionalProductCodeList[" + @productOptionalCodeCount + "].IdProductCode", new List<SelectListItem>(), new { @data_selected = "", @class = "IdMenuDishOptionalProductCode" })
                        <a style="margin-left:5px;" title="Adicionar produto" class="add-link add-opc" href="#"></a>
                        <a class="table-delete-link rem-opc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    }
                    else
                    {
                        @Html.DropDownList("MenuDishOptionalProductCodeList[" + @productOptionalCodeCount + "].IdProductCode", new List<SelectListItem>(), new { @data_selected = "", @class = "IdMenuDishOptionalProductCode", @data_disabled = "true" })
                        <input type="hidden" name="MenuDishOptionalProductCodeList[@productOptionalCodeCount].IdProductCode"/>
                    }
                   
                    <input type="hidden" name="MenuDishOptionalProductCodeList[@productOptionalCodeCount].IdMenuDishOptional" value="@Model.IdMenuDishOptional">
                    <span class="clearFix">&nbsp;</span>
                </div>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.HideByRestriction)
                </label>
                @if (User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.HideByRestriction)
                    @Html.ValidationMessageFor(model => model.HideByRestriction)
                }
                else
                {
                    @Html.CheckBoxFor(model => model.HideByRestrictionReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.HideByRestriction)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
    <fieldset>
        <br /><br />
        @{
            var i = 0;
            px = "0px";
        }
        <h3>
            @Html.LabelFor(model => model.MenuDishOptionalItemList)
            @if (User.IsInRole(UserPermission.MenuDishEdit))
            {
                <a class="add-link add-optionalItem" title="Adicionar Novo Item Opcional" href="javascript:void(0);"></a>
            }
        </h3>
        <hr style="color: #618895; background-color: #618895; height: 3px; border:0;" />
        <div class="optionalItem">
            @if (Model.MenuDishOptionalItemList != null && Model.MenuDishOptionalItemList.Count > 0)
            {
                foreach (var item in Model.MenuDishOptionalItemList)
                {
                    var y = 0;
                    <ol class="rowItem">
                        <li>
                            <label class="field-title">
                                Nome*
                            </label>
                            @Html.Hidden("MenuDishOptionalItemList[" + i + "].IdMenuDishOptionalItem", item.IdMenuDishOptionalItem)
                            @if (User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                @Html.TextBox("MenuDishOptionalItemList[" + i + "].Name", item.Name, new { @style = "width:310px" })
                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Name")
                                <a class="rem-optionalItem table-delete-link" title="Excluir Item Opcional" style="margin-left:5px ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            }
                            else
                            {
                                @Html.TextBox("MenuDishOptionalItemListReadOnly[" + i + "].Name", item.Name, new { @style = "width:310px", @disabled = "disabled" })
                                @Html.Hidden("MenuDishOptionalItemList[" + i + "].Name", item.Name)
                            }
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Descrição
                            </label>
                            @if (User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                @Html.TextArea("MenuDishOptionalItemList[" + i + "].Description", item.Description)
                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Description")
                            }
                            else
                            {
                                @Html.TextArea("MenuDishOptionalItemListReadOnly[" + i + "].Description", item.Description, new { @disabled = "disabled" })
                                @Html.Hidden("MenuDishOptionalItemList[" + i + "].Description", item.Description)
                            }
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Ordem*
                            </label>
                            @if (User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                @Html.TextBox("MenuDishOptionalItemList[" + i + "].Order", item.Order, new { @class = "numeric" })
                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Order")
                            }
                            else
                            {
                                @Html.TextBox("MenuDishOptionalItemListReadOnly[" + i + "].Order", item.Order, new { @class = "numeric", @disabled = "disabled" })
                                @Html.Hidden("MenuDishOptionalItemList[" + i + "].Order", item.Order)
                            }
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Valor*
                            </label>
                            @if (User.IsInRole(UserPermission.MenuDishEdit) || User.IsInRole(UserPermission.MenuDishValueEdit))
                            {
                                @Html.TextBox("MenuDishOptionalItemList[" + i + "].Value", item.Value, "{0:N}", new { @class = "interval-value" })
                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Value")
                            }
                            else
                            {
                                @Html.TextBox("MenuDishOptionalItemListReadOnly[" + i + "].Value", item.Value, "{0:N}", new { @class = "interval-value", @disabled = "disabled" })
                                @Html.Hidden("MenuDishOptionalItemList[" + i + "].Value", item.Value)
                            }
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Cod. de Integração:
                            </label>
                            @if (User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                @Html.TextBox("MenuDishOptionalItemList[" + i + "].IntegrationCode", item.IntegrationCode)
                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].IntegrationCode")
                            }
                            else
                            {
                                @Html.TextBox("MenuDishOptionalItemListReadOnly[" + i + "].IntegrationCode", item.IntegrationCode, new { @disabled = "disabled" })
                                @Html.Hidden("MenuDishOptionalItemList[" + i + "].IntegrationCode", item.IntegrationCode)
                            }
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li>
                            <label class="field-title">
                                Tipo*
                            </label>
                            @{
                                var select1 = Model.MenuDishOptionalItemList[i].IdMenuAttributeType.ToString();
                            }
                            @if (User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                @Html.DropDownList("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType", new List<SelectListItem>(), new { @class = "IdMenuAttributeTypeOpI", @data_selected = select1 })
                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType")
                            }
                            else
                            {
                                @Html.DropDownList("MenuDishOptionalItemListReadOnly[" + i + "].IdMenuAttributeType", new List<SelectListItem>(), new { @class = "IdMenuAttributeTypeOpI", @data_selected = select1, @disabled = "disabled" })
                                @Html.Hidden("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType", item.IdMenuAttributeType)
                            }
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <li id="optionalItemProductsCode">
                            <label class="field-title">
                                Produtos
                            </label>
                            @if (item.MenuDishOptionalItemProductCodeList != null)
                            {
                                px = "0px";
                                y = 0;
                                foreach (var menuDishOptionalItemProductCode in item.MenuDishOptionalItemProductCodeList)
                                {
                                    <div style="margin-top:5px; margin-left:@px">
                                        @if (User.IsInRole(UserPermission.MenuDishEdit))
                                        {
                                            @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemProductCodeList[" + y + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemProductCode", @data_selected = menuDishOptionalItemProductCode.IdProductCode })
                                            <a class="table-delete-link rem-oipc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        }
                                        else
                                        {
                                            @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemProductCodeList[" + y + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemProductCode", @data_selected = menuDishOptionalItemProductCode.IdProductCode, @data_disabled = "true" })
                                            <input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemProductCodeList[@y].IdProductCode" value="@menuDishOptionalItemProductCode.IdProductCode">
                                        }

                                        <input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemProductCodeList[@y].IdMenuDishOptionalItemProductCode" value="@menuDishOptionalItemProductCode.IdMenuDishOptionalItemProductCode">
                                        <input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemProductCodeList[@y].IdMenuDishOptionalItem" value="@menuDishOptionalItemProductCode.IdMenuDishOptionalItem">
                                    </div>
                                    px = "160px";
                                    y++;
                                }
                            }
                            <div style="margin-top:5px; margin-left:@px">
                                @if (User.IsInRole(UserPermission.MenuDishEdit))
                                {
                                    @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemProductCodeList[" + y + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemProductCode", @data_selected = "" })
                                    <a style="margin-left:5px;" title="Adicionar produto" class="add-link add-oipc" href="#"></a>
                                    <a class="table-delete-link rem-oipc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                }
                                else
                                {
                                    @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemProductCodeList[" + y + "].IdProductCode", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemProductCode", @data_selected = "", @data_disabled = "true" })
                                    <input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemProductCodeList[@y].IdProductCode" value="" />
                                }

                                <input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemProductCodeList[@y].IdMenuDishOptionalItem" value="@item.IdMenuDishOptionalItem">
                            </div>
                        </li>
                        <li class="lirestriction">
                            <label class="field-title">
                                Restrição
                            </label>
                            @{ y = 0; }
                            @if (item.MenuDishOptionalItemRestrictionList != null)
                            {
                                foreach (var item2 in item.MenuDishOptionalItemRestrictionList)
                                {
                                    <div style="margin-left:@px">
                                        @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemRestrictionList[" + y + "].IdMenuDishOptionalItemOfRestriction", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemOfRestriction", @data_selected = item2.IdMenuDishOptionalItemOfRestriction, @data_idmenudishoptionalitem = item.IdMenuDishOptionalItem, @disabled = "disabled" })
                                        @if (User.IsInRole(UserPermission.MenuDishEdit))
                                        {
                                            <a class="rem-ljmn table-delete-link" title="Remover Restrição ao Item Opcional" style="margin-left:5px ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                        }
                                        <input type="hidden" name="MenuDishOptionalItemList[@i].MenuDishOptionalItemRestrictionList[@y].IdMenuDishOptionalItemOfRestriction" value="@item2.IdMenuDishOptionalItemOfRestriction">
                                    </div>
                                    px = "160px";
                                    y++;
                                }
                            }

                            @if (User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                <div style="margin-top: 5px; margin-left:@px;">
                                    @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemRestrictionList[" + y + "].IdMenuDishOptionalItemOfRestriction", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemOfRestriction", @data_selected = "", @data_idmenudishoptionalitem = item.IdMenuDishOptionalItem })
                                    <a style="margin-left:5px" class="add-link add-ljmn" title="Adicionar Restrição ao Item Opcional" href="#"></a>
                                    <a class="rem-ljmn table-delete-link" title="Remover Restrição ao Item Opcional" style="margin-left:5px ;display:none ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                </div>
                            }
                            else
                            {
                                if (item.MenuDishOptionalItemRestrictionList != null)
                                {
                                    if (item.MenuDishOptionalItemRestrictionList.Count() == 0)
                                    {
                                        @Html.DropDownList("MenuDishOptionalItemListReadOnly[" + i + "]", new List<SelectListItem>(), new { @disabled = "disabled" })
                                        @Html.Hidden("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemRestrictionList[0].IdMenuDishOptionalItemOfRestriction", "")
                                    }
                                }
                            }
                        </li>
                        <li>
                            <label class="field-title">
                                Inativo
                            </label>
                            @if (User.IsInRole(UserPermission.MenuDishEdit) || User.IsInRole(UserPermission.MenuDishActivateInactivate))
                            {
                                @Html.CheckBox("MenuDishOptionalItemList[" + i + "].Disabled", item.Disabled)
                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Disabled")
                            }
                            else
                            {
                                @Html.CheckBox("MenuDishOptionalItemListReadOnly[" + i + "].Disabled", item.Disabled, new { @disabled = "disabled" })
                                @Html.Hidden("MenuDishOptionalItemList[" + i + "].Disabled", item.Disabled)
                            }
                            <span class="clearFix">&nbsp;</span>
                        </li>
                        <br />
                        <hr style="color: #618895; background-color: #618895; height: 3px; border:0;" />
                    </ol>

                                        i++;
                                    }
                                }
                                else
                                {
                                    if (User.IsInRole(UserPermission.MenuDishEdit))
                                    {
                                        <ol class="rowItem">
                                            <li>
                                                <label class="field-title">
                                                    Nome*
                                                </label>
                                                @Html.Hidden("MenuDishOptionalItemList[" + i + "].IdMenuDishOptionalItem")
                                                @Html.TextBox("MenuDishOptionalItemList[" + i + "].Name", "", new { @style = "width:310px" })
                                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Name")
                                                <a class="rem-optionalItem table-delete-link" title="Excluir Item Opcional" style="margin-left:5px ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                <span class="clearFix">&nbsp;</span>
                                            </li>
                                            <li>
                                                <label class="field-title">
                                                    Descrição
                                                </label>
                                                @Html.TextArea("MenuDishOptionalItemList[" + i + "].Description")
                                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Description")
                                                <span class="clearFix">&nbsp;</span>
                                            </li>
                                            <li>
                                                <label class="field-title">
                                                    Ordem*
                                                </label>
                                                @Html.TextBox("MenuDishOptionalItemList[" + i + "].Order", "", new { @class = "numeric" })
                                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Order")
                                                <span class="clearFix">&nbsp;</span>
                                            </li>
                                            <li>
                                                <label class="field-title">
                                                    Valor*
                                                </label>
                                                @Html.TextBox("MenuDishOptionalItemList[" + i + "].Value", "", "{0:N}", new { @class = "interval-value" })
                                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Value")
                                                <span class="clearFix">&nbsp;</span>
                                            </li>
                                            <li>
                                                <label class="field-title">
                                                    Cod. de Integração:
                                                </label>
                                                @Html.TextBox("MenuDishOptionalItemList[" + i + "].IntegrationCode", "")
                                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].IntegrationCode")
                                                <span class="clearFix">&nbsp;</span>
                                            </li>
                                            <li>
                                                <label class="field-title">
                                                    Tipo*
                                                </label>
                                                @Html.DropDownList("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType", new List<SelectListItem>(), new { @class = "IdMenuAttributeTypeOpI", @data_selected = "" })
                                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].IdMenuAttributeType")
                                                <span class="clearFix">&nbsp;</span>
                                            </li>
                                            <li id="optionalItemProductsCode">
                                                <label class="field-title">
                                                    Produtos
                                                </label>
                                                <div style="margin-top:5px;">
                                                    @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemProductCodeList[0].IdProductCode", new List<SelectListItem>(), new { @data_selected = "", @class = "IdMenuDishOptionalItemProductCode" })
                                                    <a style="margin-left:5px;" title="Adicionar produto" class="add-link add-oipc" href="#"></a>
                                                    <a class="table-delete-link rem-oipc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                    <span class="clearFix">&nbsp;</span>
                                                </div>
                                            </li>
                                            <li class="lirestriction">
                                                <label class="field-title">
                                                    Restrição
                                                </label>
                                                <div>
                                                    @Html.DropDownList("MenuDishOptionalItemList[" + i + "].MenuDishOptionalItemRestrictionList[" + 0 + "].IdMenuDishOptionalItemOfRestriction", new List<SelectListItem>(), new { @class = "IdMenuDishOptionalItemOfRestriction", @data_selected = "" })
                                                    <a style="margin-left:5px" class="add-link add-ljmn" href="#"></a>
                                                    <a class="rem-ljmn table-delete-link" style="margin-left:5px ;display:none ;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                                                </div>
                                                <span class="clearFix">&nbsp;</span>
                                            </li>
                                            <li>
                                                <label class="field-title">
                                                    Inativo
                                                </label>
                                                @Html.CheckBox("MenuDishOptionalItemList[" + i + "].Disabled", false)
                                                @Html.ValidationMessage("MenuDishOptionalItemList[" + i + "].Disabled")
                                                <span class="clearFix">&nbsp;</span>
                                            </li>
                                            <br />
                                            <hr style="color: #618895; background-color: #618895; height: 3px; border:0;" />
                                        </ol>
                                    }
                                }
        </div>
        <ol>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" /><br />
                <span class="clearFix">&nbsp;</span> <div class="errorMessage1" style="display: none"></div>
            </li>
        </ol>
        @Html.HiddenFor(model => model.UniqueId, new { value = Model != null ? Model.UniqueId : null })
    </fieldset>
                                }
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/View/MenuDish/MenuDishOptional.js"></script>
<script>
    $(document).ready(function () {
        MaskApply();
        LoadRestriction();
        loadOptionalProductCode();
        loadOptionalItemProductCode();

        $('#MenuDishOptionalForm').validate();

        $('#MenuDishOptionalForm').submit(function (e) {
            e.preventDefault();
            var $li = $(".lirestriction");
            $li.each(function (key, value) {
                var arr = new Array();
                $(value).find("div").each(function (key3, value3) {
                    $(value3).find("select").each(function (key1, value1) {
                        arr.push($(value1).val());
                    });
                });

                var count = 0;
                $(value).find("div").each(function (key3, value3) {
                    $(value3).find("select").each(function (key1, value1) {
                        var numRep = arr.filter(function (item) { return item === $(value1).val(); }).length
                        if (numRep > 1) {
                            if (count > 0) {
                                $(value1).prop('selectedIndex', 0);
                            }
                            count++;
                        }
                    });
                });
            });

            if ($(this).valid()) {
                $.post($(this).attr("action"), $(this).serialize(), function (result) {
                    if (result.valido) {
                        $(".idOptionalItem").each(function (key, value) {
                            var valor = +$(value).val()
                            if (valor === result.id) {
                                $(value).closest("td").closest("tr").find("input").each(function (key1, value1) {
                                    if (key1 == 0) {
                                        $(value1).val(result.id);
                                    } else if (key1 == 1) {
                                        $(value1).val($("#NameOp").val());
                                    } else if (key1 == 2) {
                                        $(value1).val($("#DescriptionOp").val());
                                    } else if (key1 == 3) {
                                        $(value1).val($("#ValueOp").val());
                                    } else if (key1 == 4) {
                                        $(value1).val($("#OrderOp").val());
                                    }
                                });

                                return false;
                            }
                        });

                        $("#divLink").dialog('close');
                        showMessage("Opcional Atualizado", "ATENÇÃO", "warning");
                    } else {
                        if (result.errorMessage != null && !result.errorMessage == "") {
                            $(".errorMessage1").html(result.errorMessage)
                            showMessage(result.errorMessage, "ATENÇÃO", "warning")
                        } else {
                            if (result.customMessage == null || result.customMessage == "") {
                                $(".errorMessage1").html("Houve falhas ao adicionar, Verifique os campos e tente novamente")
                                showMessage("Houve falhas ao adicionar, Verifique os campos e tente novamente", "ATENÇÃO", "warning")
                            } else {
                                $(".errorMessage1").html(result.customMessage)
                                showMessage(result.customMessage, "ATENÇÃO", "warning")
                            }
                        }

                        $(".errorMessage1").show();
                    }
                });
            }
        });

        $("#divLink").on("scroll", function () {
            $(".ui-menu.ui-widget.ui-widget-content.ui-autocomplete.ui-front").hide();
        });
    });
</script>