﻿@model Yum.Delivery.Model.SecurityDomain.BOGroup

@{
    ViewBag.Title = "Novo Grupo";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#todosCheckBox").change(function () {
                $("input[name='selectedRoles']").each(function () {
                    $(this).prop("checked", $("#todosCheckBox").is(":checked"))
                });
            });
        });
    </script>
}

@using (Html.BeginForm("CreateGroup", "BOAccount", FormMethod.Post, new { @class = "middle-forms" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li class="frm-separation">
                <h3>Informação do Grupo</h3>
                <hr />
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.Name)
                </label>
                <label>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>

        <h3 style="margin: 15px;">
            Permissões - Selecionar Todos
            <input type="checkbox" id="todosCheckBox" />
        </h3>
        <hr />
        <ol>
            <li>
                <table class="table-long">
                    <thead>
                        <tr>
							<th style="width: 60%;">
								Permissão
							</th>
							<th style="width: 8%;">
								Listar
							</th>
							<th style="width: 8%;">
								Criar
							</th>
							<th style="width: 8%;">
								Editar
							</th>
							<th style="width: 8%;">
								Excluir
							</th>
							<th style="width: 8%;">
								Ativar/Inativar
							</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
    IEnumerable<string> selectedRoles = ViewBag.SelectedRoles as IEnumerable<string>;
                        }
                        @foreach (var userPermission in UserPermission.AllRoles)
                        {
                            if (!userPermission.IsSpecialPermission)
                            {
                                <tr>
                                    <td>
                                        @userPermission.Entity
                                    </td>
                                    <td>
                                        @if (userPermission.HasListPermission)
                                        {
                                            <input type="checkbox" name="selectedRoles" value="@userPermission.ListPermission" @(selectedRoles.Contains(userPermission.ListPermission) ? "checked" : "") />
                                        }
                                    </td>
                                    <td>
                                        @if (userPermission.HasCreatePermission)
                                        {
                                            <input type="checkbox" name="selectedRoles" value="@userPermission.CreatePermission" @(selectedRoles.Contains(userPermission.CreatePermission) ? "checked" : "") />
                                        }
                                    </td>
                                    <td>
                                        @if (userPermission.HasEditPermission)
                                        {
                                            <input type="checkbox" name="selectedRoles" value="@userPermission.EditPermission" @(selectedRoles.Contains(userPermission.EditPermission) ? "checked" : "") />
                                        }
                                    </td>
                                    <td>
                                        @if (userPermission.HasDeletePermission)
                                        {
                                            <input type="checkbox" name="selectedRoles" value="@userPermission.DeletePermission" @(selectedRoles.Contains(userPermission.DeletePermission) ? "checked" : "") />
                                        }
                                    </td>
									<td>
										@if (userPermission.HasActivateInactivatePermission)
										{
											<input type="checkbox" name="selectedRoles" value="@userPermission.ActivateInactivatePermission" @(selectedRoles.Contains(userPermission.ActivateInactivatePermission) ? "checked" : "") />
										}
									</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </li>
        </ol>
        <h3 style="margin: 15px;">
            Permissões Especiais
        </h3>
        <hr />
        <ol>
            <li>
                <table class="table-long">
                    <thead>
                        <tr>
                            <th>
                                Permissão
                            </th>
							<th>
								Permite?
							</th>
                        </tr>
                    </thead>
					<tbody>
						@foreach (var userPermission in UserPermission.AllRoles)
						{
							if (userPermission.IsSpecialPermission)
							{
								<tr>
									<td>
										@userPermission.Entity
									</td>
									<td>
										<input type="checkbox" name="selectedRoles" value="@userPermission.SpecialPermission" @(selectedRoles.Contains(userPermission.SpecialPermission) ? "checked" : "") />
									</td>
								</tr>
							}
						}
					</tbody>
                </table>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Create" />
                <a href="@Url.Action("GroupIndex", "BOAccount")" class="button">@Resources.ViewLabelNameStrings.BackToList</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}
