﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RegisterModel

@{
    ViewBag.Title = "Novo Usuário";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/View/BOAccount/UserRestaurant.js")" type="text/javascript"></script>
}


@using (Html.BeginForm("Create", "BOAccount", FormMethod.Post, new { @class = "middle-forms", @id = "CreateUserForm" }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li class="frm-separation">
                <h3>Informação da Conta</h3>
                <hr />
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.UserName)
                </label>
                <label>
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>


            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.Email)
                </label>
                <label>
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.Password)
                </label>
                <label>
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </label>
                <label>
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.IsApproved)
                </label>
                <label>
                    @Html.CheckBoxFor(m => m.IsApproved)
                    @Html.ValidationMessageFor(m => m.IsApproved)
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
        <ol id="Lojas">
            @{ int i = 1; }

            <li class="@i frm-separation">
                <h3>Lojas <a href="#Adicionais" class="add-link" id="linkLojas" title="Adicionar">&nbsp;</a></h3>
                <hr />
            </li>
            <span class="field-validation-error" style="display: none" id="restaurantSelectValidation">Selecione no mínimo 1 loja.</span>
            <li class="@i">
                @Html.DropDownList("selectedRestaurants", ViewBag.RestaurantList as IEnumerable<SelectListItem>, @Resources.ViewLabelNameStrings.Select)
                @Html.ValidationMessage("selectedRestaurants")
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
        <h3>
            Grupos - Selecionar Todos
            <input type="checkbox" id="todosCheckBox" />
        </h3>
        <hr />
        <ol>
            <li>
                @{
             IEnumerable<Yum.Delivery.Model.SecurityDomain.BOGroup> groups = ViewBag.Groups as IEnumerable<Yum.Delivery.Model.SecurityDomain.BOGroup>;
             IEnumerable<int> selectedGroups = ViewBag.SelectedGroups as IEnumerable<int>;
             int count = 1;
                }

                @foreach (Yum.Delivery.Model.SecurityDomain.BOGroup group in groups)
                {
                    if (count++ % 4 == 0)
                    {
                        <br />
                    }

                    if (selectedGroups.Contains(group.IdBOGroup))
                    {
                        <input type="checkbox" name="selectedGroups" value="@group.IdBOGroup" checked="checked" /> @group.Name
                    }
                    else
                    {
                        <input type="checkbox" name="selectedGroups" value="@group.IdBOGroup" />@group.Name
                    }
                }
            </li>

            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Create" />
                <a href="@Url.Action("Index", "BOAccount")" class="button">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}
