﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.BOGroupViewModel

@{
    ViewBag.Title = "Detalhes do Grupo";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

<fieldset class="details">
    <h2 class="details-title">Detalhes do Grupo</h2>
    <div></div>
    <hr />
    <div>
        <span class="display-label">Nome </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Name)
        </span>
    </div>
    <div>
        <span class="display-label">Permissões </span>
        <span class="display-field">
            <table class="table-short">
                <thead>
                    <tr>
                        <th>
                            Permissão
                        </th>
                        <th>
                            Listar
                        </th>
                        <th>
                            Criar
                        </th>
                        <th>
                            Editar
                        </th>
                        <th>
                            Excluir
                        </th>
                        <th>
                            Ativar/Inativar
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        IEnumerable<string> selectedRoles = ViewBag.SelectedRoles as IEnumerable<string>;
                    }
                    @foreach (var up in UserPermission.AllRoles)
                    {
                        <tr>
                            <td>
                                @up.Entity
                            </td>
                            <td>
                                @if (up.HasListPermission)
                                {
                                    <input disabled type="checkbox" name="selectedRoles" value="@up.ListPermission" @(selectedRoles.Contains(up.ListPermission) ? "checked" : "") />
                                }
                                else if (up.IsSpecialPermission)
                                {
                                    <input disabled type="checkbox" name="selectedRoles" value="@up.SpecialPermission" @(selectedRoles.Contains(up.SpecialPermission) ? "checked" : "") />
                                }
                            </td>
                            <td>
                                @if (up.HasCreatePermission)
                                {
                                    <input disabled type="checkbox" name="selectedRoles" value="@up.CreatePermission" @(selectedRoles.Contains(up.CreatePermission) ? "checked" : "") />
                                }
                            </td>
                            <td>
                                @if (up.HasEditPermission)
                                {
                                    <input disabled type="checkbox" name="selectedRoles" value="@up.EditPermission" @(selectedRoles.Contains(up.EditPermission) ? "checked" : "") />
                                }
                            </td>
                            <td>
                                @if (up.HasDeletePermission)
                                {
                                    <input disabled type="checkbox" name="selectedRoles" value="@up.DeletePermission" @(selectedRoles.Contains(up.DeletePermission) ? "checked" : "") />
                                }
                            </td>
                            <td>
                                @if (up.HasActivateInactivatePermission)
                                {
                                    <input disabled type="checkbox" name="selectedRoles" value="@up.ActivateInactivatePermission" @(selectedRoles.Contains(up.ActivateInactivatePermission) ? "checked" : "") />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </span>
    </div>
</fieldset>
<br />
<p>
    @if (Roles.IsUserInRole(UserPermission.GroupEdit))
    {
        @Html.ActionLink(Resources.ViewLabelNameStrings.Edit, "EditGroup", new { id = Model.IdBOGroup }, new { @class = "button" })
    }
    <a href="@Url.Action("GroupIndex")" class="button">@Resources.ViewLabelNameStrings.BackToList</a>
</p>
