﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RegisterModel

@{
    ViewBag.Title = "Editar Usuário";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/View/BOAccount/UserRestaurant.js")" type="text/javascript"></script>
}

@using (Html.BeginForm("Edit", "BOAccount", FormMethod.Post, new { @class = "middle-forms", @id="EditUserForm" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserName)
    @Html.Hidden("Password", "validationMock")
    @Html.Hidden("ConfirmPassword", "validationMock")
    <fieldset>
        <ol>
            <li class="frm-separation"><h3>Editar Usuário</h3><hr /></li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.Email)
                </label> 
                <label>
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(m => m.IsApproved)
                </label> 
                <label>
                    @Html.CheckBoxFor(m => m.IsApproved)
                    @Html.ValidationMessageFor(m => m.IsApproved)
                </label>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
        <ol id="Lojas">
            @{ int i = 1; }

            <li class="@i frm-separation">
                <h3>Lojas <a href="#Adicionais" class="add-link" id="linkLojas" title="Adicionar">&nbsp;</a></h3>
                <hr />
            </li>
            <span class="field-validation-error" style="display: none" id="restaurantSelectValidation">Selecione no mínimo 1 loja.</span>

            @{ 
                List<SelectListItem> loggedUserRestaurantList = ViewBag.RestaurantList as List<SelectListItem>;
                List<long> selectedRestaurantList = ViewBag.SelectedRestaurantList as List<long>;
            

                if (selectedRestaurantList.NullOrEmpty())
                {
                    <li class="@i">
                        @Html.DropDownList("selectedRestaurants", loggedUserRestaurantList, @Resources.ViewLabelNameStrings.Select)
                        @Html.ValidationMessage("selectedRestaurants")
                        <span class="clearFix">&nbsp;</span>
                    </li>
                }
                else
                { 
                    foreach (long idRestaurant in selectedRestaurantList)
                    {
                        var list = loggedUserRestaurantList;

                        list.ForEach(item => item.Selected = false);
                        
                        list.FirstOrDefault(r => r.Value == idRestaurant.ToString()).Selected = true;

                        if (i == 1)
                        {
                            <li class="@ViewBag.Field @i">
                                @Html.DropDownList("selectedRestaurants", list, @Resources.ViewLabelNameStrings.Select)
                                <span class="clearFix">&nbsp;</span>
                            </li>
                        }
                        else
                        { 
                            <li class="@ViewBag.Field @i">
                                @Html.DropDownList("selectedRestaurants", list, @Resources.ViewLabelNameStrings.Select)
                                <a href="#" onclick="event.preventDefault(); $('.@i').remove()" class="table-delete-link @i" title="Excluir"></a>
                                <span class="clearFix">&nbsp;</span>
                            </li>
                        }
                        
                        i++;
                    }
                }
            }
        </ol>
        <h3>Grupos - Selecionar Todos <input type="checkbox" id="todosCheckBox" /></h3>
        <hr />
        <ol>
            <li>
                @{
                    IEnumerable<Yum.Delivery.Model.SecurityDomain.BOGroup> groups = ViewBag.Groups as IEnumerable<Yum.Delivery.Model.SecurityDomain.BOGroup>;
                    IEnumerable<int> selectedGroups = ViewBag.SelectedGroups as IEnumerable<int>;
                    int count = 1;
                }

                @foreach (Yum.Delivery.Model.SecurityDomain.BOGroup group in groups)
                {
                    if (count++ % 4 == 0)
                    {
                        <br />
                    }

                    if (selectedGroups.Contains(group.IdBOGroup))
                    {
                        <input type="checkbox" name="selectedGroups" value="@group.IdBOGroup" checked="checked" /> @group.Name
                    }
                    else
                    {
                        <input type="checkbox" name="selectedGroups" value="@group.IdBOGroup" />@group.Name
                    }
                }
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a href="@Url.Action("Index", "BOAccount")" class="button">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
</fieldset>
}
