﻿@model IEnumerable<Yum.Delivery.Model.SecurityDomain.BOGroup>

@{
    ViewBag.Title = "Lista de Grupos";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@using (Html.BeginForm("GroupIndex", "BOAccount", FormMethod.Post, new { id = "FormSearchId", @class = "middle-forms" }))
{
    BOGroupAccountFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (BOGroupAccountFilter)ViewBag.Filter;
    }
    
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        <ol>
            <li>
                <label class="field-title">Código do Grupo: </label>@Html.TextBoxFor(filter => Filter.IdBOGroup)
            </li>
            <li>
                <label class="field-title">Nome do Grupo: </label>@Html.TextBoxFor(filter => Filter.GroupName)
            </li>
            <li>
                @{
    Html.RenderPartial("FilterButtonsUserControl", "FormSearchId");
                }
            </li>
        </ol>

    </fieldset>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.GroupCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("CreateGroup", "BOAccount", ViewBag.Routes)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}
<table class="table-long">
    <tr>
        <th>
            Código
        </th>
        <th>
            Nome
        </th>
        @if (Roles.IsUserInRole(UserPermission.GroupEdit))
        {
            <th></th>
        }
        @if (Roles.IsUserInRole(UserPermission.GroupDelete))
        {
            <th></th>
        }
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>   
        <td>
            @Html.DisplayFor(modelItem => item.IdBOGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        @if (Roles.IsUserInRole(UserPermission.GroupEdit))
        {
            <td class="table-comand">
                <a href="@Url.Action("EditGroup", new { id = @item.IdBOGroup  })" title="Editar" class="table-edit-link"></a>
            </td>
        }
        @if (Roles.IsUserInRole(UserPermission.GroupDelete))
        {
            <td class="table-comand">
                <a href="@Url.Action("DeleteGroup", new { id = @item.IdBOGroup })" title="Excluir" class="table-delete-link"></a>
            </td>
        }
        <td class="table-comand">
            <a href="@Url.Action("DetailsGroup", new { id = @item.IdBOGroup })" title="Detalhes" class="table-details-link"></a>
        </td>
    </tr>
}

</table>

<div id="detailsPage"></div>

 @{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
 }
