﻿@model IEnumerable<System.Web.Security.MembershipUser>

@using Yum.Delivery.Model.FilterDomain;

@{
    ViewBag.Title = "Lista de Usuários";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "FormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "BOAccount", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    BOUserAccountFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (BOUserAccountFilter)ViewBag.Filter;
    }

    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li><label class="field-title">Nome de Usuário: </label>@Html.TextBoxFor(filter => Filter.Name)</li>
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "FormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}
@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.UserCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", "BOAccount", ViewBag.Routes)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}
<table class="table-long">
    <tr>
        <th>Nome de Usuário</th>
        <th>Email</th>
        <th>Data de Criação</th>
        @if (Roles.IsUserInRole(UserPermission.UserEdit))
        {
            <th></th>
        }
        @if (Roles.IsUserInRole(UserPermission.UserEdit))
        {
            <th></th>
        }
        @if (Roles.IsUserInRole(UserPermission.UserDelete))
        {
            <th></th>
        }
    </tr>
    @foreach (MembershipUser user in Model)
    {
        if (ViewBag.Routes.ContainsKey("name"))
        {
            ViewBag.Routes.Remove("name");
        }
        ViewBag.Routes.Add("name", user.UserName);
        <tr>
            <td>@Html.DisplayFor(modelItem => user.UserName)</td>
            <td>@Html.DisplayFor(modelItem => user.Email)</td>
            <td>@Html.DisplayFor(modelItem => user.CreationDate)</td>
            @if (Roles.IsUserInRole(UserPermission.UserEdit))
            {
                <td class="menuContainer">
                    <a href="#">Ações</a>
                    <ul class="hoverMenu">
                        <li class="menuTitle">Menu</li>
                        @if (user.IsLockedOut)
                        {
                            <li>@Html.ActionLink("Desbloquear", "Unlock", new { name = user.UserName }, null)</li>
                        }
                        @if (user.IsLockedOut == false)
                        {
                            <li>@Html.ActionLink("Resetar Senha", "ResetPassword", new { name = user.UserName }, null)</li>
                        }
                    </ul>
                </td>
            }
            @if (Roles.IsUserInRole(UserPermission.UserEdit))
            {
                <td class="table-comand">
                    <a href="@Url.Action("Edit", new { name = user.UserName })" title="Editar" class="table-edit-link"></a>
                </td>
            }
            @if (Roles.IsUserInRole(UserPermission.UserDelete))
            {
                <td class="table-comand">
                    <a href="@Url.Action("Delete", new { name = user.UserName })" title="Excluir" class="table-delete-link"></a>
                </td>
            }
        </tr>
    }
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}
