﻿@model System.Web.Security.MembershipUser
           
@{
    ViewBag.Title = "Resetar Senha";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {}

<fieldset class="details">
    @Html.ValidationSummary(true)
    <h2 class="details-title">Resetar Senha</h2>
    <h3>Deseja realmente resetar a senha para este usuário?</h3>
    <hr />
    <div>
        <span class="display-label">Nome de Usuário</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.UserName)
        </span>
    </div>

    <div>
        <span class="display-label">Email</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Email)
        </span>
    </div>

    <div>
        <span class="display-label">Data de Criação</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.CreationDate)
        </span>
    </div>
</fieldset>
@using (Html.BeginForm("ResetPassword", "BOAccount", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, new { @class = "middle-forms" }))
{
    <fieldset>
    <ol>
        <li>
            @Html.Hidden("name", Model.UserName)
            <input type="submit" value="Resetar" />
            <a class="button" href="@Url.Action("Index", "BOAccount", ViewBag.Routes)"><span>@Resources.ViewLabelNameStrings.Cancel</span></a>
        </li>
    </ol>  
    </fieldset>
}

