﻿@model IEnumerable<SelectListItem>

@{
    string str = "";

    if (ViewBag.Field % 2 == 0)
    {
        str = "even";
    }
}

<li class="@ViewBag.Field @str">
    @Html.DropDownList("selectedRestaurants", Model, @Resources.ViewLabelNameStrings.Select)
    <a href="#" onclick="event.preventDefault(); $('.@ViewBag.Field').remove()" class="table-delete-link @ViewBag.Field" title="Excluir"></a>
    <span class="clearFix">&nbsp;</span>
</li>