﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesGiftCodeViewModel
<fieldset class="details">
    <h2 class="details-title">Informações sobre o Brinde de Pesquisa de Satisfação</h2>
    <div></div>
    <hr />
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdRestaurant)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.RestaurantInfo.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdMenuGroup)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuGroupInfo.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdMenuDish)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuDishInfo.Name)
        </span>
    </div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.Disabled)
		</span>
	</div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Created)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Created)
        </span>
    </div>
</fieldset>