﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesGiftCodeViewModel

@{
    ViewBag.Title = "Detalhes do Brinde de Pesquisa de Satisfação";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_Details", Model);}

<p>
   
    <a class="button" href="@Url.Action("Edit", "SalesGiftCode", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
    <a class="button" href="@Url.Action("Index", "SalesGiftCode", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>


