﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesGiftCodeViewModel

@{
    ViewBag.Title = "Edição";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/View/MenuGroup/MenuGroup.js"></script>
    <script>
        $(document).ready(function () {
            @if (Model != null) {
              <text>
            LoadMenu(null, LoadPrato);


              </text>
            }

            $("#IdMenuGroup").change(function (e) {
                LoadPrato();
            });
        });

        function LoadPrato(event, callback) {            
            $('#IdMenuDish').empty();
            var idMenuGroup = $('#IdMenuGroup').val() !== "" ? $('#IdMenuGroup').val() : $('#IdMenuGroup').data("selected");

            if (!idMenuGroup) {
                return;
            }

            $('#IdMenuDish').siblings('.loading').removeClass('hidden');
            $.get($("#applicationPath").val() + '/MenuDish/GetMenuDishOutOptionalByIdMenuGroup',
                { idMenuGroup: idMenuGroup },
                function (result) {
                    $('#IdMenuDish').append($('<option>').val('').text(''));
                    $.each(result, function (key, value) {
                        $('#IdMenuDish').append($('<option>').val(value.IdMenuDish).text(value.Name));
                    });
                    $('#IdMenuDish').siblings('.loading').addClass('hidden');
                    if (callback) {
                        callback();
                    }
                    setSelectedPrato();
                });
        }

        function setSelectedPrato() {
            data = $("#IdMenuDish").data("selected");
            $("#IdMenuDish").find("option").each(function (key, value) {
            	var v = +value.value;
            	if (v === data) {
            		$(value).attr("selected", true)
            	}
            });
        }
    </script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "SalesGiftCodeForm");
    htmlAttributes.Add("class", "middle-forms");
}
@using (Html.BeginForm("Edit", "SalesGiftCode", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <h3>Informações Brinde de Pesquisa de Satisfação</h3>
        <hr />
        @Html.HiddenFor(model => model.IdSalesGiftCode)
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdRestaurant)
                </label>

                @Html.DropDownListFor(model => model.IdRestaurant, ViewBag.Restaurants as IEnumerable<SelectListItem>, "", new { @id = "Restaurant_IdRestaurant" })
                @Html.ValidationMessageFor(model => model.IdRestaurant)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdMenuGroup)
                </label>
                @Html.DropDownListFor(model => model.IdMenuGroup, new List<SelectListItem>(), "", new { @data_selected = Model != null ? Model.IdMenuGroup.ToString() : "" })
                @Html.HiddenFor(model => model.IdMenuGroup, new { @id = "837" })
                @Html.ValidationMessageFor(model => model.IdMenuGroup)
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdMenuDish)
                </label>

                @Html.DropDownListFor(model => model.IdMenuDish, new List<SelectListItem>(), "", new { @data_selected = Model != null ? Model.IdMenuDish.ToString() : "" })
                @Html.ValidationMessageFor(model => model.IdMenuDish)
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                <span class="clearFix">&nbsp;</span>
            </li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.Disabled)
				</label>
				@Html.CheckBoxFor(model => model.Disabled)
				@Html.ValidationMessageFor(model => model.Disabled)
				<span class="clearFix">&nbsp;</span>
			</li>
            <li>
                @Html.ValidationMessage("Relacionados", null, new { @class = "SalesGiftCodeValidate", @style = "display:none; margin-bottom:5px; margin-left:-2px;" })
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", "SalesGiftCode", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}
