﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesGiftCodeViewModel>

@{
    ViewBag.Title = "Lista de Brindes de Pesquisa de Satisfação";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
	<script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>

}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.SalesGiftCodeCreate))
	{
		<a class="add-link" id="add-title" href="@Url.Action("Create", ViewBag.Routes as RouteValueDictionary)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
	}
}

@using (Html.BeginForm("Index", "SalesGiftCode", FormMethod.Get, new { id = "SalesGiftCodeSearchForm", @class = "middle-forms" }))
{
	SalesGiftCodeFilter Filter = null;
	if (ViewBag.Filter != null)
	{
		Filter = (SalesGiftCodeFilter)ViewBag.Filter;
	}
	<fieldset class="filter">
		<h4>@Resources.ViewLabelNameStrings.Filter</h4>
		@Html.HiddenFor(filter => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
		@Html.HiddenFor(filter => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
		<ol>
			<li>
				<label class="field-title">Loja</label>
				@Html.DropDownList("Filter.IdRestaurant", ViewBag.Restaurants as IEnumerable<SelectListItem>, "")
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					Status:
				</label>
				@Html.RadioButtonFor(filter => Filter.Disabled, false) Ativo
				@Html.RadioButtonFor(filter => Filter.Disabled, true) Inativo
			</li>
			<li>
				@{
	Html.RenderPartial("FilterButtonsUserControl", "SalesGiftCodeSearchForm");
				}
			</li>
		</ol>
	</fieldset>
}

<table class="table-long">
    <tr>
		<th>
			<a href="" rel="IdSalesGiftCode" class="orderByLink">Código</a>
		</th>
        <th>
			<a href="" rel="Restaurant.Name" class="orderByLink">Loja</a>
        </th>
        <th>
			<a href="" rel="MenuGroup.Name" class="orderByLink">Menu</a>
        </th>
        <th>
			<a href="" rel="MenuDish.Name" class="orderByLink">Prato</a>
        </th>
		<th>
			<a href="" rel="Disabled" class="orderByLink">Inativo?</a>
		</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
    <tr>
		@{
			if (ViewBag.Routes.ContainsKey("id"))
			{
				ViewBag.Routes.Remove("id");
			}
			ViewBag.Routes.Add("id", item.IdSalesGiftCode);
		}
		<td>@Html.DisplayFor(modelItem => item.IdSalesGiftCode)</td>
        <td>@Html.DisplayFor(modelItem => item.RestaurantInfo.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.MenuGroupInfo.Name)</td>
        <td>@Html.DisplayFor(modelItem => item.MenuDishInfo.Name)</td>
		<td>
			@Html.DisplayFor(modelItem => item.Disabled)
		</td>
        <td class="table-comand">
            @if (Roles.IsUserInRole(UserPermission.SalesGiftCodeList))
            {
                <a href="@Url.Action("Details",  ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
            }
        </td>
        <td class="table-comand">
            @if (Roles.IsUserInRole(UserPermission.SalesGiftCodeEdit))
            {
                <a href="@Url.Action("Edit",  ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
            }
        </td>
        <td class="table-comand">
            @if (Roles.IsUserInRole(UserPermission.SalesGiftCodeDelete))
            {
                <a href="@Url.Action("Delete",  ViewBag.Routes)" title="Remover" class="table-delete-link"></a>
            }
        </td>
    </tr>
        }
    }
</table>
@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}