﻿@model Yum.Delivery.FrontEnd.Models.HeaderFooterViewModel

@{ 
    var showNewsletter = DartDigital.Core.Configuration.AppConfiguration.Settings.EnvironmentSettings.GetSettingValueAsBoolean("ShowNewsletter");
}

<div id="footer">
    <div id="alertMessageModal" class="reveal-modal medium alertModal messageModal">
        <a class="close-reveal-messageModal" onclick="hideMessage(event)">&#215;</a>
        <div class="row">
            <div class="small-12 large-12 columns TextoMensagem" id="messageTextDiv">
            </div>
        </div>
        <div class="row">
            <div class="small-4 large-4 columns">&nbsp;</div>
            <div class="small-4 large-4 columns">
                <a href="#" class="button-messageModal button radius small" onclick="hideMessage(event)">OK</a>
            </div>
            <div class="small-4 large-4 columns">
            </div>
        </div>
    </div>
    <div id="confirmationMessageModalToDeleteDish" class="reveal-modal medium alertModal messageModal">
        <a class="close-reveal-messageModal" onclick="hideConfirmationMessage(event)">&#215;</a>
        <div class="row">
            <div class="small-12 large-12 columns TextoMensagem" id="confirmationMessageTextDiv">
            </div>
        </div>
        <div class="row">
            <div class="small-4 large-4 columns small-offset-2">
                <a href="#" class="button-messageModal button radius small" onclick="hideConfirmationMessage(event)">Cancelar</a>
            </div>
            <div class="small-4 large-4 columns">
                <a href="#" class="button-messageModal button radius small" id="confirmConfirmationModal" data-id="">OK</a>
            </div>
            <div class="small-4 large-4 columns">
            </div>
        </div>
    </div>
    <div id="confirmationMessageToIncludeOrderDeliveryFee" class="reveal-modal medium alertModal messageModal">
        <a class="close-reveal-messageModal" id="closeYesNoModal">&#215;</a>
        <div class="row">
            <div class="small-12 large-12 columns TextoMensagem" id="YesNoMessageTextDiv">
            </div>
        </div>
        <div class="row">
            <div class="small-4 large-4 columns small-offset-2">
                <a href="#" class="button-messageModal button radius small" id="confirmYesModal" data-id="">Sim</a>
            </div>
            <div class="small-4 large-4 columns">
                <a href="#" class="button-messageModal button radius small" id="confirmNoModal">Não</a>
            </div>
            <div class="small-4 large-4 columns">
            </div>
        </div>
    </div>
    <div class="alertbg" style="display: none;"></div>
        @if (Model != null && Model.ShowHutLovers && showNewsletter)
        {
            string hideForMobileClass = ((ViewBag.IsHome != null && ViewBag.IsHome) || @Request.Url.AbsoluteUri.ToString().Contains("/Cart")) ? "hideForMobileOnly" : "";
            Yum.Delivery.Model.ApiDomain.Request.CustomerDomain.AddNewsletterRequest model = null;
            <div id="hutLovers" class="@hideForMobileClass">
                <div class="row">
                    <div class="large-12 small-12 columns">
                        <h5 class="text-center">
                            Inscreva-se e receba promoções e descontos no seu e-mail.
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="large-9 small-12 mobileWide-8 small-centered large-centered tabletNarrowOnly-12 columns">
                        @using (Html.BeginForm("AddNewsletter", "Customer", FormMethod.Post, new { @id = "NewsletterForm" }))
                        {
                            <div class="row newletterBox">
                                <div class="large-5 small-12 small-centered columns tabletUp-5 tabletUp-not-centered">
                                    @Html.TextBoxFor(s => model.Newsletter.Name, new { @placeholder = "Primeiro Nome" })
                                    @Html.ValidationMessageFor(s => model.Newsletter.Name)
                                </div>
                                <div class="large-5 small-12 columns small-centered tabletUp-5 tabletUp-not-centered">
                                    @Html.TextBoxFor(s => model.Newsletter.Email, new { @placeholder = "E-mail" })
                                    @Html.ValidationMessageFor(s => model.Newsletter.Email)
                                </div>
                                <div class="large-2 small-8 small-centered columns mobileWide-6 fullWidthButtons tabletUp-2 tabletUp-not-centered">
                                    <a id="submitNewsletterForm" href="#" class="button radius small" style="padding-left:0;padding-right:0;">
                                        Enviar
                                    </a>
                                </div>
                            </div>
                        }
                    </div>
                    <hr />
                </div>
            </div>
        }
        <a class="exit-off-canvas"></a>
        <div class="row">
            <div class="tabletWideOnly-8 small-12 columns hideForMobileOnly">
                <div class="row">
                    <div class="small-3 large-3 columns">
                        <a href="http://institucional.pizzahut.com.br/PIZZA-HUT" target="_blank">
                            <h6>
                                Institucional
                            </h6>
                        </a>
                        <a href="https://institucional.pizzahut.com.br/restaurantes.asp" target="_blank">
                            <h6>
                                Restaurantes
                            </h6>
                        </a>
                        <a href="http://institucional.pizzahut.com.br/contato" target="_blank">
                            <h6>
                                Fale Conosco
                            </h6>
                        </a>
                        <a href="@Url.Action("Termos","Home")" target="_blank">
                            <h6>
                                Termos de uso
                            </h6>
                        </a>
                    </div>
                    <div class="small-3 large-3 columns"> </div>
                </div>
            </div>
            <div class="small-12 large-4 columns">
                <div class="row">
                    <div class="small-12 columns hideForMobileOnly" style="padding-left:0;">
                        <h6>Conecte-se com a Pizza Hut</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="socialFooter small-12 columns">
                        <div class="row">
                            <div class="small-12 medium-4 large-8 column">
                                <div class="socialButtonFooter">
                                       <div class="small-12 medium-12 large-12 columns">
                                           <ul class="small-block-grid-3">
                                               <li class="text-center" >
                                                   <a href="https://www.facebook.com/pizzahutbrasil" target="_blank"><i class="social-facebook"></i></a>
                                               </li>
                                               <li class="text-center" >
                                                   <a href="https://www.instagram.com/pizzahutbrasil/" target="_blank"><i class="social-instagram"></i> </a>
                                               </li>
                                               <li class="text-center">
                                                   <a href="https://www.youtube.com/user/PizzaHutBrasil/" target="_blank"><i class="social-youtube"></i></a>
                                               </li>
                                           </ul>
                                      </div>
                                </div>
                            </div>


                        @*<div class="small-6 medium-4 large-12 columns">
                            <div class="socialButtonFooter">
                                <a href="https://www.facebook.com/pizzahutbrasil" target="_blank">
                                    <div class="small-12 medium-12 large-12 columns">
                                        <i class="social-facebook"></i> <small>Curta no Facebook</small>
                                    </div>
                                </a>
                                <div class="small-6 large-6 columns hide-for-small hide-for-medium">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="small-6 medium-4 large-12 columns">
                            <div class="socialButtonFooter">
                                <a href="https://www.instagram.com/pizzahutbrasil/" target="_blank">
                                    <div class="small-12 medium-12 large-12 columns">
                                        <i class="social-instagram"></i> <small>Siga-nos no Instagram</small>
                                    </div>
                                </a>
                                <div class="small-6 large-6 columns hide-for-small hide-for-medium">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="small-6 medium-4 large-12 columns">
                            <div class="socialButtonFooter">
                                <a href="https://www.youtube.com/user/PizzaHutBrasil/" target="_blank">
                                    <div class="small-12 medium-12 large-12 columns">
                                        <i class="social-youtube"></i> <small>Assista-nos no Youtube</small>
                                    </div>
                                </a>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">            
            <div class="columns small-12 large-12">
                <hr>
                <p class="text-center legal">
                    <small>
                        Yum! Restaurantes do Brasil Ltda - 
                        CNPJ 02.469.596/0001-07 - 
                        Avenida das Nações Unidas, 8501 - Andar 7 71 A Edifício Eldorado Business Tower - Pinheiros - São Paulo / SP
                    </small>
                    @if(Model != null)
                    {
                        <small style="color: transparent">
                            @Model.SessionId
                        </small>
                    }
                </p>
            </div>
        </div>
    </div>
