﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel
@Html.ValidationSummary(true, "", new { @style = "color:red; font-weight:900;", @class = "field-validation-error" })
<br />
<fieldset class="details">
    <h2 class="details-title">Informações sobre o Cárdapio</h2>
	<div></div>
    <hr />
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdMenuDish)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IdMenuDish)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdMenuGroup)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuGroup1.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Name)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Description)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Description)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Value)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Value)
        </span>
    </div>

   <div>
        <span class="display-label">@Html.LabelFor(model => model.Order)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Order)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdOrderType)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.GetOrderTypeDictionary().FirstOrDefault(x => x.Key == model.IdOrderType).Value)
        </span>
    </div>
   <div>
        <span class="display-label">@Html.LabelFor(model => model.ImageAddress)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ImageAddress)
        </span>
    </div>
   <div>
        <span class="display-label">@Html.LabelFor(model => model.IntegrationCode)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IntegrationCode)
        </span>
    </div>
   <div>
        <span class="display-label">@Html.LabelFor(model => model.Fractionated)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Fractionated)
        </span>
    </div>
    @{
        if (Model.IsPizza)
        {   
           <div>
                <span class="display-label">@Html.LabelFor(model => model.AllowFraction)</span>
                <span class="display-field">
                    @Html.DisplayFor(model => model.AllowFraction)
                </span>
            </div>
        }
    }
    <div>
        <span class="display-label">@Html.LabelFor(model => model.AllowSalesPromotion)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.AllowSalesPromotion)
        </span>
    </div>
    <div>
        @if (Model != null && Model.FractionItemList != null)
        {
            int i = 0;
            foreach (var item in Model.FractionItemList)
            {

                <div>
                    <input type="hidden" value="@item.IdMenuDishFractionDish" name="FractionItemList[@i].IdMenuDishFractionDish" id="FractionItemList_@(i)__IdMenuDishFractionDish">
                    <input type="radio" disabled checked value="@item.Name" name="FractionItemList[@i].Name" id="FractionItemList_@(i)__Name">@item.Name
                </div>
                i++;
            }

        }
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Disabled)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Created)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Created)
        </span>
    </div>
    @Html.HiddenFor(model => model.UniqueId, new { value = Model != null ? Model.UniqueId : null})
</fieldset>