﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel>
@using SmartFramework.Areas.EnumsAndConsts

<script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
<script>
    $(document).ready(function () {


        $.each($('#ListaMenuDish input[type="hidden"]'), function (key, value) {
            $("#divSearchLink a#" + $(value).val()).removeClass("table-select-link").addClass("table-delete-link");
        });
        LoadMenuDrop();

        $("#MenuDishSearchFormModal").submit(function (e) {
            e.preventDefault();
            var u = $("#url").val();

            if ($(this).attr("action").indexOf("?") > 0) {
                u = $(this).attr("action");
            }

            $.post(u, $(this).serialize(), function (result) {
                $("#divSearchLink").html(result);
            });
        })
    });

    function LoadMenuDrop(event, callback) {

        $('#menuDrop').empty();
        if (!$('#Restaurant_IdRestaurant').val()) {
            return;
        }
        $.get($("#applicationPath").val() + '/MenuGroup/GetMenuGroup',
            { RestaurantId: $('#Restaurant_IdRestaurant').val() },
            function (result) {
                $('#menuDrop').append($('<option>').val('').text(''));
                $.each(result, function (key, value) {
                    $('#menuDrop').append($('<option>').val(value.IdMenuGroup).text(value.Name));
                });
                if (callback) {
                    callback();
                }
            });
    }
</script>


@using (Html.BeginForm("Index", "MenuDish", FormMethod.Get, new { id = "MenuDishSearchFormModal", @class = "middle-forms" }))
{
    MenuDishFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (MenuDishFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.Hidden("orderBy" + SystemValues.FilterName, string.Empty, new { @class = "NoClear" })
        @Html.Hidden("directionBy" + SystemValues.FilterName, string.Empty, new { @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Menu:
                </label>

                @Html.DropDownListFor(filter => Filter.IdMenuGroup, new List<SelectListItem>(), "", new { @id = "menuDrop", @style = "width:130px" })
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBoxFor(filter => Filter.Nome)
            </li>
            <li>
                <label class="field-title">
                    Inativo:
                </label>
                @Html.RadioButtonFor(filter => Filter.Disabled, false) Ativo
                @Html.RadioButtonFor(filter => Filter.Disabled, true) Inativo
            </li>
            <li>
                @{
    Html.RenderPartial("FilterButtonsUserControl", "MenuDishSearchFormModal");
                }
            </li>
        </ol>
    </fieldset>
}

<table class="table-long">
    <tr>
        <th>
            <a></a>
        </th>
        <th>
            <a href="" rel="IdMenuDish" class="orderByLink">
                Código
            </a>
        </th>
        <th>
            <a href="" rel="IdMenuGroup" class="orderByLink">
                Menu
            </a>
        </th>
        <th>
            <a href="" rel="Name" class="orderByLink">
                Nome
            </a>
        </th>
        <th>
            <a href="" rel="Value" class="orderByLink">
                Valor
            </a>
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (Model != null)
    {

        foreach (var item in Model)
        {

            <tr>
                @{
            if (ViewBag.Routes.ContainsKey("id"))
            {
                ViewBag.Routes.Remove("id");
            }
            ViewBag.Routes.Add("id", item.IdMenuDish);
                }
                <td>
                    @{var name = item.Name.Replace("'", " ").Trim();}
                    @Html.ActionLink(" ", "Index", null, new { id = item.IdMenuDish, title = "Selecione", @class = "table-select-link", onclick = "return listElementClicked(this.id, '" + name + "');" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdMenuDish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuGroup1.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Value.ToString("c")
                </td>
            </tr>
        }
    }
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}