﻿@{
    ViewBag.Title = "Clonagem de Pratos";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/skin/cloneDish-css")
@section Scripts {
    <script type="text/javascript" src="~/Scripts/View/MenuDish/MenuDishClone.js"></script>
}

@using (Html.BeginForm("Index", "Clone", FormMethod.Post, new { id = "MenuDishCloneForm", @class = "middle-forms" }))
{
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        <ol>
            <li class="frm-separation" style="margin-top:10px">
                <h3>Origem</h3>
                <hr />
            </li>
            <li>
                <label class="field-title">
                    Selecione a Loja:
                </label>
                <select id="restaurantsOrigin" style="width: 250px;"></select>
            </li>
            <li style="background-color: #FFFFFF">
                <label class="field-title">
                    Selecione o Menu:
                </label>
                <select id="menuGroupsOrigin" style="width: 250px;"></select>
            </li>
            <li>
                <label class="field-title">
                    Filtre pelo Nome do Prato:
                </label>
                <input id="menuDishOriginName" style="width: 250px;"/>
            </li>
            <li class="frm-separation" style="margin-top:10px">
                <h3>Destino</h3>
                <hr />
            </li>
            <li>
                <label class="field-title">
                    Selecione a Loja:
                </label>
                <select id="restaurants" style="width: 250px;"></select>
            </li>
            <li style="background-color: #FFFFFF">
                <label class="field-title">
                    Selecione o Menu:
                </label>
                <select id="menuGroups" style="width: 250px;"></select>
            </li>
            <li>
                <input id="searchButton" type="submit" value="@Resources.ViewLabelNameStrings.Search" />
            </li>
        </ol>
    </fieldset>
}

<table id="originMenuDishes" class="table-long">

    <tr>
        <th>
            <input type="checkbox" id="selectAllDishes" />
        </th>
        <th>
            Código
        </th>
        <th>
            Nome
        </th>
        <th>
            Ativo?
        </th>
        <th>
            Menu
        </th>
        <th>
            Loja
        </th>
        <th id="statusColumn">
            Status
        </th>
    </tr>

    <tbody id="dishesToClone"></tbody>

</table>

<input id="cloneButton" type="submit" value="Clonar" class="submit-button" />

<div id="loadingOverlay" style="display: none">
    <img src="~/Content/images/loading.gif" width="70" height="70" />
</div>
