﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel
@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_Details", Model);}

<p>
@if (Roles.IsUserInRole(UserPermission.MenuDishEdit) ||
	Roles.IsUserInRole(UserPermission.MenuDishActivateInactivate) ||
	Roles.IsUserInRole(UserPermission.MenuDishValueEdit))
{
    <a class="button" href="@Url.Action("Edit", "MenuDish", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
}
    <a class="button" href="@Url.Action("Index", "MenuDish", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>


