﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel>
@using SmartFramework.Areas.EnumsAndConsts

@{
    ViewBag.Title = "Lista de Pratos";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";

}
@section Scripts {
    <script type="text/javascript" src="~/Scripts/View/MenuGroup/MenuGroup.js"></script>
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/View/MenuDish/MenuDishIndex.js"></script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

<style>
    .atl-msg {
        width: 40%;
        word-wrap: break-word;
    }

    .textcenter {
        text-align: center;
    }
</style>

@using (Html.BeginForm("Index", "MenuDish", FormMethod.Get, new { id = "MenuDishSearchForm", @class = "middle-forms" }))
{
    MenuDishFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (MenuDishFilter)ViewBag.Filter;
    }
    @section FilterScripts {
        @if (!Filter.IdRestaurantList.NullOrEmpty())
        {
            <script type="text/javascript">
                $(document).ready(function () {
                    LoadMenu(null, function () {
                        $('#IdMenuGroup').val('@Filter.IdMenuGroup');

                    });
                });
            </script>
        }
    }
    
    <div id="divLink" style="display:none">
        <fieldset class="details">
            <ol>
                <li style="margin-bottom: 10px">
                    <label class="field-title">Loja:</label>
                    <select id="restaurants" style="width: 275px; float: right;"></select>
                    <span class="clearFix">&nbsp;</span>
                </li>
                <li style="margin-bottom: 20px">
                    <label class="field-title">Menu:</label>
                    <select id="menuGroups" style="width: 275px; float: right; "></select>
                    <span class="clearFix">&nbsp;</span>
                </li>
                <li style="margin-bottom: 10px">
                    <input id='cloneMenuDish' type='button' value='Clonar' style="float: right" onclick="cloneMenuDish()" />
                    <span class="clearFix">&nbsp;</span>
                </li>
            </ol>
        </fieldset>
    </div>
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(filter => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(filter => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBoxFor(filter => Filter.IdMenuDish)
            </li>
            <li>
                <label class="field-title">
                    Loja:
                </label>

                @Html.DropDownList("Filter.IdRestaurantList[0]", ViewBag.RestaurantList as IEnumerable<SelectListItem>, "", new { @id = "Restaurant_IdRestaurant" })
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    Menu:
                </label>
                @Html.DropDownListFor(filter => Filter.IdMenuGroup, new List<SelectListItem>(), new { @id = "IdMenuGroup" })
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBoxFor(filter => Filter.Nome)
            </li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Disabled, false) Ativo
                @Html.RadioButtonFor(filter => Filter.Disabled, true) Inativo
            </li>
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "MenuDishSearchForm");
                }
            </li>
        </ol>
    </fieldset>
}

@section titleContent
{
    @if (ViewBag.Routes.ContainsKey("id"))
    {
        ViewBag.Routes.Remove("id");
    }
    @if (Roles.IsUserInRole(UserPermission.MenuDishCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", ViewBag.Routes as RouteValueDictionary)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

<table class="table-long">
    <tr>
        <th>
            <a href="" rel="IdMenuDish" class="orderByLink">
                Código
            </a>
        </th>
        <th>
            <a href="" rel="IdMenuGroup" class="orderByLink">
                Menu
            </a>
        </th>
        <th>
            <a href="" rel="Name" class="orderByLink">
                Nome
            </a>
        </th>
        <th>
            <a href="" rel="Description" class="orderByLink">
                Descrição
            </a>
        </th>
        <th>
            <a href="" rel="Value" class="orderByLink">
                Valor
            </a>
        </th>
        <th>
            <a href="" rel="Order" class="orderByLink">
                Ordem
            </a>
        </th>
        <th>
            <a href="" rel="Disabled" class="orderByLink">
                Inativo?
            </a>
        </th>
        @if (Roles.IsUserInRole(UserPermission.MenuDishEdit) ||
    Roles.IsUserInRole(UserPermission.MenuDishActivateInactivate) ||
    Roles.IsUserInRole(UserPermission.MenuDishValueEdit))
        {
            <th></th>
        }
        <th></th>
        @if (Roles.IsUserInRole(UserPermission.MenuDishDelete))
        {
            <th></th>
        }
        @if (Roles.IsUserInRole(UserPermission.MenuDishClone))
        {
            <th></th>
        }
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                @{
            if (ViewBag.Routes.ContainsKey("id"))
            {
                ViewBag.Routes.Remove("id");
            }
            ViewBag.Routes.Add("id", item.IdMenuDish);
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IdMenuDish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuGroup1.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="atl-msg">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @item.Value.ToString("c")
                </td>
                <td>
                    @item.Order
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disabled)
                </td>
                @if (Roles.IsUserInRole(UserPermission.MenuDishEdit) ||
            Roles.IsUserInRole(UserPermission.MenuDishActivateInactivate) ||
            Roles.IsUserInRole(UserPermission.MenuDishValueEdit))
                {
                    <td class="table-comand">
                        <a href="@Url.Action("Edit",  ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                    </td>
                }
                <td class="table-comand">
                    <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                </td>
                @if (Roles.IsUserInRole(UserPermission.MenuDishDelete))
                {
                    <td class="table-comand">
                        <a href="@Url.Action("Delete", ViewBag.Routes)" title="Excluir" class="table-delete-link"></a>
                    </td>
                }
                @if (Roles.IsUserInRole(UserPermission.MenuDishClone))
                {
                    <td>
                        <a id="dishClone" href="#" title="Clonar" dish-id="@item.IdMenuDish" class="table-dish-clone-link clone-dish-link"></a>
                    </td>
                }
            </tr>
        }
    }
</table>
@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}

