﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel

@{
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";

    var modo = 0;
    var destino = "Create";
    ViewBag.Title = "Criação";
    var atual = "S/Imagem";

    if (Model != null && Model.IdMenuDish != 0)
    {
        modo = 1;
        destino = "Edit";
        ViewBag.Title = "Edição";
        atual = Model.ImageAddress != null ? Model.ImageAddress : "S/Imagem";
        RouteValueDictionary routes = ViewBag.Routes;

        if (routes.Where(m => m.Key == "id").Count() < 1)
        {
            routes.Add("id", Model.IdMenuDish);
        }

        ViewBag.Routes = routes;
    }

    var selectedLoja = "";

    if (Model != null && Model.Restaurant != null && Model.Restaurant.IdRestaurant != 0)
    {
        selectedLoja = Model.Restaurant.IdRestaurant.ToString();
    }
    else if (Model != null && Model.MenuGroup1 != null && Model.MenuGroup1.IdRestaurant != 0)
    {
        selectedLoja = Model.MenuGroup1.IdRestaurant.ToString();
    }

    var disabledFields = Model != null ? "disabled" : " ";
    var selectedMenu = Model != null ? Model.IdMenuGroup.ToString() : "";
    var selectedTipo = Model != null ? Model.IdMenuAttributeType.ToString() : "";

}
<style>
    .custom-combobox {
        position: relative;
        display: inline-block;
        width: 355px;
    }

    .custom-combobox-toggle {
        position: absolute;
        top: 0;
        bottom: 0;
        margin-left: -1px;
        padding: 0;
    }

    .custom-combobox-input {
        margin: 0;
        padding: 5px 10px;
    }

    .custom-combobox-optional {
        position: relative;
        display: inline-block;
        width: 310px;
    }

    .ui-autocomplete {
        max-height: 150px;
        overflow-x: hidden;
        overflow-y: scroll;
        z-index: 9999;
    }
</style>
@section Scripts {
    <script type="text/javascript" src="~/Scripts/View/MenuGroup/MenuGroup.js"></script>
    <script>
        $.validator.setDefaults({
            ignore: [],
        });

        $.validator.addMethod('specialCharFileName', function (value, element) {
            if (value) {
                var fileName = value.replace(/C:\\fakepath\\/i, '');
                return /^[a-z\u00E0-\u00FCA-Z\u00C0-\u00DC0-9().& _-]*$/.test(fileName);
            }
            else {
                return true;
            }
        }, "O nome do arquivo não pode conter caracteres especiais");

        $(document).ready(function () {
            $('input[name=\'ImageFile\']').rules('add', { specialCharFileName: true });

            var modo = $("#Modo").val();
            if (modo == "0") {
                $("#AllowSalesPromotion").prop("checked", true);
            }

            setSelectedLoja();
            LoadMenu();
            loadProductCode();
            setSelectedTipo();

            $('#IdMenuGroup').on('change', function () {

                var url = '@Url.Action("GetOrderTypeByIdMenuGroup")';
                var data = { idMenuGroup: $(this).val() };

                $('#IdOrderType').siblings('.loading').removeClass('hidden');

                $.post(url, data, function (obj) {
                    $('#IdOrderType').val(obj.idOrderType);
                    $('#IdOrderType').siblings('.loading').addClass('hidden');
                });

            });

            $('.add-opt').click(function (event) {
                event.preventDefault();
                var salvo = +$("#enviar").data("salvo");
                var tipo = +$("#IdMenuAttributeType").val();
                if (salvo === 0 || tipo === 0) {
                    if (salvo === 0) {
                        showMessage("Não e possivel adicionar Opcional, sem salvar o Prato", "ATENÇÃO", "warning");
                    } else {
                        if (tipo === 0) {
                            showMessage("Selecione um tipo, para adicionar Opcional", "ATENÇÃO", "warning");
                        }
                    }
                } else {
                    $.get($("#applicationPath").val() + $(this).attr('href'), function (result) {
                        $('#divLink').html(result);
                        $('#divLink').dialog({
                            title: "Novo Opcional",
                            width: 600,
                            height: 600,
                            close: function () {
                                $("#divLink").empty();
                            }
                        });
                        $("#IdMenuDishOp").val($("#IdMenuDish").val());

                        LoadTipo();
                    });
                }
            });

            $(".tbOpcional").on("click", ".table-edit-link", function () {
                event.preventDefault();
                $.get($("#applicationPath").val() + $(this).attr('href'), function (result) {
                    $('#divLink').html(result);
                    $('#divLink').dialog({
                        title: "Editar Opcional",
                        width: 600,
                        height: 600,
                        close: function () {
                            $("#divLink").empty();
                        }
                    });

                    $("#IdMenuDishOp").val($("#IdMenuDish").val());
                    LoadTipo();
                });
            });

            $(".tbOpcional").on("click", ".table-delete-link", function () {
                event.preventDefault();
                var iditem = $(this).parent().parent().find(".idOptionalItem").val();
                var url = $("#applicationPath").val() + $(this).attr('href');

                $.get($("#applicationPath").val() + $(this).attr('href'), function (result) {
                    $("#divDelete").html(result);
                    $("#divDelete").dialog({
                        title: "Deletar Opcional?",
                        width: 500,
                        buttons: [
                                {
                                    text: "OK",
                                    click: function () {
                                        $.post(url, { id: iditem }, function (result) {
                                            if (result.valido) {
                                                $(".idOptionalItem").each(function (key, value) {
                                                    var valor = +$(value).val();
                                                    if (valor === result.id) {
                                                        $(value).parent().parent().remove();
                                                        var s = $(location).attr('pathname');
                                                        var p = s.toUpperCase().indexOf("CREATE");
                                                        if (p === -1) {
                                                            window.location.href = window.location.href;
                                                        }
                                                        return false;
                                                    }

                                                });
                                                showMessage("Item Opcional removido", "ATENÇÃO", "warning");
                                            } else {
                                                showMessage("Houve falhas ao remover", "ATENÇÃO", "warning");
                                            }
                                        });
                                        $(this).dialog("close");
                                    }
                                },
                                {
                                    text: "CANCELAR",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                        ]
                    });
                });
            });

            $("#linkSearch").click(function (e) {
                e.preventDefault();
                if ($('#Restaurant_IdRestaurant').val()) {
                    $(".FractionValidate").hide();
                    idElementValueUpdate = "IdFractionItem";
                    idElementTextUpdate = "NomeFractionItem";
                    var url = $("#applicationPath").val() + $(this).attr("href") + "?Filter.IdRestaurant=" + $("#Restaurant_IdRestaurant").val();
                    $.post(url, function (result) {
                        $("#divSearchLink").html(result);
                        $("#url").val(url);
                        $("#divSearchLink").dialog({
                            width: 670,
                            height: 600,
                            title: "Selecione Sabores",
                            open: function () {
                            }
                        });
                    });
                } else {
                    showMessage("Selecione uma Loja para adicionar sabores", "ATENÇÃO", "warning");
                }
            });

            $("#Restaurant_IdRestaurant").on("change", function () {
                $("#983").val($(this).val());
                $("#984").val($(this).val());
            });

            $("#divSearchLink").on("click", ".table-select-link, .table-delete-link", function (e) {
                e.preventDefault();
                if ($(this).hasClass("table-select-link")) {
                    if ($('#ListaMenuDish input[value="' + this.id + '"]').length) {
                        $('#NomeFractionItem').val(""); return false;
                    }
                    var $div = $('<div>');
                    $div.text($('#NomeFractionItem').val());
                    var $radio = $('<input type="radio">').val($('#NomeFractionItem').val());
                    $radio.prop("checked", true);
                    var $hidden = $('<input type="hidden">').val(this.id);
                    $div.prepend($radio);
                    $div.prepend($hidden);
                    $("#ListaMenuDish").append($div);
                    $('#NomeFractionItem').val("");
                    $(this).removeClass("table-select-link").addClass("table-delete-link");
                    AtualizarListaMenuDish();
                } else {
                    var $element = $('#ListaMenuDish input[value="' + this.id + '"]');
                    $element.closest("div").remove();
                    $(this).removeClass("table-delete-link").addClass("table-select-link");
                    AtualizarListaMenuDish();
                }
            });

            @if (Model != null && Model.IsPizza && User.IsInRole(UserPermission.MenuDishEdit))
            {
                @:$("#AllowFraction").attr("disabled", false);
                        }
            else
            {
                @:$("#AllowFraction").attr("disabled", true);
                        }

            $("#IdMenuAttributeType").on("change", function (e) {
                showAllowFraction();
            });

            $("#MenuDishForm").on('submit', function () {
                var optionSelected = $("#IdMenuAttributeType option:selected").text();
                if (optionSelected == "Pizza") {
                    $("#AllowFraction").attr("disabled", false);
                } else {
                    $("#AllowFraction").attr("disabled", true);
                }
            });
        });

        function showAllowFraction() {
            var optionSelected = $("#IdMenuAttributeType option:selected").text();
            if (optionSelected == "Pizza") {
                $("#AllowFraction").prop("checked", true);
                $("#AllowFraction").attr("disabled", false);
            } else {
                $("#AllowFraction").prop("checked", false);
                $("#AllowFraction").attr("disabled", true);
            }
        }

        function AtualizarListaMenuDish() {
            var existChecked = false;
            $.each($('#ListaMenuDish input[type="radio"]'), function (key, value) {
                if ($(value).is(":checked")) {
                    var index = key;
                    if (existChecked) {
                        index -= 1;
                    }
                    var $hidden = $(value).parent().find('input[type="hidden"]').first();
                    $hidden.attr("name", "FractionItemList[" + index + "].IdMenuDishFractionDish").attr("id", "FractionItemList_" + index + "__IdMenuDishFractionDish");
                    debugger
                    var o = $(value).parent().find('input[type="hidden"]').size();
                    if ($(value).parent().find('input[type="hidden"]').size() > 1) {
                        var $hidden2 = $(value).parent().find('input[type="hidden"]').last();
                        $hidden2.attr("name", "FractionItemList[" + index + "].IdMenuDishFractionItem").attr("id", "FractionItemList_" + index + "__IdMenuDishFractionItem");
                    }
                    $(value).attr("name", "FractionItemList[" + index + "].Name").attr("id", "FractionItemList_" + index + "__Name");
                } else {
                    existChecked = true;
                }
            });
        }

        function listElementClicked(value, text) {
            if (idElementValueUpdate != null) {
                $("#" + idElementValueUpdate).val(value);
            }

            if (idElementTextUpdate != null) {
                $("#" + idElementTextUpdate).val(text);
            }

            return false;
        }

    </script>
}
@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("id", "MenuDishForm");
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("enctype", "multipart/form-data");
}
@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@using (Html.BeginForm(destino, "MenuDish", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{

    @Html.ValidationSummary(true)
    <div id="divLink"></div>
    <div id="divDelete"></div>
    <fieldset>
        <h3>Prato</h3>
        <hr />
        <ol>
            @if (Model != null && Model.IdMenuDish != 0)
            {
                @Html.Hidden("Created", Model.Created)
                @Html.Hidden("IdMenuDish", Model.IdMenuDish)
                @Html.Hidden("FractionsNumber", Model.FractionsNumber)
            }
            @Html.Hidden("Modo", modo)
            @Html.Hidden("IsPizza", Model != null && Model.IsPizza)
            <li>
                <label class="field-title">
                    @Html.Label("Loja")
                </label>
                @{
            var dicLoja = new Dictionary<string, object>();
            dicLoja.Add("data-selected", selectedLoja);
            dicLoja.Add(disabledFields, "");
                }
                @Html.DropDownList("Restaurant.IdRestaurant", ViewBag.RestaurantList as IEnumerable<SelectListItem>, "", dicLoja)
                @Html.HiddenFor(model => model.Restaurant.IdRestaurant, new { @id = "983" })
                @Html.HiddenFor(model => model.MenuGroup1.IdRestaurant, new { @id = "984" })
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdMenuGroup)
                </label>
                @{
            Dictionary<string, object> dicMenu = new Dictionary<string, object>();
            dicMenu.Add("data-selected", selectedMenu);
            dicMenu.Add(disabledFields, "");
                }
                @Html.DropDownListFor(model => model.IdMenuGroup, new List<SelectListItem>(), dicMenu)
                @Html.HiddenFor(model => model.IdMenuGroup, new { @id = "837" })
                @Html.ValidationMessageFor(model => model.IdMenuGroup)
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                }
                else
                {
                    @Html.TextBoxFor(model => model.NameReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Name)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.TextAreaFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                }
                else
                {
                    @Html.TextAreaFor(model => model.DescriptionReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Description)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Order)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.TextBoxFor(model => model.Order, new { @class = "numerico" })
                    @Html.ValidationMessageFor(model => model.Order)
                }
                else
                {
                    @Html.TextBoxFor(model => model.OrderReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Order)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdOrderType)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.DropDownListFor(model => model.IdOrderType, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel().GetOrderTypeDictionary())
                    @Html.ValidationMessageFor(model => model.IdOrderType)
                }
                else
                {
                    @Html.DropDownListFor(model => model.IdOrderType, Model.GetOrderTypeDictionary(), new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.IdOrderType)
                }
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ImageAddress)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    <input type="file" name="ImageFile" accept="image/*" />
                    @Html.ValidationMessageFor(model => model.ImageFile)
                }
                <br />
                @Html.HiddenFor(model => model.ImageAddress)
                <label style="margin-left:160px">ATUAL: @atual</label>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IntegrationCode)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.IntegrationCode)
                    @Html.ValidationMessageFor(model => model.IntegrationCode)
                }
                else
                {
                    @Html.TextBoxFor(model => model.IntegrationCodeReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.IntegrationCode)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Value)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit) || User.IsInRole(UserPermission.MenuDishValueEdit))
                {
                    @Html.TextBoxFor(model => model.Value, "{0:N}", new { @class = "interval-value" })
                    @Html.ValidationMessageFor(model => model.Value)
                }
                else
                {
                    @Html.TextBoxFor(model => model.ValueReadOnly, "{0:N}", new { @class = "interval-value", @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Value)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdMenuAttributeType)
                </label>
                @{
                Dictionary<string, object> dicTipo = new Dictionary<string, object>();
                dicTipo.Add("data-selected", selectedTipo);

                if (Model != null && Model.IdMenuAttributeType != null)
                {
                    dicTipo.Add(disabledFields, "");
                }
                }
                @Html.DropDownListFor(model => model.IdMenuAttributeType, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel().Tipos, "", dicTipo)
                @Html.HiddenFor(model => model.IdMenuAttributeType)
                @Html.ValidationMessageFor(model => model.IdMenuAttributeType)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li id="productsCode">
                <label class="field-title">
                    Produtos
                </label>
                @{ var productCodeCount = 0;
                 var px = "0px";}
                @if (Model != null && Model.IdMenuDish != 0)
                {
                    foreach (var menuDishProductCode in Model.MenuDishProductCodeList)
                    {
                        <div style="margin-left:@px; margin-top:5px;">
                            @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                @Html.DropDownList("MenuDishProductCodeList[" + @productCodeCount + "].IdProductCode", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel().GetAllActiveProductCodes, new { @class = "IdMenuDishProductCode", @data_selected = menuDishProductCode.IdProductCode })
                                <a class="table-delete-link rem-pc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                            }
                            else
                            {
                                @Html.DropDownList("MenuDishProductCodeList[" + @productCodeCount + "].IdProductCode", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel().GetAllActiveProductCodes, new { @class = "IdMenuDishProductCode", @data_selected = menuDishProductCode.IdProductCode, @data_disabled = "true" })
                                <input type="hidden" name="MenuDishProductCodeList[@productCodeCount].IdProductCode" value="@menuDishProductCode.IdMenuDishProductCode">
                            }

                            <input type="hidden" class="prod-code-field" name="MenuDishProductCodeList[@productCodeCount].IdMenuDishProductCode" value="@menuDishProductCode.IdProductCode">
                            <input type="hidden" name="MenuDishProductCodeList[@productCodeCount].IdMenuDish" value="@menuDishProductCode.IdMenuDish">
                            <span class="clearFix">&nbsp;</span>
                        </div>
                        px = "160px";
                        productCodeCount++;
                    }
                }
                <div class="ui-widget" style="margin-left:@px; margin-top:5px;">
                    @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                    {
                        @Html.DropDownList("MenuDishProductCodeList[" + @productCodeCount + "].IdProductCode", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel().GetAllActiveProductCodes, new { @data_selected = "", @class = "IdMenuDishProductCode" })
                        <a style="margin-left:5px;" title="Adicionar produto" class="add-link add-pc" href="#"></a>
                        <a class="table-delete-link rem-pc" title="Remover produto" style="margin-left:5px; display:none;" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                    }
                    else
                    {
                        @Html.DropDownList("MenuDishProductCodeList[" + @productCodeCount + "].IdProductCode", new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuDishViewModel().GetAllActiveProductCodes, new { @data_selected = "", @class = "IdMenuDishProductCode", @data_disabled = "true" })
                        <input type="hidden" name="MenuDishProductCodeList[@productCodeCount].IdProductCode" value="" />
                    }

                    @if (Model != null && Model.IdMenuDish != 0)
                    {
                        <input type="hidden" name="MenuDishProductCodeList[@productCodeCount].IdMenuDish" value="@Model.IdMenuDish">
                    }
                    <span class="clearFix">&nbsp;</span>
                </div>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Fractionated)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.RadioButtonFor(model => model.Fractionated, true, new { @class = "fraction" })@:Sim
                    @Html.RadioButtonFor(model => model.Fractionated, false, new { @class = "fraction" })@:Não
                    @Html.ValidationMessageFor(model => model.Fractionated)
                }
                else
                {
                    @Html.RadioButtonFor(model => model.FractionatedReadOnly, true, new { @class = "fraction", @disabled = "disabled" })@:Sim
                    @Html.RadioButtonFor(model => model.FractionatedReadOnly, false, new { @class = "fraction", @disabled = "disabled" })@:Não
                    @Html.HiddenFor(model => model.Fractionated)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li id="AllowFractionFlag">
                <label class="field-title">
                    @Html.LabelFor(model => model.AllowFraction)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.CheckBoxFor(model => model.AllowFraction)
                    @Html.ValidationMessageFor(model => model.AllowFraction)
                }
                else
                {
                    @Html.CheckBoxFor(model => model.AllowFractionReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.AllowFraction)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.AllowSalesPromotion)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.CheckBoxFor(model => model.AllowSalesPromotion)
                    @Html.ValidationMessageFor(model => model.AllowSalesPromotion)
                }
                else
                {
                    @Html.CheckBoxFor(model => model.AllowSalesPromotionReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.AllowSalesPromotion)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.OnlySellingOut)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit))
                {
                    @Html.EditorFor(model => model.OnlySellingOut)
                    @Html.ValidationMessageFor(model => model.OnlySellingOut)
                }
                else
                {
                    @Html.CheckBoxFor(model => model.OnlySellingOutReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.OnlySellingOut)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>
                @if (Model == null || User.IsInRole(UserPermission.MenuDishEdit) || User.IsInRole(UserPermission.MenuDishActivateInactivate))
                {
                    @Html.EditorFor(model => model.Disabled)
                    @Html.ValidationMessageFor(model => model.Disabled)
                }
                else
                {
                    @Html.CheckBoxFor(model => model.DisabledReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.Disabled)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" id="enviar" data-salvo="@modo" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", "MenuDish", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
        <br />
        <h3>
            Opcionais &nbsp;&nbsp;&nbsp;
            @if ((Model == null && User.IsInRole(UserPermission.MenuDishCreate)) || User.IsInRole(UserPermission.MenuDishEdit))
            {
                <a class="add-link add-opt" href="/MenuDishOptional/Create"></a>
            }
        </h3>
        <hr />
        <ol>
            <li>
                <table class="table-short tbOpcional">
                    <tbody>
                        <tr style="display:none">
                            <td>
                                <input class="idOptionalItem" id="" name="" readonly="readonly" type="hidden" value="">
                                <input id="" name="" readonly="readonly" style="width:230px; border: none; background: none; padding: 0;" type="text" value="">
                            </td>
                            <td>
                                <input id="" name="" readonly="readonly" style="width:230px; border: none; background: none; padding: 0;" type="text" value="">
                            </td>
                            <td>
                                <input id="" name="" readonly="readonly" style="width:200px; border: none; background: none; padding: 0;" type="text" value="">
                            </td>
                            <td>
                                <input id="" name="" readonly="readonly" style="width:200px; border: none; background: none; padding: 0;" type="text" value="">
                            </td>
                            <td>
                                <a href="/MenuDishOptional/Edit/" title="Editar" class="table-edit-link"></a>
                            </td>
                            @if ((Model == null && User.IsInRole(UserPermission.MenuDishCreate)) || User.IsInRole(UserPermission.MenuDishEdit))
                            {
                                <td class="table-comand">
                                    <a href="/MenuDishOptional/Delete/" title="Excluir" class="table-delete-link"></a>
                                </td>
                            }
                        </tr>
                        <tr>
                            <th>NOME</th>
                            <th>DESCRIÇÃO</th>
                            <th>VALOR</th>
                            <th>ORDEM</th>
                        </tr>
                        @if (Model != null && Model.MenuDishOptionalList != null)
                        {
                            var i = 0;
                            foreach (var opt in Model.MenuDishOptionalList)
                            {
                                <tr>
                                    <td>
                                        <input class="idOptionalItem" id="MenuDishOptionalList_@(i)__IdMenuDishOptional" name="MenuDishOptionalList[@i].IdMenuDishOptional" readonly="readonly" type="hidden" value="@opt.IdMenuDishOptional">
                                        <input id="MenuDishOptionalList_@(i)__Name" name="MenuDishOptionalList[@i].Name" readonly="readonly" style="width:230px; border: none; background: none; padding: 0;" type="text" value="@opt.Name">
                                    </td>
                                    <td>
                                        <input id="MenuDishOptionalList_@(i)__Description" name="MenuDishOptionalList[@i].Description" readonly="readonly" style="width:230px; border: none; background: none; padding: 0;" type="text" value="@opt.Description">
                                    </td>
                                    <td>
                                        <input id="MenuDishOptionalList_@(i)__Value" name="MenuDishOptionalList[@i].Value" readonly="readonly" style="width:200px; border: none; background: none; padding: 0;" type="text" value="@(String.Format("{0:N}", opt.Value))">
                                    </td>
                                    <td>
                                        <input id="MenuDishOptionalList_@(i)__Order" name="MenuDishOptionalList[@i].Order" readonly="readonly" style="width:200px; border: none; background: none; padding: 0;" type="text" value="@opt.Order">
                                    </td>
                                    <td>
                                        <a href="/MenuDishOptional/Edit/@opt.IdMenuDishOptional" title="Editar" class="table-edit-link"></a>
                                    </td>
                                    @if ((Model == null && User.IsInRole(UserPermission.MenuDishCreate)) || User.IsInRole(UserPermission.MenuDishEdit))
                                    {
                                        <td class="table-comand">
                                            <a href="/MenuDishOptional/Delete/@opt.IdMenuDishOptional" title="Excluir" class="table-delete-link"></a>
                                        </td>
                                    }
                                </tr>
                                    i++;
                            }
                        }
                    </tbody>
                </table>
            </li>
        </ol>
        @Html.HiddenFor(model => model.UniqueId, new { value = Model != null ? Model.UniqueId : null })
    </fieldset>
}