﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.ConfirmCancelOcurrenceViewModel
<script>
    
    $('#CreateOccurrence').submit(function (e) {
        e.preventDefault();
        if ($(this).valid()) {
            $.post($(this).attr("action"), $(this).serialize(), function (result) {

                if (result.valido) {

                    var trOccurrence = $(".tbOccurrence").find("tr").first().clone();

                    var i = +$(".tbOccurrence").find("tbody").get(0).childElementCount;
                    trOccurrence.find("td").each(function (key, value) {
                        if (key == 0) {
                            $(value).html(result.description);
                        } else if (key == 1) {
                            $(value).html(result.type);
                        } else if (key == 2) {
                            $(value).html(result.username);
                        }

                    });

                    $("#linkModal").dialog('close')
                    //showMessage("Adicionado nova Ocorrencia", "ATENÇÃO", "warning")
                    $(".tbOccurrence").append(trOccurrence.show());

                    @if (Model.IsConfirmation)
                    {
                        @:finalizeOrder('confirmOrder');
                    }
                    else
                    {
                        @:finalizeOrder('cancelOrder');
                    }

                } else {
                    $(".errorMessage1").html("Houve falhas ao adicionar, Verifique os campos e tente novamente")
                    $(".errorMessage1").show();
                    setTimeout("$(\".errorMessage1\").hide();", 2340)
                    //showMessage("Houve falhas ao adicionar", "ATENÇÃO", "warning")

                }

            })
        }
    });

</script>


@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
htmlAttributes.Add("id", "CreateOccurrence");
htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("CreateOccurrence", "OrderTracking", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="errorMessage1" style="display: none; color:red; font-weight:600"></div>
        <ol>
            <li>
                <input data-val="true" data-val-number="The field IdOrder must be a number." data-val-required="O campo IdOrder é obrigatório." id="IdOrder" name="IdOrder" type="hidden" value="@Model.IdOrder">
                @{ 
                    long idOcurrence = 0;
                    if (Model.IsConfirmation)
                    {
                        idOcurrence = Model.OccurrenceConfirm.IdOrderOccurrenceType;
                    } else
                    {
                        idOcurrence = Model.OccurrenceCancel.IdOrderOccurrenceType;
                    }
                }
                <input data-val="true" data-val-number="The field IdOrderOccurrenceType must be a number." data-val-required="O campo IdOrderOccurrenceType é obrigatório." id="IdOrderOccurrenceType" name="IdOrderOccurrenceType" type="hidden" value="@idOcurrence">
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label id="motive-title" class="field-title"></label>
                <textarea cols="20" id="Description" name="Description" rows="2" style="margin: 0px; width: 185px; height: 70px;"></textarea>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
        <ol>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" /><br />
                <span class="clearFix">&nbsp;</span>

            </li>
        </ol>
    </fieldset>
}