﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.OrderTrackingViewModel

@{
    bool showMOIPHistory = false;
}

<script>

    @{
        @:confirmOcurrenceUrl = "@Url.Action("ConfirmOccurrence", "OrderTracking")";
        @:cancelOcurrenceUrl = "@Url.Action("CancelOccurrence", "OrderTracking")";
    }

    $(document).ready(function () {
        $(".button").on("click", function (e) {
            e.preventDefault();
            var iditem = $(this).data("id");
            var needConfirmation = false;
            var isConfirmation = $(this).hasClass('confirmOrder');

            if (isConfirmation) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("CheckPreApprovedPayment")',
                    data: { orderId: iditem },
                    async: false,
                    success: function (result) {
                        needConfirmation = result.hasPreApprovedPayment
                    }
                });
            }

            if (isConfirmation) {
                if (needConfirmation) {
                    showConfirmationMessage('A confirmação do pedido irá efetivar a cobrança do pagamento online. Deseja continuar?', 'Atenção', 'warning', new function () {
                        confirmOrder(confirmOcurrenceUrl, iditem);
                    });
                } else {
                    confirmOrder(confirmOcurrenceUrl, iditem);
                }
            } else {
                cancelOrder(cancelOcurrenceUrl, iditem);
            }
        });

        $(".add-opt").click(function (e) {
            e.preventDefault();

            $.get($(this).attr('href') + "/@Model.IdOrder", function (result) {
                $('#linkModal').html(result);
                $('#linkModal').dialog({
                    title: "Nova Ocorrência",
                    width: 257,
                    height: 265,
                    close: function () {
                        $("#linkModal").empty();
                    }
                });
            });
        });
    });

</script>

<style>
    fieldset.details h5.details-title {
        color: #1d8895;
        font-weight: bold;
        margin-bottom: 10px;
    }
</style>


<div id="linkModal"></div>
<fieldset class="details">
    <h2 class="details-title">Pedido @Model.Key</h2>
    <div></div>

    <h5 class="details-title">Dados Loja</h5>
    <div></div>
    <hr />
    <ol>
        <li>
            <label class="display-label">
                Nome
            </label>
            <span class="display-field">
                @Html.DisplayFor(model => model.Restaurant.Name)<br />
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Telefone(s)
            </label>
            <span class="display-field">
                @if (Model.RestaurantPhone != null)
                {
                    foreach (var item in Model.RestaurantPhone)
                    {
                        @Html.DisplayFor(model => item.AreaCode) <text>-</text> @Html.DisplayFor(model => item.Number);
                    }
                }
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
    </ol>
    <br />
    <h5 class="details-title">Dados Cliente</h5>
    <div></div>
    <hr />
    <ol>
        <li>
            <label class="display-label">
                Nome
            </label><span class="display-field">
                @Html.DisplayFor(model => model.Customer.Name)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Email
            </label><span class="display-field">
                @Html.DisplayFor(model => model.Customer.Email)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Endereço
            </label><span class="display-field">
                @Html.DisplayFor(model => model.OrderDeliveryAddress.Address) @Html.DisplayFor(model => model.OrderDeliveryAddress.Number)<br />
                @Html.DisplayFor(model => model.OrderDeliveryAddress.Neighborhood)   @Html.DisplayFor(model => model.OrderDeliveryAddress.City) - @Html.DisplayFor(model => model.OrderDeliveryAddress.StateCode) @Html.DisplayFor(model => model.OrderDeliveryAddress.ZipCode)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Complemento
            </label><span class="display-field">
                @Html.DisplayFor(model => model.OrderDeliveryAddress.Complement)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Referência
            </label><span class="display-field">
                @Html.DisplayFor(model => model.OrderDeliveryAddress.Reference)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Telefone
            </label>
            <span class="display-field">
                @Html.DisplayFor(model => model.CustomerPhoneNumber)<br />
                @Html.DisplayFor(model => model.CustomerPhoneComplement)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
    </ol>
    <br />
    <h5 class="details-title">Dados Prato</h5>
    <div></div>
    <hr />
    <ol>
        <li>
            <table class="table-details">
                <tbody>
                    <tr>
                        <th>
                            Qtd.
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Valor S. Desc.
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Opções
                        </th>
                    </tr>
                    @if (Model != null && Model.OrderMenuDish != null && Model.OrderMenuDish.Count > 0)
                    {
                        foreach (var menuDish in Model.OrderMenuDish)
                        {
                            <tr>
                                <td>
                                    @menuDish.Quantity
                                </td>
                                <td>
                                    @menuDish.Name
                                </td>
                                <td>
                                    @{ string originalTotalValue = menuDish.OriginalTotalValue > 0 ? menuDish.OriginalTotalValue.ToString("n") : string.Empty; }
                                    @originalTotalValue
                                </td>
                                <td>
                                    @menuDish.TotalValue.ToString("n")
                                </td>
                                <td>
                                    @if (!menuDish.FractionList.NullOrEmpty())
                                    {
                                        foreach (var menuDishOptional in menuDish.MenuDishOptionalList)
                                        {
                                            if (menuDishOptional.IdMenuAttributeType != 15)
                                            {
                                                @menuDishOptional.Name <text>: </text> @menuDishOptional.ItemList[0].Name <text><br /> </text>
                                            }
                                        }

                                        foreach (var fraction in menuDish.FractionList)
                                        {
                                            var extrasIncluir = string.Empty;
                                            var extrasRetirar = string.Empty;

                                            foreach (var optional in fraction.OptionalList)
                                            {
                                                if (optional.IdMenuAttributeType == 15)
                                                {
                                                    foreach (var optionalItem in optional.ItemList)
                                                    {
                                                        if (optionalItem.IdMenuAttributeType == 22)
                                                        {
                                                            if (!extrasIncluir.ISNullOrEmptyWithTrim())
                                                            {
                                                                extrasIncluir += ", ";
                                                            }
                                                            extrasIncluir += optionalItem.Name;
                                                        }

                                                        if (optionalItem.IdMenuAttributeType == 174)
                                                        {
                                                            if (!extrasRetirar.ISNullOrEmptyWithTrim())
                                                            {
                                                                extrasRetirar += ", ";
                                                            }
                                                            extrasRetirar += optionalItem.Name;
                                                        }
                                                    }
                                                }
                                            }

                                            if (!extrasIncluir.ISNullOrEmptyWithTrim())
                                            {
                                                <text>Incluir (1/2 @fraction.Name): </text> @extrasIncluir <text><br /> </text>
                                            }
                                            if (!extrasRetirar.ISNullOrEmptyWithTrim())
                                            {
                                                <text>Retirar (1/2 @fraction.Name): </text> @extrasRetirar <text><br /> </text>   
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (menuDish.MenuDishOptionalList != null && menuDish.MenuDishOptionalList.Count > 0)
                                        {
                                            foreach (var menuDishOptional in menuDish.MenuDishOptionalList)
                                            {
                                                //Se não for opcional de extras
                                                if (menuDishOptional.IdMenuAttributeType != 15)
                                                {
                                                    @menuDishOptional.Name <text>: </text>
                                                }
                                                if (menuDishOptional.ItemList != null && menuDishOptional.ItemList.Count > 0)
                                                {
                                                    var extraAddNamesList = new List<string>();
                                                    var extraRemoveNamesList = new List<string>();

                                                    foreach (var menuDishOptionalItem in menuDishOptional.ItemList)
                                                    {
                                                        if (menuDishOptionalItem.IdMenuAttributeType == 22) //Extras Incluir
                                                        {
                                                            extraAddNamesList.Add(menuDishOptionalItem.Name);
                                                        }
                                                        else if (menuDishOptionalItem.IdMenuAttributeType == 174) //Extras Retirar
                                                        {
                                                            extraRemoveNamesList.Add(menuDishOptionalItem.Name);
                                                        }
                                                        else
                                                        {
                                                            @menuDishOptionalItem.Name
                                                        }
                                                    }

                                                    var i = 0;

                                                    if (extraAddNamesList.Count > 0)
                                                    {
                                                        foreach (var extraAdd in extraAddNamesList)
                                                        {
                                                            if (i == 0)
                                                            {
                                                                @menuDishOptional.Name <text> (incluir): </text>
                                                            }
                                                            if (extraAddNamesList.Count == 1 || i == extraAddNamesList.Count - 1)
                                                            {
                                                                @extraAdd  }
                                                            else
                                                            {
                                                                @extraAdd<label>, </label>
                                                            }
                                                            i++;
                                                        }
                                                        <text><br /></text>
                                                    }

                                                    i = 0;

                                                    if (extraRemoveNamesList.Count > 0)
                                                    {
                                                        foreach (var extraRemove in extraRemoveNamesList)
                                                        {
                                                            if (i == 0)
                                                            {
                                                                @menuDishOptional.Name <text> (retirar): </text>
                                                            }
                                                            if (extraRemoveNamesList.Count == 1 || i == extraRemoveNamesList.Count - 1)
                                                            {
                                                                @extraRemove}
                                                            else
                                                            {
                                                                @extraRemove<label>, </label>
                                                            }
                                                            i++;
                                                        }
                                                    }
                                                }
                                                <text><br /></text>
                                            }
                                        }
                                    }

                                </td>


                            </tr>

                                            }
                                        }
                </tbody>
            </table>

        </li>
    </ol>
    <br />
    <h5 class="details-title">Dados Pagamento</h5>
    <div></div>
    <hr />
    <ol>
        @if (Model != null && Model.OrderPayment != null)
        {
            foreach (var item in Model.OrderPayment)
            {
                <li>
                    <label class="display-label">
                        Valor Pago
                    </label><span class="display-field">
                        @Html.DisplayFor(model => item.PaidValue)
                    </span>
                    <span class="clearFix">&nbsp;</span>
                </li>
                <li>
                    <label class="display-label">
                        Forma Pagamento
                    </label><span class="display-field">
                        @{ var paymentTypeList = new Yum.Delivery.BackOffice.Areas.BackOffice.Models.RestaurantViewModel().PaymentTypes;
                            var formapg = paymentTypeList.Where(m => m.Key == item.IdPaymentType).FirstOrDefault();
                        }
                        @formapg.Value
                    </span>
                    <span class="clearFix">&nbsp;</span>
                </li>
                <li>
                    <label class="display-label">
                        Pagamento Online?
                    </label>
                    <span class="display-field" style="color:#0FEE1F">
                        @if (item.Online == true)
                        {
                            showMOIPHistory = true;
                            <text>SIM</text>
                        }
                        else
                        {
                            <text>NÃO</text>
                        }
                    </span>
                    <span class="clearFix">&nbsp;</span>
                </li>
                <li>
                    <label class="display-label">
                        CPF/CNPJ na Nota
                    </label>
                    <span class="display-field">
                        @Html.DisplayFor(model => model.ReceiptDocument)
                    </span>
                    <span class="clearFix">&nbsp;</span>
                </li>
                <li>
                    <label class="display-label">
                        Código de Integração
                    </label>
                    <span class="display-field">
                        @Html.DisplayFor(model => item.IntegrationCode)
                    </span>
                    <span class="clearFix">&nbsp;</span>
                </li>
                                }
                            }
        @if (!string.IsNullOrWhiteSpace(Model.GiftCode))
        {
            <li>
                <label class="display-label">
                    @Html.LabelFor(model => Model.GiftCode)
                </label>
                <span class="display-field">
                    @Html.DisplayFor(model => Model.GiftCode)
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
        }
    </ol>

    <br />
    <h5 class="details-title">Totais</h5>
    <div></div>
    <hr />
    <ol>
        <li>
            <label class="display-label">
                Taxa de Entrega
            </label><span class="display-field">
                @if (Model.DeliveryFeeExemption)
                {
                    string deliveryFeeExemptionMotive = string.Empty;
                    switch ((Yum.Delivery.Model.OrderDomain.DeliveryFeeExemptionMotive)Model.IdDeliveryFeeExemptionMotive)
                    {
                        case Yum.Delivery.Model.OrderDomain.DeliveryFeeExemptionMotive.WEB_ORDERS:
                            deliveryFeeExemptionMotive = "Web, Tablet ou Celular";
                            break;
                        case Yum.Delivery.Model.OrderDomain.DeliveryFeeExemptionMotive.APP_ORDERS:
                            deliveryFeeExemptionMotive = "App Android ou Iphone";
                            break;
                        case Yum.Delivery.Model.OrderDomain.DeliveryFeeExemptionMotive.CALL_CENTER_ORDERS:
                            deliveryFeeExemptionMotive = "Call Center";
                            break;
                    }
                    <text>Isenta (@deliveryFeeExemptionMotive)</text>
                }
                else
                {
                    @Html.DisplayFor(model => model.DeliveryFee)
                }
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Desconto
            </label><span class="display-field">
                @Html.DisplayFor(model => model.Discount)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Subtotal
            </label><span class="display-field">
                @Html.DisplayFor(model => model.Subtotal)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                Total
            </label><span class="display-field">
                @Html.DisplayFor(model => model.Total)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
    </ol>

    <br />
    <h5 class="details-title">Informações Pedido</h5>
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <hr />
    <ol>
        <li>
            <label class="display-label">
                Tecnologia Integração
            </label>
            <span class="display-field" style="color:#0021FF">

                @if (Model.IdIntegrationTechnology != null)
                {
                    @Model.IntegrationTechnologies.Where(m => m.Key == Model.IdIntegrationTechnology).FirstOrDefault().Value.ToUpper();
                }
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>

        @if (Model.HasRequestLog && !Model.IntegrationMenuCacheMessage.NullOrEmpty())
        {
            <li>
                <label class="display-label">
                    Cache Menu Integração?
                </label>
                <span class="display-field">
                    <text> @Model.IntegrationMenuCacheMessage </text>
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
        }

        @if (Model.IntegrationOrderId.HasValue && Model.IntegrationOrderId > 0)
        {
            <li>
                <label class="display-label">
                    Pedido Integração
                </label>
                <span class="display-field">
                    @Model.IntegrationOrderId.Value
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
        }


        @if (Model.IdHelpServiceUser.HasValue && Model.CallCenterUser != null)
        {

            <li>

                <label class="display-label">
                    Origem
                </label>
                <span class="display-field">
                    Call Center
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="display-label">
                    @Html.LabelFor(model => model.CallCenterUser.Name)
                </label>
                <span class="display-field">
                    @Html.DisplayFor(model => model.CallCenterUser.Name)
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
        }
        else
        {
            <li>
                <label class="display-label">
                    Origem
                </label>
                <span class="display-field">
                    Cliente
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
        }

        <li>
            <label class="display-label">
                @Html.LabelFor(model => model.Created)
            </label>
            <span class="display-field">
                @Html.DisplayFor(model => model.Created)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                @Html.LabelFor(model => model.Date)
            </label><span class="display-field">
                @Html.DisplayFor(model => model.Date)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                @Html.LabelFor(model => model.ExptectedReadyDate)
            </label><span class="display-field">
                @Html.DisplayFor(model => model.ExptectedReadyDate)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                @Html.LabelFor(model => model.FinalDate)
            </label><span class="display-field">
                @Html.DisplayFor(model => model.FinalDate)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                @Html.LabelFor(model => model.ToGo)
            </label>
            <span class="display-field">

                @if (Model != null && Model.ToGo == true)
                {

                    <text>SIM</text>

                }
                else
                {
                    <text>NÃO</text>
                }
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                @Html.LabelFor(model => model.IdPolygonArea)
            </label>
            <span class="display-field">
                @Html.DisplayFor(model => model.PolygonArea.Name)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <label class="display-label">
                @Html.LabelFor(model => model.Observation)
            </label>
            <span class="display-field">
                @Html.DisplayFor(model => model.Observation)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>


        @if (Model.ErrorClassification != null)
        {

            <li>

                <label class="display-label">
                    @Html.LabelFor(model => model.ErrorClassification)
                </label>
                <span class="display-field">
                    @Html.DisplayFor(model => model.ErrorClassification)
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
        }


        @if (Model.HasRequestLog)
        {

            <br />

            <li>


                <a tabindex="-1" href="@Url.Action("ExportarRequisicao", new { id = Model.IdOrder, orderDate = Model.Date.ToString("dd/MM/yyyy HH:mm:ss") } )" style="color:#0021FF" class="table-exporttxt-link">
                    &nbsp;Download Requisições
                </a>
            </li>
            <br />
        }
    </ol>



    <br />
    <h5 class="details-title">Historico Pedido</h5>
    <div></div>
    <hr />
    <ol>
        <li>
            <label class="display-label">
                Status
            </label>
            <span class="display-field" style="font-weight:800">
                @Html.DisplayFor(model => model.OrderStatus.Name)
            </span>
            <span class="clearFix">&nbsp;</span>
        </li>
        <li>
            <table>
                <tbody>
                    <tr>
                        <th>
                            <strong>Descrição</strong>
                        </th>
                        <th>
                            &nbsp;&nbsp; <strong>Criação</strong>
                        </th>
                    </tr>
                    @if (Model != null && Model.OrderStatus.OrderStatusLogList != null && Model.OrderStatus.OrderStatusLogList.Count > 0)
                    {
                        foreach (var item in Model.OrderStatus.OrderStatusLogList)
                        {
                            <tr>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    &nbsp;&nbsp;  @item.Created
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <span class="clearFix">&nbsp;</span>
        </li>
    </ol>

    @if (User.IsInRole(UserPermission.ViewMOIPOrderData) && showMOIPHistory)
    {
        <br />
        <h5 class="details-title">Histórico Pagamento Online</h5>
        <div></div>
        <hr />
        <ol>
            <li>
                <label class="display-label">
                    @Html.LabelFor(model => model.OrderPayment[0].OneClickCheckout)
                </label>
                <span class="display-field">
                    @Html.Raw(Model.OrderPayment[0].OneClickCheckout.ToString(DartDigital.Core.Globalization.BooleanFormatOption.YesOrNo).ToUpper())
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="display-label">
                    @{
                        bool successStatus =
                                            Model.OrderStatus.IdOrderStatus == Yum.Delivery.Model.OrderDomain.OrderStatusEnum.SENT.GetHashCode() ||
                                            Model.OrderStatus.IdOrderStatus == Yum.Delivery.Model.OrderDomain.OrderStatusEnum.MANUAL_SENT.GetHashCode() ||
                                            Model.OrderStatus.IdOrderStatus == Yum.Delivery.Model.OrderDomain.OrderStatusEnum.FABRICATED.GetHashCode() ||
                                            Model.OrderStatus.IdOrderStatus == Yum.Delivery.Model.OrderDomain.OrderStatusEnum.DELIVERED.GetHashCode();
                    }
                    @if (successStatus)
                    {
                        <text>Pagamento Capturado?</text>
                    }
                    else
                    {
                        <text>Pagamento Cancelado?</text>
                    }
                </label>
                <span class="display-field">
                    @if ((successStatus && Model.OrderPayment[0].PaymentStatus == Yum.Delivery.Model.OrderDomain.OrderPaymentStatusEnum.AUTHORIZED) ||
                (!successStatus && Model.OrderPayment[0].PaymentStatus == Yum.Delivery.Model.OrderDomain.OrderPaymentStatusEnum.CANCELLED))
                    {
                        <text>SIM</text>
                    }
                    else
                    {
                        <text>FALHA</text>
                    }
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="display-label">
                    @Html.LabelFor(model => model.MOIPOrder_Id)
                </label><span class="display-field">
                    @Html.DisplayFor(model => model.MOIPOrder_Id)
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="display-label">
                    @Html.LabelFor(model => model.MOIPPaymentStatus.Id)
                </label><span class="display-field">
                    @Html.DisplayFor(model => model.MOIPPaymentStatus.Id)
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="display-label">
                    @Html.LabelFor(model => model.MOIPPaymentStatus.Method)
                </label><span class="display-field">
                    @Html.DisplayFor(model => model.MOIPPaymentStatus.Method)
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="display-label">
                    @Html.LabelFor(model => model.MOIPPaymentStatus.Brand)
                </label><span class="display-field">
                    @Html.DisplayFor(model => model.MOIPPaymentStatus.Brand)
                </span>
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="display-label">

                </label>
                <table>
                    <tbody>
                        <tr>
                            <th>
                                Status MOIP
                            </th>
                            <th>
                                &nbsp;&nbsp;  Data
                            </th>
                        </tr>
                        @if (Model != null && Model.MOIPPaymentStatus != null && Model.MOIPPaymentStatus.MOIPPaymentStatusChange != null && Model.MOIPPaymentStatus.MOIPPaymentStatusChange.Count > 0)
                        {
                            foreach (var item in Model.MOIPPaymentStatus.MOIPPaymentStatusChange)
                            {
                                <tr>
                                    <td>
                                        @item.Status
                                    </td>
                                    <td>
                                        &nbsp;&nbsp;  @item.Created
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </li>
        </ol>
                        }

    <br />
    <h5 class="details-title">Ocorrências &nbsp;&nbsp;<a class="add-link add-opt" href="@Url.Action("Occurrence", "OrderTracking")"></a></h5>
    <div></div>
    <hr />
    <ol>
        <li>
            <table class="tbOccurrence table-details">
                <tbody>
                    <tr style="display:none">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Tipo
                        </th>
                        <th>
                            Usuario
                        </th>
                    </tr>
                    @if (Model != null && Model.OrderOccurrence != null && Model.OrderOccurrence.Count > 0)
                    {
                        foreach (var item in Model.OrderOccurrence)
                        {
                            <tr>
                                <td>
                                    @item.Description
                                </td>
                                <td>
                                    @item.OrderOccurrenceType.Name
                                </td>
                                <td>
                                    @item.UserName
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <span class="clearFix">&nbsp;</span>
        </li>
    </ol>

</fieldset>

<br />
@if (User.IsInRole(UserPermission.ManuallyCancelOrder))
{
    <p>
        <a class="button confirmOrder" data-id="@Model.IdOrder" href="@Url.Action("ConfirmOrder", "OrderTracking", ViewBag.Routes as RouteValueDictionary)">CONFIRMAR PEDIDO</a>
        <a class="button cancelOrder" data-id="@Model.IdOrder" href="@Url.Action("CancelOrder", "OrderTracking", ViewBag.Routes as RouteValueDictionary)">CANCELAR PEDIDO</a>
    </p>
}

