﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.OrderOccurrenceViewModel

<script>  

    $('#CreateOccurrence').validate();
    $('#CreateOccurrence').submit(function (e) {
        e.preventDefault();
        if ($(this).valid()) {
            $.post($(this).attr("action"), $(this).serialize(), function (result) {

                if (result.valido) {

                    var trOccurrence = $(".tbOccurrence").find("tr").first().clone();

                    var i = +$(".tbOccurrence").find("tbody").get(0).childElementCount;
                    trOccurrence.find("td").each(function (key, value) {
                        if (key == 0) {
                            $(value).html(result.description);
                        } else if (key == 1) {
                            $(value).html(result.type);
                        } else if (key == 2) {
                            $(value).html(result.username);
                        }

                    });

                    $("#linkModal").dialog('close')
                    //showMessage("Adicionado nova Ocorrencia", "ATENÇÃO", "warning")
                    $(".tbOccurrence").append(trOccurrence.show());



                } else {
                    $(".errorMessage1").html("Houve falhas ao adicionar, Verifique os campos e tente novamente")
                    $(".errorMessage1").show();
                    setTimeout("$(\".errorMessage1\").hide();", 2340)
                    //showMessage("Houve falhas ao adicionar", "ATENÇÃO", "warning")

                }

            })
        }
    });

</script>


@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "CreateOccurrence");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("CreateOccurrence", "OrderTracking", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="errorMessage1" style="display: none; color:red; font-weight:600"></div>
        <hr />
        <ol>
            <li>
                <label class="field-title">
                    @Html.Label("Tipo")
                </label>
                @Html.HiddenFor(m => m.IdOrder)
                @Html.DropDownListFor(m => m.IdOrderOccurrenceType, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.OrderOccurrenceViewModel().OrderOccurrenceTypeDic, "Selecione")
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.Label("Descrição")
                </label>
                @Html.TextAreaFor(m => m.Description, new { @style="margin: 0px; width: 185px; height: 70px;" })
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
        <ol>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" /><br />
                <span class="clearFix">&nbsp;</span>

            </li>
        </ol>
    </fieldset>
}