﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.OrderTrackingSummaryViewModel
<style>
    #divSummary table {
        border-collapse: collapse;
        width: 100%;
    }

    #divSummary thead th {
        border: 1px solid #CCCCCC;
    }

    #divSummary tbody td {
        border: 1px solid #CCCCCC;
        font-size: 10px;
    }

    #divSummary th {
        background-color: #e0e0e0;
        font-weight: bold;
        text-align: center;
        padding: 10px;
        vertical-align: middle;
    }

    #divSummary td {
        padding: 10px;
        text-align: left;
    }

    #divSummary tfoot td {
        font-weight: bold;
        font-size: 11px;
    }
</style>

<table class="table-long" >
    <thead>
        <tr>
            <th colspan="12">
                <div style="border-radius: 50px; height: 15px; width: 15px; background-color: rgba(0, 255, 0, 0.6) !important; display: inline-block; border: solid 1px #CCCCCC"></div>
                <p style="vertical-align: top; font-size: 12px; margin: 0px 20px 0px 0px; padding: 2px; display: inline-block; text-align:left;">Sem erros de Integração</p>

                <div style="border-radius: 50px; height: 15px; width: 15px; background-color: rgba(255, 255, 0, 0.6) !important; display: inline-block; border: solid 1px #CCCCCC"></div>
                <p style="vertical-align: top; font-size: 12px; margin: 0px 20px 0px 0px; padding: 2px; display: inline-block; text-align:left;">Erros dentro do limite de tolerância</p>

                <div style="border-radius: 50px; height: 15px; width: 15px; background-color: rgba(255, 0, 0, 0.6) !important; display: inline-block; border: solid 1px #CCCCCC"></div>
                <p style="vertical-align: top; font-size: 12px; margin: 0px 20px 0px 0px; padding: 2px; display: inline-block; text-align:left;">Erros acima do limite de tolerância</p>
            </th>
        </tr>
        <tr>
            <th rowspan="2">Loja</th>
            <th rowspan="2">Tecnologia</th>
            <th colspan="3">Sucesso</th>
            <th colspan="3">Erro</th>
            <th colspan="2">Totais</th>
        </tr>
        <tr>
            <th>Pedidos</th>
            <th>%</th>
            <th>Total</th>
            <th>Pedidos</th>
            <th>%</th>
            <th>Total</th>
            <th>Pedidos</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model.OrderSummary)
            {
                string style = "text-align: center; ";

                if (item.OrderErrorPercentage > 0)
                {
                    if (item.OrderErrorPercentage > Model.ErrorTolerances[item.IntegrationTechnologyName])
                    {
                        style += "background-color: rgba(255, 0, 0, 0.3) !important;";
                    }
                    else
                    {
                        style += "background-color: rgba(255, 255, 0, 0.3) !important;";
                    }
                }
                else
                {
                    style += "background-color: rgba(0, 255, 0, 0.3) !important;";
                }


                <tr>
                    <td>@Html.DisplayFor(model => item.RestaurantName)</td>
                    <td>@Html.DisplayFor(model => item.IntegrationTechnologyName)</td>
                    <td style="text-align: center">@Html.DisplayFor(model => item.OrderSuccessTotal)</td>
                    <td style="text-align: center">@Html.DisplayFor(model => item.OrderSuccessPercentage)</td>
                    <td style="text-align: right">@Html.DisplayFor(model => item.OrderSuccessAmount)</td>
                    <td style="text-align: center">@Html.DisplayFor(model => item.OrderErrorTotal)</td>
                    <td style="@style">@Html.DisplayFor(model => item.OrderErrorPercentage)</td>
                    <td style="text-align: right">@Html.DisplayFor(model => item.OrderErrorAmout)</td>
                    <td style="text-align: center">@Html.DisplayFor(model => item.OrderTotal)</td>
                    <td style="text-align: right">@Html.DisplayFor(model => item.OrderAmount)</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2">Total</td>
            <td style="text-align: center">@Html.DisplayFor(model => Model.OrderSummaryTotals.SuccessTotal)</td>
            <td style="text-align: center">@Html.DisplayFor(model => Model.OrderSummaryTotals.PercentageSuccessTotal)</td>
            <td style="text-align: right">@Html.DisplayFor(model => Model.OrderSummaryTotals.SuccessAmountTotal)</td>
            <td style="text-align: center">@Html.DisplayFor(model => Model.OrderSummaryTotals.ErrorTotal)</td>
            <td style="text-align: center">@Html.DisplayFor(model => Model.OrderSummaryTotals.PercentageErrorTotal)</td>
            <td style="text-align: right">@Html.DisplayFor(model => Model.OrderSummaryTotals.ErrorAmountTotal)</td>
            <td style="text-align: center">@Html.DisplayFor(model => Model.OrderSummaryTotals.Total)</td>
            <td style="text-align: right">@Html.DisplayFor(model => Model.OrderSummaryTotals.Amount)</td>
        </tr>
    </tfoot>
</table>
