﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RegionViewModel

<fieldset class="details">
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdRegion)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IdRegion)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Name)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Disabled)
        </span>
    </div>
</fieldset>