﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RegionViewModel

@{
    ViewBag.Title = "Criação";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">

        $.validator.setDefaults({
            ignore: [],
        });

        $.validator.addMethod('uniqueName', function (value, element) {
            var isUnique = false;
            var idRegion = 0;

            $.ajax({
                url: $("#actionUniqueName").val(),
                type: 'GET',
                async: false,
                data: { name: value, idRegion: idRegion },
                success: function (result) {
                    isUnique = result;
                    return result;
                }
            });
            return isUnique;
        }, "Já existe uma região cadastrado com esse nome.");

        $(document).ready(function () {
            $('#Name').rules('add', { uniqueName: true });
        });

    </script>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
}

@using (Html.BeginForm("Create", "Region", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    @Html.Hidden("actionUniqueName", @Url.Action("IsNameUnique"))

    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>
                @Html.EditorFor(model => model.Disabled)
                @Html.ValidationMessageFor(model => model.Disabled)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", "Region", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}