﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.RegionViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
}

@{Html.RenderPartial("_Details", Model);}

<p>
    @{
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
        ViewBag.Routes.Add("id", Model.IdRegion);
    }
    @if (Roles.IsUserInRole(UserPermission.RegionEdit))
    {
        <a class="button" href="@Url.Action("Edit", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
    }
    <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>