﻿@model List<Yum.Delivery.BackOffice.Areas.BackOffice.Models.RegionViewModel>

@{
    ViewBag.Title = "Lista de Regiões";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.RegionCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", "Region", ViewBag.Routes)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "RegionSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "Region", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    RegionFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (RegionFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBoxFor(filter => Filter.Name)
            </li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Status, "Ativo") Ativo
                @Html.RadioButtonFor(filter => Filter.Status, "Inativo") Inativo
            </li>
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "RegionSearchId");
                }
            </li>
        </ol>
    </fieldset>
                    }

<table class="table-long">
    <thead>
        <tr>
            <th>
                <a href="" rel="idregion" class="orderByLink">
                    Código
                </a>
            </th>
            <th>
                <a href="" rel="name" class="orderByLink">
                    Nome
                </a>
            </th>
            <th>
                <a href="" rel="disabled" class="orderByLink">
                    Inativo?
                </a>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var region in Model)
            {
                <tr>
                    @{
                        if (ViewBag.Routes.ContainsKey("id"))
                        {
                            ViewBag.Routes.Remove("id");
                        }
                        ViewBag.Routes.Add("id", region.IdRegion);
                    }
                    <td>
                        @Html.DisplayFor(modelItem => region.IdRegion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => region.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => region.Disabled)
                    </td>
                    <td class="table-comand">
                        <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RegionEdit))
                        {
                            <a href="@Url.Action("Edit", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.RegionDelete))
                        {
                            <a href="@Url.Action("Delete", ViewBag.Routes)" title="Excluir" class="table-delete-link"></a>
                        }
                    </td>
                </tr>
                            }
                        }
    </tbody>
</table>

@{
            Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}