﻿@model ContinueViewModel

<h3>
    Continuar sem cadastro
</h3>
<div class="large-12 small-land12 columns">
    @using (Html.BeginForm("Continue", "Customer", FormMethod.Post, new { @id = "ContinueForm" }))
    {
        <div class="row">
            <div class="large-4 medium-5 columns lblContainer">
                <label>
                    Nome
                </label>
            </div>
            <div class="large-6 medium-7 columns">
                @Html.TextBoxFor(model => model.Name, new { @placeholder = "Nome Completo" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="large-3 columns"> </div>
        </div>
        <div class="row">
            <div class="large-4 medium-5 columns lblContainer">
                <label>
                    Endereço de e-mail
                </label>
            </div>
            <div class="large-6 medium-7 columns">
                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Seu e-mail", @id="" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="large-3 columns"> </div>
        </div>
        <div class="row">
            <div class="large-4 medium-5 columns lblContainer">
                <label>
                    @Html.LabelFor(model => model.PhoneNumber)
                </label>
            </div>
            <div class="large-6 medium-7 columns">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @placeholder = "(xx) xxxx-xxxx", @class = "phone" })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
            <div class="large-3 columns"> </div>
        </div>

        <div class="row">
            <div class="small-12 medium-5 medium-offset-5 large-offset-4 columns">
                <input type="submit" id="submitContinue" class="yellowButton text-center small radius" value="CONTINUAR">
            </div>
        </div>
    }
</div>
<div class="clearfix"></div>