﻿@model Yum.Delivery.Model.ApiDomain.Request.CustomerDomain.CustomerChangePasswordRequest

@using (Html.BeginForm("ChangePassword", "Customer", new { token = Model.ChangePasswordKey }, FormMethod.Post))
{
    <div class="row loginPage">
        <div class="small-12 mobileWide-12 tabletUp-8 large-9 columns margin-top">
            <div class="panel">
                <h3>Redefinir sua senha</h3>
                <div class="large-12 small-land12 columns">
                    <div class="row">
                        <div class="large-3 tabletUp-5 mobileWide-4 columns lblContainer">
                            <label>Endereço de e-mail*</label>
                        </div>
                        <div class="large-6 tabletUp-7 mobileWide-8 columns">
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="large-3 columns"> </div>
                    </div>
                    <div class="row">
                        <div class="large-3 tabletUp-5 mobileWide-4 columns lblContainer">
                            <label>Nova senha*</label>
                        </div>
                        <div class="large-6 tabletUp-7 mobileWide-8 columns">
                            @Html.PasswordFor(model => model.NewPassword, new { @placeholder = "Nova senha" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="large-3 columns"> </div>
                    </div>
                    <div class="row">
                        <div class="large-3 tabletUp-5 mobileWide-4 columns lblContainer">
                            <label>Confirme sua senha*</label>
                        </div>
                        <div class="large-6 tabletUp-7 mobileWide-8 columns">
                            <input id="PasswordConfirmation" type="password" name="PasswordConfirmation" placeholder="Confirme sua senha">
                            @Html.ValidationMessage("PasswordConfirmation")
                        </div>
                        <div class="large-3 columns"> </div>
                    </div>
                    <div class="row">
                        <div class="large-3 tabletUp-5 mobileWide-4 columns"> &nbsp; </div>
                        <div class="large-3 columns"> &nbsp; </div>
                    </div>
                    <div class="row">
                        <div class="large-3 tabletUp-5 mobileWide-4 columns"> &nbsp; </div>
                        <div class="large-6 tabletUp-7 mobileWide-8 columns">
                            <a id="submitChangePasswordForm" class="yellowButton text-center small radius" href="#" style="margin-bottom:0; width:150px">ENTRAR</a>
                        </div>
                        <div class="large-3 columns"> &nbsp; </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#PasswordConfirmation').rules('add', { equalTo: '#NewPassword', messages: { equalTo: 'O valor deve ser igual ao do campo Senha' } });
            $('#submitChangePasswordForm').click(function (event) {
                event.preventDefault();
                if ($(this).closest('form').valid()) {
                    $(this).closest('form').submit();
                }
            });
        });
    </script>    
}