﻿@model CustomerDataViewModel

<div class="row loginPage">
    <div class="medium-offset-2 small-12 mobileWide-12 tabletUp-8 large-9 columns margin-top">
        <div class="panel">
            <h3>
                Dados do cliente
            </h3>
            <div class="large-12 columns">
                @using (Html.BeginForm("CustomerData", "Customer", FormMethod.Post, new { @id = "ContinueForm" }))
                {
                    <div class="row">
                        <div class="large-4 medium-5 columns lblContainer">
                            <label>
                                @Html.LabelFor(model => model.Name)
                            </label>
                        </div>
                        <div class="large-6 medium-7 columns">
                            @Html.TextBoxFor(model => model.Name, new { @placeholder = "Nome" })
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                        <div class="large-3 columns"> </div>
                    </div>
                    <div class="row">
                        <div class="large-4 medium-5 columns lblContainer">
                            <label>
                                @Html.LabelFor(model => model.Email)
                            </label>
                        </div>
                        <div class="large-6 medium-7 columns">
                            @Html.TextBoxFor(model => model.Email, new { @placeholder = "E-mail" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                        <div class="large-3 columns"> </div>
                    </div>
                    <div class="row">
                        <div class="large-4 medium-5 columns lblContainer">
                            <label>
                                @Html.LabelFor(model => model.PhoneNumber)
                            </label>
                        </div>
                        <div class="large-6 medium-7 columns">
                            @Html.TextBoxFor(model => model.PhoneNumber, new { @placeholder = "(xx) xxxx-xxxx", @class = "phone" })
                            @Html.ValidationMessageFor(model => model.PhoneNumber)
                        </div>
                        <div class="large-3 columns"> </div>
                    </div>
                    <div class="row">
                        <div class="large-3 columns"> </div>
                        <div class="large-8 medium-7 columns" style="margin-bottom:20px;">
                            <label for="checkbox2">
                                @{ var checkBoxClass = (Model != null && Model.CreateCustomerAccount) ? "styledCheckbox checked" : "styledCheckbox"; }
                                @Html.CheckBoxFor(model => model.CreateCustomerAccount, new { @class = checkBoxClass })
                                <span style="font-size:0.9em;vertical-align: top;">Criar conta para o cliente</span>
                            </label>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="small-8 medium-5 medium-offset-5 large-offset-4 columns">
                            <input type="submit" id="submitLogIn" class="yellowButton text-center small radius" value="CONTINUAR">
                        </div>
                    </div>
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                clearIfNotMatch: true,
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

            $('.phone').mask(SPMaskBehavior, spOptions);

            $('#ContinueForm').submit(function (event) {
                $("body").css("cursor", "progress");

                if ($('#CreateCustomerAccount:checked').length > 0 && $('#Email').val() == '') {
                    event.preventDefault();

                    $("body").css("cursor", "default");

                    showMessage('E-mail obrigatório para criar conta do cliente.');
                }
            });
        });
    </script>
}