﻿@model List<Yum.Delivery.Model.OrderDomain.ListOrder>

<div class="row infoPage">
    <div class="small-12 mobileWide-12 tabletUp-12 large-12 columns">
        <form>
            <div id="panelEditAddress" class="panel">
                <div class="row collapse">
                    <div class="large-8 medium-12 small-12 columns" style="margin-bottom:0px !important;">
                        <div class="row collapse">
                            <div>
                                <h3>Últimos Pedidos</h3>
                            </div>
                        </div>
                        @if (Model != null && Model.Count > 0)
                        {

                            <div class="row collapse addressItem">
                                @foreach (var item in Model)
                                {
                                    var toGo = item.ToGo ? "Retirada" : "Delivery";

                                    var status = string.Empty;

                                    switch (item.Status)
                                    {
                                        case Yum.Delivery.Model.OrderDomain.OrderStatusFinalEnum.CANCELLED:
                                            status = "Não Confirmado";
                                            break;
                                        case Yum.Delivery.Model.OrderDomain.OrderStatusFinalEnum.CONFIRMED:
                                            status = "Concluído";
                                            break;
                                        case Yum.Delivery.Model.OrderDomain.OrderStatusFinalEnum.PROCESSING:
                                            status = "Processando";
                                            break;
                                    }

                                    <div class="row addressRow">
                                        <div class="large-8 medium-8 small-12 column">
                                            <label style="color: #fed75f !important;">Pedido @item.OrderKey </label>
                                            <label>
                                                @toGo &nbsp; &bull; &nbsp; @item.Date.ToString("dd/MM/yyyy HH:mm") &nbsp; &bull; &nbsp; R$ @string.Format("{0:0.00}", item.Total)
                                                <br />
                                                @status
                                            </label>
                                        </div>
                                        <div class="large-4 medium-4 small-12 columns text-right">
                                            @Html.ActionLink("DETALHES", "FollowOrder", "Cart", new { Token = item.LinkToFollowOrder }, new { @Class = "button radius small yellowButton-small", data_default_value = "DETALHES" })
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="row collapse">
                                <div>
                                    <h5>
                                        Ops, parece que você não possui nenhum pedido efetuado.
                                    </h5>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        function redirectToFollowOrder(link) {
            window.location = link;
        }
    </script>
}