﻿@model CustomerLogInRequestViewModel

<div class="row loginPage">
    <div class="medium-offset-2 small-12 mobileWide-12 tabletUp-8 large-9 columns margin-top">
        <div class="panel">
            @{ Html.RenderPartial("_LogIn"); }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#submitLogIn').click(function (event) {
                event.preventDefault();
                $('#LogInForm').submit();
            });

            $('.forgotLink').click(function (event) {
                event.preventDefault();
                if (!$(this).is('#forgotLink') && $('#Email').valid()) {
                    $.post('@Url.Action("RecoverPassword")', { email: $('#Email').val() }, function (result) {
                        if (!result) {
                            showMessage('Você receberá um e-mail com as instruções para cadastrar uma nova senha.');
                        } else {
                            showMessage(result);
                        }
                    });
                }
            });

            $('#FacebookLogin').click(function (event) {
                event.preventDefault();
                FB.login(function (response) {
                    if (response.status === 'connected') {
                        var $fbHtml = $('#FacebookLogin').html();
                        $('#FacebookLogin').html($('<img>').attr('src', '@Url.Content("~/Images/fb-load.gif")'))
                        $.post('@Url.Action("FacebookLogin")', { token: response.authResponse.accessToken }, function (result) {
                            if (result === 'checkout') {
                                window.location = '@Url.Action("CheckoutRegisterUser", "Cart")';
                            }
                            else if (!result) {
                                window.location = '../';
                            } else {
                                $('#FacebookLogin').html($fbHtml);
                                showMessage(result);
                            }
                        });
                    }
                }, { scope: 'public_profile,email' });
            });
        });
    </script>
}
