﻿@{
    ViewBag.Title = "Rotinas Administrativas";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {}
<p>
    <a href="@Url.Action("Index", "MenuCloning")" class="shortcutButtonHome">
        <img src="~/Content/images/pratos-clone.png" width="128" height="128" title="Clonagem de Cardápio" alt="Clonagem de Cardápio" />
        <span>
            Clonagem de Cardápio
        </span>
    </a>

    <a href="@Url.Action("Index", "IntegrationTests")" class="shortcutButtonHome">
        <img src="~/Content/images/integration-tests.png" width="128" height="128" title="Testar Integração Aloha" alt="Testar Integração Aloha" />
        <span>
            Testar Integração Aloha
        </span>
    </a>

    <a href="@Url.Action("Index", "ImportKML")" class="shortcutButtonHome">
        <img src="~/Content/images/import-kml.png" width="128" height="128" title="Importação KML" alt="Importação KML" />
        <span>
            Importação KML
        </span>
    </a>

</p>