﻿
@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDoubleViewModel

<div>
    <span class="display-label">@Html.LabelFor(model => model.Description)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Description)
    </span>
</div>

<div>
    <span class="display-label">@Html.LabelFor(model => model.IdRestaurant)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Restaurant.Name)
    </span>
</div>

<div>
    <span class="display-label">@Html.LabelFor(model => model.IdMenuAttributeTypeDish)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.MenuAttributeType.Name)
    </span>
</div>

<div class="OptionalItens">
    <span class="display-label">
        @Html.LabelFor(model => model.ListSalesPromotionOptional)
    </span>
    <span class="display-field">
        @if (!Model.SalesPromotionDoubleOptional.NullOrEmpty())
        {
            foreach (var item in Model.SalesPromotionDoubleOptional)
            {
                <div style="padding-bottom:10px;">
                    @string.Format("{0}: {1}", item.MenuAttributeTypeOptional.Name, item.MenuAttributeTypeOptionalItem.Name)
                </div>
            }
        }
    </span>
</div>
