﻿
@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDoubleViewModel

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.IdDiscountType)
    </label>
    @Html.RadioButtonFor(model => model.IdDiscountType, (int)Yum.Delivery.Model.SalesPromotionGenericDomain.SalesPromotionDiscountTypeEnum.Value, new { @checked = "checked" })Valor Final
    @Html.RadioButtonFor(model => model.IdDiscountType, (int)Yum.Delivery.Model.SalesPromotionGenericDomain.SalesPromotionDiscountTypeEnum.Percentage)Porcentagem
    @Html.ValidationMessageFor(model => model.IdDiscountType)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.DiscountValue)
    </label>
    @Html.TextBoxFor(model => model.TextDiscountValue, new { @class = "valor", @maxlength = 6 ,@style = "width:320px"})
    @Html.ValidationMessageFor(model => model.DiscountValue)
    <span class="clearFix">&nbsp;</span>
</li>
