﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDoubleViewModel

@{
    var isPercentageType = Model.IdDiscountType == Yum.Delivery.Model.SalesPromotionGenericDomain.SalesPromotionDiscountTypeEnum.Percentage.GetHashCode();
    var enumDisplayName = isPercentageType ? "Porcentagem" : "Valor Final";
    var labelDiscountValue = isPercentageType ? "Porcentagem Desconto" : "Valor Final";
}

<div>
    <span class="display-label">@Html.LabelFor(model => model.IdDiscountType)</span>    
    <span class="display-field">
        @enumDisplayName
    </span>
</div>

<div>
    <span class="display-label">@labelDiscountValue</span>
    <span class="display-field">
        @if (isPercentageType)
        {
            var percentValue = (String.Format("{0:0.00}", Model.DiscountValue) + "%").Replace(',', '.');
            <span class="display-field">
                @percentValue
            </span>
            <span class="clearFix"></span>
        }
        else
        {
            @Html.DisplayFor(model => model.DiscountValue, new { @class = "valor", @maxlength = 6, @style = "width:320px" });
        }
    </span>
</div>
