﻿@model Yum.Delivery.FrontEnd.Models.DeliveryToGoViewModel
<div class="row" id="newHome">
    <div class="small-12 large-5 medium-6 small-centered columns resizePanelBox" id="orderTypeDiv">
        <div class="deliveryCarryout panel">
            <div class="row">
                <h2 style="text-align:center">Como você quer a sua pizza?</h2>
            </div>
            <div class="row">&nbsp;</div>

            <div class="row">
                @{ 
                    var smallCenteredClass = string.Empty;

                    if ((ViewBag.HasDelivery && (ViewBag.HasToGo == null || ViewBag.HasToGo == false)) || (ViewBag.HasToGo && (ViewBag.HasDelivery == null || ViewBag.HasDelivery == false)))
                    {
                        smallCenteredClass = "small-centered";
                    }
                }
                @if (ViewBag.HasDelivery)
                {
                    <div class="small-6 column text-center @smallCenteredClass" id="orderDeliveryBtn">
                        <div id="delivery" class="active">
                            <a href='@string.Format("{0}?restaurantUniqueName={1}&toGo=false&estimatedTimeTicks={2}", Url.Action("SelectRestaurant"), Model.DeliveryRestaurantUniqueName, Model.RestaurantEstimatedDeliveryTime)'>
                                <label class="icon">
                                    <input type="radio" name="deliveryCarryout" />
                                </label>
                                <p>
                                    Delivery
                                </p>
                            </a>
                        </div>
                    </div>
                }
                @if (ViewBag.HasToGo)
                {
                    <div class="small-6 column text-center @smallCenteredClass" id="orderToGoBtn">
                        <div id="carryout" class="active">
                            <label class="icon">
                                <input type="radio" name="deliveryCarryout" />
                            </label>
                            <p>
                                Retirada
                            </p>
                        </div>
                    </div>
                }
                <input type="hidden" id="startedToGoOrDelivery" />
            </div>
            <div class="row text-center">
                &nbsp;<img src="@Url.Content("~/Images/ajax-loader.gif")" id="loadingToGoOrDelivery" style="display: none;">&nbsp;
            </div>
        </div>
    </div>
</div>

@section Scripts{
	<script>
        $(document).ready(function () {
            updateNewHomeHeight();

            $("#startedToGoOrDelivery").val('');

            $(window).resize(function () {
                updateNewHomeHeight();
            });

            $('#orderTypeDiv').css("padding", "0px");
            $('#orderTypeDiv').show();

            $('#orderDeliveryBtn').bind('click', function (event) {
                event.preventDefault();

                if ($("#startedToGoOrDelivery").val() == null || $("#startedToGoOrDelivery").val() == '') {
                    $("body").css("cursor", "progress");

                    try {
                        $("#startedToGoOrDelivery").val("startedToGoOrDelivery");
                        $("#loadingToGoOrDelivery").show();

                        window.location = $(this).find('a').attr('href');
                    } catch (err) {
                        $("body").css("cursor", "default");
                    }
                }
            });

            $('#orderToGoBtn').bind('click', function (event) {
                event.preventDefault();

                if ($("#startedToGoOrDelivery").val() == null || $("#startedToGoOrDelivery").val() == '') {
                    $("body").css("cursor", "progress");

                    try {
                        $("#startedToGoOrDelivery").val("startedToGoOrDelivery");
                        $("#loadingToGoOrDelivery").show();

                        window.location = '@Url.Action("ToGoRestaurants", new { isHome = (bool)ViewBag.IsHome })';
                    } catch (err) {
                        $("body").css("cursor", "default");
                    }
                }
            });
        });
	</script>
}
