﻿<!-- content -->
<div class="row">
    <div class="smal-12 columns panel">
        <h2>Termos e Condições</h2>
        <p>
            <strong>I. Segurança ao Site</strong>
        </p>
        <p>
            A segurança do site é provida por Hands On Tecnologia, o que garante a integridade e a confidencialidade de dados fornecidos pelo Cliente.
        </p>
        <p>
            <strong>II. Responsabilidade do Cliente</strong>
        </p>
        <p>
            O Cliente será o único responsável pela (i) veracidade dos dados e informações por si fornecidos ao site e (ii) guarda de “login” (e-mail) e senha de sua Conta, se for o caso.
        </p>
        <p>
            Por isso, o Cliente responderá, absoluta e exclusivamente, por eventuais danos derivados (i) da falsidade dos dados e informações por si fornecidos ao site e/ou (ii) do uso indevido de sua Conta, em âmbito cível e criminal, seja perante a “Pizza Hut” e/ou terceiros.
            Constatada a falsidade destes dados e informações e/ou o uso indevido da Conta do Cliente, a “Pizza Hut” poderá bloquear o acesso do mesmo ao site e/ou suspender sua Conta.
        </p>
        <p>
            <strong>III. Tratamento de Dados e Privacidade do Cliente</strong>
        </p>
        <p>
            Os dados e informações fornecidos pelo Cliente ao site serão incorporados, automaticamente, ao Banco de Dados Eletrônicos da “Pizza Hut” e somente serão apresentados a terceiros com a devida autorização expressa do próprio Cliente ou mediante ordem judicial.
            Estes dados e informações, bem como os “Registros de Acesso” do Cliente ao site serão preservados pela “Pizza Hut”, durante 06 (seis) meses, como determina o art. 15 do Marco Civil da Internet (Lei Federal nº 12.965/14); após, poderão ser definitivamente excluídos, por liberalidade da “Pizza Hut” e/ou a requerimento do Cliente.
            O Cliente somente receberá ofertas via e-mail e/ou via SMS, se assim optar ao site; para cancelar o recebimento, o Cliente deverá selecionar um link disposto no rodapé da página do próprio e-mail de ofertas que receber.
        </p>
        <p>
            <strong>IV. Procedimentos</strong>
        </p>
        <p>
            IV.1. 	 		Criar Conta ao Site
        </p>
        <p>
            Em qualquer acesso ao site, o Cliente poderá criar uma Conta que lhe oportunizará: (i) agilidade em futuros Pedidos; (ii) tratamento especial ao seu aniversário e (iii) recebimento de promoções exclusivas via e-mail e/ou SMS.
            Para criar sua Conta, o Cliente deverá: disponibilizar seus dados pessoais (nome completo; CPF; endereços e-mail e telefone); (ii) optar (ou não) pelo recebimento de notificações por e-mail e/ou SMS; (iii) informar sua localização (endereço ao qual receberá o Pedido – o que poderá ser alterado em futuros Pedidos); (iv) criar uma senha (pessoal e intransferível) e (v) afirmar que concorda com estes “Termos e Condições” e que entende o tratamento que será dado aos seus dados pessoais, conforme previsto ao item “III” destes “Termos e Condições”.
        </p>
        <p>
            “indicações de pagamento”
        </p>
        <p>
            IV. 2. 		Fazer um Pedido
        </p>
        <p>
            Para pedir ao site, o Cliente deverá:
        </p>
        <p>
            IV.2.A.  Cliente com Conta:  	informar seu “login” (e-mail) e senha e seguir o fácil “passo a passo” ao site;
        </p>
        <p>
            IV.2.B. 	Cliente sem Conta: 	disponibilizar seus dados pessoais (nome completo; CPF; endereços e-mail e telefone) e seguir o “passo a passo” ao site.
        </p>
        <p>
            IV. 3.  		Receber o Pedido
        </p>
        <p>
            O Cliente deverá retirar ou aguardar o Pedido (a depender da Modalidade de Entrega, “retirada” ou “delivery”) no local por si solicitado e ao prazo  informado à página que lhe será apresentada ao site após a Conclusão do Pedido.
            Em ambas as Modalidades de Entrega, “retirada” ou “delivery”, ao receber o Pedido, o Cliente deverá verificar as condições da respectiva embalagem.
            Por se tratar de produto(s) consumíveis/perecíveis, o Cliente somente poderá recusar o Pedido, caso perceba que o lacre de segurança encontra-se violado no momento do recebimento da embalagem. Neste caso, o Cliente deverá relatar o ocorrido ou Gerente do Restaurante (na Modalidade de Entrega “retirada”) ou ao SAC da “Pizza Hut” (na Modalidade de Entrega “delivery”) munido, em ambos os casos, do número do Pedido que será apresentado ao site após a Conclusão do Pedido.
            Obviamente, o Pedido somente será entregue ao Cliente mediante pagamento, nos termos por si escolhidos.
            Em ambas as Modalidades de Entrega, a gorjeta será mera liberalidade do Cliente.
        </p>
        <p>
            <strong>V.SAC (Serviço de Atendimento ao Cliente)</strong>
        </p>
        <p>
            O Cliente pode obter informações, esclarecer dúvidas, reclamar e/ou relatar vício de qualidade percebido ao recebimento do Pedido, gratuitamente, durante o expediente de entrega, aos seguintes canais de SAC (Serviço de Atendimento ao Cliente):
        </p>
        <p>
            V.1. 	 	e-mail sistema_pizzahut@raieditorial.com.br.
        </p>
        <p>
            VI. 	  		Considerações Complementares
        </p>
        <p>
            VI.1.  	 	Na elaboração destes “Termos e Condições” observou-se:
        </p>
        <p>
            VI.1.A. 	Normas derivadas do Código de Defesa do Consumidor (Lei Federal nº 9.099/95), do Decreto Presidencial do E-commerce (nº 7.962/13), o Marco Civil da Internet (Lei Federal nº 12.965/14) e o Decreto Presidencial do SAC (nº 6.523/08);
        </p>
        <p>
            VI.1.B. 	Princípios da Boa-Fé e da Informação.
        </p>
        <p>
            VI.2.  		As imagens contidas ao site [inclusive do(s) produto(s)] são meramente ilustrativas e de propriedade da “Pizza Hut”, não podendo ser usadas para outros fins, sem autorização prévia.
        </p>
        <p>
            VI.3.   		Oportunas mudanças nestes “Termos e Condições”, aptas à adequação a novos entendimentos dos Poderes Legislativo e/ou Judiciário, serão publicadas neste site, mediante nova Edição.
        </p>
        <p>
            VI.4. 	 		Esta é a 1ª Edição, publicada em 16 de novembro de 2015 (segunda-feira).
        </p>
        <p>
            VI.5. 			Fica eleito o foro de domicílio do Cliente o Competente para processar e julgar Ações derivadas de controvérsias oriundas destes “Termos e Condições".
        </p>
    </div>
</div>