﻿@model List<Yum.Delivery.Model.RestaurantDomain.RestaurantDistance>

@if (Model.NullOrEmpty())
{
    <div class="row" id="newHome">
        <div class="small-12 large-7 medium-10 small-centered columns resizePanelBox" id="pickARestaurant" style="">
            <div class="carryoutAddresses panel" id="pickARestaurantPanel">
                <h3 class="text-center" id="choseNearestRestaurant">Nenhum restaurante encontrado.</h3>
                <div class="row" id="changeAddressRow">
                    <div class="column text-center">
                        <a href='@Url.Action("Index", "Home")' class="button small">ALTERAR ENDEREÇO</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row" id="newHome">
        <div class="small-12 large-7 medium-10 small-centered columns resizePanelBox" id="pickARestaurant" style="">
            <div class="carryoutAddresses panel" id="pickARestaurantPanel">
                <h3 class="text-center" id="choseNearestRestaurant">Escolha a Pizza Hut mais próxima para retirada</h3>
                <div class="row map">
                    <div class="small-12 column">
                        <div id="mapHolder" style="height: 300px"></div>
                    </div>
                </div>
                <div id="restaurantAddressResults" style="max-height: 350px; overflow-y: auto; overflow-x: hidden;">
                    @for (int j = 0; j < Model.Count; ++j)
                    {
                        var restaurant = Model[j];
                        var display = j == 0 ? "block" : "none";

                        if (restaurant.Address != null)
                        {
                            <div class="row addressItem collapse restaurantInfo" style="display:@display;">
                                @{
                            string latitudeInfo = string.Empty;
                            string longitudeInfo = string.Empty;

                            if (restaurant.Address.CoordinateData != null)
                            {
                                latitudeInfo = restaurant.Address.CoordinateData.Latitude.HasValue ?
                                    restaurant.Address.CoordinateData.Latitude.ToString().Replace(',', '.') : string.Empty;
                                longitudeInfo = restaurant.Address.CoordinateData.Longitude.HasValue ?
                                    restaurant.Address.CoordinateData.Longitude.ToString().Replace(',', '.') : string.Empty;
                            }
                                }
                                <span style="display:none;" class="latitudeInfo">@latitudeInfo</span>
                                <span style="display:none;" class="longitudeInfo">@longitudeInfo</span>
                                <div class="small-12 column">
                                    <div class="row collapse">
                                        <div class="small-12 column buttonContainer">
                                            <label>
                                                @string.Format("{0}, {1}, {2}, {3}", restaurant.Address.Address, restaurant.Address.Number, restaurant.Address.Neighborhood,
                                            restaurant.Address.City, restaurant.Address.StateCode)
                                        </label>

                                        @{
                            if (restaurant.Distance != "0")
                            {
                                <label style="font-weight:normal">
                                    <img src="@Url.Content("~/Images/distance-icon.png")" alt="Distância" style="padding-right:10px; margin-bottom:4px" /> @restaurant.Distance de distância
                                </label>
                            }

                            string timeText = string.Empty;
                            string clockIconAlt = "Horário de Funcionamento";

                            if (!restaurant.TodayDeliveryTimeList.NullOrEmpty() && restaurant.AcceptToGo)
                            {
                                var stringBuilder = new System.Text.StringBuilder();

                                if (restaurant.TodayDeliveryTimeList.Count > 1)
                                {
                                    clockIconAlt = "Horários de Funcionamento";
                                }

                                for (int i = 0; i < restaurant.TodayDeliveryTimeList.Count; ++i)
                                {
                                    var deliveryTimeToday = restaurant.TodayDeliveryTimeList[i];

                                                    if (deliveryTimeToday.EndTime.Hours == 23 && deliveryTimeToday.EndTime.Minutes == 59)
                                                    {
                                                        deliveryTimeToday.EndTime = new TimeSpan(00, 00, 00);
                                                    }

                                    stringBuilder.Append(string.Format("{0}:{1} - {2}:{3}", deliveryTimeToday.StartTime.Hours.ToString("00"), deliveryTimeToday.StartTime.Minutes.ToString("00"),
                                        deliveryTimeToday.EndTime.Hours.ToString("00"), deliveryTimeToday.EndTime.Minutes.ToString("00")));

                                    if (i != restaurant.TodayDeliveryTimeList.Count - 1 && restaurant.TodayDeliveryTimeList.Count > 1)
                                    {
                                        stringBuilder.Append(" / ");
                                    }
                                }

                                timeText = stringBuilder.ToString();
                            }
                                        }

                                        @if (!timeText.NullOrEmpty())
                                        {
                                            <label style="font-weight:normal">
                                                <img src="@Url.Content("~/Images/clock-icon.png")" alt="@clockIconAlt" style="padding-right:10px; margin-bottom:4px" />
                                                @timeText
                                            </label>
                                        }
                                    </div>
                                </div>

                                @{ bool hasExternalPlataform = !restaurant.ExternalName.NullOrEmpty() && !restaurant.ExternalLink.NullOrEmpty(); }

                                @if (restaurant.AcceptToGo || hasExternalPlataform)
                                {
                                    <div class="row collapse">
                                        <div class="small-12 column buttonContainer" style="padding-right: 20px;">
                                            @if (restaurant.AcceptToGo)
                                            {
                                                if (hasExternalPlataform)
                                                {
                                                    <a href="@restaurant.ExternalLink" class="button redButton selectAddressToGo">@restaurant.ExternalName</a>
                                                }
                                                else
                                                {
                                                    string btnText = restaurant.Open ? "Peça já" : "Veja o Cardápio";

                                                    <a href='@string.Format("{0}?restaurantUniqueName={1}&toGo=true", Url.Action("SelectRestaurant", "Home"), restaurant.UniqueName)' class="button redButton selectAddressToGo orderNow">@btnText</a>
                                                }
                                            }
                                            else if (hasExternalPlataform)
                                            {
                                                <a href="@restaurant.ExternalLink" class="button redButton selectAddressToGo">@restaurant.ExternalName</a>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                            if (j < Model.Count - 1)
                            {
                                <hr class="fancy-separator" style="display:none">
                            }
                            
                            if (j == 0 && Model.Count > 1)
                            {
                                <div class="row text-center">
                                    <div class="column small-5 medium-2 small-centered" style="cursor: pointer !important;" id="showMoreBtn">
                                        <p style="margin-bottom: 0; font-size: 14px">exibir mais</p>
                                        <img src="~/Images/arrow down.png" />
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>

            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function (event) {
            updateNewHomeHeight();

            $(window).resize(function () {
                updateNewHomeHeight();
            });

            @*if ('@ViewBag.IsDelivery' == 'True') {
                showMessage('Consulte os restaurantes mais próximos à sua região.');
            }*@

            if ($('.latitudeInfo').length > 0 && $('.longitudeInfo').length > 0) {
                var latlon = new google.maps.LatLng($('.latitudeInfo').first().text(), $('.longitudeInfo').first().text());

                var myMapOptions = {
                    center: latlon,
                    zoom: 14,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    mapTypeControl: false,
                    navigationControlOptions: { style: google.maps.NavigationControlStyle.SMALL }
                };

                var map = new google.maps.Map(document.getElementById("mapHolder"), myMapOptions);
            }

            $('.orderNow').click(function (event) {
                putLoadingGif($(this));
            });

            $('.restaurantInfo').click(function (event) {
                var latlon = new google.maps.LatLng($(this).find('.latitudeInfo').text(), $(this).find('.longitudeInfo').text());
                map.setCenter(latlon);
            });

            $('.restaurantInfo').each(function (index, value) {
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng($(value).find('.latitudeInfo').text(), $(value).find('.longitudeInfo').text()),
                    map: map,
                    title: value.Name
                });
            });

            $('#showMoreBtn').click(function (event) {
                $(this).closest('.row').hide();
                $('.fancy-separator').show();
                $('.addressItem').show();
            });
        });
    </script>
}