﻿@using SmartFramework.Areas.EnumsAndConsts
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/skin/defaultHead-css")
    @Styles.Render("~/Scripts/Colorbox/cboxHead-css")
    @Styles.Render("~/Content/sboxHead-css")
    @Styles.Render("~/Content/custom-theme/jqueryUIHead-css")
    @Styles.Render("~/Scripts/Jcrop/css/jCropHead-css")
    @Styles.Render("~/Content/skin/loading-css")
    @Styles.Render("~/Content/skin/reportByAreaStyle-css")
    @Styles.Render("~/Content/skin/orderCustomer-css")
    @Styles.Render("~/Content/dateentry/dateentry-css")
    <!--[if IE 6]>
        <link rel="stylesheet" href="ie.css" type="text/css" />
        <![endif]-->
    <!--[if IE]>
                    <link type="text/css" media="screen" rel="stylesheet" href="js/colorbox-custom-ie.css" title="Cleanity" />
        <![endif]-->
</head>
<body>
    <input type="hidden" id="applicationPath" name="applicationPath" value="@SmartFramework.Helpers.HttpContextHelper.GetApplicationPath(true)" />

    @{
        bool responsiveLayout = ViewBag.ResponsiveLayout != null && ViewBag.ResponsiveLayout == true;
        string containerClass = responsiveLayout ? "container-responsive" : String.Empty;
    }
    <div id="container" class="@containerClass">
        <div class="hidden">
            <!-- the modal box container - this div is hidden until it is called from a modal box trigger. see cleanity.js for details -->
            <div id="sample-modal">
                <h2 style="font-size: 160%; font-weight: bold; margin: 10px 0;">Modal Box Content</h2>
                <p>Place your desired modal box content here</p>
            </div>
        </div>
        <!-- end of hidden -->
        <!--Headder-->
        <div id="header">
            <div id="top">
                <h1><a href="@Url.Action("Index", "BOHome" )"><img src="~/Content/pizza-hut.png" height="44" alt="Pizza Hut" /></a></h1>
                @Html.Partial("_LogOnPartial")
                <span class="clearFix">&nbsp;</span>
            </div>
            <!--Menu-->
            <ul id="menu">
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Home", "Index", "BOHome")</li>
                    if (User.IsInRole(UserPermission.CustomerList))
                    {
                        <li>@Html.ActionLink("Cliente", "Index", "Customer")</li>
                    }
                    if (User.IsInRole(UserPermission.CityList))
                    {
                        <li>@Html.ActionLink("Cidade", "Index", "City")</li>
                    }
                    if (User.IsInRole(UserPermission.NeighborhoodList))
                    {
                        <li>@Html.ActionLink("Bairro", "Index", "Neighborhood")</li>
                    }
                    if (User.IsInRole(UserPermission.RestaurantList) ||
                    User.IsInRole(UserPermission.RestaurantCreate) ||
                    User.IsInRole(UserPermission.RestaurantEdit) ||
                    User.IsInRole(UserPermission.KMLList) ||
                    User.IsInRole(UserPermission.KMLCreate) ||
                    User.IsInRole(UserPermission.KMLEdit) || 
                    User.IsInRole(UserPermission.RegionCreate) ||
                    User.IsInRole(UserPermission.RegionList) ||
                    User.IsInRole(UserPermission.RegionEdit) ||
                    User.IsInRole(UserPermission.RegionDelete))
                    {
                        <li>
                            <a class="top-level" href="#">Parametrização Lojas <span>&nbsp;</span></a>
                            <ul>
                                @if (User.IsInRole(UserPermission.RestaurantList) ||
                        User.IsInRole(UserPermission.RestaurantCreate) ||
                        User.IsInRole(UserPermission.RestaurantEdit))
                                {
                                    <li>@Html.ActionLink("Lojas", "Index", "Restaurant")</li>
                                }
                                @if (User.IsInRole(UserPermission.KMLList) ||
                        User.IsInRole(UserPermission.KMLCreate) ||
                        User.IsInRole(UserPermission.KMLEdit))
                                {
                                    <li>@Html.ActionLink("Área de Entrega", "Index", "KML")</li>
                                }
                                @if (User.IsInRole(UserPermission.RegionList) ||
                                     User.IsInRole(UserPermission.RegionCreate) || 
                                     User.IsInRole(UserPermission.RegionEdit) || 
                                     User.IsInRole(UserPermission.RegionDelete)) 
                                {
                                    <li>@Html.ActionLink("Regiões", "Index", "Region")</li>
                                }
                            </ul>
                        </li>
                    }
                    if (User.IsInRole(UserPermission.MenuGroupList) ||
            User.IsInRole(UserPermission.MenuGroupCreate) ||
            User.IsInRole(UserPermission.MenuGroupEdit) ||
            User.IsInRole(UserPermission.MenuGroupDelete) ||
            User.IsInRole(UserPermission.MenuGroupActivateInactivate) ||
            User.IsInRole(UserPermission.MenuDishList) ||
            User.IsInRole(UserPermission.MenuDishCreate) ||
            User.IsInRole(UserPermission.MenuDishEdit) ||
            User.IsInRole(UserPermission.MenuDishDelete) ||
            User.IsInRole(UserPermission.MenuDishActivateInactivate) ||
            User.IsInRole(UserPermission.MenuDishValueEdit) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionList) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionCreate) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionEdit) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDelete) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleList) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleCreate) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleEdit) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleDelete) ||
            User.IsInRole(UserPermission.SalesGiftCodeList) ||
            User.IsInRole(UserPermission.SalesGiftCodeCreate) ||
            User.IsInRole(UserPermission.SalesGiftCodeEdit) ||
            User.IsInRole(UserPermission.SalesGiftCodeDelete) ||
            User.IsInRole(UserPermission.SellingOutGroupList) ||
            User.IsInRole(UserPermission.SellingOutGroupCreate) ||
            User.IsInRole(UserPermission.SellingOutGroupEdit) ||
            User.IsInRole(UserPermission.SellingOutGroupDelete))
                    {
                        <li>
                            <a class="top-level" href="#">Cardápio <span>&nbsp;</span></a>
                            <ul>
                                @if (User.IsInRole(UserPermission.MenuGroupList) ||
            User.IsInRole(UserPermission.MenuGroupCreate) ||
            User.IsInRole(UserPermission.MenuGroupEdit) ||
            User.IsInRole(UserPermission.MenuGroupDelete) ||
            User.IsInRole(UserPermission.MenuGroupActivateInactivate))
                                {
                                    <li>@Html.ActionLink("Menu", "Index", "MenuGroup")</li>
                                }
        
        @if (User.IsInRole(UserPermission.ProductCodeList))
        {
            <li>@Html.ActionLink("Código Produto", "Index", "ProductCode")</li>
        }                        

                                @if (User.IsInRole(UserPermission.MenuDishList) ||
            User.IsInRole(UserPermission.MenuDishCreate) ||
            User.IsInRole(UserPermission.MenuDishEdit) ||
            User.IsInRole(UserPermission.MenuDishDelete) ||
            User.IsInRole(UserPermission.MenuDishActivateInactivate) ||
            User.IsInRole(UserPermission.MenuDishValueEdit))
                                {
                                    <li>@Html.ActionLink("Prato", "Index", "MenuDish")</li>
                                }
                                @if (User.IsInRole(UserPermission.MenuDishSalesPromotionList) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionCreate) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionEdit) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDelete) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountList) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountCreate) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountEdit) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountDelete) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleList) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleCreate) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleEdit) ||
            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleDelete) ||
            User.IsInRole(UserPermission.SalesGiftCodeList) ||
            User.IsInRole(UserPermission.SalesGiftCodeCreate) ||
            User.IsInRole(UserPermission.SalesGiftCodeEdit) ||
            User.IsInRole(UserPermission.SalesGiftCodeDelete))
                                {
                                    <li>
                                        <a>Promoções</a>
                                        <ul class="submenu">

                                            @if (User.IsInRole(UserPermission.MenuDishSalesPromotionList) ||
                User.IsInRole(UserPermission.MenuDishSalesPromotionCreate) ||
                User.IsInRole(UserPermission.MenuDishSalesPromotionEdit) ||
				        User.IsInRole(UserPermission.MenuDishSalesPromotionDelete) ||
			            User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleList) ||
                User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleCreate) ||
                User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleEdit) ||
				        User.IsInRole(UserPermission.MenuDishSalesPromotionDoubleDelete) ||
                        User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountList) ||
                        User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountCreate) ||
                        User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountEdit) ||
                        User.IsInRole(UserPermission.MenuDishSalesPromotionDiscountDelete))
                                            {
                                <li>@Html.ActionLink("Mecânicas de Promoção", "Index", "SalesPromotionGeneric")</li>
                                            }
                                            @if (User.IsInRole(UserPermission.SalesGiftCodeList) ||
                User.IsInRole(UserPermission.SalesGiftCodeCreate) ||
                User.IsInRole(UserPermission.SalesGiftCodeEdit) ||
                User.IsInRole(UserPermission.SalesGiftCodeDelete))
                                            {
                                                <li>@Html.ActionLink("Brinde Pesquisa Satisfação", "Index", "SalesGiftCode")</li>
                                            }
                                        </ul>
                                    </li>
                                }
                                @if (User.IsInRole(UserPermission.SellingOutGroupList) ||
            User.IsInRole(UserPermission.SellingOutGroupCreate) ||
            User.IsInRole(UserPermission.SellingOutGroupEdit) ||
            User.IsInRole(UserPermission.SellingOutGroupDelete))
                                {
                                    <li>@Html.ActionLink("Acompanhamento Checkout", "Index", "SellingOutGroup")</li>
                                }

                                @if (User.IsInRole(UserPermission.MenuDishClone))
                                {
                                    <li>@Html.ActionLink("Clonagem de Pratos", "Clone", "MenuDish")</li>
                                }
                            </ul>
                        </li>
                    }
                    if (User.IsInRole(UserPermission.OrderList) ||
                        User.IsInRole(UserPermission.OrderCreate) ||
                        User.IsInRole(UserPermission.OrderEdit) ||
                        User.IsInRole(UserPermission.OrderDelete) ||
                        User.IsInRole(UserPermission.OrderDeliveryControl))
                    {
                        <li>
                            <a class="top-level" href="#">Pedido <span>&nbsp;</span></a>
                            <ul>
                                @if (User.IsInRole(UserPermission.OrderList) ||
                                    User.IsInRole(UserPermission.OrderCreate) ||
                                    User.IsInRole(UserPermission.OrderEdit) ||
                                    User.IsInRole(UserPermission.OrderDelete))
                                {
                                    <li>@Html.ActionLink("Monitoramento", "Index", "OrderTracking")</li>
                                }
                                @if (User.IsInRole(UserPermission.OrderDeliveryControl))
                                {
                                    <li>@Html.ActionLink("Controle de Entrega", "Index", "DeliveryControl")</li>
                                }
                            </ul>
                        </li>
                    }
                    if (User.IsInRole(UserPermission.BannerList) ||
                        User.IsInRole(UserPermission.BannerCreate) ||
                        User.IsInRole(UserPermission.BannerEdit) ||
                        User.IsInRole(UserPermission.BannerDelete) ||
                        User.IsInRole(UserPermission.MainBannerList) ||
                        User.IsInRole(UserPermission.MainBannerCreate) ||
                        User.IsInRole(UserPermission.MainBannerEdit) ||
                        User.IsInRole(UserPermission.MainBannerDelete) ||
                        User.IsInRole(UserPermission.AsideBannerList) ||
                        User.IsInRole(UserPermission.AsideBannerCreate) ||
                        User.IsInRole(UserPermission.AsideBannerEdit) ||
                        User.IsInRole(UserPermission.AsideBannerDelete))
                    {
                        <li>
                            <a class="top-level" href="#">Banner <span>&nbsp;</span></a>
                            <ul>
                                @if (User.IsInRole(UserPermission.BannerList) ||
                                User.IsInRole(UserPermission.BannerCreate) ||
                                User.IsInRole(UserPermission.BannerEdit) ||
                                User.IsInRole(UserPermission.BannerDelete))
                                {
                                    <li>@Html.ActionLink("Banners", "Index", "Banner")</li>
                                }
                                @if (User.IsInRole(UserPermission.MainBannerList) ||
                                User.IsInRole(UserPermission.MainBannerCreate) ||
                                User.IsInRole(UserPermission.MainBannerEdit) ||
                                User.IsInRole(UserPermission.MainBannerDelete))
                                {
                                    <li>@Html.ActionLink("Principal", "Index", "MainBanner")</li>
                                }
                                @if (User.IsInRole(UserPermission.AsideBannerList) ||
                                User.IsInRole(UserPermission.AsideBannerCreate) ||
                                User.IsInRole(UserPermission.AsideBannerEdit) ||
                                User.IsInRole(UserPermission.AsideBannerDelete))
                                {
                                    <li>@Html.ActionLink("Secundário", "Index", "AsideBanner")</li>
                                }
                            </ul>
                        </li>
                    }
                    if (User.IsInRole(UserPermission.ExportOrder) ||
                    User.IsInRole(UserPermission.ReportCustomerOrderList) ||
                    User.IsInRole(UserPermission.ReportOrderOccurrenceList) ||
                    User.IsInRole(UserPermission.ExportOrderByAreas) ||
                    User.IsInRole(UserPermission.ReportOrderDeliverySyntheticList) ||
                    User.IsInRole(UserPermission.ReportOrderDeliveryAnalyticList)
                    )
                    {
                        <li>
                            <a class="top-level" href="#">Relatórios <span>&nbsp;</span></a>
                            <ul>
                                @if (User.IsInRole(UserPermission.ExportOrder))
                                {
                                    <li>@Html.ActionLink("Exportação de Pedidos", "ExportOrders", "Report")</li>
                                }
                                @if (User.IsInRole(UserPermission.ReportCustomerOrderList))
                                {
                                    <li>@Html.ActionLink("Relatório Pedidos Cliente", "CustomerOrder", "Report")</li>
                                }
                                @if (User.IsInRole(UserPermission.ReportOrderOccurrenceList))
                                {
                                    <li>@Html.ActionLink("Relatório Ocorrências Pedido", "OrderOccurrence", "Report")</li>
                                }
                                @if (User.IsInRole(UserPermission.ExportOrderByAreas))
                                {
                                    <li>@Html.ActionLink("Pedidos por Área Atendimento", "ExportOrdersByArea", "Report")</li>
                                }
                                @if (User.IsInRole(UserPermission.ReportOrderDeliveryAnalyticList))
                                {
                                    <li>@Html.ActionLink("Tempo de Entrega - Analítico", "AnalyticalOrderDeliveryTime", "Report")</li>
                                }
                                @if (User.IsInRole(UserPermission.ReportOrderDeliverySyntheticList))
                                {
                                    <li>@Html.ActionLink("Tempo de Entrega - Sintético", "OrderDeliveryTime", "Report")</li>
                                }
                            </ul>

                        </li>
                    }
                    <li>
                        <a class="top-level" href="#">Configurações <span>&nbsp;</span></a>
                        <ul>
                            @if (User.IsInRole(UserPermission.UserList) ||
            User.IsInRole(UserPermission.UserCreate) ||
            User.IsInRole(UserPermission.UserEdit) ||
            User.IsInRole(UserPermission.UserDelete))
                            {
                                <li>
                                    @Html.ActionLink("Usuários", "Index", "BOAccount")
                                </li>
                            }
                            @if (User.IsInRole(UserPermission.GroupList) ||
            User.IsInRole(UserPermission.GroupCreate) ||
            User.IsInRole(UserPermission.GroupEdit) ||
            User.IsInRole(UserPermission.GroupDelete))
                            {
                                <li>@Html.ActionLink("Grupos", "GroupIndex", "BOAccount")</li>
                            }
                            @if (User.IsInRole(UserPermission.BOLogSystemList))
                            {
                                <li>@Html.ActionLink("Logs do Sistema", "Index", "BOLogSystem")</li>
                            }
                            <li>@Html.ActionLink("Trocar Senha", "ChangePassword", "BOAccountBase")</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
        <!-- end of #header -->
        @{ string paddingBox = Request.IsAuthenticated ? "0px" : "20px";}
        <div id="content">
            @{ string midColClass = responsiveLayout ? "responsive" : String.Empty; }
            <div id="mid-col" class="@midColClass">
                <div class="box" style="margin-top: @paddingBox;">
                    <!--Render body-->
                    <h4 class="white">@ViewBag.Title @RenderSection("titleContent", false)</h4>
                    <div class="box-container">
                        @RenderBody()
                    </div>
                    <div style="display:none" id="Mensagem">
                        <fieldset class="details">
                            <h2 class="details-title" id="TextoMensagem"></h2>
                        </fieldset>
                    </div>
                    <!-- end of div.box-container -->
                    <!--Render body-->
                </div>
                <!-- end of div.box -->
            </div>
            <!-- end of div#mid-col -->
            <span class="clearFix">&nbsp;</span>
        </div>
        <!-- end of div#content -->
        <div class="push"></div>
    </div>
    <!-- end of #container -->
    <div id="footer-wrap">
        <div id="footer">
            <div id="footer-top">
                <div class="align-left">
                    <h4>BackOffice</h4>
                    <p><a href="http://www.pizzahut.com.br" target="_blank">PizzaHut.com.br</a> | <a href="~/DownloadReceptor/PH Receptor Pedidos.zip">Receptor de Pedidos</a>
                </div>
                <span class="clearFix"></span>
            </div>
            <!-- end of div#footer-top -->
            <div id="footer-bottom">
                <p>&copy; @DateTime.Now.ToSessionTime().Year Desenvolvido por <a href="http://www.dartdigital.com.br">Dart Digital</a></p>
            </div>
        </div>
        @if (ViewBag.OcultarLoadingOverlay == null || ViewBag.OcultarLoadingOverlay == false)
        {
            <div id="loadingOverlay">
                <img src="~/Content/images/loading.gif" width="70" height="70" />
            </div>
        }
        @Scripts.Render("~/Scripts/jqueryBody-js")
        @Scripts.Render("~/Scripts/Colorbox/jqueryColorboxBody-js")
        @Scripts.Render("~/Scripts/Corners/jqueryCornersBody-js")
        @Scripts.Render("~/Scripts/jqueryUIBody-js")
        @Scripts.Render("~/Scripts/Modernizr/modernizrBody-js")
        @Scripts.Render("~/Scripts/Globalize/globalizeBody-js")
        @Scripts.Render("~/Scripts/Dart/dartBody-js")
        @Scripts.Render("~/Scripts/tinymce/initTinyMCEBody-js")
        @Scripts.Render("~/Scripts/Dart/imageCropBody-js")
        @Scripts.Render("~/Scripts/Jcrop/js/jqueryJcropBody-js")
        @Scripts.Render("~/Scripts/tinymce/tinyMCEBody-js")
        @Scripts.Render("~/Scripts/timepicker/js/timepickerBody-js")
        @Scripts.Render("~/Scripts/Dart/dartFilterBody-js")
        @Scripts.Render("~/Scripts/jqueryFormatBody-js")
        @Scripts.Render("~/Scripts/Dart/loading-js")
        @Scripts.Render("~/Scripts/timeentry/jquery-timeentry-js")
        @RenderSection("Scripts", required: false)
        @RenderSection("FilterScripts", required: false)
</body>
</html>
