﻿<p id="userbox">
    @if(Request.IsAuthenticated) {
        <strong>@User.Identity.Name</strong> <text> &nbsp;| &nbsp; </text> @Html.ActionLink("Sair", "LogOff", "BOAccountBase") <br />
        <small>Ultimo login: @Yum.Delivery.BackOffice.Areas.Helpers.BrazilDateTime.toBrazilDateTime(Membership.GetUser(User.Identity.Name).LastLoginDate).ToString("dd MMMM yyyy HH:mm:ss")</small>
    }
    else {
        @:[ @Html.ActionLink("Entrar", "LogOn", "BOAccountBase") ]
    }
</p>