﻿@model SmartFramework.Areas.BackOffice.Models.ActionMenuModel

<td onmouseover="showmenu('@Model.IdMenu ')" onmouseout="hidemenu('@Model.IdMenu ')">
    <a href="#">Ações</a>
    <div id="@Model.IdMenu " style="width:120px; position:absolute; background-color:#eaeaea; display:none; padding-left:0px;">        
        <ul>
            @if(Model.Edit) { 
                <li>@Html.ActionLink(Resources.ViewLabelNameStrings.Edit, "Edit" + Model.ActionAppend, Model.Controller, new { id = Model.IdToRoute }, null)</li>
            } 
            @if (Model.Details) { 
                <li>@Html.ActionLink(Resources.ViewLabelNameStrings.Details, "Details" + Model.ActionAppend, Model.Controller, new { id = Model.IdToRoute }, null)</li>
            }
            @if(Model.Delete) { 
                <li>@Html.ActionLink(Resources.ViewLabelNameStrings.Delete, "Delete" + Model.ActionAppend, Model.Controller, new { id = Model.IdToRoute }, null)</li>
            }  
        </ul>        
    </div>    
</td>