﻿@model SmartFramework.Areas.BackOffice.Models.CascadeDropDownListModel

@if(Model.OptionalChoice && Model.OptionalChoiceValue.ISNullOrEmptyWithTrim()) { 
    <option value="">@Resources.ViewLabelNameStrings.Select</option>    
} else if (Model.OptionalChoice && Model.OptionalChoiceValue.ISNullOrEmptyWithTrim() == false) {
    <option value="">@Model.OptionalChoiceValue</option>    
}
@foreach(SelectListItem item in Model.Items) {
    <option value="@item.Value">@item.Text</option>    
}