﻿<div id="imagemCrop">
    <input type="hidden" id="coordX" />
    <input type="hidden" id="coordY" />
    <input type="hidden" id="coordHeight" />
    <input type="hidden" id="coordWidth" />
    <div id="imagem">
        <img src="" alt="" />
    </div>
    <a class="button cropBtn" href="#" onclick="cortarImagem(this, event)" rel="">Cortar</a>
</div>