﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.PagingModel

<script type="text/javascript">
    function PagingUserControl_SubmitForm(url) {
        
        var form;
        @if (Model != null)
        {
            <text>
            if (@((Model.FormId != null && Model.FormId != String.Empty).ToString().ToLower())) {
                form = $("#@Model.FormId");
            } else {
                form = $("form");
            }

            if (@((Model.URL != null && Model.URL != String.Empty).ToString().ToLower())) {
                form.attr("action", url);
            }

            form.submit();
            </text>
        } 

    }

</script>

@if (Model != null)
{
    <div id="paginacao">
        <span>

            @{
    string urlRedirectBase = Model.URL + (Model.URL.Contains("?") ? "&" : "?") + "Filter.Page={0}";

    int itensToShow = 5;

    int initialPageToShow = 1;

    if (Model.TotalPages > itensToShow && Model.CurrentPage > 1)
    {
        int tempInitialPageToShow = Model.CurrentPage + 2 >= Model.TotalPages ? Model.TotalPages - itensToShow + 1 : Model.CurrentPage - 2;

        initialPageToShow = tempInitialPageToShow > 0 ? tempInitialPageToShow : 1;

        if (tempInitialPageToShow > 1)
        {
            string urlPrimeira = String.Format(urlRedirectBase, 1);
            if (Model.IsPost == false)
            {
                            <a href="@urlPrimeira">Primeira</a>                
            }
            else
            {
                            <a href="#" onclick="PagingUserControl_SubmitForm('@urlPrimeira')">Primeira</a>               
            }
        }

        string urlAnterior = String.Format(urlRedirectBase, Model.CurrentPage - 1);
        if (Model.IsPost == false)
        {
                        <a href="@urlAnterior">Anterior</a>
        }
        else
        {
                        <a href="#" onclick="PagingUserControl_SubmitForm('@urlAnterior')">Anterior</a>
        }
    }

    int finalPageToShow = initialPageToShow;

    int maxItensToShow = initialPageToShow + (itensToShow - 1);

    string urlRedirectAnterior = String.Format(urlRedirectBase, Model.CurrentPage - 1);
    if (Model.CurrentPage - 3 > 0 && Model.TotalPages > 5)
    {
                    <a class="rt"> ...</a><span> |</span>
    }

    for (int i = initialPageToShow; i <= (maxItensToShow > Model.TotalPages ? Model.TotalPages : maxItensToShow); i++)
    {
        finalPageToShow++;
        string urlRedirect = String.Format(urlRedirectBase, i);

        if (Model.IsPost == false)
        {                       
                        <a href="@urlRedirect" class="@(i == Model.CurrentPage ? "selected" : "")">@i</a>
        }
        else if (finalPageToShow > Model.TotalPages)
        {
                        <a href="#" onclick="PagingUserControl_SubmitForm('@urlRedirect')" class="@(i == Model.CurrentPage ? "selected" : "")">@i</a>
        }
        else
        {
                        <a href="#" onclick="PagingUserControl_SubmitForm('@urlRedirect')" class="@(i == Model.CurrentPage ? "selected" : "")">@i</a>
        }
    }

    string urlRedirectProxima = String.Format(urlRedirectBase, Model.CurrentPage + 1);
    if (Model.CurrentPage + 3 <= Model.TotalPages && Model.TotalPages > 5)
    {
                    <a class="rt">... </a>
    }

    if (Model.CurrentPage < Model.TotalPages)
    {
        string urlProxima = String.Format(urlRedirectBase, Model.CurrentPage + 1);
        if (Model.IsPost == false)
        {
                        <a href="@urlProxima">Próxima</a>
        }
        else
        {
                        <a href="#" onclick="PagingUserControl_SubmitForm('@urlProxima')">Próxima</a>
        }
    }

    if (Model.TotalPages >= finalPageToShow)
    {
        if (Model.TotalPages > initialPageToShow)
        {
            string urlUltima = String.Format(urlRedirectBase, Model.TotalPages);
            if (Model.IsPost == false)
            {
                        <a href="@urlUltima">Última</a>
            }
            else
            {
                        <a href="#" onclick="PagingUserControl_SubmitForm('@urlUltima')">Última</a>
            }
        }
    }
            }
        </span>
    </div>
}