﻿@{
    ViewBag.Title = "404";
}

<div class="row errorPage">
    <div class="small-12 columns text-center">
        <h2>Ops! Ocorreu um erro.</h2>
    </div>
</div>
<div class="row errorPage">
    <div class="small-12 panel colums" style="height:11em">
        <div class="small-10 columns small-offset-1 text-center">
            <h3>
                Para continuar o seu pedido, escolha uma das opções no menu acima. Se o erro persistir, fale conosco.
            </h3>
        </div>
        <div class="small-0 large-4 medium-3 columns">&nbsp;</div>
        @*<div class="small-12 large-4 medium-6 columns text-center">
            <a href="#" class="yellowButton">Entre em contato</a>
        </div>*@
        <div class="small-0 large-4 medium-3 columns">&nbsp;</div>
    </div>
</div>
