@font-face {
    font-family: 'UnitedSans';
    -webkit-font-smoothing: antialiased;
    src: url('fonts/UnitedSansSemiCond-Bold.eot');
    src: url('fonts/UnitedSansSemiCond-Bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/UnitedSansSemiCond-Bold.woff') format('woff'),
         url('fonts/UnitedSansSemiCond-Bold.ttf') format('truetype'),
         url('fonts/UnitedSansSemiCond-Bold.svg#UnitedSans') format('svg');
    -webkit-font-smoothing:antialiased;
    font-weight: bold;
    font-style: normal;
}
@font-face {
  font-family: 'UnitedSansSemiCond-Light';
  -webkit-font-smoothing: antialiased;
  src: url('fonts/UnitedSansSemiCond-Light.eot?#iefix') format('embedded-opentype'),  
       url('fonts/UnitedSansSemiCond-Light.otf')  format('opentype'),
       url('fonts/UnitedSansSemiCond-Light.woff') format('woff'), 
       url('fonts/UnitedSansSemiCond-Light.ttf')  format('truetype'), 
       url('fonts/UnitedSansSemiCond-Light.svg#UnitedSansSemiCond-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'UnitedSansMed';
    -webkit-font-smoothing: antialiased;
    src: url('fonts/UnitedSansSmCdMd.eot');
    src: url('fonts/UnitedSansSmCdMd.eot#iefix') format('embedded-opentype'),
    	 url('fonts/UnitedSansSemiCond-Medium.otf') format('opentype'),
    	 url('fonts/UnitedSansSmCdMd.woff') format('woff'),
    	 url('fonts/UnitedSansSmCdMd.svg#UnitedSansMed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
       url('fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}