/* Devices sizes */
@mixin media-query($point) {
  @if $point == extra-small {
    @media (max-width: 767px) { @content; }
  }
  @else if $point == small {
    @media (min-width: 768px) and (max-width: 991px) { @content; }
  }
  @else if $point == desktop {
    @media (min-width: 992px) and (max-width: 1199px)  { @content; }
  }
  @else if $point == desktop-large {
    @media (min-width: 1200px) { @content; }
  }
  @else {
      @media (max-width: $point) { @content; }
  }
}

