﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {}
<p>
    @if (User.IsInRole(UserPermission.RestaurantList) ||
        User.IsInRole(UserPermission.RestaurantCreate) ||
        User.IsInRole(UserPermission.RestaurantEdit) ||        
        User.IsInRole(UserPermission.RestaurantList))
    {
        <a href="@Url.Action("Index", "Restaurant")" class="shortcutButtonHome">
            <img src="~/Content/images/stores.png" width="128" height="128" title="Lojas" alt="Lojas" />
            <span>
                Lojas
            </span>
        </a>
    }

@if (User.IsInRole(UserPermission.MenuGroupList) ||
	User.IsInRole(UserPermission.MenuGroupCreate) ||
	User.IsInRole(UserPermission.MenuGroupEdit) ||
	User.IsInRole(UserPermission.MenuGroupDelete) ||
	User.IsInRole(UserPermission.MenuGroupActivateInactivate))
{
    <a href="@Url.Action("Index", "MenuGroup")" class="shortcutButtonHome">
        <img src="~/Content/images/menu.png" width="128" height="128" title="Menus" alt="Menus" />
        <span>
            Menus
        </span>
    </a>
}

@if (User.IsInRole(UserPermission.MenuDishList) ||
	User.IsInRole(UserPermission.MenuDishCreate) ||
	User.IsInRole(UserPermission.MenuDishEdit) ||
	User.IsInRole(UserPermission.MenuDishDelete) ||
	User.IsInRole(UserPermission.MenuDishActivateInactivate) ||
	User.IsInRole(UserPermission.MenuDishValueEdit))
{     
    <a href="@Url.Action("Index", "MenuDish")" class="shortcutButtonHome">
        <img src="~/Content/images/pratos.png" width="128" height="128" title="Pratos" alt="Pratos" />
        <span>
            Pratos
        </span>
    </a>
}

    @if (User.IsInRole(UserPermission.OrderList))
    {
        <a href="@Url.Action("Index", "OrderTracking")" class="shortcutButtonHome">
            <img src="~/Content/images/monitoramento.png" width="128" height="128" title="Monitoramento de Pedidos" alt="Monitoramento de pedidos" />
            <span>
                Monitoramento de Pedidos
            </span>
        </a>
    }
    

    @if (ViewBag.ShowAdministrativeRoutines)
    {
        <a href="@Url.Action("Index", "AdministrativeRoutines")" class="shortcutButtonHome">
            <img src="~/Content/images/rotinas-administrativas.png" width="128" height="128" title="Rotinas Administrativas" alt="Rotinas Administrativas" />
            <span>
                Rotinas Administrativas
            </span>
        </a>
    }

    @if (User.IsInRole(UserPermission.OrderDeliveryControl))
    {
        <a href="@Url.Action("Index", "DeliveryControl")" class="shortcutButtonHome">
            <img src="~/Content/images/delivery-truck-speeding-128.png" width="128" height="128" title="Controle de Entregas" alt="Controle de Entregas" />
            <span>
                Controle de Entregas
            </span>
        </a>
    }

</p>