﻿@model IEnumerable<Yum.Delivery.Model.CustomerDomain.CustomerAddressInfo>
@if (Model != null && Model.Any())
{
    <table class="table-long">
        <thead>
            <tr>
                <th>
                    <a href="" rel="Name" class="orderByLink">
                        Nome
                    </a>
                </th>
                <th>
                    <a href="" rel="ZipCode" class="orderByLink">
                        Cep
                    </a>
                </th>

                <th>
                    <a href="" rel="Address" class="orderByLink">
                        Endereço
                    </a>
                </th>

                <th>
                    <a href="" rel="Number" class="orderByLink">
                        Número
                    </a>
                </th>
                <th>
                    <a href="" rel="Complement" class="orderByLink">
                        Complemento
                    </a>
                </th>
                <th>
                    <a href="" rel="Neighborhood" class="orderByLink">
                        Bairro
                    </a>
                </th>
                <th>
                    <a href="" rel="StateCode" class="orderByLink">
                        Estado
                    </a>
                </th>
                <th>
                    <a href="" rel="City" class="orderByLink">
                        Cidade
                    </a>
                </th>
                <th>
                    <a href="" rel="Reference" class="orderByLink">
                        Referência
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Complement)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Neighborhood)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Reference)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h2>Este usuário não possui endereços cadastrado.</h2>
}