﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.CustomerViewModel

@{
    ViewBag.Title = "Criação";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script type="text/javascript">

        $.validator.setDefaults({
            ignore: [],
        });

        $.validator.addMethod('uniqueEmail', function (value, element) {
            var isUnique = false;
            var IdCustomer = 0;

            $.ajax({
                url: $("#actionUniqueEmail").val(),
                type: 'GET',
                async: false,
                data: { email: value, IdCustomer: IdCustomer },
                success: function (result) {
                    isUnique = result;
                    return result;
                }
            });
            return isUnique;
        }, "Já existe um cliente cadastrado com esse email");

        $.validator.addMethod('uniqueCPF', function (value, element) {
            var isUnique = false;
            var IdCustomer = 0;

            $.ajax({
                url: $("#actionUniqueDocument").val(),
                type: 'GET',
                async: false,
                data: { documentNumber: value, IdCustomer: IdCustomer },
                success: function (result) {
                    isUnique = result;
                    return result;
                }
            });
            return isUnique;
        }, "Já existe um cliente cadastrado com esse CPF");

        $(document).ready(function () {

            $('#Email').rules('add', { uniqueEmail: true });
            $('#DocumentNumber').rules('add', { uniqueCPF: true });

            $("#Name, #Address_Complement , #Address_Reference").change(function (e) {
                e.preventDefault();
                var $text = $(this).val();
                $text = $text.replace(/\r?\n|\r/g, ' ');
                $(this).val(RemoveSpecialChar($text));
            });


            $("#Name, #Address_Complement , #Address_Reference").keypress(function (e) {
                var start = this.selectionStart;
                var end = this.selectionEnd;
                var $text = $(this).val();
                var $result = RemoveSpecialChar($text);
                $(this).val(RemoveSpecialChar($text));

                if ($result != $text)
                    this.setSelectionRange(start, end - 1);
                else
                    this.setSelectionRange(start, end);
            });



            $('textarea.noEnter').on('keypress', function (event) {
                if (event.keyCode == 13 || event.which == 13) {
                    event.preventDefault();
                }
            });

            $('#FindAddress').click(function (event) {
                event.preventDefault();
                if (!$('#Address_ZipCode').val()) {
                    return;
                }

                $.get($(this).attr('href'), { zipCode: $('#Address_ZipCode').val() }, function (result) {
                    if (result) {

                        $('#Address_IsSpecialAddress').val(result.IsSpecialAddress);

                        $('#Address_City').val(result.City);
                        if (result.Address) {
                            $('#Address_Address').prop('readonly', true);
                        } else {
                            $('#Address_Address').prop('readonly', false);
                        }
                        $('#Address_Address').val(result.Address);
                        if (result.Neighborhood) {
                            $('#Address_Neighborhood').prop('readonly', true);
                        } else {
                            $('#Address_Neighborhood').prop('readonly', false);
                        }
                        $('#Address_Neighborhood').val(result.Neighborhood);
                        $('#Address_StateCode').val(result.StateCode);
                    }
                });
            });
        });


        function RemoveSpecialChar(input) {
            return input.replace(/<|>|\/|\\|\"|\'/g, '');
        }

    </script>
}
@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@using (Html.BeginForm("Create", "Customer", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    @Html.Hidden("actionUniqueEmail", @Url.Action("IsEmailUnique"))
    @Html.Hidden("actionUniqueDocument", @Url.Action("IsDocumentUnique"))
    @Html.HiddenFor(model => model.Address.IsSpecialAddress)

    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Email)
                </label>
                @Html.TextBoxFor(model => model.Email, new { @type = "email", @style = "width: 350px;" })
                @Html.ValidationMessageFor(model => model.Email)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.DocumentNumber)
                </label>
                @Html.EditorFor(model => model.DocumentNumber)
                @Html.ValidationMessageFor(model => model.DocumentNumber)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.CallCenterUser)
                </label>
                @Html.RadioButtonFor(model => model.CallCenterUser, true)Sim
                @Html.RadioButtonFor(model => model.CallCenterUser, false)Não
                @Html.ValidationMessageFor(model => model.CallCenterUser)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.PhoneNumber)
                </label>
                @Html.DropDownListFor(model => model.IdPhoneType, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.CustomerViewModel().PhoneTypes)  @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "phone", @type = "tel" }) @Html.TextBoxFor(model => model.PhoneComplement, new { @type = "tel", @placeholder = "Extensão", @class = "numerico", maxlength = 4 })
                @Html.ValidationMessageFor(model => model.PhoneNumber)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @*@Html.LabelFor(model => model.SendEmailNotification)*@
                </label>
                @Html.EditorFor(model => model.SendEmailNotification)<b style="position: absolute; margin-top: 2.5px;"> Desejo receber notificações por email</b>
                @Html.ValidationMessageFor(model => model.SendEmailNotification)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @*@Html.LabelFor(model => model.SendSMSNotification)*@
                </label>
                @Html.EditorFor(model => model.SendSMSNotification) <b style="position: absolute; margin-top: 2.5px;"> Desejo receber notificações por SMS</b>
                @Html.ValidationMessageFor(model => model.SendSMSNotification)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li class="frm-separation">
                <br />
                <h3 class="details-title">Endereço</h3>
                <hr />
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Name)
                </label>
                @Html.EditorFor(model => model.Address.Name)
                @Html.ValidationMessageFor(model => model.Address.Name)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.IdAddressType)
                </label>
                @Html.DropDownListFor(model => model.Address.IdAddressType, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.CustomerViewModel().AddressTypes)
                @Html.ValidationMessageFor(model => model.Address.IdAddressType)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.ZipCode)
                </label>
                @Html.EditorFor(model => model.Address.ZipCode)
                <a id="FindAddress" href="@Url.Action("GetAddressData")">Buscar</a>
                @Html.ValidationMessageFor(model => model.Address.ZipCode)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Address)
                </label>
                @Html.TextBoxFor(model => model.Address.Address, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.Address.Address)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Number)
                </label>
                @Html.TextBoxFor(model => model.Address.Number, new { @class = "numerico" })
                @Html.ValidationMessageFor(model => model.Address.Number)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Complement)
                </label>
                @Html.EditorFor(model => model.Address.Complement)
                @Html.ValidationMessageFor(model => model.Address.Complement)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Neighborhood)
                </label>
                @Html.TextBoxFor(model => model.Address.Neighborhood, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.Address.Neighborhood)
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.StateCode)
                </label>
                @Html.TextBoxFor(model => model.Address.StateCode, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.Address.StateCode)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.City)
                </label>
                @Html.TextBoxFor(model => model.Address.City, new { @readonly = true })
                @Html.ValidationMessageFor(model => model.Address.City)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Address.Reference)
                </label>
                @Html.TextAreaFor(model => model.Address.Reference, new { @class = "noEnter", style = "resize: none;" })
                @Html.ValidationMessageFor(model => model.Address.Reference)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", "Customer", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}