﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.CustomerViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    @*Insira todos os códigos javascript aqui*@
}

<fieldset class="details">
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Name)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Email)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Email)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.DocumentNumber)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.DocumentNumber)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.CallCenterUser)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.CallCenterUser)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdPhoneType)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.PhoneTypes.FirstOrDefault(s => s.Key == model.IdPhoneType).Value)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.PhoneNumber)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.PhoneNumber)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.PhoneComplement)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.PhoneComplement)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.SendEmailNotification)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.SendEmailNotification)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.SendSMSNotification)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.SendSMSNotification)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Disabled)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Created)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Created)
        </span>
    </div>
   
        <div class="details-separation">
            <br />
            <h2 class="details-title">Endereço</h2>
            <hr />
        </div>
            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.Name)</span>
                <span class="display-field">
                    @Html.DisplayFor(model => model.Address.Name)
                </span>
            </div>
            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.IdAddressType)</span>
                <span class="display-field">
                    @Html.DisplayFor(model => model.AddressTypes.FirstOrDefault(s => s.Key == model.Address.IdAddressType).Value)
                </span>
            </div>
            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.ZipCode)</span>
                <span class="display-field">
                    @Html.DisplayFor(model => model.Address.ZipCode)
                </span>
            </div>

            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.Address)</span>
                <span class="display-field">
                    @Html.DisplayFor(model => model.Address.Address)
                </span>
            </div>
            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.Number)</span>
                <span class="display-field">
                   @Html.DisplayFor(model => model.Address.Number)
                </span>
            </div>
            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.Complement)</span>
                <span class="display-field">
                  @Html.DisplayFor(model => model.Address.Complement)
                </span>
            </div>

            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.Neighborhood)</span>
                <span class="display-field">
                   @Html.DisplayFor(model => model.Address.Neighborhood)
                </span>
            </div>
            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.StateCode)</span>
                <span class="display-field">
                   @Html.DisplayFor(model => model.Address.StateCode)
                </span>
            </div>
            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.City)</span>
                <span class="display-field">
                   @Html.DisplayFor(model => model.Address.City)
                </span>
            </div>
            <div>
                <span class="display-label">@Html.LabelFor(model => model.Address.Reference)</span>
                <span class="display-field">@Html.DisplayFor(model => model.Address.Reference)</span>
            </div>
</fieldset>
<p>
    @{
        if (ViewBag.Routes.ContainsKey("id"))
        {
            ViewBag.Routes.Remove("id");
        }
        ViewBag.Routes.Add("id", Model.IdCustomer);
    }

    <a class="button" href="@Url.Action("Edit", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
    <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>