﻿@model List<Yum.Delivery.BackOffice.Areas.BackOffice.Models.CustomerViewModel>

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".table-long").on("click", ".status", function () {
                event.preventDefault();
                var url = $("#applicationPath").val() + $(this).attr('href');
                var text = $(this).attr("title").toLowerCase();
                var name = $(this).data("name");
                var email = $(this).data("email");
                $clickedElement = $(this);
                
                $("#divStatus").html("<br/> <div><b>Nome</b>: " + name + "</div> <div><b>Email:</b> " + email + "</div>");
                    $("#divStatus").dialog({
                        title: "Deseja " + text + " este usuário?",
                        width: 350,
                        buttons: [
                                {
                                    text: "OK",
                                    click: function () {

                                        $.get($clickedElement.attr('href'), function (result) {
                                            if (result) {
                                                $clickedElement.toggleClass('table-unlock-link table-lock-link');
                                                var textMessage;
                                                if (text == "bloquear") {
                                                    $clickedElement.attr("title", "Desbloquear");
                                                    textMessage = "bloqueado";
                                                }
                                                else {
                                                    $clickedElement.attr("title", "Bloquear");
                                                    textMessage = "desbloqueado";
                                                }

                                                showMessage("Este usuário foi " + textMessage, "ATENÇÃO", "warning")

                                            }
                                        });

                                        $(this).dialog("close");
                                    }
                                },
                                {
                                    text: "CANCELAR",
                                    click: function () {
                                        $(this).dialog("close");
                                    }
                                }
                        ]
                    });
                });



            $('.table-long').on('click', '.address', function (event) {
                event.preventDefault();
                $.get($(this).attr('href'), function (result) {
                    $('.table-long').before($('<div>').addClass('temp').html(result));
                    $('.temp').dialog({
                        width: 1200,
                        close: function () {
                            $(this).remove();
                        }
                    });
                });
            });

            $('.table-long').on('click', '.order', function (event) {
                event.preventDefault();
                var customerName = $(this).closest('tr').children('.customer-name').html().trim();
                $.get($("#applicationPath").val() + $(this).attr('href'), function (result) {
                    $('.table-long').before($('<div>').addClass('temp').html(result));
                    $('.temp').dialog({
                        width: 1000,
                        maxHeight: 550,
                        title: "Pedidos do Cliente " + customerName,
                        close: function () {
                            $(this).remove();
                        }
                    });
                });
            });
        });
    </script>

}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.CustomerCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", "Customer", ViewBag.Routes)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "CustomerFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}
<div id="divStatus"></div>

@using (Html.BeginForm("Index", "Customer", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    CustomerFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (CustomerFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBoxFor(filter => Filter.IdCustomer)
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBoxFor(filter => Filter.Name)
            </li>
            <li>
                <label class="field-title">
                    E-mail:
                </label>
                @Html.TextBoxFor(filter => Filter.Email)
            </li>
            <li>
                <label class="field-title">
                    CPF/CNPJ:
                </label>
                @Html.TextBoxFor(filter => Filter.DocumentNumber)
            </li>
            <li>
                <label class="field-title">
                    Telefone:
                </label>
                @Html.TextBoxFor(filter => Filter.PhoneNumber, new { @class = "phone", @type = "tel" })
            </li>
            <li>
                <label class="field-title">
                    Data Cadastro:
                </label>
                @Html.TextBoxFor(filter => Filter.CreatedBegin, new { @class = "date" }) a
                @Html.TextBoxFor(filter => Filter.CreatedEnd, new { @class = "date" })
            </li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Status, "Ativo") Ativo
                @Html.RadioButtonFor(filter => Filter.Status, "Inativo") Inativo
            </li>
            <li>
                @{
    Html.RenderPartial("FilterButtonsUserControl", "CustomerFormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}

<table class="table-long">
    <thead>
        <tr>
            <th>
                <a href="" rel="idCustomer" class="orderByLink">
                    Código
                </a>
            </th>
            <th>
                <a href="" rel="name" class="orderByLink">
                    Nome
                </a>
            </th>
            <th>
                <a href="" rel="name" class="orderByLink">
                    Telefone
                </a>
            </th>
            <th>
                <a href="" rel="email" class="orderByLink">
                    E-mail
                </a>
            </th>
            <th>
                <a href="" rel="created" class="orderByLink">
                    Data Cadastro
                </a>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var customer in Model)
            {
                if (ViewBag.Routes.ContainsKey("id"))
                {
                    ViewBag.Routes.Remove("id");
                }
                ViewBag.Routes.Add("id", customer.IdCustomer);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => customer.IdCustomer)
                    </td>
                    <td class="customer-name">
                        @Html.DisplayFor(modelItem => customer.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.Created)
                    </td>
                    <td class="table-comand">
                        <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.CustomerEdit))
                        {
                            <a href="@Url.Action("Edit", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                        }
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.CustomerEdit))
                        {
                            <a href="@Url.Action("ToggleStatus", ViewBag.Routes)" title="@(customer.Disabled ? "Desbloquear" : "Bloquear")" class="status @(!customer.Disabled ? "table-unlock-link" : "table-lock-link")" data-name="@customer.Name" data-email="@customer.Email"></a>
                        }
                    </td>
                    <td class="table-comand">
                        <a href="@Url.Action("Addresses", ViewBag.Routes)" title="Endereços Cadastrados" class="address table-address-link"></a>
                    </td>
                    <td class="table-comand">
                        <a href="/Order/Index/@customer.IdCustomer" title="Pedidos Realizados" class="order table-order-link"></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}
