﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.AsideBannerViewModel>

@{
    ViewBag.Title = "Banner Secundário";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@section titleContent
{
    @if (Roles.IsUserInRole(UserPermission.AsideBannerCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", ViewBag.Routes)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "AsideBannerFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "AsideBanner", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    AsideBannerFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (AsideBannerFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBoxFor(filter => Filter.IdAsideBanner)
            </li>
            <li>
                <label class="field-title">
                    Título:
                </label>
                @Html.TextBoxFor(filter => Filter.Title)
            </li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Status, "Ativo") Ativo
                @Html.RadioButtonFor(filter => Filter.Status, "Inativo") Inativo
            </li>
            <li>
                @{
    Html.RenderPartial("FilterButtonsUserControl", "AsideBannerFormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}

<table class="table-long">
    <thead>
        <tr>
            <th>
                <a href="" rel="idAsideBanner" class="orderByLink">
                    Código
                </a>
            </th>
            <th>
                <a href="" rel="title" class="orderByLink">
                    Título
                </a>
            </th>
            <th>
                <a href="" rel="order" class="orderByLink">
                    Ordem
                </a>
            </th>
            <th>
                <a href="" rel="disabled" class="orderByLink">
                    Inativo?
                </a>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var banner in Model)
            {
                if (ViewBag.Routes.ContainsKey("id"))
                {
                    ViewBag.Routes.Remove("id");
                }
                ViewBag.Routes.Add("id", banner.IdAsideBanner);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => banner.IdAsideBanner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => banner.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => banner.Order)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => banner.Disabled)
                    </td>
                    <td class="table-comand">
                        <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                    </td>
                    <td class="table-comand">
                        @if (Roles.IsUserInRole(UserPermission.AsideBannerEdit))
                        {
                            <a href="@Url.Action("Edit", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}