﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.NeighborhoodViewModel

<fieldset class="details">
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.State)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.State)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.City)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.City)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Name)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Created)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Created)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.ChangeDate)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ChangeDate)
        </span>
    </div>
</fieldset>