﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.NeighborhoodViewModel

@{
    ViewBag.Title = "Edição";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('.middle-forms').on('change', '#State', function (event) {
            LoadCities();
        });

        var myText = "@Model.State";
        $("#State").find("option").filter(function() {
            return $(this).text() == myText; 
        }).prop('selected', true);

        LoadCities(null, function () {
            $('#IdCity').val('@Model.IdCity');

        });
    });

    function LoadCities(event, callback) {
        $('#IdCity').empty();
        if (!$('#State').val()) {
            return;
        }
        
        $('.loading').removeClass('hidden');
        $.get('@Url.Action("GetCities")', { idState: $('#State').val() }, function (result) {
            $('#IdCity').append($('<option>').val('').text(''));
            $.each(result, function (key, value) {
                $('#IdCity').append($('<option>').val(value.IdCity).text(value.Name));
            });
            $('#IdCity').val('@Model.IdCity');
            $('.loading').addClass('hidden');
            if (callback) {
                callback();
            }
        })
    };
    </script>
}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
}
@using (Html.BeginForm("Edit", "Neighborhood", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary)) {
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.State)
                </label>
                @Html.DropDownListFor(model => model.State, Model.States)
                @Html.ValidationMessageFor(model => model.State)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdCity)
                </label>
				@Html.DropDownListFor(model => model.IdCity, new List<SelectListItem>())
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                @Html.ValidationMessageFor(model => model.IdCity)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>
				@Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}