﻿@model List<Yum.Delivery.BackOffice.Areas.BackOffice.Models.NeighborhoodViewModel>

@{
    ViewBag.Title = "Bairros";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            LoadCities();
            $('#NeighborhoodFormSearchId').on('change', '#Filter_SelectedStateId', function (event) { LoadCities(event); });
        });

        function LoadCities(event, callback) {
            $('#Filter_SelectedCityId').empty();
            if (!$('#Filter_SelectedStateId').val()) {
                return;
            }
            $('.loading').removeClass('hidden');
            $.get('@Url.Action("GetCities")', { idState: $('#Filter_SelectedStateId').val() }, function (result) {
                $('#Filter_SelectedCityId').append($('<option>').val('').text(''));
                $.each(result, function (key, value) {
                    $('#Filter_SelectedCityId').append($('<option>').val(value.IdCity).text(value.Name));
                });
                $('.loading').addClass('hidden');
                if (callback) {
                    callback();
                }
            });
        }
    </script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "NeighborhoodFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "Neighborhood", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    NeighborhoodFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (NeighborhoodFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
            <li>
                <label class="field-title">
                    Estado:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedStateId, Filter.States, "")
            </li>
            <li>
                <label class="field-title">
                    Cidade:
                </label>
                @Html.DropDownListFor(filter => Filter.SelectedCityId, new List<SelectListItem>())
                <img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
                @if (Filter.SelectedCityId != null)
                {
                    @section FilterScripts {
                        <script type="text/javascript">
                            $(document).ready(function () {
                                LoadCities(null, function () { $('#Filter_SelectedCityId').val('@Filter.SelectedCityId'); });
                            });
                        </script>
                    }
                }
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>
                @Html.TextBoxFor(filter => Filter.Name)
            </li>
            <li>
                @{
    Html.RenderPartial("FilterButtonsUserControl", "NeighborhoodFormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}

<table class="table-long">
    <tr>
        <th>
            <a href="" rel="city.state.name" class="orderByLink">
                Estado
            </a>
        </th>
        <th>
            <a href="" rel="city.name" class="orderByLink">
                Cidade
            </a>
        </th>
        <th>
            <a href="" rel="name" class="orderByLink">
                Nome
            </a>
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var neighborhood in Model)
        {
            if (ViewBag.Routes.ContainsKey("id"))
            {
                ViewBag.Routes.Remove("id");
            }
            ViewBag.Routes.Add("id", neighborhood.IdNeighborhood);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => neighborhood.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => neighborhood.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => neighborhood.Name)
                </td>
                <td>
                <td class="table-comand">
                    <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                </td>
                <td class="table-comand">
                    @if (Roles.IsUserInRole(UserPermission.NeighborhoodEdit))
                    {
                        <a href="@Url.Action("Edit", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                    }
                </td>
                <td class="table-comand">
                    @if (Roles.IsUserInRole(UserPermission.NeighborhoodDelete))
                    {
                        <a href="@Url.Action("Delete", ViewBag.Routes)" title="Excluir" class="table-delete-link"></a>
                    }
                </td>
            </tr>
        }
    }
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}