﻿
@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDiscountViewModel

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.IdRestaurant)
    </label>
    @if (ViewBag.BlockEdition)
    {
        @Html.DropDownListFor(model => model.IdRestaurant, Model.Restaurants, new { @style = "width:320px", disabled = "disabled" })
        @Html.HiddenFor(model => model.IdRestaurant)
    }
    else
    {
        @Html.DropDownListFor(model => model.IdRestaurant, Model.Restaurants, new { @style = "width:320px" })
    }
    @Html.ValidationMessageFor(model => model.IdRestaurant)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.IdPromotionalMenu)
    </label>
    @if (ViewBag.BlockEdition)
    {
        @Html.DropDownListFor(model => model.IdPromotionalMenu, Model.GetMenuGroups(Model.IdRestaurant, Model.IdPromotionalMenu), new { @style = "width:320px", disabled = "disabled" })
        @Html.HiddenFor(model => model.IdPromotionalMenu)
    }
    else
    {
        @Html.DropDownListFor(model => model.IdPromotionalMenu, Model.GetMenuGroups(Model.IdRestaurant, Model.IdPromotionalMenu), new { @style = "width:320px" })
    }
    @Html.ValidationMessageFor(model => model.IdPromotionalMenu)
    <span class="clearFix">&nbsp;</span>
</li>

<li>
    <label class="field-title">
        @Html.LabelFor(model => model.IdPromotionalDish)
    </label>
    @if (ViewBag.BlockEdition)
    {
        @Html.DropDownListFor(model => model.IdPromotionalDish, Model.GetMenuDishes(Model.IdPromotionalMenu, Model.IdPromotionalDish), new { @style = "width:320px", disabled = "disabled" })
        @Html.HiddenFor(model => model.IdPromotionalDish)
    }
    else
    {
        @Html.DropDownListFor(model => model.IdPromotionalDish, Model.GetMenuDishes(Model.IdPromotionalMenu, Model.IdPromotionalDish), new { @style = "width:320px" })
    }
    @Html.ValidationMessageFor(model => model.IdPromotionalDish)
    <span class="clearFix">&nbsp;</span>
</li>

<li class="OptionalItens">
    <label class="field-title">
        @Html.LabelFor(model => model.ListSalesPromotionOptional)
    </label>
    @if (ViewBag.BlockEdition)
    {
        <a id="addLink" href="javascript:void(0);" class="add-link" style="margin-bottom: 10px; pointer-events:none;"></a>
    }
    else
    {
        <a id="addLink" href="javascript:void(0);" class="add-link" style="margin-bottom: 10px;"></a>
    }
    @if (Model.SalesPromotionDiscountOptional != null && Model.SalesPromotionDiscountOptional.Count > 0)
    {
        int i = 0;

        foreach (var item in Model.SalesPromotionDiscountOptional)
        {
            @Html.Raw("<div style='padding-left:160px; padding-top:10px'>");

            if (ViewBag.BlockEdition)
            {
                @Html.DropDownList("ListSalesPromotionOptional[" + i + "].IdOptional", Model.GetMenuDishOptionals(Model.IdPromotionalDish, item.IdOptional), new { @style = "width:200px", @class = "OptionalAttr", disabled = "disabled" });
                @Html.HiddenFor(model => model.ListSalesPromotionOptional[i].IdOptional)
                @Html.Raw("&nbsp");
                @Html.DropDownList("ListSalesPromotionOptional[" + i + "].IdItem", Model.GetMenuDishOptionalItems(item.IdOptional, item.IdItem), new { @style = "width:200px", disabled = "disabled" });
                @Html.HiddenFor(model => model.ListSalesPromotionOptional[i].IdItem)                        
            }
            else
            {
                @Html.DropDownList("ListSalesPromotionOptional[" + i + "].IdOptional", Model.GetMenuDishOptionals(Model.IdPromotionalDish, item.IdOptional), new { @style = "width:200px", @class = "OptionalAttr" });
                @Html.Raw("&nbsp");
                @Html.DropDownList("ListSalesPromotionOptional[" + i + "].IdItem", Model.GetMenuDishOptionalItems(item.IdOptional, item.IdItem), new { @style = "width:200px" });
            }
            @Html.Raw("<span class='row-details' style='padding-left:10px'>");
            if (!ViewBag.BlockEdition)
            {
                @Html.Raw("<a href='javascript:void(0);' class='table-delete-link'> </a>");
            }
            @Html.Raw("</span>");
            @Html.Raw("</div>");

            i++;
        }
    }
    <span id="ValidationOptionalItens" class="field-validation-valid" data-valmsg-replace="true"></span>
</li>
