﻿
@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDiscountViewModel

<div>
    <span class="display-label">@Html.LabelFor(model => model.Description)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Description)
    </span>
</div>

<div>
    <span class="display-label">@Html.LabelFor(model => model.IdRestaurant)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.Restaurant.Name)
    </span>
</div>

<div>
    <span class="display-label">@Html.LabelFor(model => model.IdPromotionalMenu)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.PromotionalMenu.Name)
    </span>
</div>

<div>
    <span class="display-label">@Html.LabelFor(model => model.IdPromotionalDish)</span>
    <span class="display-field">
        @Html.DisplayFor(model => model.MenuDish.Name)
    </span>
</div>

<div class="OptionalItens">
    <span class="display-label">
        @Html.LabelFor(model => model.ListSalesPromotionOptional)
    </span>
    <span class="display-field">
        @if (!Model.SalesPromotionDiscountOptional.NullOrEmpty())
        {
            foreach (var item in Model.SalesPromotionDiscountOptional)
            {
                <div style="padding-bottom:10px;">
                    @string.Format("{0}: {1}", item.MenuDishOptional.Name, item.MenuDishOptionalItem.Name)
                </div>
            }
        }
    </span>
</div>
