﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDiscountViewModel
@Html.ValidationSummary(true, "", new { @style = "color:red; font-weight:900;", @class = "field-validation-error" })
@{
    ViewBag.Title = "Apagar - Desconto do Dia";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionTopDiscount-js")
@Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionDiscountType-js")
@Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionAvailableTime-js")
<script type="text/javascript">
    $('.slider-range').slider({
        range: true,
        disabled: true,
        min: 0,
        max: 1439,
        step: 30,
        values: [0, 1493],
        create: function (event, ui) {
            var $slider = $(this);

            if (!$slider.parent().children('input.minValue').val()) {
                $slider.parent().children('.minValue').html('00:00');
                $slider.parent().children('.maxValue').html('23:59');
            } else {
                $slider.parent().children('.minValue').html($slider.parent().children('input.minValue').val());
                $slider.parent().children('.maxValue').html($slider.parent().children('input.maxValue').val());
            }
        }
    });

    $.each($('input.minValue'), function (key, value) {
        var $slider = $(value).siblings('.slider-range'), minValue, maxValue;

        if ($(value).val()) {
            var time = $(value).val().split(':');
            minValue = (time[1] * 1) + (time[0] * 60);
        }

        if ($(value).siblings('input.maxValue').val()) {
            var time = $(value).siblings('input.maxValue').val().split(':');
            maxValue = (time[1] * 1) + (time[0] * 60);
        }

        if (minValue && maxValue) {
            $slider.slider("option", "values", [minValue, maxValue]);
        }
    });
</script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "SalesPromotionDiscountDeleteForm");
    htmlAttributes.Add("class", "middle-forms");
    htmlAttributes.Add("enctype", "multipart/form-data");

}

@using (Html.BeginForm("Delete", "SalesPromotionDiscount", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{

<fieldset class="details">
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>

    @{
        Html.RenderPartial("_DiscountTopDetail", Model);
        Html.RenderPartial("_DiscountDiscountTypeDetail", Model);
        Html.RenderPartial("_DiscountAvailableTimeDetail", Model);
    }

    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            <input disabled="disabled" type="checkbox" value=@Model.Disabled />
        </span>
    </div>

    <div>
        @{
            if (ViewBag.Routes.ContainsKey("id"))
            {
                ViewBag.Routes.Remove("id");
            }
            ViewBag.Routes.Add("id", Model.IdSalesPromotionDiscount);
        }

        <ol>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Delete" />
                <a class="button" href="@Url.Action("Index", "SalesPromotionGeneric", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>
            </li>
        </ol>  
        <span class="clearFix">&nbsp;</span>
    </div>


</fieldset>
    
}
