﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDiscountViewModel
@{
    ViewBag.Title = "Detalhes - Desconto do Dia";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionTopDiscount-js")
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionDiscountType-js")
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionAvailableTime-js")
}

@Styles.Render("~/Content/skin/promoDetail-css")

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "SalesPromotionForm");
    htmlAttributes.Add("class", "middle-forms");
    htmlAttributes.Add("enctype", "multipart/form-data");

}
<fieldset class="details">
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>

    @{
        Html.RenderPartial("_DiscountTopDetail", Model);
        Html.RenderPartial("_DiscountDiscountTypeDetail", Model);
        Html.RenderPartial("_DiscountAvailableTimeDetail", Model);
    }

    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Disabled)
        </span>
    </div>

    <div>
        @{
            if (ViewBag.Routes.ContainsKey("id"))
            {
                ViewBag.Routes.Remove("id");
            }
            ViewBag.Routes.Add("id", Model.IdSalesPromotionDiscount);
        }

        @if (Roles.IsUserInRole(UserPermission.MenuDishSalesPromotionDiscountEdit)) 
        {
            <a class="button" href="@Url.Action("Edit", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
        }
        <a class="button" href="@Url.Action("Index", "SalesPromotionGeneric", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>

        <span class="clearFix">&nbsp;</span>
    </div>


</fieldset>

