﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.SalesPromotionDiscountViewModel

@{
    ViewBag.Title = "Editar";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionTopDiscount-js")
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionDiscountType-js")
    @Scripts.Render("~/Scripts/View/SalesPromotion/SalesPromotionAvailableTime-js")


}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "SalesPromotionForm");
    htmlAttributes.Add("class", "middle-forms");
    htmlAttributes.Add("enctype", "multipart/form-data");

}

@using (Html.BeginForm("Edit", "SalesPromotionDiscount", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{
    <input type="hidden" id="ActionGetMenuGroups" data-actiongetmenugroups="@Url.Action("GetMenuGroups", "SalesPromotionDiscount")"/>
    <input type="hidden" id="ActionGetMenuDishes" data-actiongetmenudishes="@Url.Action("GetMenuDishes", "SalesPromotionDiscount")" />
    <input type="hidden" id="ActionGetActiveMenuDishOptionals" data-actiongetactivemenudishoptionals="@Url.Action("GetActiveMenuDishOptionals", "SalesPromotionDiscount")" />
    <input type="hidden" id="ActionGetActiveMenuDishOptionalItems" data-actiongetactivemenudishoptionalitems="@Url.Action("GetActiveMenuDishOptionalItems", "SalesPromotionDiscount")" />
    
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>

                @Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)

                <span class="clearFix">&nbsp;</span>
            </li>

            @{
                Html.RenderPartial("_DiscountPromotionTop", Model);
                Html.RenderPartial("_DiscountPromotionDiscountType", Model);
                Html.RenderPartial("_DiscountPromotionAvaiableTime", Model);
            }
            
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>

                @Html.EditorFor(model => model.Disabled)
                @Html.ValidationMessageFor(model => model.Disabled)

                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />

                <a style="margin-top:3px" class="button" href="@Url.Action("Index", "SalesPromotionGeneric", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Cancel</a>

                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>

    </fieldset>
}