﻿@using Yum.Delivery.Model.MenuDomain;

@model Yum.Delivery.FrontEnd.Models.AccordionExtrasViewModel

@{
    Layout = null;

    // verifica de qual metade é o accordion dos extras
    var accordionSide = Model.PositionFractionItemList == 0 ? "extras-left" : "extras-right";
}

@*IdMenuDish do extra (diferente por metade)*@
@Html.Hidden("requestModel.CartMenuDish.FractionItemList[" + Model.PositionFractionItemList + "].MenuDishOptionalList[" + Model.PositionMenuDishOptionalList + "].IdMenuDishOptional", Model.MenuDishOptional.IdMenuDishOptional)

<dl class="accordion" data-accordion>
    <dd data-accordion-item class="accordion-navigation accordion-extras-option">
        <a href="#@accordionSide" class="accordion-extras-link">
            Ingredientes extras
            <div class="showForMobileOnly" style="display:inline;" id="half-name-@accordionSide"></div>
        </a>
        <div id="@accordionSide" class="content" style="box-shadow: inset 0 1px 2px rgba(0,0,0,.1); background-color: white;">

            @{
                var includeList = new List<MenuDishOptionalItem>();
                var excludeList = new List<MenuDishOptionalItem>();


                if (Model.MenuDishOptional.MenuDishOptionalItemList.Any())
                {
                    // [MenuAttributeType] 22 - extras para adicionar
                    includeList = Model.MenuDishOptional.MenuDishOptionalItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasAdd).ToList();

                    // [MenuAttributeType] 174 - extras para remover
                    excludeList = Model.MenuDishOptional.MenuDishOptionalItemList.Where(item => item.IdMenuAttributeType == (long)MenuAttributeTypeEnum.PizzaExtrasRemove).ToList();
                }
            }

            @if (!includeList.NullOrEmpty())
            {
                <div class="row">
                    <div class="small-12 large-12 columns">
                        <h6 class="extras-subtitle" style="color: black;">Incluir <label>(Selecione até @Model.MenuDishOptional.MaximumOptionalItems itens)</label></h6>
                    </div>
                </div>

                <div class="row extraList extraIncludeListGroup" style="max-height: 75px;overflow-y: auto;" data-extras-include-count="@includeList.Count">
                    <div class="small-12 medium-12 columns extra">
                        @for (int k = 0; k < includeList.Count; k++)
                        {
                            var extraResList = includeList[k].MenuDishOptionalItemRestrictionList != null && includeList[k].MenuDishOptionalItemRestrictionList.Count > 0 ?
                            includeList[k].MenuDishOptionalItemRestrictionList : null;

                            <div class="row extraIncludeText" data-restriction-list="@Newtonsoft.Json.JsonConvert.SerializeObject(extraResList)" data-hideByRestriction="@Model.MenuDishOptional.HideByRestriction">
                                <div class="small-8 medium-8 columns">
                                    <div class="small-2 medium-2 columns">
                                        <input type="checkbox"
                                               data-value="@includeList[k].Value"
                                               data-idmenudishoptional="@Model.MenuDishOptional.IdMenuDishOptional"
                                               data-idattributetype="@Model.MenuDishOptional.IdMenuAttributeType"
                                               name="requestModel.CartMenuDish.FractionItemList[@Model.PositionFractionItemList].MenuDishOptionalList[@Model.PositionMenuDishOptionalList].MenuDishOptionalItemList[@(k)].IdMenuDishOptionalItem"
                                               data-idmenudishoptionalitemname="@includeList[k].Name"
                                               class="styledCheckbox"
                                               @*necessário manter on onclick para fazer o tratamento da classe "checked" e o cáculo da pizza*@
                                               onclick="checkExtras(event, this)"
                                               value="@includeList[k].IdMenuDishOptionalItem" />
                                    </div>
                                    <div class="small-10 medium-10 columns">
                                        @Html.Label(includeList[k].Name, new { @class = "extras-name", @title=includeList[k].Name })
                                    </div>
                                </div>
                                @{
                                    var value = includeList[k].Value;
                                    var valueText = value != 0 ? value.ToString("c") : string.Empty;
                                    if (!string.IsNullOrEmpty(valueText))
                                    {
                                        <div class="small-4 medium-4 columns text-right">
                                            @Html.Label(valueText)
                                        </div>
                                    }
                                }
                            </div>
                                    }
                    </div>
                </div>
                                    }

            @if (!excludeList.NullOrEmpty())
            {
                <div class="row">
                    <div class="small-12 large-12 columns">
                        <h6 class="extras-subtitle" style="color: black;">Retirar</h6>
                    </div>
                </div>

                <div class="row extraList extraExcludeListGroup" style="max-height: 75px;overflow-y: auto;" data-extras-exclude-count="@excludeList.Count">
                    <div class="small-12 medium-12 columns extra">
                        @for (int k = 0; k < excludeList.Count; k++)
                        {
                            var extraResList = excludeList[k].MenuDishOptionalItemRestrictionList != null && excludeList[k].MenuDishOptionalItemRestrictionList.Count > 0 ?
                       excludeList[k].MenuDishOptionalItemRestrictionList : null;

                            <div class="row extraExcludeText" data-restriction-list="@Newtonsoft.Json.JsonConvert.SerializeObject(extraResList)" data-hideByRestriction="@Model.MenuDishOptional.HideByRestriction">

                                <div class="small-8 medium-8 columns">
                                    <div class="small-2 medium-2 columns">
                                        <input type="checkbox"
                                               data-value="@excludeList[k].Value"
                                               data-idmenudishoptional="@Model.MenuDishOptional.IdMenuDishOptional"
                                               data-idattributetype="@Model.MenuDishOptional.IdMenuAttributeType"
                                               data-idmenudishoptionalitemname="@excludeList[k].Name"
                                               name="requestModel.CartMenuDish.FractionItemList[@Model.PositionFractionItemList].MenuDishOptionalList[@Model.PositionMenuDishOptionalList].MenuDishOptionalItemList[@(k)].IdMenuDishOptionalItem"
                                               class="styledCheckbox"
                                               @*necessário manter on onclick para fazer o tratamento da classe "checked" e o cáculo da pizza*@
                                               onclick="checkExtras(event, this)"
                                               value="@excludeList[k].IdMenuDishOptionalItem" />
                                    </div>
                                    <div class="small-10 medium-10 columns">
                                        @Html.Label(excludeList[k].Name, new { @class = "extras-name", @title = includeList[k].Name })
                                    </div>
                                </div>
                                @{
                                    var value = excludeList[k].Value;
                                    var valueText = value != 0 ? value.ToString("c") : string.Empty;
                                    if (!string.IsNullOrEmpty(valueText))
                                    {
                                        <div class="small-4 medium-4 columns text-right">
                                            @Html.Label(valueText)
                                        </div>
                                    }
                                }
                            </div>
                                    }
                    </div>
                </div>
                                    }
        </div>
    </dd>
</dl>

<style>
    .extras-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>