﻿@{ 
    string bigBanner = ViewBag.Banner.ImageBig;
    string smlBanner = ViewBag.Banner.ImageSmall;

    if (!bigBanner.StartsWith("http")) {
        bigBanner = "https://" + bigBanner;
    }

    if (!smlBanner.StartsWith("http"))
    {
        smlBanner = "https://" + smlBanner;
    }
}

<div id="bannerModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog" style="top:25px;">
    <a href='@Url.Action("Index", "Menu", new { idMenuGroup = ViewBag.Banner.IdMenuGroup })'>
        <img id="bannerImg" src="@Url.Content(ViewBag.Banner.ImageBig)" alt="" width="100%" class="hideForMobileOnly" />
        <img id="bannerImg" src="@Url.Content(ViewBag.Banner.ImageSmall)" alt="" width="100%" class="showForMobileOnly" />
    </a>

    <a class="close-reveal-modal" aria-label="Close">Fechar<img src="@Url.Content("~/Images/close.png")" width="30" /></a>
</div>
