﻿@model CustomerLogInRequestViewModel

<h3>
    Fazer login com sua conta
</h3>
<div class="large-12 small-land12 columns">
    @{TempData.Keep("RedirectURL");}
    @using (Html.BeginForm("LogIn", "Customer", FormMethod.Post, new { @id = "LogInForm" }))
    {
        @Html.HiddenFor(model => model.IsCheckoutLogIn)
        
        <div class="row">
            <div class="large-4 medium-5 columns lblContainer">
                <label>
                    Endereço de e-mail
                </label>
            </div>
            <div class="large-6 medium-7 columns">
                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Seu e-mail" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="large-3 columns"> </div>
        </div>
        <div class="row">
            <div class="large-4 medium-5 columns lblContainer">
                <label>
                    Senha
                </label>
            </div>
            <div class="large-6 medium-7 columns">
                @Html.PasswordFor(model => model.Password, new { @placeholder = "Sua senha" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="large-3 columns"> </div>
        </div>
        <div class="row">
            <div class="large-6 medium-7 large-offset-4 medium-offset-5 columns">
                <div class="row">
                    <div class="large-6 medium-6 columns">
                        <div class="custom">
							<label for="KeepLogged">
								@Html.CheckBoxFor(model => model.KeepLogged, new { @class = "styledCheckbox" })
								Lembrar
							</label>
                        </div>
                    </div>
                    <div class="large-6 medium-6 columns">
                        <p class="forgotLinkPlaceholder">
                            <a href="#" class="forgotLink">
                                Esqueceu sua senha?
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="large-2 columns show-for-large"> &nbsp; </div>
        </div>
        <div class="row">
            <div class="small-8 medium-5 medium-offset-5 large-offset-4 columns">
                <input type="submit" id="submitLogIn" class="yellowButton text-center small radius" value="ENTRAR">
            </div>
            <div class="medium-2 show-for-medium-up columns"> &nbsp; </div>
            @* Não apagar esse código comentado, pois é o Login via Facebook e vai voltar a ser utilizado
                <div class="small-2 medium-5 small-offset-0 medium-offset-5 large-offset-4 columns">
                <h6 class="orLogin">
                    OU
                </h6>
            </div>
            <div class="medium-2 show-for-medium-up columns"> &nbsp; </div>*@
        </div>
    }
    @* Não apagar esse código comentado, pois é o Login via Facebook e vai voltar a ser utilizado
        <div class="row">
        <div class="small-8 medium-7 large-offset-4 medium-offset-5 columns">
            <a id="FacebookLogin" class="small radius" href="#" style="margin-bottom: 0;font-size:11px;padding-left:0;padding-right:0">
                <img src="@Url.Content("~/Images/fb-login.png")" alt="" />
            </a>
        </div>
        <div class="small-2 columns"></div>
    </div>*@
</div>
<div class="clearfix"></div>
