﻿<h3>
    Criar uma conta
</h3>
<div class="small-12 medium-5 large-5 columns registerContainer">
    <a class="yellowButton text-center radius" href="@Url.Action("Register", "Customer")">
        CRIAR CONTA
    </a>
</div>
<div class="clearfix"></div>