﻿<div class="row loginPage">
    <div class="medium-offset-2 small-12 mobileWide-12 tabletUp-8 large-9 columns margin-top">
        <div class="panel hideForMobileOnly">
            @{
                Html.RenderPartial("_Continue", new ContinueViewModel());

                <hr class="fancy-separator" />

                Html.RenderPartial("_LogIn", new CustomerLogInRequestViewModel() { IsCheckoutLogIn = true });

                <hr class="fancy-separator" />

                Html.RenderPartial("_RegisterTop");
                
            }
        </div>
        <div class="panel showForMobileOnly">
            @{
                Html.RenderPartial("_RegisterTop");

                Html.RenderPartial("_Continue", new ContinueViewModel());

                <hr class="fancy-separator" />

                Html.RenderPartial("_LogIn", new CustomerLogInRequestViewModel());
            }
        </div>
    </div>

</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.numerico').mask('00000000', { reverse: true });
            $('.numericoPhoneComplement').mask('0000', { reverse: true });
            $.validator.messages.required = 'Obrigatório';
            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                clearIfNotMatch: true,
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

            $('.phone').mask(SPMaskBehavior, spOptions);

            $('textarea.noEnter').on('keypress', function (event) {
                if (event.keyCode == 13 || event.which == 13) {
                    event.preventDefault();
                }
            });

            $('#submitLogIn').click(function (event) {
                event.preventDefault();
                $('#LogInForm').submit();
            });

            $('.forgotLink').click(function (event) {
                event.preventDefault();
                if (!$(this).is('#forgotLink') && $('#Email').valid()) {
                    $.post('@Url.Action("RecoverPassword")', { email: $('#Email').val() }, function (result) {
                        if (!result) {
                            showMessage('Você receberá um e-mail com as instruções para cadastrar uma nova senha.');
                        } else {
                            showMessage(result);
                        }
                    });
                }
            });

            $('#FacebookLogin').click(function (event) {
                event.preventDefault();
                FB.login(function (response) {
                    if (response.status === 'connected') {
                        var $fbHtml = $('#FacebookLogin').html();
                        $('#FacebookLogin').html($('<img>').attr('src', '@Url.Content("~/Images/fb-load.gif")'))
                        $.post('@Url.Action("FacebookLogin")', { token: response.authResponse.accessToken }, function (result) {
                            if (result === 'checkout') {
                                window.location = '@Url.Action("CheckoutRegisterUser", "Cart")';
                            }
                            else if (!result) {
                                window.location = '../';
                            } else {
                                $('#FacebookLogin').html($fbHtml);
                                showMessage(result);
                            }
                        });
                    }
                }, { scope: 'public_profile,email' });
            });
        });
    </script>
}
