﻿@model  List<CustomerAddressViewModel>

<div class="row" id="newHome">
    <div class="small-12 large-8 medium-10 small-centered columns resizePanelBox" id="myAddressListDiv">
        <div class="savedAddresses panel">
            @{var isCallCenterUser = ViewBag.IsCallCenterUser != null && ViewBag.IsCallCenterUser == true; }

    @if (isCallCenterUser)
    {
        <h3 class="text-center">Selecione o Endereço</h3>
    }
    else
    {
        <h3 class="text-center">Meus Endereços</h3>
    }

    @if (Model != null)
    {
        for (var i = 0; i < Model.Count; ++i)
        {
            var address = Model[i];

            <div class="row addressItem collapse">
                <div class="small-8 medium-10 column">
                    <label>@address.Name</label>
                    <p>@address.FormattedAddress</p>
                    <input type="hidden" class="addressZipCode" value="@address.ZipCode" />
                </div>
                <div class="small-5 medium-3 column buttonContainer">
                    <a id="customerOrderNowIndexBtn" href='@Url.Action("DeliveryToGo", "Home", new { id = address.IdCustomerAddress })' class="button small orderNow" data-default-value="PEÇA JÁ">PEÇA JÁ</a>
                </div>
            </div>

            if (i < Model.Count - 1)
            {
                <hr class="fancy-separator" />
            }
        }
    }



    @if (isCallCenterUser)
    {
        <hr class="fancy-separator" />

        <div class="row">&nbsp;</div>

        <div class="cepSearch">
            @Html.Partial("../Home/_ZipCodeSearch")
        </div>
    }

            <hr class="fancy-separator" />

            <div class="row">
                <div class="small-4 columns text-left backContainer">
                    @{ var backId = isCallCenterUser ? "backToCustomerList" : "backToHome"; }

                    <a class="button greyButton" href='#' id="backBtn">VOLTAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            updateNewHomeHeight();

            var lastZipCodeSearchNotAttended = null;

            $(window).resize(function () {
                updateNewHomeHeight();
            });

            $('#backBtn').click(function (event) {
                goBack();
            });

            $('#myAddressListDiv').on('click', '.orderNow', function (event) {

                var orderNowBtn = $(this);

                putLoadingGif(orderNowBtn);

                if ('@ViewBag.RedirectCepNotAttended' == 'True')
                {
                    var $addressItem = $(this).closest('.addressItem');

                    var zipCode = $addressItem.find('.addressZipCode').val();

                    if(!checkAddressAttended(zipCode))
                    {
                        removeLoadingGif(orderNowBtn);
                    }
                }
            });

            $('#myAddressListDiv').on('click', '#backBtn', function (event) {
                putLoadingGif($(this));
            });

            $('#zipCode').keyup(function (e) {
                var $findAddressBtn = $('#FindAddress');
                var zipCode = $(this).val();

                zipCodeKeyUp(e, zipCode, $findAddressBtn);
            });

            $('#FindAddress').on('click', function (event) {
                event.preventDefault();

                var zipCode = $('#zipCode').val();

                postZipCodeSearch(zipCode, false);
            });
        });
    </script>
}