﻿@model System.Collections.Generic.List<CustomerListViewModel>

<div class="row" id="newHome">
    <div class="small-12 large-8 medium-10 small-centered columns resizePanelBox" id="findCustomerResultsDiv">
        <div class="savedAddresses panel">
            <h3 class="text-center">Escolha o Cliente</h3>

            @if (Model.NullOrEmpty())
            {
                <br />
                <div class="row">
                    <div class="small-12 large-12 columns">
                        <h4 class="text-center" id="choseNearestRestaurant">Nenhum cliente encontrado.</h4>
                    </div>
                </div>
            }
            else
            {
                foreach (var customer in Model)
                {
                    <div class="row">
                        <div class="small-12 large-12 columns">
                            <div class="row addressItem collapse">
                                <div class="small-10 mobileWide-11 large-11 columns chooseCustomer">
                                    <p class="clientName">@customer.Name</p>
                                    <p>@customer.Phone</p>
                                    <p>@customer.Email</p>
                                </div>
                            </div>
                            <div class="small-12 column buttonContainer">
                                <a href='@Url.Action("SelectCustomer", "Customer", new { idCustomer = @customer.IdCustomer })' id="chosenCustomer" class="button redButton">Selecionar</a>
                            </div>
                            <hr class="fancy-separator" />
                        </div>
                    </div>
                }
            }

            <div class="row">&nbsp;</div>

            <div class="small-4 text-left backContainer" style="padding-left:15px;">
                <a class="button greyButton" id="backToHome" href='#'>VOLTAR</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            updateNewHomeHeight();

            $(window).resize(function () {
                updateNewHomeHeight();
            });

            $('#backToHome').click(function (event) {
                goBack();
            });

            $('#findCustomerResultsDiv').on('click', '#backToHome', function (event) {
                putLoadingGif($(this));
            });

            $('#findCustomerResultsDiv').on('click', '#chosenCustomer', function (event) {
                putLoadingGif($(this));
            });
        });
    </script>
}