﻿@model Yum.Delivery.FrontEnd.Models.CustomerInfoViewModel

<div class="row infoPage">
    <div class="small-12 columns">
        @using (Html.BeginForm("EditCustomer", "Customer", FormMethod.Post, new { @id = "editCustomerForm" }))
        {
            @Html.Hidden("actionUniqueEmail", @Url.Action("IsEmailUnique"))
            @Html.Hidden("actionUniqueDocument", @Url.Action("IsDocumentUnique"))
            @Html.HiddenFor(m => m.IdCustomer)

            <div id="panelCustomerInfo" class="panel">
                <div class="row">
                    <div class="large-6 small-12 medium-8 columns" style="margin-bottom:0px !important;">
                        <h3>Dados Pessoais</h3>
                        <label>
                            Nome Completo *
                        </label>
                        @Html.TextBoxFor(model => model.Name, new { @placeholder = "Nome Completo" })
                        @Html.ValidationMessageFor(model => model.Name)
                        <label>
                            CPF
                        </label>
                        @if (Model.DocumentNumber == null)
                        {
                            @Html.TextBoxFor(model => model.DocumentNumber, new { @placeholder = "CPF", @class = "cpf" })
                            @Html.ValidationMessageFor(model => model.DocumentNumber)
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.DocumentNumber, new { @class = "cpf", @readonly = "readonly" })
                        }
                        <label>
                            Endereço de E-mail *
                        </label>
                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "voce@exemplo.com.br" })
                        @Html.ValidationMessageFor(model => model.Email)
                        <div class="custom">
                            <label>
                                Número de Telefone *
                            </label>
                            <div class="row">
                                <div class="large-4 tabletUp-4 mobileWide-8 columns" style="margin-bottom:0px !important;">
                                    @Html.DropDownListFor(model => model.IdPhoneType, ViewBag.PhoneTypes as IEnumerable<SelectListItem>, new { @id = "Select1" })
                                    @Html.ValidationMessageFor(model => model.IdPhoneType)
                                </div>
                                <div class="large-5 tabletUp-5 mobileWide-8 columns" style="margin-bottom:0px !important;">
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @placeholder = "(xx) xxxx-xxxx", @class = "phone" })
                                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                                </div>
                                <div class="large-3 tabletUp-3 mobileWide-3 small-12 columns left" style="margin-bottom:0px !important;">
                                    @Html.TextBoxFor(model => model.PhoneComplement, new { @placeholder = "Ramal", @class = "numericoPhoneComplement" })
                                    @Html.ValidationMessageFor(model => model.PhoneComplement)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12 checkboxFlags">
                        @Html.CheckBoxFor(model => model.SendEmailNotification, new { @id = "checkbox1", @class = "styledCheckbox" + (Model != null && Model.SendEmailNotification ? " checked" : "") })
                        <label for="checkbox1">
                            Desejo receber notificações por e-mail
                        </label>
                        @Html.ValidationMessageFor(model => model.SendEmailNotification)
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-12 checkboxFlags" style="padding-top:0px;">
                        @Html.CheckBoxFor(model => model.SendSMSNotification, new { @id = "checkbox2", @class = "styledCheckbox" + (Model != null && Model.SendSMSNotification ? " checked" : "") })
                        <label for="checkbox2">
                            Desejo receber notificações por SMS
                        </label>
                        @Html.ValidationMessageFor(model => model.SendSMSNotification)
                    </div>
                </div>
                <div class="row">
                    <div class="medium-3 small-12 columns">
                        <input id="updateInfoBtn" type="button" class="yellowButton changeInfo" value="Alterar Dados" data-default-value="Alterar Dados" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="small-12 columns">
        @using (Html.BeginForm("ChangeCustomerPassword", "Customer", FormMethod.Post, new { @id = "passwordChangeForm" }))
        {
            <div id="panelChangePassword" class="panel">
                <div class="row">
                    <div class="medium-8 large-4 small-12 columns" style="margin-bottom:0px !important;">
                        <h3>Senha</h3>
                        <label>
                            Senha Atual *
                        </label>
                        @Html.PasswordFor(model => model.PasswordOld)
                        @Html.ValidationMessageFor(model => model.PasswordOld)
                        <label>
                            Nova Senha *
                        </label>
                        @Html.PasswordFor(model => model.PasswordNew)
                        @Html.ValidationMessageFor(model => model.PasswordNew)
                        <label>
                            Confirmação da Senha *
                        </label>
                        @Html.PasswordFor(model => model.PasswordNewConfirmation)
                        @Html.ValidationMessageFor(model => model.PasswordNewConfirmation)
                    </div>
                </div>
                <div class="row">
                    <div class="medium-3 small-12  columns">
                        <input type="button" class="yellowButton changePassword" value="Alterar Senha" data-default-value="Alterar Senha" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="small-12 mobileWide-12 tabletUp-12 large-12 columns">
        @using (Html.BeginForm("EditCustomerAddresses", "Customer", FormMethod.Post, new { @id = "editAddressForm" }))
        {
            <div id="panelEditAddress" class="panel">
                <div class="row collapse">
                    <div class="large-8 medium-10 small-12 columns" style="margin-bottom:0px !important;">
                        <div class="row collapse">
                            <div>
                                <h3>Meus Endereços</h3>
                            </div>
                        </div>
                        <div class="row collapse addressItem">
                            @{var i = 0; var count = Model.AddressList != null ? Model.AddressList.Count : 0;}
                            @foreach (var address in Model.AddressList)
                            {

                                <div class="row">
                                    <div class="large-3 medium-3 small-12 columns">
                                        @Html.DropDownList("AddressList[" + i + "].IdAddressType", new SelectList(ViewBag.AddressTypes, "IdAddressType", "Name", Model.AddressList[i].IdAddressType.ToString()), new { @class = "changeAddress" })
                                        @Html.Hidden("AddressList[" + i + "].IdCustomerAddress", Model.AddressList[i].IdCustomerAddress)
                                    </div>
                                    @if (count > 1)
                                    {
                                        <div class="large-9 medium-9 small-12 columns" style="margin-top:12px">
                                            @Html.ActionLink("Remover", "DeleteCustomerAddress", "Customer", new { id = Model.AddressList[i].IdCustomerAddress }, new { @Id = "delete" })
                                        </div>
                                    }
                                </div>
                                <div class="row addressRow">
                                    <div class="large-9 medium-9 small-12 columns">
                                        <label>
                                            @address.FullAddress
                                        </label>
                                    </div>
                                    <div class="large-3 medium-3 small-12 columns text-right">
                                        <input type="hidden" class="addressZipCode" value="@address.ZipCode" />
                                        @Html.ActionLink("Peça Já", "DeliveryToGo", "Home", new { id = Model.AddressList[i].IdCustomerAddress }, new { @Class = "button radius small orderNow", data_default_value = "PEÇA JÁ" })
                                    </div>
                                </div>
                                    i++;
                            }
                        </div>
                        <div class="row">
                            <div class="large-12 columns text-left">
                                @Html.ActionLink("Adicionar Endereço", "NewAddress", "Customer")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $.validator.setDefaults({
            ignore: []
        });

        $.validator.messages.required = 'Obrigatório';

        $.validator.addMethod('uniqueEmail', function (value, element) {
            var isUnique = false;
            var IdCustomer = 0;

            $.ajax({
                url: $("#actionUniqueEmail").val(),
                type: 'GET',
                async: false,
                data: { email: value, customerId: $("#IdCustomer").val() },
                success: function (result) {
                    isUnique = result;
                    return result;
                }
            });
            return isUnique;
        }, "Já existe um cliente cadastrado com o e-mail informado");

        $.validator.addMethod('uniqueDocument', function (value, element) {
            var isUnique = false;
            var IdCustomer = 0;

            $.ajax({
                url: $("#actionUniqueDocument").val(),
                type: 'GET',
                async: false,
                data: { documentNumber: value, customerId: $("#IdCustomer").val() },
                success: function (result) {
                    isUnique = result;
                    return result;
                }
            });
            return isUnique;
        }, "Já existe um cliente cadastrado com o CPF informado");
        
        $(document).ready(function () {
            $('.cpf').mask('000.000.000-00', { reverse: true });
            $('.numericoPhoneComplement').mask('0000', { reverse: true });
            $('#PasswordNewConfirmation').rules('add', { equalTo: '#PasswordNew', messages: { equalTo: 'O valor deve ser igual ao do campo Nova senha' } });

            $('#Email').rules('add', { uniqueEmail: true });
            $('#DocumentNumber').rules('add', { uniqueDocument: true });
            
            $('#Email').on('keyup', function (e) {
                e.stopPropagation();
            });

            $('#DocumentNumber').on('keyup', function (e) {
                e.stopPropagation();
            });

            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                clearIfNotMatch: true,
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

            $('.phone').mask(SPMaskBehavior, spOptions);

            $("#passwordChangeForm").on("click", ".changePassword", function (event) {
                event.preventDefault();

                var button = $(this);

                if ($(button).hasClass("btnLoading")) {
                    return;
                }

                var $form = $(this).closest('form');

                if ($form.valid()) {
                    putBtnLoadingGif($(button));
                    $.post($form.attr('action'), $form.serialize(), function (result) {
                        removeBtnLoadingGif($(button));
                        if (result.Success) {
                            $("#PasswordOld").val("");
                            $("#PasswordNew").val("");
                            $("#PasswordNewConfirmation").val("");
                            showMessage("Senha alterada com sucesso.");
                        } else {
                            showMessage(result.ErrorMessage);
                        }
                    });
                }
            });

            $("#editCustomerForm").on("click", ".changeInfo", function (event) {
                event.preventDefault();

                var button = $(this);

                if ($(button).hasClass("btnLoading")) {
                    return;
                }

                var $form = $(this).closest('form');

                if ($form.valid()) {
                    putBtnLoadingGif($(button));

                    $.post($form.attr('action'), $form.serialize(), function (result) {
                        removeBtnLoadingGif($(button));
                        if (result.Success) {
                            if ($("#DocumentNumber").val() != "") {
                                $('#DocumentNumber').attr('readonly', true);
                            }

                            showMessage("Cadastro alterado com sucesso.");
                        } else {
                            showMessage(result.ErrorMessage);
                        }
                    });
                }
            });

            $("#editAddressForm").on("change", ".changeAddress", function (event) {
                event.preventDefault();
                var $form = $(this).closest('form');

                if ($form.valid()) {
                    $.post($form.attr('action'), $form.serialize(), function (result) {
                        if (result.Success) {
                            showMessage("Endereço alterado com sucesso.");
                        } else {
                            showMessage(result.ErrorMessage);
                        }
                    });
                }
            });

            var lastZipCodeSearchNotAttended = null;

            $('#panelEditAddress').on('click', '.orderNow', function (event) {

                var orderNowBtn = $(this);

                putLoadingGif(orderNowBtn);

                if ('@ViewBag.RedirectCepNotAttended' == 'True')
                {
                    var $addressItem = $(this).closest('.addressRow');

                    var zipCode = $addressItem.find('.addressZipCode').val();

                    if (!checkAddressAttended(zipCode)) {
                        removeLoadingGif(orderNowBtn);
                    }
                }
            });
        });
    </script>
}