﻿@model Yum.Delivery.FrontEnd.Models.CustomerNewAddressViewModel

@{ 
    var isCallCenterServer = DartDigital.Core.Configuration.AppConfiguration.Settings.EnvironmentSettings.GetSettingValueAsBoolean("isCallCenterServer");
    bool removePadding = !(Model.GenericAddress || isCallCenterServer || ViewBag.IsHome == null || ViewBag.IsHome == false);
    string boxPadding = "padding: 25px 0;";
    if (removePadding) {
        boxPadding = "padding: 0px;";
    }

}

@section Scripts{
    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: []
        });

        $.validator.messages.required = 'Obrigatório';

        $.validator.addMethod('complementValidation', function (value, element) {
            return validateComplementReference(value);
        }, "O Complemento deve conter apenas números e letras (sem acentuação)");

        $.validator.addMethod('referenceValidation', function (value, element) {
            return validateComplementReference(value);
        }, "A Referência deve conter apenas números e letras (sem acentuação)");

        $(document).ready(function () {
            updateNewHomeHeight();

            $('#modelRequest_Complement').rules('add', { complementValidation: true });
            $('#modelRequest_Reference').rules('add', { referenceValidation: true });

            $(window).resize(function () {
                updateNewHomeHeight();
            });

            if ('@ViewBag.IsHome' == 'True') {
                $('#modelRequest_Number').focus();
            }

            $('#submitBtn').click(function (event) {
                putBtnLoadingGif($(this));
            });

            $('#backBtn').click(function (event) {
                goBack();
            });

            $("#createNewCustomerAddressForm").bind("invalid-form.validate", function () {
                removeBtnLoadingGif($('#submitBtn'));
            });
        });

        function validateComplementReference(value) {
            return /^[a-zA-Z0-9- ]*$/.test(value) == true;
        }
    </script>
}

@{
    string title, buttonText, submitAction, submitController;

    if (ViewBag.IsHome == null || ViewBag.IsHome == false)
    {
        title = "Cadastro de Novo Endereço";
        buttonText = "CADASTRAR";
        submitAction = "CreateNewCustomerAddress";
        submitController = "Customer";
    }
    else
    {
        title = "Complete seu Endereço";
        buttonText = "BUSCAR";
        submitAction = "DeliveryToGo";
        submitController = "Home";
    }
}

<div class="row" id="newHome">
    <div class="small-12 large-6 medium-6 small-centered columns resizePanelBox" style="@boxPadding" data-zipcode="@ViewBag.ZipCode" data-addressnumber="@ViewBag.AddressNumber">
        <div class="panel completeAddress">
            @using (Html.BeginForm(submitAction, submitController, FormMethod.Post, new { id = "createNewCustomerAddressForm" }))
            {
                <div class="small-12 columns">
                    <h3 class="text-center">@title</h3>
                </div>
                Yum.Delivery.FrontEnd.Models.CustomerNewAddressViewModel modelRequest = null;

            if (Model.CoordinateData != null)
            {
                @Html.HiddenFor(s => modelRequest.CoordinateData.Latitude, new { @Value = Model.CoordinateData.Latitude })
                @Html.HiddenFor(s => modelRequest.CoordinateData.Longitude, new { @Value = Model.CoordinateData.Longitude })
            }
            else
            {
                @Html.HiddenFor(s => modelRequest.CoordinateData.Latitude)
                @Html.HiddenFor(s => modelRequest.CoordinateData.Longitude)
            }

            @Html.HiddenFor(s => modelRequest.IsSpecialAddress)

                
            if (Model.GenericAddress || isCallCenterServer || ViewBag.IsHome == null || ViewBag.IsHome == false)
            {
            <div class="row">
                <div class="small-12 columns">
                    <label style="color:white">
                        CEP *
                    </label>
                    @if (ViewBag.IsHome == null || ViewBag.IsHome == false)
                    {
                        @Html.TextBoxFor(s => modelRequest.ZipCode, new { @placeholder = "CEP", @Value = Model.ZipCode, @class = "numeric" })
                    }
                    else
                    {
                        @Html.TextBoxFor(s => modelRequest.ZipCode, new { @placeholder = "CEP", @Value = Model.ZipCode, @class = "numeric", @readonly = true })
                    }
                    @Html.ValidationMessageFor(s => modelRequest.ZipCode)
                </div>
            </div>
            <div class="row">
                @if (ViewBag.IsHome == null || ViewBag.IsHome == false)
                {
                    <div class="small-12 columns large-12">
                        <label style="color:white">
                            Endereço *
                        </label>
                        @Html.DropDownListFor(model => modelRequest.IdAddressType, ViewBag.AddressTypes as IEnumerable<SelectListItem>, "Selecione", new { @id = "Select1" })
                        @Html.ValidationMessageFor(model => modelRequest.IdAddressType)
                    </div>
                }
                <div class="small-12 columns large-8">
                    <label class="show-for-large-up">&nbsp;</label>
                    @if (ViewBag.IsHome != null && ViewBag.IsHome == true && Model.Address.NullOrEmpty())
                    {
                        @Html.TextBoxFor(s => modelRequest.Address, new { @placeholder = "Rua" })
                    }
                    else
                    {
                        @Html.TextBoxFor(s => modelRequest.Address, new { @placeholder = "Rua", @readonly = true, @Value = Model.Address.NullOrEmpty() ? string.Empty : Model.Address })
                    }
                    @Html.ValidationMessageFor(s => modelRequest.Address)
                </div>
                <div class="small-12 columns large-4">
                    <label class="show-for-large-up">&nbsp;</label>
                    @Html.TextBoxFor(s => modelRequest.Number, new { @placeholder = "Número", @Value = Model.Number, @class = "numeric" })
                    @Html.ValidationMessageFor(s => modelRequest.Number)
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-12 columns">
                            @if (ViewBag.IsHome != null && ViewBag.IsHome == true && Model.Neighborhood.NullOrEmpty())
                            {
                                @Html.TextBoxFor(s => modelRequest.Neighborhood, new { @placeholder = "Bairro" })
                            }
                            else
                            {
                                @Html.TextBoxFor(s => modelRequest.Neighborhood, new { @placeholder = "Bairro", @readonly = true, @Value = Model.Neighborhood.NullOrEmpty() ? string.Empty : Model.Neighborhood })
                            }
                            @Html.ValidationMessageFor(s => modelRequest.Neighborhood)
                        </div>
                        <div class="small-12 columns">
                            @Html.TextBoxFor(s => modelRequest.City, new { @placeholder = "Cidade", @readonly = true, @Value = Model.City })
                            @Html.ValidationMessageFor(s => modelRequest.City)
                        </div>
                        <div class="small-12 columns">
                            @Html.TextBoxFor(s => modelRequest.StateCode, new { @placeholder = "Estado", @readonly = true, @Value = Model.StateCode })
                            @Html.ValidationMessageFor(s => modelRequest.StateCode)
                        </div>
                        <div class="small-12 columns">
                            <label>Complemento <em style="font-style:normal; font-size:11px;">(Ex.: Apartamento 123)</em></label>
                            @Html.TextBoxFor(s => modelRequest.Complement, new { @Value = Model.Complement })
                            @Html.ValidationMessageFor(s => modelRequest.Complement)
                        </div>
                        <div class="small-12 columns">
                            @Html.LabelFor(s => modelRequest.Reference, new { @style = "color:white" })
                            @Html.TextBoxFor(s => modelRequest.Reference, new { @Value = Model.Reference })
                            @Html.ValidationMessageFor(s => modelRequest.Reference)
                        </div>
                    </div>
                </div>
            </div>
                }
                else
                {
                    if (ViewBag.IsCallCenterUser != null && ViewBag.IsCallCenterUser == true && ViewBag.IsHome != null && ViewBag.IsHome == true)
                    {
                    <div class="row">
                        <div class="small-12 columns">
                            <label style="color:white">
                                CEP *
                            </label>
                            @if (ViewBag.IsHome == null || ViewBag.IsHome == false)
                            {
                            @Html.TextBoxFor(s => modelRequest.ZipCode, new { @placeholder = "CEP", @Value = Model.ZipCode, @class = "numeric" })
                            }
                            else
                            {
                            @Html.TextBoxFor(s => modelRequest.ZipCode, new { @placeholder = "CEP", @Value = Model.ZipCode, @class = "numeric", @readonly = true })
                            }
                            @Html.ValidationMessageFor(s => modelRequest.ZipCode)
                        </div>
                    </div>

                        <div class="row">
                            <div class="small-12 columns large-8">
                                <label class="show-for-large-up">&nbsp;</label>
                                @if (ViewBag.IsHome != null && ViewBag.IsHome == true && Model.Address.NullOrEmpty())
                                {
                                @Html.TextBoxFor(s => modelRequest.Address, new { @placeholder = "Rua" })
                                }
                                else
                                {
                                @Html.TextBoxFor(s => modelRequest.Address, new { @placeholder = "Rua", @readonly = true, @Value = Model.Address.NullOrEmpty() ? string.Empty : Model.Address })
                                }
                                @Html.ValidationMessageFor(s => modelRequest.Address)
                            </div>
                            <div class="small-12 columns large-4">
                                <label class="show-for-large-up">&nbsp;</label>
                                @Html.TextBoxFor(s => modelRequest.Number, new { @placeholder = "Número", @Value = Model.Number, @class = "numeric" })
                                @Html.ValidationMessageFor(s => modelRequest.Number)
                            </div>
                            <div class="small-12 columns">
                                <div class="row">
                                    <div class="small-12 columns">
                                        @if (ViewBag.IsHome != null && ViewBag.IsHome == true && Model.Neighborhood.NullOrEmpty())
                                        {
                                        @Html.TextBoxFor(s => modelRequest.Neighborhood, new { @placeholder = "Bairro" })
                                        }
                                        else
                                        {
                                        @Html.TextBoxFor(s => modelRequest.Neighborhood, new { @placeholder = "Bairro", @readonly = true, @Value = Model.Neighborhood.NullOrEmpty() ? string.Empty : Model.Neighborhood })
                                        }
                                        @Html.ValidationMessageFor(s => modelRequest.Neighborhood)
                                    </div>
                                    <div class="small-12 columns">
                                        @Html.TextBoxFor(s => modelRequest.City, new { @placeholder = "Cidade", @readonly = true, @Value = Model.City })
                                        @Html.ValidationMessageFor(s => modelRequest.City)
                                    </div>
                                    <div class="small-12 columns">
                                        @Html.TextBoxFor(s => modelRequest.StateCode, new { @placeholder = "Estado", @readonly = true, @Value = Model.StateCode })
                                        @Html.ValidationMessageFor(s => modelRequest.StateCode)
                                    </div>
                                    <div class="small-12 columns">
                                        <label>Complemento <em style="font-style:normal; font-size:11px;">(Ex.: Apartamento 123)</em></label>
                                        @Html.TextBoxFor(s => modelRequest.Complement, new { @Value = Model.Complement })
                                        @Html.ValidationMessageFor(s => modelRequest.Complement)
                                    </div>
                                    <div class="small-12 columns">
                                        @Html.LabelFor(s => modelRequest.Reference, new { @style = "color:white" })
                                        @Html.TextBoxFor(s => modelRequest.Reference, new { @Value = Model.Reference })
                                        @Html.ValidationMessageFor(s => modelRequest.Reference)
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        else
                        {
                        <div class="large-12 columns address-description">
                            <h4 class="title" style="line-height:30px;">
                                @String.Format("{0}, {1}, {2} - {3}, {4}-{5}",
                            Model.Address,
                            Model.Neighborhood,
                            Model.City,
                            Model.StateCode,
                            Model.ZipCode.Substring(0, 5),
                            Model.ZipCode.Substring(5)
                        )
                            </h4>
                            @Html.HiddenFor(s => modelRequest.ZipCode, new { @Value = Model.ZipCode })
                            @Html.HiddenFor(s => modelRequest.Address, new { @Value = Model.Address.NullOrEmpty() ? string.Empty : Model.Address })
                            @Html.HiddenFor(s => modelRequest.Neighborhood, new { @Value = Model.Neighborhood })
                            @Html.HiddenFor(s => modelRequest.StateCode, new { @Value = Model.StateCode })
                            @Html.HiddenFor(s => modelRequest.City, new { @Value = Model.City })
                            @Html.HiddenFor(s => modelRequest.Complement, new { @Value = Model.Complement })
                            @Html.HiddenFor(s => modelRequest.Reference, new { @Value = Model.Reference })
                            <div class="row">
                                <div class="small-12 columns">
                                    <div class="row">
                                        <div class="small-12 columns large-12">
                                            <label class="show-for-large-up">Número *</label>
                                            @Html.TextBoxFor(s => modelRequest.Number, new { @placeholder = "Número", @Value = Model.Number, @class = "numeric" })
                                            @Html.ValidationMessageFor(s => modelRequest.Number)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        }

                        <div class="row">
                            <div class="small-4 columns text-left backContainer">
                                <a href="#" class="button greyButton" id="backBtn">VOLTAR</a>
                            </div>
                            <div class="small-8 columns text-center">
                                <input type="submit" class="button small radius" value="@buttonText" data-default-value="@buttonText" style="width:100%" id="submitBtn">
                            </div>
                        </div>
                        }
                    </div>
    </div>
</div>