﻿@model CustomerRegisterRequestViewModel

<div class="row">
    <div class="small-12 columns registrationTopText">
        <h3 class="text-center">
            Crie uma conta para fazer seu pedido mais rápido e conferir ofertas
        </h3>
    </div>
</div>
<div class="row registrationPage">
    <div class="medium-offset-2 small-12 mobileWide-12 tabletUp-8 large-9 columns">
        @{TempData.Keep("RedirectURL");}
        @using (Html.BeginForm("Register", "Customer", FormMethod.Post, new { @id = "RegisterForm" }))
        {
            @Html.Hidden("actionUniqueEmail", @Url.Action("IsEmailUnique"))
            @Html.Hidden("actionUniqueDocument", @Url.Action("IsDocumentUnique"))

            <dl class="accordion" data-accordion>
                <dd class="accordion-navigation ">
                    <a href="#panel1" id="registrationPanel1" class="active" data-registration-step="1">
                        <em>
                            1
                        </em>
                        Conte-nos sobre você
                        <span style="font-size:0.5em;">
                            * obrigatório
                        </span>
                    </a>
                    <div id="panel1" class="content active">
                        <div class="row">
                            <div class="large-8 mobileWide-8 columns" style="margin-bottom:0px !important;">
                                <label>
                                    Nome Completo *
                                </label>
                                @Html.TextBoxFor(model => model.CustomerData.Name, new { @placeholder = "Nome Completo" })
                                @Html.ValidationMessageFor(model => model.CustomerData.Name)
                                <div class="custom">
                                    <label>
                                        Número de telefone *
                                    </label>
                                    <div class="row">
                                        <div class="large-4 tabletUp-4 mobileWide-8 columns" style="margin-bottom:0px !important;">
                                            @Html.DropDownListFor(model => model.CustomerData.IdPhoneType, ViewBag.PhoneTypes as IEnumerable<SelectListItem>, "Selecione", new { @id = "Select1" })
                                            @Html.ValidationMessageFor(model => model.CustomerData.IdPhoneType)
                                        </div>
                                        <div class="large-5 tabletUp-5 mobileWide-8 columns" style="margin-bottom:0px !important;">
                                            @Html.TextBoxFor(model => model.CustomerData.PhoneNumber, new { @placeholder = "(xx) xxxx-xxxx", @class = "phone" })
                                            @Html.ValidationMessageFor(model => model.CustomerData.PhoneNumber)
                                        </div>
                                        <div class="large-3 tabletUp-3 mobileWide-4 small-12 columns left" style="margin-bottom:0px !important;">
                                            @Html.TextBoxFor(model => model.CustomerData.PhoneComplement, new { @placeholder = "Ramal", @class = "numericoPhoneComplement" })
                                            @Html.ValidationMessageFor(model => model.CustomerData.PhoneComplement)
                                        </div>
                                    </div>
                                </div>
                                <label>
                                    Endereço de e-mail *
                                </label>
                                @Html.TextBoxFor(model => model.CustomerData.Email, new { @placeholder = "voce@exemplo.com.br" })
                                @Html.ValidationMessageFor(model => model.CustomerData.Email)
                                <label>
                                    Confirme seu endereço de e-mail *
                                </label>
                                @Html.TextBoxFor(model => model.EmailConfirmation, new { @placeholder = "voce@exemplo.com.br" })
                                @Html.ValidationMessageFor(model => model.EmailConfirmation)
                                <label>
                                    CPF
                                </label>
                                @Html.TextBoxFor(model => model.DocumentNumber, new { @placeholder = "CPF", @class = "cpf" })
                                @Html.ValidationMessageFor(model => model.DocumentNumber)
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns large-12 checkboxFlags">
                                @Html.CheckBoxFor(model => model.CustomerData.SendEmailNotification, new { @id = "checkbox1", @class = "styledCheckbox" + (Model != null && Model.CustomerData.SendEmailNotification ? " checked" : "") })
                                <label for="checkbox1">
                                    Desejo receber notificações por email
                                </label>
                                @Html.ValidationMessageFor(model => model.CustomerData.SendEmailNotification)
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns large-12 checkboxFlags" style="padding-top:0px;">
                                @Html.CheckBoxFor(model => model.CustomerData.SendSMSNotification, new { @id = "checkbox2", @class = "styledCheckbox" + (Model != null && Model.CustomerData.SendSMSNotification ? " checked" : "") })
                                <label for="checkbox2">
                                    Desejo receber notificações por SMS
                                </label>
                                @Html.ValidationMessageFor(model => model.CustomerData.SendSMSNotification)
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <input type="submit" class="yellowButton text-center" id="addLocationDetails" value="CONTINUE" />
                            </div>
                        </div>
                    </div>
                </dd>
                <dd class="accordion-navigation">
                    <a href="#panel2" id="registrationPanel2" data-registration-step="2">
                        <em>
                            2
                        </em>
                        Insira sua localização
                        <span style="font-size:0.5em;">
                            * obrigatório
                        </span>
                    </a>
                    <div id="panel2" class="content">
                        <div class="row">
                            <div class="large-9 mobileWide-9 columns">
                                <div class="custom large-4 mobileWide-6">
                                    <label for="customDropdown">
                                        Tipo de Endereço *
                                    </label>
                                    @Html.DropDownListFor(model => model.CustomerAddressData.IdAddressType, ViewBag.AddressTypes as IEnumerable<SelectListItem>, "Selecione", new { @id = "Select3", @required = "required" })
                                    @Html.ValidationMessageFor(model => model.CustomerAddressData.IdAddressType)
                                </div>
                                @if (ViewBag.AutocompleteDeliveryAddress != null && (bool)ViewBag.AutocompleteDeliveryAddress)
                                {
                                    <div class="custom large-12 checkboxFlags" style="padding-bottom: 40px;">
                                        <input class="styledCheckbox" id="fillDeliveryAddress" type="checkbox" name="fillDeliveryAddress">
                                        <label for="fillDeliveryAddress">
                                            Usar o mesmo endereço do pedido
                                        </label>
                                    </div>
                                }
                                <div class="custom large-6 mobileWide-6" style="float:left;">
                                    <label>
                                        CEP *
                                    </label>
                                    @Html.TextBoxFor(model => model.CustomerAddressData.ZipCode, new { @placeholder = "CEP", @maxlength = "8", @class = "numeric" })

                                </div>
                                <div class="custom large-2 mobileWide-2" style="float:left; margin-left:10px; margin-top:30px;">
                                    <a class="FindAddress" href="@Url.Action("GetAddressByZipCode")">
                                        Buscar
                                    </a>
                                </div>
                                @Html.ValidationMessageFor(model => model.CustomerAddressData.ZipCode)
                                <div class="large-8 columns" style="padding:0; display:inline-block">
                                    <label>
                                        Endereço *
                                    </label>
                                    @Html.TextBoxFor(model => model.CustomerAddressData.Address, new { @placeholder = "Rua", @readonly = true })
                                    @Html.ValidationMessageFor(model => model.CustomerAddressData.Address)
                                </div>
                                <div class="large-3 large-offset-1 columns" style="padding:0;display:inline-block">
                                    <label>&nbsp;</label>
                                    @Html.TextBoxFor(model => model.CustomerAddressData.Number, new { @placeholder = "Número", @class = "numerico" })
                                    @Html.ValidationMessageFor(model => model.CustomerAddressData.Number)
                                </div>
                                @Html.TextBoxFor(model => model.CustomerAddressData.City, new { @placeholder = "Cidade", @readonly = true })
                                @Html.ValidationMessageFor(model => model.CustomerAddressData.City)
                                @Html.TextBoxFor(model => model.CustomerAddressData.Neighborhood, new { @placeholder = "Bairro", @readonly = true })
                                @Html.ValidationMessageFor(model => model.CustomerAddressData.Neighborhood)
                                @Html.TextBoxFor(model => model.CustomerAddressData.StateCode, new { @placeholder = "Estado", @readonly = true })
                                @Html.ValidationMessageFor(model => model.CustomerAddressData.StateCode)
                                <label>Complemento <em style="font-style:normal; font-size:11px;">(Ex.: Apartamento 123)</em></label>
                                @Html.TextBoxFor(model => model.CustomerAddressData.Complement, new { @class = "noEnter" })
                                @Html.ValidationMessageFor(model => model.CustomerAddressData.Complement)
                                <label>Instruções Especiais</label>
                                @Html.TextAreaFor(model => model.CustomerAddressData.Reference, new { @class = "noEnter", @style = "height:7em; resize:none;" })
                                @Html.ValidationMessageFor(model => model.CustomerAddressData.Reference)

                                @Html.HiddenFor(model => model.CustomerAddressData.IsSpecialAddress)
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <input type="submit" class="yellowButton text-center" id="addSecurityDetails" value="CONTINUE" />
                            </div>
                        </div>
                    </div>
                </dd>
                <dd class="accordion-navigation">
                    <a href="#panel3" id="registrationPanel3" data-registration-step="3">
                        <em>
                            3
                        </em>
                        Proteja sua conta
                        <span style="font-size:0.5em;">
                            * obrigatório
                        </span>
                    </a>
                    <div id="panel3" class="content">
                        <div class="row">
                            <div class="large-8 mobileWide-8 columns">
                                <label>
                                    Senha *
                                </label>
                                @Html.PasswordFor(model => model.CustomerData.Password, new { @placeholder = "Senha" })
                                @Html.ValidationMessageFor(model => model.CustomerData.Password)
                                <label>
                                    Confirme sua senha *
                                </label>
                                @Html.PasswordFor(model => model.PasswordConfirmation, new { @placeholder = "Confirme sua senha" })
                                @Html.ValidationMessageFor(model => model.PasswordConfirmation)
                            </div>
                        </div>
                        <div class="row">
                            <div class="columns large-12 registrationAccept">
                                <input type="checkbox" id="checkbox3" class="styledCheckbox" name="checkbox3" required>
                                <label for="checkbox3">
                                    Eu concordo com os
                                    <a target="_blank" href="@Url.Action("Termos", "Home")">
                                        Termos de Uso
                                    </a>
                                    e entendo que minhas informações serão usadas conforme descrito na página de
                                    <a target="_blank" href="@Url.Action("Termos", "Home")">
                                        Política de Privacidade
                                    </a> da Pizza Hut
                                </label>
                                <span class="field-validation-valid" data-valmsg-for="checkbox3" data-valmsg-replace="true" style="margin-top:10px;"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                <input type="submit" id="submitRegister" class="yellowButton text-center" style="padding-right:20px" value="CRIAR CONTA" />
                            </div>
                        </div>
                    </div>
                </dd>
            </dl>
        }
    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        $.validator.setDefaults({
            ignore: []
        });

        $.validator.messages.required = 'Obrigatório';

        $.validator.addMethod('uniqueEmail', function (value, element) {
            var isUnique = false;
            var IdCustomer = 0;

            $.ajax({
                url: $("#actionUniqueEmail").val(),
                type: 'GET',
                async: false,
                data: { email: value },
                success: function (result) {
                    isUnique = result;
                    return result;
                }
            });
            return isUnique;
        }, "Já existe um cliente cadastrado com o e-mail informado");

        $.validator.addMethod('uniqueDocument', function (value, element) {
            var isUnique = false;
            var IdCustomer = 0;

            $.ajax({
                url: $("#actionUniqueDocument").val(),
                type: 'GET',
                async: false,
                data: { documentNumber: value },
                success: function (result) {
                    isUnique = result;
                    return result;
                }
            });
            return isUnique;
        }, "Já existe um cliente cadastrado com o CPF informado");

        $.validator.addMethod('complementValidation', function (value, element) {
            return validateComplementReference(value);
        }, "O Complemento deve conter apenas números e letras (sem acentuação)");

        $.validator.addMethod('referenceValidation', function (value, element) {
            return validateComplementReference(value);
        }, "As Instruções Especiais deve conter apenas números e letras (sem acentuação)");

        function validateComplementReference(value) {
            return /^[a-zA-Z0-9- ]*$/.test(value) == true;
        }

        $(document).ready(function () {
            $('.cpf').mask('000.000.000-00', { reverse: true });
            $('.numerico').mask('00000000', { reverse: true });
            $('.numericoPhoneComplement').mask('0000', { reverse: true });
            $('textarea.noEnter').keydown(function (event) {
                if (event.keyCode == 13 || event.which == 13) {
                    event.preventDefault();
                }
            });

            $('#CustomerData_Email').rules('add', { uniqueEmail: true });
            $('#DocumentNumber').rules('add', { uniqueDocument: true });
            $('#CustomerAddressData_Complement').rules('add', { complementValidation: true });
            $('#CustomerAddressData_Reference').rules('add', { referenceValidation: true });

            $('#CustomerData_Email').on('keyup', function (e) {
                e.stopPropagation();
            });

            $('#DocumentNumber').on('keyup', function (e) {
                e.stopPropagation();
            });

            $('#fillDeliveryAddress').change(function (event) {
                event.preventDefault();

                if ($(this).is(":checked")) {
                    $.get('@Url.Action("GetDeliveryAddress", "Customer")', {}, function (result) {
                        if (result) {
                            $('#CustomerAddressData_ZipCode').val(result.ZipCode);
                            $('#CustomerAddressData_StateCode').val(result.StateCode);
                            $('#CustomerAddressData_City').val(result.City);
                            $('#CustomerAddressData_Address').val(result.Address);
                            $('#CustomerAddressData_Neighborhood').val(result.Neighborhood);
                            $('#CustomerAddressData_Number').val(result.Number);
                            $('#CustomerAddressData_Complement').val(result.Complement);
                            $('#CustomerAddressData_Reference').val(result.Reference);
                            $('#CustomerAddressData_IsSpecialAddress').val(result.IsSpecialAddress);
                        }
                    });
                }
                else {
                    $('#CustomerAddressData_ZipCode').val('');
                    $('#CustomerAddressData_StateCode').val('');
                    $('#CustomerAddressData_City').val('');
                    $('#CustomerAddressData_Address').val('');
                    $('#CustomerAddressData_Neighborhood').val('');
                    $('#CustomerAddressData_Number').val('');
                    $('#CustomerAddressData_Complement').val('');
                    $('#CustomerAddressData_Reference').val('');
                    $('#CustomerAddressData_IsSpecialAddress').val('');
                }

            });

            $('#registrationPanel1, #registrationPanel2, #registrationPanel3').on('click', function (event) {
                panel = $(this);

                if (panel.attr("data-registration-step") == '3') {
                    if ($('#CustomerAddressData_Complement').val().length > 20) {
                        event.preventDefault();
                        return false;
                    }
                }

                var $div = $(this).closest('dl').find('.content:not(:hidden)');
                var isValid = true;

                $.each($div.find('input, select, textarea'), function (key, value) {
                    if (isValid) {
                        isValid = $(value).valid();
                    } else {
                        $(value).valid();
                    }
                });

                if (!isValid) {
                    event.preventDefault();
                    return false;
                }
            });

            $('#EmailConfirmation').rules('add', { equalTo: '#CustomerData_Email', messages: { equalTo: 'O valor deve ser igual ao do campo E-mail' } });
            $('#CustomerData_Password').rules('add', { required: true, messages: { required: 'O campo Senha é obrigatório.' } });
            $('#PasswordConfirmation').rules('add', { equalTo: '#CustomerData_Password', messages: { equalTo: 'O valor deve ser igual ao do campo Senha' } });

            var SPMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
            },
            spOptions = {
                clearIfNotMatch: true,
                onKeyPress: function (val, e, field, options) {
                    field.mask(SPMaskBehavior.apply({}, arguments), options);
                }
            };

            $('.phone').mask(SPMaskBehavior, spOptions);

            $('#submitRegister').click(function (event) {
                event.preventDefault();
                $('#RegisterForm').submit();
            });

            $('#RegisterForm').submit(function (event) {
                if (!$('#checkbox3').is(':checked')) {
                    event.preventDefault();
                }
            });

            $('.FindAddress').on("click", function (event) {
                event.preventDefault();
                getAddressByZipCodeRegister();
            });

            $('#CustomerAddressData_ZipCode').blur(function (event) {
                event.preventDefault();
                getAddressByZipCodeRegister();
            });

            $('#CustomerAddressData_ZipCode').keypress(function (e) {
                var key = e.which;

                if (key == 13) {
                    event.preventDefault();
                    getAddressByZipCodeRegister();
                }
            });

            $(document).keypress(function (e) {
                if (e.which == 13) {
                    panel = $('dl.accordion a.active');

                    switch (panel.attr("data-registration-step")) {
                        case '1':
                            if (validateRegistrationStep("#registrationPanel1")) {
                                panel.removeClass("active");
                                $("#registrationPanel2").addClass("active");
                            }

                            break;
                        case '2':
                            if (validateRegistrationStep('#registrationPanel2')) {
                                if ($('#CustomerAddressData_Complement').val().length > 20) {
                                    e.preventDefault();
                                    return;
                                }

                                panel.removeClass("active");
                                $("#registrationPanel3").addClass("active");
                                $('#registrationPanel3').click();
                            }

                            break;
                        case '3':
                            if (validateRegistrationStep('#registrationPanel3')) {
                                $('#RegisterForm').submit();
                            }

                            e.preventDefault();
                            return false;
                            break;
                    }
                }
            })


        });

        function getAddressByZipCodeRegister() {
            if (!$('#CustomerAddressData_ZipCode').val().trim()) {
                return;
            }

            $.get($('.FindAddress').attr('href'), { zipCode: $('#CustomerAddressData_ZipCode').val().trim() }, function (result) {
                if (result) {
                    $('#CustomerAddressData_City').val(result.address.City).valid();

                    $('#CustomerAddressData_IsSpecialAddress').val(result.address.IsSpecialAddress);

                    if (result.address.Address) {
                        $('#CustomerAddressData_Address').prop('readonly', true);
                    } else {
                        $('#CustomerAddressData_Address').prop('readonly', false);
                    }

                    $('#CustomerAddressData_Address').val(result.address.Address).valid();

                    if (result.address.Neighborhood) {
                        $('#CustomerAddressData_Neighborhood').prop('readonly', true);
                    } else {
                        $('#CustomerAddressData_Neighborhood').prop('readonly', false);
                    }

                    $('#CustomerAddressData_Neighborhood').val(result.address.Neighborhood).valid();
                    $('#CustomerAddressData_StateCode').val(result.address.StateCode).valid();
                }
            });
        }

        function validateRegistrationStep(step) {
            var $div = $(step).closest('dl').find('.content:not(:hidden)');
            var isValid = true;

            $.each($div.find('input, select'), function (key, value) {
                if (isValid) {
                    isValid = $(value).valid();
                } else {
                    $(value).valid();
                }
            });

            return isValid;
        }

    </script>
}