﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel
@Html.ValidationSummary(true, "", new { @style = "color:red; font-weight:900;", @class = "field-validation-error" })
<br />
<fieldset class="details">
    <h2 class="details-title">Informações sobre Menu</h2>
    @* Div vazia para acertar a ordem do zebrado *@
    <div></div>
    <hr />
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdMenuGroup)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IdMenuGroup)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdRestaurant)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Restaurant.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Name)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Name)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Description)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Description)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Order)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Order)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IdOrderType)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.OrderTypeList.FirstOrDefault(x => x.Key == model.IdOrderType).Value)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IntegrationCode)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IntegrationCode)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IsPromotional)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IsPromotional)
        </span>
    </div>
    @if(Model.IsPromotional)
    {
        <div>
            <span class="display-label">@Html.LabelFor(model => model.OrderDisplay)</span>
        <span class="display-field">
                @Html.DisplayFor(model => model.OrderDisplay)
        </span>
    </div>
    }
    <div>
        <span class="display-label">@Html.LabelFor(model => model.MenuGroupAssociated)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuGroupPadraoList.FirstOrDefault(ma => ma.Key == model.MenuGroupAssociated.IdBaseMenuGroup).Value)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.IsDefaultMenu)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.IsDefaultMenu)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Created)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Created)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.ScheduledActivation)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.ScheduledActivation)
        </span>
    </div>
    <div>
        <span class="display-label">@Html.LabelFor(model => model.MenuGroupStartDate)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuGroupStartDate, new { @class = "date", @style = "width:150px" })
        </span>
        <span class="display-field">
            @Html.DisplayFor(model => model.MenuGroupEndDate, new { @class = "date", @style = "width:150px" })
        </span>
    </div>
    @{Html.RenderPartial("_MenuGroupAvailableTimeDetail", Model);}
    <div>
        <span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
        <span class="display-field">
            @Html.DisplayFor(model => model.Disabled)
        </span>
    </div>
    @Html.HiddenFor(model => model.UniqueId, new { value = Model != null ? Model.UniqueId : null})
    @*
        Caso necessário, coloque aqui o código HTML para mostrar as múltiplas entidades filhas.
    *@
</fieldset>