﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel

@{
    ViewBag.Title = "Criação";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/Scripts/View/MenuGroup/MenuGroupScripts-js")
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {

            $("#OrderDisplay").prop("disabled", true);

            $('#IsPromotional').click(function () {
                $("#OrderDisplay").val(null);
                $("#OrderDisplay").prop("disabled", !this.checked);
            });
            @if(ViewBag.PromoConflict !=null)
            {
                @:showMessage('@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.PromoConflict))', "Confito de Menu Promocional", "warning");
            }
            
            $('#MenuGroupStartDate').prop('disabled', true);
            $('#MenuGroupEndDate').prop('disabled', true);

            $(".abertura-class").find("tr").each(function (key, value) {
                $(value).find("td").find("input[type=checkbox]").each(function (key1, value1) {
                    $(value1).prop('disabled', true);
                })
            });

            $('#ScheduledActivation').click(function () {

                $('#MenuGroupStartDate').prop('disabled', !this.checked);
                $('#MenuGroupStartDate').val(null);

                $('#MenuGroupEndDate').prop('disabled', !this.checked);
                $('#MenuGroupEndDate').val(null);

                $(".abertura-class").find("tr").each(function (key, value) {
                    $(value).find("td").find("input:checked").each(function (key1, value1) {
                        $(value1).click();
                    })
                });

                var disabledDayofWeek = !this.checked;
                $(".abertura-class").find("tr").each(function (key, value) {
                    $(value).find("td").find("input[type=checkbox]").each(function (key1, value1) {
                        $(value1).prop('disabled', disabledDayofWeek);
                    })
                });

            });

        });

    function showMessage(message, dialogTitle, typeMessage) {
        $("#WarningIcon").hide();
        $("#ErrorIcon").hide();
        $("#InfoIcon").hide();
        switch (typeMessage) {
            case "error": $("#ErrorIcon").show(); break;
            case "info": $("#InfoIcon").show(); break;
            case "warning": $("#WarningIcon").show(); break;
        }
        $("#TextoMensagem").text(message);
        $("#TextoMensagem").css({ 'font-size': 15 });
        $("#Mensagem").dialog({
            title: dialogTitle,
            width: 500,
            buttons: [
                    {
                        text: "Sim",
                        icons: {
                        },
                        click: function () {
                            $(this).dialog("close");
                            $("#PromoConflictResolved").prop('checked', true);
                            $(".middle-forms").submit();
                        }
                    },
                    {
                        text: "Cancelar",
                        icons: {
                        },
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
            ]
        });

        $("#Mensagem").show();

    }

</script>
}
@*
    Caso necessário, coloque a referência e o código javascript para edição de múltiplas entidades filhas.
*@


@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
}



@using (Html.BeginForm("Create", "MenuGroup", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <h3>Informações de Menu</h3>
        <hr />
        <ol>
             <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdRestaurant)
                </label>
                
				    @Html.DropDownList("IdRestaurant", ViewBag.RestaurantList as IEnumerable<SelectListItem>, "")
                    @Html.ValidationMessageFor(model => model.IdRestaurant)
                
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>

                @Html.TextBoxFor(model => model.Name, new { @style = "width:290px" })
                @Html.ValidationMessageFor(model => model.Name)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>

                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Order)
                </label>
                
                @Html.TextBoxFor(model => model.Order, new { @style = "width:70px" })
                    @Html.ValidationMessageFor(model => model.Order)
                
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdOrderType)
                </label>

                @Html.DropDownListFor(model => model.IdOrderType, Model.OrderTypeList)
                @Html.ValidationMessageFor(model => model.IdOrderType)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IntegrationCode)
                </label>
                
				    @Html.TextBoxFor(model => model.IntegrationCode, new { @style = "width:170px" })
                    @Html.ValidationMessageFor(model => model.IntegrationCode)
                
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <div id="DivPromoConflict" style="display:none">@Html.EditorFor(model=> model.PromoConflictResolved)</div>
                <label class="field-title">
                    @Html.LabelFor(model => model.IsPromotional)
                </label>

                @Html.EditorFor(model => model.IsPromotional)
                @Html.ValidationMessageFor(model => model.IsPromotional)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.OrderDisplay)
                </label>
                
                @Html.TextBoxFor(model => model.OrderDisplay, new { @style = "width:70px" })
                @Html.ValidationMessageFor(model => model.OrderDisplay)
                
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MenuGroupAssociated)
                    <img src="@Url.Content("~/Content/images/message-info.png")" style="width:15px; height:15px" alt="Info" title="Selecione o Menu Loja Padrão correspondente ao Menu que está criando/editando" />
                </label>

                @Html.DropDownListFor(model => model.MenuGroupAssociated.IdBaseMenuGroup, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel().MenuGroupPadraoList, "")
                @Html.ValidationMessageFor(model => model.MenuGroupAssociated.IdBaseMenuGroup)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IsDefaultMenu)
                </label>

                @Html.EditorFor(model => model.IsDefaultMenu)
                @Html.ValidationMessageFor(model => model.IsDefaultMenu)

                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ScheduledActivation)
                </label>

                @Html.EditorFor(model => model.ScheduledActivation)
                @Html.ValidationMessageFor(model => model.ScheduledActivation)

                <span class="clearFix">&nbsp;</span>
            </li> 
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MenuGroupStartDate)
                </label>
                @Html.TextBoxFor(model => model.MenuGroupStartDate, new { @class = "date", @style = "width:150px" })
                a
                @Html.TextBoxFor(model => model.MenuGroupEndDate, new { @class = "date", @style = "width:150px" })
            </li>
            @{
                Html.RenderPartial("_MenuGroupAvailableTime", Model);
            }                        
             <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>
                
				    @Html.EditorFor(model => model.Disabled)
                    @Html.ValidationMessageFor(model => model.Disabled)
                
                <span class="clearFix">&nbsp;</span>
            </li>



			@* Descomente a linha abaixo caso haja algum campo para upload de imagens *@
			@* @{ Html.RenderPartial("ImageCropControl"); } *@

            @*
                Caso necessário, coloque aqui o código HTML para adição de múltiplas entidades filhas.
            *@
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", "MenuGroup", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
        @Html.HiddenFor(model => model.UniqueId, new { value = Model != null ? Model.UniqueId : null})
    </fieldset>
}
