﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
@Scripts.Render("~/Scripts/View/MenuGroup/MenuGroupScripts-js")
    @*Insira todos os códigos javascript aqui*@
}

@{Html.RenderPartial("_Details", Model);}

<p>
@if (User.IsInRole(UserPermission.MenuGroupEdit))
{
    <a class="button" href="@Url.Action("Edit", "MenuGroup", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.Edit</a>
}
    <a class="button" href="@Url.Action("Index", "MenuGroup", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
</p>


