﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel

@{
    ViewBag.Title = "Edição";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/Scripts/View/MenuGroup/MenuGroupScripts-js")
    <script>
        $(document).ready(function () {
            $('#IsPromotional').click(function () {

                $("#OrderDisplay").val(null);
                $("#liOrderDisplay").toggle(this.checked);
                
            });

            @{
				if (!Model.ScheduledActivation)
				{
                    @: startScheduled();                  
                }
            }
            
            $('#ScheduledActivation').click(function () {

                $('#MenuGroupStartDate').prop('disabled', !this.checked);
                $('#MenuGroupStartDate').val(null);

                $('#MenuGroupEndDate').prop('disabled', !this.checked);
                $('#MenuGroupEndDate').val(null);

                $(".abertura-class").find("tr").each(function (key, value) {
                    $(value).find("td").find("input:checked").each(function (key1, value1) {
                        $(value1).click();
                    })
                });

                var disabledDayofWeek = !this.checked;
                $(".abertura-class").find("tr").each(function (key, value) {
                    $(value).find("td").find("input[type=checkbox]").each(function (key1, value1) {
                        $(value1).prop('disabled', disabledDayofWeek);
                    })
                });

            });

            function startScheduled() {
                $(".abertura-class").find("tr").each(function (key, value) {
                    $(value).find("td").find("input[type=checkbox]").each(function (key1, value1) {
                        $(value1).prop('disabled', true);
                    })
                });
                $('#MenuGroupStartDate').prop('disabled', true);
                $('#MenuGroupEndDate').prop('disabled', true);
            }

            function showMessage(message, dialogTitle, typeMessage) {
                $("#WarningIcon").hide();
                $("#ErrorIcon").hide();
                $("#InfoIcon").hide();
                switch (typeMessage) {
                    case "error": $("#ErrorIcon").show(); break;
                    case "info": $("#InfoIcon").show(); break;
                    case "warning": $("#WarningIcon").show(); break;
                }
                $("#TextoMensagem").text(message);
                $("#TextoMensagem").css({ 'font-size': 15 });
                $("#Mensagem").dialog({
                    title: dialogTitle,
                    width: 500,
                    buttons: [
                            {
                                text: "Sim",
                                icons: {
                                },
                                click: function () {
                                    $(this).dialog("close");
                                    $("#PromoConflictResolved").prop('checked', true);
                                    $(".middle-forms").submit();
                                }
                            },
                            {
                                text: "Cancelar",
                                icons: {
                                },
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
                    ]
                });

                $("#Mensagem").show();

            }


             @if (Model.IsPromotional)
            {
                @:$("#liOrderDisplay").toggle(true);
            }

             @if(ViewBag.PromoConflict !=null)
             {
                 @:showMessage('@Html.Raw(HttpUtility.JavaScriptStringEncode(ViewBag.PromoConflict))', "Confito de Menu Promocional", "warning");
             }

        });

</script>
}
@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("class", "middle-forms");
}
@using (Html.BeginForm("Edit", "MenuGroup", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary)) {
    @Html.ValidationSummary(true)
    <fieldset>
        <h3>Informações de Menu</h3>
        <hr />
        <ol>
            @Html.HiddenFor(model => model.Created)
            @Html.HiddenFor(model => model.IdMenuGroup)
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdRestaurant)
                </label>
@if (User.IsInRole(UserPermission.MenuGroupEdit))
{
                @Html.DropDownListFor(model => model.IdRestaurant, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel().RestaurantList, "")
                @Html.ValidationMessageFor(model => model.IdRestaurant)
}
else
{
				@Html.DropDownListFor(model => model.IdRestaurantReadOnly, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel().RestaurantList, new { @disabled = "disabled" })
				@Html.HiddenFor(model => model.IdRestaurant)
}
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Name)
                </label>
@if (User.IsInRole(UserPermission.MenuGroupEdit))
{
                @Html.TextBoxFor(model => model.Name, new { @style = "width:290px" })
                @Html.ValidationMessageFor(model => model.Name)
}
else
{
				@Html.TextBoxFor(model => model.NameReadOnly, new { @style = "width:290px", @disabled = "disabled" })
				@Html.HiddenFor(model => model.Name)
}
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>
@if (User.IsInRole(UserPermission.MenuGroupEdit))
{
                @Html.TextAreaFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
}
else
{
				@Html.TextAreaFor(model => model.DescriptionReadOnly, new { @disabled = "disabled" })
				@Html.HiddenFor(model => model.Description)
}
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Order)
                </label>
@if (User.IsInRole(UserPermission.MenuGroupEdit))
{
                @Html.TextBoxFor(model => model.Order, new { @style = "width:70px" })
                @Html.ValidationMessageFor(model => model.Order)
}
else
{
				@Html.TextBoxFor(model => model.OrderReadOnly, new { @style = "width:70px", @disabled = "disabled" })
				@Html.HiddenFor(model => model.Order)
}
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdOrderType)
                </label>
                @if (User.IsInRole(UserPermission.MenuGroupEdit))
                {
                    @Html.DropDownListFor(model => model.IdOrderType, Model.OrderTypeList)
                    @Html.ValidationMessageFor(model => model.IdOrderType)
                }
                else
                {
                    @Html.DropDownListFor(model => model.IdOrderType, Model.OrderTypeList, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.IdOrderType)
                }
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IntegrationCode)
                </label>
@if (User.IsInRole(UserPermission.MenuGroupEdit))
{
                @Html.TextBoxFor(model => model.IntegrationCode, new { @style = "width:170px" })
                @Html.ValidationMessageFor(model => model.IntegrationCode)
}
else
{
				@Html.TextBoxFor(model => model.IntegrationCodeReadOnly, new { @style = "width:170px", @disabled = "disabled" })
				@Html.HiddenFor(model => model.IntegrationCode)
}
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <div id="DivPromoConflict" style="display:none">@Html.EditorFor(model => model.PromoConflictResolved)</div>
                <label class="field-title">
                    @Html.LabelFor(model => model.IsPromotional)
                </label>
@if (User.IsInRole(UserPermission.MenuGroupEdit))
{
                @Html.EditorFor(model => model.IsPromotional)
                @Html.ValidationMessageFor(model => model.IsPromotional)
}
else
{
				@Html.CheckBoxFor(model => model.IsPromotionalReadOnly, new { @disabled = "disabled" })
				@Html.HiddenFor(model => model.IsPromotional)
}
                <span class="clearFix">&nbsp;</span>
            </li>

            <li id="liOrderDisplay" style="display:none">
                <label class="field-title">
                    @Html.LabelFor(model => model.OrderDisplay)
                </label>
@if (User.IsInRole(UserPermission.MenuGroupEdit))
{
                @Html.TextBoxFor(model => model.OrderDisplay, new { @style = "width:70px" })
                @Html.ValidationMessageFor(model => model.OrderDisplay)
}
else
{
				@Html.TextBoxFor(model => model.OrderDisplayReadOnly, new { @style = "width:70px", @disabled = "disabled" })
				@Html.HiddenFor(model => model.OrderDisplay)
}
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MenuGroupAssociated)
                    <img src="@Url.Content("~/Content/images/message-info.png")" style="width:15px; height:15px" alt="Info" title="Selecione o Menu Loja Padrão correspondente ao Menu que está criando/editando" />
                </label>
                @if (User.IsInRole(UserPermission.MenuGroupEdit))
                {
                    @Html.DropDownListFor(model => model.MenuGroupAssociated.IdBaseMenuGroup, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel().MenuGroupPadraoList, "")
                    @Html.ValidationMessageFor(model => model.MenuGroupAssociated.IdBaseMenuGroup)
                }
                else
                {
                    @Html.DropDownListFor(model => model.IdBaseMenuGroupReadOnly, new Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel().MenuGroupPadraoList, "", new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.MenuGroupAssociated.IdBaseMenuGroup)
                }
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IsDefaultMenu)
                </label>

                @if (User.IsInRole(UserPermission.MenuGroupEdit))
                {
                    @Html.EditorFor(model => model.IsDefaultMenu)
                    @Html.ValidationMessageFor(model => model.IsDefaultMenu)
                }
                else
                {
                    @Html.CheckBoxFor(model => model.IsDefaultMenuReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.IsDefaultMenu)
                }

                <span class="clearFix">&nbsp;</span>
            </li>
            
<li>
                <label class="field-title">
                    @Html.LabelFor(model => model.ScheduledActivation)
                </label>
                @if (User.IsInRole(UserPermission.MenuGroupEdit))
                {
                    @Html.EditorFor(model => model.ScheduledActivation)
                    @Html.ValidationMessageFor(model => model.ScheduledActivation)
                }
                else
                {
                    @Html.CheckBoxFor(model => model.ScheduledActivationReadOnly, new { @disabled = "disabled" })
                    @Html.HiddenFor(model => model.ScheduledActivation)
                }


                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.MenuGroupStartDate)
                </label>
                @Html.TextBoxFor(model => model.MenuGroupStartDate, new { @class = "date", @style = "width:150px" }) a
                @Html.TextBoxFor(model => model.MenuGroupEndDate, new { @class = "date", @style = "width:150px" })
            </li>
            @{
                Html.RenderPartial("_MenuGroupAvailableTime", Model);
            }
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Disabled)
                </label>
                @Html.EditorFor(model => model.Disabled)
                @Html.ValidationMessageFor(model => model.Disabled)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", "MenuGroup", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
        @Html.HiddenFor(model => model.UniqueId, new {value = Model.UniqueId})
    </fieldset>
}
