﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.MenuGroupViewModel>
@using SmartFramework.Areas.EnumsAndConsts

@{
    ViewBag.Title = "Lista de Menu";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @*Insira todos os códigos javascript aqui*@
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>

}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@using (Html.BeginForm("Index", "MenuGroup", FormMethod.Get, new { id = "MenuGroupSearchForm", @class = "middle-forms" }))
{
    MenuGroupFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (MenuGroupFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
       @Html.HiddenFor(filter => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
       @Html.HiddenFor(filter => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })       
        <ol>
            <li>
                <label class="field-title">
                    Código:
                </label>
                @Html.TextBoxFor(filter => Filter.IdMenuGroup)
            </li>
            <li>
                <label class="field-title">
                    Loja:
                </label>
                @Html.DropDownList("Filter.IdRestaurantList[0]", ViewBag.RestaurantList as IEnumerable<SelectListItem>, "")
            </li>
            <li>
                <label class="field-title">
                    Nome:
                </label>@Html.TextBoxFor(filter => Filter.Nome)
            </li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Disabled, false) Ativo
                @Html.RadioButtonFor(filter => Filter.Disabled, true) Inativo
            </li>

            @* Filtros *@
            @*
                Adicione os filtros colocando SystemValues.FilterName no final de cada nome. Isso manterá o filtro durante a navegação:
                <li><label class="field-title">Nome: </label>@Html.TextBox("nome" + SystemValues.FilterName)</li>
            *@
            <li>
                @{
                    Html.RenderPartial("FilterButtonsUserControl", "MenuGroupSearchForm");
                }
            </li>
        </ol>
    </fieldset>
}

@section titleContent
{
    @if (ViewBag.Routes.ContainsKey("id"))
    {
        ViewBag.Routes.Remove("id");
    }

    @if (Roles.IsUserInRole(UserPermission.MenuGroupCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", ViewBag.Routes as RouteValueDictionary)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

<table class="table-long">
    <tr>
        <th>
            <a href="" rel="IdMenuGroup" class="orderByLink">
                Código
            </a>
        </th>
        <th>
            <a href="" rel="IdRestaurant" class="orderByLink">
                Loja
            </a>
        </th>
        <th>
            <a href="" rel="Name" class="orderByLink">
                Nome
            </a>
        </th>
        <th>
            <a href="" rel="Description" class="orderByLink">
                Descrição
            </a>
        </th>
        <th>
            <a href="" rel="Order" class="orderByLink">
                Ordem
            </a>
        </th>
        <th>
            <a href="" rel="Order" class="orderByLink">
                Promocional?
            </a>
        </th>
        <th>
            <a href="" rel="Order" class="orderByLink">
                Menu Padrão?
            </a>
        </th>
        <th>
            <a href="" rel="Order" class="orderByLink">
                Ordem (promocional)
            </a>
        </th>
        <th>
            <a href="" rel="Disabled" class="orderByLink">
                Inativo?
            </a>
        </th>
		@if (User.IsInRole(UserPermission.MenuGroupEdit) ||
			User.IsInRole(UserPermission.MenuGroupActivateInactivate))
		{
        <th></th>
		}
        <th></th>
		@if (User.IsInRole(UserPermission.MenuGroupDelete))
		{
        <th></th>
		}
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {

            <tr>
                @{
            if (ViewBag.Routes.ContainsKey("id"))
            {
                ViewBag.Routes.Remove("id");
            }
            ViewBag.Routes.Add("id", item.IdMenuGroup);
                }
                <td>
                    @Html.DisplayFor(modelItem => item.IdMenuGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurant.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order)
                </td>
                <td>
                    @if (item.IsPromotional)
                    {
                        <text>Sim</text>
                    }
                    else
                    {
                        <text>Não</text>
                    }
                    
                </td>
                <td>
                    @if (item.IsDefaultMenu)
                    {
                        <text>Sim</text>
                    }
                    else
                    {
                        <text>Não</text>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDisplay)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Disabled)
                </td>
			@if (User.IsInRole(UserPermission.MenuGroupEdit) ||
				User.IsInRole(UserPermission.MenuGroupActivateInactivate))
			{
                <td class="table-comand">
                    <a href="@Url.Action("Edit",  ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
                </td>
			}
                <td class="table-comand">
					<a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                </td>
			@if (User.IsInRole(UserPermission.MenuGroupDelete))
			{
                <td class="table-comand">
                    <a href="@Url.Action("Delete", ViewBag.Routes)" title="Excluir" class="table-delete-link"></a>
                </td>
			}
            </tr>
        }
    }
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}

