﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.BannerViewModel

<fieldset class="details">
	<div></div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.IdRestaurant)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.RestaurantName)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.IdMenuGroup)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.MenuName)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.IdPolygonArea)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.PolygonAreaName)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.Description)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.Description)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.ImageBig)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.ImageBigPath)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.ImageSmall)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.ImageSmallPath)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.Created)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.Created)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.Disabled)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.Disabled)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.StartDate)</span>
		<span class="display-field">
			@Html.DisplayFor(model => model.StartDate) até @Html.DisplayFor(model => model.EndDate)
		</span>
	</div>
	<div>
		<span class="display-label">@Html.LabelFor(model => model.BannerAvailability)</span>
		<div class="week-day-slider">
			<table style="margin-top: 10px">
				@{
					var dias = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
					var sliderCountIndex = 0;
				}
				@for (int index = 0; index < 7; index++)
				{

					<tbody id="abertura" data-weekday="@(index)">
						@if (Model.BannerAvailability == null)
						{
							<tr>
								<td width="140">
									<input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="BannerAvailability[@sliderCountIndex].WeekDay" value="@index" />
									<span class="dayLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
								</td>
								<td width="350" style="padding-bottom: 10px">
									@{
							string idStart = "BannerAvailability_StartTime_" + @sliderCountIndex;
							string idEnd = "BannerAvailability_EndTime_" + @sliderCountIndex;
									}
									<div class="inline-timeentry inline-timeentry-start">
										<input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text" disabled="disabled">
										@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
									</div>
									<div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                        <input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text" disabled="disabled">
										@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
									</div>
									<span class="clearFix">&nbsp;</span>
								</td>
							</tr>
							sliderCountIndex++;
						}
						else
						{
							var listaTime = Model.BannerAvailability.Where(m => m.DayOfWeek == index);

							if (listaTime.Count() == 0)
							{
								<tr>
									<td width="140">
										<input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="BannerAvailability[@sliderCountIndex].WeekDay" value="@index" />
										<span class="dayLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
									</td>
									<td width="350" style="padding-bottom: 10px">
										@{
								string idStart = "BannerAvailability_StartTime_" + @sliderCountIndex;
								string idEnd = "BannerAvailability_EndTime_" + @sliderCountIndex;
										}
										<div class="inline-timeentry inline-timeentry-start">
                                            <input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text" disabled="disabled">
											@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
										</div>
										<div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                            <input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text" disabled="disabled">
											@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
										</div>
										<span class="clearFix">&nbsp;</span>
									</td>
								</tr>
								sliderCountIndex++;
							}
							else
							{
								for (int j = 0; j < listaTime.Count(); j++)
								{
									<tr>
										<td width="140">
											@if (j == 0)
											{
												<input disabled="disabled" style="margin-top: 3px" type="checkbox" class="week-day" name="BannerAvailability[@sliderCountIndex].WeekDay" value="@index" @(listaTime.ElementAt(j).DayOfWeek.Equals((short)index) ? "checked" : "") />
												<span class="dayLabel" style="float: left; margin-bottom: 3px">@dias.ElementAt(index).ToTitleString()</span>
											}
											else
											{
												<input disabled="disabled" style="margin-top: 3px; display: none;" type="checkbox" class="week-day" name="BannerAvailability[@sliderCountIndex].WeekDay" value="@index" @(listaTime.ElementAt(j).DayOfWeek.Equals((short)index) ? "checked" : "") />
												<span class="hiddenLabel" style="float: left; margin-bottom: 3px"></span>
											}
										</td>
										<td width="350" style="padding-bottom: 10px">
											@{
									string idStart = "BannerAvailability_StartTime_" + @sliderCountIndex;
									string idEnd = "BannerAvailability_EndTime_" + @sliderCountIndex;
											string startTime = listaTime.ElementAt(j).StartTime.ToString("hh':'mm");
											string endTime = listaTime.ElementAt(j).EndTime.ToString("hh':'mm");
											}
											<div class="inline-timeentry inline-timeentry-start">
                                                <input class="timeentry-start timeentry-field" id="@idStart" value="@startTime" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text" disabled="disabled">
												@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].StartTime", startTime, new { @class = "minValue" })
											</div>
											<div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
                                                <input class="timeentry-end timeentry-field" id="@idEnd" value="@endTime" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text" disabled="disabled">
												@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].EndTime", endTime, new { @class = "maxValue" })
											</div>
											<span class="clearFix">&nbsp;</span>
										</td>
									</tr>
											sliderCountIndex++;
								}
							}
						}
					</tbody>
				}
			</table>
		</div>
	</div>
</fieldset>