﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.BannerViewModel

@{
    ViewBag.Title = "Criação";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts{
	<script type="text/javascript" src="~/Scripts/View/Banner/Banner.js"></script>
	<script>
		$(".timeentry-start").val("00:00");
		$(".timeentry-end").val("23:59");
	</script>
}

@{
    Dictionary<string, object> htmlDicitionary = new Dictionary<string, object>();
    htmlDicitionary.Add("id", "BannerForm");
    htmlDicitionary.Add("class", "middle-forms");
    htmlDicitionary.Add("enctype", "multipart/form-data");
}

@using (Html.BeginForm("Create", "Banner", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlDicitionary))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.IdRestaurant)
				</label>
				@Html.DropDownListFor(model => model.IdRestaurant, (List<SelectListItem>)ViewBag.Restaurants, "")
				@Html.ValidationMessageFor(model => model.IdRestaurant)
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.IdMenuGroup)
				</label>
				@Html.DropDownListFor(model => model.IdMenuGroup, new List<SelectListItem>())
				@Html.ValidationMessageFor(model => model.IdMenuGroup)
				<img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.IdPolygonArea)
				</label>
				@Html.DropDownListFor(model => model.IdPolygonArea, new List<SelectListItem>())
				@Html.ValidationMessageFor(model => model.IdPolygonArea)
				<img class="loading hidden" src="@Url.Content("~/Content/images/ajax-loader.gif")" />
				<span class="clearFix">&nbsp;</span>
			</li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>
				@Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)<br />
                <span class="clearFix">&nbsp;</span>
            </li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.ImageBig)
				</label>
				@Html.TextBoxFor(model => model.ImageBig, new { type = "file", @class="image-select" })
				@Html.ValidationMessageFor(model => model.ImageBig, "", new { @class = "image-big-validation" })<br />
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.ImageSmall)
				</label>
				@Html.TextBoxFor(model => model.ImageSmall, new { type = "file", @class = "image-select" })
				@Html.ValidationMessageFor(model => model.ImageSmall, "", new { @class = "image-small-validation" })<br />
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.Disabled)
				</label>
				@Html.EditorFor(model => model.Disabled)
				@Html.ValidationMessageFor(model => model.Disabled)
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.StartDate)
				</label>
				@Html.TextBoxFor(model => model.StartDate, new { @class = "date", @style = "width:150px" })
				até
				@Html.TextBoxFor(model => model.EndDate, new { @class = "date", @style = "width:150px" })
                <span class="field-validation-valid periodValidate" data-valmsg-for="EndDate" data-valmsg-replace="true" style="display:none; margin-left:160px; margin-top:5px;"></span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.BannerAvailability)
				</label>
				<div class="week-day-slider">
					<table id="banner-weekdays">
						@{
	                        var dias = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
	                        var sliderCountIndex = 0;
						}
						@for (int index = 0; index < 7; index++)
						{
							<tbody id="abertura" data-weekday="@(index)" class="abertura-class">
								<tr>
									<td width="140">
										<span>
											<input type="checkbox" class="week-day" name="BannerAvailability[@sliderCountIndex].DayOfWeek" value="@index" />
											<label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
										</span>
									</td>
									<td width="350" style="padding-bottom: 5px">
										@{
							                string idStart = "BannerAvailability_StartTime_" + @sliderCountIndex;
							                string idEnd = "BannerAvailability_EndTime_" + @sliderCountIndex;
										}
										<div class="inline-timeentry inline-timeentry-start">
											<input class="timeentry-start timeentry-field" id="@idStart" data-val="true" data-val-required="O campo Hora de Início é obrigatório." style="width: 100px" type="text">
											@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
										</div>
										<div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
											<input class="timeentry-end timeentry-field" id="@idEnd" data-val="true" data-val-required="O campo Hora de Término é obrigatório." style="width: 100px" type="text">
											@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
										</div>
										<span class="clearFix">&nbsp;</span>
										<a class="add-link add-abertura" href="javascript:void(0);" id="sliderAction"></a>
									</td>
								</tr>
							</tbody>
							sliderCountIndex++;
						}
					</table>

					<input type="hidden" id="sliderCountIndex" value="@sliderCountIndex" />
					@Html.ValidationMessage("Abertura", null, new { @class = "aberturaValidate", @style = "display:none; margin-left:160px; margin-top:5px;" })
					@Html.ValidationMessageFor(model => model.BannerAvailability)
					<span class="clearFix">&nbsp;</span>
				</div>
			</li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}
