﻿@model Yum.Delivery.BackOffice.Areas.BackOffice.Models.BannerViewModel

@{
    ViewBag.Title = "Edição";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/View/Banner/banner.js")"></script>
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "BannerForm");
    htmlAttributes.Add("class", "middle-forms");
    htmlAttributes.Add("enctype", "multipart/form-data");

}

@using (Html.BeginForm("Edit", "Banner", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{ 
    @Html.ValidationSummary(true)
    <fieldset>
        <ol>
            <li>
                @Html.HiddenFor(model => model.IdBanner)
                <span class="clearFix">&nbsp;</span>
            </li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.IdRestaurant)
                </label>
                @Html.DisplayFor(model => model.RestaurantName)
				@Html.HiddenFor(model => model.IdRestaurant)
                <span class="clearFix">&nbsp;</span>
            </li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.IdMenuGroup)
				</label>
				@Html.DropDownListFor(model => model.IdMenuGroup, (List<SelectListItem>)ViewBag.Menus, "")
				@Html.ValidationMessageFor(model => model.IdMenuGroup)
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.IdPolygonArea)
				</label>
				@Html.DropDownListFor(model => model.IdPolygonArea, (List<SelectListItem>)ViewBag.PolygonAreas, "")
				@Html.ValidationMessageFor(model => model.IdPolygonArea)
				<span class="clearFix">&nbsp;</span>
			</li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.Description)
                </label>
                @Html.TextBoxFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
                <span class="clearFix">&nbsp;</span>
            </li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.ImageBig)
				</label>
				@Html.TextBoxFor(model => model.ImageBig, new { type = "file" })
				@Html.ValidationMessageFor(model => model.ImageBig)<br />
                @{var atualBig = Model != null && Model.ImageBigPath != null ? Model.ImageBigPath : "S/Imagem";}
                <label style="margin-left:160px">ATUAL: @atualBig</label>
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.ImageSmall)
				</label>
				@Html.TextBoxFor(model => model.ImageSmall, new { type = "file" })
				@Html.ValidationMessageFor(model => model.ImageSmall)<br />
                @{var atualSmall = Model != null && Model.ImageSmallPath != null ? Model.ImageSmallPath : "S/Imagem";}
                <label style="margin-left:160px">ATUAL: @atualSmall</label>
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.Disabled)
				</label>
				@Html.EditorFor(model => model.Disabled)
				@Html.ValidationMessageFor(model => model.Disabled)
				<span class="clearFix">&nbsp;</span>
			</li>
			<li>
				<label class="field-title">
					@Html.LabelFor(model => model.StartDate)
				</label>
				@Html.TextBoxFor(model => model.StartDate, new { @class = "date", @style = "width:150px" })
				até
				@Html.TextBoxFor(model => model.EndDate, new { @class = "date", @style = "width:150px" })
                <span class="field-validation-valid periodValidate" data-valmsg-for="EndDate" data-valmsg-replace="true" style="display:none; margin-left:160px; margin-top:5px;"></span>
			</li>
            <li>
                <label class="field-title">
                    @Html.LabelFor(model => model.BannerAvailability)
                </label>
                <div class="week-day-slider">
					<table id="BannerAvailabilityTable">
						@{
	                        var dias = System.Globalization.DateTimeFormatInfo.CurrentInfo.DayNames;
	                        var sliderCountIndex = 0;
						}
						@for (int index = 0; index < 7; index++)
						{
							<tbody id="abertura" data-weekday="@(index)" class="abertura-class">

								@{
							        var listaTime = Model.BannerAvailability.Where(m => m.DayOfWeek == index);
								}

								@if (listaTime.Count() == 0)
								{
									<tr>
										<td width="140">
											<span>
												<input type="checkbox" class="week-day" name="BannerAvailability[@sliderCountIndex].DayOfWeek" value="@index" />
												<label class="dayLabel">@dias.ElementAt(index).ToTitleString()</label>
											</span>
										</td>

										<td width="350" style="padding-bottom: 5px">
											@{
									            string idStart = "BannerAvailability_StartTime_" + @sliderCountIndex;
									            string idEnd = "BannerAvailability_EndTime_" + @sliderCountIndex;
											}
											<div class="inline-timeentry inline-timeentry-start">
												<input class="timeentry-start timeentry-field" id="@idStart" value="00:00" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
												@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].StartTime", "00:00:00.000000", new { @class = "minValue" })
											</div>
											<div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
												<input class="timeentry-end timeentry-field" id="@idEnd" value="23:59" data-val="true" data-val-required="O campo Hora de Abertura é obrigatório." style="width: 100px" type="text">
												@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].EndTime", "23:59:59.999999", new { @class = "maxValue" })
											</div>
											<span class="clearFix">&nbsp;</span>
											<a class="add-link add-abertura" href="javascript:void(0);" id="sliderAction"></a>
										</td>
									</tr>
									sliderCountIndex++;
								}
								else
								{
									for (int j = 0; j < listaTime.Count(); j++)
									{
										<tr>
											<td width="140">
												<span>
													@if (j == 0)
													{
														<input type="checkbox" style="margin-top: 5px" class="week-day" name="BannerAvailability[@sliderCountIndex].DayOfWeek" value="@index" @(listaTime.ElementAt(j).DayOfWeek.HasValue ? "checked" : "") />
														<label class="dayLabel" style="margin-top: 5px">@dias.ElementAt(index).ToTitleString()</label>
													}
													else
													{
														<input type="checkbox" class="week-day" style="display:none;" name="BannerAvailability[@sliderCountIndex].DayOfWeek" value="@index" @(listaTime.ElementAt(j).DayOfWeek.HasValue ? "checked" : "") />
														<label class="dayLabel" style="display:none;">@dias.ElementAt(index).ToTitleString()</label>
													}
													@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].IdBanner", listaTime.ElementAt(j).IdBanner)
													@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].IdBannerAvailability", listaTime.ElementAt(j).IdBannerAvailability)
												</span>
											</td>

											<td width="350" style="padding-bottom: 5px">
												@{
										            string idStart = "BannerAvailability_StartTime_" + @sliderCountIndex;
										            string idEnd = "BannerAvailability_EndTime_" + @sliderCountIndex;
													string startTime = listaTime.ElementAt(j).StartTime.ToString("hh':'mm");
													string endTime = listaTime.ElementAt(j).EndTime.ToString("hh':'mm");
												}
												<div class="inline-timeentry inline-timeentry-start" style="vertical-align: top">
													<input class="timeentry-start timeentry-field" id="@idStart" value="@startTime" data-val="true" data-val-required="O campo Hora de Início é obrigatório." style="width: 100px" type="text">
													@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].StartTime", startTime, new { @class = "minValue" })
												</div>
												<div class="inline-timeentry inline-timeentry-end" style="margin-left: 15px">
													<input class="timeentry-end timeentry-field" id="@idEnd" value="@endTime" data-val="true" data-val-required="O campo Hora de Término é obrigatório." style="width: 100px" type="text">
													@Html.Hidden("BannerAvailability[" + sliderCountIndex + "].EndTime", endTime, new { @class = "maxValue" })
												</div>
												<span class="clearFix">&nbsp;</span>
												@if (j == 0)
												{
													<a class="add-link add-abertura" href="javascript:void(0);" id="sliderAction"></a>
												}
												else
												{
													<a class="table-delete-link remove-abertura" href="javascript:void(0);" id="sliderAction"></a>
												}
											</td>
										</tr>
										sliderCountIndex++;
									}
								}
							</tbody>
						}
					</table>
                    <input type="hidden" id="sliderCountIndex" value="@sliderCountIndex" />
                    @Html.ValidationMessage("Abertura", null, new { @class = "aberturaValidate", @style = "display:none; margin-left:160px; margin-top:5px;" })
                    @Html.ValidationMessageFor(model => model.BannerAvailability)
                    <span class="clearFix">&nbsp;</span>
                </div>
            </li>
            <li>
                <input type="submit" value="@Resources.ViewLabelNameStrings.Save" />
                <a class="button" href="@Url.Action("Index", "Banner", ViewBag.Routes as RouteValueDictionary)">@Resources.ViewLabelNameStrings.BackToList</a>
                <span class="clearFix">&nbsp;</span>
            </li>
        </ol>
    </fieldset>
}