﻿@model IEnumerable<Yum.Delivery.BackOffice.Areas.BackOffice.Models.BannerListViewModel>

@{
    ViewBag.Title = "Banner Principal";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <script src="@Url.Content("~/Scripts/Dart/OrderBy.js")" type="text/javascript"></script>
}

@if (TempData[TempDataNames.SuccessMessage] != null)
{
    <div class="successMessage">@TempData[TempDataNames.SuccessMessage]</div>
}

@if (TempData[TempDataNames.ErrorMessage] != null)
{
    <div class="errorMessage">@TempData[TempDataNames.ErrorMessage]</div>
}

@section titleContent
{ 
    @if (Roles.IsUserInRole(UserPermission.BannerCreate))
    {
        <a class="add-link" id="add-title" href="@Url.Action("Create", "Banner", ViewBag.Routes)">&nbsp;@Resources.ViewLabelNameStrings.CreateNew</a>
    }
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("id", "BannerFormSearchId");
    htmlAttributes.Add("class", "middle-forms");
}

@using (Html.BeginForm("Index", "Banner", ViewBag.Routes as RouteValueDictionary, FormMethod.Get, htmlAttributes))
{
    BannerFilter Filter = null;
    if (ViewBag.Filter != null)
    {
        Filter = (BannerFilter)ViewBag.Filter;
    }
    <fieldset class="filter">
        <h4>@Resources.ViewLabelNameStrings.Filter</h4>
        @Html.HiddenFor(s => Filter.OrderBy, new { @id = "orderByFilter", @class = "NoClear" })
        @Html.HiddenFor(s => Filter.Direction, new { @id = "directionByFilter", @class = "NoClear" })
        <ol>
			<li>
                <label class="field-title">
                    Loja:
                </label>
                @Html.DropDownList("Filter.IdRestaurant", ViewBag.Restaurants as IEnumerable<SelectListItem>)
			</li>   
			<li>
				<label class="field-title">
					Descrição:
				</label>
				@Html.TextBoxFor(filter => Filter.Description)
			</li>
            <li>
                <label class="field-title">
                    Status:
                </label>
                @Html.RadioButtonFor(filter => Filter.Status, "Ativo") Ativo
                @Html.RadioButtonFor(filter => Filter.Status, "Inativo") Inativo
            </li>
            <li>
                @{
                Html.RenderPartial("FilterButtonsUserControl", "BannerFormSearchId");
                }
            </li>
        </ol>
    </fieldset>
}

<table class="table-long">
    <thead>
        <tr>
            <th>
                <a href="" rel="idMainBanner" class="orderByLink">
                    Código
                </a>
            </th>
			<th>
				<a href="" rel="idMainBanner" class="orderByLink">
					Descrição
				</a>
			</th>
            <th>
                <a href="" rel="title" class="orderByLink">
                    Loja
                </a>
            </th>
            <th>
                <a href="" rel="order" class="orderByLink">
                    Menu
                </a>
            </th>
            <th>
                <a href="" rel="disabled" class="orderByLink">
                    Inativo?
                </a>
            </th>
			<th>
				<a href="" rel="disabled" class="orderByLink">
					Data
				</a>
			</th>
            <th></th>
            <th></th>
			<th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var banner in Model)
            {
                if (ViewBag.Routes.ContainsKey("id"))
                {
                    ViewBag.Routes.Remove("id");
                }
                ViewBag.Routes.Add("id", banner.IdBanner);
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => banner.IdBanner)
                    </td>
					<td>
						@Html.DisplayFor(modelItem => banner.Description)
					</td>
                    <td>
                        @Html.DisplayFor(modelItem => banner.RestaurantName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => banner.MenuName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => banner.Disabled)
                    </td>
					<td>
						@Html.DisplayFor(modelItem => banner.Created)
					</td>
                    <td class="table-comand">
                        <a href="@Url.Action("Details", ViewBag.Routes)" title="Detalhes" class="table-details-link"></a>
                    </td>
                    <td class="table-comand">
@if (Roles.IsUserInRole(UserPermission.BannerEdit))
{
                        <a href="@Url.Action("Edit", ViewBag.Routes)" title="Editar" class="table-edit-link"></a>
}
                    </td>					
					<td class="table-comand">
@if (Roles.IsUserInRole(UserPermission.BannerDelete))
{
						<a href="@Url.Action("Delete", ViewBag.Routes)" title="Excluir" class="table-delete-link"></a>
}
					</td>					
                </tr>
            }
        }
    </tbody>
</table>

@{
    Html.RenderPartial("PagingUserControl", ViewBag.PagingModel as object);
}