﻿@using Yum.Delivery.Model.MenuDomain
@model  ReorderViewModel

@if (ViewBag.Banner != null)
{
    @Html.Partial("_Banner")
}

<div class="row reorderPage">
    <div class="panel">
        <h1 class="text-center">
            Pedidos favoritos
        </h1>

        <div class="row" id="favorite-row">

            @if (!Model.FavoriteOrders.NullOrEmpty())
            {
                var i = 1;
                var end = "";

                foreach (var favoriteOrder in Model.FavoriteOrders)
                {
                    if (Model.FavoriteOrders.Count < 3 && i == Model.FavoriteOrders.Count)
                    {
                        end = "end";
                    }

                    i++;

                    <div class="columns small-12 medium-4 reorderBox @end" id="@favoriteOrder.IdOrder">
                        <h3>
                            Pedido @favoriteOrder.IdOrder
                            <img src="@Url.Content("~/Images/star-selected.png")" width="25" title="Remover dos Favoritos" class="unfavorite_order" data-id-order="@favoriteOrder.IdOrder" />
                        </h3>
                        <div class="row products">

                            @foreach (var favoriteAndLastOrdersMenuDish in favoriteOrder.FavoriteAndLastOrdersMenuDishList)
                            {
                                <div class="columns small-8 large-8 medium-7 product">
                                    @Html.Raw(string.Format("{0}x {1}", favoriteAndLastOrdersMenuDish.MenuDishQuantity, favoriteAndLastOrdersMenuDish.MenuDishName))
                                    @if (!favoriteAndLastOrdersMenuDish.MenuDishOptionalList.NullOrEmpty())
                                    {
                                        foreach (var optional in favoriteAndLastOrdersMenuDish.MenuDishOptionalList)
                                        {
                                            if (!optional.MenuDishOptionalItemList.NullOrEmpty())
                                            {
                                                foreach (var item in optional.MenuDishOptionalItemList)
                                                {
                                                    <br />
                                                    if (item.IdMenuAttributeType == MenuAttributeTypeEnum.PizzaExtrasAdd.GetHashCode())
                                                    {
                                                        @item.Name <span>(incluir)</span>
                                                    }
                                                    else if (item.IdMenuAttributeType == MenuAttributeTypeEnum.PizzaExtrasRemove.GetHashCode())
                                                    {
                                                        @item.Name <span>(retirar)</span>
                                                    }
                                                    else
                                                    {
                                                        @item.Name
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                                <div class="columns small-4 large-4 medium-5 price text-right">
                                    R$ @String.Format("{0:0.00}", favoriteAndLastOrdersMenuDish.MenuDishTotalValue)
                                </div>
                            }

                        </div>
                        <div class="row">
                            <div class="columns small-6 product">
                                <b>TOTAL</b>
                            </div>
                            <div class="columns small-6 price text-right">
                                <b>R$ @String.Format("{0:0.00}", favoriteOrder.Total)</b>
                            </div>
                        </div>
                        <button class="largerButton reorderBtn" value="@favoriteOrder.IdOrder">Refazer pedido</button>
                    </div>
                }
            }
            else
            {
                <h4 style="text-align: center;">Não existem pedidos favoritos cadastrados.</h4>
            }

        </div>
    </div>

    <div class="panel">
        <h1 class="text-center">
            Refaça seu último pedido
        </h1>

        <div class="row">

            @if (!Model.LastOrders.NullOrEmpty())
            {
                var j = 1;
                var end = "";
                foreach (var lastOrder in Model.LastOrders)
                {
                    if (Model.LastOrders.Count < 3 && j == Model.LastOrders.Count)
                    {
                        end = "end";
                    }

                    j++;
                    <div class="columns small-12 medium-4 reorderBox @end">
                        <h3>
                            Pedido @lastOrder.IdOrder
                        </h3>
                        <div class="row products">

                            @foreach (var favoriteAndLastOrdersMenuDish in lastOrder.FavoriteAndLastOrdersMenuDishList)
                            {
                                <div class="columns small-8 large-8 medium-7 product">
                                    @Html.Raw(string.Format("{0}x {1}", favoriteAndLastOrdersMenuDish.MenuDishQuantity, favoriteAndLastOrdersMenuDish.MenuDishName))
                                    @if (!favoriteAndLastOrdersMenuDish.MenuDishOptionalList.NullOrEmpty())
                                    {
                                        foreach (var optional in favoriteAndLastOrdersMenuDish.MenuDishOptionalList)
                                        {
                                            if (!optional.MenuDishOptionalItemList.NullOrEmpty())
                                            {
                                                foreach (var item in optional.MenuDishOptionalItemList)
                                                {
                                                    <br />
                                                    if (item.IdMenuAttributeType == MenuAttributeTypeEnum.PizzaExtrasAdd.GetHashCode())
                                                    {
                                                        @item.Name <span>(incluir)</span>
                                                    }
                                                    else if (item.IdMenuAttributeType == MenuAttributeTypeEnum.PizzaExtrasRemove.GetHashCode())
                                                    {
                                                        @item.Name <span>(retirar)</span>
                                                    }
                                                    else
                                                    {
                                                        @item.Name
                                                    }
                                                }
                                            }
                                        }
                                    }
                                </div>
                                <div class="columns small-4 large-4 medium-5 price text-right">
                                    R$ @String.Format("{0:0.00}", favoriteAndLastOrdersMenuDish.MenuDishTotalValue)
                                </div>
                            }
                        </div>
                        <div class="row">
                            <div class="columns small-6 product">
                                <b>TOTAL</b>
                            </div>
                            <div class="columns small-6 price text-right">
                                <b>R$ @String.Format("{0:0.00}", lastOrder.Total)</b>
                            </div>
                        </div>

                        <button class="largerButton reorderBtn" value="@lastOrder.IdOrder">Refazer pedido</button>
                    </div>
                }
            }
            else
            {
                <h4 style="text-align: center;">Não existem últimos pedidos cadastrados.</h4>
            }

        </div>
    </div>
    <div class="row">
        <div class="columns small-12">
            <a href="@Url.Action("Index", "Home")" class="button radius reorderButton">RECOMEÇAR PEDIDO</a>
        </div>
    </div>

    @* modal *@
    <div id="bannerModal" class="reveal-modal" data-reveal aria-hidden="true" role="dialog">
        <img src="@Url.Content("~/Images/capturar1.png")" width="100%" />

        <a class="close-reveal-modal" aria-label="Close">Fechar<img src="@Url.Content("~/Images/close.png")" width="30" /></a>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            if ('@ViewBag.Banner' != null && '@ViewBag.Banner' != '')
            {
                $('#bannerModal').foundation('reveal', 'open');
            }

            $('.reorderBtn').on({
                'click': function () {

                    var $reorderBtn = $(this);

                    putLoadingGif($reorderBtn);

                    $.post('@Url.Action("Reorder", "Menu")',
                    { idOrder: $(this).val() },
                    function (result) {
                        $reorderBtn.empty();
                        $reorderBtn.text("REFAZER PEDIDO");

                        if (result.success) {
                            window.location.href = '@Url.Action("Index", "Cart")';
                        }
                        else {
                            showMessage(result.message);
                        }
                    });
                }
            });

            $('.unfavorite_order').on({
                'click': function () {
                    var idOrder = $(this).data('id-order');

                    if ($(this).attr('src') === '@Url.Content("~/Images/star-selected.png")') {
                        $.post('@Url.Action("RemoveCustomerFavoriteOrder", "Menu")',
                            { idOrder: idOrder },
                            function (unfavorited) {
                                if (unfavorited) {

                                    $("div#" + idOrder).remove();

                                    if ($("#favorite-row > div").length <= 0) {
                                        $("#favorite-row").append('<h4 style="text-align: center;">Não existem pedidos favoritos cadastrados.</h4>');
                                    }
                                }
                            });
                    }
                }
            });
        })
    </script>
}