﻿

@{
    ViewBag.Title = "Testar Integração Aloha";
    Layout = "~/Areas/BackOffice/Views/Shared/_Layout.cshtml";
}

@{
    Dictionary<string, object> htmlAttributes = new Dictionary<string, object>();
    htmlAttributes.Add("class", "middle-forms");
}

@section Scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnRunTest").on("click", function (e) {
                e.preventDefault();
                downloadFile('RunTest');
            });

            function downloadFile(from) {

                $("#loadingOverlay").show();

                $.when($.ajax({
                    url: $("#applicationPath").val() + '/IntegrationTests/' + from + "?idSession=" + $("#idSession").val(),
                    type: 'POST',
                    async: true,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                })).then(function (result) {

                    hideLoadingOverlay();
                    $(".successMessage").hide();
                    $(".errorMessage").hide();

                    if (result) {

                        if (result.Error) {
                            $(".errorMessage").text(result.Message);
                            $(".errorMessage").show();
                        }
                        else {
                            window.location = $("#applicationPath").val() + '/IntegrationTests/Download?filename=' + result.FileName;
                        }

                    }
                    else {
                        $(".successMessage").hide();
                        $(".errorMessage").text("Ocorreu um erro na exportação de pedidos.");
                        $(".errorMessage").show();
                    }
                });
            }
        });

    </script>

}

<div class="successMessage" style="display:none;"></div>

<div class="errorMessage" style="display:none;"></div>

<div id="divDetails" class="box"></div>

@using (Html.BeginForm("RunTest", "IntegrationTests", ViewBag.Routes as RouteValueDictionary, FormMethod.Post, htmlAttributes))
{

    @Html.ValidationSummary(true)
    <fieldset class="filter">
        <ol>
            <li>
                <label class="field-title">
                    Id Sessão
                </label>
                <input type="text" class="numerico" name="idSession" id="idSession">
                <span class="clearFix">&nbsp;</span>
            </li>

            <li>
                <input id="btnRunTest" type="submit" value="Executar Teste" />
            </li>

        </ol>

    </fieldset>
}